﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models

@model ReportListViewModel
@{
    ViewBag.Title = "Qosk Reports";
}
<style>
    .group-h {
        display: block;
        border-top: 1px solid #eee;
        background: transparent;
    }

    .r-list h4 {
        margin: 5px 0;
        font-size: 16px;
    }

    .r-list .list-group-item {
        padding: 5px 10px;
    }

    .r-list {
        font-size: 12px;
    }
</style>
<div class="container buff-top">
    @{ var i = 0; }
    @foreach (var g in Model.Groups)
    {
        <a class="group-h show" data-toggle="collapse" aria-controls="collapse@(i)" href="#collapse@(i)">
            <h4>
                <span class="k-icon k-i-arrow-chevron-down"></span> @g.Key
            </h4>
        </a>
        <div class="r-list list-group collapse" id="collapse@(i)">
            @foreach (var info in g)
            {
                <a href="@Url.Action("Report", "Home", new { id = info.UniqueName })" class="list-group-item">
                    <h4>@info.Title</h4>
                    @info.Description
                </a>
            }
        </div>
        i++;
    }

    <a class="group-h"></a>
</div>
