﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc

@model ReportInfoViewModel

@{
    ViewBag.Title = Model.Title;
}
<style>
    .radio-group .not-active {
        color: #3276b1;
        background-color: #fff;
    }
    .report-title {
        font-weight: bold;
        color: #2A669F;
        font-size: 20px;
        margin: 15px 0 5px;
    }
    .muted-hint {
        color: #999;
        font-style: italic;
        margin: 10px 20px;
        font-size: 12px;
    }
    .param-form .form-group > label, .param-form .k-checkbox-label {
        text-transform: uppercase;
        color: #666;
        font-weight: bold;
        font-size: 12px;
    }

    .param-form .check-text {
        padding-top: 2px;
        display: inline-block;
    }

    .param-form .form-group > label {
        padding-left: 5px;
        margin-bottom: 2px;
    }

    .param-form .form-control {
        display: block;
        width: 100%;
    }

    .param-form .k-checkbox-label {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-18 col-md-12">

            @if (Model.IsEditScheduleMode())
            {
                <div class="float-right" style="margin-top:15px;">
                    <button type="button" id="SaveScheduleBtn" class="k-button k-primary k-button-icontext">
                        <span class="k-icon k-i-save" aria-hidden="true"></span> Save Schedule
                    </button>

                    <button type="button" class="k-button k-button-icontext" 
                            onclick="window.location.href = '@(Url.Action("Report", "Home", new { id = Model.UniqueName }))#Schedule'">
                        <span class="k-icon k-i-cancel"></span> Discard Changes
                    </button>

                    @if (Model.ReportSchedule.ReportScheduleID > 0)
                    {
                        <button type="button" class="k-button k-button-icontext">
                            <span class="k-icon k-i-trash"></span> Delete
                        </button>
                    }
                </div>
            }

            <h3 class="report-title">@Model.Title</h3>
            <p>@Model.Description</p>
        </div>
    </div>
    @if (Model.IsEditScheduleMode())
    {
        @Html.Partial(string.Format("~/Areas/QoskReporting/Views/Reports/_ScheduleEdit.cshtml"))
    }
    <div class="row @(Model.IsEditScheduleMode() ? "hide" : "")">
        <div class="col-xs-18 col-md-12">
            <div class="input-group">
                <div class="btn-group radio-group">
                    <button id="PDFPill" class="btn btn-primary mode-btn active">PDF</button>
                    <button id="ExcelPill" class="btn btn-primary mode-btn not-active">Excel</button>
                    <button id="SchedulePill" class="btn btn-primary mode-btn not-active">Schedule</button>
                </div>
            </div>
        </div>
    </div>

    <div id="paramsHeader" style="display:none;">
        <a class="group-h show" data-target=".params-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="paramsCollapse" href="#">
            <h5>
                <span class="k-icon k-i-arrow-chevron-down"></span> Parameters
            </h5>
        </a>
    </div>
    <div class="collapse params-collapse in" id="paramsCollapse" style="display:none;">
        @Html.Partial(string.Format("~/Areas/QoskReporting/Views/Reports/{0}/Params.cshtml", Model.UniqueName))
    </div>
</div>

<div class="viewMode" id="PDFMode" style="display:none;">
    @Html.Partial("~/Areas/QoskReporting/Views/Reports/_PDF.cshtml")
</div>
<div class="viewMode" id="ExcelMode" style="display:none;">
    @Html.Partial("~/Areas/QoskReporting/Views/Reports/_Excel.cshtml")
</div>
<div class="viewMode" id="ScheduleMode" style="display:none;">
    @Html.Partial("~/Areas/QoskReporting/Views/Reports/_Schedule.cshtml")
</div>


<script>

    function showParams() {
        $("#paramsCollapse, #paramsHeader").css({'display': ''});
    }

    function hideParams() {
        $("#paramsCollapse, #paramsHeader").hide();
    }

    function datePickerOpen() {
        var calendar = this.dateView.calendar;
        calendar.wrapper.width(this.wrapper.width() - 6);
    }

    function datePickerChange() {

        var input = $(this.element);
        var widget = input.data("kendoDatePicker");
        var val = input.val();

        if (widget && val) {
            var date = kendo.parseDate(val);
            if (date && widget.value() !== date) {
                widget.value(date);
            }
            else {
                widget.value("");
            }
        }
    }

    function timePickerChange(e) {
        var input = $(this.element);
        var widget = input.data("kendoTimePicker");
        var val = input.val();

        if (widget && val) {
            var time = kendo.parseDate(val, "hh:mm tt");
            if (time && widget.value() !== time) {
                time.setMinutes(0);
                widget.value(time);
            }
            else {
                widget.value("02:00 AM");
            }
        }
    }

    function objToString(o) {
        return encodeURIComponent(JSON.stringify(o));
    }

    function showPillMode(mode) {
        $('.viewMode').hide();
        $('#' + mode + 'Mode').show();

        window.location.hash = mode;

        if (mode === 'Schedule') {
            fetchScheduleGridData();
            hideParams();
        }
        else
            showParams();
    }

    $(document).ready(function () {        

        $('.mode-btn').on('click', function () {
            var $ele = $(this);
            $ele.siblings().removeClass('active').addClass('not-active');
            $ele.removeClass('not-active').addClass('active');
            showPillMode($ele.text());
        });

        $('#paramsCollapse').on('hide.bs.collapse', function () {
            $('#reportViewer2').addClass('expand-height');
            $(".k-grid-content").height('calc(100vh - 55px - 32px - 130px)');
            window.dispatchEvent(new Event('resize'));
        }).on('show.bs.collapse', function () {
            $('#reportViewer2').removeClass('expand-height');
            $(".k-grid-content").height('290px');
            window.dispatchEvent(new Event('resize'));
        });

        $("#SaveScheduleBtn").click(function () {
            var grid = $("#grid").data("kendoGrid");
            var columns = grid ? grid.columns : [];

            $("#schedule-params").val(objToString(passScheduleParams()));
            $("#schedule-columns").val(objToString(columns));
            $("#schedule-reportParams").val(objToString(passReportParams()));

            $("#scheduleForm").submit();
        });

        if (window.location.hash) {
            var mode = window.location.hash;
            if (mode == "CSV")
                mode = "Excel";
            $(mode + 'Pill').trigger("click");
        } else {
            $('#PDFPill').trigger("click");
        }
    });
</script>
