﻿.requiredContainerError {
   
   padding-top: 5px;
   vertical-align: middle;
   border-top: 1px solid #0B2F60;
   padding-right: 50px;
   text-align: center;
   font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   color: maroon;
}

.panel-body {
   padding: 1px;
}

#ID_PRODUCTCOMMENT {
   height: 100px;
}

.container-float {
   /*max-width: 1400px;*/
   padding: 5pt;
}

#binDesignation td{
   padding:10px;
}

label {
   font-weight: normal;
}

.resultViewImg {
   cursor: pointer;
}

.segmentControls img {
   height: 20px;
   margin-left: 5px;
   cursor: pointer;
}

.ql-form {
   max-width: 800px;
   min-width: 500px;
}

.notificationExpansionRow .selectable {
   cursor: pointer;
}
.notificationExpansionRow .selected {
   background-color: #FFFF00;
}
.notificationExpansionRow input.selected {
   background-color: #245C95;
}

.notificationExpansionRow.updatePending {
   filter: blur(1px) opacity(75%);
}

#recallBody tr.odd.unacknowledged{
   background-color: #F9E0E0;
}
#recallBody tr.even.unacknowledged{
   background-color: #FFE6E6;
}

.ql-body {
   position: relative;
   height: 100%;
   min-height: 300px;
   overflow: hidden;
   padding-bottom: 2px;
}

.ql-test-border {
   border: 1px solid black;
}

/*.ui-datepicker-calendar {
    display: none;
}*/

.alert-popup-javascript-error {
   width: 100%;
   height: 100%;
   left: 0;
   z-index: 10000;
   top: 0;
   background: rgba(255,255,255,0.7);
   position: fixed;
}

.slick-prev:before, .slick-next:before {
   color: #245c95;
}

.alert-popup {
   width: 500px;
   margin: 18% auto;
   background: none repeat scroll 0 0 #2A669F;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   padding: 10px 15px 15px;
}

   .alert-popup h1 {
      color: #fff;
      font: bold 24px Arial, Helvetica, sans-serif;
      margin: 0;
      text-align: center;
   }

.alert-text {
   background: #fff;
   width: 100%;
   padding: 10px;
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   margin: 6px 0 0;
}

   .alert-text p {
      font: 16px Arial, Helvetica, sans-serif;
      margin: 0px;
      color: #333;
   }

.alert-btn {
   width: 100%;
   text-align: center;
   margin: 20px 0 0;
}

.ql-fullwidth {
   max-width: 1000px;
   max-width: 1140px;
}

table.selected {
   border-color: #b0bed9;
   border-style: solid;
}

div.selected {
   background-color: #b0bed9;
}

td.selected {
   background-color: #b0bed9;
}



.row-fluid {
   white-space: nowrap;
   overflow: auto;
}

.row-flud .radio-inline {
   display: inline-block;
}

.scroll-wrapper {
   position: relative;
   margin: 0 auto;
   overflow: hidden;
   padding: 5px;
   height: 220px;
}

.scroll-list {
   position: absolute;
   left: 0px;
   top: 0px;
   min-width: 3000px;
   margin-left: 12px;
   margin-top: 0px;
}

   .scroll-list .radio-inline {
      display: table-cell;
      position: relative;
      text-align: center;
      text-align: center;
      vertical-align: middle;
   }

.scroller {
   text-align: center;
   cursor: pointer;
   display: block;
   padding: 7px;
   padding-top: 140px;
   white-space: nowrap;
   vertical-align: middle;
}

.scroll-wrapper img {
   width: 195px;
}

.radio-inline {
   text-align: center;
}

   .radio-inline input[type="radio"] {
      float: none;
      margin-left: 0;
      display: none;
   }

.scroller-right {
   float: right;
}

.scroller-left {
   float: left;
}

.ql-detailimage {
   max-width: 250px;
   align-items: center;
   background-color: #fff;
}

   .ql-detailimage.ql-full {
      padding-bottom: 20px;
   }

   .ql-detailimage img {
      max-width: 250px;
      vertical-align: middle;
      margin: auto;
   }

   .ql-detailimage.ql-full img {
      max-height: 202px;
      vertical-align: top;
   }

   .ql-detailimage.ql-min img {
      max-height: 44px;
   }

.carousel-inner .item img {
   height: auto;
   max-width: 100%;
   display: block;
   width: auto;
   max-width: 250px;
   line-height: 1;
   margin-left: auto;
   margin-right: auto;
}

.carousel-control.left, .carousel-control.right {
   background-image: none;
}

.carousel-indicators {
   bottom: -30px;
}

   .carousel-indicators li, .carousel .slick-dots li {
      background: linear-gradient(#BBBBBD, #E6E6E6);
      width: 27px;
      height: 10px;
      margin: 0px;
      text-indent: -999px;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 10px;
   }

   .carousel-indicators .active, .carousel .slick-dots .slick-active {
      background: #3A80BB;
      width: 27px;
      height: 10px;
   }

.carousel .slick-dots button {
   display: none;
}

.carousel .slick-dots, .carousel .slick-arrow {
   top: inherit;
   bottom: -30px;
}

.carousel .slick-next {
   right: 25px;
   z-index: 1;
}

.carousel .slick-prev {
   left: 25px;
   z-index: 1;
}

.carousel .slick-slider {
   margin: auto;
}

.carousel-control {
   font-size: 15px;
   color: #bbbbbd;
   top: 100%;
   opacity: 1;
}

.disabled label img {
   -moz-filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

@media print {
   body * {
      visibility: hidden;
   }

   #section-to-print, #section-to-print * {
      visibility: visible;
   }

   #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
   }
}

tr.collapse.in {
   display: table-row;
}

.ql-tab {
   margin-top: 25px;
   height: 25px;
   width: 150px;
   color: #F0F0F0;
   text-align: center;
   cursor: default;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-image: url('/Areas/Product/Images/Qosk_TabUnSelected_Full.png');
   display: inline-block;
   font: 12px Arial, Helvetica, sans-serif;
}

   .ql-tab.active {
      background-image: url('/Areas/Product/Images/Qosk_TabSelected_Full.png');
   }

   .ql-tab a {
      line-height: 2em;
      display: block;
      padding: 0 5px;
      outline: none;
      color: #000;
      text-decoration: none;
   }

.active .tab a {
   color: #fff;
}

.active .tab a {
   color: #fff;
}

.etabs .active a {
   color: #fff;
}

.active .ql-tab a {
   color: #fff;
}

.tab a.active {
   font-weight: bold;
}


#containerCondition img {
   height: auto;
   max-width: 100%;
   display: block;
   width: auto;
   max-height: 180px;
   line-height: 1;
   margin-left: auto;
   margin-right: auto;
}

.image-result-table img {
   height: auto;
   max-width: 100%;
   display: block;
   width: auto;
   max-height: 180px;
   max-width: 180px;
   line-height: 1;
   margin-left: auto;
   margin-right: auto;
}


.QoskFooterLink {
   padding-right: 19px;
   color: #fff;
}

   .QoskFooterLink a {
      color: #fff;
   }

   .QoskFooterLink label {
      font-weight: normal;
   }

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   background-color: #d3d3d3;
}




table {
   height: 100%;
   width: 100%;
   /* border: 1px solid greenyellow; */
   border-collapse: collapse;
}

tr, td {
   padding: 0px;
   /* border: 1px solid red; */
}

.LMargin {
   cursor: default;
}

.RMargin {
   cursor: default;
}

.QoskBody {
   width: 1024px;
   vertical-align: top;
}



.QoskImprint {
   border: 1px solid #F0F0F0;
   background: #FFFFFF;
}

.QoskFormLabel {
   width: 75px;
   height: 22px;
   color: #F0F0F0;
   background: #C8C8C8;
   text-align: left;
   cursor: default;
   padding-left: 5px;
   font: 12px Tahoma, serif;
}

.QoskFormLabelA {
   border-bottom: 1px solid #F0F0F0;
}

.QoskFormLabelB {
   border-bottom: 1px solid #C8C8C8;
}

.QoskFormEntry {
   color: rgb(50, 50, 50);
   background: rgb(240, 240, 240);
   text-align: left;
   padding-left: 5px;
   font: 12px Tahoma, serif;
}

.QoskFormEntryA {
   border-bottom: 1px solid #C8C8C8;
   border-right: 1px solid #C8C8C8;
}

.QoskFormEntryB {
   border-bottom: 1px solid #F0F0F0;
   border-right: 1px solid #F0F0F0;
}

.QoskFormEntryC {
   border-bottom: 1px solid #F0F0F0;
   border-right: 1px solid #C8C8C8;
}


.QoskTab {
   height: 25px;
   width: 150px;
   color: #F0F0F0;
   text-align: center;
   cursor: default;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

   .QoskTab.selected {
      background-image: url("Images/Qosk_TabSelected_Full.png");
   }

   .QoskTab.unselected {
      background-image: url("Images/Qosk_TabUnSelected_Full.png");
   }



.QoskSegment {
   padding-bottom: 5px;
}

.QoskSegmentHeader {
   width: auto;
   height: 30px;
   color: #323232;
   background: #F0F0F0;
   border-top: 1px solid #245C95;
   border-bottom: 1px solid #245C95;
   text-align: left;
   cursor: default;
   padding-left: 5px;
   font: 14px Tahoma, serif;
}

.QoskSegmentBody {
   width: auto;
   height: auto;
   color: #323232;
   background: #F0F0F0;
   border-bottom: 1px solid #245C95;
   text-align: left;
   cursor: default;
   padding: 5px 5px 5px 25px;
   font: 12px Tahoma, serif;
}

.QoskSegmentLMargin {
   width: 19px;
   color: #FFFFFF;
   background: #245C95;
   text-align: left;
   padding-left: 5px;
   font: 12px Tahoma, serif;
   border-radius: 15px 0px 0px 15px;
}

.QoskSegmentRMargin {
   width: 80px;
   color: #FFFFFF;
   text-align: left;
   padding: 5px 0px 0px 3px;
   vertical-align: top;
   font: 12px Tahoma, serif;
   border-radius: 0px 15px 15px 0px;
   background: #245C95; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, rgb(58, 128, 187), #245C95); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, rgb(58, 128, 187), #245C95); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, rgb(58, 128, 187), #245C95); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, rgb(58, 128, 187), #245C95); /* Standard syntax (must be last) */
}



.QoskFormHeader {
   height: 25px;
   color: rgb(255, 254, 250);
   padding-left: 5px;
   text-align: left;
   cursor: default;
   font: 14px Tahoma, serif;
   background: rgb(36, 92, 149); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, rgb(58, 128, 187), rgb(36, 92, 149)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, rgb(58, 128, 187), rgb(36, 92, 149)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, rgb(58, 128, 187), rgb(36, 92, 149)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, rgb(58, 128, 187), rgb(36, 92, 149)); /* Standard syntax (must be last) */
}


.QoskImprintHeader {
   height: 25px;
   color: rgb(255, 254, 250);
   padding-left: 15px;
   text-align: left;
   cursor: default;
   font: 14px Tahoma, serif;
   background: rgb(36, 92, 149); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, rgb(36, 92, 149), rgb(58, 128, 187)); /* Standard syntax (must be last) */
}

.QoskImprintFooter {
   height: 25px;
   color: rgb(255, 254, 250);
   padding-left: 5px;
   text-align: left;
   cursor: default;
   font: 14px Tahoma, serif;
   background: rgb(36, 92, 149); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, rgb(36, 92, 149), rgb(58, 128, 187)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, rgb(36, 92, 149), rgb(58, 128, 187)); /* Standard syntax (must be last) */
}

.image-result-table {
   margin-right: 15px;
   margin-bottom: 15px;
}

#expDatePicker img {
   height: 30px;
   cursor: pointer;
}

.greenBinReason {
   cursor: pointer;
}

.ql-action {
   cursor: pointer;
   text-align: center;
}

.collapsed {
   background: #F0F0F0;
}

   .collapsed div {
      background: #F0F0F0;
   }

.QoskPage .text-box::-ms-clear {
   display: none;
}

.ql-FormHeader {
   height: 30px;
   color: #FFFFFF;
   cursor: default;
   font: 16px eras_medium, "Eras Medium ITC", serif;
   background: #245C95; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
}
