﻿body{margin:0; }
.pad-0 {

padding:0;

}

.v-clip p {
    line-height:30px; text-align:center;
}
.img-listing{margin:0; padding:0 0 0 15px;}
.img-listing li{
    width:48.5%;
    height:48.8%;
    list-style:none;
    margin:0 0 15px 0;
    padding:0 1.5% 0 0;
    float:left;
}
.img-listing li span{
    display:block;
    text-align:center;
    font-size:16px;
    padding:3px 0 0 0;
    font-family:Arial;
    font-weight:600;
}
.img-listing li img{width:100%; height:92%;}
#video1{
   display: block;
   width:100%;
   max-height:94%;
   z-index: 1;
   background-color: black;
}