
html, body{ width:100%; height:100%; margin:0; padding:0; }
body{ font-family:Arial, Helvetica, sans-serif; background:#f2f2f2;}
.clear{clear:both;}
.float-left{float:left;}
.float-right{float:right !important;}
.wrapper-outside{background:url(../images/bg-left-main.png) left top no-repeat, url(../images/bg-right-main.png) right bottom no-repeat; height:646px; width:100%;}
.wrapper-outside-inner{min-height:646px; width:100%;}
.wrapper-main{ margin:0 auto; width:1000px;}
.header-above{ width:100%;  background:#2d81bd; height:5px;}
.footer-bottom{ width:100%; background:#2d81bd; height:10px;}
.header-main{ float:left; width:100%; padding:14px 0; font-size:16px; color:#03200f; text-align:center; text-transform:uppercase;}
.header-white{ float:left; background:#fff; width:100%; }
.inner-logo{ /*float:left; width:292px;*/ padding:6px 0 4px 10px; }
.inner-logo img{width:150px; }
.login-right{ float:right; width:550px;}
.topnav-main{float:left; width:100%; background:url(../images/top-nav-left-bg.png) no-repeat left top, url(../images/top-long-right.png) no-repeat 280px top, url(../images/top-right-small.png) repeat-x right top; background-size:281px 42px;}
.topnav-left{float:left; height:40px; padding:12px 0 0 0px; margin-left:8px;}
.topnav-date{ font-size:14px; color:#73ad3f; text-transform:capitalize;}
.date-grey{ color:#868585; margin-left:0px; text-transform:capitalize;}
.topnav-right{float:right; text-align:right; color:#fff; height:48px;}
.topnav-right ul{ float:right; margin:0; padding:0; width:100%;}
.topnav-right ul li{ float:right; list-style-type:none; box-sizing: content-box; display:inline; margin-right:0px; background:url(../images/seperator-nav.png) repeat-y right top; color:#fff; margin-top:10px; font-size:14px; padding:19px 20px;}
.topnav-right ul li:last-child{ background:none;}
.topnav-right ul li:hover{ background:#318dcb; cursor:pointer;}
.topnav-right ul li a{ color:#fff; text-decoration:none; outline:none;}
.login-section{float:right; width:450px; text-align:right; margin-top:17px;}
.welcome-text{ float:right; font-size:17px; color:#1a5d8c; text-transform:capitalize; margin-right:12px; padding-top:5px;}
.settings-text{ float:right; font-size:14px; color:#87ba4a; text-transform:capitalize; background:url(../images/settings-icon.png) right 5px no-repeat; width:82px; padding:8px 38px 5px 0; margin-right:18px; cursor:pointer;}
.logout-btn-container{ float:right; margin-right:10px;}
#input-logout-btn{ display:block; width:69px; height:36px; cursor:pointer; outline:none; border:0; background:url(../images/logout-btn.png) no-repeat; font-size:0px;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;}
.input-btn {
    display: block;
    width: 95px;
    height: 38px;
    cursor: pointer;
    outline: none;
    border: 0;
    background: url(../images/btn.png) no-repeat;
    font-size: 16px;
    color:white;
}
.main-container-inner{ float:left; width:100%; }
.main-left-colm{ float:left; width:232px; background:#2d81bd;}
.header-left-col{ float:left; background: url(../images/left-col-header-icon.png) 206px 25px no-repeat, #1a5d8c; padding:18px 18px 13px 21px; width:193px; text-transform:uppercase; color:#fff; font-size:17px;}
.list-container{ float:left; width:100%; background:#2d81bd;}
.child{ width:187px!important;}
.list-container ul{ float:left; width:100%; margin:0; padding:0;}
.list-container ul li{ float:left; width:187px; margin-bottom:1px; background: url(../images/left-child-close-arrow.png) 206px 16px no-repeat, #2a7db4; list-style-type:none; color:#fff; padding:12px 24px 12px 21px;}
.list-container ul li:hover{ cursor:pointer; color:#fff;}
.list-container ul li a{ color:#fff; text-decoration:none; outline:none;}

.main-right-colm{ float:left; width:80%;}
.login-box-container{ float:left; width:100%; padding:22px 0 0 0;}
.login-box{ margin:0 auto; width:624px; background:url(../images/login-box.png) no-repeat; height:290px;}
.login-field-box{ float:left; width:550px; margin:30px 0 0 24px; }
.login-heading{ float:left; width:100%; background:url(../images/horizontal-seprator.png) left bottom repeat-x; padding:0 0 12px 0; font-size:18px; color:#fff; text-shadow: 1px 1px 0px #000000;}
.login-fields{ float:left; width:100%; padding:24px 0 0 0;}
.field-seperator{ float:left; width:458px; margin:0 0 18px 90px;}
.input-title{ float:left; width:68px; text-align:right; color:#fff; font-size:14px; margin-right:10px; padding-top:6px;}
.input-white, .field-seperator input[type="text"], .field-seperator input[type="password"]{ background-color:#fff; font-size:14px; color:#014c23; border:1px solid #9c8b3a; padding:6px; width:252px;}
.btn-container{ float:left; padding-left:137px; margin-bottom: 60px;}
.input-login-btn{ display:block; float:left; width:95px; height:38px; cursor:pointer; outline:none; margin-right:10px; border:0; background:url(../images/login-btn.png) no-repeat; font-size:0px;}
.forgot-password{ float:right; text-align:right; color:#fff; font-size:12px; width:320px; margin-right:123px; padding-top:16px; margin-bottom:20px; }
.login-checkbox{ background:#fff; border:0; outline:none;}
.gapping-inline{margin-left:45px; text-decoration:underline; cursor:pointer;}
.copyright-content{width:100%; text-align:center; color:#9cb6c9; font-size:12px; padding:12px 0;}
.footer-left{margin-left:0;}
/* model-popup */

.model-popup{width:100%; left:0; background:rgba(0,0,0,0.5); min-height:100%; height:100%; position:fixed; top:0%; display:none; z-index:9999;}
.custom-divested{width:100%; left:0; background:rgba(0,0,0,0.5); min-height:100%; height:100%; position:fixed; top:0%; display:none; z-index:9999;}
.model-popup1{width:100%; background:rgba(0,0,0,0.5); min-height:100%; height:100%; position:fixed; top:0%; display:none; z-index:10000;} 
.model-box{width:500px; position:relative; margin:0 auto; top:-100%; padding-bottom:20px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; background:#fff;}
.model-box h1{border-bottom:1px solid #2d81bd; font-size:18px; font-weight:bold; padding:20px; color:#3786c1;}
.model-box p{font-size:14px; color:#333; padding:10px 20px;}
.model-box label{padding-left:20px; font-size:14px; color:#84ac16;}
.model-box input[type="email"]{width:75%; display: inline-block; padding:6px 10px; border:1px solid #84ac16;}
/*.close-btn{position:absolute; right:-57px; top:-10px; cursor:pointer;}*/
.close-btn {
    position: absolute;
    right: 22px;
    top: 14px;
    cursor: pointer;
}
.pop-up-btn{width:100%; margin-top:10px; text-align:right;}
.pop-up-btn input{border:1px solid #69a83c; padding:3px 15px; margin:10px 20px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:16px; color:#fff; background: #a7cb44; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2I0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWE4M2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #a7cb44 0%, #69a83c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cb44), color-stop(100%,#69a83c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* IE10+ */
background: linear-gradient(to bottom, #a7cb44 0%,#69a83c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cb44', endColorstr='#69a83c',GradientType=0 ); /* IE6-8 */}
/* model-popup */
/* reset-password */
.reset-pwd{width:100%; margin:25px 0 0;}
.reset-pwd td{padding-bottom:15px;}
.reset-pwd tr td:first-child{text-align:right; padding-right:8px; font-weight:normal; color:#333;}
.reset-pwd tr td label{font-weight:normal;}
.reset-pwd input[type="password"]{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:250px; border:1px solid #266ea0; padding:4px 10px;}
.reset-pwd input[type="button"]{border:1px solid #69a83c; padding:3px 15px; margin:10px 0px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:16px; color:#fff; background: #a7cb44; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2I0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWE4M2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #a7cb44 0%, #69a83c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cb44), color-stop(100%,#69a83c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* IE10+ */
background: linear-gradient(to bottom, #a7cb44 0%,#69a83c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cb44', endColorstr='#69a83c',GradientType=0 ); /* IE6-8 */}
/* reset-password */

.info {
    position: absolute;
    z-index: 1000;
    top: 4px;
    right: -4px;
}
.info-content{
    background:#fff;
    width:150px;
    padding:10px;
    color:#000;
    font-size:14px;
    left:27px;
    top:-2px;
    position:absolute;
    display:none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.info:hover .info-content{display:block;}
.info-arrow{
    position:absolute;
    left:-7px;
    top:2px;
}
/* #Media Queries
================================================== */
@media only screen and (max-device-width: 1280px) {
     .full-screen-clear {
        clear:none!important;
    }
	/*.legend .mrg-l20 { margin-left:0;}*/
}
@media only screen and (max-device-width: 3000px) {
    .jqx-grid-header-1 {
        width: 93.6% !important;
        position: fixed;
        top: 220px;
        z-index: 9999;
    }
}
@media only screen and (max-device-width: 1400px) {
    .jqx-grid-header-1 {
        width: 95% !important;
        position:fixed;
        top:210px;
        z-index:9999;
    }
    .wrapper {
        min-height: 100%;
    }
}
@media only screen and (max-device-width: 1024px) {
    .jqx-grid-header-1 {
        width: 94% !important;
        position: fixed;
        top: 210px;
        z-index: 9998;
    }
	.max-container { width:100%; margin:0 auto; clear:both;}
	.navbar-div, .report-footer { width:100%;}
	/*.data-grid-show { min-height:144px; max-height:267px;}*/
	
}
    /* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-device-width: 959px) {
    .custom-search-box {
        width: 90%!important;
    }
    
    /*.profile_search_btn{
        margin:-37px 10px 0 0!important;
    }*/
    .full-screen-clear {
        clear:none!important;
    }
	
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-device-width: 768px) and (max-device-width: 959px) {
    .jqx-grid-header-1 {
        width: 92.5% !important;
        position:fixed;
        top:210px;
        z-index:1999;
    }
    /*.wrapper {
        min-height: 95%;
    }*/
}

  /* All Mobile Sizes (devices and browser) */

@media all and (max-width: 991px) {
	.report-criteria-wrapper {min-height: 120px;}
	fieldset.scheduler-border {margin: 10px 0 0 !important;}
	.w-lxl { width:366px !important;}
	.w-mxl { width:317px !important;}
	.wrapper {min-height: 100%;}
	/*.data-grid-show {  min-height:144px; max-height:265px;}*/
	.inner-logo{padding:6px 0 4px 20px; }
	.topnav-left{padding:12px 0 0 10px; margin-left:8px;}
	.login-section {margin-right: 10px;}
}
@media all and (max-width: 768px) {
	/*.data-grid-show { min-height:144px; max-height:380px; padding: 0 9px;}*/
	.topnav-main {
		background-attachment: scroll, scroll, scroll;
		background-clip: border-box, border-box, border-box;
		background-color: rgba(0, 0, 0, 0);
		background-image: url("../images/top-nav-left-bg.png"), url("../images/top-long-right.png"), url("../images/top-right-small.png");
		background-origin: padding-box, padding-box, padding-box;
		background-position: left top, 235px top, right top;
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-size: 235px 42px;
		float: left;
		width: 100%;
	}
	
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .report-wrapper { padding-left:5px; padding-right:5px;}
	
	fieldset.scheduler-border {padding: 0 13px !important;}
}
  
@media all and (max-width: 900px) {
    .date-grey {margin-left:5px;}	
}

@media only screen and (max-device-width: 767px) {
    .jqx-grid-header-1 {
        width: 92% !important;
        top: 0 !important;
        z-index: 2999;
    }
  
}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
      .policy_search_btn {
            margin: -10px 0 0 0!important;
            width:50%;
            float:right;
        }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-device-width: 479px) {
    .media-clr{clear:both;}
    .media-margin {
        height: 10px;
    }
    .jqx-grid-header-1{
        width:90% !important;
        top:0!important;
        z-index:2999;
  }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

    .wrapper-outside{ -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
         .policy_search_btn .search-btn input{
            margin: 10px 0 0 0!important;
        }
         .profile_search_btn{
            margin: 0 0 0 -4px!important;
        }
    /*Custom grid popup*/
    .custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right{
         width: 90%!important;
        }
    .custom-search-box {
        top: 52px;
       }
    /*custom popup*/
    .custom-area-btn, .custom-grid-btn-arrow{width:200px!important; margin:20px auto!important; float:left;}
    .custom-area-btn .right-btn, .custom-grid-btn-arrow .right-btn {
        float:left;
        margin:0 20px!important;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg); /* Standard syntax */
}
        .custom-area-btn .left-btn, .custom-grid-btn-arrow .left-btn {
         -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg); /* Standard syntax */
        }
    .custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right {
        height: 75px!important;
    }
    .custom-grid-up-down {
        margin-top: 8px!important;
    }  
    .custom-area-left select, .custom-area-right select, .custom-grid-left select, .custom-grid-right select{
        height:76px!important;
    }
    .custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right{
        overflow-y:hidden!important;
    }
	
	.report-wrapper {
		padding: 0 0 7px;
	}
	.w-lxl {width: 245px !important;}
	.w-mxl {width: 175px !important;}
	.w-mgx { width: 218px !important;}
	.w-lgx { width: 175px !important;}
	.w-lg { width: 130px !important;}
	.legend .mrg-r10 {margin-right: 0;}

  /* custom search */
}

  .gapping-inside-bottom{ min-height:75px;}
  .gapping-inside-bottom label{width:100%;}
.custom-search{/*background:url(../images/custom-search.png) no-repeat 10px center;*/ float:left;}
.custom-search-box{width:800px;}
.custom-search-box h1{font-size:22px; color:#6ca93c; font-weight:bold; padding:25px 0 10px; border-bottom:1px solid #e3e3e3; margin:0 30px;}
.custom-search-area, .custom-grid-area{width:93%; margin:20px 30px; display:inline-block;}
    .custom-search-area, .custom-grid-area.second {
        width: 95%;
        text-align:center;
    }
    .custom-search-area, .custom-grid-area.second .custom-grid-left, .custom-search-area, .custom-grid-area.second .custom-grid-btn-arrow, .custom-search-area, .custom-grid-area.second .custom-grid-right{
        float:none !important;
        display: inline-block;
    }
    .custom-search-area, .custom-grid-area.second .custom-grid-btn-arrow{vertical-align:top;}
.custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right{width:40%; height:284px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; overflow:auto; float:left; background:#ebebeb;}
.custom-search-area li, .custom-grid-area li{padding:5px 10px; font-size:16px; color:#333; cursor:pointer;}
.custom-search-area li.selected, .custom-grid-area li.selected{ background-color:#3183bc; color:#fff;}
.custom-search-area ul, .custom-grid-area ul{margin:10px; list-style:none; padding:0;}
.custom-area-right{float:left;}
.custom-area-btn{width:31px; margin:108px 5.5%; float:left;}
.custom-area-btn .left-btn, .custom-area-btn .right-btn{width:31px; height:31px; background:url(../images/right-arrow.png) no-repeat; border:0;}
.custom-area-btn .right-btn{background:url(../images/left-arrow.png); margin-top:10px;}
.custom-search-btn{width:100%; border-top:1px solid #73ad46; padding-top:15px; text-align:center;}
.custom-search-btn input[type="button"]{border:1px solid #69a83c; font-size:13px; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; padding:4px 8px; margin:0 10px; background: #a7cb44; min-width:80px; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2I0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWE4M2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #a7cb44 0%, #69a83c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cb44), color-stop(100%,#69a83c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a7cb44 0%,#69a83c 100%); /* IE10+ */
background: linear-gradient(to bottom, #a7cb44 0%,#69a83c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cb44', endColorstr='#69a83c',GradientType=0 ); /* IE6-8 */}
.custom-area-right.active{border:1px solid #c3e49b; background:#ecf2e0;}
.product-pagi-left{width:200px; float:left; text-align:left;}
.product-pagi-right{width:500px; float:right; text-align:right;}
.green-btn{background: linear-gradient(to bottom, #a7cb44 0%, #69a83c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #69a83c;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    min-width:80px;
    padding:4px 8px;}
.custom-grid {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
     left:0;
}
.custom-grid-btn-arrow{width:31px; margin:108px 3.5% 0; float:left;}
.custom-grid-btn-arrow .left-btn, .custom-grid-btn-arrow .right-btn{width:31px; height:31px; background:url(../images/right-arrow.png) no-repeat; border:0;}
.custom-grid-btn-arrow .right-btn{background:url(../images/left-arrow.png); margin-top:10px;}
.custom-grid-up-down{width:25px; float:right; margin-top:224px;}
.custom-grid-up-down .up-btn, .custom-grid-up-down .down-btn{width:25px; height:25px; background:url(../images/up-arrow.png) no-repeat; border:0; text-indent: -9000px; text-transform: capitalize;}
.custom-grid-up-down .down-btn{background:url(../images/down-arrow.png); margin-top:10px;}
/* custom search */
.product-pop {
    width:1000px;
}
.product-pop .product-list{max-height:400px; overflow-y:scroll;}
.login-msg {
    padding: 0; margin:0 0 0 80px; color:#ad1010; font-size:14px; position:absolute;
}
.forgot-password label input[type="checkbox"] {
                width: auto;
                cursor: pointer;
                visibility:hidden;
}
.forgot-password label i {
                display: inline-block;
                padding: 0px;
                height: 18px;
                width: 21px;
                background: url(../images/checkbox.png);
    background-position: -3px 0;
    margin:0 0 -4px 0;
}
.forgot-password label input:checked + i {
                background: url(../images/checkbox.png);
                background-repeat: no-repeat;
                background-position: center -19px;
}
.slide-menu{ 
    position:fixed;
    top:0;
    z-index:9999;
    background:#3786c1;
    height:100%;
    width:70%;
    margin-left:-70%;
    /*overflow-x:scroll;*/
}
.left-menu-toggle{
    margin-left:0%;
}
.slide-menu-icon {   
    background: #8fbd49;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    left: 0;
    padding-bottom: 5px;
    width: 30px;
    position:fixed;
    top:10px;
}
.slide-menu-icon-toggle {
    left:70%;
}
.slide-menu-icon span {
    background: #fff;
    display: block;
    height: 3px;
    margin: 4px auto 0;
    width: 16px;
}
.slide-menu ul {
    display: block;
    list-style: outside none none;
}
.slide-menu li {
    border-bottom: 1px solid #2e7ab3;
    list-style: outside none none;
    padding: 1px;
}
/*.slide-menu li:last-child {
    border-bottom: none;
    text-align:right;
}
.slide-menu li:last-child a {
    float:right;
     margin: 20px 10px 0 0;
}*/
.slide-menu li a.lot-icon {
    background-position: 13px -39px;
}
.slide-menu li a {
    background-image: url("../images/sprit-images.png");
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 17px;
    line-height: 40px;
    padding-left: 60px;
    text-decoration: none;
}
.top-select-box{
    text-align: center;
    padding: 10px 0;
}
.top-select-box select{
    width:90%;
}
#jqxWidget{float:none !important;}
#contenttablejqxgrid > div:nth-child(odd){ background:#ddf0c8 !important;}
#contenttablejqxgrid > div:nth-child(even){ background:#f1ffe1 !important;}
.customgrid_btn_set {
    margin-top: 4px;
}
.policy_search_btn .search-btn input{
    margin:18px 0 0 0;
}
.profile_search_btn{
    margin:21px 0 0 0;
}
.full-screen-clear {
        clear:both;
    }
#collapse, #expand{
    width:130px; 
    float:left;
}

/*Collapse is green and expand is red. edit by Raju mysa*/ 
#collapse a, #expand a {
    /*color: #69a83c;*/
      color:green;
    font-size: 1.1em;
    font-weight:bold;
}
#collapse a:hover, #expand a:hover {
    color:red;
} 
.top_heading {
    width:100%; 
}

.Qoskreg-button {
    background-color:blue;
  text-align: center;
    font-size: 1.1em;
    font-weight:bold;
}
.top_heading_fix{
    position:fixed;
    top:132px;
    background:#f9f9f9;
    z-index:9999;
    width:98%; 
}
.top_heading_fix .add-btn{
    margin-right:50px;
}
/*grid Change 07-04-2015*/

.grid-pageing-top> .jqx-grid-pager {

}
.adjust_pager{
    position:fixed!important;
    top: 350px!important;
    margin-left: 36px!important;
    z-index:9998!important;
}
.highlitebordercss{ border: 3px solid yellow !important; }
.backtosearch {
    text-align:left;  margin:10px 0 10px 0;
}
.backtosearch.second{margin:0 0 10px 0;}

.scheduler-form-section {
    margin-top: 20px;
}
#spanAddress {
    padding-top: 3px;
} 
.scheduler-form-section .custom-checkbox {
    margin-right: 15px;

}

.scheduler-form-section input[type=radio] + label.css-label, 
.scheduler-form-section input[type=radio] + label.css-label.clr {
    margin-right: 15px;
}
.scheduler-form-section .well {
    background-color: #fff;
    border: 1px solid #ddd;
}
.schedule-container{
    width:42%;
    margin: 15px auto;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #8fbd49;
    box-shadow: 0 0 10px #ddd;
    padding: 15px;
}
.am-pm-box{
    margin-top: 25px;
}
.am-pm-box label{
    margin-right: 0 !important;
}
.align-center{
    text-align: center;
}
.mar-top-20{
    margin-top: 20px;
}
.HI-tbx input[type="text"]{
    width: 70%;
}
.schedule-heading{
    width: 100%;
    display: block;
    text-align: center;
}
.schedule-heading h4{
     color: #8fbd49;
 }
.schedule-container label.custom-checkbox{
    min-width: 110px;
}