﻿<div class="delete-alert-popup-body-message" style="display:none">
    <div class="alert-popup">
        <h1>Message <span class="delete-alert-close" >X</span></h1>
        <div class="delete-alert-text">
            <p id="delete-alertmessageid" class="text-center"></p>
            <div class="delete-alert-btn">
                <input type="button" value="Ok" id="btndeleteok">
            </div>
        </div>
    </div>
</div>