﻿@model Qualanex.QoskCloud.Web.Areas.WrhsSort.ViewModels.WrhsSortViewModel
@{
   ViewBag.SegmentId = "Final Sort";
   ViewBag.Reconcile = "Reconcile";
   // Key for text box on top of the grid ( here textbox is searching for itemguid)
   ViewBag.Id = "ItemGUID";
   // tote column name
   ViewBag.ContainerIdNameI = "InboundBoxID";
   // outbound column name
   ViewBag.ContainerIdNameO = "OutboundContainerID";
   // type column name
   ViewBag.TypeName = "DestinationType";
   // Key for sorting column name
   ViewBag.KeyName = "ItemGUID";
   // category column name
   ViewBag.CategoryName = "Category";
}
<div id="WrhsSortgDetailsForm">
   @if (Model.UPAControl.Binventory.Rows != null && Model.UPAControl.Binventory.Rows.Any())
   {
      @Html.Partial("_Binventory", Model.UPAControl)
      <script>
         $(document).ready(function ()
         {
            if (window.onAuditInventoryLoad !== undefined)
            {
               window.onAuditInventoryLoad();
            }
         });
      </script>
   }
   else if (Model.UPAControl.Binventory.Rows == null)
   {
      <h1 style="color: red"> Error Retrieving Bin Inventory. Please Contact Your Supervisor.</h1>
   }
   else
   {
      <h1> Final Sort</h1>
   }
</div>

@*<div id="WrhsSortgDetailsForm">
   @if (Model.SortingDetails.Count() > 0)
   {
      <div class="QoskSegment">
         <table>
            <tr>
               <td rowspan="2" class="QnexBorderL level0"></td>
               <td class="QnexHeader level0">Final Sort

                  <span style="background: #3A80BB; height: 100%" class="pull-right">
                  <input type="submit" id="Reconcile_Close" value="Reconcile" style="margin-top:6px;margin-left:10px" class="btnErrorMessage" />
                  </span></td>
               <td class="QnexIcon obscure"></td>
               <td rowspan="2" class="tdMarginR level0">
                  <img class="imgEx" src="~/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png" />
                  <img class="collapse-arrow" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" data-target="#trackingBody" />
               </td>
            </tr>
            <tr id="trackingBody">
               <td colspan="2" class="QnexContent level0">
                  <div class="formMax" style="display: block;">
                     <table class="tableEx">
                        <tr>
                           <td>
                              <table style="height:140px;top:0;margin:0px auto;width:85%" class="tableEx">
                                 @*<tr>
                                    <td style="text-align:right;width:150px;"> ItemGUID:</td>
                                    <td colspan="3">
                                       <input type="text" id="ItemGUID" class="inputEx editable" prevfocus="" nextfocus="" readonly disabled />
                                    </td>
                                    <td></td>
                                 </tr>*@
@* <tr>
                                       <td style="text-align:right;width:150px;">Inductor:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="Inductor"></label></td>
                                       <td style="text-align:right;width:150px;">RA:</td>
                                       <td style="text-align:left;width:300px;"><label id="RAorWPT"></label></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">Station:</td>
                                       <td style="text-align:left;width:300px;"><label id="Station"></label></td>
                                       <td style="text-align:right;width:150px;">Debit Memo:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="DebitMemo"></label></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;"><label id="WrhsContrType" style="font-weight:normal">Bin</label>:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="Totes"></label></td>
                                       <td style="text-align:right;width:150px;">Time Processed:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="TimeProcessed"></label></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">
                                          Orig.Destination:&nbsp;&nbsp;
                                       </td>
                                       <td style="text-align:left;width:300px;"><label id="Destination" ></label></td>
                                       <td style="text-align:right;width:150px;">Tote Item Count:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"> <label id="ItemCount"></label> </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 @Html.Partial("_WrhsSortDetails", Model.SortingDetails)
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>

            </table>

         </div>
      }
      else
      {
         <h1> Final Sort</h1>
      }
   </div>*@
