﻿
<div id="WrhsSrtDetailsGrid">

   <table id="searchGrid_WrhsSrtDetails" class="display" cellspacing="0" style="width:95%;">
      <thead>
         <tr class="collapse in">
            <th>ItemGUID</th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th>Outbound Container ID</th>
            <th hidden></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            <tr class="searchGrid_WrhsSrtDetails-div-click @if (item.Sorted) { @:done
                } "
                style="@if (item.Sorted) {@:text-decoration:line-through
                } "
                name="SearchListItem"
                MgmtEntity-method="post"
                MgmtEntity-id="@item.ItemGUID"
                data-ql-ajax="true"
                MgmtEntity-data="WrhsSrtDetail=@Json.Encode(item)"
                MgmtEntity-action=""
                MgmtEntity-target="#formMax">
               <td exchange="ItemGUID" exchange-value="@item.ItemGUID">
                  @item.ItemGUID
               </td>
               <td hidden exchange="ProductName" exchange-value="@item.ProductName"></td>
               <td hidden exchange="ProductID" exchange-value="@item.ProductID"></td>
               <td hidden exchange="WrhsContrType" exchange-value="@item.WrhsContrType"></td>
               <td hidden exchange="RAorWPT" exchange-value="@item.TrackingID"></td>
               <td hidden exchange="Totes" exchange-value="@item.Totes"></td>
               <td hidden exchange="DebitMemo" exchange-value="@item.DebitMemo"></td>
               <td hidden exchange="ItemCount" exchange-value="@item.ItemCount"></td>
               <td hidden exchange="Destination" exchange-value="@item.Destination"></td>
               <td exchange="OutboundContainerID" exchange-value="@item.OutboundContainerID">@item.OutboundContainerID</td>
               <td hidden exchange="Scanning" exchange-value=""></td>
            </tr>
         }
      </tbody>
   </table>
</div>

