﻿@using Microsoft.AspNet.Identity
@using Constants = Qualanex.QoskCloud.Utility.Constants


<div class="formMax" style="display: block;" id="FinalSortBody">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align:center"><img src="~/images/Qosk_Logo.jpg" width="85" /></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#WrhsRecvDetail-target" data-ql-tab="search">
               <table class="tableEx">
                  <tr>
                     <td rowspan="7" style="height: 40px; width: 200px;background-color:#fff">
                        <table id="countTable">
                           <tr style="height:100px">
                              <td class="ql-detailimage" style="height: 40px">
                                 <label id="Destination" type="text" class="inputEx editable" disabled readonly style="text-align: center; font-size: 30px;height:72px" ></label>
                                 Sorting Category
                              </td>
                           </tr>

                           <tr>
                              <td>
                                 <input id="OutboundContainerID" class="inputEx scannerRequired editable ECS_ALPHANUMERIC" prevfocus="Destination" nextfocus="" type="text" value="" maxlength="12" disabled readonly />
                                 Sorted To
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="tdLabel">NDC/UPC</td>
                     <td style="width: 25%;">
                        <input id="NDC" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />
                     </td>
                     <td class="tdLabel">Mfg</td>
                     <td colspan="3"><input id="MFG" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Product</td>
                     <td colspan="5"><input id="ProductName" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                  </tr>
                  <tr><td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="6">Packaging</td></tr>
                  <tr>
                     <td class="tdLabel">Brand</td>
                     <td><input id="Brand" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                     <td class="tdLabel">Generic</td>
                     <td colspan="3"><input id="Generic" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Dosage</td>
                     <td><input id="Dosage" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                     <td class="tdLabel">Unit / Pkg</td>
                     <td><input id="Unit" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                     <td class="tdLabel">Pkg Size</td>
                     <td><input id="PackageSize" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Ctrl#</td>
                     <td><input id="CtrlNumber" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                     <td class="tdLabel">Rx / OTC</td>
                     <td colspan="3"><input id="Rx" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly /></td>
                  </tr>
               </table>

            </form>
         </td>
      </tr>
   </table>
</div>









@*<div id="productDetail">

       <div id="productDetailFull" class="divEx inputFormFull">

           <table class="tableEx">
               <tr>
                   <td class="ql-detailimage ql-full tdPreview" rowspan="6">
                       <div class="carousel-inner" role="listbox">
                           <div class="item active">
                               <img src="@Constants.Default_Product_Image_Url" alt="No product image available" style="width:90px" />
                           </div>
                       </div>
                   </td>
                   <td style="padding: 0;">
                       <form id="productDetailForm" class="formEx" method="post"  data-ql-ajax="true" data-ql-target="#search">
                           <table class="tableEx">
                               <tr>
                                   <td class="tdLabel">NDC/UPC</td>
                                   <td style="width: 25%;"></td>
                                   <td class="tdLabel">Mfg</td>
                                   <td colspan="3">
                                   </td>
                               </tr>
                               <tr>
                                   <td class="tdLabel">Product</td>
                                   <td colspan="5"></td>
                               </tr>
                               <tr><td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="6">Packaging</td></tr>
                               <tr>
                                   <td class="tdLabel">Brand</td>
                                   <td></td>
                                   <td class="tdLabel">Generic</td>
                                   <td colspan="3"></td>
                               </tr>
                               <tr>
                                   <td class="tdLabel">Dosage</td>
                                   <td></td>
                                   <td class="tdLabel">Unit / Pkg</td>
                                   <td></td>
                                   <td class="tdLabel">Pkg Size</td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td class="tdLabel">Ctrl#</td>
                                   <td></td>
                                   <td class="tdLabel">Rx / OTC</td>
                                   <td colspan="3"></td>
                               </tr>
                           </table>
                       </form>
                   </td>
               </tr>
           </table>
       </div>
       <div id="productDetailMinimal" class="inputFormMin" style="display: none">
           <table class="tableEx">
               <tr>
                   <!-- product image -->
                   <td class="ql-detailimage ql-min" style="width: 249px; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">

                   </td>
                   <!-- the form -->
                   <td class="" style="padding: 0;">
                       <form id="productDetailMinForm" method="post"  data-ql-ajax="true" data-ql-target="#search">

                           <table>
                               <tr>
                                   <td class="tdLabel">NDC/UPC</td>
                                   <td style="width: 160px;"><span id="ndcMin"></span></td>
                                   <td class="tdLabel">Mfg<input type="submit" style="height: 0px; width: 0px; opacity: 0;cursor: default" /></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td class="tdSummary" colspan="5">
                                      <input type="submit" value="Perform Search" hidden />&nbsp;
                                   </td>
                               </tr>
                               <tr><td class="tdFiller" style="height: 10px; border-bottom: 0px;" colspan="6"></td></tr>
                           </table>
                       </form>
                   </td>
               </tr>
           </table>
       </div>
       <table class="tableEx">
           <tr><td colspan="2" class="QoskFormFooter" style=""></td></tr>
           <tr><td colspan="2" class="" style="height: 5px"></td></tr>
       </table>
   </div>*@


@*<div class="formMax" style="display: block;">
      <table class="tableEx formEx">
         <tr>
            <td class="tdFiller tdPreview">&nbsp;</td>
            <td>
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">
                        Item Guid
                     </td>
                     <td colspan="5">
                        <input id="ItemGUID" class="inputEx editable ECS_ALPHALOTNO" prevfocus="" nextfocus="OutboundContainerID" type="text" value="" disabled readonly/>
                     </td>
                  </tr>
                  <tr>
                     <td class="tdLabel" style="width: 150px">NDC/UPC</td>
                     <td>
                        <input id="NDC"  class="inputEx editable " prevfocus="ItemGuid" nextfocus="OutboundContainerID" type="text" value="" disabled readonly />
                     <td class="tdLabel" style="width:153px" >Scan Box</td>
                     <td >
                        <input id="OutboundContainerID" class="inputEx editable" prevfocus="Destination" nextfocus="" type="text" value="" maxlength="12"disabled readonly />
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </div>*@
