﻿@model Qualanex.QoskCloud.Web.Areas.WrhsSort.ViewModels.WrhsSortViewModel
      <div class="QoskSegment">
         <table>
            <tr>
               <td rowspan="2" class="QnexBorderL level0"></td>
               <td class="QnexHeader level0">Bin</td>
               <td class="QnexIcon obscure"></td>
               <td rowspan="2" class="QnexBorderR level0">
               </td>
            </tr>
            <tr id="trackingBody">
               <td colspan="2" class="QnexContent level0" style="padding:5px 25px 5px 25px;">
                  <table>
                     <tr style="height:145px">
                        <td>
                           <table style="height:140px;top:0">
                              <tr>
                                 <td colspan="2"> Current Bin:</td>
                                 <td >
                                    <label id="ID_BINNUMBER"></label>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="3" style="text-align:center">
                                    <label id="ID_BINTYPE"></label>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    Bin ID
                                 </td>
                                 <td colspan="2">
                                    <input id="ID_BIN" type="text" class="inputEx"  />
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="3" style="border-top:1px solid #aaa"></td>
                              </tr>
                              <tr>
                                 <td>
                                    Item Count:
                                 </td>
                                 <td colspan="2"><label id="ID_BINCNT"></label></td>
                              </tr>
                              <tr>
                                 <td>
                                    Resolved Items:
                                 </td>
                                 <td colspan="2">
                                    <label id="ID_BINRSLV"></label>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td>
                        </td>
                     </tr>
                  </table>
               </td>

         </table>

      </div>

