﻿@model Qualanex.QoskCloud.Web.Areas.WrhsSort.ViewModels.WrhsSortViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/WrhsSort/Views/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/qosk/induction")*@
@Scripts.Render("~/bundles/qosk/designation")

@if (ViewBag.pageViewId != null)
{
   <script>
      $("[name=pageViewId]").val("@ViewBag.pageViewId");
   </script>
}
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.AppletKey">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    display: none;
                                    width: 240px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel " style="width:200px">&nbsp;</td>
                                    <td class="formLabel">Product Detail</td>
                                    <td class="" style="width: 45px; padding: 0; text-align: center"><img id="imgFormState" class="pull-right hide-detail" style="padding-right: 20px" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_up.png" /></td>
                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_WrhsSortForm", Model)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs" style="margin-left: 4px;">
                              <li class="ql-tab"><a href="#tabs-sorting"><span id="tab-title-sorting">Final Sort</span></a></li>
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_SUBMIT" class="actionIcon" title="Submit changes made to the selected record" src="/images/Actionbar/ActionBar_Submit.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CLEAR" class="actionIcon" title="Clear" src="~/images/Actionbar/ActionBar_Clear(1).svg" alt="" /></td>
                                       @Html.Partial("_WrhsSortFilter", Model)
                                       @Html.Partial("_ActionMenu", Model.ActionMenu)
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             <div class="ql-body" id="tabs-sorting" style="overflow:auto">
                                                @Html.Partial("_WrhsSortBinProcessing", Model)
                                             </div>
                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin">
         @Html.Partial("_Sidebar", Model.UPAControl)

      </td>
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/js/QoskMgmt.js"></script>
   <script src="~/Areas/WrhsSort/js/WrhsSort.js"></script>
}
