﻿@model Qualanex.QoskCloud.Entity.QoskRequest
@{
    ViewBag.Title = "EditQosk";
}



<div class=" main-container">
    <h2>Edit Qosk</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    <div class="product-box clearfix">

        @*<div class="whiteborder">*@
        <form id="frmqosk">
            <div class="col-md-4">

                <div class="input-ctrl">
                    <label>State</label><div class="field">
                        @Html.TextBoxFor(model => model.State, new { @readonly = "readonly" })
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Qosk ID</label><div class="field">
                        @Html.TextBoxFor(model => model.QoskID, new { @readonly = "readonly",@maxlength="7" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Profile Name</label><div class="field">
                        @Html.TextBoxFor(model => model.Profile, new { @class = "validate[required]" })
                        @Html.HiddenFor(model => model.ProfileCode, new { @id = "hdnProfile" })
                        @*<input type="text" id="Profile" />*@
                        <input type="hidden" id="hdnProfile" />
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Machine Name</label><div class="field">
                        @Html.TextBoxFor(model => model.MachineName, new { @class = "validate[required]" ,@maxlength="40" })
                    </div>
                </div>


            </div>
            <div class="col-md-4">

                <div class="input-ctrl">
                    <label>Customer Support Number</label><div class="field">
                        @Html.TextBoxFor(model => model.CustomerSupportNumber, new { @class = "validate[custom[phone]]", @maxlength = "15", @oninput = "return PhoneNumberMask(event);" })
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Active</label><div class="field">
                        <select id="Active">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-4">


                <div class="input-ctrl" style="display:none">
                    <label>Password</label><div class="field">
                        @Html.HiddenFor(model => model.Password, new { width = "200", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div></div>
            <div class="clearfix"></div>
            @*<div class="col-md-12">*@
            <div class="browser-box text-center">
                <input type="button" id="btnqoskupdate" height="50" class="blue-btn UserAdminSave" width="100" value="Update" />
            </div>
        </form>
        @*</div>*@
    </div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>

</div>

@Html.Partial("AlertPopupView")
<script>
    $(document).ready(function () {

        $('.lot-icon').unbind("click");
        $('#frmqosk').validationEngine();
        $("#Profile").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetProfile", "Qosk")',
                    data: { terms: request.term },
                    dataType: 'json',
                    type: 'GET',
                    //cache: false,
                    contentType: "application/json; charset=utf-8",
                    //dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                });
            },
            focus: function (event, ui) {
                $("#Profile").val(ui.item.label);

            },
            select: function (event, ui) {

                $('#Profile').val(ui.item.label);
                $('#hdnProfile').val(ui.item.value);
                return false;
            }
        })
        $('#btnqoskupdate').click(function () {
            if (!$("#frmqosk").validationEngine('validate')) {
                e.preventDefault();
                return false;
            }
            var qoskobject =
                {
                    QoskID: $('#QoskID').val(),
                    MachineName: $('#MachineName').val(),
                    ProfileCode: $('#hdnProfile').val(),
                    CustomerSupportNumber: $('#CustomerSupportNumber').val(),
                    Active: $('#Active').val(),
                    State: $('#State').val(),

                };

            var getsuccess = SendAjax('/Qosk/UpdateQosk', qoskobject);
            console.log(getsuccess);
            if (getsuccess.Status == 0) {
                $("#alertmessageid").html(Product.UpdateSuccess);
                $(".alert-popup-body-message").show();
                $("#btnok").bind("click", function () {
                    $("#btnok").unbind("click");
                    location.reload();
                });

            }
        });
    });
 </script>

