﻿
@{
    ViewBag.Title = "Index";
}

<script src="~/js/Qosk.js"></script>
<script src="~/Scripts/jqx-all.js"></script>

<div class="main-container">
    <div class="product-list">
        <div class="top_heading">
            <h1>Qosk Details</h1>
            <div class="">
                <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                    <div id="collapse">
                        <a href="#"><span><strong>-</strong></span> Collapse Search</a>
                    </div>
                    <div id="expand">
                        <a href="#"><span><strong>+</strong></span> Expand Search</a>
                    </div>
                </div>
                <div class="media-clr media-margin"></div>
                <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                    <ul>
                        <li>
                            <a href="/Qosk/RegisterQosk/" class="add_btn">Add New Qosk</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="product-box2">
            <form>
                <div class="search-box" id="exp_col">
                    <div>
                        <ul>

                            <li class="col-md-2 col-sm-6 col-xs-12">

                                <label>State</label><div class="field">
                                    @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.Buckets, "Select")
                                </div>

                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Qosk ID<span></span></label>
                                @Html.TextBox("QoskID", "", new { @maxlength="7"})


                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Profile Name</label><div class="field">
                                    <input type="text" id="Profile" />
                                    <input type="hidden" id="hdnProfile" />
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Machine Name</label>
                                @Html.TextBox("Machinename","", new { @maxlength="40"})
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                @*<label>Machine Name</label>
                                @Html.TextBox("Machinename")*@
                                <label>Active</label><div class="field">
                                    <select id="ddlActive">
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-btn">
                        <div class="row">
                            <div class="col-md-12 margin_top">
                                <input type="button" onclick="QoskSearch();" id="policySearch" value="Search">
                                <input type="reset" value="Reset">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="bottom_input">
                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                        <div id="jqxgrid">
                        </div>
                    </div>
                    <div class="grid-details"></div>
                </div>
            </form>
           
        </div>
    </div>
</div>
    <script>
        
      
        
        function SearchQosk() {

            var datafields = [{ name: 'QoskID', type: 'string' },
                     { name: 'MachineName', type: 'string' },
                     { name: 'Active', type: 'string' },
                      { name: 'State', type: 'string' },
                      { name: 'PharmacyName', type: 'string' }
                      
            ];

            var columns = [
            { text: "Qosk ID", datafield: "QoskID" },
            { text: "Machine Name", datafield: "MachineName" },
            { text: "Active", datafield: "Active" },
             { text: "State", datafield: "State" },
            { text: 'Pharmacy Name', datafield: "PharmacyName" }]

            var editrow = -1;
            var editQosk = {
                "text": "Edit",
                "datafield": "Edit",
                "width": "50",
                pinned: true,
                sortable: false,
                filterable: false,
                menu: false,
                "cellsrenderer": function (row, columnfield, value, defaulthtml, columnproperties, data) {
                    editrow = row;
                    var QoskID =  $.trim(data.QoskID);
                    if (value.indexOf('#') != -1) {
                        value = value.substring(0, value.indexOf('#'));
                    }
                    
                    value = $.trim(value);
                    var html = "<a  onclick= \"redirecttoEdit('" + QoskID + "')\"  class=\"btnEditimage\"> </a>";                   
                    return html;
                }
            };
            columns.push(editQosk);
            $(columns).each(function (i, v) {
                if (v.datafield == 'Active') {
                    v.cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, data) {
                        var newVal;
                        if (value == true) {
                            newVal = 'Yes';
                        }
                        else {
                            newVal = 'No';
                        }

                        return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
                    };
                }
            });


            var url = '../Qosk/GetQoskDetails';
          
            var objQoskRequest =
          {
              QoskID: $('#QoskID').val(),
              MachineName: $('#Machinename').val(),
              ProfileCode: $('#hdnProfile').val(),
              State: $('#State option:selected').text(),
              Active: ($('#ddlActive').val()),

          };

            BindJQXGrid("#jqxgrid", url, objQoskRequest, columns, datafields, false, null,

       function () {
           setTimeout(function () {
               var state = sessionStorage.getItem("GridState");

               if (state) {
                   try {
                       state = JSON.parse(state);

                       $("#jqxgrid").jqxGrid('loadstate', state);

                       var index = state.selectedrowindexes;
                       if (!isNaN(index)) {
                           $("#jqxgrid").jqxGrid('ensurerowvisible', index);
                       }

                       sessionStorage.removeItem("GridState");
                   } catch (e) { }
               }
           }, 1000);
       });
        }
       
       
        function redirecttoEdit(id) {
           
            var state = $("#jqxgrid").jqxGrid('savestate');
            sessionStorage.setItem("ProductState", JSON.stringify(state));
            window.location = "../Qosk/EditQosk?QoskID=" + id;
        }
        function QoskSearch()
        {
            SearchQosk();
        }

        $(document).ready(function () {
            $('.lot-icon').unbind("click");

        });
        
    </script>
