﻿@model Qualanex.QoskCloud.Entity.QoskRequest
@{
    ViewBag.Title = "RegisterQosk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Qosk.js"></script>    
<div class=" main-container">
    <h2> Qosk Registration</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
<div class="product-box2">
    <div class="product-box clearfix search-box">
       
        @*<div class="whiteborder">*@
        <form id="frmqosk">
            
                <div class="col-md-4">

                    <div class="input-ctrl">
                        <label>State<span>*</span></label><div class="field">
                            @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.Buckets, "Select", new { @class = "validate[required]" })
                        </div>
                    </div>
                    <div class="input-ctrl">
                        <label>Qosk ID<span>*</span></label><div class="field">
                            @Html.TextBoxFor(model => model.QoskID, new { @readonly = "readonly",@class="validate[required]",@maxlength="20" })
                        </div>
                    </div>
                </div>
           
        <div class="col-md-4">
            <div class="input-ctrl">
                <label>Profile Name<span>*</span></label><div class="field">
                        @*<input type="text" id="Profile"  />*@
                        @Html.TextBoxFor(model => model.Profile, new { @class = "validate[required]", @placeholder = "auto complete" })
                        @Html.Hidden("hdnProfile", new { @class = "validate[required]" })
                        @*<input type="hidden" id="hdnProfile" />*@
                    </div>
                </div>
          
            <div class="input-ctrl">
                <label>Machine Name<span>*</span></label><div class="field">
                    @Html.TextBoxFor(model => model.MachineName, new { @class = "validate[required]", @maxlength = "40" })
                </div>
            </div>

           
        </div>
        <div class="col-md-4">
           
            <div class="input-ctrl">
                <label>Customer Support Number</label><div class="field">
                    @Html.TextBoxFor(model => model.CustomerSupportNumber, new {@class ="validate[custom[phone]]", @oninput = "return PhoneNumberMask(event);", @maxlength = "15" })
                </div>
            </div>
            <div class="input-ctrl">
                <label>Active</label><div class="field">
                    <select id="Active">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>
           
        </div>
        <div class="col-md-4">
        
           
            <div class="input-ctrl" style="display:none">
                <label>Password</label><div class="field">
                    @Html.HiddenFor(model => model.Password, new { width = "200",  @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div></div>
         <div class="clearfix"></div>
            <div class="browser-box text-center search-btn">
                <input type="button" id="btnqoskregister" value="Register" >
                <input type="reset" value="Reset" id="btnqoskreset" >
             </div>
            </div>

</div>
            <div class="backtosearch">
                @Html.ActionLink("« Back to search results", "Index")
            </div>
    </form>
        </div>
@Html.Partial("AlertPopupView")
  
  <script>

            $(document).ready(function () {
                var requestdata = {
                    length: 128,
                    complexity: 3
                };
               
                $('#frmqosk').validationEngine();

              

               // $('#frmqosk').validationEngine('attach', { promptPosition: "topright", scroll: false });
                var result = SendAjaxGet('/Qosk/GeneratePassword', requestdata);
                $('#Password').val(result);


                $('#State').change(function () {
                    //$('#QoskID').val($('#ddlstate').val() + '10010');
                    var data = {
                        stateskey: $('#State').val(),
                        name: $('#State option:selected').text()
                    };
                    var result = SendAjaxGet('/Qosk/CreateKioskID', data);
                    $('#QoskID').val(result);

                });

                $('.lot-icon').unbind("click");

                $('#btnqoskregister').click(function ()
                {
                   
                    if (!$("#frmqosk").validationEngine('validate')) {
                        e.preventDefault();
                        return false;
                    }
                    
                    if (!parseInt( $("#hdnProfile").val())>0) {
                        $('#Profile').validationEngine('showPrompt', 'Please input valid profile name, using auto complete');
                       
                        return false;
                    }
                    var qoskobject =
                        {
                            QoskID: $('#QoskID').val(),
                            MachineName: $('#MachineName').val(),
                            Password: $('#Password').val(),
                            ProfileCode: $('#hdnProfile').val(),
                            CustomerSupportNumber: $('#CustomerSupportNumber').val(),
                            Active: $('#Active').val(),
                            State: $('#State option:selected').text()
                        };

                    var getsuccess = SendAjax('/Qosk/RegisterQosk', qoskobject);
                    console.log(getsuccess);
                    if (getsuccess.Status == 0) {
                        $("#alertmessageid").html(Product.SaveSuccess);

                        $(".alert-popup-body-message").show();
                        $("#btnok").bind("click", function () {
                            $("#btnok").unbind("click");
                            location.reload();
                        });
                        $("#hdnProfile").val(0);
                       
                    }
                });
                $("#Profile").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetProfile")',
                            data: { terms: request.term },
                            dataType: 'json',
                            type: 'GET',
                            //cache: false,
                            contentType: "application/json; charset=utf-8",
                            //dataFilter: function (data) { return data; },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.Text,
                                        value: item.Value
                                    }
                                }));
                            }
                        });
                    },
                    focus: function (event, ui) {
                        $("#Profile").val(ui.item.label);

                    },
                    select: function (event, ui) {

                        $('#Profile').val(ui.item.label);
                        $('#hdnProfile').val(ui.item.value);
                        return false;
                    }
                })
             
            });


        </script>
