﻿@model Qualanex.QoskCloud.Web.Areas.RecallMgmt.ViewModels.RecallPageOption
<style>
   

  .treeview li .collapse {
      width: 15px;
      background-image: url('/Images/plus.png');
      background-repeat: no-repeat;
      background-size:6px 6px;
      background-position: 0px 3px;
      display: inline-block;
      cursor: pointer;
   }

  .treeview li .expand {
      width: 15px;
      background-image: url('/Images/minus.png');
      background-repeat: no-repeat;
      background-size:15px 15px;
      background-position: -50px -17px;
      display: inline-block;
      cursor: pointer;
   }

   .treeview ul {
      font: 14px Arial, Sans-Serif;
      margin: 0px;
      padding-left: 20px;
      list-style: none;
      background-color:#fff;
   }

   .treeview > li  {
      font-weight: bold;

   }

   .treeview li  {
      padding: 4px;
      font-size: 12px;
      display: inline-block;
      text-decoration: none;
      width: auto;
      border-bottom:1px solid #eee;
      
   }

   .treeview li.selected  {
    background-color:#c0e2db;
      
   }
</style>



<table style="width:100%;">
   <tbody>
    
      <tr>
         <td class="QnexNDC" style="overflow:hidden;width:20%;height:225px">
            <span style="width:100%;font-weight:bold">Product NDC/UPC</span>
            <div style="overflow:auto;height:220px;width:95%;border-top:1px solid #ccc;float:left" id="trvNDCProducts" class="treeview">
               @helper ShowTree(IEnumerable<Qualanex.QoskCloud.Web.Areas.RecallMgmt.ViewModels.RecallMgmtModel> subCategory)
               {
            <ul style="z-index:auto;padding-left:0px">
               @foreach (var trvProduct in subCategory)
               {
                  if (trvProduct != null)
                  {
                     if (!string.IsNullOrWhiteSpace(trvProduct.NDCUPCWithDashes))
                     {
                        <li data-field-name="@trvProduct.NDCUPCWithDashes" data-field-id="@trvProduct.ProductID" style="height:20px;width:100%">
                           <span class="collapse collapsible" data-loaded="false" pid="@trvProduct.NDCUPCWithDashes">&nbsp;</span>
                           <span>
                              @trvProduct.NDCUPCWithDashes
                           </span>
                            
                           @if (trvProduct.HasChild)
                           {
                              @ShowTree(subCategory)
                           }
                           <input type="hidden" id="input_@trvProduct.ProductID" value="@Json.Encode(Model.RecallItems.Where(c=>c.ProductID==trvProduct.ProductID).ToList())" />
                        </li>
                     }
                     else if (!string.IsNullOrWhiteSpace(trvProduct.NDCUPC))
                     {
                        <li data-field-name="@trvProduct.NDCUPC" data-field-id="@trvProduct.ProductID" style="height:20px;width:100%">
                           <span class="collapse collapsible" data-loaded="false" pid="@trvProduct.NDCUPC">&nbsp;</span>
                           <span>
                              @trvProduct.NDCUPC
                           </span>
                           @if (trvProduct.HasChild)
                           {
                              @ShowTree(subCategory)
                           }
                           <input type="hidden" id="input_@trvProduct.ProductID" value="@Json.Encode(Model.RecallItems.Where(c=>c.ProductID==trvProduct.ProductID).ToList())" />
                        </li>
                     }
                     else
                     {
                        <li data-field-name="@trvProduct.UPC" data-field-id="@trvProduct.ProductID" style="height:20px;width:100%">
                           <span class="collapse collapsible" data-loaded="false" pid="@trvProduct.UPC">&nbsp;</span>
                           <span>
                              @trvProduct.UPC
                           </span>
                           @if (trvProduct.HasChild)
                           {
                              @ShowTree(subCategory)
                           }
                           <input type="hidden" id="input_@trvProduct.ProductID" value="@Json.Encode(Model.RecallItems.Where(c=>c.ProductID==trvProduct.ProductID).ToList())"/>
                        </li>
                     }
                  }
               }
            </ul>
}

               <ul id="nav" style="padding-left:0px">
                  <li>
                     @ShowTree(Model.ProductNDCList)
                  </li>
               </ul>
            
            </div>
         </td>
         <td style="width:25%;height:225px">
            <div id="productNDCDescription">
               <table>
                  @if (Model.ProductNDCList.Any())
                  {
                     <tbody style="text-align:left">
                    
                              @foreach (var i in Model.ProductNDCList)
                              {
                                 if (i != null)
                                 {
                              <tr data-field-id="@i.ProductID" hidden data-field-name="ProductName" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    Name :
                                 </td>
                                 <td data-field-value="@i.ProductName" style="width:64%;text-align:left">
                                    @i.ProductName

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="Description" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    Generic :
                                 </td>
                                 <td data-field-value="@i.GenericName" style="width:64%;text-align:left">
                                    @i.GenericName

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="Strength" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    Dosage :
                                 </td>
                                 <td data-field-value="@i.Strength" style="width:64%;text-align:left">
                                    @i.Strength

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="UnitOfMeasure" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    Units/Pkg :
                                 </td>
                                 <td data-field-value="@i.UnitOfMeasure" style="width:64%;text-align:left">
                                    @i.UnitOfMeasure

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="Size" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    Pkg Size :
                                 </td>
                                 <td data-field-value="@i.Size" style="width:64%;text-align:left">
                                    @i.Size

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="RXorOTC" style="height:25px">
                                 <td style="width:30%;font-weight:bold">
                                    RX or OTC :
                                 </td>
                                 <td data-field-value="@i.RXorOTC" style="width:64%;text-align:left">
                                    @i.RXorOTC

                                 </td>
                              </tr>
                              <tr data-field-id="@i.ProductID" hidden data-field-name="AllLot" style="height:25px">

                                 <td data-field-value="@i.AllLot" colspan="2">
                                    <input type="checkbox" value="@i.AllLot" />
                                    All Lots
                                 </td>
                                
                              </tr>


                                 }
                              }
               
            </tbody>
                  }
               </table>
               </div>


               </td>
               <td style="width:25%;height:225px;">
                  
                  <div class="QnexLot" id="QoskLotContent">
                     <input type="checkbox" value="" id="checkAllLots" />
                     All Lots                
                     <input type="text" style="float:right" id="searchProductsLots" />
                     <label style="float:right">Search: </label>
                     <div style="overflow:auto;height:220px;width:100%;margin-top:5px;border-top:1px solid #ccc;padding-top:5px" class="treeview" id="recallProductLotNumbers">
                        @*@Html.Partial("_RecallProductLots", )*@
                     </div>
                  </div>
               </td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td>
                    
                  </td>
               </tr>
               </tbody>
               </table>
