﻿@model IEnumerable<Qualanex.QoskCloud.Web.Areas.RecallMgmt.ViewModels.RecallMgmtModel>
<div id="recallProductLotNumbers">
   @if (Model.Any())
   {
      <ul id="trvProductLots">
         @foreach (var trvProduct in Model)
         {
            if (trvProduct != null)
            {
               <li data-field-name="@trvProduct.ProductID" data-field-id="@trvProduct.LotNumberID" style="height:20px">
                  <label> <input type="checkbox" checked="@trvProduct.AllLots" /> @trvProduct.LotNumber</label>
               </li>
            }

         }
      </ul>
   }
</div>
