﻿@model Qualanex.QoskCloud.Web.Areas.RecallMgmt.ViewModels.RecallPageOption
<div id="Recall">
   <div class="QoskSegment">
      <table>
         <tbody>
            <tr>
               <td rowspan="2" class="QnexBorderL level0"></td>
               <td class="QnexHeader level0">
                  <span style="height:100%;position:relative;top:25%">
                     <span id="ContainerTypeSelection">
                        @Model.RecallTitle
                     </span>
                  </span>
                  <span style="background: #3A80BB; height: 100%" class="pull-right"></span>
               </td>
               <td rowspan="2" class="tdMarginR level0">
                  <img class="imgEx" src="@Model.RecallIconSrc" />
                  <img class="collapse-arrow" data-target="#containerType" style="" src="/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Down.png" alt="" />
               </td>
            </tr>
            <tr id="containerType" name="Container Type" data-segment-group="policy" data-segment-complete="false" data-segment-validation class="panel-collapse">
               <td class="QnexContent level0">
                  <div class="panel-body" style="padding-top:0px">
                     <table class="QoskKeyboard QnexContent QoskSegment QoskForm" style="width:100%;padding:0px">
                        <tbody>
                           <tr>
                              <td >
                                 <table class="tableEx">
                                    <tbody>
                                       <tr>
                                          <td style="padding-bottom:5px">
                                             @if (Model.RecallPage != null)
                                             {
                                                @Html.Partial((string)Model.RecallPage, Model)
                                             }
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>

                     </table>
                  </div>

               </td>
            </tr>
         </tbody>

      </table>
   </div>
</div>
