﻿@using System.Web.UI.HtmlControls
@using Grimace.BulkInsert.Extensions
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@using Qualanex.QoskCloud.Web.Areas.RecallMgmt

<div id="search">
    <h2>search result place holder</h2>
</div>