@font-face {
    font-family: 'WebComponentsIcons';
    src: url('WebComponentsIcons-eot') format('embedded-opentype'), url('WebComponentsIcons-woff') format('woff'), url('WebComponentsIcons-ttf') format('truetype');
    /*unicode-range: U+E0ED, U+E0EE, U+E0E6, U+E132, U+E12F, U+E008, U+E00B, U+E09C, U+E096, U+E07E, U+E086, U+E06C, U+E07F, U+E080, U+E081, U+E149, U+E087;*/
}

.t-font-icon,
.trv-report-viewer .k-icon:not(.fa),
.trv-report-viewer .k-tool-icon,
.trv-report-viewer .k-button-group .k-tool-icon,
.trv-report-viewer .k-colorpicker .k-tool-icon {
    display: inline-block;
    text-decoration: none;
    font: 16px/1 WebComponentsIcons;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-transform: none;
    background-image: none;
}

.t-font-icon,
.trv-report-viewer .k-icon,
.trv-report-viewer .k-tool-icon,
.trv-report-viewer .k-button-group .k-tool-icon {
    height: 16px;
}

    .t-font-icon:before,
    .trv-report-viewer .k-icon:before {
        vertical-align: baseline;
    }

.trv-report-viewer .t-i-undo:before {
    content: "\e100";
}

.trv-report-viewer .t-i-redo:before {
    content: "\e101";
}

.trv-report-viewer .t-i-refresh-a:before {
    content: "\e103";
}

.trv-report-viewer .t-i-arrow-double-60-w:before {
    content: "\e00f";
}

.trv-report-viewer .t-i-arrow-double-60-e:before {
    content: "\e00d";
}

.trv-report-viewer .t-i-seek-e:before {
    content: "\e005";
}

.trv-report-viewer .t-i-seek-w:before {
    content: "\e007";
}

.trv-report-viewer .t-i-file:before {
    content: "\e906";
}

.trv-report-viewer .t-i-download:before {
    content: "\e132";
}

.trv-report-viewer .t-i-print:before {
    content: "\e10a";
}

.trv-report-viewer .t-i-book:before {
    content: "\e651";
}

.trv-report-viewer .t-i-filter:before {
    content: "\e129";
}

.trv-report-viewer .t-i-zoom:before {
    content: "\e690";
}

.trv-report-viewer .t-i-zoom-in:before {
    content: "\e13f";
}

.trv-report-viewer .t-i-zoom-out:before {
    content: "\e140";
}

.trv-report-viewer .t-i-reorder:before {
    content: "\e02f";
}

.trv-report-viewer .t-i-bookmark:before {
    content: "\e303";
}

.trv-report-viewer .t-i-search:before {
    content: "\e13e";
}

.trv-report-viewer .t-i-search-stop:before {
    content: "\e11b";
}

.trv-report-viewer .t-i-search-match-case:before {
    content: "\e606";
}

.trv-report-viewer .t-i-search-match-whole-word:before {
    content: "\e643";
}

.trv-report-viewer .t-i-search-use-regex:before {
    content: "\e644";
}

.trv-report-viewer .t-i-search-navigate-up:before {
    content: "\e013";
}

.trv-report-viewer .t-i-search-navigate-down:before {
    content: "\e015";
}

.trv-report-viewer .t-i-search-error:before {
    content: "\e403";
}

.trv-report-viewer .t-i-email:before {
    content: "\e809";
}

.trv-report-viewer .k-i-calendar:before {
    content: "\e108";
}

.trv-report-viewer .k-i-arrow-s:before,
.trv-report-viewer .k-i-arrow-60-down:before {
    content: "\e006";
}

.trv-report-viewer .k-i-arrow-n:before,
.trv-report-viewer .k-i-arrow-60-up:before {
    content: "\e004";
}

.trv-report-viewer .k-i-arrow-w:before,
.trv-report-viewer .k-i-arrow-60-left:before {
    content: "\e007";
}

.trv-report-viewer .k-i-arrow-e:before,
.trv-report-viewer .k-i-arrow-60-right:before {
    content: "\e005";
}

.trv-report-viewer .k-i-close:before {
    content: "\e11b";
}

.trv-report-viewer .k-bold:before,
.trv-report-viewer .k-i-bold:before {
    content: "\e601";
}

.trv-report-viewer .k-italic:before,
.trv-report-viewer .k-i-italic:before {
    content: "\e602";
}

.trv-report-viewer .k-underline:before,
.trv-report-viewer .k-i-underline:before {
    content: "\e603";
}

.trv-report-viewer .k-strikethrough:before,
.trv-report-viewer .k-i-strikethrough:before {
    content: "\e608";
}

.trv-report-viewer .k-justifyLeft:before,
.trv-report-viewer .k-i-justifyLeft:before {
    content: "\e61d";
}

.trv-report-viewer .k-justifyCenter:before,
.trv-report-viewer .k-i-justifyCenter:before {
    content: "\e61e";
}

.trv-report-viewer .k-justifyRight:before,
.trv-report-viewer .k-i-justifyRight:before {
    content: "\e61f";
}

.trv-report-viewer .k-justifyFull:before,
.trv-report-viewer .k-i-justifyFull:before {
    content: "\e620";
}

.trv-report-viewer .k-insertUnorderedList:before,
.trv-report-viewer .k-i-insertUnorderedList:before {
    content: "\e614";
}

.trv-report-viewer .k-insertOrderedList:before,
.trv-report-viewer .k-i-insertOrderedList:before {
    content: "\e613";
}

.trv-report-viewer .k-indent:before,
.trv-report-viewer .k-i-indent:before {
    content: "\e615";
}

.trv-report-viewer .k-outdent:before,
.trv-report-viewer .k-i-outdent:before {
    content: "\e616";
}

.trv-report-viewer .k-createLink:before,
.trv-report-viewer .k-i-createLink:before {
    content: "\e10f";
}

.trv-report-viewer .k-unlink:before,
.trv-report-viewer .k-i-unlink:before {
    content: "\e110";
}

.trv-report-viewer .k-cleanFormatting:before,
.trv-report-viewer .k-i-cleanFormatting:before {
    content: "\e667";
}

.trv-report-viewer .k-foreColor:before,
.trv-report-viewer .k-i-foreColor:before {
    content: "\e605";
}

.trv-report-viewer .k-backColor:before,
.trv-report-viewer .k-i-backColor:before {
    content: "\e50f";
}

.trv-report-viewer .k-subscript:before,
.trv-report-viewer .k-i-subscript:before {
    content: "\e609";
}

.trv-report-viewer .k-superscript:before,
.trv-report-viewer .k-i-superscript:before {
    content: "\e60a";
}

.trv-report-viewer .t-i-scroll {
    transform: rotateY(180deg);
}

    .trv-report-viewer .t-i-scroll:before {
        content: "\e022";
    }

.trv-report-viewer .k-expand-prev:before,
.trv-report-viewer .k-collapse-next:before {
    content: "\e005";
}

.trv-report-viewer .k-treeview .k-plus:before,
.trv-report-viewer .k-i-expand:before {
    content: "\e005";
}

.trv-report-viewer .k-treeview .k-minus:before,
.trv-report-viewer .k-i-collapse:before {
    content: "\e001";
}

.trv-report-viewer .k-collapse-prev:before,
.trv-report-viewer .k-expand-next:before {
    content: "\e007";
}
