﻿@using Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels
@model IEnumerable<Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingModel>
@{
   var dates = "";
   var dateGroup = -1;
   var tempTrkNo = "";
}

<div id="WrhsStagingHistory">
   <div class="formExDivFilter hidden">
      @{ var criteria = new WrhsStagingModel();}
      <form action="@Url.Action("WrhsStagingHistory")" data-grid-name="#searchGrid" data-div-id="#WrhsStagingHistory" data-grid-options="">
         <table>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input class="FilterTrackingNumber inputFilter inputRex" type="text" data-default-value="" style="width: 100%" value="" name="@Html.NameFor(model => criteria.TrackingNumber)"/>
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Tracking Number</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input type="text" data-default-value="" value="" class="ECS_INTEGER FilterRA inputFilter editable inputRex" style="width: 100%" name="@Html.NameFor(model => criteria.RAorWPT)" />
                        </td>
                        <td>
                           <input type="text" data-default-value="" style="width: 100%" value="" class="FilterDebitMemo inputFilter inputRex" name="@Html.NameFor(model => criteria.StgeDebitMemoNumber)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">RA</td>
                        <td class="tdLabelRex">Debit Memo</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input class="FilterStgedFromDate inputFilter inputRex" type="text" data-default-value="" value="" name="@Html.NameFor(model => criteria.Date)"/>
                        </td>
                        <td>
                           <input class="FilterStgedToDate inputFilter inputRex" type="text" data-default-value="" value="" name="@Html.NameFor(model=> criteria.ModifiedDate)" />
                        </td>
                        <td>
                           <select data-default-value="@ViewBag.user" value="@ViewBag.user" name="@Html.NameFor(model=> criteria.Name)" class="FilterStgedBy inputFilter inputRex" style="width:100%">
                              <option value="" id="All">Show All Users</option>
                              @if (ViewBag.UserList != null)
                              {
                                 foreach (var user in ViewBag.UserList)
                                 {
                                    <option value="@user" id="@user" selected="@(ViewBag.user==user)">
                                       @user
                                    </option>
                                 }
                              }
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Staged From</td>
                        <td class="tdLabelRex">Staged To</td>
                        <td class="tdLabelRex">Staged By</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input type="text" data-default-value="" value="" style="width:100%" class="FilterTotes inputFilter inputRex" name="@Html.NameFor(model=> criteria.Container)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Totes</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <input type="hidden" data-default-value="@criteria.LoadAtHeight" value="@criteria.LoadAtHeight" name="@Html.NameFor(model=> criteria.LoadAtHeight)" />
         <input type="hidden" data-default-value="@criteria.PreviousCount" value="@criteria.PreviousCount" name="@Html.NameFor(model=> criteria.PreviousCount)" />
         <input type="hidden" data-default-value="@criteria.InitialLoadCount" value="@criteria.InitialLoadCount" name="@Html.NameFor(model=> criteria.InitialLoadCount)" />
      </form>
   </div>
   <div class="QoskSegment" style="padding-top: 0px;">
      <table>
         <tr>
            <td class="QnexGrid QnexContent level0">
               @*the table for infinite scroll must have the class infiniteScroll*@
               <table>
                  <tr>
                     <td>

                        <table id="searchGrid" class="display stgeHistCol infiniteScroll filterableGrid" cellspacing="0" style="width: 95%; max-width: 1050px">
                           <thead>
                              <tr class="collapse in">
                                 <th hidden></th>
                                 <th hidden></th>
                                 <th hidden>Carrier</th>
                                 <th hidden></th>
                                 <th>Staged Date</th>
                                 <th>Tracking Number</th>
                                 <th hidden>Tracking Number Full</th>
                                 <th>RA/WPT</th>
                                 <th>Debit Memo</th>
                                 <th>Tote<br/>Count</th>
                                 <th>Staged By</th>
                                 <th>Route</th>
                                 <th hidden></th>
                                 <th hidden></th>
                                 <th hidden></th>
                              </tr>
                           </thead>
                           <tbody>
                              @foreach (var item in Model)
                              {
                                 if (dates != item.Date)
                                 {
                                    dateGroup = (dateGroup + 1) % 3;
                                 }

                                 //shorten the tracking number length to prevent overflowing tables
                                 tempTrkNo = item.TrackingNumber.Length > 12 ? item.TrackingNumber.Substring(0, 12) + "..." : item.TrackingNumber;
                                 //Special Handling is unique in that we don't need its route code
                                 var routeClass = "Qosk_" + (item.RouteNumber == 6 ? "SpecialHandling" : item.Route + item.RouteNumber);

                                 //each row in an infinite scroll table must have the class infiniteScrollRow
                                 <tr dateRow="@dateGroup" class="WrhsStagingDetail-div-click infiniteScrollRow MgmtEntity
                           @if (dates != item.Date && !string.IsNullOrWhiteSpace(dates))
                           {
                              @: firstRow
                           }"
                                     MgmtEntity-id="@item.TrackingID"
                                     MgmtEntity-data="entity=@Json.Encode(item)"
                                     MgmtEntity-action=""
                                     MgmtEntity-target="#formMax">
                                    <td exchange="HistoryTrackingID" exchange-value="@item.TrackingID" hidden></td>
                                    <td exchange="CarrierID" exchange-value="@item.CarrierID" hidden></td>
                                    <td exchange="Carrier" exchange-value="@item.Carrier" hidden>@item.Carrier</td>
                                    <td exchange="ModifiedDate" exchange-value="@item.ModifiedDate" hidden></td>

                                    @if (string.IsNullOrWhiteSpace(dates))
                                    {
                                       dates = item.Date;
                                    }
                                    else
                                    {
                                       if (dates == item.Date)
                                       {
                                          item.Date = "";
                                       }
                                       else
                                       {
                                          dates = item.Date;
                                       }
                                    }
                                    <td exchange="Date" exchange-value="@dates" class="whiteTextCol dateRow_@dateGroup" style="
                                                            @if (string.IsNullOrWhiteSpace(item.Date))
                                                            {
                                                               @: border-color: transparent
                                                            }">
                                       <span @if (string.IsNullOrWhiteSpace(item.Date)) { @: style="display:none"
                                             }>
                                          @dates
                                       </span>
                                    </td>
                                    <td exchange="TrackingNumber" exchange-value="@item.TrackingNumber">@tempTrkNo</td>
                                    <td exchange="TrackingNumberFull" exchange-value="@item.TrackingNumber" hidden>@item.TrackingNumber</td>
                                    <td exchange="RAOrWPT" exchange-value="@item.RAorWPT">@item.RAorWPT</td>
                                    <td exchange="DebitMemo" exchange-value="@item.StgeDebitMemoNumber">@item.StgeDebitMemoNumber</td>
                                    <td exchange="ToteCount" exchange-value="@item.ContainerCount">@item.ContainerCount</td>
                                    <td exchange="StagedBy" exchange-value="@item.StgeBy">@item.StgeBy</td>
                                    <td exchange="Route" exchange-value="@item.Route" style="padding: 0; border-right: 0">
                                       <div class="@routeClass" style="width:100%; background-image: none; padding: 8px;">
                                          @item.Route
                                       </div>
                                    </td>
                                    <td exchange="Form222PrintedDate" exchange-value="@item.Form222PrintedDate" hidden></td>
                                    <td exchange="ControlMsg" exchange-value="@item.RAorWPTCtrlCode" hidden></td>
                                    <td exchange="RcvdDate" exchange-value="@item.RcvdDate" hidden></td>
                                 </tr>
                              }
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2" class="tdMessage">
                        <table>
                           <tr>
                              <td class="tdCaption" style="width: 100%;"></td>
                              <td style="height: 100%; text-align: right;"><input type="button" id="HistoryContinue" class="btnErrorMessage buttonEx" style="width: 85px; height: 35px;margin-right:10px" value="Continue" form="History" /></td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
<script>
   $(document).ready(function()
   {
      Number.prototype.padLeft = function(base, chr)
      {
         var len = (String(base || 10).length - String(this).length) + 1;
         return len > 0 ? new Array(len).join(chr || '0') + this : this;
      }
      // get today's date
      var today = new Date();
      today = [(today.getMonth() + 1).padLeft(),
               today.getDate().padLeft(),
               today.getFullYear()].join('/');
      // get past 14 days date
      var fromToday = new Date(Date.now() - 12096e5);
      fromToday = [(fromToday.getMonth() + 1).padLeft(),
               fromToday.getDate().padLeft(),
               fromToday.getFullYear()].join('/');

      var toDate = '@ViewBag.ToDate' === "" && $(".FilterStgedToDate").attr("data-default-value") !== ""
                           ? ""
                           : $(".FilterStgedToDate").attr("data-default-value") === "" && '@ViewBag.ToDate' === ""
                                 ? today
                                 : '@ViewBag.ToDate';

      var fromDate = '@ViewBag.Date' === "" && $(".FilterStgedFromDate").attr("data-default-value") !== ""
                        ? ""
                        : $(".FilterStgedFromDate").attr("data-default-value") === "" && '@ViewBag.Date' === ""
                              ? fromToday
                              : '@ViewBag.Date';

      if (fromDate !== "" && $(".FilterStgedFromDate").attr("data-default-value") === "")
      {
         $(".FilterStgedToDate").attr("data-default-value", toDate);
         $(".FilterStgedFromDate").attr("data-default-value", fromDate);
      }
      $(".FilterStgedFromDate").val(fromDate);
      $(".FilterStgedFromDate").attr("value", fromDate);
      $(".FilterStgedToDate").val(toDate);
      $(".FilterStgedToDate").attr("value", toDate);

      //Timeout has to be set so that the datatable finishes rendering before the below runs
      setTimeout(function()
      {
         $("#WrhsStagingHistory .dataTables_scrollBody").on("scroll", extendInfiniteProductScroll);
      }, 100);
   });
</script>