﻿<div class="formMax" style="display: block;">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align: center; background-color: #f2f2f2;">
            <img id="imgCtrlNbr" style="width: 95px; height: 95px;" src="" alt="" />
         </td>
         <td class="DividerLine" style="height: 100px;"></td>
         <td style="padding: 10px 0px 0px 10px;">
            <table class="tableEx">
                <tr>
                    <td class="tdRex" style="width: 600px;"><input id="TrackingNumber" class="inputRex editable ECS_ALPHANUMERICWTHDASH locked" type="text" nextfocus="RAorWPT" placeholder="Enter Tracking Number/ID" prevfocus="" value="" maxlength="64" style="float:left" /></td>
                    <td class="tdRex"><input id="RAorWPT" class="inputRex editable" type="text" style="text-align: center" prevfocus="TrackingNumber" nextfocus="Carrier" placeholder="Enter RA" value="" maxlength="64" /></td>
                    <td rowspan="2" class="DividerLine"></td>
                    <td class="tdRex" style="width: 150px;"><input id="Date" class="inputRex" type="text" style="text-align: center" value="" readonly disabled /></td>
                </tr>
               <tr>
                  <td class="tdLabelRex" style="">Tracking Number</td>
                  <td class="tdLabelRex" style="text-align: center;">RA</td>
                  <td class="tdLabelRex" style="text-align: center;">Date</td>
               </tr>
               <tr>
                  <td class="tdRex" colspan="5">
                     <input id="Carrier" class="inputRex ECS_ALPHANUMERIC" type="text" prevfocus="RAorWPT" nextfocus="TrackingNumber" value="" readonly disabled />
                  </td>
               </tr>
               <tr>
                  <td colspan="5" class="tdLabelRex">Carrier</td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</div>
<script>

   if ($("#TrackingNumber").val() === "")
   {
      $("#TrackingNumber").focus();
   }
</script>
