﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.Address = "~/Areas/WrhsStaging/WrhsStaging/SaveUploadFile";

   /*
    * This is ugly so let me explain...
    * First, check to see if the tote list has at least one tote that has at least one item processed
    * If the first step fails, then check if there are any totes that do not have the "S" status (to see if it's attached or not)
   */
   var toteCount = Model.ToteList.Any(c => c.ToteItemCount > 0)
      ? Model.ToteList.Where(c => c.ToteItemCount > 0).Select(c => c.ToteItemCount).FirstOrDefault()
      : Model.ToteList.Any(c => c.ControlType != "S")
         ? Model.ToteList.Count(c => c.ControlType != "S")
         : 0;
   var closedRa = Model.SelectedStagingModel.RaStatusClass == "C";
}
<div id="WrhsStagingDetailsForm" class="StagingSegment">
   @if (Model.ValidateTrkNoAndRA != null && Model.ValidateTrkNoAndRA.Count > 0)
   {
      @Html.Partial("_PartialMatch", Model.ValidateTrkNoAndRA)
   }
   else
   {
      if (!string.IsNullOrWhiteSpace(Model.SelectedStagingModel.TrackingID))
      {
         <input type="hidden" id="stgedDate" value="@Model.SelectedStagingModel.StgeDate" />
         <input type="hidden" id="validRA" value="@Model.SelectedStagingModel.RAorWPT" />
         <input type="hidden" id="validAssocId" value="@Model.SelectedStagingModel.AssocID" />
         <input type="hidden" id="validRaCtrlCode" value="@Model.SelectedStagingModel.RAorWPTCtrlCode" />
         //all closed RAs go to the island, but we still have to check its respective control number to give the proper route # (Model.SelectedStagingModel.Name)
         if (closedRa)
         {
            Model.SelectedStagingModel.Name = Model.SelectedStagingModel.RAorWPTCtrlCode == "CTRL2" ? "96" : Model.SelectedStagingModel.RAorWPTCtrlCode == "CTRL345" ? "97" : "99";
            Model.SelectedStagingModel.HandlingMessage = "Island";
         }
         //If we're processing a control RA on the floor, sort the package to the respective location
         //Model.SelectedStagingModel.Name is the Route Code for a tracking record, and anything beyond 6 is the Island
         if ((Model.SelectedStagingModel.RouteNumber == 0 && Model.SelectedStagingModel.RAorWPTCtrlCode != "CTRL0")
             || Convert.ToInt16(Model.SelectedStagingModel.Name) > 6)
         {
            Model.SelectedStagingModel.HandlingSegment = true;
            ViewBag.HandlingTitle = Model.SelectedStagingModel.Name == "96" ? "Vault Island" : Model.SelectedStagingModel.Name == "97" ? "Cage Island" : Model.SelectedStagingModel.HandlingMessage;
            Model.SelectedStagingModel.ControlType = Model.SelectedStagingModel.HandlingMessage + Model.SelectedStagingModel.Name;
            Model.SelectedStagingModel.HandlingMessage = "Sort this package immediately to the ";
            Model.SelectedStagingModel.Name = "Floor";
            @Html.Partial("_Handling", Model)
         }
         else
         {
            if (Model.SelectedStagingModel.SpecialHandling)
            {
               ViewBag.HandlingTitle = "Special Handling";
               Model.SelectedStagingModel.HandlingSegment = true;
               Model.SelectedStagingModel.HandlingMessage = "Manufacturer requires special handling";
               Model.SelectedStagingModel.ControlType = "SpecialHandling";
               Model.SelectedStagingModel.Name = "Special";
               @Html.Partial("_Handling", Model)
            }

            if (Model.SelectedStagingModel.RAorWPTCtrlCode == "CTRL2")
            {
               @Html.Partial("_Form222Segment", Model)
            }

            @Html.Partial("_ContainerSegment", Model)
            @Html.Partial("_WeightConditionSegment", Model)
            @Html.Partial("_TotesAndAttachments", Model)
            <input id="slctContainerCode" type="hidden" value="@Model.SelectedStagingModel.PackageCode" />
            <input id="slctContentCode" type="hidden" value='@Html.Raw(Json.Encode(Model.SelectedStagingModel.PackageCndCode))' />
            <input id="toteDisabled" type="hidden" value="@toteCount" />
         }
      }
      else
      {
         @Html.Partial("_ContainerSegment", Model)
      }
      <script>
         $(document).ready(function ()
         {
            //this sets autocomplete off on all form fields again
            $("input").attr("autocomplete", "off");
         });
      </script>
   }
</div>