﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel

<td class="actionTool actionFilter">
   <img class="actionIcon" title="Apply Filters" src="~/Images/Actionbar/ActionBar_Filter(1).svg" alt="" id="CMD_FILTER" />
   <div class="filterFrame">
      <div class="QoskBorder-LBR filterContent">
         <div class="formEx">
            <table class="tableEx" style="width: 500px;">
               <tr>
                  <td colspan="2">
                     <div class="formExDiv"></div>
                  </td>
               </tr>
               <tr>
                  <td class="tdMessage">test</td>
                  <td class="filterCommands">
                     <input class="SubmitCriteria filterCmd" type="button" value="Submit" /><span></span>
                     <input class="ClearCriteria filterCmd" type="button" value="Reset" /><span></span>
                     <input class="CancelCriteria filterCmd" type="button" value="Cancel" />
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</td>
