﻿@using Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels
@model IEnumerable<Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingModel>

@{
   var raNo = "";
   var trackingId = "";
   var trckNo = "";
   var debitMemo = "";
}

<div id="WrhsStagingGridSummary">
   <div class="formExDivFilter hidden">
      @{ var criteria = new WrhsStagingModel();
         criteria.InitialLoadCount = 300;
         criteria.LoadAtHeight = 800;}
      <form action="@Url.Action("WrhsStagingSummary")" data-grid-name="#searchGrid_Summary" data-div-id="#WrhsStagingGridSummary" data-grid-options="">
         <input type="hidden" data-default-value="@criteria.LoadAtHeight" value="@criteria.LoadAtHeight" name="@Html.NameFor(model=> criteria.LoadAtHeight)" />
         <input type="hidden" data-default-value="@criteria.PreviousCount" value="@criteria.PreviousCount" name="@Html.NameFor(model=> criteria.PreviousCount)" />
         <input type="hidden" data-default-value="@criteria.InitialLoadCount" value="@criteria.InitialLoadCount" name="@Html.NameFor(model=> criteria.InitialLoadCount)" />
         <input type="hidden" data-default-value="@criteria.TrackingID" value="@criteria.TrackingID" name="@Html.NameFor(model=>criteria.TrackingID)" />
      </form>
   </div>
   <div class="QoskSegment" style="padding-top: 0px;">
      <table>
         <tr>
            <td class="QnexGrid QnexContent level0">
               <table>
                  <tr>
                     <td>
                        <table id="searchGrid_Summary" multiCount="@ViewBag.Count" class="display stgeMultiStatus infiniteScroll filterableGrid" cellspacing="0" style="width:95%; max-width: 1050px">
                           <thead>
                              <tr class="collapse in">
                                 <th>Tracking Number</th>
                                 <th hidden>Tracking Number Full</th>
                                 <th>RA/WPT</th>
                                 <th hidden>TrackingID</th>
                                 <th>Debit Memo</th>
                                 <th hidden>CarrierID</th>
                                 <th hidden>Carrier</th>
                                 <th hidden>Date</th>
                                 <th hidden>Form222PrintedDate</th>
                                 <th hidden>CtrlMsg</th>
                                 <th>Staged By</th>
                                 <th>Staged Date</th>
                                 <th>Route</th>
                              </tr>
                           </thead>
                           <tbody>
                              @foreach (var item in Model ?? new List<WrhsStagingModel>())
                              {
                                 <tr class="searchGrid_Summary-div-click infiniteScrollRow"
                                     name="SearchListItem"
                                     searchGrid_Summary-method="post"
                                     data-row-id="@item.TrackingID"
                                     data-ql-ajax="true"
                                     searchGrid_Summary-data="searchGrid_Summary=@Json.Encode(item)"
                                     searchGrid_Summary-action=""
                                     searchGrid_Summary-target="#formMax">

                                    @if (string.IsNullOrWhiteSpace(trckNo))
                                    {
                                       trckNo = item.TrackingNumber;
                                    }
                                    else
                                    {
                                       if (trckNo.ToUpper() == item.TrackingNumber.ToUpper())
                                       {
                                          trckNo = item.TrackingNumber;
                                          item.TrackingNumber = "";
                                       }
                                       else
                                       {
                                          trckNo = item.TrackingNumber;
                                       }
                                    }

                                    @{
                                       //shorten the tracking number length to prevent overflowing tables
                                       var tempTrkNo = trckNo.Length > 12 ? trckNo.Substring(0, 12) + "..." : trckNo;
                                       //Special Handling is unique in that we don't need its route code
                                       var routeClass = "Qosk_" + (item.RouteNumber == 6 ? "SpecialHandling" : item.Route + item.RouteNumber);
                                    }
                                    <td exchange="TrckNo" exchange-value="@trckNo">
                                       <span @if (string.IsNullOrWhiteSpace(item.TrackingNumber)) { @: style="display:none"
                                             }>
                                          @tempTrkNo
                                       </span>
                                    </td>
                                    <td exchange="TrckNoFull" exchange-value="@trckNo" hidden>@trckNo</td>
                                    @if (string.IsNullOrWhiteSpace(raNo))
                                    {
                                       trackingId = item.TrackingID;
                                       raNo = item.RAorWPT;
                                    }
                                    else
                                    {
                                       if (raNo == item.RAorWPT && trackingId == item.TrackingID)
                                       {
                                          item.RAorWPT = "";
                                       }
                                       else
                                       {
                                          trackingId = item.TrackingID;
                                          raNo = item.RAorWPT;
                                       }
                                    }
                                    <td exchange-value="@raNo" exchange="RAorWPT" @if (string.IsNullOrWhiteSpace(item.RAorWPT)) { @: style="background-color:#808080;color:#808080"
                                        }>
                                       @raNo
                                    </td>
                                    <td hidden exchange="TrackingID" exchange-value="@item.TrackingID">@item.TrackingID</td>
                                    @{
                                       debitMemo = string.IsNullOrWhiteSpace(item.Name) ? item.DebitMemo : item.StgeDebitMemoNumber;
                                    }
                                    <td exchange="DebitMemoNumber" exchange-value="@debitMemo">@debitMemo</td>
                                    <td exchange="CarrierID" hidden exchange-value="@item.CarrierID">@item.CarrierID</td>
                                    <td exchange="Carrier" hidden exchange-value="@item.Carrier">@item.Carrier</td>
                                    <td exchange="Date" hidden exchange-value="@item.Date">@item.Date</td>
                                    <td exchange="Form222PrintedDate" exchange-value="@item.Form222PrintedDate" hidden></td>
                                    <td exchange="ControlMsg" exchange-value="@item.RAorWPTCtrlCode" hidden></td>
                                    <td exchange="StagedBy" exchange-value="@item.StgeBy">@item.StgeBy</td>
                                    <td exchange="StagedDate" exchange-value="@item.ModifiedDate">@item.ModifiedDate</td>
                                    <td exchange="Route" exchange-value="@item.RouteNumber" style="padding: 0; border-right: 0">
                                       <div class="@routeClass" style="width:100%; background-image: none; padding: 8px;">
                                          @item.Route
                                       </div>
                                    </td>
                                 </tr>
                              }
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2" class="tdMessage">
                        <table>
                           <tr>
                              <td class="tdCaption" style="width: 100%;"></td>
                              <td style="height: 100%; text-align: right;">
                                 <input type="button" id="MultiStatusContinue" class="btnErrorMessage buttonEx" style="width: 85px; height: 35px; margin-right: 10px" value="Continue" form="Multi" />
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
<script>
   $(document).ready(function ()
   {
      setTimeout(function ()
      {
         $("#WrhsStagingGridSummary .dataTables_scrollBody").on("scroll", extendInfiniteProductScroll);
      }, 100);

   });
</script>