﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/WrhsStaging/Views/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/qosk/induction")*@
@Html.Partial("_Wait")
@Html.Partial("AlertPopupView")

<div id="WrhsStagingViewDiv" class="Staging">
   <table class="tableEx" style="height: 100%;">
      <tr>
         <td class="QoskVMargin"></td>
         <td>
            <table class="QoskBody" AppCode="@Model.AppletKey">
               <tr><td class="Gutter-Top"></td></tr>
               <tr>
                  <td style="height: 100%;">
                     <table class="QoskContent">
                        <tr>
                           <td>
                              <div class="QoskForm">
                                 <style type="text/css">
                                    .QoskForm .tdPreview {
                                       *display: block;
                                       width: 130px;
                                    }
                                 </style>
                                 <table class="formHeader">
                                    <tr>
                                       <td class="formLabel tdPreview" style="padding-left: 10px;">Staging Details</td>
                                    </tr>
                                 </table>
                                 <table class="formBody">
                                    <tr>
                                       <td>
                                          @Html.Partial("_WrhsStagingForm", Model)
                                       </td>
                                    </tr>
                                 </table>
                                 <table class="tableEx">
                                    <tr><td id="ControlMsg" class="formFooter"></td></tr>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <!-- Tabs definition -->
                        <tr>
                           <td id="tab-container" class="_QoskActionbar">
                              <ul class="ActionTabs" style="margin-left: 4px;">
                                 <li class="ActionTab"><a href="#WrhsStaging"><span>Staging</span><span class="TabCount"></span></a></li>
                                 <li class="ActionTab"><a href="#WrhsMulti"><span>Multi</span><span class="TabCount"></span></a></li>
                                 <li class="ActionTab"><a href="#WrhsHistory"><span>History</span><span class="TabCount"></span></a></li>
                                 <li class="tab" style="display: inline-block; margin-right: 4px;">
                                    <a style="display: none" href="#dummy-href"></a>
                                    <!-- actionTools -->
                                    <table class="actionBar">
                                       <tr>
                                          <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="/Images/Actionbar/ActionBar_Refresh(0).svg" alt="" /></td>
                                          <td class="actionSep"><span></span></td>
                                          <td class="actionTool"><img id="CMD_SUBMIT" class="actionIcon" title="Submit" src="/images/Actionbar/ActionBar_Submit(0).svg" alt="" /></td>
                                          <td class="actionTool"><img id="CMD_CLEAR" class="actionIcon" title="Clear" src="/images/Actionbar/ActionBar_Clear(1).svg" alt="" /></td>
                                          <td class="actionSep"><span></span></td>
                                          @Html.Partial("_WrhsStagingFilter", Model)
                                          @Html.Partial("_ActionMenu", Model.ActionMenu)
                                       </tr>
                                    </table>
                                 </li>
                              </ul>
                              <!-- Tabs action definition -->
                              <table class="QnexWorkbook">
                                 <tr><td class="QnexHeader">&nbsp;</td></tr>
                                 <tr>
                                    <td>
                                       <table class="QnexFrame">
                                          <tr>
                                             <td style="vertical-align: top;">
                                                <div class="ql-body QnexWorksheet QnexScrollbar" id="WrhsStaging">
                                                   <div id="containers" style="display:none">
                                                      @{
                                                         var i = 0;
                                                         var originalDirectory = new System.IO.DirectoryInfo(string.Format("{0}Areas\\WrhsStaging",
                                                                                                         System.Web.HttpContext.Current.Server.MapPath(@"\")));
                                                         string pathString = System.IO.Path.Combine(originalDirectory.ToString(), "Images");
                                                         bool isExists = System.IO.Directory.Exists(pathString);
                                                         string[] fileList = System.IO.Directory.GetFiles(pathString);
                                                         foreach (var item in Model.PackageTypeList)
                                                         {
                                                            var boxItems = new Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.ContainerCondition();
                                                            foreach (var files in fileList)
                                                            {
                                                               var fileName = Path.GetFileNameWithoutExtension(files);
                                                               var fileNm = Path.GetFileName(files);
                                                               if (fileName.Contains(item.PackageCode))
                                                               {
                                                                  boxItems.ImageUrl = fileNm;
                                                                  break;
                                                               }
                                                            }

                                                            boxItems.Code = item.PackageCode;
                                                            boxItems.ContainerTypeIndex = i;
                                                            boxItems.dataHeader = "WeightCondition";
                                                            boxItems.form = "Container";
                                                            boxItems.Name = item.PackageName;
                                                            boxItems.uniqSelection = "Container";
                                                            boxItems.ItemCode = Model.SelectedStagingModel.PackageCode;
                                                            @Html.Partial("_ContainerConditionItems", boxItems)
                                                            i++;
                                                         }
                                                      }
                                                   </div>
                                                   <div id="contents" style="display:none">
                                                      <table class="segBody conditionsTable">
                                                         <tr>
                                                            @{
                                                               i = 0;
                                                               foreach (var item in Model.PackageConditionList)
                                                               {
                                                                  //var nm=Regex.Replace(item.PackageConditionName, @"\s+", string.Empty);
                                                                  var boxItems = new Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.ContainerCondition();
                                                                  originalDirectory = new System.IO.DirectoryInfo(string.Format("{0}Areas\\WrhsStaging",
                                                                  System.Web.HttpContext.Current.Server.MapPath(@"\")));
                                                                  pathString = System.IO.Path.Combine(originalDirectory.ToString(), "Images");
                                                                  isExists = System.IO.Directory.Exists(pathString);
                                                                  fileList = System.IO.Directory.GetFiles(pathString);
                                                                  foreach (var files in fileList)
                                                                  {
                                                                     var fileName = Path.GetFileNameWithoutExtension(files);
                                                                     var fileNm = Path.GetFileName(files);
                                                                     if (item.PackageConditionCode == fileName)
                                                                     {
                                                                        boxItems.ImageUrl = fileNm;
                                                                        break;
                                                                     }
                                                                  }
                                                                  boxItems.Code = item.PackageConditionCode;
                                                                  boxItems.ContainerTypeIndex = i;
                                                                  boxItems.dataHeader = "Totes";
                                                                  boxItems.form = "WeightCondition";
                                                                  boxItems.Name = item.PackageConditionName;
                                                                  boxItems.uniqSelection = "WeightCondition";
                                                                  boxItems.ItemCode = Model.SelectedStagingModel.PackageConditionCode;
                                                                  <td>@Html.Partial("_ContainerConditionItems", boxItems)</td>
                                                                  i++;
                                                               }
                                                            }
                                                         </tr>
                                                      </table>
                                                   </div>
                                                   @Html.Partial("_WrhsStaging", Model)
                                                </div>
                                                <div class="ql-body QnexWorksheet QnexScrollbar" id="WrhsMulti">
                                                   @Html.Partial("_WrhsStagingSummary", Model.SummaryList)
                                                </div>
                                                <div class="ql-body QnexWorksheet QnexScrollbar" id="WrhsHistory">
                                                   @Html.Partial("_WrhsStagingHistory", Model.StagingHistoryList)
                                                </div>
                                                <script>
                                                   $('#tab-container').easytabs();
                                                </script>
                                             </td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr><td class="Gutter-bottom"></td></tr>
            </table>
         </td>
         <td class="QoskVMargin"></td>
      </tr>
   </table>

   @section scripts{
      <script src="~/js/Constants.js"></script>
      <script src="~/js/Message.js"></script>
      <script src="~/Scripts/jquery.tagsinput.js"></script>
      <script src="~/js/QoskMgmt.js"></script>
      <script src="~/Areas/WrhsStaging/js/WrhsStaging.js"></script>
   }
</div>
