/*
* TelerikReporting v13.0.19.116 (http://www.telerik.com/products/reporting.aspx)
* Copyright 2019 Telerik AD. All rights reserved.
*
* Telerik Reporting commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/reporting.aspx
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
.trv-pages-area .trv-error-pane {
    left: 50%;
    position: relative;
    float: left;
    display: none;
    max-width: 80%
}

.trv-pages-area > .trv-error-pane > .trv-centered {
    position: relative;
    float: left;
    left: -50%;
    padding: 1em
}

.trv-pages-area .trv-page-overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: .6
}

.trv-pages-area.trv-loading .trv-page-overlay {
    display: block
}

.trv-pages-area.trv-error .trv-error-pane {
    display: block
}

.trv-pages-area .trv-page-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto
}

.trv-pages-area.printpreview .trv-page-container .trv-page-wrapper {
    margin: 20px;
    text-align: center;
    position: relative
}

    .trv-pages-area.printpreview .trv-page-container .trv-page-wrapper .trv-report-page {
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        position: relative
    }

    .trv-pages-area.printpreview .trv-page-container .trv-page-wrapper.active .trv-report-page:not(.k-state-default) {
        border-color: #e6e6e6
    }

.trv-pages-area.interactive .trv-page-container .trv-page-wrapper {
    text-align: center;
    position: relative
}

    .trv-pages-area.interactive .trv-page-container .trv-page-wrapper .trv-report-page {
        background-color: #fff;
        overflow: hidden;
        position: relative;
        padding: 1em
    }

    .trv-pages-area.interactive .trv-page-container .trv-page-wrapper.active .trv-report-page {
        border-width: 1px;
        border-style: solid
    }

        .trv-pages-area.interactive .trv-page-container .trv-page-wrapper.active .trv-report-page:not(.k-state-default) {
            border-color: transparent
        }

.trv-pages-area-kendo-tooltip {
    font-size: .7em
}

.trv-pages-area-kendo-tooltip-title {
    font-weight: 700
}

.trv-pages-area-kendo-tooltip-text {
    font-weight: 400
}

.trv-parameter-container .trv-parameter-title {
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.trv-parameters-area .trv-parameters-area-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: .6
}

.trv-parameters-area.trv-loading .trv-parameters-area-overlay {
    display: block
}

.trv-parameter-container .trv-parameter-error {
    font-size: 8pt
}

.trv-parameters-area .trv-parameters-area-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3em;
    display: none
}

.trv-parameters-area.preview .trv-parameters-area-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 3em;
    overflow: auto
}

.trv-parameters-area.preview .trv-parameters-area-footer {
    display: block
}

.trv-parameters-area .trv-error-pane {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none
}

.trv-parameters-area.trv-error .trv-error-pane {
    display: block
}

.trv-parameters-area .trv-parameters-area-preview-button {
    position: absolute;
    top: .5em;
    left: .4em
}

.trv-parameters-area-preview-button.k-state-disabled:hover {
    background-color: transparent !important
}

.trv-parameters-area .trv-parameter-container {
    margin: .3em;
    margin-bottom: 10px;
    padding: .1em
}

.trv-parameter-header {
    width: 100%;
    position: relative
}

.trv-parameter-error {
    padding: 3px;
    margin-bottom: 3px
}

.trv-parameter-error-message {
    vertical-align: middle
}

.trv-parameter-editor-available-values-multiselect .trv-list {
    overflow: auto
}

.trv-parameter-editor-available-values-multiselect .trv-parameter-actions {
    font-size: 8pt;
    padding: 5pt 0 0
}

.trv-parameter-editor-available-values-multiselect .trv-select-none {
    float: right
}

.trv-parameter-editor-available-values-multiselect .k-multiselect-wrap {
    padding-right: 0
}

.trv-parameter-editor-available-values .k-combobox {
    width: 100%
}

.trv-parameter-editor-available-values .k-listview {
    max-height: none
}

.trv-parameter-editor-available-values .trv-parameter-actions {
    font-size: 8pt;
    padding: 5pt 0 0;
    text-align: right
}

.trv-parameter-editor-datetime {
    width: 100%
}

.trv-parameter-editor-text {
    width: 100%
}

.trv-parameter-editor-number {
    width: 100%
}

.trv-parameter-editor-multivalue textarea {
    width: 100%;
    resize: none
}

.trv-report-viewer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px
}

.trv-side-menu {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: none
}

    .trv-side-menu .k-panelbar > .k-item > .k-link {
        color: inherit
    }

        .trv-side-menu .k-panelbar > .k-item > .k-link, .trv-side-menu .k-panelbar > .k-item > .k-link .k-icon {
            color: inherit
        }

    .trv-side-menu > ul {
        border-right: 0 none transparent
    }

    .trv-side-menu li > a {
        border-bottom: 0 none transparent !important
    }

    .trv-side-menu span {
        margin-left: 1em
    }

    .trv-side-menu a {
        background-image: none !important
    }

.trv-report-page + .trv-report-page {
    margin-top: 10px
}

.trv-skeleton-wrapper {
    width: 100%;
    height: 100%;
    background: url(../../../../../../../BuildScripts/images/skeletonScreen-svg) repeat top left;
    background-size: contain
}

.k-treeview .k-minus, .k-treeview .k-plus {
    margin-top: 0
}

.trv-report-viewer div.trv-content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .1s
}

.trv-nav {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

    .trv-nav .k-menu .k-item > .k-link > .k-icon {
        margin: -2px 0 0
    }

    .trv-nav a {
        color: inherit
    }

    .trv-nav > ul {
        position: relative
    }

    .trv-nav li {
        border-width: 0 !important;
        border-style: none !important
    }

    .trv-nav input {
        width: 2em;
        height: .9em;
        border-color: inherit;
        border-width: 1px
    }

.trv-content {
    position: relative;
    -ms-flex: 1 1;
    flex: 1 1 0;
    height: 100%;
    margin-top: -1px
}

    .trv-content.k-splitter .k-pane {
        border: 0;
        box-sizing: border-box
    }

    .trv-content .k-splitbar [class*=resize] {
        background: #003f59
    }

    .trv-content .k-splitbar[aria-expanded=false] [class*=resize] {
        display: none
    }

    .trv-content.k-splitter .k-splitbar .k-collapse-next, .trv-content.k-splitter .k-splitbar .k-collapse-prev, .trv-content.k-splitter .k-splitbar .k-expand-next, .trv-content.k-splitter .k-splitbar .k-expand-prev {
        margin-left: -5px;
        margin-top: 3px;
        width: 14px;
        font-size: 14px;
        cursor: pointer
    }

.k-ie9 .trv-content {
    position: absolute;
    margin-top: 1px;
    top: 2.5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto
}

.k-header .k-window-actions .k-window-action {
    padding: 0;
    overflow: hidden;
    width: 19px;
    height: 19px
}

.trv-menu-large, .trv-menu-small {
    border-style: none
}

.k-ie9 .trv-menu-large .k-link, .k-ie9 .trv-menu-small .k-link {
    white-space: nowrap
}

.trv-document-map .trv-document-map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #fff;
    opacity: .6;
    z-index: 1
}

.trv-document-map.trv-loading .trv-document-map-overlay {
    display: block
}

.k-splitbar.trv-hidden {
    display: none
}

.trv-error-pane {
    padding: 1em 1em;
    font-size: .7em
}

.trv-report-viewer input[type=number]::-webkit-inner-spin-button, .trv-report-viewer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.trv-report-viewer input[type=number] {
    -moz-appearance: textfield
}

.trv-search-window {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

    .trv-search-window .k-menu.k-menu-horizontal:not(.k-context-menu) {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        background: 0 0;
        padding: 0
    }

    .trv-search-window .k-menu.k-menu-horizontal.trv-search-dialog-stopsearch-placeholder {
        border: none;
        margin-left: 10px
    }

.trv-search-dialog-caption-label, .trv-search-dialog-input-area, .trv-search-dialog-search-options {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

.trv-search-dialog.trv-hidden {
    display: none
}

.trv-search-dialog {
    position: absolute;
    width: 15em;
    height: auto;
    padding: 0 .5em;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10
}

    .trv-search-dialog .trv-search-dialog-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: .6
    }

    .trv-search-dialog.trv-loading .trv-search-dialog-overlay {
        display: block
    }

.trv-search-dialog-caption-label {
    margin: 0 0 .5em;
    font-size: 1.2em;
    color: #6495ed
}

.trv-search-dialog-input-area {
    overflow: hidden;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

    .trv-search-dialog-input-area .k-combobox {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .trv-search-dialog-input-area .trv-search-dialog-stopsearch-placeholder li.k-item, .trv-search-dialog-navigational-buttons.k-widget .k-item {
        border: none
    }

        .trv-search-dialog-input-area .trv-search-dialog-stopsearch-placeholder li.k-item.k-state-disabled {
            opacity: .4
        }

        .trv-search-dialog-input-area .trv-search-dialog-stopsearch-placeholder li.k-item .k-link {
            padding: 0
        }

    .trv-search-dialog-input-area .trv-search-dialog-stopsearch-placeholder .fa-times, .trv-search-dialog-input-area .trv-search-dialog-stopsearch-placeholder .t-font-icon {
        font-size: 25px;
        width: 25px;
        height: 25px;
        cursor: pointer
    }

.trv-search-dialog-input-box .k-clear-value {
    display: none
}

.trv-search-dialog-input-box::-ms-clear {
    display: none
}

.trv-search-dialog-search-options.k-widget .k-item {
    margin-right: .3em;
    border-radius: 2px;
    border: 1px solid #cecece
}

.trv-search-dialog-search-options .fa {
    display: inline
}

.trv-search-dialog-search-options .fa-certificate:after {
    content: ".";
    position: absolute;
    right: 22px;
    top: 5px
}

.trv-search-dialog-search-options.k-widget .k-item:last-of-type {
    border: none;
    color: red
}

    .trv-search-dialog-search-options.k-widget .k-item.k-state-hover:last-of-type, .trv-search-dialog-search-options.k-widget .k-item:last-of-type > .k-link {
        background: 0 0;
        color: red;
        cursor: default
    }

.trv-search-dialog-search-options.k-widget .k-item.k-state-focused:last-of-type {
    box-shadow: none
}

.trv-search-dialog-navigational-buttons .k-item .k-link, .trv-search-dialog-search-options .k-item .k-link {
    padding: .2em .5em
}

.trv-search-dialog-results {
    margin: .7em 0 .3em
}

.trv-search-dialog-results-label {
    font-size: .8em;
    line-height: 2.5
}

.trv-search-dialog-navigational-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: right;
    background: 0 0;
    border: none
}

.trv-search-dialog-results-area {
    width: auto;
    font-size: .7em;
    padding: .2em;
    overflow: auto;
    min-height: 16em;
    max-height: 45em;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1
}

.trv-search-dialog-results-row {
    margin: .5em 0;
    padding: .5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden
}

    .trv-search-dialog-results-row span:first-child {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-right: 1em;
        display: block;
        float: left;
        width: calc(100% - 75px)
    }

    .trv-search-dialog-results-row .trv-search-dialog-results-pageSpan {
        -webkit-box-flex: none;
        -moz-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        float: left
    }

.trv-report-viewer .trv-search-dialog-highlighted-result {
    background-color: rgba(0,35,102,.3);
    color: #fff;
    background-image: none
}

.trv-search-dialog-shaded-result {
    background-color: rgba(255,140,0,.3)
}

.trv-send-email-dialog.trv-hidden {
    display: none
}

.trv-send-email-window {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column
}

.trv-send-email-fields {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%
}

.trv-send-email-inputs, .trv-send-email-labels {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column
}

.trv-send-email-inputs {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%
}

.trv-send-email-labels {
    max-width: 50%;
    margin-right: 10px
}

    .trv-send-email-labels label {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }

.trv-send-email-field, .trv-send-email-label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    padding-bottom: 20px
}

.trv-send-email-editor {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

textarea.trv-send-email-editor {
    padding: 10px;
    resize: vertical
}

.trv-send-email-actions {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    text-align: right;
    padding-top: 10px
}

.trv-send-email-editor table {
    margin: 0
}

.trv-send-email-field .k-invalid-msg {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0
}

    .trv-send-email-field .k-invalid-msg.-visible {
        opacity: 1
    }

.trv-send-email-field .k-dropdown-wrap .k-i-close {
    display: none
}

.trv-send-email-field .k-dropdown-wrap input {
    padding-right: 0
}

.trv-send-email-field .k-textbox {
    width: 100%
}

@media screen and (min-width:40.5em) {
    .trv-menu-small {
        display: none
    }
}

@media screen and (min-width:1px) and (max-width:40.5em) {
    .trv-side-menu {
        display: block;
        padding-top: .1em;
        left: -3em;
        transition: .1s
    }

    .trv-side-menu-visible .trv-side-menu {
        left: 0;
        width: 15em;
        padding-left: 0;
        transition: .5s
    }

    .trv-side-menu-visible .trv-report-viewer div.trv-content-wrapper {
        left: 15em;
        right: -15em;
        transition: .5s
    }

    .trv-menu-large {
        display: none
    }

    .trv-document-map {
        position: absolute;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .trv-parameters-area {
        position: absolute;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .trv-pages-area {
        position: absolute;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .trv-nav {
        left: 0;
        right: 0
    }

    .trv-parameters-area.trv-hidden ~ .trv-pages-area {
        right: 0
    }

    .trv-document-map.trv-hidden ~ .trv-pages-area {
        left: 0
    }
}
/* DO NOT MODIFY OR DELETE THIS LINE! UPGRADE WIZARD CHECKSUM EAF469BB9ABF9A8156F55F339D9BD306 */
