﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div class="radio-inline scroll-item" data-unique-selection="containerType">
    <label>
        <img height="180" width="180" src="~/Areas/Product/Images/ContainerType/ContainerType_UnitDose.png" />
        <br>Repackaged Unit Dose<br />
        @Html.RadioButtonFor(model => model.PolicyForm.ContainerType, string.Concat(PackageType.UnitDose.ToString(), "|", ContainerType.Open.ToString()), new { @class = "ContainerTypeRadio", data_index = @ViewBag.ContainerTypeIndex, data_ql_label = "Repackaged Unit Dose", data_ql_next = "#containerCondition", data_ql_default = "", form = "policyForm" })
    </label>
</div>