﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div class="radio-inline scroll-item" data-unique-selection="containerType">
    <label>
        <img height="180" width="180" src="~/Areas/Product/Images/ContainerType/ContainerType_Loose.png" />
        <br>Loose/No Container<br />
        @Html.RadioButtonFor(model => model.PolicyForm.ContainerType, string.Concat(PackageType.None.ToString(), "|", ContainerType.Loose.ToString()), new { @class = "ContainerTypeRadio", data_index = @ViewBag.ContainerTypeIndex, data_ql_label = "Loose/No Container", data_ql_next = "#containerCondition", data_ql_default = "", form = "policyForm" })
    </label>
</div>

