﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div class="radio-inline scroll-item" data-unique-selection="containerType">
    <label>
        <img height="180" width="180" src="~/Areas/Product/Images/ContainerType/ContainerType_Case.png" />
        <br>Case<br />
        @Html.RadioButtonFor(model => model.PolicyForm.ContainerType, string.Concat(PackageType.Original.ToString(), "|", ContainerType.Case.ToString()), new { @class = "ContainerTypeRadio", data_index=@ViewBag.ContainerTypeIndex, data_ql_label = "Case", data_ql_next = "#containerCondition", data_ql_default = "1", form = "policyForm" })
    </label>
</div>