﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.WrhsRecv.ViewModels.WrhsRecvViewModel

<div class="formMax" style="display: block;" id="DockReceivingBody">
    <table class="tableEx">
        <tr>
           <td class="tdPreview">
              <table class="tableEx" style="">
                 <tr><td class="inputRex" id="Count" style="text-align: center; font-size: 40px;"></td></tr>
                 <tr><td class="tdLabelRex" style="text-align: center; vertical-align: top; font-size: 10pt" editable readonly>Count</td></tr>
              </table>
           </td>
           <td class="DividerLine" style="height: 100px"></td>
           <td style="padding: 10px 0 0 10px;">
              <form class="formRex" method="post" action="#" data-ql-ajax="true" data-ql-target="#WrhsRecvDetail-target" data-ql-tab="search">
                 @Html.AntiForgeryToken()
                 <table id="newTable" class="tableEx">
                    <tr>
                       <td colspan="3">
                          <input id="Carrier" type="text" nextfocus="Date" prevfocus="" class="inputRex editable carrierCodeField" value="@Model.SelectedDockModel.Carrier" data-field-value="@Model.SelectedDockModel.CarrierID" list="carrierList" required editable readonly disabled />
                          <datalist id="carrierList"></datalist>
                       </td>
                       <td rowspan="2" class="DividerLine"></td>
                       <td style="width: 175px;">
                          <input id="Date" class="inputRex editable" type="text" style="text-align: center" placeholder="mm/dd/yyyy" nextfocus="Notes" prevfocus="Carrier" maxlength="64" readonly disabled />
                       </td>
                    </tr>
                    <tr>
                       <td class="tdLabelRex" colspan="3">Carrier</td>
                       <td class="tdLabelRex" style="text-align: center">Date</td>
                    </tr>
                    <tr style="height: 2px"></tr>
                    <tr>
                       <td class="tdLabelRex" style="width: 35px; vertical-align: top; font-size: 10pt">Note:</td>
                       <td rowspan="2" class="">
                          <textarea id="Notes" rows="2" class="textareaRex editable" style="" nextfocus="" prevfocus="Date" type="text" maxlength="1024" readonly ></textarea>
                       </td>
                    </tr>
                 </table>
              </form>
           </td>
        </tr>
    </table>
</div>
