﻿@model Qualanex.QoskCloud.Web.Areas.WrhsRecv.ViewModels.WrhsRecvViewModel

<div id="WrhsRecvTracking">
   <div class="QoskSegment">
      <div>
         <table>
            <tr class="identificationForm" id="trackingBody">
               <td class="QnexGrid QnexContent level0">
                  <table>
                     <tr style="height: 145px">
                        <td>
                           <table class="panelHolder" style="height: 140px; top: 0">
                              <tr>
                                 <td>
                                    <table class="leftPanel">
                                       <tr>
                                          <td class="trackingNumberCell">
                                             <input type="text" class="ctrlInput ECS_RCVGBARCODE editable" id="ID_TRKNO" prevfocus="" nextfocus="ID_RA" placeholder="Enter Tracking Number" autocomplete="off" maxlength="64" />
                                             <div class="ctrlName">TRACKING NUMBER</div>
                                          </td>
                                          <td class="trackingLockedCell">
                                             <img id="ID_Lock_TrackingNumber" src="~/Images/Segments/DockDoor_IdentificationPanel/Identification_LockIcon(OFF).svg" title="Lock the Tracking Number" />
                                             <input type="hidden" name="identCtrlTrackingLocked" id="IDENT_CTRL_TRACKING_LOCKED" value="0" autocomplete="off" />
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="notForProcessingCell">
                                             <input type="button" class="ctrlButton" id="btn_not_processing" value="NOT FOR PROCESSING" autocomplete="off" disabled />
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                                 <td class="panelSeparator">
                                    <img class="separatorDivider" src="/Images/Segments/DockDoor_IdentificationPanel/Identification_DividerCondensed.svg" />
                                    <img id="IDENT_FIRST_ARROW" src="/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(OFF).svg" />
                                    <img class="separatorDivider" src="/Images/Segments/DockDoor_IdentificationPanel/Identification_DividerCondensed.svg" />
                                 </td>
                                 <td>
                                    <table class="centerPanel">
                                       <tr>
                                          <td class="fieldsCell" colspan="2">
                                             <table style="width: 100%; height: 100%">
                                                <tr>
                                                   <td>
                                                      <input type="text" class="ctrlInput editable" id="ID_RA" prevfocus="ID_TRKNO" nextfocus="ID_SUBMIT_VALUE" placeholder="Enter RA Number" maxlength="40" autocomplete="off" readonly disabled />
                                                      <div class="ctrlName">RA NUMBER</div>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td>
                                                      <input type="text" class="ctrlInput editable" id="ID_WPT" prevfocus="ID_TRKNO" nextfocus="ID_SUBMIT_VALUE" placeholder="Enter WPT Number" autocomplete="off" readonly disabled />
                                                      <div class="ctrlName">WPT NUMBER</div>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="buttonCell" style="text-align: left">
                                             <input type="button" class="ctrlButton" id="IDENT_CMD_PRINT" value="PRINT" autocomplete="off" />
                                          </td>
                                          <td class="buttonCell" style="text-align: right">
                                             <input type="button" class="ctrlButton" id="ID_NO_RA" value="NO RA/WPT" autocomplete="off" disabled />
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                                 <td class="panelSeparator">
                                    <img class="separatorDivider" src="/Images/Segments/DockDoor_IdentificationPanel/Identification_DividerCondensed.svg" />
                                    <input type="submit" class="ctrlArrow" id="ID_SUBMIT_VALUE" prevfocus="ID_RA" nextfocus="" title="Save and Display the Route" disabled />
                                    <img class="separatorDivider" src="/Images/Segments/DockDoor_IdentificationPanel/Identification_DividerCondensed.svg" />
                                 </td>
                                 <td>
                                    <table class="rightPanel">
                                       <tr>
                                          <td>
                                             <table class="routeReference">
                                                <tr>
                                                   <td>
                                                      <img class="routeLegend" src="/Images/Segments/DockDoor_IdentificationPanel/LegendSquare_Red.svg" />Vault
                                                   </td>
                                                   <td>
                                                      <img class="routeLegend" src="/Images/Segments/DockDoor_IdentificationPanel/LegendSquare_Blue.svg" />Floor
                                                   </td>
                                                   <td>
                                                      <img class="routeLegend" src="/Images/Segments/DockDoor_IdentificationPanel/LegendSquare_Orange.svg" />Cage
                                                   </td>
                                                   <td>
                                                      <img class="routeLegend" src="/Images/Segments/DockDoor_IdentificationPanel/LegendSquare_DarkGreen.svg" />Island
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <table class="routeData">
                                                <tr>
                                                   <td id="ID_ROUTEVALUE" class="routeDisplay routeNone" style="background-image: none">
                                                      <span>--</span>
                                                      <div class="routeClassLegend">ROUTE</div>
                                                   </td>
                                                   @*NOTE: we're currently not implementing the special 'S' class as per 3D Rex redesign. Here's the code that needs to be activated if the class will be utilized in the future.
                                                      Daniel Bazan
                                                      <td class="routeLinkCell">
                                                         <img class="routeLink" src=""/>
                                                      </td>
                                                      <td>
                                                         <table class="routeClass">
                                                            <tr><td>&nbsp;</td></tr>
                                                            <tr>
                                                               <td>
                                                                  <div class="routeClassDisplay routeClassNone">&nbsp;</div></td></tr>
                                                            <tr>
                                                               <td>
                                                                  <div class="routeClassLegend">Class</div></td></tr>
                                                         </table>
                                                      </td>*@
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           @Html.Partial("_WrhsRecvDetails", Model.WrhsRecvTrackingList)
                        </td>
                     </tr>
                  </table>
               </td>
         </table>
      </div>
   </div>
</div>
<script>

   if ($("#ID_TRKNO").val() === "")
   {
      $("#ID_TRKNO").focus();
   }
</script>
