﻿@using Qualanex.QoskCloud.Web.Areas.WrhsRecv.ViewModels
@{
   var dates = "";
   var dateGroup = -1;
}

<div id="DockReceivingGridSummary">
   <div class="formExDivFilter hidden">
      @{ var criteria = new WrhsRecvModel();}
      <form action="@Url.Action("ViewDataRequest")" data-grid-name="#searchGrid" data-div-id="#DockReceivingGridSummary" data-grid-options="">
         <table>
            <tr>
               <td>
                  <table>
                     <tr>
                        <td>
                           <input class="FilterRcvdFromDate inputFilter inputRex" type="text" data-default-value="" value="" name="@Html.NameFor(model => criteria.Date)" />
                        </td>
                        <td>
                           <input class="FilterRcvdToDate inputFilter inputRex" type="text" data-default-value="" value="" name="@Html.NameFor(model => criteria.ModifiedDate)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Rcvd From</td>
                        <td class="tdLabelRex">Rcvd To</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input class="FilterTrackingNumber inputFilter inputRex" type="text" data-default-value="" style="width: 100%" value="" name="@Html.NameFor(model => criteria.TrackingNumber)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Tracking Number</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <table>
                     <tr>
                        <td>
                           <input type="text" data-default-value="" value="" class="ECS_INTEGER FilterRA inputFilter editable inputRex" style="width: 100%" name="@Html.NameFor(model => criteria.RaOrWpt)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">RA</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table>
                     <tr>
                        <td>
                           <input type="text" data-default-value="" value="" style="width: 100%" class="FilterCarrier inputFilter inputRex" name="@Html.NameFor(model => criteria.Carrier)" />
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabelRex">Carrier</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <input type="hidden" data-default-value="@criteria.LoadAtHeight" value="@criteria.LoadAtHeight" name="@Html.NameFor(model=> criteria.LoadAtHeight)" />
         <input type="hidden" data-default-value="@criteria.PreviousCount" value="@criteria.PreviousCount" name="@Html.NameFor(model=> criteria.PreviousCount)" />
         <input type="hidden" data-default-value="@criteria.InitialLoadCount" value="@criteria.InitialLoadCount" name="@Html.NameFor(model=> criteria.InitialLoadCount)" />
      </form>
   </div>
   <div class="QoskSegment">
      <table>
         <tr>
            <td class="QnexGrid QnexContent level0">
               <table id="searchGrid" class="display recvSummaryTabCol infiniteScroll filterableGrid" cellspacing="0" style="width:95%; max-width: 1040px">
                  <thead>
                     <tr class="collapse in">
                        <th hidden></th>
                        <th style="text-align: center; max-width: 160px">Date</th>
                        <th>Carrier</th>
                        <th>Count</th>
                        <th hidden></th>
                        <th hidden></th>
                        <th hidden></th>
                        <th hidden></th>
                     </tr>
                  </thead>
                  <tbody>


                     @foreach (var item in Model.WrhsRecvDetails)
                     {
                        if (dates != item.Date)
                        {
                           dateGroup = (dateGroup + 1) % 3;
                        }

                        <tr dateRow="@dateGroup" class="WrhsRecvDetail-div-click infiniteScrollRow MgmtEntity @if (dates != item.Date && !string.IsNullOrWhiteSpace(dates))
                                                                                             {
                                                                                                @: firstRow
                                                                                             }"
                            MgmtEntity-id="@item.CarrierID"
                            MgmtEntity-data="entity=@Json.Encode(item)"
                            MgmtEntity-action=""
                            MgmtEntity-target="#formMax">
                           <td exchange="DateHidden" exchange-value="@item.Date" hidden></td>
                           @if (string.IsNullOrWhiteSpace(dates))
                           {
                              dates = item.Date;
                           }
                           else
                           {
                              if (dates == item.Date)
                              {
                                 item.Date = "";
                              }
                              else
                              {
                                 dates = item.Date;
                              }
                           }
                           <td class="whiteTextCol dateRow_@dateGroup" exchange="Date" exchange-value="@dates" style="
                                                          @if (string.IsNullOrWhiteSpace(item.Date))
                                                          {
                                                             @: border-color: transparent
                                                          }">
                              <span @if (string.IsNullOrWhiteSpace(item.Date)) { @: style="display:none"
                                    }>
                                 @dates
                              </span>
                           </td>
                           <td exchange="Carrier" exchange-value="@item.Carrier">@item.Carrier</td>
                           <td exchange="Count" exchange-value="@item.Count">@item.Count</td>
                           <td exchange="PackageName" exchange-value="@item.PackageName" hidden></td>
                           <td exchange="PackageCode" exchange-value="@item.PackageCode" hidden></td>
                           <td exchange="CarrierID" exchange-value="@item.CarrierID" hidden></td>
                           <td exchange="StageDate" hidden
                               @if (item.StagingDate) { @: exchange-value="1"
                               } else { @: exchange-value="0"
                               }></td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
<script>
   $(document).ready(function()
   {
      Number.prototype.padLeft = function(base, chr)
      {
         var len = (String(base || 10).length - String(this).length) + 1;
         return len > 0 ? new Array(len).join(chr || "0") + this : this;
      }

      var today = new Date();
      today = [(today.getMonth() + 1).padLeft(),
         today.getDate().padLeft(),
         today.getFullYear()].join("/");

      var fromToday = new Date(Date.now() - 2592e6);
      fromToday = [(fromToday.getMonth() + 1).padLeft(),
         fromToday.getDate().padLeft(),
         fromToday.getFullYear()].join("/");

      var date = '@ViewBag.Date' === "" && $(".FilterRcvdFromDate").attr("data-default-value") !== ""
                    ? ""
                    : $(".FilterRcvdFromDate").attr("data-default-value") === "" && '@ViewBag.Date' === ""
                      ? fromToday
                      : '@ViewBag.Date';
      var toDate = '@ViewBag.ToDate' === "" && $(".FilterRcvdToDate").attr("data-default-value") !== ""
                      ? ""
                      : $(".FilterRcvdToDate").attr("data-default-value") === "" && '@ViewBag.ToDate' === ""
                        ? today
                        : '@ViewBag.ToDate';

      if (date !== "" && $(".FilterRcvdFromDate").attr("data-default-value") === "")
      {
         $(".FilterRcvdFromDate").attr("data-default-value", date);
         $(".FilterRcvdToDate").attr("data-default-value", toDate);
      }

      $(".FilterRcvdFromDate").val(date);
      $(".FilterRcvdFromDate").attr("value", date);
      $(".FilterRcvdToDate").val(toDate);
      $(".FilterRcvdToDate").attr("value", toDate);

      if (window.onGridReload !== undefined)
      {
         window.onGridReload();
      }

      //Timeout has to be set so that the datatable finishes rendering before the below runs
      setTimeout(function()
      {
         $("#DockReceivingGridSummary .dataTables_scrollBody").on("scroll", extendInfiniteProductScroll);
      }, 100);
   });
</script>
