﻿@{
   var trckNo = "";
   var parentId = 0;
   var rowId = 0;
   var hasStaged = false;
}
<div id="WrhsRcvDetailsGrid">

   <table id="searchGrid_WrhsRcvDetails" class="display recvTrkTabCol" cellspacing="0" style="width:95%; max-width: 1050px">
      <thead>
         <tr class="collapse in">
            <th style="text-align: center; max-width: 40px"><img src="/images/SVG/TrashTemplate.svg" class="TrkNbrListDel" style="cursor: pointer; width: 15px" /></th>
            <th hidden>Tracking Number Full</th>
            <th>Tracking Number</th>
            <th hidden></th>
            <th style="text-align: center; max-width: 40px"><img src="/images/SVG/TrashTemplate.svg" class="RaWptListDel" style="cursor: pointer; width: 15px" /></th>
            <th>RA/WPT Number</th>
            <th>External RA</th>
            <th style="max-width: 225px">Route</th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {

            if (string.IsNullOrWhiteSpace(trckNo))
            {
               hasStaged = item.HasStge;
               trckNo = item.TrackingNumber;
               parentId = 0;
            }
            else
            {
               if (trckNo.ToUpper() == item.TrackingNumber.ToUpper())
               {
                  trckNo = item.TrackingNumber;
                  item.TrackingNumber = "";
                  parentId = rowId;
               }
               else
               {
                  hasStaged = item.HasStge;
                  trckNo = item.TrackingNumber;
                  parentId = 0;
               }
            }
            rowId++;

            if (item.TypeCode == "NP")
            {
               item.RA = "Not for Processing";
            }
            else if (item.TypeCode == "NR")
            {
               item.RA = "N/A";
            }

            //display the appropriate Island location (vault, cage)
            var trkRoute = item.RouteNumber == "96" ? "Vault " + item.Route : item.RouteNumber == "97" ? "Cage " + item.Route : item.Route;
            //Special Handling is unique in that we don't need its route code
            var routeClass = "Qosk_" + (item.RouteNumber == "6" ? "SpecialHandling" : item.Route + item.RouteNumber);

            <tr class="searchGrid_WrhsRcvDetails-div-click"
                name="SearchListItem"
                WrhsRecvDetail-method="post"
                data-row-id="@item.TrackingID"
                data-ql-ajax="true"
                WrhsRecvDetail-action=""
                rows-id="@rowId"
                parent-id="@parentId"
                hasStaged ="@hasStaged"
                WrhsRecvDetail-target="#formMax">
               <td class="gridChkBox">
                  <img src="/images/SVG/Staged.svg" class="TrckgStaged" style="width: 15px"
                       @if ((parentId == 0 && !hasStaged) || parentId !=0) { @: hidden
                       } />
                  <input class="trkChkBox CheckboxRex" type="checkbox" data-field-value="@trckNo"
                         @if ((parentId == 0 && hasStaged) || parentId !=0) { @: hidden
                         } />
               </td>
               <td exchange="TrackingNumberFull" exchange-value="@trckNo" hidden>
                  <span @if (string.IsNullOrWhiteSpace(item.TrackingNumber)) { @: style="display:none"
                        }>
                     @trckNo
                  </span>
               </td>

               <td exchange="TrackingNumber" exchange-value="@trckNo">
                  <span @if (string.IsNullOrWhiteSpace(item.TrackingNumber)) { @: style="display:none"
                        }>
                     @trckNo
                  </span>
               </td>
               <td exchange="TrackingID" exchange-value="@item.TrackingID" hidden>@item.TrackingID</td>
               <td class="gridChkBox">
                  <img src="/images/SVG/Staged.svg" class="RaWptStaged" style="width: 15px"
                       @if (!item.StagingDate) { @: hidden
                       } />
                  <input class="RaWptChkBox CheckboxRex" type="checkbox" data-field-value="@item.TrackingID"
                         @if (item.StagingDate) { @: hidden
                         } />
               </td>
               <td exchange="RA" exchange-value="@item.RA">
                  @item.RA
               </td>
               <td exchange="ExtRA" exchange-value="@item.RaOrWpt">
                  @item.RaOrWpt
               </td>
               <td exchange="Route" exchange-value="@item.Route" style="padding: 0; border-right: 0">
                  <div class="@routeClass" style="width:100%; height: 100%; background-image: none; padding: 8px;">
                     @trkRoute
                  </div>
               </td>
               <td exchange="TypeCode" exchange-value="@item.TypeCode" hidden>@item.TypeCode</td>
               <td exchange="LastChange" exchange-value="0" hidden></td>
               <td exchange="StagingDate" @if (item.StagingDate) { @: exchange-value="1"
                   } else { @: exchange-value="0"
                   } hidden></td>
            </tr>
         }
      </tbody>
   </table>
</div>
<script>
   $(document).ready(function ()
   {
      window.dtHeaders("#searchGrid_WrhsRcvDetails", "max-height:350px,ordering: false", ["sorting"], []);
      $("#searchGrid_WrhsRcvDetails_filter .dataTables_scroll table.dataTable thead tr th").removeClass("sorting");
   });
</script>
