﻿@model Qualanex.QoskCloud.Web.Areas.WrhsRecv.ViewModels.WrhsRecvViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/WrhsRecv/Views/_Layout.cshtml";
}

@Html.Partial("_Wait")
@Html.Partial("AlertPopupView")

@foreach (var items in Model.WrhsSoundFiles)
{
   <audio id="ID_@items.Route" src="@items.Alert" style="display:none"></audio>

}
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.AppletKey">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    *display: block;
                                    width: 130px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr><td class="formLabel">Dock Receipt</td></tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_WrhsRecvForm", Model)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="_QoskActionbar">
                           <ul class="ActionTabs" style="margin-left: 4px;">
                              <li class="ActionTab"><a href="#tabs-summary"><span id="tab-title-summary">Summary</span></a></li>
                              <li class="ActionTab"><a href="#tabs-tracking"><span id="tab-title-tracking">Tracking</span></a></li>
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_NEW" class="actionIcon" title="Add new record" src="/Images/Actionbar/ActionBar_Add(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_EDIT" class="actionIcon" title="Edit selected record" src="/Images/Actionbar/ActionBar_Edit(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_SAVE" class="actionIcon" title="Save changes made to the selected record" src="/Images/Actionbar/ActionBar_Save(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CANCEL" class="actionIcon" title="Cancel and revert all changes made to the selected record" src="/Images/Actionbar/ActionBar_Cancel(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       @Html.Partial("_WrhsRecvFilter", Model)
                                       @Html.Partial("_ActionMenu", Model.ActionMenu)
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table class="QnexWorkbook">
                              <tr><td class="QnexHeader">&nbsp;</td></tr>
                              <tr>
                                 <td>
                                    <table class="QnexFrame">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             <div class="ql-body QnexWorksheet QnexScrollbar" id="tabs-summary">
                                                @Html.Partial("_WrhsRecvSummary", Model)
                                             </div>

                                             <div class="ql-body QnexWorksheet QnexScrollbar" id="tabs-tracking">
                                                @Html.Partial("_WrhsRecvTracking", Model)
                                             </div>

                                             <script>
                                                $("#tab-container").easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin"></td>
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/js/QoskMgmt.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/WrhsRecv/js/WrhsRecv.js"></script>

}
