﻿/*Reset CSS*/
* {
margin: 0;
padding: 0;
}

html, body {
min-height: 100%;
}

body {
font-family: "Helvetica", Arial, sans-serif;
font-size: 14px;
background: #fafafa;
color: #595859;
position: relative;
}

html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
content: "";
display: table;
}

.clearfix:after {
clear: both;
}



h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

strong {
font-weight: bold;
}

div {
display: block;
}
.caret{
    border-top-color: #fff;
}
.left {
float: left;
}

.right {
float: right;
}

.clear-left {
clear: left;
}

.clear-right {
clear: right;
}

select::-ms-expand {
display: none;
}
/* For IE browser*/

textarea {
color: #333;
width: 100%;
padding: 5px;
border-radius: 4px;
border: 1px solid #bcbfc1;
-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
}

/*Custom Radio Button CSS*/
input[type=radio] {
position: absolute;
z-index: -1000;
left: -1000px;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}

input[type=radio] + label.css-label, input[type=radio] + label.css-label.clr {
padding-left: 25px;
height: 19px;
display: inline-block;
line-height: 18px;
background-repeat: no-repeat;
background-position: 0 -23px;
font-size: 13px;
vertical-align: middle;
cursor: pointer;
text-align: left;
width: auto;
}

input[type=radio]:checked + label.css-label, input[type=radio] + label.css-label.chk {
background-position: 0 -3px;
}

label.css-label {
background-image: url(../images/radio-button.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

input[type=checkbox].css-label {
background-image: url(../images/radio-button.png);
width: 50%;
text-align: center;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}


/*Page style CSS*/
.header {
background: #FFF;
height: 84px;
position: relative;
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.37);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.37);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.37);
}

.header .logo {
position: absolute;
left: 20px;
top: 10px;
}

.header .login {
position: absolute;
right: 20px;
top: 10px;
background: url(../images/login-icon.png) no-repeat left center;
padding-left: 30px;
}

.header .login a {
color: #6a9a37;
font-size: 16px;
text-decoration: none;
}

.header .login a:hover {
color: #000;
}

.header ul {
list-style: none;
float: right;
margin: 50px 100px 0 0;
}

.header ul li {
float: left;
color: #8d8e8e;
font-size: 16px;
font-weight: bold;
}

.header ul li a {
display: inline-block;
color: #3983bd;
padding: 0 10px;
text-decoration: none;
}

.header ul li a:hover {
color: #89bb4a;
}

.header .logout {
position: absolute;
right: 20px;
top: 10px;
background: url(../images/logout-icon.png) no-repeat left center;
padding-left: 30px;
}

.header .logout a {
color: #6a9a37;
font-size: 16px;
text-decoration: none;
line-height: 30px;
}

.header .welcome {
position: absolute;
top: 16px;
right: 114px;
color: #c2c2c2;
font-size: 14px;
}

.header .logout a:hover {
color: #000;
}

.container {
display: inline-block;
width: 100%; /*margin-top:60px;*/
}

.container p {
margin-bottom: 10px;
}

.container h1 {
color: #63ad07;
font-size: 20px;
font-weight: bold;
margin: 0;
}

.container h1 span {
color: #3786c1;
}

.footer {
border-top: 4px solid #89bb4a;
padding: 15px 0;
text-align: center;
font-size: 11px;
color: #afafae;
/*position: absolute;*/
bottom: 0;
right: 0;
background: #fff;
}

/*Product Page CSS*/
.left-navigation {
border-top: 35px #3079b0 solid;
position: absolute;
width: 234px;
background: #3786c1;
height: 100%;
/*overflow-x: hidden;  bottom: 0px;
padding-top: 143px; overflow-:auto;*/
}

.left-navigation .top-select-box {
padding: 10px 20px;
}

.left-navigation ul {
list-style: none;
border-top: 1px solid #2e7ab3;
display: block;
}

.left-navigation li {
list-style: none;
border-bottom: 1px solid #2e7ab3;
padding: 1px;
}

.left-navigation li a {
display: block;
font-weight: bold;
font-size: 17px;
color: #FFF;
text-decoration: none;
line-height: 40px;
padding-left: 60px;
background-image: url(../images/sprit-images.png);
background-repeat: no-repeat;
}

.left-navigation li a:hover {
background-color: #045b9d;
}

.left-navigation li a.active {
background-color: #045b9d;
}

.left-navigation li a.description-icon {
background-position: 13px 0px;
}

.left-navigation li a.lot-icon {
background-position: 13px -39px;
}

.left-navigation li a.pricing-icon {
background-position: 11px -83px;
}

.left-navigation li a.waste-icon {
background-position: 11px -122px;
}

.left-navigation li a.mfgimages {
background-position: 11px -165px;
}

.left-navigation li a.rpkgimages {
background-position: 11px -205px;
}

.left-navigation li a.imports {
background-position: 11px -246px;
}

.left-navigation li a.exports {
background-position: 11px -286px;
}

.left-navigation li a.administrative {
background-position: 11px -325px;
}

.nav-btn {
cursor: pointer;
background: #8fbd49;
width: 30px;
z-index: 100;
padding-bottom: 5px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
position: absolute;
top: 143px;
left: 0;
}

.nav-btn span {
width: 16px;
height: 4px;
background: #FFF;
display: block;
margin: 4px auto 0 auto;
}

.main-container {
margin: 0px 20px 20px 20px !important; /*padding-bottom:20px;*/
}

.product-box {
background: #89bb4a;
border: 1px solid #669609;
padding: 20px 10px 0px 10px;
margin-bottom: 20px;
border-radius: 4px;
}

.product-box h1 {
font-size: 16px;
color: #fff;
font-weight: bold;
padding-bottom: 10px;
margin-bottom: 12px;
border-bottom: 1px solid #669609;
margin-top: 0px;
}

.product-box h1 .editbutton {
font-size: 12px;
color: #ffffff;
padding: 4px 8px;
cursor: pointer;
float: right;
margin-right: 8px;
margin-top: -6px;
min-width: 80px;
}

.product-box .adjust_btn_360 input {
margin-top: -29px;
}

.physician-box h1 .adjust_btn_360 input {
margin-top: -29px;
}

.physician-box {
background: #f3f2f2;
border: 1px solid #bcbfc1;
padding: 10px 10px 0 10px;
margin-bottom: 20px;
border-radius: 4px;
}

.physician-box h1 {
font-size: 16px;
color: #045b9d;
font-weight: bold;
padding-bottom: 10px;
margin-bottom: 12px;
border-bottom: 1px solid #bcbfc1;
padding-top: 10px;
}

.physician-box h1 .editbutton {
font-size: 12px;
color: #ffffff;
padding: 4px 8px;
cursor: pointer;
float: right;
margin-right: 8px;
margin-top: -6px;
min-width: 80px;
}

.col-33per {
width: 33%;
float: left;
margin-top: 10px;
}

.input-ctrl {
width: 99%; /*display:block;*/
display: table;
margin-bottom: 15px;
}

.input-ctrl label.label-inner {
float: left;
width: 50px;
text-align: left;
padding-top: 10px;
}

.input-ctrl label {
width: 40%; /*display:inline-block; margin-right:2%;*/
display: table-cell;
vertical-align: middle;
padding-right: 2%;
font-size: 13px;
color: #282828;
text-align: right;
}

.input-ctrl .radio-label {
width: 45%; /*display:inline-block; margin-right:2%;*/
display: table-cell;
vertical-align: middle;
padding-right: 2%;
font-size: 13px;
font-weight: bold;
color: #282828;
text-align: right;
}

.input-ctrl .field { /*width:51%;*/ /*display:inline-block;*/
display: table-cell;
vertical-align: middle;
}

.left-234 {
left: -234px;
}

.margin-37 {
margin-left: 37px;
}

.width700 {
width: 700px;
}

.product-box .content-hidden {
}

.product-box .content-show {
display: block;
}

.physician-box .content-hidden {
display: none;
}

.physician-box .content-show {
display: block;
}
/*-----------updated for login page--------------

.login-box-container{ margin:80px auto 0; width:600px; background:#045b9d; padding:0; height:270px;}
.login-box{ margin:0 auto; width:600px; background:url(../images/login-box.png) no-repeat; height:290px;}
.login-box-logo{ float:left; width:204px; margin-top:14px; padding:36px 0; background:url(../images/login-vertical-sprator.png) right 30px no-repeat;}
.login-field-box{ float:left; width:552px; margin:0px 0 0 24px; }
.login-heading{ float:left; width:100%; background:url(../images/horizontal-seprator.png) left bottom no-repeat; border-bottom:1px dashed #fff; padding:20px 0; font-size:16px; color:#fff;}
.login-fields{ float:left; width:100%; padding:24px 0 0 0;}
.field-seperator{ float:left; width:100%; margin:0 0 18px 0;}
.input-title{ float:left; width:180px; text-align:right; color:#fff; font-size:14px; margin-right:10px; padding-top:6px;}
.input-login-container{float:left; width:200px;}
.input-white{ background-color:#fff; font-size:14px; color:#000; border:1px solid #9c8b3a; padding:6px; width:204px;}
.forgot-password{ float:right; text-align:right; color:#fff; text-decoration:underline; font-size:12px; width:104px; margin-right:164px; padding-top:6px;}
.submit-btn-container{float:left; margin-left:188px;}
.login-submit-btn{display:block; background:url(../images/login-btn.png) no-repeat; width:95px; height:38px; font-size:0px; cursor:pointer; outline:none; border:0;}*/

table {
border-collapse: collapse;
border-spacing: 0;
border: 0 none;
}

table thead th, table tfoot th, table thead td, table tfoot td {
}

table thead th:first-child, table tfoot th:first-child, table thead td:first-child, table tfoot td:first-child {

}

/*table thead th, table thead td {
background-color: #30ace0;
color: #fff;
padding: 7px 10px;
border: 1px solid #DDD;
border-left: 0;
text-align: left;
}

table th, table td {
line-height: 21px;
vertical-align: middle;
color: #333;
}*/


/* The following code will make the footer crawl up and down the screen when resizing horizontally in Reports.
   But only in Chrome...
*/
/*table tbody tr td {
padding: 4px 8px;
border-right: 1px solid #EEE;
border-bottom: 1px solid #EEE;
color: #666;
vertical-align: top;
border-top: 1px solid #EEE;
}

table tbody tr:last-child td {
border-bottom: 1px solid #DDD;
}

table tbody tr td:first-child {
border-left: 1px solid #DDD;
}

table tbody tr td:last-child {
border-right: 1px solid #DDD;
}*/

th.asc a, th.desc a {
margin-right: .75em;
}

th.asc a:after, th.desc a:after {
display: block;
position: absolute;
right: 0em;
top: 0;
font-size: 0.75em;
}

th.asc a:after {
content: '▲';
}

th.desc a:after {
content: '▼';
}

tr.pager td {
padding: 0 0.25em 0 0;
}

.btnimage {
background: url("../images/GridImage/icon-edit.jpg") no-repeat;
width: 28px;
height: 14px;
display: block;
margin: 0 auto;
}

.btndeleteimage {
background: url("../images/GridImage/icon-delete.jpg") no-repeat;
width: 18px;
height: 18px;
display: block;
margin: 0 auto;
}

.btnEditimage {
background: url("../images/edit-icon.png") no-repeat center center;
width: 28px;
height: 25px;
display: block;
margin: 0 auto;
border: none;
cursor: pointer;
}

.btnpolicyimage {
background: url("../images/policy-icon.png") no-repeat center center;
width: 28px;
height: 25px;
display: block;
margin: 0 auto;
border: none;
cursor: pointer;
}

.btnwholesalerimage {
background: url("../images/wholesaler-icon.png") no-repeat center center;
width: 28px;
height: 25px;
display: block;
margin: 0 auto;
border: none;
cursor: pointer;
}

.btndivestedimage {
background: url("../images/lot-icon.png") no-repeat center center;
width: 28px;
height: 25px;
display: block;
margin: 0 auto;
border: none;
cursor: pointer;
}

.table-width {
width: 99%;
}

.table-width table {
width: 100%;
}
/* product-list start */
.product-list {
width: 100%;
margin: 0 auto;
}

.product-list > h1 {
font-size: 20px;
color: #266ea0;
text-transform: uppercase;
padding: 10px 0;
font-weight: bold; /*margin:0 0 25px;*/
}

.product-list > .top_heading > h1 {
font-size: 20px;
padding: 10px 0;
color: #266ea0;
text-transform: uppercase;
font-weight: bold;
}

.product-box2 {
border: 2px solid #2d81bd;
width: 100%;
padding: 4px;
background: #ffffff;
}



.search-box > h1 {
font-size: 20px;
font-weight: bold;
color: #fff;
margin: 0 0 15px;
}

.search-box ul {
list-style: none;
margin: 0;
padding: 0;
}

.search-box li { /*width:33%; display:inline-block;*/
margin: 0 0 15px;
height: 34px;
}

.search-box li label {
font-size: 14px;
color: #fff;
font-weight: normal;
text-align: left;
display: block;
text-overflow: ellipsis;
white-space: nowrap;
margin-bottom: 3px;
}

.search-box li label strong {
vertical-align: top;
}

.search-box li label div {
display: inline-block;
white-space: normal;
}

.search-box li .sm-box label {
width: 50%;
text-align: left;
float: left;
}
/*Top product page radio*/
.search-box li input {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3px 10px;
border: 0;
color: #333333;
font-size: 12px;
width: 100%;
height: 22px;
}

.search-box li select {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0;
color: #333333;
font-size: 12px;
width: 100% !important;
height: 22px;
}

.search-box li:nth-child(3n+3) {
text-align: left;
}

.search-box li input:focus {
background-image: none;
padding-left: 10px;
}

.search-btn {
width: 100%;
text-align: right;
}

.search-btn input, .search-btn a {
border: 1px solid #69a83c;
cursor: pointer;
margin-left: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 4px 8px;
font-size: 13px;
font-weight: normal;
color: #fff;
background: linear-gradient(to bottom, #a7cb44 0%,#69a83c 100%);
min-width: 80px;
display: inline-block;
text-align: center;
/* Old browsers */
}


.product-table {
width: 100%;
}

.product-table table {
width: 100%;
}

.product-table td {
padding: 10px;
border-right: 1px solid #fcfdf9;
font-size: 14px;
text-align: center;
}

.product-table tr:nth-child(even) {
background: #f1ffe1;
}

.product-table tr:nth-child(odd) {
background: #ddf0c8;
}



.product-table tr:first-child td {
color: #ffffff;
}

.view-btn {
background: url(../images/view-icon.png) no-repeat center center;
width: 28px;
height: 25px;
border: 0;
cursor: pointer;
display: block;
margin: 0 auto;
}

.policy-btn {
background: url(../images/policy-icon.png) no-repeat;
width: 18px;
height: 18px;
border: 0;
cursor: pointer;
display: block;
margin: 0 auto;
}

.delete-btn {
background: url(../images/delete-icon.png) no-repeat center center;
width: 18px;
height: 25px;
border: 0;
cursor: pointer;
display: block;
margin: 0 auto;
}

.history-btn {
background: url(../images/history.png) no-repeat;
width: 21px;
height: 18px;
border: 0;
cursor: pointer;
}

.product-pagi {
width: 100%;
margin: 15px 0;
text-align: right;
display: inline-block;
}

.product-table > table > tbody > tr > td > label > input[type="checkbox"] {
width: auto;
cursor: pointer;
visibility: hidden;
}

.product-table > table > tbody > tr > td > label > i {
display: inline-block;
padding: 0px;
height: 15px;
width: 15px;
background: url(../images/checkbox.png);
}

.product-table > table > tbody > tr > td > label > input:checked + i {
background: url(../images/checkbox.png);
background-repeat: no-repeat;
background-position: center -16px;
}
/* product-list start */
.field-validation-error {
padding: 2% 0;
color: #FF0000;
}

.input-validation-error {
border: 1px solid #bcbfc1 !important;
}

.add-btn {
text-align: right;
margin-bottom: 10px;
}



.profile-Select {
width: 60%;
}



/*button style */




/*button style*/
.margin-left {
width: 130px;
height: 130px;
float: right;
margin-bottom: 20px;
margin-left: 10px;
}



.browse-area {
position: relative;
}

.browse-hide {
position: absolute;
left: 0;
-moz-opacity: 0;
opacity: 0;
z-index: 2;
width: 100px;
cursor: pointer;
}

.browse-btn {
border: 1px solid #2e7eb6;
padding: 3px 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
color: #fff;
background: #3079b0;
}

.save-update-btn .blue-btn {
padding: 3px 13px;
margin: 8px 5px 0 0;
}

/* custom search */
.custom-search { /*background:url(../images/custom-search.png) no-repeat 10px center; float:left;*/
}

.custom-search-box {
   width: 745px;
   position: relative;
   margin: 0 auto;
   display: none;
   padding-bottom: 20px;
   border: 1px solid #2a669f;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius:10px;
   background: #e1e5e9;
}

.custom-search-box h3 {
width: 20%;
text-align: center;
   font: 16px eras_medium, "Eras Medium ITC", sans-serif;
   color: black;
padding: 10px 0 10px;
margin: 0 60px;
}

.custom-grid-area-header {
   font: 10px eras_medium, "Eras Medium ITC", sans-serif;
}

.custom-search-area, .custom-grid-area {
width: 740px;
margin: 20px 30px;
display: inline-block;
}

.custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right {
width: 300px;
height: 284px;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
float: left;
background: #ebebeb;
}

.custom-search-area li, .custom-grid-area li {
padding: 5px 10px;
font-size: 12px;
color: #333;
cursor: pointer;
}

.custom-search-area li.selected, .custom-grid-area li.selected {
background-color: #3183bc;
color: #fff;
}

.custom-search-area ul, .custom-grid-area ul {
margin: 10px;
list-style: none;
padding: 0;
}

.custom-area-right {
float: right;
}

.custom-area-btn {
width: 31px;
margin: 108px 53px 0;
float: left;
}

.custom-area-btn .left-btn, .custom-area-btn .right-btn {
width: 31px;
height: 31px;
background: url(../images/right-arrow.png) no-repeat;
border: 0;
}

.custom-area-btn .right-btn {
background: url(../images/left-arrow.png);
margin-top: 10px;
}

.custom-search-btn {
width: 87%;
border-top: 1px solid #2A669F;
padding-top: 15px;
text-align: center;
   margin-left: 30px;
   font: 12px eras_medium, "Eras Medium ITC", sans-serif;
}

.custom-grid-icon {
   font-size: 18px;
}

.custom-search-btn input[type="button"] {
    border: 1px solid #2A669F;
    font-size: 13px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    padding: 4px 8px;
    margin: 0 21px;
    background: #2a869f;
    min-width: 80px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2a869f 0%, #2A669F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a869f), color-stop(100%,#2A669F));
    background: -webkit-linear-gradient(top, #2a869f 0%,#2A669F 100%);
    background: -o-linear-gradient(top, #2a869f 0%,#2A669F 100%);
    background: -ms-linear-gradient(top, #2a869f 0%,#2A669F 100%);
    background: linear-gradient(to bottom, #2a869f 0%,#2A669F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a869f', endColorstr='#2A669F',GradientType=0 );
}



.custom-area-right.active {
border: 1px solid #c3e49b;
background: #ecf2e0;
}

.product-pagi-left {
width: 200px;
float: left;
text-align: left;
}

.product-pagi-right {
width: 500px;
float: right;
text-align: right;
}

.custom-grid-btn { /*background: linear-gradient(to bottom, #a7cb44 0%, #69a83c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #69a83c;
border-radius: 5px;
color: #fff;
font-size: 16px;
margin-left: 5px;
padding: 3px 15px;*/
}

.custom-grid {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
display: none;
height: 100%;
min-height: 100%;
position: fixed;
top: 0;
width: 100%;
z-index: 999;
}


/* custom search */
/* select and drag drop */
.custom-area-left select, .custom-area-right select, .custom-grid-left select, .custom-grid-right select {
width: 100%;
background: none repeat scroll 0 0 #c8c8c8;
border-radius: 8px;
border: none;
padding: 10px;
height: 284px !important;
}

.custom-search-area option, .custom-grid-area option {
color: #333;
cursor: pointer;
font-size: 13px;
padding: 5px 10px;
font-weight:bold;
}

table.sar-table th {
cursor: move;
}

#handlerTable th {
cursor: default;
}

.some-handle {
cursor: move;
}

#constrainTable th {
cursor: default;
}

#constrainTable th.accept {
cursor: move;
}
/* select and drag drop */

/* edit-option */
.edit-option {
width: 98%;
display: inline-block;
border: 1px solid #f2f1f1;
}

.edit-option-left {
width: 50%;
float: left;
padding: 20px;
border-right: 1px solid #f2f1f1;
}

.edit-option-right {
width: 40%;
float: right;
padding: 20px;
border-left: 1px solid #f2f1f1;
}

.edit-option h1 {
font-size: 18px;
margin: 20px 0;
color: #2e7eb6;
font-weight: bold;
}

.custom-table table {
width: 100%;
}

.custom-table td, .custom-table th {
padding: 10px 9px 10px 10px;
border-right: 1px solid #fcfdf9;
font-size: 14px;
font-weight: normal;
text-align: center;
}

.custom-table tr:nth-child(odd) {
background: #ddf0c8;
border-left: 1px solid #ddf0c8;
border-right: 1px solid #ddf0c8;
}

.custom-table tr:nth-child(even) {
background: #f1ffe1;
}

.custom-table tr td:first-child {
border-left: 1px solid #ddf0c8;
}

.custom-table tr td:last-child {
border-right: 1px solid #ddf0c8;
}

.custom-table tr:last-child {
border-bottom: 1px solid #ddf0c8;
}

.custom-table tr:first-child th {
font-weight: bold;
}

.custom-table tr:first-child th a {
color: #ffffff;
text-decoration: none;
}



.custom-table > tbody > tr > td > label > input[type="checkbox"] {
width: auto;
cursor: pointer;
visibility: hidden;
}

.custom-table > tbody > tr > td > label > i {
display: inline-block;
padding: 0px;
height: 15px;
width: 15px;
background: url(../images/checkbox.png);
margin-left: -10px;
border: none !important;
outline: none;
}

.custom-table > tbody > tr > td > label > input:checked + i {
background: url(../images/checkbox.png);
background-repeat: no-repeat;
background-position: center -16px;
border: none !important;
outline: none;
}

.edit-option-btn {
width: 100%;
text-align: center;
margin: 20px 0 0;
}


/* edit-option */
/* change password */
.change-top {
min-height: 100%;
width: 100%;
margin-bottom: -53px;
}

.change-footer {
width: 100%;
text-align: center;
border-bottom: 8px solid #2d81bd;
font-size: 12px;
color: #2d81bd;
padding: 15px 0;
}

.ch-space {
height: 53px;
}

.change-logo {
width: 100%;
text-align: center;
margin: 40px 0;
}

.change-password {
width: 600px;
margin: auto;
background: #fdfdfd;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
padding: 30px;
box-shadow: 0 0 15px rgba(45,129,189,0.2);
-moz-box-shadow: 0 0 15px rgba(45,129,189,0.2);
-webkit-box-shadow: 0 0 15px rgba(45,129,189,0.2);
}

.change-password h1 {
color: #1a6ba1;
font-size: 24px;
margin: 0;
padding: 0 0 10px;
font-weight: normal;
border-bottom: 1px dashed #76c2f9;
}

.change-password p {
margin: 20px 0 30px;
color: #555555;
font-size: 14px;
line-height: 22px;
}

.change-password-form {
width: 100%;
display: inline-block;
}

.change-password-left {
width: 355px;
float: left;
}

.change-password-left p {
margin: 0;
padding: 0;
position: relative;
}

.change-password-left p span {
width: 41px;
background: #81b74b;
position: absolute;
left: 0;
border-radius: 8px 0 0 8px;
-moz-border-radius: 8px 0 0 8px;
-webkit-border-radius: 8px 0 0 8px;
text-align: center;
padding: 7px 0 0;
}

.change-password-left input[type="text"], .change-password-left input[type="password"] {
width: 352px;
border: 1px solid #81b74b;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 14px;
color: #666;
padding: 8px 0 8px 52px;
margin-bottom: 10px;
height: 33px;
}

.change-password-left input[type="submit"], .change-password-left input[type="button"], .change-password-left input[type="reset"] {
margin: 10px 10px 0 0;
}

.change-password-right {
width: 150px;
float: right;
margin-top: 44px;
}

.change-password-right p {
font-size: 12px;
margin: 0;
color: #333333;
}

.stregth {
width: 100%;
float: left;
}

.stregth .weak, .stregth .good, .stregth .strong {
width: 30px;
float: left;
margin: 4px 5px 0 0;
height: 4px;
background: #1e71a8;
}

#stregth-text, .pwd-match {
font-size: 12px;
color: #a3c943;
line-height: 12px;
float: left;
}

.pwd-match {
margin-top: 23px;
}
/* change password */
.header-top {
display: inline-block;
position: relative;
width: 100%;
z-index: 99;
}

.image-container-details, .image-content-details {
width: auto;
float: right; /*margin:0 0 15px 10px;*/
position: relative;
}

.image-container-details img, .image-content-details img {
width: 100%; /*height:120px;*/
margin-bottom: 8px;
}

.image-container-details span, .image-content-details span {
color: #ffffff;
font-size: 14px;
width: 100%;
display: block;
text-align: center;
}

.wrapper {
min-height: 95%;
background: #f9f9f9;
}

.fot-space {
height: 50px;
}

.col-49per {
width: 47.5%;
float: left;
margin-top: 10px;
margin-left: 2%;
}

.col-49per .input-ctrl .field {
width: 46%;
display: table-cell;
vertical-align: middle;
/*padding-left: 4%;*/
}

.col-49per .input-ctrl {
display: table;
}

.col-49per .input-ctrl label {
display: table-cell;
vertical-align: middle;
}
/*.col-49per .input-ctrl label span, .col-33per .input-ctrl label span, .col-md-4 .input-ctrl label span*/ label span {
color: #e32205;
font-size: 14px;
}

.col-49per .input-ctrl .field select, .col-49per .input-ctrl .field input {
width: 90%;
}

.divested-popup {
position: fixed;
width: 400px;
height: 400px;
top: 20%;
display: none;
z-index: 999;
}

.hiddenproductID {
display: none;
}

.listbox-wholesaler {
height: auto;
}

.physician-box .input-ctrl label {
font-weight: bold;
}

.physician-box .input-ctrl .field label {
font-weight: normal;
}

.box-18-cnt > table > tbody > tr > td {
color: #2b76ab;
font-size: 12px;
padding: 5px 0px 5px 8px;
}

.box-18-cnt > table > tbody > tr > td:nth-child(2n+1) {
border-right: 0;
}

.user-check {
position: relative;
}

.user-check input {
cursor: pointer;
visibility: hidden;
width: auto;
}

.box-18-cnt > table > tbody > tr > td > label > i {
background: url("../images/checkbox2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none !important;
display: inline-block;
height: 15px;
outline: medium none;
padding: 0;
width: 15px;
position: absolute;
left: 0;
top: 0;
}

.box-18-cnt > table > tbody > tr > td > label > input:checked + i {
background: url("../images/checkbox2.png") no-repeat scroll center -16px rgba(0, 0, 0, 0);
border: medium none !important;
outline: medium none;
}

.blue-btn a {
color: #fff;
text-decoration: none;
}

.box-18-cnt {
width: 100%;
height: 173px;
overflow-y: scroll;
margin-top: 10px;
}

.box-18-cnt tr {
background: #b7dd88;
padding: 5px 3px;
color: #69a83c;
}

.box-18-cnt td {
border-bottom: 1px solid #89bb4a;
border-right: 10px;
}

.edit-reglabl {
font-size: 14px;
color: #282828;
font-weight: 500;
}

.user-info {
margin: 10px 0 25px 90px;
display: inline-block;
width: 90%;
}

.user-info .box-18-cnt {
width: 30%;
}

.product-des-left {
float: left;
width: 45%;
margin-left: 3%;
}

.product-des-right {
float: right;
width: 40%;
}

.manufa-box {
background: linear-gradient(to bottom, #327fb6 0%, #1a5d8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
padding: 15px 1%;
width: 100%;
display: inline-block;
color: #f3f3f3;
}

.manufa-box p strong {
font-size: 15px;
color: #fff;
}

.manufa-box ul {
list-style: none;
margin: 0;
padding: 0;
width: 85%;
height: 113px;
overflow-y: scroll;
}

.manufa-box li {
border: 1px solid #f3f3f3;
border-bottom: 0;
padding: 5px 10px;
text-transform: capitalize;
}

.manufa-box li:last-child {
border-bottom: 1px solid #f3f3f3;
}

.grid-footer {
margin: 15px 0 0;
float: right;
}

.grid-footer-info {
color: #333;
font-size: 14px;
text-align: right;
}

.pagination ul {
list-style: none;
margin: 10px 0 0;
padding: 0;
}

.pagination li {
display: inline-block;
font-size: 14px;
padding: 6px;
margin: 0 2px;
background: #8ebd4a;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.pagination li.active {
background: #679327;
color: #fff;
}

.pagination li a {
color: #fff;
text-decoration: none;
}

.policydiv .input-ctrl label {
width: 20%;
}

.cus-sel-table h1, .cus-pro-table h1, .cus-prolot-table h1 {
border-bottom: none;
}

.cus-sel-table, .cus-pro-table, .cus-prolot-table {
margin: 0 auto 20px;
width: 95%;
}

.policydiv .col-49per .input-ctrl .field select, .policydiv .col-49per .input-ctrl .field input {
width: 96%;
}

.policydiv .col-49per .input-ctrl .field label {
margin-top: 5px;
}

.lot-btn-table {
width: 97.5%;
text-align: right;
margin: 20px 0 0;
}

.cus-policy-name, .cus-profile-type, .cus-group-type, .cus-sel-table, .cus-manufa, .cus-manufa2, .cus-manufa3, .cus-manufa4, .cus-manufa5, .cus-pro-table, .cus-prolot-table {
display: none;
}

.chk-container {
list-style: none;
border: 1px solid #bcbfc1;
background: #ffffff;
width: 96%;
border-radius: 4px;
box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
color: #333333;
padding: 8px 8px 0 0;
text-indent: 1px;
height: 130px !important;
overflow-y: scroll;
}

.select-chk {
display: table-cell;
/*padding-left: 4%;*/
vertical-align: middle;
width: 55% /*87%*/;
}

.chk-container li {
margin-bottom: 4px;
}

.chk-container input {
width: auto;
margin: 0 5px 0 0;
}

.policydiv .input-ctrl .chk-container li label {
font-weight: normal;
text-align: left;
width: 100%;
display: block;
}

.chk-container label input[type="checkbox"] {
width: auto;
cursor: pointer;
visibility: hidden;
}

.chk-container label i {
display: inline-block;
padding: 0px;
height: 19px;
width: 21px;
background: url(../images/checkbox.png);
margin: 0 5px -5px 5px;
}

.chk-container label input:checked + i {
background: url(../images/checkbox.png);
background-repeat: no-repeat;
background-position: center -16px;
}

.collpse2 {
display: none;
}

.lotNumber-pop .product-box {
background: #fff;
}

.lotNumber-pop .col-33per {
width: 49%;
}

.lotNumber-pop .product-box {
border: none;
margin-bottom: 0;
}

.lotNumber-pop .radio-label {
color: #84ac16;
}

.lotNumber-pop .field label {
color: #282828;
}

.table-scroll {
overflow-y: scroll;
height: 250px;
width: 100%;
margin-bottom: 20px;
border: 1px solid #e5e4e4;
}

#subT th, #subT td, #subTprofile th, #subTprofile td {
padding: 5px;
}



.search-box2 {
background: #549409;
margin-bottom: 6px;
}

.heading-register {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #fff;
width: 100%;
margin-bottom: 20px;
border-bottom: 1px solid #e5e5e5;
padding-bottom: 12px;
}

.white-box-cnt {
float: left;
width: 98%;
background-color: #fff;
border-radius: 8px;
min-height: 400px;
padding: 20px 40px;
}

.left-items-fields {
float: left;
width: 37%;
margin-right: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.right-items-fields {
float: left;
width: 37%;
margin-right: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.textfield-input-cnt {
float: left;
width: 200px;
}

.textfield-item input {
float: left;
width: 60%;
padding: 8px;
color: #333;
}

.textfield-item label {
float: left;
color: #282828;
font-size: 14px;
padding: 8px 0;
width: auto;
text-align: right;
margin-right: 10px;
}

.textfield-item {
float: left;
width: 100%;
margin-bottom: 14px;
}

.scrl {
background: #000;
clear: both;
}

.custom-table-wordwrap td, .custom-table-wordwrap th {
word-break: break-all !important;
}

.select-chk label {
float: none;
}
/*.textfield-item .select-chk{width:10%;}*/
.textfield-item-btn {
width: 97.5%;
text-align: left;
margin: 0 0 15px;
}

.disable-click {
pointer-events: none;
background: #ccc;
}

.validate-policy-form .field-validation-error {
padding: 2% 0 0 0%;
}

.add-profile-btn {
background: url(../images/add-new-profile.png) no-repeat;
width: 21px;
height: 21px;
border: 0;
cursor: pointer;
display: block;
margin: 0 auto;
}

.col-33per .input-ctrl span {
color: #e32205;
font-size: 16px;
}

.col-33per .input-ctrl span label {
margin-right: 1%;
}

.error-msg {
position: absolute;
}

.col-33per .input-ctrl .error-msg span {
font-size: 12px;
}

.error-msg .field-validation-error {
padding: 0;
}

.productradiobtn {
width: 60%;
}

.search-box li .productradiobtn input {
width: auto;
}

.search-box li .productradiobtn label {
width: auto;
}

.creategroup.custom-search-box h1 {
margin: 0 10px 20px;
padding: 5px 0 10px;
}

.creategroup .product-box h1 .editbutton {
margin-right: 0;
margin-top: -8px;
}

.creategroup .input-ctrl {
width: 80%;
}

.grouplist.custom-search-box h1 {
margin: 0 20px;
padding: 15px 0 10px;
}

.grouplist .edit-option {
display: block;
width: 95%;
margin: 15px auto 0;
}

.main-body img {
width: 100%;
}
/*Sanjeev changes*/
.alert-popup-body-message-confirm {
width: 100%;
height: 100%;
left: 0;
z-index: 10000;
top: 0;
background: rgba(255,255,255,0.7);
position: fixed;
}
/*Sanjeev changes end*/
.alert-popup-body-message{
width: 100%;
height: 100%;
left: 0;
z-index: 10000;
top: 0;
background: rgba(255,255,255,0.7);
position: fixed;
}

.email-popup-body-confirm {
width: 100%;
height: 100%;
left: 0;
z-index: 9999;
top: 0;
background: rgba(255,255,255,0.7);
position: fixed;
}
.email-popup {
width: 500px;
margin: 18% auto;
background: none repeat scroll 0 0 #86b94a;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 10px 15px 15px;
}
.email-close {
background: none repeat scroll 0 0 #fff;
border-radius: 50%;
box-shadow: 0 1px 3px #365e07;
-moz-box-shadow: 0 1px 3px #365e07;
-webkit-box-shadow: 0 1px 3px #365e07;
cursor: pointer;
color: #3786c1;
float: right;
font-size: 17px;
text-align: center;
width: 22px;
}

.email-popup h1 {
color: #fff;
font: bold 24px Arial, Helvetica, sans-serif;
margin: 0;
}

.alert-popup-body {
width: 100%;
height: 100%;
left: 0;
z-index: 9999;
top: 0;
background: rgba(255,255,255,0.7);
position: fixed;
}

.alert-popup {
width: 500px;
margin: 18% auto;
background: none repeat scroll 0 0 #2A669F;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 10px 15px 15px;
}

.alert-popup h1 {
color: #fff;
font: bold 24px Arial, Helvetica, sans-serif;
margin: 0;
}

.alert-close {
background: none repeat scroll 0 0 #fff;
border-radius: 50%;
box-shadow: 0 1px 3px #365e07;
-moz-box-shadow: 0 1px 3px #365e07;
-webkit-box-shadow: 0 1px 3px #365e07;
cursor: pointer;
color: #3786c1;
float: right;
font-size: 17px;
text-align: center;
width: 22px;
}

.alert-text {
background: #fff;
width: 100%;
padding: 10px;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
margin: 6px 0 0;
}

.alert-text p {
font: 16px Arial, Helvetica, sans-serif;
margin: 0px;
color: #333;
}

.alert-btn {
width: 100%;
text-align: center;
margin: 20px 0 0;
}



.ui-datepicker-trigger {
/*margin-left: -27px;*/
width: 21px;
height: 21px;
background: url(../images/calendar-icon.png) no-repeat;
border: none;
cursor: pointer;
float: right;
position: relative;
margin-top: -26px;
right: 3px;
}

.main-container > h2 {
color: #266ea0;
font-size: 20px;
font-weight: bold;
margin: 0px;
text-transform: uppercase;
}


.input-ctrl .custom-checkbox {
text-align: left;
}

.custom-checkbox input[type="checkbox"] {
cursor: pointer;
visibility: hidden;
width: auto;
}

.custom-checkbox i {
background: url("../images/checkbox.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 19px;
margin: 0 5px -5px -12px;
padding: 0;
width: 21px;
}

.custom-checkbox input:checked + i {
background: url("../images/checkbox.png") no-repeat scroll center -16px rgba(0, 0, 0, 0);
}

input[type="button"], input[type="submit"], input[type="reset"], a {
cursor: pointer;
}

ul.create-pro {
list-style: none;
}

.create-pro li {
margin-bottom: 15px;
display: table;
}

.create-pro li label {
color: #282828;
display: table-cell;
font-size: 13px;
padding-right: 2%;
text-align: right;
vertical-align: middle;
width: 45%;
}

.text-middle {
display: table-cell;
vertical-align: middle;
width: 51%;
}

.req-red {
color: red;
}

.error-red {
text-align: center;
color: red;
font-weight: bold;
}

.error-green {
text-align: center;
color: #89bb4a;
font-weight: bold;
}

.error-style {
font-size: 16px;
}

.calender-icon-date {
background: url("../images/calendar-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
cursor: pointer;
height: 21px;
margin-right: 5px;
margin-top: -26px;
position: relative;
width: 21px;
float: right;
}


.jqx-grid-pager {
text-align: center !important;
}

.jqx-grid-pager > div {
display: inline-block !important;
width: auto !important;
}

.grid-btn {
width: 100%;
position: relative;
z-index: 999;
/*display:inline-block;*/
}

.grid-btn-prev {
border: 1px solid #2e7eb6;
position: relative;
float: left;
top: -23px;
margin-left: 10px;
display: block;
width: 17px;
height: 17px;
cursor: pointer;
padding: 3px 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
color: #fff;
background: url("../images/metro-icon-left-white.png") no-repeat #378eca;
}

.grid-btn-prev-pharmacy {
border: 1px solid #2e7eb6;
position: relative;
float: left;
top: -23px;
margin-left: 10px;
display: block;
width: 17px;
height: 17px;
cursor: pointer;
padding: 8px 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
color: #fff;
background: url("../images/metro-icon-left-white.png") no-repeat #378eca;
}

.grid-btn-next {
border: 1px solid #2e7eb6;
position: relative;
float: right;
top: -23px;
margin-right: 10px;
display: block;
width: 17px;
height: 17px;
cursor: pointer;
padding: 3px 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
color: #fff;
background: url("../images/metro-icon-right-white.png") no-repeat #378eca;
}

.grid-btn-next-pharmacy {
border: 1px solid #2e7eb6;
position: relative;
float: right;
top: -23px;
margin-right: 10px;
display: block;
width: 17px;
height: 17px;
cursor: pointer;
padding: 8px 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
color: #fff;
background: url("../images/metro-icon-right-white.png") no-repeat #378eca;
}



/*product Photo*/
.product-photo {
width: 100%;
}



.product-photo-search ul {
list-style: none;
display: inline-block;
width: 100%;
margin-bottom: 20px;
}

.product-photo-search li {
color: #fff;
margin-bottom: 5px;
margin-top: 10px;
}

/*.product-photo-search li select {
width:auto;
}*/
.browser-box {
width: 100%;
color: #fff;
margin-bottom: 10px;
}

.browser-box label {
width: 130px;
}



.photo-box {
border-radius: 8px;
height: 540px;
width: 100%;
overflow-y: hidden;
}

.photo-box > ul {
overflow-y: hidden;
height: 220px;
}

.product-photo .photo-box > h1 {
margin: 0;
}

.outerbox-slider {
background: none repeat scroll 0 0 #f3f2f2;
border: 1px solid #bcbfc1;
border-radius: 4px;
margin-bottom: 20px;
padding: 10px 10px 0;
margin-top: 10px;
position: relative;
}

.photo-box ul li:first-child {
margin-left: 0;
}

.photo-box ul {
list-style: none;
}

.photo-box li {
background: #fff;
border: 1px solid #eae9e9;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 12px 22px;
margin: 25px 0 0 25px;
display: inline-block;
position: relative;
}

.photo-box li img {
height: 160px;
}

.photo-hover {
width: 100%;
position: absolute;
top: 0%;
left: 0%;
background: rgba(0,0,0,0.25);
height: 184px;
width: 100%;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
display: none;
text-align: center;
padding-top: 60px;
}

.photo-box li:hover .photo-hover {
display: block;
}

.photo-browser-btn {
position: relative;
}

.browse-hidea {
cursor: pointer;
opacity: 0;
margin-top: -25px;
width: 100%;
z-index: 2;
}

.photo-hover input[type="button"] {
font-size: 14px;
margin-bottom: 10px;
}

.product-photo h1 {
color: #1d6191;
font-size: 21px;
margin: 30px 0px 15px;
}

.empty-img-hover {
position: absolute;
background: rgba(0,0,0,0.25);
height: 100%;
width: 100%;
top: 0;
left: 0;
padding: 50px 0;
text-align: center;
display: none;
}

.image-container-details:hover .empty-img-hover, .image-content-details:hover .empty-img-hover {
display: block;
}

.image-view li {
}
/*Style for product Photo*/



body {
font-family: Arial, Helvetica, sans-serif;
background: #FFF;
}

.float-left {
float: left;
}

.float-right {
float: right;
}

.clr {
clear: both;
}

.margin-right6 {
margin-right: 6px;
}

.add_btn {
color: #69a83c;
margin: 0 5px 0 0;
}


.paddleft_right0 ul {
float: right;
margin: 0;
}

.paddleft_right0 ul li {
float: left;
list-style: none;
margin-left: 10px;
}

.paddleft_right0 ul li a {
color: #69a83c;
display: inline-block;
}

.paddleft_right0 ul li a:hover {
text-decoration: underline;
}

.paddleft_right0 ul li span {
color: #69a83c;
}

.del_btn {
position: relative;
margin: 0px;
}

.del_btn input {
position: absolute;
right: 35px;
top: -34px;
}

.validation-summary-valid {
display: none;
}

/* header{ border-top:10px solid #2d81bd; height:130px; position:relative;}
.date{ text-transform:capitalize;}
.date span1{color:#a3c844;}

header .login_area{ color:#2d81bd; color: #2D81BD;
margin: 20px 0 0;
text-align: right;}
.head-left{  border-bottom: 5px solid #F2F2F2;
height: 130px;
width: 13%;;}
.span2 a{color:#a3c844;}
nav{ background:#317fb5; position:absolute; bottom:0;}
nav a{ color:#ffffff;}*/

.working_part {
border: 1px solid #DFE3E3;
border-radius: 5px;
padding: 15px;
}

.working_part .innerarea {
border: 1px solid #dfe3e3;
}

.working_part .innerarea .left {
background: none repeat scroll 0 0 #ededed;
height: 418px;
padding: 0;
}

.working_part .innerarea .left .left_text_area {
padding: 29% 0;
position: relative;
text-align: center;
background: #ededed;
}

.working_part .innerarea .left .left_text_area .arrow_icon {
background: url("../images/arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 25px;
position: absolute;
right: -24px;
top: 50%;
width: 25px;
}

.working_part .search_btn {
padding: 5px 15px;
display: inline-block;
}

p {
font-size: 15px;
margin: 10px 0 0;
}



.working_part .innerarea .right {
overflow-x: scroll;
overflow-y: hidden;
padding: 0 0 0 52px;
white-space: nowrap;
width: 82% !important;
}

.working_part .innerarea .right .box {
border-left: 1px solid #dfe3e3;
border-right: 1px solid #dfe3e3;
display: inline-block;
margin: 0 10px 0 0;
padding: 10px;
width: 30%;
}

.box_ Repackager {
background: #e9e9e9;
}

div.show-image {
border: 1px solid #E1E1E1;
float: left;
height: 135px;
margin: 0 0 20px;
overflow: hidden;
padding: 8px;
position: relative;
width: 100%;
text-align: center;
}

div.show-image:hover input {
display: block;
padding: 5px 15px;
background: #7cbd3b;
border: 1px solid #458c16;
color: #FFF;
}

div.show-image input {
bottom: 20%;
display: none;
margin: 0 auto;
position: absolute;
left: 30%;
}

div.show-image img {
width: auto;
}

.working_part .innerarea .right .btn-broser {
padding: 5px 15px;
background: #7cbd3b;
border: 1px solid #458c16;
color: #FFF;
}

.working_part .innerarea .right input {
float: right;
}

.working_part .innerarea .right .btn-save {
padding: 5px 15px;
background: #7cbd3b;
border: 1px solid #458c16;
color: #FFF;
}

.working_part .innerarea .right .btn-delete {
background-color: #226da5;
border-color: #134c78;
color: #FFFFFF;
padding: 5px 15px;
}

.manufa-box a {
color: #a7cb44;
}

.manufa-box a:hover {
text-decoration: underline;
color: #ddf0c8;
}

.bottom_input input {
height: 0 !important;
}

.grid-details {
z-index: 999;
padding: 5px;
color: #333333;
background: #e5e5e5;
margin: 0 auto 0 auto;
text-align: center;
width: 100%;
}

#jqxgrid a {
color: #fff;
}

#jqxgrid a:active {
color: #c60000;
}

#jqxgrid a:hover {
color: #333333;
}

#LoadWholesalerPartialView .whiteborder {
background: #f3f2f2;
border: 1px solid #bcbfc1;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
}

#LoadWholesalerPartialView .whiteborder .product-box {
background: #f3f2f2;
border: none;
margin-bottom: 0px;
}

#LoadWholesalerPartialView .whiteborder h1 {
color: #045b9d;
font-size: 16px;
font-weight: bold;
border-bottom: 1px solid #bcbfc1;
padding-bottom: 10px;
margin-top: 0px;
}

.paddleft_right0 {
padding-left: 0px !important;
padding-right: 0px !important;
}

.cssmenu_wrap {
margin: 10px -10px 0px 0px;
}


/* only for datepicker */
.ui-datepicker {
z-index: 999 !important;
}
/*error css  created  16022015*/
.error {
vertical-align: central;
width: 100%;
}

.error h1 {
font-size: 90px;
color: #cc3333;
}

.error h3 {
font-size: 20px;
}

.margin-radio {
height: 55px;
}

.cus-profile-type label {
margin: 10px;
}

.search-box li .adjust_input input {
width: 85%;
}

.check_box .input-ctrl label {
width: 90% !important;
}

.product-box2 .search-box li select {
width: 100%;
}

.new_policy .input-ctrl {
width: 100% !important;
}

.margin_grid {
margin-top: 20px;
}


/*Top Navigation*/

#cssmenu {
position: relative;
/*height: 49px;
background: #2b2f3a;*/
width: auto;
}

#cssmenu ul {
list-style: none;
padding: 0;
margin: 0;
line-height: 1;
}

#cssmenu > ul {
position: relative;
display: block;
/*background: #2b2f3a;*/
width: 100%;
z-index: 500;
font-weight: bold;
}

#cssmenu:after,
#cssmenu > ul:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

#cssmenu.align-right > ul > li {
float: right;
}

#cssmenu.align-center ul {
text-align: center;
}

#cssmenu.align-center ul ul {
text-align: left;
}

#cssmenu > ul > li {
display: inline-block;
margin: 0;
padding: 0;
float: right;
}

#cssmenu > ul > #menu-button {
display: none;
}

#cssmenu ul li a {
display: block;
font-family: Helvetica, sans-serif;
text-decoration: none;
}

#cssmenu > ul > li > a {
font-size: 14px;
font-weight: bold;
padding: 9px 20px;
color: #8fbd49;
text-transform: uppercase;
-webkit-transition: color 0.25s ease-out;
-moz-transition: color 0.25s ease-out;
-ms-transition: color 0.25s ease-out;
-o-transition: color 0.25s ease-out;
transition: color 0.25s ease-out;
}

#cssmenu > ul > li.has-sub > a {
padding-right: 32px;
}

#cssmenu > ul > li:hover > a {
color: #ffffff;
}

#cssmenu li.has-sub::after {
display: block;
content: "";
position: absolute;
width: 0;
height: 0;
}

#cssmenu > ul > li.has-sub::after {
right: 10px;
top: 20px;
border: 5px solid transparent;
border-top-color: #8fbd49;
}

#cssmenu > ul > li:hover::after {
border-top-color: #ffffff;
}

#indicatorContainer {
position: absolute;
height: 12px;
width: 100%;
bottom: 10px;
overflow: hidden;
z-index: -1;
}

#pIndicator {
position: absolute;
height: 0;
width: 100%;
border: 12px solid transparent;
border-top-color: #2b2f3a;
z-index: -2;
-webkit-transition: left .25s ease;
-moz-transition: left .25s ease;
-ms-transition: left .25s ease;
-o-transition: left .25s ease;
transition: left .25s ease;
}

#cIndicator {
position: absolute;
height: 0;
width: 100%;
border: 12px solid transparent;
border-top-color: #2b2f3a;
top: -12px;
right: 100%;
z-index: -2;
}



#cssmenu ul ul ul {
top: 37px;
padding-left: 5px;
}

#cssmenu ul ul li {
position: relative;
}





#cssmenu ul ul li:hover > ul {
left: 170px;
top: 0;
opacity: 1;
}

#cssmenu.align-right ul ul li:hover > ul {
left: auto;
right: 170px;
top: 0;
opacity: 1;
padding-right: 5px;
}

#cssmenu ul ul li a {
border-bottom: 1px solid #eeeeee;
padding: 10px 20px;
font-size: 12px;
color: #000;
background: #ffffff;
-webkit-transition: all .35s ease;
-moz-transition: all .35s ease;
-ms-transition: all .35s ease;
-o-transition: all .35s ease;
transition: all .35s ease;
}
.dropdown-men li a:hover{
    background:#367bb6 !important;
    color:#fff !important;
}

#cssmenu.align-right ul ul li a {
text-align: right;
}

#cssmenu ul ul li:hover > a {
background: #f2f2f2;
color: #8c9195;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
border-bottom: 0;
}

.dropdown-men{
    position:absolute;
    display:none;
    max-width:300px;
}

#cssmenu.align-right > ul > li > ul::after {
left: auto;
right: 30px;
}

#cssmenu ul ul li.has-sub::after {
border: 4px solid transparent;
border-left-color: #9ea2a5;
left: 10px;
top: 12px;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
-webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub::after {
border-left-color: transparent;
border-right-color: #9ea2a5;
right: 10px;
left: auto;
}

#cssmenu ul ul li.has-sub:hover::after {
border-left-color: rgba(50, 50, 50, 0.3);
left: 0;
-webkit-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}

#cssmenu.align-right ul ul li.has-sub:hover::after {
border-right-color: #ffffff;
border-left-color: transparent;
left: -5px;
-webkit-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}

#cssmenu ul ul ul {
margin-left: -349px;
}


/* Product Photo Button*/
.pp_photo_btn {
margin: 3px;
text-align: center;
}

div.show-image img {
height: 100%;
}

/*Top Navigation End*/


.margin_top {
margin-top: 20px;
}

.main-container > h2 {
margin: 0;
padding: 10px 0 5px 0;
}

.lotnumber {
width: 100%;
}

.lotnumber .input-ctrl {
width: 100%;
}

.lotnumber .input-ctrl label {
width: 39%;
float: left;
}

.lotnumber .input-ctrl label:last-child {
margin-top: -3px;
}

.chk-container label {
text-align: left;
width: 210px;
padding: 0;
}

.group_profile_search {
margin-top: 75px;
}

.back_to_list_btn {
margin-top: -27px;
}

.madatory_feild_message {
float: right;
text-align: right;
width: 100%;
margin-top: -45px;
}

.madatory_feild_message span {
color: red;
}

.select_pager {
width: 148px;
float: right;
}

.user_grpoupprofile_chk .select-chk {
width: 61%;
}

#res_menu {
display: none;
}

.whiteborder {
background: #fff;
padding: 15px 10px 15px 10px;
}

.lblidcounter {
font-weight: normal;
text-transform: lowercase;
}

.total-records {
font-size: 16px;
font-weight: bold;
}




#cssmenu > ul > li:hover a + .submenu {
display: block;
}

.submenu {
position: absolute;
width: 100%;
display: none;
height: auto;
}

#cssmenu ul .submenu ul {
left: 0;
top: 0;
opacity: 1;
min-width: 120px;
box-shadow: none;
background: #fff;
border: 1px solid #378eca;
}

#cssmenu ul .submenu ul li {
padding: 0;
width: 100%;
font-weight: normal;
}

#cssmenu ul .submenu ul li a {
color: #000;
text-decoration: none;
font-size: 12px;
width: 100%;
padding: 4px 20px;
border-bottom: none;
white-space: nowrap;
}

#cssmenu ul .submenu ul li:hover a {
background: #1e90ff;
color: #fff;
}

.cl {
clear: both;
}

.pad-0 {
padding: 0 !important;
}

.pad-15 {
padding: 15px;
}

.pad-l-r15 {
padding: 0 15px;
}

.pad-l-15 {
padding: 0 0 0 15px !important;
}

.pad-l-r8 {
padding: 0 8px;
}

.pad-l-0 {
padding-left: 0 !important;
}

.mrg-t10 {
margin-top: 10px;
}

.mrg-b10 {
margin-bottom: 10px;
}

.mrg-l10 {
margin-left: 10px;
}

.mrg-r10 {
margin-right: 10px;
}

.mrg-t20 {
margin-top: 20px;
}

.mrg-b15 {
margin-bottom: 15px;
}

.mrg-b20 {
margin-bottom: 20px;
}

.mrg-l20 {
margin-left: 20px;
}

.mrg-r20 {
margin-right: 20px;
}

/*a {
color: #87b964;
}

a:hover {
color: #fff;
text-decoration: none;
}*/

.overlay a:hover {
   color: #000;
}



.report-criteria-wrapper {
border: 1px solid #125484;
border-radius: 5px;
padding: 15px 15px 5px;
margin-top: 10px;
min-height: 245px;
}

.report-criteria-wrapper h3 {
color: #fff;
font-weight: normal;
margin-bottom: 10px;
font-size: 18px;
margin-top: 0;
}

.report-schedule-wrapper {
margin-left: 2%;
}

table.report-criteria-table td input {
border: none;
padding: 3px 10px;
border-radius: 5px;
width: 90px;
margin: 5px 0;
}

.top-nav-box {
background: #e3f0f7;
padding: 0px 0;
position: relative;
width: 100%;
height: 26px;
}

.top-nav-box ul {
margin: -3px 15px;
display: block;
padding: 4px 0;
}

.top-nav-box ul li {
display: inline-block;
padding: 0 7px;
}

.top-nav-box ul li a {
display: block;
font-size: 11px;
outline: none;
border: none;
}

.top-nav-box ul li a.top-align i {
font-size: 11px;
vertical-align: bottom;
}

.top-nav-box ul li a:hover {
color: #13506a;
}

.top-nav-box ul li a img {
height: 20px;
width: 18px;
}


.navbar-div {
width: auto;
bottom: 35px;
z-index: 99;
overflow: hidden;
}

.navbar-div a {
display: inline-block;
background: #377bac;
/*color: #fff;*/
color: #7bc485;
line-height: 30px;
transform: skew(-30deg);
transition: background .5s;
text-decoration: none;
font-size: 14px;
margin-right: -4px;
padding: 0 12px;
}

.navbar-div a:first-child {
}


.navbar-div a:first-child:before {
content: " . ";
width: 20px;
background: #377bac;
position: absolute;
height: 20px;
top: 0px;
left: -10px;
z-index: 99999999;
}

.navbar-div a:hover, .navbar-div a:active, .navbar-div a.active {
/*color:#63ac8f;*/
color: #fff;
}

.navbar-div a.active, .navbar-div a.active:before {
background: #A3C845;
}

.navbar-div a span {
display: inline-block;
transform: skew(30deg);
text-align: center;
}

.report-wrapper label, .colon {
color: #dffbff;
font-weight: 400;
padding-top: 3px;
vertical-align: top;
}

.report-wrapper .form-control {
display: block;
/*width: 100%;*/
height: 22px;
line-height: 18px;
padding: 0px 5px 0px 11px;
font-size: 13px;
}

.report-wrapper .form-group {
margin-bottom: 5px;
}

.report-criteria-section {
margin-bottom: 5px;
min-height: 210px;
/*overflow: auto;*/
}

.report-second-part {
padding: 0 15px 0 0px;
}

.schedule-table {
border: 1px solid #6a9cc1;
border-radius: 5px;
color: #dffbff;
padding-top: 15px;
padding-bottom: 8px;
}

.schedule-table h5 {
display: inline-block;
position: absolute;
top: -20px;
background: #357db8;
}

.time-zone-border {
border-bottom: 1px solid #4c9aca;
}

.schedule-heading-box {
margin: 335px 0 0;
max-height: 560px;
overflow: auto;
}

.schedule-heading-box h4 {
color: #84a84e;
margin: 5px 0;
}



.schedule-report-pagination ul.pagination {
margin: 0;
}

.schedule-report-pagination ul.pagination li {
background: transparent;
padding: 0;
margin: 0;
}

.schedule-report-pagination ul.pagination li a {
color: #8ebd4a;
}



.hours {
padding: 0 !important;
}

.time {
padding-right: 0 !important;
}

.title-input {
padding: 0 0 0 7px !important;
}

.report-footer {
/*border-bottom: 4px solid #89bb4a;*/
border-bottom: 2px solid #99b9d0;
padding: 12px 0;
text-align: center;
font-size: 11px;
color: #afafae;
background: #fff;
position: fixed;
bottom: 0;
height: 40px;
z-index: 99;
width: 1024px;
}


/* Additional CSS */
.wrapper {
clear: both;
margin: 0;
min-height: 92%;
padding: 0;
position: relative;
width: 100%;
overflow: hidden;
}

fieldset.scheduler-border {
border: 1px solid #125484 !important;
padding: 0 16px 0em 16px !important;
margin: 0 0 0em 0 !important;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
min-height: 250px;
}

legend.scheduler-border {
font-size: 18px !important;
font-weight: normal !important;
text-align: left !important;
color: #fff;
width: auto;
padding: 0 5px;
border-bottom: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 0;
}

fieldset.scheduler-inner {
border: 1px solid #6a9cc1 !important;
padding: 0 16px 0.5em 16px !important;
margin: 0 0 0.5em 0 !important;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

legend.scheduler-inner {
font-size: 16px !important;
font-weight: normal !important;
text-align: left !important;
color: #dffbff;
width: auto;
padding: 0 5px;
border-bottom: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 0;
}

.legend .col-xs-1, .legend .col-xs-2, .legend .col-xs-3, .legend .col-xs-4, .legend .col-xs-5, .legend .col-xs-6, .legend .col-xs-7, .legend .col-xs-8, .legend .col-xs-9, .legend .col-xs-10, .legend .col-xs-11, .legend .col-xs-12, .legend .col-sm-1, .legend .col-sm-2, .legend .col-sm-3, .legend .col-sm-4, .legend .col-sm-5, .legend .col-sm-6, .legend .col-sm-7, .legend .col-sm-8, .legend .col-sm-9, .legend .col-sm-10, .legend .col-sm-11, .legend .col-sm-12, .legend .col-md-1, .legend .col-md-2, .legend .col-md-3, .legend .col-md-4, .legend .col-md-5, .legend .col-md-6, .legend .col-md-7, .legend .col-md-8, .legend .col-md-9, .legend .col-md-10, .legend .col-md-11, .legend .col-md-12, .legend .col-lg-1, .legend .col-lg-2, .legend .col-lg-3, .legend .col-lg-4, .legend .col-lg-5, .legend .col-lg-6, .legend .col-lg-7, .legend .col-lg-8, .legend .col-lg-9, .legend .col-lg-10, .legend .col-lg-11, .legend .col-lg-12 {
padding-left: 5px;
padding-right: 5px;
}

.legend .form-group {
margin-left: -5px;
margin-right: -5px;
}

.legend .row {
margin-left: -5px;
margin-right: -5px;
}

.pad-l-sm {
padding-left: 10px;
}

.pad-r-sm {
padding-right: 10px;
}

.schedule-title {
color: #245E88;
margin: 5px 0;
font-weight: bold;
}

.data-grid-show {
height: auto;
/*overflow: auto;*/
}

.max-container {
width: 1024px;
margin: 0 auto;
clear: both;
box-shadow: 0px 0px 5px #ccc;
padding-bottom: 57px;
}

.absolute {
position: absolute;
}

.w-xxs {
width: 45px !important;
}

.w-xs {
width: 54px !important;
}

.w-sm {
width: 85px !important;
}

.w-md {
width: 100px !important;
}

.w-lg {
width: 114px !important;
}

.w-mgx {
width: 144px !important;
}

.w-lgx1 {
width: 164px !important;
}

.w-lgx {
width: 194px !important;
}

.w-lgx2 {
width: 194px !important;
}

.w-xl {
width: 240px !important;
}

.w-xl2 {
width: 222px !important;
}

.w-xlx {
width: 252px !important;
}

.w-xl2x {
width: 220px !important;
}

.w-xxl {
width: 320px !important;
}

.w-mxl {
width: 334px !important;
}

.w-lxl {
width: 383px !important;
}

.inline-bl {
display: inline-block !important;
}

.line {
width: 100%;
height: auto;
clear: both;
position: relative;
}

.legend .mrg-b10 {
margin-bottom: 6px;
}

.legend .mrg-r10 {
margin-right: 3px;
}

.legend .mrg-r8 {
margin-right: 8px;
}

.colon {
position: absolute;
left: 113px;
top: -1px;
font-weight: bold;
}

input[type="number"] {
padding: 0 0 0 12px !important;
}

.report-wrapper select.form-control {
padding-left: 6px;
}

.report-wrapper select.space {
padding-left: 2px;
}

/*.tab .darktxt {
color: #1b1a1d;
}

.tab .greentxt {
   color: #3bea1d;
}

.tab .lighttxt {
color: #3b8aBd;
}*/
/*.QoskContent .tab .lighttxt {
   padding: 0 5px;
}
.QoskContent .tab .darktxt {
   padding: 0 5px;
}*/


div.tagsinput {
border: 1px solid #CCC;
background: #FFF;
padding: 1px;
width: auto;
height: 22px;
overflow: hidden;
overflow-y: auto;
position: absolute;
right: 0;
}

div.tagsinput input {
width: auto;
margin: -11px;
font-family: inherit;
font-size: inherit;
border: 1px solid transparent;
padding: 0;
background: transparent;
color: #000;
outline: 0px;
margin-right: 0;
margin-bottom: 0px;
line-height: 22px;
height: 22px;
}

div.tagsinput span.tag {
border: 1px solid #a5d24a;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
display: block;
float: left;
padding: 0 5px;
line-height: 16px;
text-decoration: none;
background: #cde69c;
color: #638421;
font-family: helvetica;
font-size: 8px;
margin-top: 1px;
margin-bottom: 20px;
}

div.tagsinput span.tag span {
width: auto;
font-size: 11px;
padding: 0;
}

div.tagsinput span.tag a {
font-weight: bold;
color: #82ad2b;
text-decoration: none;
font-size: 11px;
}


#spanAddress {
padding-top: 3px;
font-size: 12px;
float: right;
}





.ui-widget-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ui-front {
z-index: 10001;
}


.loader {
background: url('../Images/loader.gif') no-repeat;
width: 96px;
height: 120px;
display: none;
z-index: 10007;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: fixed;
margin: auto;
}

#dvReportPreview {
height: auto;
overflow: hidden;
}


#dvJqxgrid_schedule {
/*width: 990px !important;*/
height: 480px;
display: block;
}
table.criteria-grid {
    height: auto;
    width: 100%;
   border-bottom: 3px solid #3a80bb;
}

table.criteria-grid tbody tr td {
    color: #fff;
    box-sizing: border-box;
}

.QoskForm .formEx .criteria-grid td {
   height: 23px;
   color: #323232;
   border-bottom: none;
}
.my-btn { border-top:1px solid #aaa;}
.my-btn input[type="button"] {
    border: 1px solid #2e7eb6;
    padding: 4px 8px;
  border-radius:5px;
  margin:5px 0;

}


.ImageTable td input[type="checkbox"] { vertical-align:top;
}

.ImageTable td { padding:4px 5px;
}
.ImageTable td img { height:70px;}


/*****************Media Query Start Here**********************/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .working_part .innerarea .right {
        padding: 0;
        width: 68% !important;
    }

        .working_part .innerarea .right .box {
            width: 47%;
            padding: 4% 1%;
        }

    .working_part .innerarea .left .left_text_area {
        padding: 43% 5px;
    }

    .working_part .innerarea .left {
        height: 451px;
    }

    div.show-image input {
        left: 25%;
    }

    .lotnumber .input-ctrl label:first-child {
        width: 60%;
        float: left;
    }






}

.jqx-enableselect.jqx-widget-content {
    overflow:visible!important;
}

.ImageTable audio, .ImageTable canvas, .ImageTable video {  height: 72px;  width:124px; margin-left:0 !important; margin-top :0 !important}
.alert-text .video_box {  width: 100%;}
.video_box { height:348px; margin-left:0!important;}
.jqx-enableselect.jqx-widget-content { border-top:1px solid #aaa!important;  border-bottom:1px solid #aaa!important;}

/*alertt pop sup css new*/

.image-popup {
    width: 700px;
    margin: 18% auto;
    background: none repeat scroll 0 0 #86b94a;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 15px 31px;
    height:500px;
}

.image-popup h1 {
    color: #fff;
    font: bold 24px Arial, Helvetica, sans-serif;
    margin: 0;
}
.fa-plus-circle:before {
    content: "\f055";
    font-size: 20px;
    color: #fff;
}
.fa-minus-circle:before {
    content: "\f056";
    font-size: 20px;
    color: #fff;
}

.image-popup-text {
    background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 6px 0 0;
    height: 420px;
    overflow: scroll;
}
#contenttabledvJqxgrid_ReportPreviewXLS [role="row"]:nth-child(odd) {
    background-color: rgba(45, 129, 189, 0.13);
}
.customvideo {
    width: 500px;
    height: 370px;
    margin-left: 70px !important;
}
.image-popup > h1 > #content {
    color: #fff;
}




   body .ui-tooltip {
    border-width: 1px;
    border-radius: 0;
    box-shadow:none;
    max-width: 460px;
}
.ui-tooltip-content {
    font-size:12px;
}
.top-nav-box ul li a .run1 {
    width: 15px;
    height: 11px;
    vertical-align: bottom;
    margin-bottom: 1px;
}
.jqx-position-relative{
    z-index:9;
}

.close-button {
   position: absolute;
   right: 15px;
   top: -15px;
   cursor: pointer;
   height: 30px;
   width: 30px;
}

.criteria-right {
   background-color: #ffffff;
   border-left: 3px solid #3a80bb
}

.segmentHead {
   display: inline-flex;
   align-items: center;
   height: 100%;
}

.segmentIconWrapper {
   float: right;
   background: -moz-linear-gradient(left, #245C95 0%, #3A80BB 100%);
   background: -webkit-gradient(linear, left, right, color-stop(0%,#245C95), color-stop(100%,#3A80BB));
   background: -webkit-linear-gradient(left, #245C95 0%,#3A80BB 100%);
   background: -o-linear-gradient(left, #245C95 0%,#3A80BB 100%);
   background: -ms-linear-gradient(left, #245C95 0%,#3A80BB 100%);
   background: linear-gradient(to right, #245C95 0%,#3A80BB 100%);
}

.historyFilterIcon {
   height: 20px;
   width: 20px;
   margin: 10px;
   cursor: pointer;
}