﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/js/CommonJS.js"></script>

<script type="text/javascript">

    $(document).ready(function () {     
        var isvalidate = true;

         if (isvalidate) {
            
            $.ajax({
                                type: "POST",
                url: '@Url.Content("~/Account/ValidateUser/")',
                data: null,
                async:false,
                dataType: "json"
            }).done(function (data) {
                                if (data.UserReturnData != null) {
                                    var objuser = JSON.stringify(data);
                                    if (Modernizr.localstorage) {
                                        window.localStorage.clear();
                                        var localCustomerProfile = window.localStorage;
                                        localCustomerProfile.removeItem("userInfo");
                                        localCustomerProfile.setItem("userInfo", objuser);
                                        var reportPath = resolveUrl() + "/Report/Index/" + "@ViewBag.ReportId";                                        
                                        window.location.href = reportPath;
                                    }                                   
                                }
                                else
                                {
                                    window.location.reload();
                                }
                            }).fail(function (response) {
                            });
                        }

                        return false;
                    });

</script>