﻿@model Qualanex.QoskCloud.Web.Areas.UPAMgmt.ViewModels.UPAMgmtModel

<div class="formMax" style="display: block;">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview"></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#UPAMgmtDetail-target" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">Code</td><td><input id="ID_UPACODE" class="inputEx uppercase editable" type="text" value="@Model.Code"  readonly required maxlength="16" /></td>
                     <td class="tdLabel">Display </td><td colspan="3"><input id="ID_DISPLAY" class="inputEx editable" maxlength="128" type="text" value="@Model.DisplayFormat" readonly required /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Description</td><td colspan="4"><input id="ID_DESCR" class="inputEx editable" maxlength="128" type="text" value="@Model.Description" readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdHeader" colspan="4">
                        <table class="tableEx">
                           <tr>
                              <td style="width: 100%; height: 30px; color: #FFFFFF;">Navigation</td>
                              <td class="tdOptn"><img class="formOptn" id="URL" title="Show URL Navigation" src="~/Images/Form/Qosk_URL(0).svg" alt="" /></td>
                              <td class="tdOptn"><img class="formOptn" id="MVC" title="Show MVC Navigation" src="~/Images/Form/Qosk_MVC(1).svg" alt="" /></td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="4">
                        <div class="formOption" id="optn_URL" style="display: none">
                           <table class="tableEx">
                              <tr><td class="tdLabel">URN</td><td colspan="5"><input id="ID_URN" maxlength="512" class="inputEx editable" value="@Model.URN" readonly /></td></tr>
                              <tr><td class="tdLabel">URI</td><td colspan="5"><input id="ID_URI" maxlength="256" class="inputEx editable" value="@Model.URITemplate" readonly /></td></tr>
                           </table>
                        </div>
                        <div class="formOption" id="optn_MVC" style="display: block">
                           <table class="tableEx">
                              <tr>
                                 <td class="tdLabel">Action</td><td><input id="ID_ACTION" maxlength="64" class="inputEx editable" value="@Model.Action" readonly /></td>
                                 <td class="tdLabel">Controller</td><td><input id="ID_CTRLR" maxlength="64" class="inputEx editable" value="@Model.Controller" readonly /></td>
                                 <td class="tdLabel">Area</td><td><input id="ID_AREA" maxlength="64" class="inputEx editable" value="@Model.Area" readonly /></td>
                              </tr>
                              <tr><td class="tdLabel">Route</td><td colspan="5"><input id="ID_ROUTE" maxlength="128" class="inputEx editable" value="@Model.RouteValue" readonly /></td></tr>
                           </table>
                        </div>
                     </td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
<div class="formMin" style="display: none;">
   <table class="tableEx">
      <tr>
         <!-- product image -->
         <td class="tdFiller tdPreview"></td>
         <!-- the form -->
         <td style="padding: 0;">
            <form>
               <table class="tableEx" style="">
                  <tr>
                     <td class="tdLabel">Code</td><td><input class="inputEx" id="ID_UPACODE_MIN" type="text" value="@Model.Code" readonly /></td>
                     <td class="tdLabel">Display</td><td class="tdEx"><input class="inputEx" id="ID_DISPLAY_MIN" type="text" value="@Model.DisplayFormat" readonly /></td>
                     <td class="tdLabel">Description</td><td class="tdEx"><input class="inputEx" id="ID_DESCR_MIN" type="text" value="@Model.Description" readonly /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
