﻿@{
   ViewBag.Title = "UPA Management";
}
<div id="UPAMgmtGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">UPA Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">
                        <th style="display: none;"> </th>
                        <th style="width: 150px">Code</th>
                        <th style="width: 150px">Display Format</th>
                        <th>Description</th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="UPAMgmtDetail-div-click hidden "
                         name="SearchListItem"
                         UPAMgmtDetail-method="post"
                         data-row-id="0"
                         data-ql-ajax="true"
                         UPAMgmtDetail-data="-1"
                         UPAMgmtDetail-action="@Url.Action("UpdateUPAMgmtEntity")"
                         UPAMgmtDetail-target="#UPAMgmtModel">
                        <td style="display:none"></td>
                        <td style="width:200px" data-field-name="Code" data-field-value=""></td>
                        <td style="width:150px" data-field-name="Display" data-field-value=""></td>
                        <td data-field-name="Desc" data-field-value=""></td>
                        <td style="display:none" data-field-name="Action" data-field-value=""></td>
                        <td style="display:none" data-field-name="Controller" data-field-value=""></td>
                        <td style="display:none" data-field-name="Area" data-field-value=""></td>
                        <td style="display:none" data-field-name="RouteValue" data-field-value=""></td>
                        <td style="display: none" data-field-name="URITemplate" data-field-value=""></td>
                        <td style="display: none" data-field-name="URN" data-field-value=""></td>
                        <td style="display: none" data-field-name="Level" data-field-value=""></td>
                        <td style="display:none" data-field-name="ParentCode" data-field-value=""></td>
                        <td style="display:none" data-field-name="SeqNo" data-field-value=""></td>
                     </tr>

                     @foreach (var item in Model.UPAMgmtModels)
                     {
                        <tr class="UPAMgmtDetail-div-click"
                            name="SearchListItem"
                            UPAMgmtDetail-method="post"
                            data-row-id="@item.Code"
                            data-ql-ajax="true"
                            UPAMgmtDetail-data="UPAMgmtEntity=@Json.Encode(item)"
                            UPAMgmtDetail-action="@Url.Action("UpdateUPAMgmtEntity")"
                            UPAMgmtDetail-target="#UPAMgmtModel">
                           <td style="display: none"></td>
                           <td style="width: 200px" data-field-name="Code" data-field-value="@item.Code">
                              @if (item.Level == 0)
                              {
                                 <span> @item.Code </span>
                              }
                              else
                              {
                                 var lvl = item.Level + "5px";
                                 <span style="padding-left: @lvl"> @item.Code</span>
                              }
                           </td>
                           <td style="width: 150px" data-field-name="Display" data-field-value="@item.DisplayFormat">@item.DisplayFormat</td>
                           <td data-field-name="Desc" data-field-value="@item.Description">@item.Description</td>
                           <td style="display: none" data-field-name="Action" data-field-value="@item.Action">@item.Action</td>
                           <td style="display: none" data-field-name="Controller" data-field-value="@item.Controller">@item.Controller</td>
                           <td style="display: none" data-field-name="Area" data-field-value="@item.Area">@item.Area</td>
                           <td style="display: none" data-field-name="RouteValue" data-field-value="@item.RouteValue">@item.RouteValue</td>
                           <td style="display: none" data-field-name="URITemplate" data-field-value="@item.URITemplate">@item.URITemplate</td>
                           <td style="display: none" data-field-name="URN" data-field-value="@item.URN">@item.URN</td>
                           <td style="display: none" data-field-name="Level" data-field-value="@item.Level"></td>
                           <td style="display: none" data-field-name="ParentCode" data-field-value="@item.ParentCode"></td>
                           <td style="display:none" data-field-name="SeqNo" data-field-value="@item.SeqNo"></td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
