﻿@{
   ViewBag.Title = "MessageBox Demo";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

<button id="messageBox">click to show multiple tabs</button>
<button id="btn_error_message">click to show error without buttons</button>
<button id="btn_error_message_button">click to show error width buttons</button>
<button id="btn_show_buttons">MessageBox buttons</button>
<button id="btn_validation_buttons">verification button</button>
<button id="btn_validation_buttons_cancel">verification with cancel button</button>
<div class="clear"></div>

<script>

   $(document).ready(function()
   {
   });
   $(document).on("click", "#messageBox", function()
   {
      //$.ajax({
      //   cache: false,
      //   type: "POST",
      //   datatype: "JSON",
      //   data: { strId: 'messageBox' },
      //   url: 'BindColumnListing',
      //   success: function(data)
      //   {
      //      $("#CustomMessageBoxListing").html(data);
      //      $(this).showMessageBox();
      //   }
      //});

      var tabobjects = [{ "id": "tabs_summary", "name": "summary", "active": false, "title": "this is summary tab" },
{ "id": "tabs_lot", "name": "lot/qty", "active": false, "title": "this is lot tab" },
{ "id": "tabs_shipping", "name": "shipping", "active": true, "title": "this is shipping tab" },
{ "id": "tabs_test", "name": "testing", "active": false, "title": "this is testing tab" }];
      $(this).addTabs(tabobjects);
      $(this).showMessageBox(tabobjects);

   });
   $(document).on("click", "#btn_error_message", function()
   {
      var titleobjects = [{ "title": "this is just error message" }];

      $(this).showMessageBox(titleobjects);
      var btnObjects = [
    {
       "id": "btn_ok",
       "name": "Ok",
       "function": "onclick='$(this).closeMessageBox();'"
    }];
      //$(this).showErrorMessage("<label> This is Error For Showing</label>");
      $(this).showErrorMessage("This is Error For Showing");


   });
   $(document).on("click", "#btn_show_buttons", function()
   {
      var messageObject = [{
         "id": "lbl_messages",
         "name": "Do you want to cancel?"
      }];
      var btnObjects = [{
         "id": "btn_save", "name": "Save"
      },
   {
      "id": "btn_discard",
      "name": "discard",
      "function": "onclick='$(this).closeMessageBox();'"
   },
   {
      "id": "btn_continue",
      "name": "continue",
      "style": "width:100px;height:25px;background-color:blue;color:white"
   }
      ];
      var titleobjects = [{ "title": "Confirmation alert" }];
      $(this).addMessageButton(btnObjects, messageObject);
      $(this).showMessageBox(titleobjects);
      //$.ajax({
      //   cache: false,
      //   type: "POST",
      //   datatype: "JSON",
      //   data: { strId: 'btn_show_buttons' },
      //   url: 'BindCustomButton',
      //   success: function(data)
      //   {
      //      $("#CustomMessageBoxListing").html(data);
      //      $(this).showMessageBox();
      //   }
      //});
   });
   $(document).on("click", "#btn_error_message_button", function()
   {
      var titleobjects = [{ "title": "this is just error message with buttons" }];
      $(this).showMessageBox(titleobjects);
      var btnObjects = [
    {
       "id": "btn_ok",
       "name": "Ok",
       "function": "onclick='$(this).closeMessageBox();'"
    }];
      //$(this).showErrorMessage("<label> This is Error For Showing</label>");
      $(this).showErrorMessage(" -This is Error For Showing", btnObjects);
   });
   $(document).on("click", "#tabs_summary", function()
   {
      $(this).addToContent("<h3> Summary </h3>");
   });

   $(document).on("click", "#tabs_lot", function()
   {
      $(this).addToContent("<h3> Lot </h3>");
   });

   $(document).on("click", "#tabs_shipping", function()
   {
      $.ajax({
         cache: false,
         type: "GET",
         datatype: "json",
         data: {
         },
         url: 'FormTesting',
         success: function(data)
         {
            $(this).addToContent(data);

         }
      });
   });
   $(document).on("click", "#tabs_test", function()
   {
      $.ajax({
         cache: false,
         type: "GET",
         datatype: "json",
         data: {
         },
         url: '/MessageBox/Help',
         success: function(data)
         {
            $(this).addToContent(data);

         }
      });

   });
   $(document).on("click", "#btn_validation_buttons", function()
   {
      var btnObjects = [
      {
         "id": "btnValidationSubmit",
         "name": "Submit",
         "function": "",
         "class": "btnErrorMessage"
      },
   {
      "id": "btn_ok",
      "name": "Ok",
      "function": "onclick='$(this).closeMessageBox();'",
      "class": "btnErrorMessage"
   }, {
      "id": "btn_Continue",
      "name": "Continue",
      "function": "onclick='$(this).closeMessageBox();'",
      "class": "btnErrorMessage"
   }];
      $(this).setVerificationMessageBox("Verification", "Validation", btnObjects, true);
   });
   $(document).on("click", "#btn_validation_buttons_cancel", function()
   {
      var btnObjects = [
     {
        "id": "btnValidationSubmit",
        "name": "Submit",
        "function": "",
        "class": "btnErrorMessage"
     },
  {
     "id": "btn_ok",
     "name": "Ok",
     "function": "onclick='$(this).closeMessageBox();'",
     "class": "btnErrorMessage"
  }, {
     "id": "btn_Continue",
     "name": "Continue",
     "function": "onclick='$(this).closeMessageBox();'",
     "class": "btnErrorMessage"
  }];
      $(this).setVerificationMessageBox("Verification", "Validation", btnObjects, false);
   });

</script>
