﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "policyRtsScript";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.SegmentGroup = "policy";
   ViewBag.Hidden = true;
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
}

@section SegmentTitle{}
<script>
   @if (!string.IsNullOrWhiteSpace(Model.PolicyForm.ContainerType))
   {
      <text>
   var selectContainerType = function() {
      $(".scroll-container-type [value='@Model.PolicyForm.ContainerType']").attr("checked", true);
      setTimeout(function() {
         $(".scroll-container-type").slick("slickGoTo", $(".scroll-container-type input[checked]").attr("data-index"));
            $(".scroll-container-type input[checked]").parents("label").click().parent().addClass("selected");
            @if (Model.PolicyForm.NotificationIds.Count > 1)
            {
               @:$("#containerType :input").attr("disabled", true);
            }},
         500);
      window.removeMethod(selectContainerType, "containerTypeExpandMethods");
   }
   window.createAndExclusivePush("containerTypeExpandMethods", selectContainerType);

      </text>
   }
   var policyOneTimeFunction = function()
   {
      window.policyOneTimeFunction = undefined;
      var offset = 0;
      console.log("adding rts scripts");
      $(".quantityFinal").val(@Model.PolicyForm.Quantity);

      @if (!string.IsNullOrWhiteSpace(Model.PolicyForm.ContainerCondition))
      {
         <text>
            if ($(".ContainerConditionRadio").length) {
               setTimeout(function() {
                     setContainerCondition(null, $("input[type=radio][checked='checked'].ContainerConditionRadio")[0]);
                  },
                  offset);
               offset += 400;
            }
            if ($("input[name=condition]").length) {
               $("input[name=condition][value='@Model.PolicyForm.ContainerCondition']:first").click();
            }
         </text>
         if (Model.PolicyForm.NotificationIds.Count > 1)
         {
            <text>
               $("#containerCondition :input").attr("disabled", true);
               $("input[name=condition]").attr("disabled", true);
            </text>
                  }
         }
      var multipleNotifications = @Model.PolicyForm.NotificationIds.Count > 1;
      //setTimeout(function(){
      //   $("#lotContinue").click();
      //   }, offset);
      //   offset += 400;
      $("#lotDate :input").attr("disabled", true);
      $("#lotContinue").attr("disabled", false);
      @if (Model.PolicyForm.NotificationIds.Count > 1)
         {
            @:$(".quantityDiv :input").attr("disabled", true);
                     }
      $("#Policy .QoskSegment").each(function(i)
      {
         var $arrow = $(this).find(".collapse-arrow");
         var $panel = $(this).find(".panel-collapse");
         if (multipleNotifications) {
            if (this === $("#containerType").parents(".QoskSegment")[0] ||
               this === $("#containerCondition").parents(".QoskSegment")[0] ||
               this === $("#lotDate").parents(".QoskSegment")[0]) {
               $panel.addClass("toCollapse");
               setTimeout(function() {
                     if (!$panel.hasClass("collapsed")) {
                        $arrow.click();
                     }
                  },
                  offset);
               offset += 400;
               return true;
            } else {
               setTimeout(function() {
                     if ($panel.hasClass("collapsed")) {
                        $arrow.click();

                        $('#tabs-Policy').animate(
                           { scrollTop: $panel.offset().top - $("#tabs-Policy").offset().top - 43 },
                           200);
                     } else if ($panel.hasClass("toCollapse")) {
                        $panel.removeClass("toCollapse");
                        $('#tabs-Policy').animate(
                           { scrollTop: $panel.offset().top - $("#tabs-Policy").offset().top - 43 },
                           200);
                        if (window[$panel[0].id + "ExpandMethod"] !== undefined) {
                           window[$panel[0].id + "ExpandMethod"]();
                        }
                     }
                  },
                  offset);
               return false;
            }
         } else {
            if (i === 0) {
               setTimeout(function() {
                     if ($panel.hasClass("collapsed")) {
                        $arrow.click();

                        $('#tabs-Policy').animate(
                           { scrollTop: $panel.offset().top - $("#tabs-Policy").offset().top - 43 },
                           200);
                     } else if ($panel.hasClass("toCollapse")) {
                        $panel.removeClass("toCollapse");
                        $('#tabs-Policy').animate(
                           { scrollTop: $panel.offset().top - $("#tabs-Policy").offset().top - 43 },
                           200);
                        if (window[$panel[0].id + "ExpandMethod"] !== undefined) {
                           window[$panel[0].id + "ExpandMethod"]();
                        }
                     }
                  },
                  offset);

            } else {
               $panel.addClass("toCollapse");
               setTimeout(function() {
                     if (!$panel.hasClass("collapsed")) {
                        $arrow.click();
                     }
                  },
                  offset);
               offset += 400;
            }
            return true;
         }
      });
   }
   window.policyOneTimeFunction = policyOneTimeFunction;
</script>