﻿@using Microsoft.Ajax.Utilities
@using Qualanex.QoskCloud.Web.Areas.Product.Models
@using Qualanex.QoskCloud.Utility
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
<div id="policy-result">
   @if (Model != null && Model.PolicyForm.PolicyResult.LogOut)
   {
      <script>window.location = "/User/Logout";</script>
   }
   <div>

      <div class="policy-status-loading align-center" hidden>
         <img src="~/images/loader2.gif" />
      </div>
      <script>
         $(document).ready(function ()
         {
            window.setupRaForBinDesignation();
         });
      </script>
      @if (Model.PolicyForm.ReadyForDisposition)
      {
         <table width="100%" class="QoskKeyboard QnexContent QoskSegment QoskForm ">
            <tr>
               <td rowspan="3" width="33%">
                  @*The html for printing is included regardless of function since it is where new Item Guids are stored*@
                  @Html.Partial("_PrintLabel", Model)
                  @if (Model.UpaApplication.HasObjectId("PrintLabel"))
                  {
                     <div class="ql-print-click originalSort ql-action">
                        <img height="100" src="~/Areas/Product/Images/Finalize_Icons/DymoPrinter_Off.png" />
                        <br />
                        Re-Print Item Label
                        <input id="printLabelButton" type="button" value="Submit Return and Print Item Label(s)" data-ql-target="#printLabel" data-ql-action="@Url.Action("PrintLabel")" hidden />
                     </div>
                  }
                  @*The below div is displayed only when green bin override is selected*@
                  <div class="cancelOverride greenBinSort ql-action" hidden>
                     <img height="100" width="100" src="~/Areas/Product/Images/WrhsContainers/@(Model.PolicyForm.BinDesignation).svg" />
                     <br />
                     Cancel Green Bin Override
                  </div>
               </td>
               <td>
                  @{
                     //Make sure the text is visible, white on white doesn't work and clear isn't a valid text color
                     var color = Model.PolicyForm.BinText;
                     if (Model.PolicyForm.BinText == "WHITE" || Model.PolicyForm.BinText == "CLEAR")
                     {
                        color = "GREY";
                     }
                     else if (color.Contains("ORANGE"))
                     {
                        color = "ORANGE";
                     }
                  }
                  <h2>
                     Sort to: <span class="originalSort" style="color: @color">@Model.PolicyForm.BinText</span>
                     @*The below span is only for use with green bin override*@
                     <span class="greenBinSort" style="color: green" hidden>GREEN</span>
                  </h2>
               </td>
               <td rowspan="3" width="33%">
                  @*The below is only used for green bin override*@
                  @if (Model.PolicyForm.BinDesignation == Constants.GreenSortBin && !Model.UpaApplication.HasObjectId("DesignationOverride"))
                  {
                     <h3>
                        <table>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.Quarantine) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Quarantine</td>
                           </tr>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContainerImage) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Container Image</td>
                           </tr>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContentImage) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Content Image</td>
                           </tr>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.Weight) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Weight</td>
                           </tr>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.LotExpiration) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Lot Expiration</td>
                           </tr>
                           <tr>
                              <td><img height="30" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.WasteStream) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                              <td>Waste Stream</td>
                           </tr>
                        </table>
                     </h3>
                  }
                  else if (Model.PolicyForm.BinDesignation != Constants.WhiteSortBin && Model.UpaApplication.HasObjectId("DesignationOverride"))
                  {
                     <div class="ql-action originalSort greenBinOverride" hidden="@(Model.PolicyForm.BinDesignation == Constants.GreenSortBin)">
                        <img height="100" width="100" src="~/Areas/Product/Images/WrhsContainers/GRN_BIN.svg" />
                        <br />
                        Green Bin Override
                     </div>
                     <div class="greenBinSort" hidden="@(!Model.UpaApplication.HasObjectId("DesignationOverride") || Model.PolicyForm.BinDesignation != Constants.GreenSortBin)">
                        <h3>
                           <table>
                              <tr class="greenBinReason @(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContainerImage) ? "systemChecked" : "unchecked")" data-reason=",@GreenBinReason.ContainerImage">
                                 <td><img height="30" data-active-src="/Areas/Product/Images/NotificationActions/BoxChecked.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxTemplate.svg" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContainerImage) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                                 <td>Container Image</td>
                              </tr>
                              <tr class="greenBinReason @(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContentImage) ? "systemChecked" : "unchecked")" data-reason=",@GreenBinReason.ContentImage">
                                 <td><img height="30" data-active-src="/Areas/Product/Images/NotificationActions/BoxChecked.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxTemplate.svg" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.ContentImage) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                                 <td>Content Image</td>
                              </tr>
                              <tr class="greenBinReason @(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.Weight) ? "systemChecked" : "unchecked")" data-reason=",@GreenBinReason.Weight">
                                 <td><img height="30" data-active-src="/Areas/Product/Images/NotificationActions/BoxChecked.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxTemplate.svg" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.Weight) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                                 <td>Weight</td>
                              </tr>
                              <tr class="greenBinReason @(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.LotExpiration) ? "systemChecked" : "unchecked")" data-reason=",@GreenBinReason.LotExpiration">
                                 <td><img height="30" data-active-src="/Areas/Product/Images/NotificationActions/BoxChecked.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxTemplate.svg" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.LotExpiration) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                                 <td>Lot Expiration</td>
                              </tr>
                              <tr class="greenBinReason @(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.WasteStream) ? "systemChecked" : "unchecked")" data-reason=",@GreenBinReason.WasteStream">
                                 <td><img height="30" data-active-src="/Areas/Product/Images/NotificationActions/BoxChecked.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxTemplate.svg" src="/Areas/Product/Images/NotificationActions/@(Model.PolicyForm.GreenBinReason.HasFlag(GreenBinReason.WasteStream) ? "BoxChecked" : "BoxTemplate").svg" /> </td>
                                 <td>Waste Stream</td>
                              </tr>
                           </table>
                        </h3>
                     </div>
                  }
               </td>
            </tr>
            <tr>
               <td>
                  <img class="originalSort ql-action sortBinSubmit" height="150" src="~/Areas/Product/Images/WrhsContainers/@(Model.PolicyForm.BinDesignation).svg" />
                  <img class="greenBinSort ql-action sortBinSubmit" height="150" src="~/Areas/Product/Images/WrhsContainers/GRN_BIN.svg" hidden />
               </td>
            </tr>
            <tr>
               <td>
                  <input class="txtSortBin scannerRequired inputEx uppercase" placeholder="Scan Bin" style="height: 22px;" onkeypress="" value="" />
                  <input type="hidden" id="sortBinType" value="@Model.PolicyForm.BinDesignation" />
               </td>
            </tr>
         </table>
         <script>
            $(document).ready(function ()
            {
               setTimeout(function ()
               {
                  onDesignation();
               }, 150);
            });
         </script>
      }
      else
      {
         <text>Processing has not been completed</text>
      }
      <div class="tdMessage">
         <table style="width: 100%;">
            <tr>
               <td id="designationError" class="tdCaption error"></td>
            </tr>
            <tr>
               <td id="incompleteMessages" class="tdCaption error"></td>
            </tr>
         </table>
      </div>
   </div>
   @if (HttpContext.Current.Request.RequestContext.RouteData.Values["Action"] as string == "UpdatePolicyResult")
   {
      <div hidden>
         @Html.Partial("_PolicyFinalize", Model)
      </div>
   }
</div>