﻿@using Microsoft.AspNet.Identity
@using Constants = Qualanex.QoskCloud.Utility.Constants
@model List<Qualanex.QoskCloud.Web.Areas.Product.Models.ImageResult>

@{ var imageId = Guid.NewGuid(); }
<div id="@imageId" class="carousel slide" data-interval="false">
   @if (Model.Count > 1)
   {
      <!-- Wrapper for slides -->
      <div class="@imageId slick-product-slider" role="listbox">
         @foreach (var image in Model)
         {
            <div class="item">
               <img src="@image.Url" class="slick-product-image" data-image-type="@image.ImageType" data-featherlight="@image.Url" alt="@image.AltText">
            </div>
         }
      </div>
      <script>
           $("." + "@imageId").slick({
              dots: true,
              infinite: true,
              speed: 500
           });
      </script>
   }
   else if (Model.Count == 1)
   {
      <div class="carousel-inner" role="listbox">
         <div class="item active">
            <img src="@Model.First().Url" data-featherlight="@Model.First().Url" alt="@Model.First().AltText">
         </div>
      </div>
   }
   else
   {
      <div class="carousel-inner defaultImage" role="listbox">
         <div class="item active">
            <img src="@(ViewBag.showLogo ?? false ? Constants.Default_Product_Image_Url : "/images/Defaultimages.jpg")" alt="No product image available" ) />
         </div>
      </div>
      <div class="processingCounts" style="text-align:center" hidden>
         <span id="processedCount" style="font-size:84px">2</span>&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;<span id="processingCount" style="font-size:84px">5</span><br /><br />processed
      </div>
      <script>
          var productId = @(ViewBag.productId);

          if (window.showProcessedCounts !== undefined && productId === 0)
          {
             window.showProcessedCounts();
          }
      </script>
   }
</div>