﻿<span class="segmentControls rtsFilter" style="position: relative; top: 25%;margin-right: 5px">
   <img id="ReturnedToggle" Title="show/hide returned products" src="~/Areas/Product/Images/NotificationActions/ReturnInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/ReturnActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/ReturnInactive.svg" />
   <img id="DispensedToggle" Title="show/hide dispensed products" Title="show/hide returned products" src="~/Areas/Product/Images/NotificationActions/DispensedInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/DispensedActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/DispensedInactive.svg" />
   <img id="TransferedToggle" Title="show/hide transferred products" src="~/Areas/Product/Images/NotificationActions/StoreTransferInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/StoreTransferActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/StoreTransferInactive.svg" />
   <img id="RemovedToggle" Title="show/hide duplicate products" src="~/Areas/Product/Images/NotificationActions/RemoveInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/RemoveActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/RemoveInactive.svg"/>
   <img id="PendingToggle" Title="show/hide pending products" src="~/Areas/Product/Images/NotificationActions/ClockInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/ClockActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/ClockInactive.svg" />
</span>