﻿<span class="segmentControls recallFilter" style="position: relative; top: 25%;margin-right: 5px">
   <img id="AcknowledgedToggle" Title="show/hide returned products" src="~/Areas/Product/Images/NotificationActions/BoxCheckInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/BoxCheckActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/BoxCheckInactive.svg" />
   <img id="InactiveToggle" Title="show/hide pending products" src="~/Areas/Product/Images/NotificationActions/ClockInactive.svg" data-active-src="/Areas/Product/Images/NotificationActions/ClockActive.svg" data-inactive-src="/Areas/Product/Images/NotificationActions/ClockInactive.svg" />
</span>