﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
<div id="search">
   <script>
      $("#wait").hide();
   </script>

   @if (Model.SearchResults.Products.Count == 0 && Model.SearchResults.Message.Length > 0)
   {
      <h4 style="@if (Model.SearchResults.Message.Contains("ERROR")) {@:color: red;
                 }">@Html.Raw(Model.SearchResults.Message)
      </h4>
      <script>
          $(document).ready(function ()
          {
             if (window.onSearchResultsLoad !== undefined)
             {
                window.onSearchResultsLoad();
             }

             @if (Model.UpaApplication.Code != "WAREHS_AUDIT")
             {
               @:$("#tab-container").easytabs('select', "#tabs-SearchResults");
             }
         });
      </script>
   }
   else
   {
      if (Model.SearchResults.Products.Count == 1)
      {
         @Html.Partial("_UpdateForSingleResult", Model.SearchResults.Products.First())
      }
      <table id="searchGrid" class="display" cellspacing="0" width="95%">
         <thead>
            <tr>
               <th>NDC/UPC&nbsp;&nbsp;&nbsp;&nbsp;</th>
               <th>Product Name</th>
               <th>Generic Name</th>
               <th>Size</th>
               <th>Dosage</th>
               <th>Form</th>
               <th>Manufacturer</th>
            </tr>
         </thead>
         <tbody>
            @foreach (var item in Model.SearchResults.Products)
            {
               <tr class="ql-div-click selectable" name="SearchListItem" data-ql-method="post" data-ql-ajax="true"
                   data-ql-data="ndc=@item.ProductDetail.Ndc&productId=@item.ProductDetail.ProductId&rollupNdc=@item.ProductDetail.RollupNdc&rollupProductId=@item.ProductDetail.RollupProductId&unit=@item.ProductDetail.UnitOfMeasure@(item.ProductDetail.Lot == null ? string.Empty : "&lotNumber=" + item.ProductDetail.Lot.LotNumber + "&expdate=" + item.ProductDetail.Lot.ExpirationDate + "&caseQty=" + item.ProductDetail.CaseQty + "&serial=" + item.ProductDetail.SerialNumber + "&ScannedBarcode=" + item.ProductDetail.ScannedBarcode)" )
                   data-unique-selection="product">
                  @if (!string.IsNullOrWhiteSpace(item.ProductDetail.NDCUPCWithDashes))
                  {
                     <td>@Html.DisplayFor(model => item.ProductDetail.NDCUPCWithDashes)</td>
                  }
                  else
                  {
                     <td>@Html.DisplayFor(model => item.ProductDetail.Upc)</td>
                  }
                  <td>@item.ProductDetail.Brand</td>
                  <td>@item.ProductDetail.Generic</td>
                  <td>@Html.DisplayFor(model => item.ProductDetail.PackageSize)</td>
                  <td>@item.ProductDetail.Strength</td>
                  <td>@item.ProductDetail.DosageCode</td>
                  <td>@item.ProductDetail.Manufacturer</td>
               </tr>
            }
         </tbody>
      </table>
      <script>
         $(document).ready(function()
         {
            $("#searchGrid").removeClass("dataTable");
            window.dtHeaders("#searchGrid", "order: [[1, 'asc']]", [], []);

            @if (Model.SearchResults.Count() > 1)
            {
               @:$("#tab-container").easytabs('select', "#tabs-SearchResults");
            }
         });
      </script>
   }
</div>