﻿@using System.Web.UI.HtmlControls
@using Grimace.BulkInsert.Extensions
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@using Qualanex.QoskCloud.Web.Areas.Product
@using Qualanex.QoskCloud.Web.Areas.Product.Models
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div id="search">
   <script type="text/javascript">
      $("#wait").hide();
   </script>

   @if (Model.SearchResults.ImageSearchResults != null && Model.SearchResults.ImageSearchResults.Count > 0)
   {

      SearchRequest request = ViewBag.SearchDetail;
      var newRow = false;
      <form id="ImageSearchForm">
         @Html.HiddenFor(model => request.Product.Ndc)
         @Html.HiddenFor(model => request.Product.Manufacturer)
         @Html.HiddenFor(model => request.Product.Brand)
         @Html.HiddenFor(model => request.Lot)
         @Html.HiddenFor(model => request.ExpirationDate)
         @Html.HiddenFor(model => request.Imprint.Obverse)
         @Html.HiddenFor(model => request.Imprint.Reverse)
         @Html.HiddenFor(model => request.Imprint.Shape)
         @Html.HiddenFor(model => request.Imprint.Color)
         @Html.HiddenFor(model => request.Imprint.Score)
      </form>

      <table id="searchGrid" class="display" cellspacing="0" width="95%">

         <tr>
            @{
               var ndc = Model.SearchResults.ImageSearchResults.First().ProductDetail.Ndc;
               var singleNdc = true;

               foreach (var item in Model.SearchResults.ImageSearchResults)
               {
                  if (item.ProductDetail.Ndc != ndc)
                  {
                     singleNdc = false;
                  }
                  <td>
                     <table class="pillPanel ql-div-click selectable" name="SearchImageItem" data-ql-method="post" data-ql-ajax="true"
                            data-ql-data="ndc=@item.ProductDetail.Ndc&productId=@item.ProductDetail.ProductId&rollupNdc=@item.ProductDetail.RollupNdc&rollupProductId=@item.ProductDetail.RollupProductId&unit=@item.ProductDetail.UnitOfMeasure@(item.ProductDetail.Lot == null ? string.Empty : "&lotNumber=" + item.ProductDetail.Lot.LotNumber + "&expdate=" + item.ProductDetail.Lot.ExpirationDate + "&caseQty=" + item.ProductDetail.CaseQty + "&serial=" + item.ProductDetail.SerialNumber + "&ScannedBarcode=" + item.ProductDetail.ScannedBarcode)" )
                            data-unique-selection="product">
                        <tr>
                           <td>
                              <table class="tableEx">
                                 <tr>
                                    <td class="tdImprint" rowspan="4">
                                       @if (item.ImprintGroups.Any() && item.ImprintGroups.First().ImageResults.Any())
                                       {
                                          <img src="@ProductCommon.GetProductImageUrl(item.ImprintGroups.First().ImageResults.First().FileName)" class="ql-no-click" data-featherlight="@ProductCommon.GetProductImageUrl(item.ImprintGroups.First().ImageResults.First().FileName)" />
                                       }
                                    </td>

                                    @if (!item.ProductDetail.NDCUPCWithDashes.IsNullOrWhiteSpace())
                                    {
                                       <td class="tdLabel">@Html.LabelFor(model => item.ProductDetail.NDCUPCWithDashes)</td>

                                       <td class="" style="border-bottom: 1px solid #C8C8C8; border-top: 1px solid #C8C8C8;">@Html.TextBoxFor(model => item.ProductDetail.NDCUPCWithDashes, new { @class = "inputEx", @readonly = "true" })</td>
                                    }
                                    else
                                    {
                                       <td class="tdLabel">@Html.LabelFor(model => item.ProductDetail.Upc)</td>
                                       <td class="" style="border-bottom: 1px solid #C8C8C8; border-top: 1px solid #C8C8C8;">@Html.TextBoxFor(model => item.ProductDetail.Upc, new { @class = "inputEx", @readonly = "true" })</td>
                                    }

                                 </tr>
                                 <tr>
                                    <td class="tdLabel">@Html.LabelFor(model => item.ProductDetail.Manufacturer)</td>
                                    <td style="border-bottom: 1px solid #C8C8C8;">@Html.TextBoxFor(model => item.ProductDetail.Manufacturer, new { @class = "inputEx", @readonly = "true" })</td>

                                 </tr>
                                 <tr>
                                    <td class="tdLabel">@Html.LabelFor(model => item.ProductDetail.Brand)</td>
                                    <td style="border-bottom: 1px solid #C8C8C8;">@Html.TextBoxFor(model => item.ProductDetail.Brand, new { @class = "inputEx", @readonly = "true" })</td>
                                 </tr>
                                 <tr>
                                    <td class="tdLabel">@Html.LabelFor(model => item.ProductDetail.Generic)</td>
                                    <td style="border-bottom: 1px solid #C8C8C8;">@Html.TextBoxFor(model => item.ProductDetail.Generic, new { @class = "inputEx", @readonly = "true" })</td>
                                 </tr>
                              </table>
                           </td>
                           <td class="marginR" style="margin-bottom: 10px"></td>
                        </tr>
                     </table>
                  </td>
                  if (newRow)
                  {
                     @:</tr><tr>
                  }
                  {
                     newRow = !newRow;
                  }
               }

               if (singleNdc && Model.SearchResults.ImageSearchResults.PageCount == 1)
               {
                  @Html.Partial("_updateForSingleResult", Model.SearchResults.ImageSearchResults.First())
               }
               else
               {
                  <script>$("#tab-container").easytabs('select', "#tabs-SearchResults");</script>
               }
            }
         </tr>
         <tr>
            <td colspan="2">
               <div class="dataTables_wrapper no-footer">
                  <div class="dataTables_info" id="searchGrid_info" role="status" aria-live="polite">Showing @Model.SearchResults.ImageSearchResults.FirstItemOnPage to @Model.SearchResults.ImageSearchResults.LastItemOnPage of @Model.SearchResults.ImageSearchResults.TotalItemCount entries</div>
                  <div class="dataTables_paginate paging_simple_numbers">
                     <a href="#" class="paginate_button previous @(!Model.SearchResults.ImageSearchResults.HasPreviousPage ? "disabled" : "ql-pag-click")" data-ql-method="post" data-ql-ajax="true"
                        data-ql-data="page=@(Model.SearchResults.ImageSearchResults.PageNumber - 1)&sortOrder=@ViewBag.sortOrder"
                        data-ql-action="@Url.Action("UpdateImageSearch")" data-ql-target="#search">Previous</a>
                     <span>
                        <a href="#" class="paginate_button @(1 == Model.SearchResults.ImageSearchResults.PageNumber ? "current" : "ql-pag-click")" data-ql-method="post" data-ql-ajax="true"
                           data-ql-data="page=1&sortOrder=@ViewBag.sortOrder"
                           data-ql-action="@Url.Action("UpdateImageSearch")" data-ql-target="#search">1</a>
                        @if (Model.SearchResults.ImageSearchResults.PageNumber > 4)
                        {
                           <span class="ellipsis">…</span>
                        }
                        @for (var i = (Model.SearchResults.ImageSearchResults.PageNumber <= 2 ? 2 : (Model.SearchResults.ImageSearchResults.PageNumber > Model.SearchResults.ImageSearchResults.PageCount - 4 ? Model.SearchResults.ImageSearchResults.PageCount - 4 : Model.SearchResults.ImageSearchResults.PageNumber - 1)); i <= (Model.SearchResults.ImageSearchResults.PageNumber < 5 ? 5 : Model.SearchResults.ImageSearchResults.PageNumber + 1) && i < Model.SearchResults.ImageSearchResults.PageCount; i++)
                        {
                           if (i < 2)
                           {
                              i = 2;
                           }

                           <a href="#" class="paginate_button @(i == Model.SearchResults.ImageSearchResults.PageNumber ? "current" : "ql-pag-click")" data-ql-method="post" data-ql-ajax="true"
                              data-ql-data="page=@i&sortOrder=@ViewBag.sortOrder"
                              data-ql-action="@Url.Action("UpdateImageSearch")" data-ql-target="#search">@i</a>
                           }
                        @if (Model.SearchResults.ImageSearchResults.PageCount > 1)
                        {
                           if (Model.SearchResults.ImageSearchResults.PageCount > 6 && Model.SearchResults.ImageSearchResults.PageNumber <= Model.SearchResults.ImageSearchResults.PageCount - 4)
                           {
                              <span class="ellipsis">…</span>
                           }
                           <a href="#" class="paginate_button @(Model.SearchResults.ImageSearchResults.PageCount == Model.SearchResults.ImageSearchResults.PageNumber ? "current" : "ql-pag-click")" data-ql-method="post" data-ql-ajax="true"
                              data-ql-data="page=@Model.SearchResults.ImageSearchResults.PageCount&sortOrder=@ViewBag.sortOrder"
                              data-ql-action="@Url.Action("UpdateImageSearch")" data-ql-target="#search">@Model.SearchResults.ImageSearchResults.PageCount</a>
                           }
                     </span>
                     <a href="#" class="paginate_button next @(!Model.SearchResults.ImageSearchResults.HasNextPage ? "disabled" : "ql-pag-click")" data-ql-method="post" data-ql-ajax="true"
                        data-ql-data="page=@(Model.SearchResults.ImageSearchResults.PageNumber + 1)&sortOrder=@ViewBag.sortOrder"
                        data-ql-action="@Url.Action("UpdateImageSearch")" data-ql-target="#search">Next</a>
                  </div>
               </div>
            </td>
         </tr>
      </table>
   }
   else
   {
      <h4 style="@if (ViewBag.Message.Contains("ERROR")) {@:color: red;
                 }">@Html.Raw(ViewBag.Message)
      </h4>
      <script>
         $(document).ready(function ()
         {
            if (window.onSearchResultsLoad !== undefined)
            {
               window.onSearchResultsLoad();
            }
         });
      </script>

   }
</div>