﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentName = string.Format(ViewBag.Segment.DisplayFormat, Model.Notification.Recalls.Count);
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "recallBody";
   ViewBag.SegmentComplete = "true";
   ViewBag.SegmentActions = "_RecallSegmentControls";
   Model.AdditionalSegments.Add("_AdditionalSegmentNotificationCount");
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
}

@section SegmentTitle{

}@if (Model.Notification.Recalls.Count > 0)
{

   <table id="recalls" class="display" cellspacing="0" width="95%">
      <thead>
      <tr>
         <th></th>
         <th>NDC/UPC&nbsp;&nbsp;&nbsp;&nbsp;</th>
         <th>Product Name</th>
         <th>Lot Numbers</th>
         <th>Recall Class</th>
         <th>Recall Start Date</th>
         <th>File</th>
      </tr>
      </thead>
      <tbody>
         @foreach (var item in Model.Notification.Recalls)
         {
               var data = "productId=" + item.ProductDetail.ProductId + "&unit=" + item.ProductDetail.UnitOfMeasure + "&ndc=" + item.ProductDetail.Ndc + "&recallId=" + item.RecallId;
               if(item.Lots.Count == 1 & item.Lots.First().LotNumber != "All Lots" & item.Lots.First().LotNumber != "NA")
               {
                  data += "&lotNumber=" + item.Lots.First().LotNumber + "&expDate=" + item.Lots.First().ExpirationDate;
               }
               <tr name="RecallItem" class="ql-div-noclick @(item.Acknowledgement.Acknowledged ? "selectable" : "unacknowledged")" data-ql-method="post" data-ql-data="@data"
                   data-unique-selection="product">
                  <td>
                     <span hidden>
                     @{ string recallState = "Acknowledged";}
                     @if(item.RecallStartDate > DateTime.UtcNow || item.RecallEndDate < DateTime.UtcNow)
                     {
                        recallState = "Pending";

                     }
                     else if (!item.Acknowledgement.Acknowledged)
                     {
                        recallState = "ActiveRecall";
                     }
                     @if (item.Acknowledgement.Acknowledged)
                     {
                        recallState = "Acknowledged";
                        <text> @Html.DisplayFor(model => item.Acknowledgement.AcknowledgedDate) @item.Acknowledgement.AcknowledgedBy</text>
                     }
                        <span class="recallState">@recallState</span>
                     </span>

                     @if (item.Acknowledgement.Acknowledged)
                     {
                        <img width="20px" src="~/Areas/Product/Images/NotificationActions/BoxChecked.svg" />
                     }
                     else
                     {
                        <img class="ql-ajax acknowledgeCheck" name="AcknowledgeRecall" data-ql-method="post" data-ql-data="@data" width="20px" src="~/Areas/Product/Images/NotificationActions/BoxTemplate.svg" />
                     }
                  </td>
                  <td name="RecallItem" class="ql-div-click" data-ql-method="post" data-ql-data="@data">
                     @(!string.IsNullOrWhiteSpace(item.ProductDetail.NDCUPCWithDashes) ? Html.DisplayFor(model => item.ProductDetail.NDCUPCWithDashes) : Html.DisplayFor(model => item.ProductDetail.Upc))
                  </td>
                  <td name="RecallItemLot" class="ql-div-click" data-ql-method="post" data-ql-data="@data">
                     @item.ProductDetail.Brand
                  </td>
                     @if (item.Lots.Count == 1)
                     {

                        <td  class="ql-div-click" data-ql-method="post" data-ql-data="@data">
                           @item.Lots.First().LotNumber
                        </td>
                     }
                     else
                     {
                        <td>
                           <select class="ql-dropdown-lot">
                              <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                              @foreach (var lot in item.Lots)
                              {
                                 <option value="lotNumber=@lot.LotNumber&expDate=@lot.ExpirationDate">@lot.LotNumber</option>
                              }

                           </select>
                        </td>
                     }
                  <td name="RecallItem" class="ql-div-click" data-ql-method="post" data-ql-data="@data">
                     @Html.DisplayFor(model => item.RecallClass)
                  </td>
                  <td name="RecallItem" class="ql-div-click" data-ql-method="post" data-ql-data="@data">
                     <span hidden>
                        @if (item.RecallStartDate != null)
                        {
                           @item.RecallStartDate.Value.ToString("s")
                        }
                     </span>
                     @Html.DisplayFor(model => item.RecallStartDate)
                  </td>
                  <td name="RecallItem" class="ql-div-click" data-ql-method="post" data-ql-data="@data">

                     <img width="20px" src="~/Areas/Product/Images/NotificationActions/Link.svg" />
                  </td>
               </tr>
         }
      </tbody>
   </table>
   <script>
      $(document)
          .ready(function()
          {
             $("#Notifications #recalls").removeClass("dataTable");
             window.dtHeaders("#Notifications #recalls", "", [], []);
             filterRecalls();
          });
      $("#notificationCount").html("@Model.Notification.Count()");
   </script>
}