﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.Qosk.Library.Model.UPAModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ContainerType_50Opacity.png";
   ViewBag.SegmentId = "containerType";
   ViewBag.ContainerType = Model.PolicyForm.ContainerType;
   ViewBag.InnerNdc = Model.PolicyForm.Product != null && Model.PolicyForm.Product.NDCInnerPack ? Model.PolicyForm.Product.NDCUPCWithDashes : "";
   Layout = "~/Areas/Product/Views/Shared/_PolicySegmentLayout.cshtml";
}

@section SegmentTitle{ <span id="ContainerTypeSelection"></span>}

<div width="900px">
   <div class="scroll-container-type" width="800px">
      @{
         ViewBag.ContainerTypeIndex = 0;
         UPASegment segment = ViewBag.Segment;
         foreach (var func in segment.childObj.Values)
         {
            //Skip the No Outer Package container type if the container settings are not set for the profile
            //the product ID is there to make sure we only skip the outer package type if we're processing
            if (func.ObjectID == "_ContainerTypeOuterPackage" && Model.PolicyForm.ContrSetting == 0 && Model.PolicyForm.ProductId > 0)
            {
               continue;
            }

            //In this instance, the ObjectID has the name of a view
            @Html.Partial("ContainerType/" + func.ObjectID, Model)
            ViewBag.ContainerTypeIndex++;
         }
      }
   </div>
</div>
@if (segment.childObj.Count > 4)
{
   <script>
      $(".scroll-container-type").slick({
         slidesToShow: 4,
         slidesToScroll: 4
      });

      $(".scroll-container-type").width("900px");
      $(".scroll-container-type").slick("slickGoTo", 1);
   </script>
}
@if (!string.IsNullOrEmpty(ViewBag.InnerNdc))
{
   <script>
      //If we're processing an inner product, set the NDC into an attribute
      var innerNdc = '@ViewBag.InnerNdc';
      $(".scroll-container-type").attr("inner-ndc", innerNdc);
   </script>
}
@if (ViewBag.ContainerType != null)
{
   <script>
      $(document).ready(function()
      {
         //If we have a predetermined container type (whether it's an inner or a case quantity from 2D barcodes) automatically select it once the page loads
         var contrType = '@ViewBag.ContainerType';
         $(".scroll-container-type").attr("contr-type", true);
         $(".scroll-container-type").attr("contr", contrType);

         setTimeout(function ()
         {
            if (!isForeignContainer())
            {
               $("input[type=radio][value='" + contrType + "']").click();
            }
         }, 990);
      });
   </script>
}