﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ContainerCondition_50Opacity.png";
    ViewBag.SegmentId = "addReason";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}

@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonDetail))
        {
            <p>@Html.Raw(wasteCode.AddReasonDetail)</p>
            foreach (var url in wasteCode.AddReasonUrls)
            {
                <p>@Html.DisplayFor(model => url)</p>
            }
            if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonText))
            {
                <p>@Html.Raw(wasteCode.AddReasonText)</p>
            }
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonText))
        {
            <p>@Html.Raw(wasteCode.AddReasonText)</p>
        }
        else
        {
            <p>No additional reasons found.</p>
        }
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonDetail))
        {
            <p>@Html.Raw(wasteCode.AddReasonDetail)</p>
            foreach (var url in wasteCode.AddReasonUrls)
            {
                <p>@Html.DisplayFor(model => url)</p>
            }
            if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonText))
            {
                <p>@Html.Raw(wasteCode.AddReasonText)</p>
            }
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonText))
        {
            <p>@Html.Raw(wasteCode.AddReasonText)</p>
        }
        else
        {
            <p>No additional reasons found.</p>
        }
    }
}