﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = "level" + Model.PolicyForm.HazardClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ReturnPolicy_50Opacity.png";
    ViewBag.SegmentId = "policyStatus";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_PolicySegmentLayout.cshtml";
}

@section SegmentTitle{ }

@{
    var criteria = Model.PolicyForm.PolicyResult.PolicyModel.ReportPolicy();
    if (criteria != null && criteria.Count > 0)
    {
        @:Products with the following condition(s) are not eligible for credit:
                                    foreach (var item in criteria)
        {
            <ul>
                <li>
                    @item.Criteria
                </li>
            </ul>
        }
    }
    else
    {
        @:@Model.PolicyForm.PolicyResult.PolicyModel.Disposition
                                }
}