﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

@{
   ViewBag.SegmentId = "Audit Inventory";
   ViewBag.Reconcile = "Reconcile";
   ViewBag.Id = "ItemGUID";
   ViewBag.ContainerIdNameI = "Totes";
   ViewBag.ContainerIdNameO = "OutboundContainerID";
   ViewBag.TypeName = "DestinationType";
   ViewBag.KeyName = "ItemGUID";
   ViewBag.CategoryName = "Category";
}


<div id="AuditInventory" class="QoskSegment">

   @if (Model.Binventory.Rows != null && Model.Binventory.Rows.Any())
   {
      @Html.Partial("_Binventory", Model)
      <script>
         $(document).ready(function ()
         {
            if (window.onAuditInventoryLoad !== undefined)
            {
               window.onAuditInventoryLoad();
            }
         });
      </script>
   }
   else if (Model.Binventory.Rows == null)
   {
      <h1 style="color: red"> Error Retrieving Bin Inventory. Please Contact Your Supervisor.</h1>
   }
   else
   {
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">
               <span style="background: #3A80BB; height: 100%" class="pull-right"></span>
            </td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="tdMarginR level0">
               <img class="imgEx" src="~/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png" />
               <img class="collapse-arrow" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" data-target="#trackingBody" />
            </td>
         </tr>
         <tr id="trackingBody">
            <td colspan="2" class="QnexContent level0">
               <h4>Open a white bin to continue</h4>
            </td>
      </table>
   }
</div>
