﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ReturnPolicy_50Opacity.png";
   ViewBag.SegmentId = "foreignContent";
   //ViewBag.SegmentComplete = true;
   ViewBag.SegmentValidation = "validateForeignContent";
   Layout = "~/Areas/Product/Views/Shared/_PolicySegmentLayout.cshtml";
}

@section SegmentTitle{ }
<h1>Hello World</h1>
@if (Model.UpaApplication.HasObjectId("_ForeignContentWeight"))
{
   <text>Capture the weight of the foreign content</text>
}