﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "binDesignation";
   ViewBag.SegmentComplete = "NA";
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
   ViewBag.SegmentGroup = "policy";

   if (Model.PolicyForm.ProductId == 0)
   {
      ViewBag.Hidden = true;
   }
}

@section SegmentTitle{ <span id="BinType"></span>}
@Html.Partial("_BinResult", Model)
<script>
   //wait to allow browser to load all scripts,
   //any earlier and things haven't finished initializing
   $(document).ready(function ()
   {
      setTimeout(function ()
      {
         //since this segment is only loaded for induction,
         //it is appropriate to run induction specific methods here.
         window.setupWarehouseInduction();
         window.addDesignationLoadMethod(window.disablePolicyForm);
      }, 1000);
   });

</script>