﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ContainerCondition_50Opacity.png";
    ViewBag.SegmentId = "reason";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}
@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p>@Html.Raw(wasteCode.ReasonDetail)</p>
        foreach (var url in wasteCode.ReasonUrls)
        {
            <p>@Html.DisplayFor(model => url)</p>
        }
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        <p>@Html.Raw(wasteCode.ReasonDetail)</p>
        foreach (var url in wasteCode.ReasonUrls)
        {
            <p>@Html.DisplayFor(model => url)</p>
        }
    }
}