﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ReturnPolicy_50Opacity.png";
   ViewBag.SegmentId = "containerImage";
   ViewBag.SegmentValidation = "validateContainerImage";
   Layout = "~/Areas/Product/Views/Shared/_PolicySegmentLayout.cshtml";
}

@section SegmentTitle{ }

<table class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td style="padding-bottom: 3px;">
         <table style="width: 1px;">
            <tr>
               <!-- Container Image Instructions Entry -->
               <td>
                  <table class="tableEx" style="width: 275px;">
                     <tr>
                        <td class="tdInstructions" style="padding: 0px 20px 10px 20px;" colspan="3">Rotate container so its label is clearly visible in the camera area.</td>
                     </tr>
                     <tr>
                        <td style="text-align: center;" colspan="3"><img style="height: 190px;" src="/Images/Segments/QoskPharmacistScale.png" alt="" /></td>
                     </tr>
                     <tr>
                        <td style="padding: 7px 14px 4px 0px; text-align: right;"><input id="imageReload" class="buttonEx cmdKey" style="" type="button" value="Reload" disabled /></td>
                        <td style="padding: 7px 14px 4px 0px; text-align: right;"><input id="imageRetake" class="buttonEx cmdKey" style="" type="button" value="Retake" disabled /></td>
                        <td style="padding: 7px 3px 4px 0px; text-align: right;"><input id="imageCapture" class="buttonEx cmdKey" style="" type="button" value="Capture" disabled /></td>
                     </tr>
                  </table>
               </td>
               <!-- Container Images -->
               <td style="padding: 5px 0px 0px 5px;">
                  <table>
                     <tr>
                        <td>
                           <table>
                              <tr><td class="tdPreviewTitle" style="">Side Camera Preview</td></tr>
                              <tr>
                                 <td class="tdPreviewFrame" style="">
                                    <table>
                                       <tr>
                                          <td class="tdPreviewCell" style="">
                                             <table class="tblPreviewPane" style="">
                                                <tr>
                                                   <td>
                                                      <img id="sidePrescriptionImage" src="~/Images/Qosk_ContainerImage_PrescriptionSideBoilerplate.png" hidden="" />
                                                      <img id="sideReview" width="304" hidden />
                                                      <video id="sideCamera" class="webcamCapture" width="300px" height="150px" autoplay loop></video>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="tdPreviewCamera" style="">
                                    <select id="cboSideCamera" class="selectEx selectCamera webcamSelect" data-target="sideCamera" style="">
                                       <option value="" disabled selected>----------- Camera -----------</option>
                                    </select>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td>
                           <table>
                              <tr><td class="tdPreviewTitle" style="">Top Camera Preview</td></tr>
                              <tr>
                                 <td class="tdPreviewFrame" style="">
                                    <table>
                                       <tr>
                                          <td class="tdPreviewCell" style="">
                                             <table class="tblPreviewPane" style="">
                                                <tr>
                                                   <td>
                                                      <img id="topReview" width="304px" hidden />
                                                      <video id="topCamera" class="webcamCapture" width="300px" height="150px" autoplay loop></video>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="tdPreviewCamera" style="">
                                    <select id="cboTopCamera" class="selectEx selectCamera webcamSelect" data-target="topCamera" style="">
                                       <option value="" disabled selected>----------- Camera -----------</option>
                                    </select>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
               <td></td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table style="width: 100%;">
            <tr>
                <td>
                    <span id="imageContainerError" class="tdCaption error"></span><br />
                    <span id="webcamError" class="tdCaption error"></span>
                    <span id="sameCameraErrorText" hidden>The top and side views must be set to different cameras.</span>
                    <span id="tooFewCamerasErrorText" hidden>At least two cameras are required to proceed.</span>
                    <span id="noCaptureErrorText" hidden>Images must be captured to proceed.</span>
                    <span id="couldNotSaveErrorText" hidden style="padding-right: 50px;  text-align: left; font: 16px eras_medium, sans-serif; color: maroon;" >The captured image(s) could not be saved, please retake images.</span>

                </td>

               <td style="padding: 0px 3px 4px 0px; text-align: right;"><input type="button" id="imageContinue" class="ql-policy-continue buttonEx cmdKey" style="width: 85px; height: 35px;" value="Continue" data-ql-next="#weightQuantityCondition" /></td>
            </tr>
         </table>
      </td>
   </tr>
</table>

@if (Model.PolicyForm.ProductId != 0)
{ 
<script>
   $(document).ready(function()
   {
      unloadWebcams();
      LoadUpaCameras();
   })
</script>
 }