﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = @Model.WasteResult.DisplayClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_WasteClassification_50Opacity.png";
    ViewBag.SegmentId = "wasteClassification";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}

@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p>Regulated as @wasteCode.Description</p>
        <p>
            @wasteCode.Code
        </p>
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        <p>Regulated as @wasteCode.Description</p>
        <p>
            @wasteCode.Code
        </p>
    }
}