﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = @Model.WasteResult.DisplayClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_WasteStream_50Opacity.png";
    ViewBag.SegmentId = "wasteStream";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}
@if (Model.WasteResult.WasteStreams.Any())
{
    foreach (var wasteStream in Model.WasteResult.WasteStreams)
    {
        if (!string.IsNullOrWhiteSpace(wasteStream.State) && wasteStream.State != "Not State Related")
        {
            <Text>@wasteStream.State:</Text>
        }
        else
        {
            @:Federal:
        }
        if (wasteStream.IsHazardous)
        {
            <p>Handle as Hazardous Waste</p>
        }
        else
        {
            <p>Handle as Non-Hazardous Waste</p>
        }
        <p>@wasteStream.Description</p>
        break;
    }
}