﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = @Model.WasteResult.DisplayClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_Highlights_50Opacity.png";
    ViewBag.SegmentId = "highlights";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}

@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p>@wasteCode.ReasonDescription</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonDetail))
        {
            <p>(See "Additional Reasons" below)</p>
        }
        else
        {
            <p>No Highlights Found.</p>
        }
        <p>@Html.Raw(wasteCode.Highlights)</p>
        if (wasteCode.PossibleSyringe ?? false)
        {
            <p>
                If you're disposing of a needle with a syringe,<br />please refer to your policies and procedures for disposal instructions.
            </p>
        }
        if (wasteCode.MsdsNotReq ?? false)
        {
            <p>According to the manufacturer, no SDS is required for this product.</p>
        }
        else if (string.IsNullOrWhiteSpace(wasteCode.MsdsRsnWeb) && !string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Text) && !string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
        {
            <p>@Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)</p>
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Text) && !string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Href))
        {
            <p>@Html.DisplayFor(model => wasteCode.MsdsComment)</p>
        }
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        <p>@wasteCode.ReasonDescription</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.AddReasonDetail))
        {
            <p>(See "Additional Reasons" below)</p>
        }
        else
        {
            <p>No Highlights Found.</p>
        }
        <p>@Html.Raw(wasteCode.Highlights)</p>
        if (wasteCode.PossibleSyringe ?? false)
        {
            <p>
                If you're disposing of a needle with a syringe,<br />please refer to your policies and procedures for disposal instructions.
            </p>
        }
        if (wasteCode.MsdsNotReq ?? false)
        {
            <p>According to the manufacturer, no SDS is required for this product.</p>
        }
        else if (string.IsNullOrWhiteSpace(wasteCode.MsdsRsnWeb) && !string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Text) && !string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
        {
            <p>@Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)</p>
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Text) && !string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Href))
        {
            <p>@Html.DisplayFor(model => wasteCode.MsdsComment.Text)</p>
        }
    }
}