﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = @Model.WasteResult.DisplayClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_DisposalEmptyPackaging_50Opacity.png";
    ViewBag.SegmentId = "emptyPack";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}

@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p>@wasteCode.HazardEmptyContent</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.HazardEmptyShippingLabel))
        {
            <p>@wasteCode.HazardEmptyShippingLabel</p>
        }
        <p>@wasteCode.HazardEmptyContentAddInfo</p>
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        <p>@wasteCode.HazardEmptyContent</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.HazardEmptyShippingLabel))
        {
            <p>@wasteCode.HazardEmptyShippingLabel</p>
        }
        <p>@wasteCode.HazardEmptyContentAddInfo</p>
    }
}