﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ReturnPolicy_50Opacity.png";
   ViewBag.SegmentId = "weightQuantityCondition";
   ViewBag.SegmentValidation = "validateWeightQuantityCondition";
   ViewBag.SelectedCaseSize = Model.PolicyForm.SelectedCaseSize;
   Layout = "~/Areas/Product/Views/Shared/_PolicySegmentLayout.cshtml";
}

@section SegmentTitle{ }
@if (Model.PolicyForm.ProductId != 0)
{

   <table id="weightQuantityConditionTable" class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
      <tr>
         <td style="width: 1px; padding-bottom: 3px;">
            <table style="width: 1px;">
               <tr>
                  <td>
                     <!-- Capture Weight -->
                     @*Here, the segment looks for the presence of a UPA function's objectId when deciding what to renders*@
                     <div style="padding: 0px 5px 0px 0px; display: @(Model.UpaApplication.HasObjectId("WeightFunction") ? "block" : "none")">
                        <table class="segBody segWeight" style="@(Model.UpaApplication.HasObjectId("WeightFunction") ? "height: 375px;" : "")">
                           <tr style="height: 100%;">
                              <td>
                                 <table class="segBody">
                                    <tr>
                                       <td>
                                          <table class="segBody">
                                             <tr><td class="segWtQtyHeader">Weight:</td></tr>
                                             <tr><td style="text-align: center;"><img style="height: 180px;" src="/Images/Segments/QoskPharmacistScale.png" alt="" /></td></tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <table class="segWtQtyCtrl">
                                    <tr>
                                       <td>
                                          <table class="segBody">
                                             <tr>
                                                <td style="width: 50%; padding: 0px 25px 0px 5px;">
                                                   <!-- Weight Capture - Product -->
                                                   <div class="weightProduct" style="display: block;">
                                                      <table>
                                                         <tr><td class="segLabel">Product:</td></tr>
                                                         <tr>
                                                            <td style="padding: 0px 0px 0px 4px;">
                                                               <div id="divProductWeight"><input id="ID_PRODUCTWT" class="inputEx editable ECS_NUMERIC" style="height: 22px;" type="text" value="" nextfocus="ID_CONTENTWT ID_SEALED ID_PKGCOUNT ID_INDIVIDUAL ID_CASESIZE" prevfocus="ID_SEALED ID_ITMCOUNT ID_INDIVIDUAL ID_CASESIZE ID_CONTENTWT" /></div>
                                                               <div id="divProductWeightRO" style="display: none;"><input class="inputEx noWeight" type="text" value="" readonly /></div>
                                                            </td>
                                                         </tr>
                                                         <tr><td class="segLabelSm"></td></tr>
                                                      </table>
                                                   </div>
                                                </td>
                                                <td style="width: 50%; padding: 0px 5px 0px 25px;">
                                                   <!-- Weight Capture - Content -->
                                                   <div class="weightContent" style="display: block;">
                                                      <table>
                                                         <tr><td class="segLabel">Content:</td></tr>
                                                         <tr>
                                                            <td style="padding: 0px 0px 0px 4px;">
                                                               <div id="divContentWeight"><input id="ID_CONTENTWT" class="inputEx editable ECS_NUMERIC" style="height: 22px;" type="text" value="" nextfocus="ID_SEALED ID_PKGCOUNT ID_INDIVIDUAL ID_CASECOUNT ID_PRODUCTWT" prevfocus="ID_PRODUCTWT" /></div>
                                                               <div id="divContentWeightRO" style="display: none;"><input class="inputEx noWeight" type="text" value="" readonly /></div>
                                                            </td>
                                                         </tr>
                                                         <tr><td class="segLabelSm"></td></tr>
                                                      </table>
                                                   </div>
                                                </td>
                                             </tr>
                                             <tr style="height: 45px;">
                                                <td style="padding: 0px 0px 4px 8px; text-align: left;"><input id="CMD_SCALETARE" class="buttonEx cmdKey" type="button" value="Tare" /></td>
                                                <td style="padding: 0px 8px 4px 0px; text-align: right;"><input id="CMD_SCALECAPTURE" class="buttonEx cmdKey" type="button" value="Capture" /></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>
                  <td>
                     <!-- Capture Quantity -->
                     <div style="padding: 0px 0px 0px 0px; display: @(Model.UpaApplication.HasObjectId("QuantityFunction") ? "block" : "none")">
                        <table class="segBody segQuantity" style="@(Model.UpaApplication.HasObjectId("WeightFunction") ? "height: 375px;" : "")">
                           <tr style="height: 100%;">
                              <td>
                                 <table class="segBody">
                                    <tr>
                                       <td>
                                          <table class="segBody">
                                             <tr><td class="segWtQtyHeader">Quantity:</td></tr>
                                             <tr>
                                                <td>
                                                   <!-- Static Preview -->
                                                   <div class="" style="display: @(Model.UpaApplication.HasObjectId("contentImage") ? "none;" : "block;")">
                                                      <table>
                                                         <tr>
                                                            <td class="tblPreviewPane" style="background-image: none; text-align: center;">
                                                               <img id="ID_STATICPREVIEW" style="width: 180px; height: 180px;" src="/Images/ContainerType/Coming Soon.png" alt="" />
                                                            </td>
                                                         </tr>
                                                      </table>
                                                   </div>
                                                   <!-- Dynamic Content Preview -->
                                                   <div class="" style="display: @(Model.UpaApplication.HasObjectId("contentImage") ? "block;" : "none;")">
                                                      <table>
                                                         <tr>
                                                            <td class="tdPreviewFrame">
                                                               <table>
                                                                  <tr>
                                                                     <td class="tdPreviewCell">
                                                                        <table class="tblPreviewPane">
                                                                           <tr>
                                                                              <td>
                                                                                 @if (Model.UpaApplication.HasObjectId("contentImage"))
                                                                                 {
                                                                                    <img id="contentPrescriptionImage" src="~/Images/Qosk_ContainerImage_PrescriptionSideBoilerplate.png" hidden="" />
                                                                                    <img id="contentReview" style="width: 304px" hidden />
                                                                                    <video id="contentCamera" class="" style="width: 300px; height: 150px" autoplay loop></video>
                                                                                 }
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                         @if (Model.UpaApplication.HasObjectId("contentImage"))
                                                         {
                                                            <tr>
                                                               <td>
                                                                  <select id="cboContentCamera" class="selectEx selectCamera" data-target="contentCamera" style="">
                                                                     <option value="" disabled selected>----------- Camera -----------</option>
                                                                  </select>
                                                               </td>
                                                            </tr>}
                                                      </table>
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <table class="segWtQtyCtrl">
                                    <tr>
                                       <td>
                                          <table class="segBody">
                                             <tr>
                                                <td style="padding: 0px 5px 0px 5px;">
                                                   <table style="width: 100%;">
                                                      <tr><td class="segLabel">&nbsp;</td></tr>
                                                      <tr>
                                                         <td style="padding: 0px 0px 0px 4px;">
                                                            <!-- Sealed Quantity -->
                                                            <div class="segWtQtySealed" style="display: none;">
                                                               <table class="" style="width: 100%; height: 100%;">
                                                                  <tr>
                                                                     <td style="width: 26%;"><input id="ID_SEALED" class="inputEx editable ECS_NUMERIC" placeholder="Pkg(s)" type="text" value="" nextfocus="ID_PRODUCTCOMMENT ID_PRODUCTWT" prevfocus="ID_CONTENTWT ID_PRODUCTWT" /></td>
                                                                     <td style="width: 74%;"></td>
                                                                  </tr>
                                                               </table>
                                                            </div>
                                                            <!-- Opened Quantity -->
                                                            <div class="segWtQtyOpened" style="display: none;">
                                                               <table class="" style="width: 100%; height: 100%;">
                                                                  <tr>
                                                                     <td style="width: 26%;"><input id="ID_PKGCOUNT" class="inputEx editable ECS_NUMERIC" placeholder="Pkg(s)" type="text" value="" nextfocus="ID_ITMCOUNT" prevfocus="ID_CONTENTWT ID_PRODUCTWT ID_ITMCOUNT" onfocus="this.select()" onkeydown="window.enterAsTab(this.id, event);" /></td>
                                                                     <td style="width: 11%; text-align: center;">+</td>
                                                                     <td style="width: 26%;"><input id="ID_ITMCOUNT" class="inputEx editable ECS_NUMERIC" type="text" value="0" nextfocus="ID_PRODUCTCOMMENT ID_PRODUCTWT" onfocus="this.select()" prevfocus="ID_PKGCOUNT" /></td>
                                                                     <td style="width: 11%; text-align: center;">=</td>
                                                                     <td style="width: 26%;"><input id="ID_OPENED" class="inputEx" type="text" value="0" readonly /></td>
                                                                  </tr>
                                                               </table>
                                                            </div>
                                                            <!-- Loose Quantity -->
                                                            <div class="segWtQtyLoose" style="display: none;">
                                                               <table class="" style="width: 100%; height: 100%;">
                                                                  <tr>
                                                                     <td style="width: 26%;"><input id="ID_INDIVIDUAL" class="inputEx editable ECS_NUMERIC" type="text" value="" nextfocus="ID_PRODUCTCOMMENT ID_PRODUCTWT" prevfocus="ID_CONTENTWT ID_PRODUCTWT" /></td>
                                                                     <td style="width: 74%;"></td>
                                                                  </tr>
                                                               </table>
                                                            </div>
                                                            <!-- Case Quantity -->
                                                            <div class="segWtQtyCase" style="display: none;">
                                                               <table class="" style="width: 100%; height: 100%;">
                                                                  <tr>
                                                                     <td style="width: 26%;"><input id="ID_CASECOUNT" class="inputEx editable ECS_NUMERIC" placeholder="Case Qty" type="text" value="" nextfocus="ID_CASESIZE" prevfocus="ID_CONTENTWT ID_PRODUCTWT ID_CASESIZE" /></td>
                                                                     <td style="width: 11%; text-align: center;">x</td>
                                                                     <td style="width: 26%;">
                                                                        <input id="ID_CASESIZE" class="inputEx editable ECS_NUMERIC" placeholder="Case Size" type="text" value="@ViewBag.SelectedCaseSize" list="caseSizes" nextfocus="ID_PRODUCTCOMMENT ID_PRODUCTWT" prevfocus="ID_CASECOUNT" />
                                                                        <datalist id="caseSizes">
                                                                           @foreach (var item in Model.PolicyForm.Product.CaseSize)
                                                                           {
                                                                              <option value="@item">@item</option>
                                                                           }
                                                                        </datalist>
                                                                     </td>
                                                                     <td style="width: 11%; text-align: center;">=</td>
                                                                     <td style="width: 26%;"><input id="ID_CASEQTY" class="inputEx" placeholder="Pkg(s)" type="text" value="" readonly /></td>
                                                                  </tr>
                                                               </table>
                                                            </div>
                                                         </td>
                                                         <td>
                                                            <!-- Recount Quantity -->
                                                            <div class="segWtQtyRecount" style="display: none;">
                                                               <table class="" style="width: 100%; height: 100%;">
                                                                  <tr>
                                                                     <td style="width: 26%;"><input id="ID_RECOUNT" class="inputEx editable ECS_NUMERIC" placeholder="EA" type="text" value="" nextfocus="ID_PRODUCTCOMMENT ID_PRODUCTWT" prevfocus="ID_CONTENTWT ID_PRODUCTWT" /></td>
                                                                     <td style="width: 74%;"></td>
                                                                  </tr>
                                                               </table>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td class="segLabelSm"></td>
                                                         <td class="segLabelRecount"></td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr style="@(Model.UpaApplication.HasObjectId("WeightFunction") ? "height: 45px;" : "")">
                                                <td class="segWtQtyInstructions">
                                                   @Model.PolicyForm.Product.ForceQuantityCountNotes
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>
                  <td>
                     <!-- Container Condition -->
                     <div style="padding: 0px 0px 0px 20px; display: block;">
                        <table>
                           <tr>
                              <td>
                                 <table class="segBody segCondition" style="@(Model.UpaApplication.HasObjectId("WeightFunction") ? "height: 375px;" : "")">
                                    <tr style="height: 100%;">
                                       <td>
                                          <div id="ContainerCondition">
                                             <table class="segBody">
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionDmgPkg") && Model.PolicyForm.ContrSetting == 1 ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_DMGPKG" value="DmgdPkg" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_DMGPKG">Damaged Packaging</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionFreeGoods") && Model.PolicyForm.FreeGoodsSetting == 2 ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_FREE_GOODS" value="FreeGoods" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_FREE_GOODS">Free Goods</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionDamaged") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_DAMAGED" value="Damaged" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_DAMAGED">Damaged</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionConcealedDamage") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_HIDDEN" value="Concealed" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_HIDDEN">Concealed Damaged</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionDefective") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_DEFECT" value="Defective" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_DEFECT">Defective</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionWaste") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_WASTE" value="Waste" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_WASTE">Waste</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionForeignContents") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_FOREIGN" value="ForeignContent" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_FOREIGN">Foreign Contents</label></td></tr>
                                                <tr style="display: @(Model.UpaApplication.HasObjectId("_ContainerConditionForeignContainer") ? "table-row" : "none");"><td class="" style="height: 50px;"><input id="CNTRCDTN_FOREIGN_CTR" value="ForeignContainer" type="checkbox" name="condition" hidden /><label class="cmdLabel segOption" for="CNTRCDTN_FOREIGN_CTR">Foreign Container</label></td></tr>
                                             </table>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="segLabel">
                                          Comment:<br />
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="2">
                                          <textarea id="ID_PRODUCTCOMMENT" class="inputEx editable textarea" nextfocus="weightContinue" prevfocus="ID_PRODUCTWT" autocomplete="off" rows="4" style="width: 100%; resize: none"></textarea>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>

                     </div>
                  </td>
               </tr>

            </table>
         </td>
         <!-- filler -->
         <td>&nbsp;</td>
      </tr>
      <tr>
         <td class="tdMessage">
            <table style="width: 900px;">
               <tr>
                  <td class="tdCaption" style="width: 100%;"></td>
                  <td style="height: 100%; text-align: right;"><input type="button" id="weightContinue" class="ql-policy-continue buttonEx" style="width: 85px; height: 35px;" value="Continue" data-ql-next="#policyStatus" /></td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
   @*<script>
         function enterAsTab(id, e)
         {
            if (e.keyCode == 13)
            {
               var nextFocusAttribute = document.getElementById(id).getAttribute("nextfocus");
               var nextFocusArray = nextFocusAttribute.split(" ");
               for (var i = 0; i < nextFocusArray.length; i++)
               {
                  var target = "#" + nextFocusArray[i];
                  if ($(target).is(":visible"))
                  {
                     document.getElementById(nextFocusArray[i]).focus();
                     break;
                  }
               }
            }
         }
      </script>*@
   <script>
      $(document).ready(function ()
      {
         //this sets autocomplete off on all weight/quantity fields
         $("input").attr("autocomplete", "off");
      });
   </script>
   if (ViewBag.Segment.HasObjectId("WeightFunction"))
   {
      <script>
         checkScaleCondition();
      </script>
   }
}
