﻿@using System.Activities.Expressions
@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Areas.Product.Models
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentName = string.Format(ViewBag.Segment.DisplayFormat, Model.Notification.ProductReminders.Count);
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "productNotificationBody";
   ViewBag.SegmentComplete = "true";
   ViewBag.SegmentActions = "_NotificationSegmentControls";
   Model.AdditionalSegments.Add("_AdditionalSegmentNotificationCount");
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
}

@section SegmentTitle{}
@if (Model.Notification.ProductReminders.Count > 0)
{

   <table id="productNotifications" class="display" cellspacing="0" width="95%">
      <thead>
         <tr>
            <th></th>
            <th>NDC/UPC&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Product Name</th>
            <th>Manufacturer</th>
            <th>Lot Number</th>
            <th>Expiration Date</th>
            <th>Container Type</th>
            <th>Notification Date</th>
         </tr>
      </thead>
      <tbody>
         @foreach (var group in Model.Notification.ProductReminders)
         {
            var notification = group.First();
            var notificationDate = notification.FutureIndateOpen < notification.FutureIndateSealed ? notification.FutureIndateOpen : notification.FutureIndateSealed;

            <tr class="notificationGroup" data-ql-method="post"
                data-groupguid="@notification.GroupGuid" data-unique-selection="notificationGroup">
               <td>
                  @{
                     var groupStatus = NotificationStatus.Done;
                     var status = NotificationStatus.Pending;
                  }
                  <span hidden>
                     @foreach (var item in group)
                     {
                        if (item.Status == NotificationStatus.Pending.ToString())
                        {
                           status = NotificationStatus.Pending;
                           if ((notificationDate ?? DateTime.MaxValue) < DateTime.UtcNow)
                           {
                              item.Status = NotificationStatus.Actionable.ToString();
                              status = NotificationStatus.Actionable;
                           }
                           groupStatus = status;
                        }
                        else
                        {
                           Enum.TryParse(item.Status, out status);
                           if (group.Count == 1)
                           {
                              groupStatus = status;
                           }
                        }

                        @(status + " ");
                     }
                  </span>
                  <table>
                     <tr>
                        <td style="padding: 2px">
                           <img width="20px" src="@switch (groupStatus)
                                                  {
                                                     case NotificationStatus.Pending:
                                                        @:/Areas/Product/Images/NotificationActions/Clock.svg
                                                        break;
                                                     case NotificationStatus.Actionable:
                                                        @:/Areas/Product/Images/NotificationActions/Alert.svg
                                                        break;
                                                     case NotificationStatus.Dispensed:
                                                        @:/Areas/Product/Images/NotificationActions/Dispensed.svg
                                                        break;
                                                     case NotificationStatus.DuplicateRemoved:
                                                        @:/Areas/Product/Images/NotificationActions/Remove.svg
                                                        break;
                                                     case NotificationStatus.Returned:
                                                        @:/Areas/Product/Images/NotificationActions/Return.svg
                                                        break;
                                                     case NotificationStatus.StoreTransfer:
                                                        @:/Areas/Product/Images/NotificationActions/StoreTransfer.svg
                                                        break;
                                                     case NotificationStatus.Done:
                                                        @:/Areas/Product/Images/NotificationActions/BoxCheck.svg
                                                        break;
                                                  }" />
                        </td>
                        <td style="padding: 2px">@(group.Count > 1 ? "(" + group.Count + ")" : "")</td>
                     </tr>
                  </table>
               </td>
               <td>
                  @(!string.IsNullOrWhiteSpace(notification.ProductDetail.NDCUPCWithDashes) ? Html.DisplayFor(model => notification.ProductDetail.NDCUPCWithDashes) : Html.DisplayFor(model => notification.ProductDetail.Upc))
               </td>
               <td>@notification.ProductDetail.Brand</td>
               <td>@notification.ProductDetail.Manufacturer</td>
               <td>
                  @(notification.Lot.LotNumber != null ? notification.Lot.LotNumber.ToUpper() : null)
                  <span hidden>@notification.ProductDetail.Ndc @notification.ProductDetail.Upc</span>
               </td>
               <td>
                  <span hidden>
                     @if (notification.Lot.ExpirationDate != null)
                     {
                        @notification.Lot.ExpirationDate.Value.ToString("s")
                     }
                  </span>
                  @Html.DisplayFor(model => notification.Lot.ExpirationDate)
               </td>
               <td>
                  @Html.DisplayFor(model => notification.ContainerType)
                  @(notification.ContainerType == ContainerType.Case ? "(" + notification.CaseSize + ")" : "")
               </td>
               <td>
                  @{
                  }

                  @if (notificationDate != null)
                  {
                     <span hidden>
                        @notificationDate.Value.ToString("s")
                     </span>@notificationDate.Value.ToString("MM/dd/yyyy")
                  }

                  <table class="notificationExpansionTable" hidden>
                     <tr class="notificationExpansionRow" data-productid="@notification.ProductDetail.ProductId" data-groupguid="@notification.GroupGuid">
                        <td colspan="8" style="padding: 0px">
                           <div hidden>
                              <table>
                                 @if (group.Count > 1)
                                 {
                                    var i = 0;
                                    NotificationStatus itemStatus;
                                    foreach (var lineItem in group)
                                    {
                                       Enum.TryParse(lineItem.Status, out itemStatus);
                                       if (Model.Notification.ReturnStartedIds.Contains(lineItem.NotificationId))
                                       {
                                          itemStatus = NotificationStatus.ReturnInProgress;
                                       }
                                       var itemDate = lineItem.FutureIndateOpen < lineItem.FutureIndateSealed ? lineItem.FutureIndateOpen : lineItem.FutureIndateSealed;
                                       if (lineItem.Status == NotificationStatus.Pending.ToString() && (itemDate ?? DateTime.MaxValue) < DateTime.UtcNow)
                                       {
                                          lineItem.Status = NotificationStatus.Actionable.ToString();
                                          itemStatus = NotificationStatus.Actionable;
                                       }
                                       i++;
                                       <tr>
                                          <td>
                                             #@i
                                          </td>
                                          @switch (itemStatus)
                                          {
                                             case NotificationStatus.Returned:
                                                <td><img width="15px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Return.svg" /></td>
                                                <td colspan="4" data-unique-selection="@lineItem.NotificationId">
                                                   This product has been returned
                                                </td>
                                                break;
                                             case NotificationStatus.ReturnInProgress:
                                                <td><img width="15px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Return.svg" /></td>
                                                <td colspan="4" data-unique-selection="@lineItem.NotificationId">
                                                   This product is being returned
                                                </td>
                                                break;
                                             case NotificationStatus.Dispensed:
                                                <td><img width="15px" src="~/Areas/Product/Images/NotificationActions/Dispensed.svg" /></td>
                                                <td colspan="2">
                                                   This product has been dispensed
                                                </td>
                                                <td colspan="2" data-value="@NotificationStatus.Pending" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" />Undo</td>

                                                break;
                                             case NotificationStatus.DuplicateRemoved:
                                                <td><img width="15px" src="~/Areas/Product/Images/NotificationActions/Remove.svg" /></td>
                                                <td colspan="2">
                                                   This product has been marked as a duplicate
                                                </td>
                                                <td colspan="2" data-value="@NotificationStatus.Pending" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" />Undo</td>

                                                break;
                                             case NotificationStatus.StoreTransfer:
                                                <td><img width="15px" src="~/Areas/Product/Images/NotificationActions/StoreTransfer.svg" /></td>
                                                <td colspan="2">
                                                   This product has been transferred
                                                </td>
                                                <td colspan="2" data-value="@NotificationStatus.Pending" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" />Undo</td>

                                                break;
                                             default:

                                                <td data-value="@NotificationStatus.Dispensed" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/Dispensed.svg" />Dispense</td>

                                                <td data-value="@NotificationStatus.StoreTransfer" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/StoreTransfer.svg" />Transfer</td>
                                                <td data-value="@NotificationStatus.DuplicateRemoved" class="selectable" data-unique-selection="@lineItem.NotificationId"><img width="15px" src="~/Areas/Product/Images/NotificationActions/Remove.svg" />Remove Duplicate</td>
                                                if (itemStatus == NotificationStatus.Actionable)
                                                {
                                                   <td data-value="@NotificationStatus.Returned" class="selectable" data-unique-selection="@lineItem.NotificationId">
                                                      <img width="15px" src="~/Areas/Product/Images/NotificationActions/Return.svg" />Return
                                                   </td>
                                                   <td class="QoskKeyboard" data-unique-selection="@lineItem.NotificationId">
                                                      <input type="button" class="buttonEx cmdKey commitBtn selectable" data-unique-selection="@lineItem.NotificationId" data-value="ReturnAltered" style="width: 120px; height: 25px; font-size: 12px" src="~/Areas/Product/Images/NotificationActions/ReturnAltered.svg" value="Return Altered">
                                                   </td>
                                                }
                                                else
                                                {
                                                   <td colspan="2"></td>
                                                }
                                                break;
                                          }
                                          <td>@lineItem.ContainerCondition @lineItem.ContainerType</td>
                                       </tr>
                                    }

                                    <tr>
                                       <td colspan="7" class="QoskKeyboard">
                                          <input type="button" class="pull-right buttonEx cmdKey commitBtn" style="width: 85px; height: 25px;" value="Commit" />
                                       </td>
                                    </tr>
                                 }
                                 else
                                 {
                                    <tr style="text-align: center">
                                       <td width="400px"></td>
                                       <td style="padding: 0px; margin: 0px">
                                          <img width="70px" style="padding: 0px; margin: 0px" class="pull-right" src="~/Areas/Product/Images/NotificationActions/RTSSingleEndcap.svg" />
                                       </td>
                                       @{

                                          if (Model.Notification.ReturnStartedIds.Contains(notification.NotificationId))
                                          {
                                             status = NotificationStatus.ReturnInProgress;
                                          }
                                       }
                                       @switch (status)
                                       {
                                          case NotificationStatus.Actionable:

                                          case NotificationStatus.Pending:
                                             if (status == NotificationStatus.Actionable)
                                             {
                                                <td data-value="@NotificationStatus.Returned" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                   <img height="20px" src="~/Areas/Product/Images/NotificationActions/Return.svg" /><br />
                                                   Perform Return
                                                </td>
                                             }
                                             <td data-value="@NotificationStatus.Dispensed" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/Dispensed.svg" /><br />
                                                Mark Dispensed
                                             </td>
                                             <td data-value="@NotificationStatus.StoreTransfer" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/StoreTransfer.svg" /><br />
                                                Store Transfer
                                             </td>
                                             <td data-value="@NotificationStatus.DuplicateRemoved" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/Remove.svg" /><br />
                                                Remove Duplicate
                                             </td>

                                             break;
                                          case NotificationStatus.Dispensed:
                                             <td data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="30px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Dispensed.svg" /><br />
                                             </td>
                                             <td colspan="2" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                This product has been dispensed
                                             </td>

                                             <td data-value="@NotificationStatus.Pending" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" /><br />
                                                Undo
                                             </td>
                                             break;
                                          case NotificationStatus.DuplicateRemoved:
                                             <td data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="30px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Remove.svg" /><br />
                                             </td>
                                             <td colspan="2" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                This product has been marked as a duplicate
                                             </td>

                                             <td data-value="@NotificationStatus.Pending" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" /><br />
                                                Undo
                                             </td>
                                             break;

                                          case NotificationStatus.StoreTransfer:
                                             <td data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="30px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/StoreTransfer.svg" /><br />
                                             </td>
                                             <td colspan="2" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                This product has been transferred
                                             </td>

                                             <td data-value="@NotificationStatus.Pending" class="commitBtn selectable" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="20px" src="~/Areas/Product/Images/NotificationActions/UndoClockArrow.svg" /><br />
                                                Undo
                                             </td>
                                             break;

                                          case NotificationStatus.Returned:
                                             <td data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="30px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Return.svg" /><br />
                                             </td>
                                             <td colspan="3" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                This product has been returned
                                             </td>

                                             break;
                                          case NotificationStatus.ReturnInProgress:
                                             <td data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">
                                                <img height="30px" style="opacity: 0.5;" src="~/Areas/Product/Images/NotificationActions/Return.svg" /><br />
                                             </td>
                                             <td colspan="3" data-unique-selection="@notification.NotificationId" style="background: #e3ecf5">

                                                This product is being returned
                                             </td>

                                             break;
                                       }
                                    </tr>
                                          }
                              </table>
                           </div>
                        </td>
                     </tr>
                  </table>

               </td>
            </tr>
                                          }
      </tbody>
   </table>
   <script>
      $(document)
          .ready(function()
          {
             $("#Notifications #productNotifications").removeClass("dataTable");
             filterReturnToStock();
          });
   </script>
}