﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.Level = @Model.WasteResult.DisplayClass;
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_ContainerCondition_50Opacity.png";
    ViewBag.SegmentId = "stateSummary";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}
@if (Model.WasteResult.StateWasteCodes.Any())
{

    @section SegmentTitle{<span> - Regulation Summary For @Model.WasteResult.StateWasteCodes.First().State.ToUpper()</span>}

    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p>@Html.Raw(wasteCode.StateSumDescription)</p>
        <p>For additional information, refer to</p>
        <p>@Html.DisplayFor(model => wasteCode.StateSum)</p>
        foreach (var url in wasteCode.StateSums)
        {
            <p>@Html.DisplayFor(model => url)</p>
        }
    }
}
else
{
    ViewBag.Hidden = true;
    @section SegmentTitle{}
}