﻿@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
    ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
    ViewBag.SegmentId = "addInfo";
    ViewBag.SegmentComplete = "true";
    Layout = "~/Areas/Product/Views/Shared/_WasteSegmentLayout.cshtml";
}

@section SegmentTitle{}
@if (Model.WasteResult.StateWasteCodes.Any())
{
    <text>@Model.WasteResult.StateWasteCodes.First().State:</text>
    foreach (var wasteCode in Model.WasteResult.StateWasteCodes)
    {
        <p><b>Reference:</b> @wasteCode.HazardAddInfo</p>
        <p><b>Page:</b> @wasteCode.HazardAddInfoPage</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.MsdsRsnWeb))
        {
            <p><b>SDS:</b> @wasteCode.MsdsRsnWeb</p>
            if (!string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
            {
                <p>
                    @Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)
                </p>
            }
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsMfgWeb))
        {
            if (!string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
            {
                <p>
                    <b>SDS:</b> @Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)
                </p>
            }
            else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Href))
            {
                <p>
                    <b>SDS:</b> @Html.DisplayFor(model => wasteCode.MsdsComment)
                </p>
            }
        }
    }
}
else if (Model.WasteResult.FederalWasteCodes.Any())
{
    @:Federal:
    foreach (var wasteCode in Model.WasteResult.FederalWasteCodes)
    {
        <p><b>Reference:</b> @wasteCode.HazardAddInfo</p>
        <p><b>Page:</b> @wasteCode.HazardAddInfoPage</p>
        if (!string.IsNullOrWhiteSpace(wasteCode.MsdsRsnWeb))
        {
            <p><b>SDS:</b> @wasteCode.MsdsRsnWeb</p>
            if (!string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
            {
                <p>
                    @Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)
                </p>
            }
        }
        else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsMfgWeb))
        {
            if (!string.IsNullOrWhiteSpace(wasteCode.AddInfoSdsUrl.Href))
            {
                <p>
                    <b>SDS:</b> @Html.DisplayFor(model => wasteCode.AddInfoSdsUrl)
                </p>
            }
            else if (!string.IsNullOrWhiteSpace(wasteCode.MsdsComment.Href))
            {
                <p>
                    <b>SDS:</b> @Html.DisplayFor(model => wasteCode.MsdsComment)
                </p>
            }
        }
    }
}