﻿@using Microsoft.AspNet.Identity
@using Qualanex.QoskCloud.Utility.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QualanexQosk</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dragtable.js"></script>
    <link href="~/Content/dragtable.css" rel="stylesheet" />
    <script src="~/Scripts/top-nav.js"></script>
    <script src="~/Scripts/jquery.easytabs.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="~/css/validationEngine.jquery.css" type="text/css" />
    <script src="~/Scripts/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="~/Scripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8">
    </script>

    <script src="~/js/CommonJS.js"></script>
    <script src="~/js/Constants.js"></script>
    <script src="~/js/Message.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

    <!-- responsive mediaQuery -->



    <script src="~/Scripts/jquery.tagsinput.js"></script>
    <link href="~/Css/jquery.tagsinput.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">

    <link href="~/Content/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/main-style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jqx-all.js"></script>
    <script>
       var UserRole = 0;

       if ('@User.IsInRole("Admin")' == 'True') {
          UserRole = 0;
       }
       else if ('@User.IsInRole("CUser")' == 'True') {
          UserRole = 1;
       }
       else if ('@User.IsInRole("RUser")' == 'True') {
          UserRole = 2;
       } else if ('@User.IsInRole("User")' == 'True') {
          UserRole = 3;
       }


       $(document).ready(function () {

          if (UserRole != UserRoles.ADMN) {
             $(".UserAdminDelete").remove();
             $(".UserAdminEdit").remove();
             $(".UserAdminSave").remove();

          }
       });

    </script>

    @RenderSection("styles", required: false)

</head>
<body>

    <div class="wrapper  max-container">
        <div class="header-top">
            <div class="header-above"></div>
            <!--End Top Header-->
            <div class="clearfix"></div>
            <div class="row">
                <div class="header-white">

                    <div class="col-md-2 col-sm-2">
                        <div class="inner-logo"><a href="@Url.Action("Index", "Home")"><img src="~/images/logo-inner.png" alt=""></a></div>
                    </div>
                    <div class="col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6">
                        <div class="login-section">
                            <span class="logout-btn-container">
                                @*@Html.ActionLink("Logout", "Logout", "User", routeValues: null, htmlAttributes: new { id = "input-logout-btn" })*@
                                @Html.ActionLink("Lot Number", "Logout", "Account", null, new { id = "input-logout-btn" })
                            </span>
                            <span class="settings-text">Settings</span>
                            <span class="welcome-text">Welcome @User.Identity.GetUserName()</span>

                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="topnav-main">

                            <div class="col-md-3 col-sm-3">
                                <div class="topnav-left">
                                    <span class="topnav-date">
                                        @DateTime.UtcNow.ToString("MMMM  dd, yyyy")
                                    </span> <span class="date-grey">@DateTime.UtcNow.DayOfWeek</span>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 pull-right">
                                <div class="cssmenu_wrap">

                                    <div id='cssmenu'>


                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <nav class="top-nav-box navbar-default">
            <ul>
                <li><a href="javascript:void(0)" class="lighttxt" title="Previous Record" id="btn_toolbar_previous"><i class="fa fa-reply" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Next Record" id="btn_toolbar_next"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Refresh Record" id="btn_toolbar_refresh"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                <li class="seperator lighttxt">|</li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Zoom In" id="btn_toolbar_zoomIn"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Zoom Out" id="btn_toolbar_zoomOut"><i class="fa fa-search-minus" aria-hidden="true"></i></a></li>
                <li class="seperator lighttxt">|</li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Add new record" id="btn_toolbar_new"><i class="fa fa-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt top-align" title="Edit current record" id="btn_toolbar_edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Delete current record" id="btn_toolbar_delete"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                <li class="seperator lighttxt">|</li>
                <li><a href="javascript:void(0)" class="lighttxt top-align" title="Save changes" id="btn_toolbar_save"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Cancel changes" id="btn_toolbar_cancel"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Download" id="btn_toolbar_download"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                <li class="seperator lighttxt">|</li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Custom Search" id="btn_toolbar_search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Custom Grid" id="btn_toolbar_grid"><i class="fa fa-table" aria-hidden="true"></i></a></li>
                <li class="seperator lighttxt">|</li>
                <li><a href="javascript:void(0)" class="lighttxt" title="Run Standard with new parameters" id="btn_toolbar_Exclamation"><i class="fa fa-exclamation" aria-hidden="true"></i></a></li>                
                <li><a href="javascript:void(0)" class="lighttxt" title="Run Standard" id="btn_toolbar_RunStandard"><img id="btn_toolbar_Run" class="run1" src="~/images/RunStandardDisable.png" /></a></li>
            </ul>
        </nav>

        <div class="container">
            <!-- Contanier Start Start-->
            <!-- Left Navigation End here-->
            @RenderBody()

        </div>
    </div>


    <div class="slide-menu">
        <div id="res_menu">
            <div class="slide-menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        @*<div class="top-select-box">@Html.Action("ManufactureDDL", "Home")</div>*@

        <ul>
            <li>
                <div id="mobilemenu">
                </div>
            </li>
            <li>
                <div class="pull-right margin_top margin-right6">@Html.ActionLink("Logout", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "input-logout-btn" })</div>
            </li>
        </ul>

    </div>
    <!-- Foooter Start Here-->
    @*<div class="footer">Copyright © 2000-@DateTime.UtcNow.Year Qualanex, LLC. All Rights Reserved.</div>*@
    <!-- Foooter Start End-->
    @RenderSection("scripts", required: false)

<script>
   if (Modernizr.localstorage) {
      var localData = window.localStorage;
      var getuserData = JSON.parse(localData.getItem("userInfo"));

      var html = "<ul> <div class=\"clr\"></div>";
      var mobilemenuhtml = "";
      for (var i = 0; i < getuserData.UserLeftLinks.length; i++) {
         var pagename = getuserData.UserLeftLinks[i].PageName;
         var url = getuserData.UserLeftLinks[i].PageURL;
         var adminApplicationUrl = getuserData.AdminApplicationUrl;
         //var baseurl = '@Url.Content("~/")';

         var baseurl = adminApplicationUrl;
         if (pagename == "Report") {
            pagename = "RetailerReport";
            url = "Index";
         }
         var pageurl = "";
         if (pagename == "RetailerReport") {
            pagename = "Report";
            pageurl = '@Url.Content("~/")' + "Report" + "/" + url;
         }
         else {
            pageurl = baseurl + pagename + "/" + url;
         }

         if (pagename == "LotNumber") {
            html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>Lot Number</span></a></li>";
            mobilemenuhtml += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>Lot Number</span></a></li>";
         }
         else if (pagename == "Report") {
            //html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>Report</span></a>";
            html += "<li class=\"dropdow\"><a class=\"lot-icon\" href=\"javascript:void(0)\"   >" + "Report <span class=\"caret\"></span></a>";
            html += "<ul class=\"dropdown-men\">";
            mobilemenuhtml += "<li><a class=\"lot-icon\"  >" + "<span>Report</span></a>";
            mobilemenuhtml += "<div class=\"submenu\"><ul>";
            for (var j = 0; j < getuserData.ReportsNameLinks.length; j++) {
               if (getuserData.ReportsNameLinks[j].ReportTitle == "Sample_Report_Retailer_Product_Detail") {
                  getuserData.ReportsNameLinks[j].ReportTitle = "Product Details"
               }
               html += "<li><a href=" + pageurl + "/" + getuserData.ReportsNameLinks[j].ReportID + "\target=\"_self\">" + getuserData.ReportsNameLinks[j].ReportTitle + "</a></li>";
               mobilemenuhtml += "<li><a href=" + pageurl + "/" + getuserData.ReportsNameLinks[j].ReportID + "\target=\"_self\">" + getuserData.ReportsNameLinks[j].ReportTitle + "</a></li>";
            }
            html += "</ul></li>";
            mobilemenuhtml += "</ul></div></li>";
            //mobilemenuhtml += "<li><a class=\"lot-icon\"  >" + "<span>Report</span></a></li>";
         }
         else if (pagename == "Qosk" || pagename == "Home") {
            pageurl = baseurl + "User/Home";
            html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
            mobilemenuhtml += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
         }
         else {
            html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
            mobilemenuhtml += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
         }
      }
      html += "</ul>";


      $("#cssmenu").html(html);
      $("#mobilemenu").html(mobilemenuhtml);
   }

   $(document).ready(function () {

      $('.lot-icon').click(function () {

         sessionStorage.clear();
         $.removeCookie("pagersizeno");
         $.removeCookie("pagesize");
      })

      $(".nav-btn").click(function () {
         $(".left-navigation").toggleClass("left-234");
         $(".main-container").toggleClass("margin-37");
         $(".footer").toggleClass("footer-left");
      });
      $(".slide-menu-icon").click(function () {
         $(".slide-menu").toggleClass("left-menu-toggle", "slow");
         $(".slide-menu-icon").toggleClass("slide-menu-icon-toggle", "slow");
      });
      $("#input-logout-btn").click(function () {
         if (Modernizr.localstorage) {
            var localData = window.localStorage;
            localData.removeItem("userInfo");
            window.localStorage.clear();
         }
      });

      $("#cssmenu > ul > .dropdow > a").click(function () {

         $(".dropdown-men").fadeToggle("fast");

      });
      $("body").click(function () {

         $(".dropdown-men").fadeOut("fast");

      });
   });

</script>
</body>
</html>
