﻿@model Qualanex.QoskCloud.Entity.ColumnListEntity

<div class="custom-grid" style="z-index:9999;">
    <div class="custom-search-box">
        <div class="close-btn"><img src="~/images/btn-close.png"></div>
        <h3>Custom Grid</h3>
        <div class="custom-grid-area">
            <div class="custom-grid-left">
                <select size="9" multiple="" class="list3" id="customgrdid" ondrop="drop(event)" ondragover="allowDrop(event)">

                    @for (int iCount = 0; iCount < Model.DefaultColumn.Count; iCount++)
                    {
                        <option value="@Model.DefaultColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.DefaultColumn[iCount].DisplayText</option>
                    }
                </select>
            </div>
            <div class="custom-grid-btn-arrow">
                <input type="button" class="left-btn" id='move_right1'>
                <input type="button" class="right-btn" id='move_left1'>
            </div>
            <div class="custom-grid-right">
                <select id="GridList2" size="9" multiple="MULTIPLE" class='list4' ondrop="drop(event)" ondragover="allowDrop(event)">
                    @if (Model.SubscribedColumn != null)
                    {
                        for (int iCount = 0; iCount < Model.SubscribedColumn.Count; iCount++)
                        {
                            if (Model.SubscribedColumn[iCount].ColumnName != "DefaulColumnFlag")
                            {
                                <option value="@Model.SubscribedColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.SubscribedColumn[iCount].DisplayText</option>
                            }
                        }
                    }
                </select>
            </div>
            <div id="divGrid" class="CustomGrid custom-grid-up-down">
                <input type="button" class="up-btn" value="Up">
                <input type="button" class="down-btn" value="Down">
            </div>
        </div>
        <div class="custom-search-btn">
            <input type="button" id="btnSubmit2" value="Save" onclick="GetGridPanelList();">
            <input type="button" value="Cancel" class="cancel">
        </div>
    </div>
</div>



