﻿@model Qualanex.QoskCloud.Entity.DynamicControlEntity
@*@using (Html.BeginForm())
    {*@
<div class="line" id="dvReportSummaryCriteria" style="height: 200px; overflow-y: auto;">
    @*@for (int i = 0; i < Model.Controls.Count; i++)
        {
            if (Model.Controls[i].Visible)
            {

                    <div>
                        @Html.EditorFor(x => x.Controls[i])
                    </div>

            }
        }*@

    @{int i = 0;
    }
    @while (i < Model.Controls.Count)
    {
        if (Model.Controls[i].Name == "DefaulColumnFlag")
        {
            i += 1;
        }
        else
        {
            <table class="criteria-grid">
                <tr>
                    <td>@Html.EditorFor(x => x.Controls[i])</td>
                    @{ i += 1;
                    }
                    @{
                        if (i < Model.Controls.Count)
                        {
                            <td>@Html.EditorFor(x => x.Controls[i])</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        i += 1;

                    }
                </tr>
            </table>
                            }

                        }


</div>
@* } *@
<script type="text/javascript">
    $("#dvReportSummaryCriteria").scroll(function () {
        $(".ui-autocomplete").hide();
    });
</script>
