﻿<div class="alert-popup-body-message-confirm" style="display:none" id="confirmAlert">
    <div class="alert-popup">
        <h1>Confirmation Alert<span class="alert-close">X</span></h1>
        <div class="alert-text">
            <p id="alertdeletemessageid" class="text-center"></p>
            <div class="alert-btn">
                <input type="button" value="Yes" id="btdeletenok">
                <input type="button" value="No" id="btdeletenCancel">
            </div>
        </div>
    </div>
</div>