﻿<div class="email-popup-body-confirm" id="sendEmail" style="display:none">
    <div style="margin-top:4%" class="email-popup" >
        <h1>Send Email<span class="email-close">X</span></h1>
        <div  class="alert-text"  >
            <div>
                <label style="text-align:left;">Email</label><input  style="width:440px;" type="text" id="txtEmail" placeholder="Enter comma separated emails."><br>
                <h5><b>Images</b></h5>
                <div style="width:440px;height:100px;overflow:auto;border:solid 2px #63ad07;" id="divImage"></div>
            </div>
            <div>
                <h5><b>Videos</b></h5>
                <div style="width:440px;height:100px;overflow:auto;border:solid 2px #63ad07;" id="divVideo"></div>
            </div>
            <div class="alert-btn">          
                <input type="button" value="Send" id="btnSendEmail">
                <input type="button" value="Cancel" id="btnCancel">
            </div>
        </div>
    </div>
</div>
