﻿@model Qualanex.QoskCloud.Web.Common.DateTimeViewModel

<script type="text/javascript">
    $(function () {
        // target only the input in this editor template
        $(document).ready(function ()
        {
            $(".datePicker1").datepicker({
                numberOfMonths: 1,
                changeMonth: true,
                changeYear: true,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate());

                }
            });

            if ($("[name=datepicker-DataStartDate]").val() != null) {
                DisplayDate($("[name=datepicker-DataStartDate]"));
            }
            if ($("[name=datepicker-DataEndDate]").val() != null) {
                DisplayDate($("[name=datepicker-DataEndDate]"));
            }
            if ($("[name=datepicker-ExpDate]").val() != null) {
                DisplayDate($("[name=datepicker-ExpDate]"));
            }
            if ($("[name=datepicker-QoskProcessDate]").val() != null) {
                DisplayDate($("[name=datepicker-QoskProcessDate]"));
            }


        });
    });
</script>

<table>
    <tbody>
        <tr>
            <td class="tdLabel">
                @Model.Label

            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox(Model.Type + "-" + Model.Name, Model.Value, new
           {
               @class = "datePicker1 inputEx",
               Name = Model.Type + "-" + Model.Name,
               datamessage = Model.AssociateTableName,
               type = (Model.DataType == "int" || Model.DataType == "bigint") ? "number" : "text",
               datatype = Model.DataType,
               OperatorType = Model.OperatorType

               //disabled = "disabled",
           })
            </td>

        </tr>
    </tbody>
</table>