﻿
<div id="MgmtSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">User Account Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="QoskSummary display" cellspacing="0" style="width: 95%;">
                  <thead>
                     <tr class="collapse in">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Account Status</th>
                        <th hidden></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="MgmtEntity hidden"
                         MgmtEntity-id="0"
                         MgmtEntity-method="post"
                         MgmtEntity-ajax="true"
                         MgmtEntity-data="entity={}"
                         MgmtEntity-insert="@Url.Action("OnMgmtEntityInsert")"
                         MgmtEntity-update="@Url.Action("OnMgmtEntityUpdate")"
                         MgmtEntity-delete="@Url.Action("OnMgmtEntityDelete")"
                         MgmtEntity-refresh="@Url.Action("OnMgmtEntityRefresh")">
                        <td exchange="FirstName"></td>
                        <td exchange="LastName"></td>
                        <td exchange="UserName"></td>
                        <td exchange="Email"></td>
                        <td exchange="PhoneNumber Extension"></td>
                        <td exchange="AcctStatus"></td>
                        <td exchange="ProfileCode"></td>
                     </tr>
                     @foreach (var entity in Model.Entitys)
                     {
                        <tr class="MgmtEntity entity-div-click"
                            MgmtEntity-id="@entity.UserID"
                            MgmtEntity-data="entity=@Json.Encode(entity)">
                           <td exchange="FirstName" exchange-value="@entity.FirstName">@entity.FirstName</td>
                           <td exchange="LastName" exchange-value="@entity.LastName">@entity.LastName</td>
                           <td exchange="UserName" exchange-value="@entity.UserName">@entity.UserName</td>
                           <td exchange="Email" exchange-value="@entity.Email">@entity.Email</td>
                           <td exchange="PhoneNumber Extension">
                              @if (string.IsNullOrEmpty(entity.Extension))
                              {
                                 @entity.PhoneNumber
                              }
                              else
                              {
                                 @(entity.PhoneNumber + " Ext." + entity.Extension);
                              }
                           </td>
                           <td exchange="AcctStatus" exchange-value="@entity.AcctStatus">@entity.AcctStatus</td>
                           <td hidden exchange="ProfileCode" exchange-value="@entity.ProfileCode">@entity.ProfileCode</td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
