﻿@model Qualanex.QoskCloud.Web.Areas.UserMgmt.ViewModels.UserMgmtViewModel

<div class="formMax" style="display: block;">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview">&nbsp;</td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#UserMgmtDetail" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">First</td>
                     <td style="width: 200px;"><input id="FirstName" nextfocus="LastName" prevfocus="" class="inputEx editable ECS_ALPHANAME EFS_NAME" type="text" value="" readonly maxlength="64" /></td>
                     <td class="tdLabel">Last</td>
                     <td colspan="4"><input id="LastName" nextfocus="UserName AcctStatus" prevfocus="FirstName" class="inputEx editable ECS_ALPHANAME EFS_NAME" type="text" value="" readonly maxlength="64" /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Username</td>
                     <td><input id="UserName" nextfocus="AcctStatus" prevfocus="LastName" class="inputEx editable ECS_ALPHANUMERIC EFS_USERNAME" type="text" value="" readonly required maxlength="16" /></td>
                     <td class="tdLabel">User ID</td>
                     <td style="width: 90px;"><input id="UserID" class="inputEx editable ECS_INTEGER" type="text" value="" readonly required maxlength="16" /></td>
                     <td class="tdLabel">Status</td>
                     <td style="width: 90px;">
                        <select id="AcctStatus" nextfocus="Password" prevfocus="UserName" class="selectEx editable" value="" disabled>
                           <option>Enabled</option>
                           <option>Disabled</option>
                           <option>Retired</option>
                           <option>Locked</option>
                        </select>
                     </td>
                     <td class="tdLabel" colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Password</td>
                     <td colspan="5"><input id="Password" nextfocus="ProfileCode" prevfocus="AcctStatus" class="inputEx editable" type="text" value="" data-field-name readonly required maxlength="64" /></td>
                     <td class="tdLabel" colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Profile</td>
                     <td colspan="6">
                        <input id="ProfileCode" class="profileField inputEx editable" nextfocus="PhoneNumber" prevfocus="Password" type="text" value="" data-field-value="" list="profileList" readonly />
                        <datalist id="profileList">
                           @foreach (var item in Model.ProfileList)
                           {
                              <option data-field-name="@item.ListProfileCode" value="@item.FullProfileName">@item.ListProfileCode</option>
                           }
                        </datalist>
                     </td>
                  </tr>
                  <tr>
                     <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="7">Contact</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Phone</td>
                     <td><input id="PhoneNumber" nextfocus="Extension" prevfocus="ProfileCode" class="inputEx editable ECS_PHONE EFS_USPHONE" type="text" value="" readonly /></td>
                     <td class="tdLabel">Extension</td>
                     <td><input id="Extension" nextfocus="SMSNumber" prevfocus="PhoneNumber" class="inputEx editable ECS_INTEGER" type="text" value="" readonly maxlength="16" /></td>
                     <td class="tdLabel">SMS</td>
                     <td><input id="SMSNumber" nextfocus="Email" prevfocus="Extension" class="inputEx editable ECS_PHONE EFS_USPHONE" type="text" value="" readonly /></td>
                     <td class="tdLabel" colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">EMail</td>
                     <td colspan="3"><input id="Email" nextfocus="FaxNumber" prevfocus="SMSNumber" class="inputEx editable ECS_ALPHAEMAIL EFS_EMAIL" type="text" value="" required readonly maxlength="256" /></td>
                     <td class="tdLabel">Fax</td>
                     <td><input id="FaxNumber" nextfocus="FirstName" prevfocus="Email" class="inputEx editable" type="text" value="" readonly /></td>
                     <td class="tdLabel" colspan="2">&nbsp;</td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
<div class="formMin" style="display: none;">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview">&nbsp;</td>
         <td>
            <form class="formEx">
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">First</td>
                     <td style="width: 200px;"><input class="inputEx" type="text" value="" readonly /></td>
                     <td class="tdLabel">Last</td>
                     <td colspan="3"><input class="inputEx" type="text" value="" readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdSummary" colspan="6">
                        @if (string.IsNullOrEmpty(Model.SelectedEntity.Extension))
                        {
                           <text>
                              @string.Format("{0} / {1} / {2} / {3}", Model.SelectedEntity.UserName, Model.SelectedEntity.AcctStatus, Model.SelectedEntity.PhoneNumber, Model.SelectedEntity.Email);
                           </text>
                        }
                        else
                        {
                           <text>
                              @string.Format("{0} / {1} / {2} x{3} / {4}", Model.SelectedEntity.UserName, Model.SelectedEntity.AcctStatus, Model.SelectedEntity.PhoneNumber, Model.SelectedEntity.Extension, Model.SelectedEntity.Email);
                           </text>
                        }
                     </td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
