/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskMenu.css">
/*   Copyright (c) 2016 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Menu.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QoskMenu {
   width: auto;
   height: 95%;
   position: absolute;
   left: auto;
   top: auto;
   display: none;
   cursor: default;
   z-index: 999;
}

   .QoskMenu table {
      *border: 1px dashed green;
      width: 100%;
      height: 100%;
   }

   .QoskMenu tr {
      *border: 1px dashed red;
   }

   .QoskMenu td {
      *border: 1px dashed blue;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskMenu .menuClose {
      width: 1px;
      vertical-align: text-top;
      color: #FFFFFF;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskMenu .menuProfile {
      border-radius: 0px 7px 0px 0px;
      box-shadow: 3px 3px 12px rgba(50,50,50,.5);
      min-width: 365px;
      height: 180px;
      background-image: url(/Images/Menu/QMenu_DesignMain.svg);
      background-size: cover;
      background-repeat: no-repeat;
   }

   .QoskMenu .profilePix {
      width: 1px;
      padding: 5px;
      vertical-align: bottom;
   }

   .QoskMenu .profileImg {
      width: 142px;
      height: 142px;
      border: 5px solid #2873A4;
      border-radius: 75px;
      margin-left: 10px;
   }

   .QoskMenu .profileInf {
      color: #FFFFFF;
      width: 164px;
   }

   .QoskMenu .profileName {
      color: #FFFFFF;
      white-space: nowrap;
      font: 22pt roboto_thin;
      letter-spacing: .5px;
      line-height: 20px;
      padding: 10px 10px 3px 0px;
      vertical-align: bottom;
   }

      .QoskMenu .profileName span {
         white-space: nowrap;
         font: 16pt roboto_thin;
         letter-spacing: .5px;
         line-height: 20px;
         display: block;
         padding: 2px 0px 8px 2px;
      }

   .QoskMenu .profileSelect {
      width: 100%;
      font: 11pt roboto_medium;
      letter-spacing: .5px;
      color: #3D4D65;
      border: 0px;
      height: 30px;
      text-align: right;
   }

      .QoskMenu .profileSelect * {
         list-style: none;
         color: #3D4D65;
      }

   .QoskMenu .menuDashboard {
      color: #3D4D65;
      background: #C1C1C1;
      font-style: italic;
      font: 10pt roboto_medium;
      width: 100%;
      height: 22px;
      padding-left: 42px;
      padding-top: 2px;
      box-shadow: 3px 3px 12px rgba(50,50,50,.5);
   }

      .QoskMenu .menuDashboard td {
         font-style: italic;
         padding: 2px 0px 0px 42px;
      }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskMenu .menuContent {
      position: relative;
      max-height: 620px;
      box-shadow: 3px 3px 12px rgba(50,50,50,.5);
      background: #F2F2F2;
      overflow-y: auto;
   }

   .QoskMenu .menuContentLocked {
      position: relative;
      max-height: 620px;
      border-radius: 0px 0px 7px 0px;
      box-shadow: 3px 3px 12px rgba(50,50,50,.5);
      background: #F2F2F2;
   }

   .QoskMenu .menuIndent {
      padding-left: 0px;
   }

   .QoskMenu .menuBlock {
      display: block;
   }

      .QoskMenu .menuBlock .menuItem {
         border-bottom: 1px solid rgba(255,255,255,0.5);
         height: 38px;
      }

   .QoskMenu .menuItem,
   .QoskMenu .menuSubMenu {
      border-bottom: 1px solid #F2F2F2;
      height: 41px;
   }

   .QoskMenu .menuIndent .menuBlock .menuItem .menuLabel {
      padding-left: 60px;
      font-size: 13pt;
      letter-spacing: 1px;
      height: 38px;
   }

   .QoskMenu .menuIndent .menuBlock .menuItem {
      padding-left: 60px;
      font-size: 13pt;
      letter-spacing: 1px;
      height: 38px;
   }

      .QoskMenu .menuIndent .menuBlock .menuItem .menuPix {
         display: none;
      }

   .QoskMenu .menuBottom {
      width: 340px;
      height: 24px;
      background: #C1C1C1;
      vertical-align: middle;
      text-align: center;
      border-radius: 0px 0px 7px 0px;
      box-shadow: 3px 3px 12px rgba(50,50,50,.5);
   }

   .QoskMenu .menuFiller {
      height: 100%;
   }

   .QoskMenu .menuGrp {
   }

   .QoskMenu .menuSep {
      width: 100%;
      border-bottom: 5px solid #D7D7D7;
      margin: 0px;
   }

   .QoskMenu .menuPix {
      width: 19px;
      height: 19px;
      margin-right: 24px;
      float: left;
   }

   .QoskMenu .menuImg {
      width: 19px;
      height: 19px;
      display: block;
      float: left;
      margin-left: 13px;
      margin-right: 11px;
      margin-top: 0px;
   }

   .QoskMenu .menuLabel {
      height: 30px;
      width: 340px;
      padding-left: 3px;
      padding-right: 3px;
      white-space: nowrap;
      color: #3D4D65;
      font: 13pt roboto_light;
      letter-spacing: 1px;
   }

      .QoskMenu .menuLabel:hover {
         color: #FFFFFF;
         background: #0083C1;
      }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskMenu .qoskScrollbar::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
      border-radius: 8px;
      background-color: transparent;
   }

   .QoskMenu .qoskScrollbar::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
   }

   .QoskMenu .qoskScrollbar::-webkit-scrollbar-thumb {
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
      background: #2A669F;
      background: linear-gradient(to bottom, #2A669F, #377CB6);
   }
