﻿/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskMessagebox.css">
/*   Copyright (c) 2016 - 2017, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk MessageBox.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

* {
   margin: 0;
   padding: 0;
}

.custom-messageBox-icon {
   width: 20px;
   height: 20px;
   background-color: #2a669f;
}

   .custom-messageBox-icon img {
      vertical-align: top;
      width: 20px;
      height: 20px;
   }

.custom-messageBox-btn-left-arrow {
   width: 30px;
   margin: 94px 8px 0;
   float: left;
}

.custom-messageBox-btn-right-arrow {
   width: 30px;
   margin: 139px 8px 0px -38px;
   float: left;
}

.custom-messageBox-up {
   width: 25px;
   float: left;
   margin: 0px 0px 0px 10px;
}

.custom-messageBox-down {
   width: 25px;
   float: left;
   margin: 45px 0px 0px -25px;
}


.ql-tabs-popup {
   margin-top: 14px;
   height: 24px;
   width: 150px;
   color: #000;
   text-align: center;
   cursor: default;
   padding-top: 5px;
   background-image: url('/Images/SVG/UnselectedTab.svg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   display: inline-block;
   font: 12px Arial, Helvetica, sans-serif;
}

   .ql-tabs-popup.active {
      background-image: url('/Images/SVG/SelectedTab.svg');
      color: #fff;
      /*border-bottom: 1px solid #e1e5e9;*/
   }

.custom-search-messageBox {
   width: 745px;
   position: relative;
   margin: 0 auto;
   display: none;
   padding-bottom: 20px;
   border: 1px solid #2a669f;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background: #e1e5e9;
   /*padding-right:5px;
   padding-left:5px;*/
}

   .custom-search-messageBox h3 {
      width: 90%;
      text-align: left;
      font: 16px eras_medium, "Eras Medium ITC", sans-serif;
      color: black;
      padding: 10px 0 10px;
      margin: 0 15px;
   }

.custom-grid-area-header, .custom-messageBox-area-header {
   font: 10px eras_medium, "Eras Medium ITC", sans-serif;
}

.custom-search-area, .custom-grid-area, .custom-messageBox-area {
   width: 740px;
   margin: 20px 30px;
   display: inline-block;
}

.custom-area-left, .custom-area-right, .custom-grid-left, .custom-grid-right, .custom-messageBox-right, .custom-messageBox-left {
   width: 300px;
   height: 284px;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   float: left;
   background: #ebebeb;
}

.custom-search-area li, .custom-grid-area li, .custom-messageBox-area li {
   padding: 5px 10px;
   font-size: 12px;
   color: #333;
   cursor: pointer;
}

   .custom-search-area li.selected, .custom-grid-area li.selected, .custom-messageBox-area li.selected {
      background-color: #3183bc;
      color: #fff;
   }

.custom-search-area ul, .custom-grid-area ul, .custom-messageBox-area ul {
   margin: 10px;
   list-style: none;
   padding: 0;
}


.custom-grid-icon, .custom-messageBox-icon {
   font-size: 18px;
}

.custom-grid, .custom-messageBox {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
   display: none;
   height: 100%;
   min-height: 100%;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999;
}


/* custom search */
/* select and drag drop */
.custom-area-left select, .custom-area-right select, .custom-grid-left select, .custom-grid-right select, .custom-messageBox-left select, .custom-messageBox-right select {
   width: 100%;
   background: none repeat scroll 0 0 #c8c8c8;
   border-radius: 8px;
   border: none;
   padding: 10px;
   height: 284px !important;
}

.custom-search-area option, .custom-grid-area option, .custom-messageBox-area option {
   color: #333;
   cursor: pointer;
   font-size: 13px;
   padding: 5px 10px;
   font-weight: bold;
}

.creategroup.custom-search-box h1, .creategroup.custom-search-messageBox h1 {
   margin: 0 10px 20px;
   padding: 5px 0 10px;
}

.grouplist.custom-search-box h1, .grouplist.custom-search-messageBox h1 {
   margin: 0 20px;
   padding: 15px 0 10px;
}

.close-button-messageBox {
   position: absolute;
   right: 3px;
   top: 3px;
   cursor: pointer;
   height: 30px;
   width: 30px;
}

.container p {
   margin-bottom: 10px;
}

p {
   font-size: 15px;
   margin: 10px 0 0;
}

.header ul {
   list-style: none;
   float: right;
   margin: 50px 100px 0 0;
}

   .header ul li {
      float: left;
      color: #8d8e8e;
      font-size: 16px;
      font-weight: bold;
   }

      .header ul li a {
         display: inline-block;
         color: #3983bd;
         padding: 0 10px;
         text-decoration: none;
      }

.search-box ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.search-box li { /*width:33%; display:inline-block;*/
   margin: 0 0 15px;
   height: 34px;
}

   .search-box li label {
      font-size: 14px;
      color: #fff;
      font-weight: normal;
      text-align: left;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 3px;
   }

.CustomMessageBoxTitle {
   overflow: hidden;
   min-height: 40px;
   height: auto;
   border-bottom: 2px solid #bbb;
   background-color: #2a669f;
   border-radius: 6px 6px 0 0;
   margin-top: -10px;
   color: #fff;
}

.btnErrorMessage {
   background: #E7E7E7;
   border-top: 1px solid #D1D1D1;
   border-bottom: 1px solid #868686;
   border-left: 1px solid #D7D7D7;
   border-right: 1px solid #D7D7D7;
   text-align: center;
   white-space: normal;
   font: 12pt eras_medium, "Eras Medium ITC", sans-serif;
   -moz-border-radius: 7px 7px 7px 7px;
   -webkit-border-radius: 7px 7px 7px 7px;
   box-shadow: 0px 2px 5px gray;
   padding: 5px;
}

   .btnErrorMessage:active {
      color: #FFFFFF;
      background: #2482F4;
      border-top: 1px solid #99B2D1;
      border-bottom: 1px solid #516C8A;
      border-left: 1px solid #869FBE;
      border-right: 1px solid #869FBE;
   }
