/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskWorkbook.css">
/*   Copyright (c) 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Workbook, Worksheet and Tabs.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QnexWorkbook {
   width: 100%;
   height: calc(100% - 40px);
   color: #F2F2F2;
   cursor: default;
   --wrkbkFillColor: #0A6DAE;
   --wrkbkBackColor: #F2F2F2;
}

   /**********************************************************************************/
   /**********************************************************************************/

   .QnexWorkbook .QnexHeader {
      width: 100%;
      height: 40px;
      font: 18pt roboto_light;
      padding-left: 20px;
      border-radius: 5px 0px 0px 0px;
      background-image: url("/Images/Workbook/QWorksheet_Header.png");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
   }

   .QnexWorkbook .QnexFrame {
      height: 100%;
      width: 100%;
      background: #F2F2F2;
      border-left: 0px solid var(--wrkbkFillColor);
      border-right: 0px solid var(--wrkbkFillColor);
   }

   .QnexWorkbook .QnexWorksheet {
      position: relative;
      height: 100%;
      overflow-y: scroll;
   }

   .QnexWorkbook .QnexFooter {
      height: 6px;
      width: 100%;
      background-image: url("/Images/Workbook/QWorksheet_Footer.png");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0px 0px 5px 5px;
   }

/**********************************************************************************/
/**********************************************************************************/

._QoskActionbar {
   height: 100%;
   width: 100%;
   padding-top: 10px;
}

   ._QoskActionbar .ActionTabs {
      width: 100%;
      margin: 0px;
      padding: 0px 0px 0px 10px;
   }

      ._QoskActionbar .ActionTabs .active a {
         color: #F2F2F2;
      }

   ._QoskActionbar .ActionTab {
      margin: 0px 0px 0px -10px;
      height: 50px;
      width: 150px;
      text-align: center;
      padding: 14px 0px 0px 0px;
      cursor: default;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("/Images/Workbook/QTab(0).png");
      display: inline-block;
      font: 18px roboto_italic;
   }

      ._QoskActionbar .ActionTab .TabCount {
         margin-left: 5px;
         display: none;
         padding: 4px 4px 3px 4px;
         line-height: 100%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         background-color: maroon;
         color: white;
         text-align: center;
         font-size: 8pt;
      }

      ._QoskActionbar .ActionTab.active {
         background-image: url("/Images/Workbook/QTab(1).png");
         font: 18px roboto;
      }

      ._QoskActionbar .ActionTab a {
         color: #8493A8;
         text-decoration: none;
      }

/**********************************************************************************/
/**********************************************************************************/

.QnexScrollbar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
   border-radius: 8px;
   background-color: transparent;
}

.QnexScrollbar::-webkit-scrollbar {
   width: 12px;
   background-color: transparent;
}

.QnexScrollbar::-webkit-scrollbar-thumb {
   border-radius: 8px;
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
   background: #2A669F;
   background: linear-gradient(to bottom, #2A669F, #377CB6);
}
