.QoskLogin {
   background-image: url('/Images/Qosk_SplashScreen.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

   .QoskLogin .headerGrad {
      height: 100%;
      width: 100%;
   }

   .QoskLogin .footerGrad {
      height: 100%;
      width: 100%;
   }

   .QoskLogin .tableEx {
      width: 100%;
      height: 100%;
   }

   .QoskLogin .tdEx {
      text-align: center;
   }

      .QoskLogin .tdEx.L {
         width: 50%;
         text-align: right;
         padding-top: 8px;
         padding-right: 45px;
      }

      .QoskLogin .tdEx.R {
         width: 50%;
         text-align: left;
         vertical-align: middle;
         padding-left: 25px;
      }

   .QoskLogin .inputEx {
      width: 225px;
      color: #AAAAAA;
      border: 2px solid #88A0A9;
      background: #ffffff;
      background: rgba(255,255,255,1);
      padding: 4px 12px;
      text-align: left;
      font: 12pt eras_light, "Eras Light ITC", sans-serif;
      -moz-border-radius: 14px 14px 14px 14px;
      -webkit-border-radius: 14px 14px 14px 14px;
   }

   .QoskLogin .buttonEx {
      width: 100px;
      color: #FFFFFF;
      border: 1px solid #E6E6E6;
      padding: 4px 15px;
      text-align: center;
      font: 12pt eras_light, "Eras Light ITC", sans-serif;
      background: #000000;
      background: rgba(0,0,0,0);
      *background-image: url('/Images/Qosk_LoginArrow.png');
      *background-position: right;
      *background-size: 19px 15px;
      *background-repeat: no-repeat;
      -moz-border-radius: 14px 14px 14px 14px;
      -webkit-border-radius: 14px 14px 14px 14px;
   }

.buttonEx:active {
   border: 1px solid #3A81BB;
   background: #3A81BB;
   *background-image: url('/Images/Qosk_LoginArrow.png');
   *background-position: right;
   *background-size: 19px 15px;
   *background-repeat: no-repeat;
}

.inputEx:focus {
   outline: none;
}

.buttonEx:focus {
   outline: none;
}

.QoskLogin .labelEx {
   display: block;
   color: #FFFFFF;
   font: 10pt eras_medium, "Eras Medium ITC", sans-serif;
}

.QoskLogin .checkboxEx {
   width: 13px;
   height: 13px;
   padding: 0;
   margin: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

.QoskLogin .linkEx {
   color: #FFFFFF;
   text-decoration: underline;
   font: 10pt eras_medium, "Eras Medium ITC", sans-serif;
   cursor: pointer;
}

.QoskLogin .headerLogo {
   visibility: hidden;
   width: 0px;
}

.QoskLogin .headerIcon {
   padding-left: 10px;
   text-align: right;
   width: 55px;
}

.QoskLogin .headerUser {
   padding-left: 20px;
   padding-right: 80px;
   text-align: right;
   visibility: visible;
}

.QoskLogin .footerLogo {
   visibility: hidden;
}

/**********************************************************************************/
/**********************************************************************************/

.QoskLogin .capsLock {
   top: 65px;
   display: block;
   position: absolute;
}

   .QoskLogin .capsLock .capsFrm {
      width: 220px;
      height: auto;
   }

   .QoskLogin .capsLock .capsFlr {
      width: 15%;
   }

   .QoskLogin .capsLock .capsPnt {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid white;
   }

   .QoskLogin .capsLock .capsMsg {
      padding: 4px;
      border-radius: 4px 4px 4px 4px;
      color: black;
      background: white;
      text-align:center;
      font: 12pt roboto;
   }

/**********************************************************************************/
/**********************************************************************************/

.QoskWelcome {
   height: 20px;
   color: #FFFFFF;
   font: 18pt eras_light, "Eras Light ITC", sans-serif;
   cursor: default;
}

.QoskError {
   color: #CC3D3D;
   font: 10pt eras_medium, "Eras Medium ITC", sans-serif;
   cursor: default;
}
