/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskSegment.LotExp.css">
/*   Copyright (c) 2017, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Lot/Expiration Segment.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

   .QoskSegment .segLot, .QoskSegment .segExpiration
   {
      height: 370px;
   }

   .QoskSegment .segLot
   {
      width: 300px;
   }

   .QoskSegment .segExpiration
   {
      width: 600px;
   }

   .QoskSegment .segLotExpCtrl
   {
      height: 80px;
      width: 100%;
   }
