/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="Segment.Staging.css">
/*   Copyright (c) 2017 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>ctrlI
/*   HTML styles for Staging Segment.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/



.Staging .QoskSegment .QnexContainer {
   width: 1100px;
   color: inherit;
   background: inherit;
   cursor: default;
   font-size: 12px;
   font-family: 'roboto_light', sans-serif;
   border-collapse: separate;
   border-spacing: 0;
}

.Staging .identificationHeader {
   width: 100%;
   height: 50px;
}

   .Staging .identificationHeader .headerTitle {
      padding-left: 20px;
      font-size: 24px;
      font-family: 'roboto_light', sans-serif;
      *letter-spacing: -.5px;
      color: white;
      width: 360px;
      text-align: left;
      background-repeat: no-repeat;
      background-image: url('../Images/Applets/Receiving Applet/IdentificationPanel/Main/PNG/Header/HeaderImage_LightBlue_Left.png');
   }

   .Staging .identificationHeader .headerActions {
      background: linear-gradient(to right, #3374af, #245c95);
      padding-right: 9px;
   }

      .Staging .identificationHeader .headerActions .ctrlSearch {
         width: 30px;
         margin-right: 13px;
         margin-left: 14px;
      }


      .Staging .identificationHeader .headerActions .ctrlExpandIdentification {
         /**/
      }
/*-------------------------------------------------------------------------------------------------*/
.Staging .StagingSegment {
}

   .Staging .StagingSegment .ctrlContrMax {
      display: block;
   }

   .Staging .StagingSegment .formBackground {
      width: 100%;
      background-color: #f3f3f3;
   }

   .Staging .StagingSegment .mainCell {
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
   }

   /***** STYLES FOR THE MAIN TITLE / OVERVIEW PARAGRAPH ****************/

   .Staging .StagingSegment .subTitlePanel {
      width: 1000px;
      margin-top: 21px;
      margin-bottom: 0px;
      font-weight: 500;
      line-height: 1.1em;
      text-align: left;
      color: #8493a8;
      font-size: 13px;
   }

   .Staging .StagingSegment .closed .subTitlePanel tr:nth-child(2) {
      display: none;
   }

   .Staging .StagingSegment .subTitlePanel tr:nth-child(2) td {
      padding-bottom: 20px;
   }

   .Staging .StagingSegment .subTitlePanel .subTitle {
      font-size: 28px;
      font-weight: 300;
      padding-bottom: 16px;
      color: #3d4d65;
   }

   .Staging .StagingSegment .closed .subTitlePanel .subTitle {
      font-size: 24px;
      font-weight: 300;
      padding-bottom: 16px;
      color: #3d4d65;
   }

   .Staging .StagingSegment .closed div.middleBorder {
      width: 1100px;
      height: 1px;
      background-color: #c1d0c6;
      background-image: none;
   }

   .Staging .StagingSegment .opened div.middleBorder {
      background-color: none;
      background-image: linear-gradient(#619ebd,#0a6dae);
      height: 6px;
   }

   .Staging .StagingSegment .wcPanel, .Staging .StagingSegment .form222Panel {
      width: 1000px;
      margin-bottom: 20px;
   }

      .Staging .StagingSegment .wcPanel .wcLeftPanel {
         width: 264px;
      }

      .Staging .StagingSegment .wcPanel .weightTable {
         width: 100%;
         height: 202px;
      }

         .Staging .StagingSegment .wcPanel .weightTable .weightCell {
            height: 142px;
            vertical-align: middle;
            text-align: left;
         }


   /* styles for form fields */

   .Staging .StagingSegment .ctrlInput {
      font-weight: 300;
      font-size: 25px;
      color: #3d4d65;
      background-color: #f3f3f3;
      border: 0px;
      border-bottom: 1px solid #c1d0c6;
      width: 100%;
      line-height: 1em;
   }

   .Staging .StagingSegment .form222 td {
      font-weight: 300;
      font-size: 17px;
      color: #3d4d65;
      background-color: #f3f3f3;
      border: 0px;
      line-height: 1em;
   }

      .Staging .StagingSegment .ctrlInput::placeholder {
         font-size: 21px;
      }

      .Staging .StagingSegment .ctrlInput:disabled::placeholder {
         color: #ccc;
      }

      .Staging .StagingSegment .ctrlInput:read-only {
         border-bottom: 0px;
      }

   .Staging .StagingSegment .ctrlName {
      padding-top: 5px;
      text-transform: uppercase;
      font-weight: 500;
      color: #8493a8;
      font-size: 12px;
      width: 100%;
      text-align: left;
      letter-spacing: .3px;
   }

   .Staging .StagingSegment .form222 .form222Label {
      padding: 5px 0 8px 0;
      text-transform: uppercase;
      font-weight: 500;
      color: #8493a8;
      font-size: 10px;
      text-align: left;
      letter-spacing: .3px;
   }

   .Staging .StagingSegment .ctrlButton {
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      color: white;
      background-color: #409cbf;
      border: 0px;
      height: 40px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      line-height: .5em;
   }

            .Staging .StagingSegment .ctrlArrow {
               width: 39.5px;
               height: 50px;
               float: left;
               clear: both;
               margin: 0;
               background-image: url('/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(OFF).svg');
               border: 0;
               background-color: #f3f3f3;
               background-repeat: no-repeat;
               color: rgba(255,255,255,0);
            }

               .Staging .StagingSegment .ctrlArrow:focus {
                  outline: none;
               }

            .Staging .StagingSegment .wcPanel .ctrlButton {
               width: 120px;
            }

   .Staging .StagingSegment .ctrlButton:disabled {
      background-color: #C1d0d6;
   }

   .Staging .StagingSegment .ctrlButton.hollow {
      width: 160px;
      margin-left: 14px;
   }

      .Staging .StagingSegment .ctrlButton.hollow:disabled {
         background-color: #f3f3f3;
         border: 1px solid #ccc;
         color: #8493a8;
      }

   /* end of form fields */

   .Staging .StagingSegment .wcPanel .weightTable .buttonsRow {
      height: 40px;
      display: none; /* modify when you want to show the buttons */
   }

      .Staging .StagingSegment .wcPanel .weightTable .buttonsRow td:nth-child(1) {
         text-align: left;
      }

      .Staging .StagingSegment .wcPanel .weightTable .buttonsRow td:nth-child(2) {
         text-align: right;
      }

   /* panel separator */

   .Staging .StagingSegment .panelSeparator {
      width: 107px;
      text-align: center;
      vertical-align: middle;
   }

      .Staging .StagingSegment .panelSeparator .panelDivider {
         height: 66px;
         width: 1px;
         background-color: #c1d0c6;
         float: left;
         clear: both;
         margin-left: 50%;
         margin-right: 50%;
      }

      .Staging .StagingSegment .panelSeparator #WEIGHT_ENTERED, .Staging .StagingSegment .panelSeparator #DM_ENTERED {
         height: 50px;
         float: left;
         clear: both;
         margin: 10px 11px 10px 45px;
      }

   /* specific formatting for the right panel */

   .Staging .StagingSegment .wcRigthPanel {
      width: 589px;
   }

      .Staging .StagingSegment .wcRigthPanel .conditionsTable {
         width: 100%;
      }

         .Staging .StagingSegment .wcRigthPanel .conditionsTable + tr + td {
            width: 33.33%;
            text-align: right;
         }

         .Staging .StagingSegment .wcRigthPanel .conditionsTable table {
            width: 160px;
            height: 100%;
            display: block;
         }

            .Staging .StagingSegment .wcRigthPanel .conditionsTable table tr:nth-child(1) td {
               vertical-align: top;
               text-align: center;
            }

                  .Staging .StagingSegment .wcRigthPanel .conditionsTable table tr:nth-child(2) td,
                  .Staging .StagingSegment .wcRigthPanel .conditionsTable label,
                  .Staging .StagingSegment .containersTable label {
                     padding-top: 18px;
                     font-size: 20px;
                     vertical-align: bottom;
                     text-align: center;
                  }

         .Staging .StagingSegment .wcRigthPanel .conditionsTable #GOOD_CONDITION_ICON {
            background-image: url('../Images/Segments/BinDesignation/Main/ImageIconGreen_Placeholder.png');
            filter: grayscale(84%) hue-rotate(75deg) opacity(53%);
         }

            .Staging .StagingSegment .wcRigthPanel .conditionsTable #GOOD_CONDITION_ICON:disabled {
               filter: grayscale(84%) hue-rotate(75deg) opacity(26%);
            }

         .Staging .StagingSegment .wcRigthPanel .conditionsTable #DAMAGED_CONDITION_ICON {
            background-image: url('../Images/Segments/BinDesignation/Main/ImageIconOrange_Placeholder.png');
            filter: grayscale(82%) hue-rotate(178deg) opacity(53%);
         }

            .Staging .StagingSegment .wcRigthPanel .conditionsTable #DAMAGED_CONDITION_ICON:disabled {
               filter: grayscale(82%) hue-rotate(178deg) opacity(26%);
            }

         .Staging .StagingSegment .wcRigthPanel .conditionsTable #INNER_DAMAGED_CONDITION_ICON {
            background-image: url('../Images/Segments/BinDesignation/Main/ImageIconRed_Placeholder.png');
            filter: grayscale(58%) hue-rotate(217deg) opacity(25%);
         }

            .Staging .StagingSegment .wcRigthPanel .conditionsTable #INNER_DAMAGED_CONDITION_ICON:disabled {
               filter: grayscale(58%) hue-rotate(217deg) opacity(10%);
            }

   .Staging .StagingSegment .rowDivider {
      height: 50px;
      vertical-align: middle;
      text-align: center;
   }

   .Staging .StagingSegment .rowConfirm {
      vertical-align: middle;
      text-align: center;
   }

   .Staging .StagingSegment .rowDivider div {
      width: 400px;
      height: 1px;
      background-color: #c1d0c6;
      display: block;
      margin-right: auto;
      margin-left: auto;
   }

   /******** TOTES AND ATTACHMENTS ****************/

   .Staging .StagingSegment .mainPanel {
      width: 1000px;
      margin-bottom: 20px;
   }

   .Staging .StagingSegment .mainPanel .debitMemoPanel {
      width: 264px;
   }

      .Staging .StagingSegment .mainPanel .debitMemoTable {
         width: 100%;
         height: 120px;
         margin-top: 60px
      }

      .Staging .StagingSegment .mainPanel .debitMemoTable .debitMemoCell {
         height: 40px;
         vertical-align: middle;
         text-align: left;
      }


      .Staging .StagingSegment .mainPanel .debitMemoTable .debitMemoError {
         height: 70px;
      }

         .Staging .StagingSegment .mainPanel .debitMemoTable .debitMemoError div {
            display: none;
            color: red;
            font-family: roboto_medium;
            clear: left;
            font-size: 11px;
         }

            .Staging .StagingSegment .mainPanel .debitMemoTable .debitMemoError div:nth-child(1) {
               font-size: 16px;
            }

      .Staging .StagingSegment .mainPanel .debitMemoTable.errorCondition .debitMemoError div {
         display: block;
      }

      .Staging .StagingSegment .mainPanel .debitMemoTable .errorButtonsRow {
         height: 40px;
         display: none;
      }

         .Staging .StagingSegment .mainPanel .debitMemoTable .errorButtonsRow .ctrlButton {
            width: 100px;
         }

      .Staging .StagingSegment .mainPanel .debitMemoTable.errorCondition .errorButtonsRow {
         display: table-row;
      }

      .Staging .StagingSegment .mainPanel .debitMemoTable .okButtonRow {
         height: 40px;
         display: table-row;
      }

         .Staging .StagingSegment .mainPanel .debitMemoTable .okButtonRow .ctrlButton {
            width: 100%;
         }

      .Staging .StagingSegment .mainPanel .debitMemoTable.errorCondition .okButtonRow {
         display: none;
      }

   .Staging .StagingSegment .mainPanel .weightTable .errorButtonsRow td:nth-child(1) {
      text-align: left;
   }

   .Staging .StagingSegment .mainPanel .weightTable .errorButtonsRow td:nth-child(2) {
      text-align: right;
   }

   .Staging .StagingSegment .panelSeparator .panelDivider {
      height: 66px;
      width: 1px;
      background-color: #c1d0c6;
      float: left;
      clear: both;
      margin-left: 50%;
      margin-right: 50%
   }

   .Staging .StagingSegment .panelSeparator #DEBITMEMO_ENTERED {
      height: 50px;
      float: left;
      clear: both;
      margin: 10px 11px 10px 15px
   }

   /***** STYLES FOR THE TOTES/ATTACHMENTS PANELS *******/

   .Staging .StagingSegment .totesPanel {
      height: 340px;
      width: 260px;
      vertical-align: middle;
   }

   .Staging .StagingSegment .totesAttachments .panelHeader {
      color: white;
      background: #78899A;
      border-radius: 5px 5px 0px 0px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500
   }

   .Staging .StagingSegment .totesAttachments .panelGrid {
      width: 100%;
      height: 35px
   }

      .Staging .StagingSegment .totesAttachments .panelGrid tr:nth-child(1) {
         border-bottom: 1px solid white;
         height: 70px;
      }

         .Staging .StagingSegment .totesAttachments .panelGrid tr:nth-child(1) td:nth-child(odd) {
            padding-top: 4px;
            padding-right: 20px;
         }

      .Staging .StagingSegment .totesAttachments .panelGrid tr:nth-child(2) {
         height: 30px;
      }

         .Staging .StagingSegment .totesAttachments .panelGrid tr:nth-child(2) td:nth-child(odd) {
            padding-top: 8px;
         }

      .Staging .StagingSegment .totesAttachments .panelGrid tr td:nth-child(odd) {
         width: auto;
         text-align: left;
         padding-left: 12px;
      }

      .Staging .StagingSegment .totesAttachments .panelGrid tr td:nth-child(even) {
         width: 40px;
         text-align: center;
         padding-right: 20px;
      }

   .Staging .StagingSegment .panelHeader .ctrlInput {
      font-weight: 300;
      font-size: 25px;
      color: #FFFFFF;
      background-color: #78899A;
      border: 0px;
      border-bottom: 1px solid #c1d0D7;
      width: 100%;
      line-height: 1em;
   }

      /*

                           .Staging .StagingSegment .errorCondition .panelHeader .ctrlInput {
                              background-image: url(../Images/Segments/Staging/BinWarningSign.png);
                              background-position: right 50%;
                              background-repeat: no-repeat
                           }

                           */

      .Staging .StagingSegment .panelHeader .ctrlInput::placeholder {
         color: #ededed;
      }

   .Staging .StagingSegment .panelHeader .ctrlName {
      padding-top: 3px;
      text-transform: uppercase;
      font-weight: 500;
      color: #DBE4E8;
      font-size: 11.5px;
      width: 100%;
      text-align: left;
      letter-spacing: .3px;
   }


   .Staging .StagingSegment .totesPanel .totesContainer {
      width: 100%;
      height: 220px;
      overflow-y: scroll;
      overflow-x: hidden
   }

   .Staging .StagingSegment .totesPanel .totesList {
      width: 100%;
   }

      .Staging .StagingSegment .totesPanel .totesList tr:nth-child(odd) {
         background-color: #e2e5e9;
         height: 40px;
      }

      .Staging .StagingSegment .totesPanel .totesList tr td:nth-child(even) {
         width: 40px;
         text-align: left;
         padding-left: 10px;
      }

      .Staging .StagingSegment .totesPanel .totesList tr td:nth-child(odd) {
         width: auto;
         text-align: left;
         padding-left: 10px;
      }

      .Staging .StagingSegment .totesPanel .totesList tr:nth-child(even) {
         background-color: #f2f2f2;
         height: 40px;
      }

      .Staging .StagingSegment .totesPanel .totesList td {
         padding-top: 6px;
         padding-left: 6px;
         border: 1px solid white;
      }

      .Staging .StagingSegment .totesPanel .totesList label {
         font-size: 17px;
         font-weight: 300;
         color: #3d4d65;
      }

      .Staging .StagingSegment .totesPanel .totesList td .ctrlCheck {
         margin-right: -48px;
      }

      .Staging .StagingSegment .totesPanel .attachmentComment {
         height: 55px;
         font-family: roboto_medium;
         font-size: 11px;
         color: #3d4d65;
         padding-top: 5px;
      }

         .Staging .StagingSegment .totesPanel .attachmentComment span {
            color: #78899a;
         }

   .Staging .StagingSegment .attachmentsPanel {
      height: 340px;
      width: 355px;
      padding-left: 5px;
      vertical-align: middle;
   }

      .Staging .StagingSegment .attachmentsPanel tr {
         background-color: rgb(121, 137, 153);
      }

      .Staging .StagingSegment .attachmentsPanel .fileViewer {
         height: 185px;
      }

         .Staging .StagingSegment .attachmentsPanel .fileViewer .sidePanel {
            width: 63px;
            height: 185px;
         }

         .Staging .StagingSegment .attachmentsPanel .fileViewer .centerPanel {
            width: 220px;
            text-align: center;
            vertical-align: middle;
            overflow-x: hidden;
         }

            .Staging .StagingSegment .attachmentsPanel .fileViewer .centerPanel .slide {
               width: 200px;
               height: 150px;
               margin: auto;
            }

               .Staging .StagingSegment .attachmentsPanel .fileViewer .centerPanel .slide .imagePanel {
                  height: 125px;
                  border-bottom: 1px solid #d3dae4;
                  background-size: cover;
                  border-radius: 5px 5px 0px 0px;
                  box-shadow: 0px 0px 5px 2px #d3dae4;
               }

               .Staging .StagingSegment .attachmentsPanel .fileViewer .centerPanel .slide .viewButton {
                  height: 25px;
                  background: white;
                  text-transform: uppercase;
                  font-weight: 500;
                  color: #8493a8;
                  font-size: 12px;
                  width: 100%;
                  letter-spacing: .3px;
                  font-family: 'roboto_medium';
                  text-align: center;
                  vertical-align: middle;
                  border-radius: 0px 0px 5px 5px;
                  box-shadow: 0px 0px 5px 2px #d3dae4;
               }

   /********** END OF TOTES AND ATTACHEMENTS ******************/

   /********** COLLAPSED SEGMENT STYLES ******************/

   .Staging .StagingSegment .ctrlContrMin {
      display: none;
   }

   .Staging .StagingSegment div.bottomBorder {
      width: 1100px;
      background-image: linear-gradient(#619ebd,#0a6dae);
      height: 6px;
      border-radius: 0px 0px 5px 5px;
   }

   /********** SPECIAL HANDLING SEGMENT STYLES ******************/
   .Staging .StagingSegment #Handling #HandlingTable .routeData .Qosk_SpecialHandling {
      background-color: inherit;
   }

   .Staging .StagingSegment #Handling #HandlingTable .panelHolder .rightPanel .routeData {
      max-width: 160px;
      margin: 0px auto;
   }

  
   .Staging .StagingSegment #Handling #HandlingTable .routeData .routeDisplay {
      width: 150px;
      height: 150px;
      font-size: 48px;
      font-weight: 400;
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      *background-color: #e0e4e9;
   }

   .Staging .StagingSegment #Handling #HandlingTable .routeData .routeDisplay.Qosk_SpecialHandling {
      max-width: 150px;
      max-height: 150px;
      width:auto;
      height:auto;
   }

      .Staging .StagingSegment #Handling #HandlingTable .routeData .routeDisplay.Qosk_SpecialHandling img {
         max-width:150px;
         max-height:150px;
      }

   .Staging .StagingSegment #Handling #HandlingTable .headerTitle {
      color: #8493A8;
      font-family: 'roboto_light', sans-serif;
      font-size:15pt;
      margin-bottom:10px;
   }

   .Staging .StagingSegment #Handling #HandlingTable .handlingMessage {
      color: #8493A8;
      font-family: 'roboto_light', sans-serif;
      font-size: 11pt;
      font-weight:bold;
      margin-top:10px;
   }

   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Island99,
   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Island98,
   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Island97,
   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Island96 {
      color: #000;
      background-color: inherit;
      background: inherit;
   }

   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Cage3,
   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Cage4,
   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Cage5 {
      color: #ff9947;
      background-color: inherit;
      background: inherit;
   }


   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Vault2 {
      color: #d62e51;
      background-color: inherit;
      background: inherit;
   }

   .Staging .StagingSegment #Handling .handlingMessage .Qosk_Floor0 {
      color: #0081d5;
      background-color: inherit;
      background: inherit;
   }
