/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskCommon.css">
/*   Copyright (c) 2016 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   Summary not available.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

@font-face {
   font-family: eras_demi;
   src: url("/Fonts/ERASDEMI.ttf");
}

@font-face {
   font-family: eras_light;
   src: url("/Fonts/ERASLGHT.ttf");
}

@font-face {
   font-family: eras_medium;
   src: url("/Fonts/ERASMD.ttf");
}

@font-face {
   font-family: helv_lightSTD;
   src: url("/Fonts/HelveticaLTStd-LightCond.otf");
}

@font-face {
   font-family: helvneue_lightSTD;
   src: url("/Fonts/HelveticaNeueLTStd.otf");
}

@font-face {
   font-family: helvetica_neue_lt_std_thin;
   src: url("/Fonts/HelveticaNeueLTStd.otf");
}

@font-face {
   font-family: roboto;
   src: url("/Fonts/Roboto-Regular.ttf");
}

@font-face {
   font-family: roboto_condensed;
   src: url("/Fonts/RobotoCondensed-Light.ttf");
}

@font-face {
   font-family: roboto_thin;
   src: url("/Fonts/Roboto-Thin.ttf");
}

@font-face {
   font-family: roboto_light;
   src: url("/Fonts/Roboto-Light.ttf");
}

@font-face {
   font-family: roboto_medium;
   src: url("/Fonts/Roboto-Medium.ttf");
}

@font-face {
   font-family: roboto_italic;
   src: url("/Fonts/Roboto-Italic.ttf");
}

@font-face {
   font-family: roboto_light_italic;
   src: url("/Fonts/Roboto-LightItalic.ttf");
}

@font-face {
   font-family: roboto_medium_italic;
   src: url("/Fonts/Roboto-MediumItalic.ttf");
}


@font-face {
   font-family: roboto_thin_italic;
   src: url("/Fonts/Roboto-ThinItalic.ttf");
}

/**********************************************************************************/
/**********************************************************************************/

html, body {
   height: 100%;
   margin: 0;
}

table {
   *border-collapse: collapse;
   *border: 1px dashed greenyellow;
}

tr {
   padding: 0px;
   *border: 1px dotted blue;
}

td {
   padding: 0px;
   *border: 1px dotted darkmagenta;
}

/**********************************************************************************/
/**********************************************************************************/

.imgMenu {
   width: 35px;
   height: 35px;
   cursor: pointer;
}

.imgIcon {
   width: 27px;
   height: 27px;
   cursor: pointer;
}

.imgHeader {
   height: 65px;
}

/**********************************************************************************/
/**********************************************************************************/

.frameEx {
   display: flex;
   flex-flow: column;
   height: 100%;
}

   .frameEx .rowEx {
      *border: 1px dotted red;
   }

      .frameEx .rowEx.headerEx {
         flex: 0 1 auto;
      }

      .frameEx .rowEx.contentEx {
         flex: 1 1 auto;
      }

      .frameEx .rowEx.footerEx {
         flex: 0 1 40px;
      }

/**********************************************************************************/
/**********************************************************************************/

.footerLogo {
   height: 40px;
}

.footerCopyright {
   color: #FFFFFF;
   white-space: nowrap;
   cursor: default;
   font: 9pt eras_light, "Eras Light ITC", sans-serif;
}

.footerLink {
   color: #FFFFFF;
   white-space: nowrap;
   cursor: pointer;
   font: 9pt eras_light, "Eras Light ITC", sans-serif;
   *font-variant: small-caps;
}

   .footerLink:hover {
      color: #FFFFFF;
   }

/**********************************************************************************/
/**********************************************************************************/
.QoskVMargin {
   width: 50%;
   height: 100%;
   cursor: default;
}

.QoskHMargin {
   height: 50%;
   cursor: default;
}

.QoskBody {
   height: 100%;
   width: 1024px;
}

   .QoskBody .Gutter-Top {
      height: 8px;
   }

   .QoskBody .Gutter-Bottom {
      height: 1px;
   }

.QoskContent {
   height: 100%;
   width: 100%;
}

   .QoskContent .tabContainer {
      height: 100%;
      width: 100%;
      padding-top: 10px;
   }

   .QoskContent .etabs {
      width: 100%;
      margin: 0;
      padding: 0px 0px 0px 5px;
   }

   .QoskContent .tab {
      width: auto;
      display: inline-block;
      *border-bottom: none;
   }

      .QoskContent .tab:last-child {
         float: right;
      }

      .QoskContent .tab a {
         font-size: 14px;
         outline: none;
      }

         .QoskContent .tab a:hover {
            text-decoration: underline;
         }

      .QoskContent .tab.active {
         background: #8F8080;
         border-color: #666;
      }

      .QoskContent .tab a.active {
         *font-weight: bold;
      }

.QoskBorder-LBR {
   border-left: 1px solid #2A669F;
   border-bottom: 1px solid #2A669F;
   border-right: 1px solid #2A669F;
}

.CheckboxRex {
   width: 20px;
   height: 20px
}