   .QoskKeyboard
   {
      width: 1px; height: 1px;
   }

   .QoskKeyboard table
   {
      width: 100%; height: 100%;
   }

   .QoskKeyboard .VMargin
   {
      width: 50%;
   }

   table.NumericPad td
   {
      padding: 3px 3px 3px 3px;
   }

   table.YearPad td
   {
      padding: 0px 5px 3px 5px;
   }

   table.MonthPad td
   {
      padding: 0px 7px 12px 7px;
   }

   .QoskKeyboard .buttonEx
   {
      background: #E7E7E7;
      border-top: 1px solid #D1D1D1;
      border-bottom: 1px solid #868686;
      border-left: 1px solid #D7D7D7;
      border-right: 1px solid #D7D7D7;
      text-align: center;
      white-space: normal;
      font: 12pt eras_medium, "Eras Medium ITC", sans-serif;
      -moz-border-radius: 7px 7px 7px 7px;
      -webkit-border-radius: 7px 7px 7px 7px;
      box-shadow: 0px 2px 5px gray;
   }

   .QoskKeyboard .buttonEx:active
   {
      color: #FFFFFF;
      background: #2482F4;
      border-top: 1px solid #99B2D1;
      border-bottom: 1px solid #516C8A;
      border-left: 1px solid #869FBE;
      border-right: 1px solid #869FBE;
   }

   .QoskKeyboard .buttonEx.numericKey
   {
      width: 60px;
      height: 60px;
      font-size: 16pt;
   }

   .QoskKeyboard .buttonEx.yearKey
   {
      width: 75px;
      height: 35px;
      font-size: 10pt;
      margin-bottom: 5px;
      margin-left: 3px;
   }

   .QoskKeyboard .buttonEx.monthKey
   {
      width: 90px;
      height: 35px;
      white-space: pre-wrap;
      font-size: 10pt;
   }

   .QoskKeyboard .buttonEx.resetKey
   {
      width: 60px;
      height: 45px;
      font-size: 9pt;
   }

   .QoskKeyboard .buttonEx.nolotKey
   {
      width: 60px;
      height: 45px;
      font-size: 9pt;
   }

   .QoskKeyboard .buttonEx.noexpKey
   {
      width: 60px;
      height: 45px;
      font-size: 9pt;
   }

   .QoskKeyboard .buttonEx.numericKey.backKey
   {
      background-image: url('/Images/Keyboard/KeyBrd_BackTab.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.numericKey.backKey:active
   {
      background-image: url('/Images/Keyboard/KeyBrd_BackTab.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.numericKey.clearKey
   {
      background-image: url('/Images/Keyboard/KeyBrd_Clear.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.numericKey.clearKey:active
   {
      background-image: url('/Images/Keyboard/KeyBrd_Clear.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.numericKey.enterKey
   {
      background-image: url('/Images/Keyboard/KeyBrd_ForwardTab.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.numericKey.enterKey:active
   {
      background-image: url('/Images/Keyboard/KeyBrd_ForwardTab.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
   }

   .QoskKeyboard .buttonEx.prevKey
   {
      width: 35px;
      height: 35px;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
   }

   .QoskKeyboard .buttonEx.prevKey:active
   {
      width: 35px;
      height: 35px;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
   }

   .QoskKeyboard .buttonEx.nextKey
   {
      width: 35px;
      height: 35px;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
   }

   .QoskKeyboard .buttonEx.nextKey:active
   {
      width: 35px;
      height: 35px;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
   }

   .QoskKeyboard .buttonEx.cmdKey
   {
      width: 85px;
      height: 35px;
   }

   .QoskKeyboard .buttonEx.cmdKey:disabled
   {
      color: #B0B0B0;
      background: #E7E7E7;
      border-top: 1px solid #D1D1D1;
      border-bottom: 1px solid #868686;
      border-left: 1px solid #D7D7D7;
      border-right: 1px solid #D7D7D7;
   }

   .QoskKeyboard .buttonEx:focus
   {
      outline: none;
   }

   .QoskKeyboard .inputEx
   {
      border: 1px solid #505050;
   }

   .QoskKeyboard .inputEx.expYear
   {
      width: 55px;
      height: 22px;
      text-align: center
   }

   .QoskKeyboard .inputEx.noLotNo
   {
      height: 22px;
      text-align: center;
   }

   .QoskKeyboard .inputEx.noExpDate
   {
      width: 201px;
      height: 22px;
      text-align: center;
   }

   .QoskKeyboard .selectEx
   {
      border: 1px solid #505050;
   }

   .QoskKeyboard .tdLabel
   {
      width: 85px;
      color: #646464;
      background-color: transparent;
      cursor: default;
   }

   .QoskForm .tdLabelSm
   {
      color: #646464;
      background-color: transparent;
      cursor: default;
      font: 10px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }
