.pillPanel {
    width: 450px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

    .pillPanel .marginR {
        width: 15px;
        background: #C8C8C8;
        border-radius: 0px 10px 10px 0px;
    }

    .pillPanel .content {
    }

    .pillPanel .tdImprint {
        padding-right: 1px;
        border-right: 1px solid #E6E6E6;
        max-height: 85px;
        width: 85px;
        align-items: center;
        background-color: #c8c8c8 ;
        border-radius: 10px 0 0 10px;
    }

        .pillPanel .tdImprint img {
            max-width: 85px;
            max-height: 85px;
            line-height: 1;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: auto;
            display: block;
        }

    .pillPanel td {
    }

    .pillPanel .tdLabel {
        width: 75px;
        color: #646464;
        background-color: #C8C8C8;
        padding-left: 5px;
        cursor: pointer;
        font: 14px eras_medium, "Eras Medium ITC", sans-serif;
        font-variant: small-caps;
        border-bottom: 1px solid #E6E6E6;
    }

    .pillPanel .inputEx {
        height: 100%;
        width: 100%;
        border: 0;
        color: #323232;
        background-color: #E6E6E6;
        padding-left: 4px;
        font: 15px eras_medium, "Eras Medium ITC", sans-serif;
    }

input[readonly].inputEx {
    cursor: pointer;
}

