﻿/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskSegment.DockDoor">
/*   Copyright (c) 2017 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Sidebars.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QoskSegment .QoskBody {
   font-family: Roboto;
}

.QoskSegment .identificationHeader {
   width: 100%;
   height: 50px;
}

   .QoskSegment .identificationHeader .headerTitle {
      padding-left: 20px;
      font-size: 24px;
      letter-spacing: -.5px;
      color: white;
      font-weight: 300;
      width: 360px;
      text-align: left;
      background-repeat: no-repeat;
      background-image: url('../Images/Applets/Receiving Applet/IdentificationPanel/Main/PNG/Header/HeaderImage_LightBlue_Left.png');
   }

   .QoskSegment .identificationHeader .headerActions {
      background: linear-gradient(to right, #3374af, #245c95);
      padding-right: 9px;
   }

      .QoskSegment .identificationHeader .headerActions .ctrlSearch {
         width: 30px;
         margin-right: 13px;
         margin-left: 14px;
      }
/*-------------------------------------------------------------------------------------------------*/
.QoskSegment .identificationForm {
}

   .QoskSegment .identificationForm .ctrlContrMax {
      display: block;
   }

   .QoskSegment .identificationForm .formBackground {
      width: 100%;
      background-color: #f3f3f3;
   }

   .QoskSegment .identificationForm .panelHolder {
      width: 1010px;
      height: 212px;
      margin-top: 20px;
      margin-bottom: 23px;
   }

      /* styles for buttons and texts in the three panels */

      .QoskSegment .identificationForm .panelHolder .ctrlInput {
         font-weight: 300;
         font-size: 25px;
         color: #3d4d65;
         background-color: #f3f3f3;
         border: 0px;
         border-bottom: 1px solid #c1d0c6;
         width: 100%;
         line-height: 1em;
      }

         .QoskSegment .identificationForm .panelHolder .ctrlInput::placeholder {
            font-size: 21px;
         }

         .QoskSegment .identificationForm .panelHolder .ctrlInput:disabled::placeholder {
            color: #ccc;
         }

         .QoskSegment .identificationForm .panelHolder .ctrlInput:read-only {
            border-bottom: 0px;
         }

      .QoskSegment .identificationForm .panelHolder .ctrlName {
         padding-top: 5px;
         text-transform: uppercase;
         font-weight: 500;
         color: #8493a8;
         font-size: 12px;
         width: 100%;
         text-align: left;
         letter-spacing: .3px;
      }

      .QoskSegment .identificationForm .panelHolder .ctrlButton {
         width: 100%;
         font-weight: 500;
         font-size: 14px;
         color: white;
         background-color: #409cbf;
         border: 0px;
         height: 40px;
         text-align: center;
         text-transform: uppercase;
         border-radius: 5px;
         line-height: .5em;
      }

         .QoskSegment .identificationForm .panelHolder .ctrlButton:disabled {
            background-color: #C1d0d6;
         }

      .QoskSegment .identificationForm .panelHolder .ctrlArrow {
         width: 39.5px;
         height: 50px;
         float: left;
         clear: both;
         margin: 10px 11px 10px 15px;
         background-image: url('/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(ON).svg');
         border: 0px;
         background-color: #f3f3f3;
         background-repeat: no-repeat;
         color: rgba(255,255,255,0);
      }

         .QoskSegment .identificationForm .panelHolder .ctrlArrow:disabled {
            background-image: url('/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(OFF).svg');
         }

      .QoskSegment .identificationForm .panelHolder #IDENT_CMD_PRINT {
         background-image: url('/Images/Segments/DockDoor_IdentificationPanel/Identification_Printer(Icon).svg');
         background-position: center center;
         background-repeat: no-repeat;
         background-size: 33px;
         color: rgba(255,255,255,0);
      }

      .QoskSegment .identificationForm .panelHolder .leftPanel {
         width: 279px;
         height: 100%;
      }

         /* specific formatting for the left panel */

         .QoskSegment .identificationForm .panelHolder .leftPanel .trackingNumberCell {
            padding-left: 7px;
            padding-right: 8px;
            vertical-align: middle;
            width: 100%;
            height: 100%;
         }

         .QoskSegment .identificationForm .panelHolder .leftPanel .trackingLockedCell {
            width: 32px;
            vertical-align: middle;
            text-align: center
         }

            .QoskSegment .identificationForm .panelHolder .leftPanel .trackingLockedCell #ID_Lock_TrackingNumber {
               margin-bottom: 18px;
               width: 48px;
               padding:5px;
            }

         .QoskSegment .identificationForm .panelHolder .leftPanel .notForProcessingCell {
            vertical-align: bottom;
            height: 40px;
         }

      /* panel separator */

      .QoskSegment .identificationForm .panelHolder .panelSeparator {
         width: 66px;
         text-align: center;
         vertical-align: middle
      }

         .QoskSegment .identificationForm .panelHolder .panelSeparator .separatorDivider {
            height: 66px;
            float: left;
            clear: both;
            margin-left: 50%;
            margin-right: 50%
         }

         .QoskSegment .identificationForm .panelHolder .panelSeparator #IDENT_FIRST_ARROW {
            height: 50px;
            float: left;
            clear: both;
            margin: 10px 11px 10px 15px
         }

      /* specific formatting for the center panel */

      .QoskSegment .identificationForm .panelHolder .centerPanel {
         width: 294px;
         height: 100%
      }

         .QoskSegment .identificationForm .panelHolder .centerPanel .fieldsCell {
            height: 100%;
            padding-left: 7px;
            padding-right: 8px;
         }

         .QoskSegment .identificationForm .panelHolder .centerPanel .buttonCell {
            vertical-align: bottom;
            height: 40px;
         }

            .QoskSegment .identificationForm .panelHolder .centerPanel .buttonCell #IDENT_CMD_PRINT {
               width: 120px
            }

            .QoskSegment .identificationForm .panelHolder .centerPanel .buttonCell #ID_NO_RA {
               width: 160px
            }

      /* specific formatting for the right panel */

      .QoskSegment .identificationForm .panelHolder .rightPanel {
         width: 307px;
         height: 100%;
      }

         .QoskSegment .identificationForm .panelHolder .rightPanel .routeReference {
            margin-top: -6px;
            height: 30px;
            width: 100%
         }

            .QoskSegment .identificationForm .panelHolder .rightPanel .routeReference td {
               width: 26%;
               vertical-align: top;
               font-family: roboto_medium;
               font-size: 11pt;
            }

               .QoskSegment .identificationForm .panelHolder .rightPanel .routeReference td:last-of-type {
                  width: 22%;
               }

         .QoskSegment .identificationForm .panelHolder .rightPanel .routeLegend {
            width: 12px;
            height: 12px;
            margin-right: 8px;
         }

         .QoskSegment .identificationForm .panelHolder .rightPanel .routeData {
         }

            .QoskSegment .identificationForm .panelHolder .rightPanel .routeData .routeDisplay {
               width: 190px;
               height: 190px;
               font-size: 48px;
               font-weight: 400;
               border-radius: 10px;
               text-align: center;
               vertical-align: middle;
               *background-color: #e0e4e9;
            }

.Qosk_Floor0, .Qosk_Floor1, .Qosk_Vault2, .Qosk_Cage3, .Qosk_Cage4, .Qosk_Cage5,
.Qosk_Island99, .Qosk_Island98, .Qosk_Island97, .Qosk_Island96, .Qosk_SpecialHandling {
   background-size: 100% 100%;
   background-repeat: no-repeat;
   font-weight: bold;
   color: #ffffff;
}

.Qosk_Floor1, .Qosk_Floor0 {
   background-image: url("/Images/SVG/F.svg");
   background-color: #0081d5;
}

.Qosk_Vault2 {
   background-image: url("/Images/SVG/V.svg");
   background-color: #d62e51;
}

.Qosk_Cage3 {
   background-image: url("/Images/SVG/C.svg");
   background-color: #ff9947;
}

.Qosk_Cage4 {
   background-image: url("/Images/SVG/C.svg");
   background-color: #ff9947;
}

.Qosk_Cage5 {
   background-image: url("/Images/SVG/C.svg");
   background-color: #ff9947;
}

.Qosk_Island99, .Qosk_Island98, .Qosk_Island97, .Qosk_Island96 {
   background-image: url("/Images/SVG/I.svg");
   background-color: #28363c;
}

.Qosk_SpecialHandling {
   background-color: #008000;
}

.routeNone {
   color: #8493a8;
}

.Qosk_Floor0 span, .Qosk_Floor0 .routeClassLegend,
.Qosk_Floor1 span, .Qosk_Floor1 .routeClassLegend,
.Qosk_Vault2 span, .Qosk_Vault2 .routeClassLegend,
.Qosk_Cage3 span, .Qosk_Cage3 .routeClassLegend,
.Qosk_Cage4 span, .Qosk_Cage4 .routeClassLegend,
.Qosk_Cage5 span, .Qosk_Cage5 .routeClassLegend,
.Qosk_Island96 span, .Qosk_Island96 .routeClassLegend,
.Qosk_Island97 span, .Qosk_Island97 .routeClassLegend,
.Qosk_Island98 span, .Qosk_Island98 .routeClassLegend,
.Qosk_Island99 span, .Qosk_Island99 .routeClassLegend,
.Qosk_SpecialHandling span, .Qosk_SpecialHandling .routeClassLegend {
   color: white;
}

.QoskSegment .identificationForm .panelHolder .rightPanel .routeLinkCell {
   width: 44px;
   text-align: center;
   vertical-align: middle
}

   .QoskSegment .identificationForm .panelHolder .rightPanel .routeLinkCell .routeLink {
      width: 20px;
      height: 2px
   }

.QoskSegment .identificationForm .panelHolder .rightPanel .routeClass {
   color: white;
}

   .QoskSegment .identificationForm .panelHolder .rightPanel .routeClass td {
      height: 33.33%;
      text-align: center;
      vertical-align: middle;
   }

      .QoskSegment .identificationForm .panelHolder .rightPanel .routeClass td:last-of-type {
         vertical-align: top;
      }

.QoskSegment .identificationForm .panelHolder .rightPanel .routeClassDisplay {
   width: 70px;
   height: 70px;
   font-size: 48px;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   text-transform: uppercase;
   border-radius: 10px;
   line-height: 1.4em;
   color: white
}

   .QoskSegment .identificationForm .panelHolder .rightPanel .routeClassDisplay.routeClassS {
      background-color: #3fd65e;
   }

   .QoskSegment .identificationForm .panelHolder .rightPanel .routeClassDisplay.routeClassNone {
      background-color: #e0e4e9;
   }

.routeClassLegend { /* less qualified selector because it is used in other places too */
   padding-top: 5px;
   text-transform: uppercase;
   font-weight: 500;
   color: #8493a8;
   font-size: 12px;
   width: 100%;
   text-align: center;
   letter-spacing: .3px;
}

/*-----------------------------------------------------------------------------------------------*/

/* -------- These are the styles for the collapsed version of the identificaiton form. Only the differences are defined -----------*/

.QoskSegment .identificationForm .ctrlContrMin {
   display: none;
}

   .QoskSegment .identificationForm .ctrlContrMin .panelHolder {
      height: 80px;
      margin-top: 0px;
      margin-bottom: 0px;
   }

      /* styles for buttons and texts in the three panels */

      .QoskSegment .identificationForm .ctrlContrMin .panelHolder .ctrlName {
         padding-top: 0px;
      }
      /* specific formatting for the left panel */

      .QoskSegment .identificationForm .ctrlContrMin .panelHolder .leftPanel .trackingLockedCell #IDENT_CTRL_TRACKING_LOCK_ICON_COLLAPSED {
         width: 24px;
         margin-bottom: 14px;
      }

/* panel separator */

.QoskSegment .identificationForm .panelHolder .panelSeparator {
   width: 66px;
   text-align: center;
   vertical-align: middle
}

   .QoskSegment .identificationForm .panelHolder .panelSeparator .panelDivider {
      display: block;
      width: 1px;
      background-color: #ccc;
      height: 80px;
      float: left;
      clear: both;
      margin-left: 50%;
      margin-right: 50%
   }

/* specific formatting for the center panel */

/* --------------- NONE --------------------*/

/* specific formatting for the right panel  */

.QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeReference {
   margin-top: 3px;
   height: 23px;
}

.QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeDataHolder {
   height: 54px;
   padding-bottom: 3px
}

   .QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeDataHolder .routeData {
      margin: auto
   }

      .QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeDataHolder .routeData .routeDisplay {
         width: 180px;
         height: 40px;
         border-radius: 5px;
         line-height: 0em;
         color: white;
      }

      .QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeDataHolder .routeData .miniSeparator {
         width: 4px;
         padding: 2px
      }

      .QoskSegment .identificationForm .ctrlContrMin .panelHolder .rightPanel .routeDataHolder .routeData .routeClassDisplay {
         width: 40px;
         height: 40px;
         font-size: 36px;
         font-weight: 400;
         text-transform: uppercase;
         border-radius: 5px;
         line-height: 0em;
      }
