/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskPage.css">
/*   Copyright (c) 2017 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QoskPage {
   background-image: url('/Images/Qosk_Background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   cursor: default;
}

   .QoskPage .tableEx {
      width: 100%;
      height: 100%;
   }

   .QoskPage .tdEx {
      text-align: center;
   }

   .QoskPage .headerGrad {
      height: 100%;
      width: 100%;
      background: #377CB6; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #3A81BB, #245C95); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #3A81BB, #245C95); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #3A81BB, #245C95); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #3A81BB, #245C95); /* Standard syntax (must be last) */
   }

   .QoskPage .footerGrad {
      height: 100%;
      width: 100%;
      background: #377CB6; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #377CB6, #245C95); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #377CB6, #245C95); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #377CB6, #245C95); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #377CB6, #245C95); /* Standard syntax (must be last) */
   }

   .QoskPage .tdGap {
      width: 100%;
   }

   .QoskPage .headerMenu .tdGap {
      font: 20pt roboto_thin;
      color: #D9E7F3;
      text-align: left;
      white-space: nowrap;
      letter-spacing: -1px;
      padding: 0px 0px 0px 8px;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskPage .imgMenu {
      width: 47px;
      height: 42px;
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
   }

   .QoskPage .imgBar {
      width: 5px;
      height: 47px;
      cursor: pointer;
   }

   .QoskPage .imgIcon {
      width: 27px;
      height: 27px;
      cursor: pointer;
   }

   .QoskPage .imgHeader {
      height: 55px;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskPage .headerElement {
      width: 50%;
   }

   .QoskPage .headerLogo {
   }

   .QoskPage .headerMenu {
      width: 100%;
      height: 100%;
   }

   .QoskPage .headerUser {
      width: 100%;
      height: 100%;
   }

      .QoskPage .headerUser .userName {
         width: 100%;
         height: 100%;
         white-space: nowrap;
         text-align: right;
         padding: 0px 5px 0px 0px;
         cursor: default;
         color: #D9E7F3;
         font: 13pt roboto_light;
      }

      .QoskPage .headerUser .userCtrl {
         padding: 0px 0px 3px 10px;
      }

         .QoskPage .headerUser .userCtrl.profileIcon img {
            width: 32px;
            margin-right: 10px;
         }

         .QoskPage .headerUser .userCtrl.menuIconHorizontal img {
            height: 32px;
            margin-right: 10px;
         }
