/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskForm.css">
/*   Copyright (c) 2016 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Input Forms.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QoskForm {
}

   .QoskForm .formMax {
   }

   .QoskForm .formMin {
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskForm .formHeader {
      width: 100%;
      height: 40px;
      color: #FFFFFF;
      cursor: default;
      font: 18pt roboto_light;
      background-image: url("/Images/Form/QForm_Header.png");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px 5px 0px 0px;
   }

      .QoskForm .formHeader .formLabel {
         padding-left: 5px;
         text-align: left;
         cursor: default;
      }

      .QoskForm .formHeader .tdCtrl {
         width: 35px;
      }

      .QoskForm .formHeader .formCtrl {
         width: 15px;
         cursor: pointer;
      }

   .QoskForm .formBody {
      width: 100%;
      height: 100%;
      background-color: #F2F2F2;
      cursor: default;
      border-Left: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6;
   }

   .QoskForm .formFooterBorder {
      width: 100%;
      height: 1px;
      background: #245C95; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
   }

   .QoskForm .formFooter {
      height: 40px;
      color: maroon;
      cursor: default;
      padding: 0px 0px 9px 140px;
      vertical-align: bottom;
      background-color: transparent;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/Images/Form/Qosk_Form_Footer.png");
      font: 11pt roboto_medium;
      font-variant: small-caps;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskForm .formBody .tdOptn {
      padding-right: 12px;
   }

   .QoskForm .formBody .formOptn {
      height: 20px;
      width: 20px;
      cursor: pointer;
   }

   .QoskForm .formBody .formCtrlIcon {
      height: 55px;
      cursor: pointer;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .QoskForm .divEx.visible {
      visibility: visible;
   }

   .QoskForm .divEx.hidden {
      visibility: hidden;
   }

   .QoskForm .formEx {
      width: 100%;
      *border-right: 1px solid #E6E6E6;
   }

      .QoskForm .formEx td {
         *height: 23px;
         *color: #323232;
         border-bottom: 1px solid #E6E6E6;
      }

   .QoskForm .formRex {
      width: 100%;
      *border-right: 1px solid #E6E6E6;
   }

      .QoskForm .formRex td {
         *height: 23px;
         *color: #323232;
         *border-bottom: 1px solid #E6E6E6;
      }

   .QoskForm .inputEx {
      width: 100%;
      height: 23px;
      border: 0;
      color: #323232;
      background-color: #ECDD9D;
      padding-left: 4px;
      font: 15px eras_medium, "Eras Medium ITC", sans-serif;
      font-weight: normal;
   }

      .QoskForm .inputEx.uppercase {
         text-transform: uppercase;
      }

      .QoskForm .inputEx:required {
         background-image: url('/Images/Required.png');
         background-position: left top;
         background-repeat: no-repeat;
      }

         .QoskForm .inputEx:required:read-only {
            background-image: none;
         }

      .QoskForm .inputEx:read-only, .QoskForm .inputEx:disabled {
         background-color: #FFFFFF;
         cursor: default;
      }

      .QoskForm .inputEx:focus {
         outline: none;
      }

   .QoskForm .inputRex {
      width: 100%;
      height: 28px;
      border: 0;
      color: #3D4D65;
      background-color: #F2F2F2;
      *padding-left: 4px;
      font: 16pt roboto_light;
      *border-bottom: 1px solid #C9D3DF;
      border-bottom: 1px solid #F2F2F2;
   }

      .QoskForm .inputRex:focus {
         outline: none;
         border-bottom: 1px solid #C9D3DF;
      }

      .QoskForm .inputRex.locked {
         background-image: url("/Images/Form/QForm_Lock(1).svg");
         background-position: right;
         background-repeat: no-repeat;
         background-size: 22px;
      }

   .QoskForm .selectEx {
      width: 100%;
      height: 23px;
      border: 0;
      color: #323232;
      background-color: #ECDD9D;
      padding-left: 4px;
      font: 15px eras_medium, "Eras Medium ITC", sans-serif;
   }

      .QoskForm .selectEx:required {
         background-image: url('/Images/Required.png');
         background-position: left top;
         background-repeat: no-repeat;
      }

      .QoskForm .selectEx:disabled {
         color: #323232;
         background-color: #FFFFFF;
         -webkit-appearance: none;
      }

      .QoskForm .selectEx.selectCamera {
         width: 200px;
      }

      .QoskForm .selectEx:focus {
         outline: none;
      }

   .QoskForm .textareaEx {
      width: 100%;
      height: 100%;
      resize: none;
      border: 0;
      color: #323232;
      background-color: #ECDD9D;
      padding-left: 4px;
      font: 15px eras_medium, "Eras Medium ITC", sans-serif;
      font-weight: normal;
   }

      .QoskForm .textareaEx.uppercase {
         text-transform: uppercase;
      }

      .QoskForm .textareaEx:required {
         background-image: url('/Images/Required.png');
         background-position: left top;
         background-repeat: no-repeat;
      }

         .QoskForm .textareaEx:required:read-only {
            background-image: none;
         }

      .QoskForm .textareaEx:read-only {
         background-color: #FFFFFF;
         cursor: default;
      }

      .QoskForm .textareaEx:focus {
         outline: none;
      }

   .QoskForm .textareaRex {
      width: 100%;
      height: 100%;
      resize: none;
      border: 0;
      color: #3d4d65;
      background-color: #f2f2f2;
      font: 10pt roboto_medium;
      font-weight: normal;
   }

   .QoskForm .textareaEx:read-only {
      background-color: #f2f2f2;
      cursor: default;
   }

   .QoskForm .textareaRex:focus {
      outline: none;
   }

   .QoskForm .tdInstructions {
      color: maroon;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdPreviewTitle {
      text-align: center;
      color: #3a80bb;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdPreviewFrame {
      height: 100%;
      padding: 5px 4px 5px 4px;
   }

   .QoskForm .tdPreviewCell {
      border: 1px solid #0B2F60;
      height: 100%;
      padding: 12px 24px 24px 7px;
      background-color: #20598E; /* For browsers that do not support gradients */
      background-image: url('/Images/QoskCorner.png'), -moz-linear-gradient(right, #9CC1E0, #20598E); /* For Firefox 3.6 to 15 */
      background-image: url('/Images/QoskCorner.png'), linear-gradient(to right, #9CC1E0, #20598E); /* Standard syntax (must be last) */
      background-position: bottom right;
      background-repeat: no-repeat;
   }

   .QoskForm .tdPreviewCamera {
      width: 100%;
      height: 35px;
      text-align: center;
   }

   .QoskForm .tblPreviewPane {
      width: 305px;
      height: 170px;
      border: 1px solid black;
      background: white;
      background-image: url('/Images/Segments/Qosk_PreviewBackground.png');
      background-repeat: no-repeat;
      background-size: cover;
   }

   .QoskForm .tdQtyHeader {
      height: 23px;
      color: #646464;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdQtyInstructions {
      text-align: justify;
      vertical-align: top;
      padding-top: 20px;
      color: maroon;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdQtyOper {
      width: 20px;
      text-align: center;
      vertical-align: central;
      color: #646464;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdQtyDescr {
      padding-left: 4px;
      vertical-align: central;
      color: #646464;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdQtyHint {
      vertical-align: central;
      color: #646464;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskForm .tdQtyRow {
      height: 30px;
   }

      .QoskForm .tdQtyRow.total {
         *height: 40px;
         border-top: 2px solid #646464;
      }

      .QoskForm .tdQtyRow.hidden {
         display: none;
      }

   .QoskForm .tdLabel {
      width: 85px;
      height: 23px;
      color: #646464;
      background-color: #C8C8C8;
      padding-left: 4px;
      padding-right: 4px;
      cursor: default;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdRex {
      padding-left: 4px;
      padding-right: 4px;
   }

   .QoskForm .tdLabelRex {
      *width: 85px;
      height: 25px;
      color: #8493A8;
      padding-left: 4px;
      padding-right: 4px;
      cursor: default;
      font: 9pt roboto_medium;
      font-variant: small-caps;
      text-transform: uppercase;
      vertical-align: text-top
   }

   .QoskForm .tdLabelSm {
      color: #646464;
      padding-left: 4px;
      padding-right: 4px;
      cursor: default;
      font: 10px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdSeparatorA {
      color: #646464;
      background-color: #C8C8C8;
      cursor: default;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdSeparatorB {
      color: #323232;
      background-color: #FFFFFF;
      cursor: default;
      font: 15px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdSummary {
      color: #646464;
      background-color: #C8C8C8;
      text-align: center;
      cursor: default;
      font: 12px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
   }

   .QoskForm .tdErrorMsg {
      color: maroon;
      background-color: transparent;
      padding-left: 4px;
      padding-right: 4px;
      font: 12px eras_medium, "Eras Medium ITC", sans-serif;
      font-weight: normal;
      font-variant: small-caps;
      cursor: default;
   }

   .QoskForm .beyondSixty {
      color: maroon;
      background-color: transparent;
      padding-left: 4px;
      padding-right: 4px;
      font: 17px eras_medium, "Eras Medium ITC", sans-serif;
      font-weight: bold;
      font-variant: small-caps;
      cursor: default;
   }

   .QoskForm .tdFiller {
      color: #FFFFFF;
      background: #FFFFFF;
      cursor: default;
   }

   .QoskForm .tdHeader {
      padding-left: 5px;
      text-align: left;
      cursor: default;
      font: 16px eras_medium, "Eras Medium ITC", sans-serif;
      background: #245C95; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
   }

   .QoskForm .DividerLine {
      border-left: 1px solid #C9D3DF;
      width: 1px;
   }

   .QoskForm .form222 {
      *color: black;
      *font-size: 15px;
      *font-weight: 600;
   }

   .QoskForm .ctrlNum {
      color: maroon;
      font-size: 70px;
      padding: 0 90px 0 60px;
      font-weight: bold;
   }

.QoskFormHeader {
   height: 30px;
   color: #FFFFFF;
   padding-left: 5px;
   text-align: left;
   cursor: default;
   border-left: 1px solid #FFFFFF;
   font: 16px eras_medium, "Eras Medium ITC", sans-serif;
}

.QoskImprintHeader {
   height: 30px;
   color: #FFFFFF;
   text-align: center;
   cursor: default;
   font: 16px eras_medium, "Eras Medium ITC", sans-serif;
}
