      .QoskDashboard
      {
      }

      .QoskDashboard .tdEx
      {
         width: 200px;
         height: 275px;
         color: #245C95;
         padding: 1px 10px;
         font: 14pt eras_light, "Eras Light ITC", sans-serif;
         vertical-align: top;
         cursor: default;
      }

      .QoskDashboard .divEx
      {
         height: 180px;
         width: 200px;
         background-size: 200px 200px;
         /*border: 1px solid blue;*/
         cursor: pointer;
         margin: auto;
         display: table-cell;
         vertical-align: bottom;
      }

      .QoskDashboard a:hover
      {
         text-decoration: none;
      }

      .QoskDashboard a:visited
      {
         text-decoration: none;
      }

      .QoskDashboard .divEx.preload
      {
         position: absolute;
         overflow: hidden;
         left: -9999px;
         top: -9999px;
      }

      .QoskDashboard .divEx.settings         { background-image: url('/Images/Applets/QoskIcon_AccountSettings_Off.png'); }
      .QoskDashboard .divEx.settings:hover   { background-image: url('/Images/Applets/QoskIcon_AccountSettings_On.png'); }

      .QoskDashboard .divEx.shipment         { background-image: url('/Images/Applets/QoskIcon_Shipping_Off.png'); }
      .QoskDashboard .divEx.shipment:hover   { background-image: url('/Images/Applets/QoskIcon_Shipping_On.png'); }

      .QoskDashboard .divEx.supply           { background-image: url('/Images/Applets/QoskIcon_Supplies_Off.png'); }
      .QoskDashboard .divEx.supply:hover     { background-image: url('/Images/Applets/QoskIcon_Supplies_On.png'); }

      .QoskDashboard .divEx.report           { background-image: url('/Images/Applets/QoskIcon_Reports_Off.png'); }
      .QoskDashboard .divEx.report:hover     { background-image: url('/Images/Applets/QoskIcon_Reports_On.png'); }

      .QoskDashboard .divEx.induction        { background-image: url('/Images/Applets/QoskIcon_DataTransfer_Off.png'); }
      .QoskDashboard .divEx.induction:hover  { background-image: url('/Images/Applets/QoskIcon_DataTransfer_On.png'); }

      .QoskDashboard .divEx.detail           { background-image: url('/Images/Applets/QoskIcon_ProductDetail_Off.png'); }
      .QoskDashboard .divEx.detail:hover     { background-image: url('/Images/Applets/QoskIcon_ProductDetail_On.png'); }

      .QoskDashboard .divEx.recall           { background-image: url('/Images/Applets/QoskIcon_Recall_Off.png'); }
      .QoskDashboard .divEx.recall:hover     { background-image: url('/Images/Applets/QoskIcon_Recall_On.png'); }

      .QoskDashboard .divEx.waste            { background-image: url('/Images/Applets/QoskIcon_WastePickup_Off.png'); }
      .QoskDashboard .divEx.waste:hover      { background-image: url('/Images/Applets/QoskIcon_WastePickup_On.png'); }

      .QoskDashboard .divEx.count            { background-image: url('/Images/Applets/QoskIcon_PillCounter_Off.png'); }
      .QoskDashboard .divEx.count:hover      { background-image: url('/Images/Applets/QoskIcon_PillCounter_On.png'); }


