/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskSegment.WtQty.css">
/*   Copyright (c) 2017, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Weight/Quantity Segment.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

   .QoskSegment .segWeight, .QoskSegment .segQuantity, .QoskSegment .segCondition
   {
      *height: 375px;
   }

   .QoskSegment .segWeight
   {
      width: 300px;
   }

   .QoskSegment .segQuantity
   {
      width: 350px;
   }

   .QoskSegment .segCondition
   {
      width: 180px;
   }

   .QoskSegment .segWtQtyCtrl
   {
      height: 10px;
      width: 100%;
   }

   .QoskSegment .segWtQtyHeader
   {
      height: 23px;
      padding-left: 5px;
      color: #646464;
      font: 14px eras_medium, "Eras Medium ITC", sans-serif;
      font-variant: small-caps;
      cursor: default;
   }

   .QoskSegment .segWtQtyInstructions
   {
      text-align: justify;
      vertical-align: top;
      padding: 2px 5px 2px 5px;
      color: maroon;
      font: 16px eras_medium, "Eras Medium ITC", sans-serif;
   }

   .QoskSegment input[type=radio]
   {
      *position: absolute;
      visibility: hidden;
      display: none;
   }

.QoskSegment label + input[type=checkbox] {
    *position: absolute;
    visibility: hidden;
    display: none;
}

   .QoskSegment .cmdLabel
   {
      background: #E7E7E7;
      border-top: 1px solid #D1D1D1;
      border-bottom: 1px solid #868686;
      border-left: 1px solid #D7D7D7;
      border-right: 1px solid #D7D7D7;
      text-align: center;
      white-space: normal;
      cursor: pointer;
      font: 12pt eras_medium, "Eras Medium ITC", sans-serif;
      -moz-border-radius: 7px 7px 7px 7px;
      -webkit-border-radius: 7px 7px 7px 7px;
      box-shadow: 0px 2px 5px gray;
   }

   .QoskSegment .segOption
   {
      height: 35px;
      width: 100%;
      padding-top: 8px;
   }

   .QoskSegment input[type=radio]:checked + label
   {
      color: #FFFFFF;
      background: #2482F4;
      border-top: 1px solid #99B2D1;
      border-bottom: 1px solid #516C8A;
      border-left: 1px solid #869FBE;
      border-right: 1px solid #869FBE;
   }

.QoskSegment input[type=checkbox]:checked + label {
    color: #FFFFFF;
    background: #2482F4;
    border-top: 1px solid #99B2D1;
    border-bottom: 1px solid #516C8A;
    border-left: 1px solid #869FBE;
    border-right: 1px solid #869FBE;
}

   .QoskSegment label + input[type=radio] + label
   {
      *border-left: solid 3px red;
   }

.QoskSegment label + input[type=checkbox] + label {
    *border-left: solid 3px red;
}
