/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskSegment.css">
/*   Copyright (c) 2017, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Segments.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.QnexGrid table.dataTable {
   font-family: Roboto;
}

   .QnexGrid table.dataTable td.dataTables_empty {
      border-right: 0 !important;
   }

   .QnexGrid table.dataTable thead th {
      font-family: roboto_medium;
      text-transform: uppercase;
      font-weight: normal;
   }

   .QnexGrid table.dataTable.recvSummaryTabCol thead th {
      color: #8493a8;
      padding: 0 0 4px 0;
   }

   .QnexGrid table.dataTable.recvTrkTabCol thead tr {
      background-color: #7a899a;
      height: 40px
   }

   .QnexGrid table.dataTable.recvTrkTabCol thead th {
      color: #ffffff;
      padding: 0 0 5px 0;
      vertical-align: bottom
   }

   .QnexGrid table.dataTable.display tbody tr {
      font-family: roboto_light;
      font-size: 15pt;
      color: #3d4d65;
   }

.QnexGrid .whiteTextCol {
   text-align: center;
   color: #FFFFFF;
   font-family: roboto_light;
}

.QnexGrid table.dataTable.row-border tbody th, .QnexGrid table.dataTable.row-border tbody td,
.QnexGrid table.dataTable.display tbody th, .QnexGrid table.dataTable.display tbody td {
   border-top: 1px solid #ffffff;
}

.QnexGrid table.dataTable.stripe tbody tr.odd, .QnexGrid table.dataTable.display tbody tr.odd[dateRow="0"] {
   background-color: #dce9f0;
}

.QnexGrid table.dataTable.stripe tbody tr.odd, .QnexGrid table.dataTable.display tbody tr.odd[dateRow="1"] {
   background-color: #e2e5e9;
}

.QnexGrid table.dataTable.stripe tbody tr.odd, .QnexGrid table.dataTable.display tbody tr.odd[dateRow="2"] {
   background-color: #e1e4e8;
}

   .QnexGrid table.dataTable.stripe tbody tr.odd.selected, .QnexGrid table.dataTable.display tbody tr.odd.selected,
   .QnexGrid table.dataTable.stripe tbody tr.even.selected, .QnexGrid table.dataTable.display tbody tr.even.selected {
      background-color: #acbad4;
   }

.QnexGrid table.dataTable.hover tbody tr.odd:hover, .QnexGrid table.dataTable.display tbody tr.odd:hover {
   background-color: #aab7d1;
}

.QnexGrid .dateRow_0 {
   background-color: #6aa2be;
}

.QnexGrid .dateRow_1 {
   background-color: #b3bbc5;
}

.QnexGrid .dateRow_2 {
   background-color: #7a899a;
}

.QnexGrid .firstRow td {
   border-top: 6px solid #d7d7d7;
}

.QnexGrid table.dataTable.row-border tbody th, .QnexGrid table.dataTable.row-border tbody td,
.QnexGrid table.dataTable.display tbody th, .QnexGrid table.dataTable.display tbody tr.firstRow td {
   border-top: 6px solid #d7d7d7;
}

.QnexGrid table.dataTable.no-footer div.dataTables_scrollHead table,
.QnexGrid .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
   background: none;
}

.QnexGrid .dataTables_wrapper .false {
   color: #8493a8;
   font-family: roboto_medium;
   font-size: 8pt;
}

.QnexGrid table.dataTable.recvTrkTabCol tbody tr {
   border-top: 1px solid #ffffff;
}

   .QnexGrid table.dataTable.recvTrkTabCol tbody tr td:not([hidden]) {
      border-right: 1px solid #ffffff;
   }

   .QnexGrid table.dataTable.recvTrkTabCol tbody tr.odd {
      background-color: #f2f2f2;
   }

   .QnexGrid table.dataTable.recvTrkTabCol tbody tr.even {
      background-color: #e2e5e9;
   }

      .QnexGrid table.dataTable.recvTrkTabCol tbody tr.even:hover {
         background-color: #aab7d1;
      }

.QnexGrid .gridChkBox {
   text-align: center;
   max-width: 40px;
   max-height: 40px;
}

.QnexGrid .searchFilter {
   display: block !important;
}