/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskActionbar.css">
/*   Copyright (c) 2016 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Action Bar (i.e. toolbar).
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.actionBar {
   height: 50px;
   width: 100%;
   border-radius: 10px 10px 0px 0px;
   background-image: url(/Images/Actionbar/Actionbar.png);
   background-size: cover;
   background-repeat: no-repeat;
}

   .actionBar td {
      *border: 1px dashed aqua;
      position: relative;
   }

   .actionBar .actionTabs {
      height: 100%;
      width: auto;
   }

   /**********************************************************************************/
   /**********************************************************************************/

   .actionBar .actionSep {
      width: 10px;
   }

      .actionBar .actionSep span {
         height: 100%;
         width: 2px;
         background-color: #789EC3;
         display: inline;
         position: absolute;
         right: 32%;
         top: 0px;
      }

   /**********************************************************************************/
   /**********************************************************************************/

   .actionBar .actionTool {
      color: #FFFFFF;
      padding: 0px 10px 0px 10px;
   }

      .actionBar .actionTool .actionIcon {
         width: 30px;
         cursor: pointer;
      }

   /**********************************************************************************/
   /**********************************************************************************/

   .actionBar .actionMenu {
      *padding-left: 15px;
      position: relative;
   }

      .actionBar .actionMenu .menuFrame {
         display: none;
         position: absolute;
         right: 0;
         min-width: 160px;
         box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
         z-index: 999;
      }

      .actionBar .actionMenu .menuContent {
         margin-top: 10px;
         white-space: nowrap;
         background-color: #FFF5E9;
         text-align: right;
         border-radius: 0px 0px 0px 5px;
      }

      .actionBar .actionMenu table {
         width: 100%;
         height: 100%;
      }

      .actionBar .actionMenu .menuItem {
         cursor: default;
      }

      .actionBar .actionMenu .menuSep {
         width: 100%;
         border-bottom: 1px solid lightgray;
         margin: 3px 0px 3px;
      }

      .actionBar .actionMenu .menuPix {
         width: 16px;
         height: 16px;
         *border: 1px solid black;
         text-align: right;
         vertical-align: middle;
      }

      .actionBar .actionMenu .menuImg {
         width: 16px;
         height: 16px;
      }

      .actionBar .actionMenu .menuLabel {
         *height: 30px; /* use this to control the height of each menu item in the content */
         padding-left: 3px;
         padding-right: 3px;
         color: #245C95;
         font: 16px eras_medium, "Eras Medium ITC", sans-serif;
         white-space: nowrap;
         text-align: left;
      }

         .actionBar .actionMenu .menuLabel:hover {
            color: #FFF5E9;
            background: #245C95;
         }
