/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskSegment.css">
/*   Copyright (c) 2017, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   HTML styles for Qosk Segments.
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

._QoskSegment {
    --segLeftPadding: 30px;
    --segBaseColor: #3D4D65;
    --segBackColor: #F3F3F3;
    --segFillColor: #0A6DAE;
    --segFadeColor: #A0ACBC;
}

    ._QoskSegment.fullHeight {
        height: 100%;
    }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexContainer {
        width: 100%;
        height: inherit;
        color: var(--segBaseColor);
        background: var(--segBackColor);
        cursor: default;
        font: 18pt roboto_light;
        border-collapse: separate;
        border-spacing: 0;
        border-bottom: 1px solid var(--segBaseColor);
    }

        ._QoskSegment .QnexContainer.fullHeight {
            border-bottom: 0px;
        }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexBody {
        color: inherit;
        background: inherit;
        cursor: inherit;
        font: inherit;
    }

        ._QoskSegment .QnexBody table {
            width: 100%;
            height: 100%;
        }

    /**********************************************************************************/
    /**********************************************************************************/
    ._QoskSegment .QnexDiv {
        color: inherit;
        background: inherit;
        cursor: default;
        font: inherit;
        border-bottom: 5px solid var(--segFillColor);
    }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexCaption {
        color: inherit;
        padding: 0px 80px 0px var(--segLeftPadding);
        text-align: justify;
        font-size: 10pt;
    }

        ._QoskSegment .QnexCaption.warning {
            color: #CC7000
        }

        ._QoskSegment .QnexCaption.error {
            color: maroon;
        }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexFiller {
        width: var(--segLeftPadding);
        color: inherit;
        background: inherit;
        cursor: inherit;
        font: inherit;
    }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexContent {
        width: auto;
        height: auto;
        color: inherit;
        background: inherit;
        cursor: inherit;
        font: inherit;
    }

        ._QoskSegment .QnexContent td {
            *padding: 0px 0px 0px var(--segLeftPadding);
        }

    ._QoskSegment .QnexBody .QnexCommand {
        text-align: center;
    }

        ._QoskSegment .QnexBody .QnexCommand:before {
            border-bottom: 1px solid var(--segBaseColor);
            content: '';
            display: block;
            margin-left: 35%;
            width: 30%;
        }

    /**********************************************************************************/
    /**********************************************************************************/

    ._QoskSegment .QnexTitle {
        width: auto;
        height: 43px;
        color: inherit;
        background: inherit;
        text-align: left;
        cursor: inherit;
        *padding: 0px 0px 0px var(--segLeftPadding);
    }

        ._QoskSegment .QnexTitle .QnexTitleTag {
            display: inline-block;
            vertical-align: middle;
        }

        ._QoskSegment .QnexTitle .QnexTitleFld {
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            color: var(--segFadeColor);
            font: 14pt roboto_light_italic;
        }

    ._QoskSegment .QnexState {
        width: 50px;
        color: inherit;
        background: inherit;
        text-align: center;
    }

    ._QoskSegment .QnexExpand {
        width: 20px;
        color: inherit;
        background: inherit;
        text-align: center;
    }

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

.QoskSegment {
    width: 1100px;
    padding-top: 5px;
    border-collapse: separate;
    border-spacing: 0;
    --segLeftPadding: 30px;
    --segBaseColor: #3D4D65;
    --segBackColor: #F3F3F3;
    --segFillColor: #0A6DAE;
    --segFadeColor: #A0ACBC;
}

    .QoskSegment .collapse-arrow {
        width: 48px;
        height: 48px;
    }

.ql-sidebar {
    width: 450px;
    padding-bottom: 10px;
}

    .ql-sidebar .QoskBorder-LBR {
        height: auto
    }

    .ql-sidebar .QoskSegment {
        margin-left: 20px;
        width: 400px;
    }

.QoskVMargin .Gutter-Top {
    height: 6px;
}

.QoskSegment .QnexBorderL {
    width: 22px;
    color: #FFFFFE;
    text-align: left;
    vertical-align: top;
    font: 12px Tahoma, serif;
    border-radius: 10px 0px 0px 10px;
}

    .QoskSegment .QnexBorderL.level0 {
        background: #245C95; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #245C95, #3A80BB); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #245C95, #3A80BB); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #245C95, #3A80BB); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #245C95, #3A80BB); /* Standard syntax (must be last) */
    }

    .QoskSegment .QnexBorderL.level1 {
        background: #267B13; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #267B13, #33D919); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #267B13, #33D919); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #267B13, #33D919); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #267B13, #33D919); /* Standard syntax (must be last) */
    }

    .QoskSegment .QnexBorderL.level2 {
        background: #D5A500; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #D5A500, #C9BB08); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #D5A500, #C9BB08); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #D5A500, #C9BB08); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #D5A500, #C9BB08); /* Standard syntax (must be last) */
    }

    .QoskSegment .QnexBorderL.level3 {
        background: #C23716; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #C23716, #F8451C); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #C23716, #F8451C); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #C23716, #F8451C); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #C23716, #F8451C); /* Standard syntax (must be last) */
    }

.QoskSegment .QnexBorderR {
    width: 25px;
    color: #FFFFFE;
    text-align: left;
    vertical-align: top;
    font: 12px Tahoma, serif;
    border-radius: 0px 10px 10px 0px;
}

    .QoskSegment .QnexBorderR.level0 {
        background: #245C95; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
    }

    .QoskSegment .QnexBorderR.level1 {
        background: #267B13; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #33D919, #267B13); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #33D919, #267B13); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #33D919, #267B13); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #33D919, #267B13); /* Standard syntax (must be last) */
    }

.QoskSegment Qnex.BorderR.level2 {
    background: #D5A500; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #C9BB08, #D5A500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #C9BB08, #D5A500); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #C9BB08, #D5A500); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #C9BB08, #D5A500); /* Standard syntax (must be last) */
}

.QoskSegment .QnexBorderR.level3 {
    background: #C23716; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #F8451C, #C23716); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #F8451C, #C23716); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #F8451C, #C23716); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #F8451C, #C23716); /* Standard syntax (must be last) */
}



.QoskSegment .QnexTitle {
    width: auto;
    height: 43px;
    color: var(--segBaseColor);
    font: 18pt roboto_light;
    background: var(--segBackColor);
    text-align: left;
    cursor: inherit;
    padding: 0px 0px 0px var(--segLeftPadding);
}

    .QoskSegment .QnexTitle .QnexTitleTag {
        display: inline-block;
        vertical-align: middle;
    }

    .QoskSegment .QnexTitle .QnexTitleFld {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        color: var(--segFadeColor);
        font: 14pt roboto_light_italic;
    }

.QoskSegment .QnexState {
    width: 50px;
    color: inherit;
    background: inherit;
    text-align: center;
}

.QoskSegment .QnexExpand {
    width: 20px;
    color: inherit;
    background: inherit;
    text-align: center;
}






.QoskSegment .QnexHeader {
    width: auto;
    height: 43px;
    color: #323232;
    background: #F0F0F0;
    text-align: left;
    cursor: default;
    padding-left: 5px;
    font: 16px Tahoma, serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

    .QoskSegment .QnexHeader.level0 {
        border-top-color: #245C95;
        border-bottom-color: #245C95;
    }

    .QoskSegment .QnexHeader.level1 {
        border-top-color: #267B13;
        border-bottom-color: #267B13;
    }

    .QoskSegment .QnexHeader.level2 {
        border-top-color: #D5A500;
        border-bottom-color: #D5A500;
    }

    .QoskSegment .QnexHeader.level3 {
        border-top-color: #C23716;
        border-bottom-color: #C23716;
    }

.QoskSegment .QnexIcon {
    color: #323232;
    background: #F0F0F0;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

    .QoskSegment .QnexIcon.visible {
        width: 50px;
    }

    .QoskSegment .QnexIcon.obscure {
        width: 0px;
    }

    .QoskSegment .QnexIcon.level0 {
        background: #3A80BB;
        border-top-color: #245C95;
        border-bottom-color: #245C95;
    }

    .QoskSegment .QnexIcon.level1 {
        background: #33D919;
        border-top-color: #267B13;
        border-bottom-color: #267B13;
    }

    .QoskSegment .QnexIcon.level2 {
        background: #C9BB08;
        border-top-color: #D5A500;
        border-bottom-color: #D5A500;
    }

    .QoskSegment .QnexIcon.level3 {
        background: #F8451C;
        border-top-color: #C23716;
        border-bottom-color: #C23716;
    }

.QoskSegment .QnexContent {
    width: auto;
    height: auto;
    color: #323232;
    background: #F0F0F0;
    cursor: default;
    padding: 5px 25px 5px 25px;
    font: 12px Tahoma, serif;
    border-bottom: 1px solid;
}

    .QoskSegment .QnexContent .dummyContent {
        height: 150px;
        vertical-align: top;
        text-align: left
    }

    .QoskSegment .QnexContent.level0 {
        border-bottom-color: #245C95;
    }

    .QoskSegment .QnexContent.level1 {
        border-bottom-color: #267B13;
    }

    .QoskSegment .QnexContent.level2 {
        border-bottom-color: #D5A500;
    }

    .QoskSegment .QnexContent.level3 {
        border-bottom-color: #C23716;
    }

.QoskSegment .QnexMessage {
    padding-top: 5px;
    vertical-align: middle;
    border-top: 1px solid #0B2F60;
}

    .QoskSegment .QnexMessage .QnexCaption {
        padding-right: 50px;
        text-align: left;
        font: 14px eras_medium, "Eras Medium ITC", sans-serif;
    }

        .QoskSegment .QnexMessage .QnexCaption.general {
            color: black;
        }

        .QoskSegment .QnexMessage .QnexCaption.warning {
            color: #CC7000
        }

        .QoskSegment .QnexMessage .QnexCaption.error {
            color: maroon;
        }

.QoskForm .QnexMessage.general {
    color: black;
}

.QoskForm .QnexMessage.warning {
    color: #CC7000
}

.QoskForm .QnexMessage.error {
    color: maroon;
}

/*-----------------------------------------------------------------------------------------------*/
/*   For backward compatibility
/*-----------------------------------------------------------------------------------------------*/

.QoskSegment .tdMarginL {
    width: 19px;
    text-align: left;
    font: 12px Tahoma, serif;
    border-radius: 10px 0px 0px 10px;
}

    .QoskSegment .tdMarginL.level0 {
        color: #FFFFFE;
        background: #245C95; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #245C95, #3A80BB); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #245C95, #3A80BB); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #245C95, #3A80BB); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #245C95, #3A80BB); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginL.level1 {
        color: #FFFFFE;
        background: #267B13; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #267B13, #33D919); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #267B13, #33D919); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #267B13, #33D919); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #267B13, #33D919); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginL.level2 {
        color: #FFFFFE;
        background: #D5A500; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #D5A500, #C9BB08); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #D5A500, #C9BB08); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #D5A500, #C9BB08); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #D5A500, #C9BB08); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginL.level3 {
        color: #FFFFFE;
        background: #C23716; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #C23716, #F8451C); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #C23716, #F8451C); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #C23716, #F8451C); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #C23716, #F8451C); /* Standard syntax (must be last) */
    }

.QoskSegment .tdMarginR {
    width: 80px;
    color: #FFFFFE;
    text-align: left;
    vertical-align: top;
    font: 12px Tahoma, serif;
    border-radius: 0px 10px 10px 0px;
}

    .QoskSegment .tdMarginR.level0 {
        color: #FFFFFE;
        background: #245C95; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginR.level1 {
        color: #FFFFFE;
        background: #267B13; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #33D919, #267B13); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #33D919, #267B13); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #33D919, #267B13); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #33D919, #267B13); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginR.level2 {
        color: #FFFFFE;
        background: #D5A500; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #C9BB08, #D5A500); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #C9BB08, #D5A500); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #C9BB08, #D5A500); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #C9BB08, #D5A500); /* Standard syntax (must be last) */
    }

    .QoskSegment .tdMarginR.level3 {
        color: #FFFFFE;
        background: #C23716; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #F8451C, #C23716); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #F8451C, #C23716); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #F8451C, #C23716); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #F8451C, #C23716); /* Standard syntax (must be last) */
    }

.QoskSegment .tdHeader {
    width: auto;
    height: 43px;
    text-align: left;
    cursor: default;
    padding-left: 5px;
    font: 16px Tahoma, serif;
}

    .QoskSegment .tdHeader.level0 {
        color: #323232;
        background: #F0F0F0;
        border-top: 1px solid #245C95;
        border-bottom: 1px solid #245C95;
    }

    .QoskSegment .tdHeader.level1 {
        color: #323232;
        background: #F0F0F0;
        border-top: 1px solid #267B13;
        border-bottom: 1px solid #267B13;
    }

    .QoskSegment .tdHeader.level2 {
        color: #323232;
        background: #F0F0F0;
        border-top: 1px solid #D5A500;
        border-bottom: 1px solid #D5A500;
    }

    .QoskSegment .tdHeader.level3 {
        color: #323232;
        background: #F0F0F0;
        border-top: 1px solid #C23716;
        border-bottom: 1px solid #C23716;
    }

.QoskSegment .tdContent {
    width: auto;
    height: auto;
    cursor: default;
    padding: 5px 5px 5px 25px;
    font: 14px Tahoma, serif;
}

    .QoskSegment .tdContent .dummyContent {
        height: 150px;
        vertical-align: top;
        text-align: left
    }

    .QoskSegment .tdContent.level0 {
        color: #323232;
        background: #F0F0F0;
        border-bottom: 1px solid #245C95;
    }

    .QoskSegment .tdContent.level1 {
        color: #323232;
        background: #F0F0F0;
        border-bottom: 1px solid #267B13;
    }

    .QoskSegment .tdContent.level2 {
        color: #323232;
        background: #F0F0F0;
        border-bottom: 1px solid #D5A500;
    }

    .QoskSegment .tdContent.level3 {
        color: #323232;
        background: #F0F0F0;
        border-bottom: 1px solid #C23716;
    }

.QoskSegment .VMargin {
    width: 50%;
}

.QoskSegment .tdMessage {
    padding-top: 5px;
    vertical-align: middle;
    border-top: 1px solid #0B2F60;
}

    .QoskSegment .tdMessage .tdCaption {
        padding-right: 50px;
        text-align: left;
        font: 16px eras_medium, "Eras Medium ITC", sans-serif;
    }

        .QoskSegment .tdMessage .tdCaption.general {
            color: black;
        }

            .QoskSegment .tdMessage .tdCaption.general.sidebar {
                font: 14px eras_medium, "Eras Medium ITC", sans-serif;
            }

        .QoskSegment .tdMessage .tdCaption.warning {
            color: #CC7000
        }

            .QoskSegment .tdMessage .tdCaption.warning.sidebar {
                font: 14px eras_medium, "Eras Medium ITC", sans-serif;
            }


        .QoskSegment .tdMessage .tdCaption.error {
            color: maroon;
        }

            .QoskSegment .tdMessage .tdCaption.error.sidebar {
                font: 14px eras_medium, "Eras Medium ITC", sans-serif;
            }

.QoskForm .tdMessage.general {
    color: black;
}

.QoskForm .tdMessage.warning {
    color: #CC7000
}

.QoskForm .tdMessage.error {
    color: maroon;
}

.QoskSegment .tableEx {
    width: 100%;
    height: 100%;
    *border: 1px dotted red;
}

.QoskSegment .imgEx {
    padding-top: 2px;
    *border: 1px solid red;
}


.QoskSegment .QnexContent .dummyContent {
    height: 150px;
    vertical-align: top;
    text-align: left
}

.QoskSegment .QnexMessage {
    width: 2000px;
    padding-top: 5px;
    vertical-align: middle;
    border-top: 1px solid #0B2F60;
}

    .QoskSegment .QnexMessage .QnexCaption {
        padding-right: 50px;
        text-align: left;
        font: 16px eras_medium, "Eras Medium ITC", sans-serif;
    }

    .QoskSegment .QnexMessage .QnexCommand {
        padding: 0px 3px 4px 0px;
        text-align: right;
    }

    .QoskSegment .QnexMessage .QnexCaption.general {
        color: black;
    }

    .QoskSegment .QnexMessage .QnexCaption.warning {
        color: #CC7000
    }

    .QoskSegment .QnexMessage .QnexCaption.error {
        color: maroon;
    }

.QoskForm .QnexMessage.general {
    color: black;
}

.QoskForm .QnexMessage.warning {
    color: #CC7000
}

.QoskForm .QnexMessage.error {
    color: maroon;
}
