/*-----------------------------------------------------------------------------------------------*/
/* <copyright file="QoskFilterr.css">
/*   Copyright (c) 2017 - 2018, Qualanex LLC
/*   All rights reserved.
/*
/*   This software is provided 'as-is', without any express or implied warranty.  In no event
/*   will the authors be held liable for any damages arising from the use of this software.
/* </copyright>
/* <summary>
/*   ???
/* </summary>
/* <remarks>
/*   None.
/* </remarks>
/*-----------------------------------------------------------------------------------------------*/

.actionFilter {
   position: relative;
}

   .actionFilter td {
      border-bottom: 0!important;
   }

   .actionFilter .filterFrame {
      display: none;
      position: absolute;
      right: 0;
      min-width: 160px;
      box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
      z-index: 999;
   }

   .actionFilter .filterContent {
      margin-top: 10px;
      white-space: nowrap;
      background-color: #F2F2F2;
      border-radius: 0 0 0 5px;
      padding: 5px 5px 5px 5px;
   }

   .actionFilter .tdLabelRex {
      height: 25px;
      color: #8493A8;
      padding-left: 4px;
      padding-right: 4px;
      cursor: default;
      font: 9pt roboto_medium;
      font-variant: small-caps;
      text-transform: uppercase;
      vertical-align: text-top
   }

   .actionFilter .inputRex {
      width: 100%;
      height: 28px;
      border: 0;
      color: #3D4D65;
      background-color: #F2F2F2;
      padding-left: 4px;
      padding-right: 4px;
      font: 16pt roboto_light;
      *border-bottom: 1px solid #C9D3DF;
      border-bottom: 1px solid #F2F2F2;
   }

      .actionFilter .inputRex:focus {
         outline: none;
         border-bottom: 1px solid #C9D3DF;
      }

   .actionFilter table {
      width: 100%;
      height: 100%;
   }

   .actionFilter .filterCommands {
      padding: 20px 5px 5px 0;
      text-align: right;
   }

      .actionFilter .filterCommands span {
         padding-left: 15px;
      }

   .actionFilter .filterCmd {
      width: 100px;
      font-weight: 500;
      font-size: 14px;
      color: white;
      background-color: #409cbf;
      border: 0px;
      height: 40px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      *line-height: .5em;
      *padding: 5px 20px 5px 20px;
   }
