﻿@{
    ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
    Layout = "~/Views/Shared/_QoskLayout.cshtml";
}


@section styles {
    <link href="@Url.Content("~/Areas/QoskReporting/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Areas/QoskReporting/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    @*<link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />*@

    @*<script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>*@
    @*<script src="https://kendo.cdn.telerik.com/2019.1.220/js/jszip.min.js"></script>*@
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.aspnetmvc.min.js"></script>
    @*<script src="@Url.Content("~/Areas/QoskReporting/Scripts/kendo.modernizr.custom.js")"></script>*@
    <script src="@Url.Content("~/Areas/QoskReporting/Scripts/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Areas/QoskReporting/ReportViewer/js/telerikReportViewer.kendo-13.0.19.116.min.js")"></script>
    <script src="@Url.Content("~/Areas/QoskReporting/ReportViewer/js/telerikReportViewer-13.0.19.116.min.js")"></script>

    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" type="text/css" />

    <style>
        .buff-top {
            margin-top: 10px;
        }

        .buff-bottom {
            margin-bottom: 10px;
        }

        .outer {
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            overflow-y: auto;
        }

        .outer > .content {
            min-height: calc(100% - 43px);
            background: #fff;
            padding: 0 0 10px 0;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            margin-top: 0;
            margin-bottom: 0;
        }

        [data-toggle="collapse"][aria-expanded="true"] .k-i-arrow-chevron-down {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .group-h:hover, .group-h:active, .group-h:focus {
            text-decoration: none;
        }

        .group-h > h4 {
            margin-left: -5px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .group-h.collapsed {
            background: none;
        }

        .outer .ql-tab {
            margin-top: 0;
        }
    </style>
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-bottom-center",
            "timeOut": "4000"
        }
    </script>
}

<div class="outer">
    <div class="container-fluid">
        <ul class="etabs container buff-top" style="margin-bottom:0;">
            <li class="ql-tab @Html.IsActive(controllers: "Home")">@Html.ActionLink("Reports", "Index", "Home")</li>
            <li class="ql-tab @Html.IsActive(controllers: "Second")">@Html.ActionLink("Tab Action 2", "Index", "Second")</li>
        </ul>
    </div>
    <div class="container" style="height: 8px; border-top-left-radius: 5px; border-top-right-radius: 5px; background: #2A669F;margin-top:0;margin-bottom:0;">&nbsp;</div>
    <div class="content container">
        @RenderBody()
    </div>
</div>
