﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy
@{
    ViewBag.Title = "CreateNewPolicy";
}
@{

    Dictionary<string, string> ProductExpiresWithinStartandEnd = new Dictionary<string, string>();
    ProductExpiresWithinStartandEnd.Add("First Day of Month", "true");
    ProductExpiresWithinStartandEnd.Add("Last Day of Month", "false");
}
@{
    Dictionary<string, string> AuthorizeforCreditConsiderationdict = new Dictionary<string, string>();
    AuthorizeforCreditConsiderationdict.Add("All Accounts", "All Accounts");
    AuthorizeforCreditConsiderationdict.Add("No Accounts", "No Accounts");
    AuthorizeforCreditConsiderationdict.Add("Direct Accounts Only", "Direct Accounts Only");
}

<div id="tab-container1" class='tab-container'>
    <ul class='etabs'>
        <li class='tab'><a href="#qu-tab11">Returnable Product Rules</a></li>
        <li class='tab'><a href="#qu-tab12">Pricing Rules</a></li>
        <li class='tab'><a href="#qu-tab13">Event Rules</a></li>
    </ul>
    <div class='panel-container'>
        <div id="qu-tab11">
            <div class="physician-box clearfix">

                <div id="productdiv">
                    <div class="col-lg-6 new_policy">
                        <div class="input-ctrl">
                            <label>Expiration Return Period Starts</label>
                            <div class="field">

                                @*@Html.DropDownListFor(model=>model.ExpiresOnFirstOfCurrentMonth)*@
                                @Html.DropDownListFor(model => model.ExpiresOnFirstOfCurrentMonth, new SelectList(ProductExpiresWithinStartandEnd, "Value", "Key", ""), "Select")
                                @*<select>                                                    <option value="true">First Day of Month</option>
                                        <option value="false">Last Day of Month</option>
                                    </select>*@

                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Number of Months Accepted After Expiration Date </label>
                            <div class="field">
                                @Html.TextBoxFor(model => model.NumberOfMonthsAfterExpirationReturnable)
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>NDC Inner Pack Rule</label>
                            <div class="field">
                                <select>
                                    <option>No Policy Change</option>
                                    <option>Always Process as Opened</option>
                                    <option>Always Non-Creditable</option>
                                </select>

                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Do you allow Overstock to be Returned for Re-Distribution? <span>*</span></label>
                            <div class="field">


                                @Html.RadioButtonFor(model => model.OverstockApprovalRequired, true, new { @id = "OverstockApprovalRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredYes" })
                                @if (Model.OverstockApprovalRequired)
{
                                    @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })
}
else
{    @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })}


                                @*@Html.RadioButtonFor(model => model.rde, true, new { @id = "rdbutonarcosyes" })
                                    @Html.Label("Yes", new { @for = "rdbutonarcosyes", @class = "css-label radGroup1 radGroup1" })
                                    @Html.RadioButtonFor(model => model.ARCOSReportable, false, new { @id = "rdbutonarcosno", @checked = "checked" })
                                    @Html.Label("No", new { @for = "rdbutonarcosno", @class = "css-label radGroup1 radGroup1" })*@

                                @*<input type="radio" value="True" name="ReDistribution" id="ReDistributionYes">
                                    <label for="ReDistributionYes" class="css-label radGroup1 radGroup1">Yes</label>

                                    <input type="radio" value="False" name="ReDistribution" id="ReDistributionNo" checked="checked">
                                    <label for="ReDistributionNo" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Accept Product Outside of Policy for Destruction Only <span>*</span></label>
                            <div class="field">
                                <input type="radio" value="True" name="policydestruction" id="policydestructionyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                <label for="policydestructionyes" class="css-label radGroup1 radGroup1">Yes</label>

                                <input type="radio" value="False" name="policydestruction" id="policydestructionno" checked="checked">
                                <label for="policydestructionno" class="css-label radGroup1 radGroup1">No</label>
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Is Credit Issued for Open Containers (No seal exists, but Quantity Equals Original Package Size)? </label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.BrokenSealReturnable, true, new { @id = "BrokenSealReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableYes" })

                                @if (Model.BrokenSealReturnable ?? false)
                                {

                                    @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })
                                 
                                                    }
                                                    else
                                                    {
                                                     @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })

                                                    }
                                   
                                </div>
                            </div>
                            <div class="input-ctrl">
                                <label>Is Credit Issued for Prescription Vials?</label>
                                <div class="field">

                                    @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, true, new { @id = "PrescriptionVialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableYes" })
                                    @if (Model.PrescriptionVialsReturnable)
{

                                        @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo"})@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })
                                                   }
                                                   else
                                                   {
                                        @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })
}
                                    @*<input type="radio" value="True" name="PrescriptionVials" id="PrescriptionVialsYes">
                                        <label for="PrescriptionVialsYes" class="css-label radGroup1 radGroup1">Yes</label>

                                        <input type="radio" value="False" name="PrescriptionVials" id="PrescriptionVialsNo" checked="checked">
                                        <label for="PrescriptionVialsNo" class="css-label radGroup1 radGroup1">No</label>*@
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6 new_policy">
                        <div class="input-ctrl">
                            <label>Number of Months Accepted with Shelf Life Remaining (Sealed Product)</label>
                            <div class="field">
                                @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableSealed)
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Number of Months Accepted with Shelf Life Remaining (Opened Product)</label>
                            <div class="field">
                                @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableOpened)
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Form 41's are Acceptable for Credit in place of the Product <span>*</span></label>
                            <div class="field">
                                <input type="radio" value="True" name="placeproduct" id="placeproductyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                <label for="placeproductyes" class="css-label radGroup1 radGroup1">Yes</label>

                                <input type="radio" value="False" name="placeproduct" id="placeproductno" checked="checked">
                                <label for="placeproductno" class="css-label radGroup1 radGroup1">No</label>
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Is Credit Issued for Repackagers Containers (i.e. RxPak, National PharmPak, etc.)?</label>
                            <div class="field">

                                @*@Html.RadioButtonFor(model => model.repac, "Yes", new { @id = "PrescriptionVialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableYes" })
                    @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, "NO", new { @id = "PrescriptionVialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })*@
                                <input type="radio" value="True" name="repackagerscontainers" id="repackagerscontainersyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                <label for="repackagerscontainersyes" class="css-label radGroup1 radGroup1">Yes</label>

                                <input type="radio" value="False" name="repackagerscontainers" id="repackagerscontainersno" checked="checked">
                                <label for="repackagerscontainersno" class="css-label radGroup1 radGroup1">No</label>
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Is Credit Issued for Repackaged Containers (Customer Packaging into Unit Dose Form)?</label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, true, new { @id = "RepackagedIntoUnitDoseReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableYes" })

                                @if (Model.RepackagedIntoUnitDoseReturnable)
                                {
                                    @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })

                                }
                                @*<input type="radio" value="True" name="packagingunit" id="packagingunityes" data-val-required="The PhysicianSample field is required." data-val="true">
                    <label for="packagingunityes" class="css-label radGroup1 radGroup1">Yes</label>

                    <input type="radio" value="False" name="packagingunit" id="packagingunitno" checked="checked">
                    <label for="packagingunitno" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Is Credit Issued for Product that is Missing the Lot Number or Expiration Date? </label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, true, new { @id = "MissingLotNumberorExpDateNotReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableYes" })
                                @if (Model.MissingLotNumberorExpDateNotReturnable)
                                {

                                    @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })
                                }
                                else
                                {                                                      @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })
                                }


                                @*<input type="radio" value="True" name="expirationdate" id="expirationdateyes" data-val-required="The PhysicianSample field is required." data-val="true">
                    <label for="expirationdateyes" class="css-label radGroup1 radGroup1">Yes</label>

                    <input type="radio" value="False" name="expirationdate" id="expirationdateno" checked="checked">
                    <label for="expirationdateno" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Is Credit Issued for Partial Containers (Less Than Original Package Size)? </label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.PartialsReturnable, true, new { @id = "PartialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYes" })


                                @Html.RadioButtonFor(model => model.PartialsReturnable, false, new { @id = "PartialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYesNo" })

                                @*<input type="radio" value="True" name="partialcontainers" id="partialcontainersyes" data-val-required="The PhysicianSample field is required." data-val="true">
                    <label for="partialcontainersyes" class="css-label radGroup1 radGroup1">Yes</label>

                    <input type="radio" value="False" name="partialcontainers" id="partialcontainersno" checked="checked">
                    <label for="partialcontainersno" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                    </div>

                    </div>
                </div>


            </div>
            <div id="qu-tab12">
                <div class="physician-box clearfix">

                    <div id="additionaldiv">
                        <div class="col-lg-6 new_policy">
                            <div class="input-ctrl">
                                <label>Discount or Handling Fee %</label>
                                <div class="field">
                                    @Html.TextBoxFor(model => model.HandlingFee)
                                </div>
                            </div>
                            <div class="input-ctrl">
                                <label>Use Debit Value when Calculating Credit Value <span>*</span></label>
                                <div class="field">
                                    <select>
                                        <option>Yes- price if no match</option>
                                        <option>Yes - $0 if no match</option>
                                        <option>No</option>
                                    </select>

                                </div>
                            </div>
                            <div class="input-ctrl">
                                <label>When Matching a Processed Item to the Debit Memo, Include Lot Number in the Comparison?</label>
                                <div class="field">

                                    @*@Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, true, new { @id = "RepackagedIntoUnitDoseReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableYes" })
                                        @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })*@

                                    <input type="radio" value="True" name="lotnumbercomparison" id="lotnumbercomparisonyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                    <label for="lotnumbercomparisonyes" class="css-label radGroup1 radGroup1">Yes</label>

                                    <input type="radio" value="False" name="lotnumbercomparison" id="lotnumbercomparisonno" checked="checked">
                                    <label for="lotnumbercomparisonno" class="css-label radGroup1 radGroup1">No</label>
                                </div>
                            </div>

                            <div class="input-ctrl">
                                <label>Allow Return Quantity That Exceeds Product Package Size</label>
                                <div class="field">

                                    @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, true, new { @id = "AllowQuantityOverPackageSizeYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeYes" })
                                    @if (Model.AllowQuantityOverPackageSize)
{
                                        @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })
                                                   }
                                                   else
                                                   {                @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })

 }
                                       
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Does the Discount or Handling Fee Apply to States with Partial Policy Law?</label>
                                    <div class="field">

                                        @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, true, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawYes" })

                                        @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, false, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawNo" })



                                        @*<input type="radio" value="True" name="partialpolicylaw" id="partialpolicylawyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                            <label for="partialpolicylawyes" class="css-label radGroup1 radGroup1">Yes</label>

                                            <input type="radio" value="False" name="partialpolicylaw" id="partialpolicylawno" checked="checked">
                                            <label for="partialpolicylawno" class="css-label radGroup1 radGroup1">No</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6 new_policy">
                        <div class="input-ctrl">
                            <label>Processing Fee Charged by Customer?</label>
                            <div class="field">
                                <input type="text">
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Authorized For Credit Consideration</label>
                            <div class="field">
                                @Html.DropDownListFor(model => model.AuthorizedForCreditConsideration, new SelectList(AuthorizeforCreditConsiderationdict, "Value", "Key", ""), "Select")
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Use Fall Through Price when Contract Price does not Exist? If No then unit price will equal $0.00</label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, true, new { @id = "DoNotUseFallThroughPriceYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceYes" })
                                @if (Model.DoNotUseFallThroughPrice)
                                {
                                    @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })

                                }
                                @*<input type="radio" value="True" name="contractprice" id="contractpriceyes" data-val-required="The PhysicianSample field is required." data-val="true">
                    <label for="contractpriceyes" class="css-label radGroup1 radGroup1">Yes</label>

                    <input type="radio" value="False" name="contractprice" id="contractpriceno" checked="checked">
                    <label for="contractpriceno" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                        <div class="input-ctrl">
                            <label>Use Wholesaler Direct Price When No Indirect Price</label>
                            <div class="field">

                                @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, true, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectYes" })
                                @if (Model.UseWholeSalerDirectPriceWhenNoIndirect)
                                {
                                    @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })
                                }
                                else
                                {                                                 @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })
                                }
                                @*<input type="radio" value="True" name="indirectprice" id="indirectpriceyes" data-val-required="The PhysicianSample field is required." data-val="true">
                    <label for="indirectpriceyes" class="css-label radGroup1 radGroup1">Yes</label>

                    <input type="radio" value="False" name="indirectprice" id="indirectpriceno" checked="checked">
                    <label for="indirectpriceno" class="css-label radGroup1 radGroup1">No</label>*@
                            </div>
                        </div>
                    </div>

                    </div>


                </div>


                <div id="qu-tab13">
                    <div class="physician-box clearfix">

                        <div id="additionaldiv">
                            <div class="col-lg-6 new_policy">
                                <div class="input-ctrl">
                                    <label>Minimum Debit Memo Value Required before an RA can be Issued</label>
                                    <div class="field">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>What Percentage of Product is Required before an RA can be Closed? </label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent)
                                        @*<input type="text">*@
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Number of Months Good Dating Required on Product for Overstock Returns </label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent)
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Is a Return Authorization Required? </label>
                                    <div class="field">

                                        @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, true, new { @id = "PriorReturnAuthorizationRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredYes" })

                                        @if (Model.PriorReturnAuthorizationRequired)
                                    {
                                            @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })
                                    }
                                    else
                                    {                                                      @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })
                                    }
                                        @*<input type="radio" value="True" name="authorizationrequired" id="authorizationrequiredyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                            <label for="authorizationrequiredyes" class="css-label radGroup1 radGroup1">Yes</label>

                                            <input type="radio" value="False" name="authorizationrequired" id="authorizationrequiredno" checked="checked">
                                            <label for="authorizationrequiredno" class="css-label radGroup1 radGroup1">No</label>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 new_policy">
                                <div class="input-ctrl">
                                    <label>Non-Direct Customers Will Receive Credit By <span>*</span></label>
                                    <div class="field">
                                        <select>
                                            <option>Check</option>
                                            <option>Credit Through Wholesaler</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Value Requiring Prior Authorization from the Manufacturer Based On</label>
                                    <div class="field">
                                        <input type="text" style="margin-bottom:5px;">
                                        <select>
                                            <option>Manufacturer Pricing Value</option>
                                            <option>Debit Memo Value</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Is Overstock Approval Required Prior to Authorizing a Return</label>
                                    <div class="field">

                                        @Html.RadioButtonFor(model => model.OverstockApprovalRequired, true, new { @id = "OverstockApprovalRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredYes" })
                                        @if (Model.OverstockApprovalRequired)
                                    {
                                            @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })
                                    }
                                    else
                                    {
                                            @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })
                                    }
                                        @*<input type="radio" value="True" name="approvalrequired" id="approvalrequiredyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                            <label for="approvalrequiredyes" class="css-label radGroup1 radGroup1">Yes</label>

                                            <input type="radio" value="False" name="approvalrequired" id="approvalrequiredno" checked="checked">
                                            <label for="approvalrequiredno" class="css-label radGroup1 radGroup1">No</label>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                $('#tab-container1').easytabs();
                $("#tab-container1").find("input,button,select,textarea").attr("disabled", "disabled")


            });
        </script>
