﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy
@{
    ViewBag.Title = "CreatePolicy";
}
@{

    Dictionary<string, string> ProductExpiresWithinStartandEnd = new Dictionary<string, string>();
    ProductExpiresWithinStartandEnd.Add("First Day of Month", "true");
    ProductExpiresWithinStartandEnd.Add("Last Day of Month", "false");
}


@{
    Dictionary<string, string> PolicyDict = new Dictionary<string, string>();
    PolicyDict.Add("Published Policy", "Published Policy");
    PolicyDict.Add("Customer Specific", "Customer Specific");
}


@{
    Dictionary<string, string> AuthorizeforCreditConsiderationdict = new Dictionary<string, string>();
    AuthorizeforCreditConsiderationdict.Add("All Accounts", "All Accounts");
    AuthorizeforCreditConsiderationdict.Add("No Accounts", "No Accounts");
    AuthorizeforCreditConsiderationdict.Add("Direct Accounts Only", "Direct Accounts Only");
}


@{
    Dictionary<string, string> NDCInnerPackRule = new Dictionary<string, string>();
    NDCInnerPackRule.Add("No Policy Change", "No Policy Change");
    NDCInnerPackRule.Add("Always Process as Opened", "Always Process as Opened");
    NDCInnerPackRule.Add("Always Non-Creditable", "Always Non-Creditable");


}
@{
    Dictionary<string, string> CustomMWRProfileType = new Dictionary<string, string>();
    CustomMWRProfileType.Add("Manufacturer", "Manufacturer");
    CustomMWRProfileType.Add("ManufacturerGroup", "ManufacturerGroup");
    CustomMWRProfileType.Add("Wholesaler", "Wholesaler");
    CustomMWRProfileType.Add("WholesalerGroup", "WholesalerGroup");
    CustomMWRProfileType.Add("Repackager", "Repackager");
}
@{
    Dictionary<string, string> MWRProfileTypeForPublish = new Dictionary<string, string>();
    MWRProfileTypeForPublish.Add("Manufacturer", "Manufacturer");
    MWRProfileTypeForPublish.Add("Wholesaler", "Wholesaler");
    MWRProfileTypeForPublish.Add("Repackager", "Repackager");
}
@{
    Dictionary<string, string> ProfileDictionary = new Dictionary<string, string>();
    SelectList FillProfilesList = new SelectList(ProfileDictionary, "value", "key");
}

@{
    Dictionary<string, Byte> MWRPddlolicyType = new Dictionary<string, Byte>();
    MWRPddlolicyType.Add("All Products", 1);
    MWRPddlolicyType.Add("Products Specific to NDC/UPC", 2);
    MWRPddlolicyType.Add("Products Specific to NDC/UPC and Lot Number", 3);
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);
}

<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/CreatePolicyJS.js">


</script>
<script src="~/Scripts/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<div class="main-container">

    <div class="product-list">
        @if (@ViewBag.Update != null)
        {
            <h1>UPDATE POLICY RULE</h1>

            <h2 id="policySuccessMessage" class="error-red error-style"></h2>
        }
        else
        {
            <h1>CREATE NEW POLICY</h1>
            <h2 id="policySuccessMessage" class="error-red error-style"></h2>
        }
        <div id="tab-container" class='tab-container'>
            <ul class='etabs tb1'>
                @if (ViewBag.Update == "Update")
                {
                    <li class='tab' style="display:none"><a href="#qu-tab2">Step 2</a></li>
                }
                else
                {
                    <li class='tab'><a href="#qu-tab1">Step 1</a></li>
                    <li class='tab' style="display:none"><a href="#qu-tab2">Step 2</a></li>
                }
            </ul>
            <div class='panel-container'>
                @if (ViewBag.Update != "Update")
                {
                    <div id="qu-tab1">

                        <div class="physician-box">
                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl">
                                    <label>Select Policy <span>*</span></label>
                                    <div class="field">
                                        @Html.EnumDropDownListFor(model => model.ddlPolicyNameEnum, "Please select")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policyforcustom">
                                    <label>Policy Type <span>*</span></label>
                                    <div class="field">
                                        @Html.EnumDropDownListFor(model => model.ddlPolicyTypeEnum, "Please select")

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policyprftypgrptypeID">
                                    <label>Select Type</label>
                                    <div class="field select-type">
                                        <input type="radio" value="ProfileType" name="select-type" id="profile-type">
                                        <label for="profile-type" class="css-label radGroup1 radGroup1">Profile Type</label>

                                        <input type="radio" value="GroupType" name="select-type" id="group-type">
                                        <label for="group-type" class="css-label radGroup1 radGroup1">Group Type</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policyProfileTypeid">
                                    <label>Pharmacy Type <span>*</span></label>
                                    <div class="field">
                                        <select id="prftype"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policygroupTypeid">
                                    <label>Pharmacy Group Type<span>*</span></label>
                                    <div class="field">
                                        <select id="grptype"></select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policytpeidforshoandhidecustom" style="display:none">
                                    <label>Profile Type <span>*</span></label>
                                    <div class="field">
                                        @Html.EnumDropDownListFor(model => model.ddlProfileTypeForCustomEnum, "Please select")

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="policytpeidforshoandhidepublished" style="display:none">
                                    <label>Profile Type <span>*</span></label>
                                    <div class="field">
                                        @Html.EnumDropDownListFor(model => model.ddlProfileTypeForPublishedEnum, "Please select",new { @id = "SelectedMWRTypepublished" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-4">
                                <div class="input-ctrl" id="ProfileListSec">
                                    <label>Profile Name <span>*</span></label>
                                    <div class="field">
                                        <select id="MWRddllist"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="clr"></div>


                            @Html.TextBoxFor(m => m.CurrentPageNoforPharmacy, new { name = "txtCurrentPageNoforpharmacy", id = "txtCurrentPageNoforpharmacy", @class = "hidden" })
                            <input type="hidden" id="hdnpolicyPageNo" />
                            <input type="hidden" id="hdnpharmacyTotalRecords" />

                            <div class="lot-btn-table" id="prddivbutton" style="display:none">
                                <input type="button" id="getproductdetails_button" value="Get NDC Number" class="blue-btn" />
                            </div>

                            <div class="lot-btn-table" id="lotdivbutton" style="display:none">
                                <input type="button" id="getlottdetails_button" value="Get NDC and Lot Number" class="blue-btn" />
                            </div>

                            <div class="row show-pagesize-cmb" style="margin:10px auto;">
                                <div class="col-md-12" style="margin-top:5px;">

                                    <div class="pull-right">
                                        @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                                    </div>
                                    <div class="pull-right" style="padding:7px;">
                                        <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                                    </div>
                                </div>
                            </div>
                            <div id="product-grd-manufacturebased" style="display:none">
                                <div class="custom-table cus-sel-table1">
                                    <h1>
                                        Pharmacy Details
                                    </h1>
                                </div>

                                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                                    <div id="jqxgrid">
                                    </div>
                                </div>

                                <div class="grid-btn">
                                </div>

                            </div>

                            @Html.Hidden("selectedpharmacyProfileCode")
                            <input type="text" id="selectedpharmacyProfileName" disabled="disabled" style="display:none" />
                            @*<label></label>*@
                            @*@Html.TextBox("selectedpharmacyProfileName", new { @disabled = "true" })*@
                            @*</div>*@

                            <div class="row show-pagesize-cmb-ndclot" style="margin:10px auto; display:none">
                                <div class="col-md-12" style="margin-top:5px;">

                                    <div class="pull-right">
                                        @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @id = "PagesizeCounterNDCLOT", @class = "select_pager" })
                                    </div>
                                    <div class="pull-right" style="padding:7px;">
                                        <span id="total-records-ndclot" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounterNDCLOT", @class = "lblidcounter" })
                                    </div>
                                </div>
                            </div>


                            <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedlotNumber" style="display:none">
                                <h1>
                                    NDC and Lot Number Details
                                </h1>
                                <div id="partialProductLotListGrd" class="table-scroll">
                                    @Html.TextBoxFor(m => m.NDCCurrentPageNo, new { name = "txtLOTCurrentPageNo", id = "txtLOTCurrentPageNo", @class = "hidden" })
                                    <div id='NDCLOTjqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                                        <div id="NDCLOTjqxgrid">
                                        </div>
                                    </div>
                                    <div class="grid-btn">
                                        <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCLOTGridForRestPages(false);" />
                                        <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCLOTGridForRestPages(true);" />

                                    </div>

                                </div>

                            </div>

                            <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedview" style="display:none">
                                <h1>
                                    NDC Number Details
                                </h1>

                                <div id="partialProductListGrd" class="table-scroll">
                                    @Html.TextBoxFor(m => m.NDCLOTCurrentPageNo, new { name = "txtNDCLOTCurrentPageNo", id = "txtNDCLOTCurrentPageNo", @class = "hidden" })

                                    <div id='NDCjqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                                        <div id="NDCjqxgrid">
                                        </div>
                                    </div>

                                    <div class="grid-btn">
                                        <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCGridForRestPages(false);" />
                                        <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCGridForRestPages(true);" />

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div style="text-align:center">
                            <input type="button" id="btnPolicyStepOne" onclick="SteponeValidate();" class="blue-btn update" value="Next" />
                        </div>


                    </div>

                }
                <div id="qu-tab2">
                    <div id="tab-container1" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab'><a href="#qu-tab11">Returnable Product Rules</a></li>
                            <li class='tab'><a href="#qu-tab12" class="disable-click">Pricing Rules</a></li>
                            <li class='tab'><a href="#qu-tab13" class="disable-click">Event Rules</a></li>
                        </ul>
                        <div class='panel-container'>
                            <div id="qu-tab11">
                                <div class="physician-box clearfix">

                                    <div id="productdiv">
                                        <div class="col-lg-6 col-md-12 new_policy">

                                            <div class="input-ctrl">
                                                <label>Policy Start Date <span>*</span></label>
                                                <div class="field">
                                                    @Html.TextBoxFor(model => model.PolicyStartDate, new { @readonly = "readonly" })
                                                </div>
                                            </div>


                                            <div class="input-ctrl">
                                                <label>Expiration Return Period Starts</label>
                                                <div class="field">

                                                    @*@Html.DropDownListFor(model=>model.ExpiresOnFirstOfCurrentMonth)*@
                                                    @Html.DropDownListFor(model => model.ExpiresOnFirstOfCurrentMonth, new SelectList(ProductExpiresWithinStartandEnd, "Value", "Key", ""), "Select")
                                                    @*<select>                                                    <option value="true">First Day of Month</option>
                                                            <option value="false">Last Day of Month</option>
                                                        </select>*@

                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Number of Months Accepted After Expiration Date </label>
                                                <div class="field">
                                                    @Html.TextBoxFor(model => model.NumberOfMonthsAfterExpirationReturnable, new { @onkeyup = "NumericOnly(this);", @min = 1, @maxlength = 3 })
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>NDC Inner Pack Rule</label>
                                                <div class="field">
                                                    @Html.DropDownListFor(model => model.InnerPack, new SelectList(NDCInnerPackRule, "Value", "Key", ""), "Select")
                                                    @*<select>
                                                            <option>No Policy Change</option>
                                                            <option>Always Process as Opened</option>
                                                            <option>Always Non-Creditable</option>
                                                        </select>*@

                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Do you allow Overstock to be Returned for Re-Distribution? </label>
                                                <div class="field">


                                                    @Html.RadioButtonFor(model => model.OverstockApprovalRequired, true, new { @id = "OverstockApprovalRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredYes" })
                                                    @if (Model.OverstockApprovalRequired)
                                                    {
                                                        @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })

                                                    }
                                                    else
                                                    {    @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })}







                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Accept Product Outside of Policy for Destruction Only </label>
                                                <div class="field">
                                                    <input type="radio" value="True" name="policydestruction" id="policydestructionyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                                    <label for="policydestructionyes" class="css-label radGroup1 radGroup1">Yes</label>

                                                    <input type="radio" value="False" name="policydestruction" id="policydestructionno" checked="checked">
                                                    <label for="policydestructionno" class="css-label radGroup1 radGroup1">No</label>
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Is Credit Issued for Open Containers (No seal exists, but Quantity Equals Original Package Size)? </label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.BrokenSealReturnable, true, new { @id = "BrokenSealReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableYes" })

                                                    @if (Model.BrokenSealReturnable ?? false)
                                                    {

                                                        @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })

                                                    }
                                                    else
                                                    {
                                                     @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })

                                                    }

                                                    </div>
                                                </div>
                                                <div class="input-ctrl">
                                                    <label>Is Credit Issued for Prescription Vials?</label>
                                                    <div class="field">

                                                        @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, true, new { @id = "PrescriptionVialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableYes" })
                                                        @if (Model.PrescriptionVialsReturnable)
                                                        {

                                                            @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 new_policy">
                                                <div class="input-ctrl">
                                                    <label>Policy End Date <span>*</span></label>
                                                    <div class="field">
                                                        @Html.TextBoxFor(model => model.PolicyEndDate, new { @readonly = "readonly" })
                                                    </div>
                                                </div>

                                                <div class="input-ctrl">
                                                    <label>Number of Months Accepted with Shelf Life Remaining (Sealed Product)</label>
                                                    <div class="field">
                                                        @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableSealed, new { @onkeyup = "NumericOnly(this);", @min = 1, @maxlength = 3 })
                                                    </div>
                                                </div>
                                                <div class="input-ctrl">
                                                    <label>Number of Months Accepted with Shelf Life Remaining (Opened Product)</label>
                                                    <div class="field">
                                                        @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableOpened, new { @onkeyup = "NumericOnly(this);", @min = 1, @maxlength = 3 })
                                                    </div>
                                                </div>
                                                <div class="input-ctrl">
                                                    <label>Form 41's are Acceptable for Credit in place of the Product </label>
                                                    <div class="field">



                                                        @Html.RadioButtonFor(model => model.Form41Allowed, true, new { @id = "Form41AllowedYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedYes" })

                                                        @if (Model.Form41Allowed)
                                                        {
                                                            @Html.RadioButtonFor(model => model.Form41Allowed, false, new { @id = "Form41AllowedNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedNo" })

                                                    }
                                                    else
                                                    {
                                                      @Html.RadioButtonFor(model => model.Form41Allowed, false, new { @id = "Form41AllowedNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedNo" })
                                                    }

                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>Is Credit Issued for Repackagers Containers (i.e. RxPak, National PharmPak, etc.)?</label>
                                                        <div class="field">


                                                            <input type="radio" value="True" name="repackagerscontainers" id="repackagerscontainersyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                                            <label for="repackagerscontainersyes" class="css-label radGroup1 radGroup1">Yes</label>

                                                            <input type="radio" value="False" name="repackagerscontainers" id="repackagerscontainersno" checked="checked">
                                                            <label for="repackagerscontainersno" class="css-label radGroup1 radGroup1">No</label>
                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>Is Credit Issued for Repackaged Containers (Customer Packaging into Unit Dose Form)?</label>
                                                        <div class="field">

                                                            @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, true, new { @id = "RepackagedIntoUnitDoseReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableYes" })

                                                            @if (Model.RepackagedIntoUnitDoseReturnable)
                                                            {
                                                                @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })

                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>Is Credit Issued for Product that is Missing the Lot Number or Expiration Date? </label>
                                                        <div class="field">

                                                            @Html.RadioButtonFor(model => model.MissingLotNumberReturnable, true, new { @id = "MissingLotNumberorExpDateNotReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableYes" })
                                                            @if (Model.MissingLotNumberReturnable)
                                                            {

                                                                @Html.RadioButtonFor(model => model.MissingLotNumberReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })

                                                   }
                                                   else
                                                   {                                                      @Html.RadioButtonFor(model => model.MissingLotNumberReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })

                                                   }
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Is Credit Issued for Partial Containers (Less Than Original Package Size)? </label>
                                            <div class="field">

                                                @Html.RadioButtonFor(model => model.PartialsReturnable, true, new { @id = "PartialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYes" })


                                                @Html.RadioButtonFor(model => model.PartialsReturnable, false, new { @id = "PartialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYesNo" })


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="text-align:center">


                                <input type="button" id="btnEventNext" name="Product" height="50" class="blue-btn next-click" width="100" value="Next"  />
                                @*<input onclick="$(this).resetValidation()" type="reset" class="blue-btn" value="Reset" />*@<input onclick="resetreturnableproduct();" type="reset" class="blue-btn" value="Reset" />

                            </div>

                        </div>
                        <div id="qu-tab12">
                            <div class="physician-box clearfix">

                                <div id="additionaldiv">
                                    <div class="col-lg-6 col-md-12 new_policy">
                                        <div class="input-ctrl">
                                            <label>Discount or Handling Fee %</label>
                                            <div class="field">
                                                @Html.TextBoxFor(model => model.HandlingFee, new { @onkeyup = "NumericWithDecimalOnly(this);", @maxlength = 29 })
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Use Debit Value when Calculating Credit Value <span>*</span></label>
                                            <div class="field">
                                                <select>
                                                    <option>Yes- price if no match</option>
                                                    <option>Yes - $0 if no match</option>
                                                    <option>No</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>When Matching a Processed Item to the Debit Memo, Include Lot Number in the Comparison?</label>
                                            <div class="field">

                                                @*@Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, true, new { @id = "RepackagedIntoUnitDoseReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableYes" })
                                                    @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })*@

                                                <input type="radio" value="True" name="lotnumbercomparison" id="lotnumbercomparisonyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                                <label for="lotnumbercomparisonyes" class="css-label radGroup1 radGroup1">Yes</label>

                                                <input type="radio" value="False" name="lotnumbercomparison" id="lotnumbercomparisonno" checked="checked">
                                                <label for="lotnumbercomparisonno" class="css-label radGroup1 radGroup1">No</label>
                                            </div>
                                        </div>

                                        <div class="input-ctrl">
                                            <label>Allow Return Quantity That Exceeds Product Package Size</label>
                                            <div class="field">

                                                @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, true, new { @id = "AllowQuantityOverPackageSizeYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeYes" })
                                                @if (Model.AllowQuantityOverPackageSize)
                                                {
                                                    @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })
                                                }
                                                else
                                                {                @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })
                                                }
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Does the Discount or Handling Fee Apply to States with Partial Policy Law?</label>
                                            <div class="field">

                                                @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, true, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawYes" })

                                                @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, false, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawNo" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="input-ctrl">
                                        <label>Processing Fee Charged by Customer?</label>
                                        <div class="field">
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Authorized For Credit Consideration</label>
                                        <div class="field">
                                            @*@Html.DropDownListFor(model => model.AuthorizedForCreditConsideration, new SelectList(AuthorizeforCreditConsiderationdict, "Value", "Key", ""), "Select")*@
                                            @Html.DropDownListFor(model => model.AuthorizedForCreditConsideration, new SelectList(AuthorizeforCreditConsiderationdict, "Value", "Key", ""))
                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Use Fall Through Price when Contract Price does not Exist? If No then unit price will equal $0.00</label>
                                        <div class="field">

                                            @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, true, new { @id = "DoNotUseFallThroughPriceYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceYes" })
                                            @if (Model.DoNotUseFallThroughPrice)
                                            {
                                                @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })

}
else
{
                                @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })


}

</div>
</div>
<div class="input-ctrl">
    <label>Use Wholesaler Direct Price When No Indirect Price</label>
    <div class="field">

        @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, true, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectYes" })
        @if (Model.UseWholeSalerDirectPriceWhenNoIndirect)
        {
            @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })

}
else
{                                                 @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })

}

</div>
</div>
</div>

</div>

<div style="text-align:center">

    <input type="button" id="btnpricingNext" name="Product" height="50" class="blue-btn next-click" width="100" value="Next" />
    @*<input onclick="$(this).resetValidation()" type="reset" class="blue-btn" value="Reset" />*@<input onclick="$(this).resetValidation()" type="reset" class="blue-btn" value="Reset" />

</div>
</div>


<div id="qu-tab13">
    <div class="physician-box clearfix">

        <div id="additionaldiv">
            <div class="col-lg-6 col-md-12 new_policy">
                <div class="input-ctrl">
                    <label>Minimum Debit Memo Value Required before an RA can be Issued</label>
                    <div class="field">
                        <input type="text">
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>What Percentage of Product is Required before an RA can be Closed? </label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent, new { @onkeyup = "NumericWithDecimalOnly(this);", @maxlength = 29 })
                        @*<input type="text">*@<input type="text">
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Number of Months Good Dating Required on Product for Overstock Returns </label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent, new { @onkeyup = "NumericWithDecimalOnly(this);", @maxlength = 29 })
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Is a Return Authorization Required? </label>
                    <div class="field">

                        @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, true, new { @id = "PriorReturnAuthorizationRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredYes" })

                        @if (Model.PriorReturnAuthorizationRequired)
                        {
                            @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })
                        }
                        else
                        {                                                      @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })
                        }

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="input-ctrl">
                    <label>Non-Direct Customers Will Receive Credit By <span>*</span></label>
                    <div class="field">
                        <select>
                            <option>Check</option>
                            <option>Credit Through Wholesaler</option>
                        </select>

                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Value Requiring Prior Authorization from the Manufacturer Based On</label>
                    <div class="field">
                        <input type="text" style="margin-bottom:5px;">
                        <select>
                            <option>Manufacturer Pricing Value</option>
                            <option>Debit Memo Value</option>
                        </select>
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Is Overstock Approval Required Prior to Authorizing a Return</label>
                    <div class="field">

                        @Html.RadioButtonFor(model => model.OverstockApprovalRequired, true, new { @id = "OverstockApprovalRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredYes" })
                        @if (Model.OverstockApprovalRequired)
                        {
                            @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })

                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })

                                                    }

</div>
</div>
</div>

</div>
</div>
<div style="text-align:center">

    @*<input type="submit" id="btnEventNext"  name="Product" height="50" class="blue-btn" width="100" value="Next" />*@
    @*<input type="submit" id="btnEventNext" name="Product" height="50" class="blue-btn" width="100" value="Next" />*@
    @if (@ViewBag.Update != null)
    {
        @Html.HiddenFor(model => model.PolicyID)
        <input type="button" id="btnPolicyUpdate" name="Product" height="50" class="blue-btn" width="100" value="Update" />
    }
    else
    {
        <input type="button" id="btnPolicyInsert" onclick="InsertWithValidation();" name="Product" height="50" class="blue-btn update" width="100" value="Save" />

    }
    <input id="resetBtnCancel" type="button" class="blue-btn" value="Reset" />

</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>

<div class="backtosearch">
    @Html.ActionLink("« Back to search results", "Index")
</div>
</div>
@Html.Partial("AlertPopupView")
@Html.Partial("_Wait")
@Html.Partial("_LeavePageMessage")