﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy

<div class="main-container">


    <div class="product-list">
        <h1>UPDATE POLICY RULE</h1>
        <div class="backtosearch second">
            @Html.ActionLink("« Back to search results", "Index")
        </div>
        @Html.Partial("_EditPolicyPartial", Model)
    </div>

    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
</div>


@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")
@Html.Partial("_LeavePageMessage")

<script type="text/javascript">
    var rdoSelectProfileType = "";
    var globalvalue = false;
    function NumericOnly(obj) {
        if (obj.value.length > 0) {

            obj.value = obj.value.replace(/[^\d]+/g, ''); // This would validate the inputs for allowing only numeric chars
        }
    }

    function NumericWithDecimalOnly(obj) {
        if (obj.value.length > 0) {
            obj.value = obj.value.replace(/[^0-9\.]/g, '');
            //obj.value = obj.value.replace(/[((\d+)(\.\d{2}))$]/g, '');
        }
    }
    function UpdatePolicy(OverWrite) {
        if ($('#PolicyStartDate').val() == '') {
            $("#alertmessageid").text("Please Select Policy Start Date");
            $(".alert-popup-body-message").show();

            return false;
        }
        if ($('#PolicyEndDate').val() == '') {
            $("#alertmessageid").text("Please Select Policy End Date");
            $(".alert-popup-body-message").show();

            return false;
        }
        if ($('#PolicyStartDate').val().length > 0 && $('#PolicyEndDate').val().length > 0) {

        }
        var requestData =
          {
              //Returnable Product Rules
              PolicyID: $('#PolicyID').val(),
              PolicyName: $('#PolicyName').val(),
              Form41Allowed: $("input[name=Form41Allowed]:checked").val(),
              InnerPack: $('#InnerPack').val(),
              NumberOfMonthsAfterExpirationReturnable: $('#NumberOfMonthsAfterExpirationReturnable').val(),
              NumberOfMonthsBeforeExpirationReturnableSealed: $('#NumberOfMonthsBeforeExpirationReturnableSealed').val(),
              NumberOfMonthsBeforeExpirationReturnableOpened: $('#NumberOfMonthsBeforeExpirationReturnableOpened').val(),
              ExpiresOnFirstOfCurrentMonth: $('#ExpiresOnFirstOfCurrentMonth').val(),
              OverstockApprovalRequired: $("input[name=OverstockApprovalRequired ]:checked").val(),
              ARCOSReportable: $("input[name=ARCOSReportable]:checked").val(),
              BrokenSealReturnable: $("input[name=BrokenSealReturnable]:checked").val(),
              PrescriptionVialsReturnable: $("input[name=PrescriptionVialsReturnable]:checked").val(),
              RepackagedIntoUnitDoseReturnable: $("input[name=RepackagedIntoUnitDoseReturnable]:checked").val(),
              MissingLotNumberorExpDateNotReturnable: $("input[name=MissingLotNumberorExpDateNotReturnable]:checked").val(),
              PartialsReturnable: $("input[name=PartialsReturnable]:checked").val(),
              SelectedPolicyType: $('#SelectedPolicyType').val(),

              //Pricing Rules
              HandlingFee: $('#HandlingFee').val(),
              UseDebitPricing: $('#UseDebitPricing').val(),
              HandlingFeeExceptionForStatePartialPolicyLaw: $('#HandlingFeeExceptionForStatePartialPolicyLaw').val(),
              AllowQuantityOverPackageSize: $("input[name=AllowQuantityOverPackageSize]:checked").val(),
              DoNotUseFallThroughPrice: $("input[name=DoNotUseFallThroughPrice]:checked").val(),
              UseWholeSalerDirectPriceWhenNoIndirect: $("input[name=UseWholeSalerDirectPriceWhenNoIndirect]:checked").val(),
              AuthorizedForCreditConsideration: $('#AuthorizedForCreditConsideration').val(),
              //Event Rules

              PriorReturnAuthorizationRequired: $("input[name=PriorReturnAuthorizationRequired]:checked").val(),
              DoNotUseFallThroughPrice: $("input[name=OverstockApprovalRequired]:checked").val(),
              ReturnAuthorizationCompletionPercent: $('#ReturnAuthorizationCompletionPercent').val(),
              PolicyStartDate: $('#PolicyStartDate').val(),
              PolicyEndDate: $('#PolicyEndDate').val(),

              //Versioning
              Version: $('#Version').val(),
              //OverWrite: OverWrite
          };

        $.ajax({
            type: "POST",
            url: "../Policy/UpdatePolicyDetails",
            data: { 'requestData': requestData },
            datatype: "json"

        }).done(function (data) {
            //Successfully pass to server and get response

            if (data.VersionChanged) {
                
                $("#alertmessageid").html(Policy.VersionChange);
                $('#Version').val(data.Updatedresult.objResponse.Version);
                $(document).data('returnResult', data.Updatedresult);
                $("#btnok").bind("click", function () {

                    //var css = { border: "3px solid yellow" }
                    var NewResultobject = $(document).data('returnResult');
                    var NewResult = NewResultobject.objResponse;
                    console.log(NewResult);
                    lockingFeature(NewResult);
                    $("#btnok").unbind("click");
                    closePopup();
                });
            }
            else if (data.Result == 'Deleted') {
               
                $("#alertmessageid").html(Policy.Delete);

            }
            else {
                
                $('#Version').val(data.UpdateVersion);
                $("#alertmessageid").html(data.Result);
                $('.highlitebordercss').removeClass("highlitebordercss");
            }
            $(".alert-popup-body-message").show();
            globalvalue = true;
        }).fail(function (response) {

        });
    }

    function closeokPopup() {
        $("#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });

        })
    }


    $(document).ready(function () {
        closePopup();
        $("#lotdivbutton").hide();

        $("#btnNo").click(function () {
            window.location = '../Policy/Index';
        });

        $("#btdeletenCancel").click(function () {
            
            //UpdatePolicy(true);
            $(".alert-popup").animate({ "top": "40%" });
            $(".alert-popup-body-message-confirm").hide();
        });

        StartDateEndDate($("#PolicyStartDate"), $("#PolicyEndDate"))

        $(document).ajaxStart(function () {
            $("#wait").show();
        });
        $(document).ajaxComplete(function () {
            $("#wait").hide();
        });


        $(".collpse-policy2").click(function () {
            $(".collpse2").slideToggle();
            $(".collpse1").slideUp();
        });
        $(".collpse-policy1").click(function () {
            $(".collpse1").slideToggle();
            $(".collpse2").slideUp();
        });





        $('#btnPolicyUpdate').click(function () {
            UpdatePolicy(false);
        });




        $('#NumberOfMonthsAfterExpirationReturnable').blur(function (e) {
            if (!($('#NumberOfMonthsAfterExpirationReturnable').val() <= 255 && $('#NumberOfMonthsAfterExpirationReturnable').val() >= 0)) {
                $("#alertmessageid").text("Value should be less than 256");
                $(".alert-popup-body-message").show();
                //$("#policySuccessMessage").text("Value should be less than 255");
                $('#NumberOfMonthsAfterExpirationReturnable').val('');
            }
        });
        $('#NumberOfMonthsBeforeExpirationReturnableSealed').blur(function (e) {
            if (!($('#NumberOfMonthsBeforeExpirationReturnableSealed').val() <= 255 && $('#NumberOfMonthsBeforeExpirationReturnableSealed').val() >= 0)) {
                //$("#policySuccessMessage").text("Value should be less than 255");
                $("#alertmessageid").text("Value should be less than 256");
                $(".alert-popup-body-message").show();
                $('#NumberOfMonthsBeforeExpirationReturnableSealed').val('');
            }
        });
        $('#NumberOfMonthsBeforeExpirationReturnableOpened').blur(function (e) {
            if (!($('#NumberOfMonthsBeforeExpirationReturnableOpened').val() <= 255 && $('#NumberOfMonthsBeforeExpirationReturnableOpened').val() >= 0)) {
                //$("#policySuccessMessage").text("Value should be less than 255");
                $("#alertmessageid").text("Value should be less than 256");
                $(".alert-popup-body-message").show();
                $('#NumberOfMonthsBeforeExpirationReturnableOpened').val('');
            }
        });

        $("div").on('click', '.next-click', function () {
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().hide();
            $(this).parents('div.tab-container').find("li.active").removeClass('active');
            $(this).parents('div.tab-container').find("a.active").removeClass('active');
            $(this).parents('div.tab-container').find("div.active").removeClass('active');
            var aa = $(this).parent().parent().attr('id');

            var a1 = "a[href=#" + aa + "]";
            $(this).parents('div.tab-container').find(a1).parent().next().addClass('active').show();
            $(this).parents('div.tab-container').find(a1).parent().next().children().addClass('active').removeClass('disable-click');
        });

        $("#btdeletenCancel,.alert-close").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            $(".alert-popup").animate({ "top": "40%" });
        });

        $('#btnPolicydelete').click(function () {
            var policyID = $("#PolicyID").val();
            deleteselectedPolicy(policyID);
            $("#btdeletenok").unbind("click");

            $("#btdeletenok").click(function (e) {
                $.ajax({
                    url: '../Policy/DeleteSelectedPolicy',
                    data: { policyID: policyglobID },
                    success: function (data) {
                        if (data.Result == Compare.Deleted || data.Result == Compare.OK) {

                            $("#alertmessageid").text(Policy.DeleteSuccess);
                            $(".alert-popup-body-message").show();
                            $(".alert-close").hide();
                            $("#btnok").bind("click", function () {

                                window.location = '../Policy/Index';
                                $("#btnok").unbind("click");
                            });
                        }
                        if (data.Result == Compare.Fails) {

                            $("#alertmessageid").text(Profile.DeleteFailed);
                            $(".alert-popup-body-message").show();
                        }
                        $(".alert-popup-body-message-confirm").hide();
                    },
                    error: function (response) {
                        // alert(response);
                        if (response.status != 0) {
                            //  alert(response.status + " " + response.statusText);
                        }
                    }
                });
                return false;
            });

            return false;
        });
    });
    var policyglobID = 0;
    function deleteselectedPolicy(policyID) {

        policyglobID = policyID;
        $("#alertdeletemessageid").text(Policy.DeleteConfirmation);
        $(".alert-popup-body-message-confirm").show();
    }
</script>
