﻿.@model Qualanex.QoskCloud.Entity.ResponsePolicy
@{
    ViewBag.Title = "Index";
}
@{
    Dictionary<string, string> MWRProfileTypeDictionary = new Dictionary<string, string>();
    MWRProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    MWRProfileTypeDictionary.Add("ManufacturerGroup", "ManufacturerGroup");
    MWRProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    MWRProfileTypeDictionary.Add("WholesalerGroup", "WholesalerGroup");
    MWRProfileTypeDictionary.Add("Repackager", "Repackager");
}

@{
    Dictionary<string, string> ProfileDictionary = new Dictionary<string, string>();
    //ProfileDictionary.Add("Select", "");
    SelectList FillProfilesList = new SelectList(ProfileDictionary, "value", "key");
}
@{
    Dictionary<string, Byte> MWRPddlolicyType = new Dictionary<string, Byte>();
    MWRPddlolicyType.Add("Policy specific to a customer for an NDC", 1);
    MWRPddlolicyType.Add("Policy specific to a customer for all Items", 2);
    MWRPddlolicyType.Add("Policy specific to an NDC and Lot Number", 3);
    MWRPddlolicyType.Add("Policy specific to an NDC", 4);
    MWRPddlolicyType.Add("Main Published Policy(applies to everyone by default)", 6);
}

@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);
    //PerPageCountNumber.Add(1000, 1000);
}
<script src="~/Scripts/jqx-all.js"></script>
<script src="~/JS/PolicyIndex.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />

<style type="text/css">
    #btnAddProduct {
        width: 120px;
        margin: 20px 0px 0px 0px;
        height: 40px;
        background-color: grey;
    }


    .btnimage {
        background: url("~/images/GridImage/icon-edit1.jpg") no-repeat;
        width: 10px;
        height: 10px;
    }

    .btndeleteimage {
        background: url("~/images/GridImage/icon-delete.jpg") no-repeat;
        width: 10px;
        height: 10px;
    }

    table, tr {
        /*border: 2px solid black;*/
    }

    table, th, td {
        /*width: 25px;*/
        width: auto;
        text-align: center;
        padding: 15px;
    }

        table th a {
            color: #fff;
            text-decoration: none;
        }
</style>

<div class="main-container">
    <input type="hidden" id="hdnTotalRecords" />
    <div class="product-list">
        <div class="top_heading">
            <h1>Policies List</h1>
            <div class="">
                <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                    <div id="collapse">
                        <a href="#"><span><strong>-</strong></span> Collapse Search</a>
                    </div>
                    <div id="expand">
                        <a href="#"><span><strong>+</strong></span> Expand Search</a>
                    </div>
                </div>
                <div class="media-clr media-margin"></div>
                <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                    <ul>

                        <li>
                            @Html.ActionLink("Add New Policy", "CreatePolicy", new { }, new { @class = "add_btn" })
                        </li>

                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="product-box2">
            

            @using (Html.BeginForm("Index", "Policy", FormMethod.Get, new { id = "frmIndexPolicy" }))
            {
                <div class="search-box" id="exp_col">
                    <div>
                        <ul>

                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Profile Type<span>*</span></label>
                                @Html.DropDownListFor(model => model.SelectedMWRType, new SelectList(MWRProfileTypeDictionary, "Value", "Key", ""), "Please select", new { @class = "PolicyIndexValidation validate[required]" })


                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Name<span>*</span></label>

                                @Html.DropDownList("ManufactureName", FillProfilesList, new { @class = "profile-Select PolicyIndexValidation validate[required]" })


                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Policy Type </label>
                                @Html.EnumDropDownListFor(model => model.ddlPolicyTypeEnum, "Please select", new { @id = "PolicyType" })

                            </li>


                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-btn">
                        <div class="row">
                            <div class="col-md-12 margin_top">
                                <input type="button" onclick="PolicySearch();" id="policySearch" value="Search">
                                <input type="reset"  value="Reset">
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    @Html.TextBoxFor(m => m.CurrentPageNo, new { name = "txtCurrentPageNo", id = "txtCurrentPageNo", @class = "hidden" })
                    <input type="hidden" id="hdnPageNo" />

                </div>
                <div class="row show-pagesize-cmb" style="margin:10px auto;display:none; ">
                    <div class="col-md-12" style="margin-top:5px;">

                        <div class="pull-right">
                            @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                        </div>
                        <div class="pull-right" style="padding:7px 7px 5px 7px;">
                            <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                        </div>
                    </div>
                </div>

                <div id="policy-grd-list" class="custom-table">

                </div>
                <div class="bottom_input">
                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                        <div id="jqxgrid">
                        </div>
                        <div class="grid-btn">
                            <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateGridForRestPages(false);" />
                            <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateGridForRestPages(true);" />
                        </div>
                    </div>
                    <div class="grid-details"></div>
                </div>
            }
        </div>
    </div>

</div>

@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")

