﻿@model Qualanex.QoskCloud.Entity.ViewDeletePolicy 
@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select Profile Type", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    SelectList FillProfileTypeList = new SelectList(ProfileTypeDictionary, "value", "key");
}
@{
    Dictionary<string, string> ProfileNameDictionary = new Dictionary<string, string>();
    //ProfileNameDictionary.Add("Select Profile Name", "");
    SelectList FillProfileNameList = new SelectList(ProfileNameDictionary, "value", "key");
}
@{
    Dictionary<string, string> AppliedProfileNameDictionary = new Dictionary<string, string>();
    AppliedProfileNameDictionary.Add("Select Customer Name", "");
    SelectList FillAppliedProfileNameList = new SelectList(AppliedProfileNameDictionary, "value", "key");
}

@{
    Dictionary<string, string> ProfileGroupNameDictionary = new Dictionary<string, string>();
    ProfileGroupNameDictionary.Add("Select Group Name", "");
    SelectList FillProfileGroupNameList = new SelectList(ProfileGroupNameDictionary, "value", "key");
}
    <script src="~/Scripts/jqx-all.js"></script>
    <link href="~/Content/jqx.base.css" rel="stylesheet" />

<div class="main-container">

    <h2>View Policy</h2>
    
    <div class="product-list">
        @*<h1>View Profiles Policy</h1>*@
        @Html.HiddenFor(model => model.PolicyID)
        <div id="tab-container" class='tab-container'>
            <ul class='etabs tb1'>
                <li class='tab'><a href="#qu-tab1">View Policy Profiles</a></li>
                <li class='tab'><a href="#qu-tab2">View Policy Details</a></li>
            </ul>
            <div class='panel-container'>
                <div id="qu-tab1">
                    <div class="search-box">
                        <ul>
                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>Profile Type</label>
                                @Html.DropDownList("ddPolicyProfileType", FillProfileTypeList, new { @class = "profile-Select",@disabled="disabled" })
                            </li>
                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>Profile Name</label>
                                @Html.DropDownList("ddPolicyProfileName", FillProfileNameList, new { @class = "profile-Select", @disabled = "disabled" })
                            </li>

                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>NDC/UPC</label>
                                @Html.TextBox("txtPolicyNDCUPC")
                            </li>
                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>Lot Number</label>
                                @Html.TextBox("txtLotNumber")
                            </li>
                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>Policy Applied For</label>
                                @Html.DropDownList("ddPolicyAppliedForProfile", FillAppliedProfileNameList, new { @class = "profile-Select" })
                            </li>
                            <li class="col-md-4 col-sm-6 col-xs-12">
                                <label>Group Name</label>
                                @Html.DropDownList("ddPolicyProfileGroupName", FillProfileGroupNameList, new { @class = "profile-Select", @id = "ddPolicyProfileGroupName" })
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                        <div class="search-btn">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" id="policyprofilesearch" value="Search" />
                                </div>
                            </div>
                        </div>
                            </div>
                            <div class="clear"></div>
                            <div id="pharmacyDetailsviewID" style="margin-top: 30px; text-align: center; padding: 0 32%;">

                            </div>

                        </div>
                <div id="qu-tab2">
                   
                </div>
            </div>

        </div>




       
    </div>
    <div class="clear"></div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
</div>
@Html.Partial("_Wait")

<script>
   function GenerateGrid(json) {
      var rows = json.Viewpolicyrows;
      //alert(JSON.stringify(rows));

      var columns = [
         { text: "Policy Type", datafield: "SelectedPolicyType", cellsformat: 'd' },
         { text: "ProfileName", datafield: "ProfileName" }, { text: "Address", datafield: "Address" },
         { text: "City", datafield: "City" }, { text: "State", datafield: "State" },
         { text: "Description", datafield: "Description" }, { text: "NDC With Dashes", datafield: "NDCUPCWithDashes" },
         { text: "Strength", datafield: "Strength" }, { text: "Lot Number", datafield: "LotNumber" },
         { text: "Expiration Date", datafield: "ExpirationDate" },
         { text: "Pharmacy Name", datafield: "PolicyForProfileName" }
      ]

      var deletepolicy = {
         "text": "Delete",
         "datafield": "Delete",
         "width": "100",
         pinned: true,
         "cellsrenderer": function(row, column, value) {
            var PolicyProfileID = dataAdapter._source.localdata[0].PolicyProfileID;
            //var ProfileCode = dataAdapter._source.localdata[0].ProfileCode;

            // alert(JSON.stringify(dataAdapter));
            if (value.indexOf('#') != -1) {
               value = value.substring(0, value.indexOf('#'));
            }
            value = $.trim(value);
            var html = "<a href=../Policy/DeletePolicyProfile?policyProfileID=" + $.trim(PolicyProfileID) + " class=\"delete-btn\" onclick=\"return confirm('Are you sure you want to delete this record?')\"></a>";
            return html;
         }
      };

      columns.push(deletepolicy);

      // prepare the data
      var source =
      {
         datatype: "json",
         multiselect: true,

         datafields: [
            { name: 'SelectedPolicyType', type: 'string' },
            { name: 'ProfileName', type: 'string' },
            { name: 'Address', type: 'string' },
            { name: 'City', type: 'string' },
            { name: 'State', type: 'string' },
            { name: 'NDCUPCWithDashes', type: 'string' },
            { name: 'Description', type: 'string' },
            { name: 'Strength', type: 'string' },
            { name: 'LotNumber', type: 'string' },
            { name: 'ExpirationDate', type: 'date' },
            { name: 'PolicyForProfileName', type: 'string' }
         ],
         id: 'id',
         localdata: rows
      };
      var dataAdapter = new $.jqx.dataAdapter(source);

      $("#pharmacyDetailsviewID").jqxGrid(
      {
         sortable: true,
         filterable: true,
         selectionmode: 'none',
         pageable: true,
         columnsreorder: true,
         source: dataAdapter,
         columnsresize: true,
         columns: columns,
         rtl: true,
      });

   };

   $(document).ready(function() {
      $(document).ajaxStart(function() {
         $("#wait").css("display", "block");
      });
      $(document).ajaxComplete(function() {
         $("#wait").css("display", "none");
      });
      $('#tab-container').easytabs();
      $(function() {

         $("#wait").show();
         var requestData =
         {
            PolicyID: $('#PolicyID').val(),
            PolicyProfileCode: $('#ddPolicyProfileName').val(),
            PolicyAppliedForProfileCode: $('#ddPolicyAppliedForProfile').val(),
            GroupID: $('#ddPolicyProfileGroupName').val(),
            NDCUPC: $('#txtPolicyNDCUPC').val(),
            LotNumber: $('#txtLotNumber').val(),
            IsSerach: false
         };
         $.ajax({
            //type:'POST',
            url: '@Url.Action("GetpharmacyDetails")',
            data: requestData,
            success: function(data) {
               //alert("suc");
               GenerateGrid(data);
               //  $("#pharmacyDetailsviewID").html(data)

            },
            error: function(response) {
               // alert(response);
               if (response.status != 0) {
                  //   alert(response.status + " " + response.statusText);
               }
            }
         });
         $("#wait").hide();
      });

      $(function() {
         $("#wait").show();
         $.ajax({
            url: '@Url.Action("ViewPolicyDetails")',
            data: {
               PolicyID: $('#PolicyID').val(),
            },
            success: function(data) {
               $("#qu-tab2").html(data)
            },
            error: function(response) {
               //  alert(response);
               if (response.status != 0) {
                  //  alert(response.status + " " + response.statusText);
               }
            }
         });
         $("#wait").hide();
      });

      $(function() {
         $("#wait").show();
         //$('#ddPolicyProfileType').val('Manufacturer');
         //$('#ddPolicyProfileName').val('Manufacturer');
         var url = '@Url.Content("~/Policy/GetAllPolicyAppliedForProfiles/")';
         var ddlsource = "#ddPolicyProfileType";
         var ddltarget = "#ddPolicyAppliedForProfile";
         $.ajaxSetup({ cache: false });
         $.getJSON(url, {
            profileType: $('#ddPolicyProfileType').val(),
            PolicyID: $('#PolicyID').val()
         }, function(data) {
            $(ddltarget).empty();
            $("#ddPolicyAppliedForProfile").append("<option  value=''>Select Customer Name</option>");
            $.each(data, function(index, optionData) {
               $("#ddPolicyAppliedForProfile").append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
            });
            $("#ddPolicyAppliedForProfile").prop("disabled", false);
         });
         $("#wait").hide();

      });

      $(function() {

         $("#wait").show();
         var url = '@Url.Content("~/Policy/GetPolicyGroupNames/")';
         var ddlsource = "#ddPolicyAppliedForProfile";
         var ddltarget = "#ddPolicyProfileGroupName";
         //if ($("#ddPolicyProfileType").val() != "Select Group Name") {
         $.ajaxSetup({ cache: false });
         $.getJSON(url, {
            PolicyID: $('#PolicyID').val()
         }, function(data) {

            $(ddltarget).empty();
            $.each(data, function(index, optionData) {
               //alert(optionData.GroupName);
               $("#ddPolicyProfileGroupName").append("<option value='" + optionData.ProfileGroupID + "'>" + optionData.GroupName + "</option>");
            });
            $("#ddPolicyProfileGroupName").prop("disabled", false);
         });
         //}
         //else {

         //    $("#ddPolicyProfileGroupName").empty();
         //    $("#ddPolicyProfileGroupName").prop("disabled", true);
         //}
         $("#wait").hide();
      });
      $('#policyprofilesearch').click(function() {
         $("#wait").show();
         var requestData =
         {
            PolicyID: $('#PolicyID').val(),
            PolicyProfileCode: $('#ddPolicyProfileName').val(),
            PolicyAppliedForProfileCode: $('#ddPolicyAppliedForProfile').val(),
            GroupID: $('#ddPolicyProfileGroupName').val(),
            NDCUPC: $('#txtPolicyNDCUPC').val(),
            LotNumber: $('#txtLotNumber').val(),
            IsSerach: true
         };
         $.ajax({
            url: '@Url.Action("GetpharmacyDetails")',
            data: requestData,
            success: function(data) {
               //$("#pharmacyDetailsviewID").html(data)
               GenerateGrid(data);
               $("#wait").hide();
            },
            error: function(response) {
               //  alert(response);
               if (response.status != 0) {
                  // alert(response.status + " " + response.statusText);
               }
            }
         });

      });

      var url = '@Url.Content("~/Policy/GetPolicyProfileCodes/")';
      var ddlsource = "#ddPolicyProfileType";
      var ddltarget = "#ddPolicyProfileName";
      if ($("#ddPolicyProfileType").val() != "Select Profile Type") {
         $.ajaxSetup({ cache: false });
         $.getJSON(url, {
            profileType: $('#ddPolicyProfileType').val(),
            PolicyID: $('#PolicyID').val()
         }, function(data) {
            $(ddltarget).empty();
            //$("#ddPolicyProfileName").append("<option  value=''>Select Profile Name</option>");
            $.each(data, function(index, optionData) {
               $("#ddPolicyProfileName").append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
            });
            $("#ddPolicyProfileName").prop("disabled", false);
         });

      } else {
         $("#ddPolicyProfileName").empty();
         $("#ddPolicyProfileName").prop("disabled", true);
      }
      $("#wait").hide();


   });
</script>

