﻿@model Qualanex.QoskCloud.Entity.ViewEdit
@{
    //ViewBag.Title = "ViewEditPolicy";
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);
}

<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/CreatePolicyJS.js"></script>

<div class="main-container">
    <h2>View / Add Policy</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    <div class="physician-box">
        @if (Model.PolicyID > 0)
        {
            @Html.HiddenFor(model => model.PolicyID)
        }
        <div class="col-md-6 col-md-4">
            <div class="input-ctrl">
                <label>Select Policy <span>*</span></label>
                <div class="field">
                    @Html.HiddenFor(model => model.PolicyTypeName, new { @id = "hdnPolicyTypeName" })
                    @Html.TextBoxFor(model => model.SelectedPolicyType, new { @disabled = "disabled" })

                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-4">
            <div class="input-ctrl">
                <label>Pharmacy/Group Type <span>*</span></label>
                <div class="field">
                    @Html.TextBoxFor(model => model.ProfileGroupSelectionType, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-4">
            <div class="input-ctrl">
                <label>Pharmacy/Group Name<span>*</span></label>
                <div class="field">
                    @Html.TextBoxFor(model => model.SelectedPharmacyGroupName, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.SelectedPharmacyGroupProfileCode)
        <div class="col-md-6 col-md-4">
            <div class="input-ctrl">
                <label>Policy Type <span>*</span></label>
                <div class="field">
                    @*@Html.HiddenFor(model => model.PolicyType, new { @id = "hdnPolicyTypeText" })*@
                    @Html.TextBoxFor(model => model.PolicyTypeText, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.PolicyType)
        <div class="col-md-6 col-md-4">
            <div class="input-ctrl">
                <label>Profile Type <span>*</span></label>
                <div class="field">
                    @Html.HiddenFor(model => model.MWWRProfileType)
                    @Html.TextBoxFor(model => model.SelectedMWWRProfileType, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.SelectedMWWRProfileCode)
        <div class="col-md-6 col-md-4">
            <div class="input-ctrl" id="ProfileListSec">
                <label>Profile Name <span>*</span></label>
                <div class="field">
                    @Html.TextBoxFor(model => model.MWRName, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div style="width:100%; text-align:center; margin:20px 0;">
            <input type="button" id="btnviewCreatedNDC" class="blue-btn" value="View Policy" style="display:none" />
            <input type="button" id="btnAddNEW" class="blue-btn" value="Add Policy" style="display:none" />
        </div>
        <div class="clearfix"></div>

        <input type="hidden" id="hdnpolicyPageNo" />
        <input type="hidden" id="hdnpharmacyTotalRecords" />
        <div class="lot-btn-table" id="prddivbutton" style="display:none">
            <input type="button" id="getproductdetails_button" value="Get NDC Number" class="blue-btn" />
        </div>

        <div class="lot-btn-table" id="lotdivbutton" style="display:none">
            <input type="button" id="getlottdetails_button" value="Get NDC and Lot Number" class="blue-btn" />
        </div>



        @Html.Hidden("selectedpharmacyProfileCode")
        <input type="text" id="selectedpharmacyProfileName" disabled="disabled" style="display:none" />
        <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedlotNumber" style="display:none">
            <h1>
                NDC and Lot Number Details
            </h1>
            <div id="partialProductLotListGrd" class="table-scroll">
                <div id='NDCLOTjqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div class="bottom-input">
                        <div id="NDCLOTjqxgrid">
                        </div>
                    </div>
                </div>
                <div class="grid-btn">
                    <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCLOTGridForRestPages(false);" />
                    <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCLOTGridForRestPages(true);" />

                </div>

            </div>

        </div>

        <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedlotNumberview" style="display:none">
            <h1>
                Created policy for NDC and Lot Number
            </h1>
            <div id="partialProductLotListGrdview" class="table-scroll">
                <div id='NDCLOTjqxWidgetview' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div class="bottom-input">
                        <div id="NDCLOTjqxgridview">
                        </div>
                    </div>
                </div>
                <div class="grid-btn">
                    <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCLOTGridForRestPages(false);" />
                    <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCLOTGridForRestPages(true);" />

                </div>

            </div>

        </div>
        <div class="row show-pagesize-cmb-ndclot-view" style="margin-bottom: -30px;display:none; ">
            <div class="col-md-12" style="margin-top:5px;">

                <div class="pull-right">
                    @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @id = "PagesizeCounterNDCLOT", @class = "select_pager" })
                </div>
                <div class="pull-right" style="padding:7px;">
                    <span id="total-records-ndclot" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounterNDCLOT", @class = "lblidcounter" })
                </div>
            </div>
        </div>
        <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedview" style="display:none">
            <h1>
                NDC Number Details
            </h1>

            <div id="partialProductListGrd" class="table-scroll">
                @*@Html.TextBoxFor(m => m.NDCLOTCurrentPageNo, new { name = "txtNDCLOTCurrentPageNo", id = "txtNDCLOTCurrentPageNo", @class = "hidden" })*@

                <div id='NDCjqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div class="bottom-input">
                        <div id="NDCjqxgrid">
                        </div>
                    </div>
                </div>

                <div class="grid-btn">
                    <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCGridForRestPages(false);" />
                    <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCGridForRestPages(true);" />

                </div>

            </div>

        </div>
        <div style="width: 100%; text-align: center; margin: 0px 0 20px 0;">
            <input type="button" id="btnupdateNDC" class="blue-btn" value="Update" style="display:none" />
        </div>
        <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedviewviewpolicy" style="display:none">
            <h1>
                Created policy for NDC Number
            </h1>

            <div id="partialProductListGrdviewpolicy" class="table-scroll">
                @*@Html.TextBoxFor(m => m.NDCLOTCurrentPageNo, new { name = "txtNDCLOTCurrentPageNo", id = "txtNDCLOTCurrentPageNo", @class = "hidden" })*@

                <div id='NDCjqxWidgetviewpolicy' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div class="bottom-input">
                        <div id="NDCjqxgridforshowpolicy">
                        </div>
                    </div>

                </div>

                <div class="grid-btn">
                    <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCGridForRestPages(false);" />
                    <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCGridForRestPages(true);" />

                </div>

            </div>

        </div>
        
        </div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
</div>

@Html.Partial("AlertPopupView");
