﻿@model Qualanex.QoskCloud.Entity.ProfileRequest

@{ Dictionary<string, string> AccountTypeDictionary = new Dictionary<string, string>(); AccountTypeDictionary.Add("Select Account Type", ""); AccountTypeDictionary.Add("Direct Account", "Direct Account"); AccountTypeDictionary.Add("Indirect Account", "Indirect Account"); SelectList FillAccountTypeList = new SelectList(AccountTypeDictionary, "value", "key"); }
@{ Dictionary<string, string> GroupTypeDictionary = new Dictionary<string, string>(); GroupTypeDictionary.Add("Select Group Type", ""); GroupTypeDictionary.Add("Wholesaler Group", "WHL-GRP"); GroupTypeDictionary.Add("Pharmacy Group", "PHAR-GRP"); GroupTypeDictionary.Add("Repackager Group", "REGR-GRP"); SelectList FillGroupTypeDictionary = new SelectList(GroupTypeDictionary, "value", "key"); }
@{ Dictionary<string, string> AcountProfileCodeDictionary = new Dictionary<string, string>(); AcountProfileCodeDictionary.Add("Select Customer Name", ""); SelectList FillAcountProfileCodeDictionaryList = new SelectList(AcountProfileCodeDictionary, "value", "key"); }
@{ Dictionary<string, string> GroupNameDictionary = new Dictionary<string, string>(); GroupNameDictionary.Add("Select Group Name", ""); SelectList FillGroupNameDictionary = new SelectList(GroupNameDictionary, "value", "key"); }
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);

}
<form id="frmEditAccountProfile">
    @Html.HiddenFor(model => model.Name, new { @id = "AccountCustomerProfileCode" })
    @Html.HiddenFor(model => model.Type, new { @id = "AccountCustomerType" })
    <div class="search-box">
        <ul>

            <li class="col-md-4 col-sm-6 col-xs-12">
                <label>Profile <span>*</span></label>
                @Html.DropDownListFor(model => model.AccountProfileCode, (IEnumerable<SelectListItem>)ViewBag.AccountProfileCode, "Select Profile" , new { @class = "validate[required]", @maxlength = "30" })

            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <label>Account Type <span>*</span></label>
                @Html.DropDownList("ddAccountType", FillAccountTypeList, new { @class = "validate[required]" })

            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <label id="profile-type-id">Select Type <span>*</span></label>
                <div class="field select-type">
                    <div style="margin-top:7px;"></div>

                    <input type="radio" value="True" checked="checked" name="select-type" id="pharamacy-profile">
                    <label id="pharamcy-profile-label" for="pharamacy-profile" class="css-label radGroup1 radGroup1">Profile Location</label>

                    <input type="radio" value="False" name="select-type" id="pharamcy-group">
                    <label id="pharamcy-group-label" for="pharamcy-group" class="css-label radGroup1 radGroup1"> Group</label>

                </div>

            </li>


            <li id="accountPhramacyType" class="col-md-4 col-sm-6 col-xs-12">
                <label>Profile Type <span>*</span></label>
                @Html.DropDownListFor(model => model.AccountProfileType, (IEnumerable<SelectListItem>)ViewBag.AccountProfileType, "Select Profile Type", new { @id = "accountProfileGroupType", @class = "validate[required]", @maxlength = "30" })

            </li>

            <li id="grpType" class="col-md-4 col-sm-6 col-xs-12">
                <label>Group Type <span>*</span></label>
                @Html.DropDownList("GrpAccountTypes", FillGroupTypeDictionary, new { @id = "grpProfileGroupType", @class = "validate[required]" ,@maxlength = "30" })

            </li>

            <li id="accountProfileCode" class="col-md-4 col-sm-6 col-xs-12">
                <label id="lblAccountCustomer">Customer Name <span>*</span></label>
                @Html.DropDownList("ddlAccountProfileName", FillAcountProfileCodeDictionaryList, new { @disabled = "disabled",@class = "validate[required] "})

            </li>

            <li id="AccountgrpType" class="col-md-4 col-sm-6 col-xs-12">
                <label>Group Name<span>*</span></label>
                @Html.DropDownList("ddlAccountGroupName", FillGroupNameDictionary, new { @disabled = "disabled" , @class = "validate[required]" })

            </li>

            <li class="col-md-4 col-sm-6 col-xs-12">
                <label>Account Number <span>*</span></label>
                @Html.TextBox("txtAccountNumber", null, htmlAttributes: new { @maxlength = "15", @class = "validate[required,custom[nonHtmlText]]" })
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="search-btn">
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="editbutton green-btn"  value="Search" id="btnAcountSearch" />
                    <input type="button" class="editbutton green-btn update UserAdminSave" value="Add Account" id="btnAddAccount" />
                    <input type="button" class="editbutton green-btn update UserAdminEdit" value="Update Account" id="btnUpdateAccount" />
                    <input type="reset" class="editbutton green-btn" value="Reset" id="btnAccountCancel" />
                </div>
            </div>
        </div>


    </div>
    <div class="clear"></div>
    <div class="row show-pagesize-cmb" style="margin:10px auto;">
        <div class="col-md-12" style="margin-top:5px;">

            <div class="pull-right">
                @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
            </div>
            <div class="pull-right" style="padding:7px 7px 0 7px;">
                <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
            </div>
        </div>
    </div>

    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width: 100%; margin-top: 0;" class="custom-table custom-table-wordwrap">
        <div id="jqxgrid">
        </div>
    </div>
</form>