﻿@model Qualanex.QoskCloud.Entity.ProfileRequest
@using UserResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "Add new profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #tbl tr td {
        padding: 5px;
    }

        #tbl tr td:hover {
            background-color: #d9ecfb;
        }

            #tbl tr td:hover:nth-child(odd) + td:nth-child(n+1) {
                background-color: #d9ecfb;
            }

        #tbl tr td:nth-child(odd) {
            font-weight: bold;
            width: 150px;
        }
</style>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<script src="~/js/ProfileCreate.js"></script>
<script src="~/js/Profile.js"></script>


@{ Dictionary<string, string> UserStatusDictionary = new Dictionary<string, string>(); UserStatusDictionary.Add("Active", "Active"); UserStatusDictionary.Add("Inactive", "Inactive"); SelectList FillUserStatusList = new SelectList(UserStatusDictionary, "value", "key"); }
@{ Dictionary<string, int> Manufacture_RepackagerCodeDictionary = new Dictionary<string, int>(); Manufacture_RepackagerCodeDictionary.Add("Select Customer Name", -1); SelectList FillManufacture_RepackagerCodeList = new SelectList(Manufacture_RepackagerCodeDictionary, "value", "key"); }


<div class="main-container">
    <h2> PROFILE</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    <input type="hidden" id="hdnPageNo" />
    <input type="hidden" id="hdnTotalRecords" />
    <div id="ProfileSuccessMessage" style="color:white;">@TempData["ProfileSucessmessage"]</div>

  
        @Html.ValidationSummary(true)
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#qu-tab1">Create New Profile</a></li>
                <li class='tab'><a href="#qu-tab2" onclick="SetAccountDetails();">Profile Account</a></li>
            </ul>
            <div class='panel-container'>
                <div id="qu-tab1">
                    <form action="/Profile/Create" id="frmCreateProfile" method="post" novalidate="novalidate">
                        <div class="product-box clearfix">
                            <h1>
                                Profile Description
                            </h1>
                            <div class="madatory_feild_message"><p><span>*</span> fields are mandatory.</p></div>
                            @*@Html.LabelFor(model => model.ProfileMsg, new { @forcolor="green"})*@
                            
                            <div id="productdiv">

                                <div class="col-md-4">
                                    @*<div class="input-ctrl">
                        @Html.LabelFor(model => model.ProfileCode)
                        <div class="field">
                        @Html.TextBoxFor(model => model.ProfileCode, new { @placeholder = "Enter Profile Code" })
                        @Html.ValidationMessageFor(model => model.ProfileCode)
                        </div>
                        </div>*@
                                    <div class="input-ctrl">
                                        <label>Profile Name<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.Name, new { @id = "ProfieName", @maxlength = "50", @placeholder = "Enter Profile Name", @class = "validate[required,custom[nonHtmlText]]" })

                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Profile Type<span>*</span></label>
                                        <div class="field">
                                            @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.ProfileType, "Select Profile Type", new { @maxlength = "30", @class = "validate[required]" })
                                        </div>
                                    </div>

                                    @*<div class="input-ctrl">
                        @Html.Label("Group Name")
                        <div class="field">
                        @Html.DropDownListFor(model => model.ProfileGroupID, FillGroupTypeList, "Select Group Name")

                        </div>
                        </div>*@

                                    <div class="input-ctrl">
                                        <label>RollUp Profile<span>*</span></label><div class="field">@Html.DropDownListFor(model => model.RollupProfileCode, (IEnumerable<SelectListItem>)ViewBag.ManufacturerName,"Select RollUp Profile", new {  @class = "validate[required]" }) </div>
                                        @*@Html.ValidationMessageFor(model => model.NDC)*@
                                    </div>                                    
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.RegionCode)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.RegionCode, new { @maxlength = "3", @placeholder = " Enter RegionCode", @class = "validate[custom[nonHtmlText]]" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.DEAExpirationDate)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.DEAExpirationDate, new { @readonly = "readonly", @placeholder = "Enter DEA Expiration Date" })
                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.EmailAddress)

                                        <div class="field">
                                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = "50", @placeholder = "Enter Email Address", @class = "validate[custom[email]]" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.DEANumber)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.DEANumber, new { @maxlength = "10", @placeholder = "Enter DEA Number",@class = "validate[custom[nonHtmlText]]" })

                                        </div>
                                    </div>

                                    <div class="input-ctrl">
                                        <label>City<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.City, new { @maxlength = "50", @placeholder = "Enter City", @class = "validate[required,custom[nonHtmlText]]" })

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        <label>State<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.State, new { @maxlength = "2", @placeholder = "Enter State", @class = "validate[required,custom[nonHtmlText]]" })

                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Address1<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.Address1, new { @maxlength = "50", @placeholder = "Enter Address1", @class = "validate[required,custom[nonHtmlText]]" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.Address2)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.Address2, new { @maxlength = "50", @placeholder = "Enter Address2", @class = "validate[custom[nonHtmlText]]" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.Address3)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.Address3, new { @maxlength = "50", @placeholder = "Enter Address3", @class = "validate[custom[nonHtmlText]]" })

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="physician-box clearfix">
                            <h1>
                                Profile Contact

                            </h1>
                            <div id="additionaldiv">
                                <div class="col-md-4">

                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.TollFreePhoneNumber)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.TollFreePhoneNumber, new { @maxlength = "15", @placeholder = "Enter TollFree Phone Number", @class = "validate[custom[phone]]", @oninput = "return PhoneNumberMask(event);" })

                                        </div>
                                    </div>

                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.FaxNumber)

                                        <div class="field">
                                            @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "15", @placeholder = "Enter Fax Number", @class = "validate[custom[faxNumber]]", @oninput = "return PhoneNumberMask(event);" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        <label>Zip Code<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = "5", @placeholder = "Enter Zip Code", @class = "validate[required,custom[zipcode]]" })

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-4">

                                    <div class="input-ctrl">
                                        <label>Contact First Name<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ContactFirstName, new { @maxlength = "50", @placeholder = "Enter Contact First Name", @class = "validate[required,custom[nonHtmlText]]" })

                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Contact Last Name<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ContactLastName, new { @maxlength = "50", @placeholder = "Enter Contact Last Name", @class = "validate[required,custom[nonHtmlText]]" })
                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Phone Number<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "15", @placeholder = "Enter Phone Number", @class = "validate[required,custom[phone]]", @oninput = "return PhoneNumberMask(event);" })
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        <label>Contact Email Address<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ContactEmailAddress, new { @maxlength = "50", @placeholder = "Enter Contact Email Address", @class = "validate[required,custom[email]]" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.ContactFaxNumber)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ContactFaxNumber, new { @maxlength = "15", @placeholder = "Enter Contact Fax Number", @class = "validate[custom[faxNumber]]", @oninput = "return PhoneNumberMask(event);" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        <label>Contact Phone Number<span>*</span></label>
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.ContactPhoneNumber, new { @maxlength = "15", @placeholder = "Enter Contact Phone Number", @class = "validate[required,custom[phone]]", @oninput = "return PhoneNumberMask(event);" })

                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="product-box clearfix">
                            <h1>
                                Other Information

                            </h1>
                            <div id="additionaldiv">
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.RepresentativeNumber)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.RepresentativeNumber, new { @maxlength = "10", @placeholder = "Enter Representative Number" })

                                        </div>
                                    </div>

                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.Notes)
                                        <div class="field">
                                            @Html.TextAreaFor(model => model.Notes, 4, 0, new { @maxlength = "250", @placeholder = "Enter Notes" })


                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-4">


                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.WholesalerAccountNumber)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.WholesalerAccountNumber, new { @maxlength = "50", @placeholder = "Enter Wholesaler Account Number" })

                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.ReturnProcedures)
                                        <div class="field">
                                            @Html.TextAreaFor(model => model.ReturnProcedures, 4, 0, new { @maxlength = "250", @placeholder = "Enter Return Procedures" })

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.LotNumberExpirationDateValidationMethod)

                                        <div class="field">
                                            @Html.TextBoxFor(model => model.LotNumberExpirationDateValidationMethod, new { @maxlength = "14", @placeholder = "Enter LotNumber ExpirationDate ValidationMethod" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.VendorLoadDate)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.VendorLoadDate, new { @placeholder = "Enter Vendor LoadDate" , @readonly = "readonly"})

                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.SalesOrg)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.SalesOrg, new { @maxlength = "20", @placeholder = "Enter Sales Org" })

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="physician-box clearfix">
                            <h1>
                                Other Information

                            </h1>
                            <div id="additionaldiv">
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.VendorID)
                                        <div class="field staticfield" id="staticParent">
                                            @Html.TextBoxFor(model => model.VendorID, new { @maxlength = "20", @placeholder = "Enter Vendor ID", @class = "validate[custom[numberZeroToNine]]" })

                                        </div>
                                    </div>


                                    <div class="check_box">

                                        <div class="input-ctrl">
                                            @Html.LabelFor(model => model.QualanexComDisplay)

                                            <div class="field">
                                                <label class="custom-checkbox">   @Html.EditorFor(model => model.QualanexComDisplay, new { @placeholder = " Select Qualanex.Com Display" }) </label>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="check_box">

                                        <div class="input-ctrl">
                                            <label>Direct Accounts Only<span></span></label>
                                            <div class="field">
                                                <label class="custom-checkbox">   @Html.EditorFor(model => model.DirectAccountsOnly, new { @placeholder = " Select Direct AccountsOnly" }) </label>

                                            </div>

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-4">
                                    <div class="check_box">

                                        <div class="input-ctrl">
                                            <label>Alert Completed Return Authorizations<span></span></label>
                                            <div class="field">
                                                <label class="custom-checkbox">  @Html.EditorFor(model => model.AlertCompletedReturnAuthorizations, new { @placeholder = "Select Alert Completed Return Authorizations" })</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="check_box">
                                        <div class="input-ctrl">
                                            <label>Alert Pending Return Authorizations<span></span></label>
                                            <div class="field">
                                                <label class="custom-checkbox">  @Html.EditorFor(model => model.AlertPendingReturnAuthorizations, new { @placeholder = "Select Alert Pending Return Authorizations" })</label>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.PDMACoordinatorEmailAddress)

                                        <div class="field">
                                            @Html.TextBoxFor(model => model.PDMACoordinatorEmailAddress, new { @maxlength = "50", @placeholder = " Enter Direct PDMA Coordinator EmailAddress", @class = "validate[custom[email]]" })

                                        </div>

                                    </div>
                                    <div class="input-ctrl">
                                        @Html.LabelFor(model => model.PDMACoordinatorEmailAddressProcessCompleted)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.PDMACoordinatorEmailAddressProcessCompleted, new { @maxlength = "50", @placeholder = " Enter PDMA Coordinator EmailAddress Process ", @class = "validate[custom[email]]" })

                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>
                        <div style="width:100%; text-align:center; margin:20px 0 0;">
                            @*<button type="submit" id="LotNumberUpdateId" class="editbutton blue-btn">Save</button>*@
                            <input type="submit" value="Save" id="btnProfileCreate" class="profileSave blue-btn update" />
                            <input type="reset" value="Reset" class="blue-btn">
                        </div>
                        </form>
</div>
                
                <div id="qu-tab2">
                    @Html.Partial("_ProfileAccountPartial", Model)
                </div>
            </div>
        </div>

    <div class="clear"></div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    
</div>

@Html.Partial("AlertPopupView")
@Html.Partial("_LeavePageMessage")
@Html.Partial("_Wait")
<script type="text/javascript">
  
    function showAlert(mess) {
        $("#alertmessageid").html(mess);
        $(".alert-popup-body-message").show();
        $("#btnok").bind("click", function () {            
            $("#btnok").unbind("click");
            //location.reload(); 
            $(".alert-popup-body-message").hide();
        });

    }
     @Html.Raw(ViewBag.JS);
</script>