﻿@model Qualanex.QoskCloud.Entity.ProfileRequest
@using UserResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>

<script src="~/js/ProfileEdit.js"></script>
<script src="~/js/Profile.js"></script>

@{ Dictionary<string, string> UserStatusDictionary = new Dictionary<string, string>(); UserStatusDictionary.Add("Active", "Active"); UserStatusDictionary.Add("Inactive", "Inactive"); SelectList FillUserStatusList = new SelectList(UserStatusDictionary, "value", "key"); }
@{ Dictionary<string, int> Manufacture_RepackagerCodeDictionary = new Dictionary<string, int>(); Manufacture_RepackagerCodeDictionary.Add("Select Customer Name", -1); SelectList FillManufacture_RepackagerCodeList = new SelectList(Manufacture_RepackagerCodeDictionary, "value", "key"); }

<div class="main-container">
    <h2>EDIT / UPDATE PROFILE</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    <input type="hidden" id="hdnPageNo" />
    <input type="hidden" id="hdnTotalRecords" />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProfileCode)
    @Html.HiddenFor(model => model.Version)
   
   

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#qu-tab1">Update Profile</a></li>
            <li class='tab'><a href="#qu-tab2" onclick="SetAccountDetails();">Profile Account</a></li>
        </ul>

        <div class="add-btn del_btn">
            <input type="button" name="ProfileDelete" class="editbutton blue-btn UserAdminDelete " id="btnProfileDelete" value="Delete">
        </div>

        <div class='panel-container'>
            <div id="qu-tab1">
                <div class="product-box clearfix">
                    <form id="frmProfileDesdiv">
                        <h1>
                            Profile Description
                            <div class="adjust_btn_360">
                                <input type="button" class="editbutton blue-btn edit UserAdminEdit" frmdiv="ProfileDesdiv" id="ProfileDesEdit" value="Edit">
                                <input type="button" class="editbutton blue-btn cancel" frmdiv="ProfileDesdiv" id="ProfileDesUpdateCancel" value="Reset">
                                <input type="button" class="editbutton blue-btn update" frmdiv="ProfileDesdiv" id="ProfileDesUpdate" value="Update">
                            </div>
                        </h1>
                        @*<div class="madatory_feild_message"><p><span>*</span> fields are mandotary.</p></div>*@
                        <div id="ProfileDesdiv">
                            <div class="col-md-4">

                                <div class="input-ctrl">
                                    <label>Profile Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Name, new { @id = "ProfieName", @maxlength = "50", @class = "ProfileDescSection validate[required,custom[nonHtmlText]]", @placeholder = " Enter Name" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Profile Type<span>*</span></label>
                                    <div class="field">
                                        @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.ProfileType, new { @maxlength = "30", @class = "ProfileDescSection validate[required,custom[nonHtmlText]]" })
                                    </div>
                                </div>
                                @*<div class="input-ctrl">
                                        @Html.Label("Group Name")
                                        <div class="field">
                                            @Html.DropDownListFor(model => model.ProfileGroupID, Model.ProfileGroup, "Select Group Name")
                                            @Html.ValidationMessageFor(model => model.ProfileGroupID)
                                        </div>
                                    </div>*@
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.RegionCode)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.RegionCode, new { @maxlength = "3", @placeholder = " Enter RegionCode", @class = "validate[custom[nonHtmlText]]"})

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.DEANumber)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.DEANumber, new { @maxlength = "10", @placeholder = "Enter DEA Number", @class = "validate[custom[nonHtmlText]]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.DEAExpirationDate)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.DEAExpirationDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @placeholder = "Enter DEA Expiration Date", @class = "validate[custom[nonHtmlText]]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.EmailAddress)

                                    <div class="field">
                                        @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = "50", @placeholder = "Enter Email Address", @class = "validate[custom[email]]" })

                                    </div>

                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="input-ctrl">
                                    <label>Address1<span>*</span></label>
                                    <div class="field">
                                        @Html.EditorFor(model => model.Address1, new { @maxlength = "50", @placeholder = "Enter Address1", @class = "ProfileDescSection validate[required,custom[nonHtmlText]]" })

                                    </div>

                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.Address2)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Address2, new { @maxlength = "50", @placeholder = "Enter Address2", @class = "validate[custom[nonHtmlText]]" })

                                    </div>

                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.Address3)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Address3, new { @maxlength = "50", @placeholder = "Enter Address3", @class = "validate[custom[nonHtmlText]]" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="physician-box clearfix">
                    <form id="frmProfileContactdiv">
                        <h1>
                            Profile Contact
                            <div class="adjust_btn_360">
                                <input type="button" class="editbutton green-btn  edit UserAdminEdit" frmdiv="ProfileContactdiv" id="ProfileContactEdit" value="Edit">
                                <input type="button" class="editbutton green-btn  cancel" frmdiv="ProfileContactdiv" id="ProfileContactUpdateIdCancel" value="Reset">
                                <input type="button" class="editbutton green-btn  update" frmdiv="ProfileContactdiv" id="ProfileContactUpdateId" value="Update">
                            </div>
                        </h1>
                        <div id="ProfileContactdiv">
                            <div class="col-md-4">
                                <div class="input-ctrl">
                                    <label>City<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.City, new { @maxlength = "50", @placeholder = "Enter City", @class = "ProfileContactSection validate[required]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>State<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.State, new { @maxlength = "2", @placeholder = "Enter State", @class = "ProfileContactSection validate[required]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Zip Code<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = "5", @onkeyup = "NumericOnly(this);", @placeholder = "Enter Zip Code", @class = "ProfileContactSection validate[required]" })


                                    </div>
                                </div>



                            </div>

                            <div class="col-md-4">

                                <div class="input-ctrl">
                                    <label>Contact First Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ContactFirstName, new { @maxlength = "50", @placeholder = "Enter Contact First Name", @class = "ProfileContactSection validate[required]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Contact Last Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ContactLastName, new { @maxlength = "50", @placeholder = "Enter Contact Last Name", @class = "ProfileContactSection validate[required]" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Contact Phone Number<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ContactPhoneNumber, new { @maxlength = "15", @placeholder = "Enter Phone Number", @class = "ProfileContactSection validate[custom[phone]]", @oninput = "return PhoneNumberMask(event);" })

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.ContactFaxNumber)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ContactFaxNumber, new { @maxlength = "15", @placeholder = "Enter Contact Fax Number",@class = "validate[custom[faxNumber]]", @oninput = "return PhoneNumberMask(event);" })
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Contact Email Address<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.ContactEmailAddress, new { @maxlength = "50", @placeholder = "Enter Contact Email Address", @class = "ProfileContactSection validate[required,custom[email]]" })

                                    </div>

                                </div>
                                <div class="input-ctrl">
                                    <label>Phone Number<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "15", @placeholder = "Enter Phone Number", @class = "ProfileContactSection  validate[custom[phone]]", @oninput = "return PhoneNumberMask(event);" })

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <div class="physician-box clearfix">
                    <form id="frmProfileOther1div">
                        <h1>
                            Other Information
                            <div class="adjust_btn_360">
                                <input type="button" class="editbutton green-btn   edit UserAdminEdit" frmdiv="ProfileOther1div" id="ProfileOther1Edit" value="Edit">
                                <input type="button" class="editbutton green-btn   cancel" frmdiv="ProfileOther1div" id="ProfileOther1UpdateIdCancel" value="Reset">
                                <input type="button" class="editbutton green-btn   update" frmdiv="ProfileOther1div" id="ProfileOther1UpdateId" value="Update">
                            </div>
                        </h1>
                        <div id="ProfileOther1div">
                            <div class="col-md-4">


                                <div class="input-ctrl">
                                    @*@Html.LabelFor(model => model.RollupProfileCode)
                                        <div class="field">
                                            @Html.TextBoxFor(model => model.RollupProfileCode, new { @class = "ProfileThirdSection" })

                                        </div>*@
                                    <label>RollUp Profile</label><div class="field">@Html.DropDownListFor(model => model.RollupProfileCode, (IEnumerable<SelectListItem>)ViewBag.ManufacturerName, "Select") </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.TollFreePhoneNumber)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.TollFreePhoneNumber, new { @maxlength = "15", @placeholder = "Enter TollFree Phone Number", @class = "ProfileContactSection  validate[custom[phone]]", @oninput = "return PhoneNumberMask(event);" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.FaxNumber)

                                    <div class="field">
                                        @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "15", @placeholder = "Enter Fax Number", @class = "faxNumber validate[custom[faxNumber]]", @oninput = "return PhoneNumberMask(event);" })

                                    </div>

                                </div>


                            </div>
                            <div class="col-md-4">

                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.RepresentativeNumber)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.RepresentativeNumber, new { @maxlength = "10", @placeholder = "Enter Representative Number" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.WholesalerAccountNumber)
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.WholesalerAccountNumber, new { @maxlength = "50", @placeholder = "Enter Wholesaler Account Number" })

                                    </div>
                                </div>

                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.Notes)

                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Notes)


                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.LotNumberExpirationDateValidationMethod)

                                    <div class="field">
                                        @Html.TextBoxFor(model => model.LotNumberExpirationDateValidationMethod, new { @maxlength = "14", @placeholder = "Enter LotNumber ExpirationDate ValidationMethod" })

                                    </div>

                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.DirectAccountsOnly)
                                    <div class="field">
                                        <label class="custom-checkbox">  @Html.EditorFor(model => model.DirectAccountsOnly, new { @class = "ProfileThirdSection" })</label>

                                    </div>

                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.DisplayOrder)
                                    <div class="field align_check">
                                        @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "ProfileThirdSection" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div id="qu-tab2">
                @Html.Partial("_ProfileAccountPartial", Model)
            </div>
        </div>
    </div>
    @*}*@
    <div class="clear"></div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
</div>
@Html.Partial("AlertPopupView")
@Html.Partial("_LeavePageMessage")
@Html.Partial("_Wait");
@Html.Partial("DeleteConfirmation")