﻿@model Qualanex.QoskCloud.Entity.GroupProfileViewModel
@using GroupProfileResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "GroupProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);

}
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>

<script type="text/javascript" language="javascript">


    var selectedGroupProfiles = [];
    function CreateGridPanel() {
        var selectedGroup = $('#GroupList').val();
        var selectedProfile = $('#hdnProfile').val();
        if (selectedProfile == '') {
            $('#ProfileGroupSuccessMessage').text('@GroupProfileResource.GroupProfileSelection');
            return false;
        }
        else {
            if (selectedGroup == -1) {
                if ($('#GroupName').val() == '' || $('#GroupTypeName').val() == '') {
                    //  alert("Please select Group Type and enter Grop Name");
                    $('#ProfileGroupSuccessMessage').text('@GroupProfileResource.GroupCreateValidation');
                    return false;
                }
            }
            GenerateGroupProfilesGrid();
            $("#seachPanel").show();
            $('#groupData').show();

        }


    }


    function showProfilePopup(selectedProfileCode) {

        GenerateAssignedGroupProfilesGrid(selectedProfileCode);
        $(".model-popup").show();
        $(".custom-search-box").animate({ "top": "6%" });
        return false;
    }

    function GenerateAssignedGroupProfilesGrid(selectedProfileCode) {
        var source = {

            datatype: "json",
            type: 'GET',
            //datafields: jsoncolumn,//[{ name: 'Expiration Date', type: "date", format: 'dd.MM.yyyy' }],
            url: '@Url.Action("ShowSelectedProfileCode")',
            data: { profileCode: selectedProfileCode },
            root: 'Rows',
            //contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function () {
                $("#jqxAssignedGroupProfilegrid").jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function () {
                $("#jqxAssignedGroupProfilegrid").jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;

            },
            loadComplete: function () {
                var datainfo = $("#jqxAssignedGroupProfilegrid").jqxGrid('getdatainformation');
                var paginginfo = datainfo.paginginformation;
                if (datainfo.rowscount > 0) {
                    $('#total-recordspg').text(datainfo.rowscount);
                    $(".show-pagesize-cmb").show();
                }
                else {
                    $(".show-pagesize-cmb").hide();
                    $('#total-recordspg').text(0);
                    $('#PagesizeCounterpg').val(100);

                }

            }

        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
            },

        });



        // prepare the data
        var columns = [
               { text: 'Profile Name', editable: false, datafield: 'ProfileName' },
               { text: 'Profile Type', editable: false, datafield: 'ProfileType' },
               { text: 'Region Code', editable: false, datafield: 'RegionCode' },
               { text: 'City', editable: false, datafield: 'City' },
               { text: 'State', editable: false, datafield: 'State' }

        ]

        // initialize jqxGrid
        $("#jqxAssignedGroupProfilegrid").jqxGrid({
            width: '100%',
            source: dataadapter,
            pageable: true,
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            virtualmode: true,
            showdefaultloadelement: false,
            enabletooltips: true,
            columnsresize: true,
            height: '100%',
            pagermode: 'simple',
            rendergridrows: function (obj) {
                return obj.data;
            },
            ready: function () {
                // var pagesize = $('#PagesizeCounter2').val();
                // $('#jqxAssignedGroupProfilegrid').jqxGrid({ pagesizeoptions: [pagesize] });
            },
            columns: columns,


        });

    }

    function GenerateAssignedGroupProfilesGridOLD(json) {

        //   var rows = json.Grouprows;
        var rows = json;
        // prepare the data
        var columns = [
               { text: 'Profile Name', editable: false, datafield: 'ProfileName' },
               { text: 'Profile Type', editable: false, datafield: 'ProfileType' },
               { text: 'Region Code', editable: false, datafield: 'RegionCode' },
               { text: 'City', editable: false, datafield: 'City' },
               { text: 'State', editable: false, datafield: 'State' }

        ]
        var source =
        {
            datatype: "json",
            id: 'id',
            localdata: rows
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxAssignedGroupProfilegrid").jqxGrid(
        {
            width: '100%',
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            source: dataAdapter,
            //theme: theme,
            columnsresize: true,
            columns: columns,
            ready: function () {
                $('#jqxGrpupProfilegrid').jqxGrid({ pagesizeoptions: ['50'] });
            }

        });
        // initialize the popup window and buttons.

    }

    function GetAllCheckedProfiles() {

        var resultstatus = SendAjaxGet('../Product/CheckExistanceofWholesalerNumber', objAddWholesalerNumber)


    }


    function GenerateGroupProfilesGrid() {
        
        var source = {
            datatype: "json",
            type: 'GET',
            //datafields: jsoncolumn,//[{ name: 'Expiration Date', type: "date", format: 'dd.MM.yyyy' }],
            url: '@Url.Action("GetGroupProfile")',
            data: { Profile: $('#hdnProfile').val(), groupList: $('#GroupList').val(), GroupTypeName: $('#GroupTypeName').val(), GroupName: $('#GroupName').val() },
            root: 'Rows',
            contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function () {
                $("#jqxGrpupProfilegrid").jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function () {
                $("#jqxGrpupProfilegrid").jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;

            },
            loadComplete: function () {
                var datainfo = $("#jqxGrpupProfilegrid").jqxGrid('getdatainformation');
                var paginginfo = datainfo.paginginformation;
                if (datainfo.rowscount > 0) {
                    $('#total-records').text(datainfo.rowscount);
                    $(".show-pagesize-cmb").show();
                }
                else {
                    $(".show-pagesize-cmb").hide();
                    $('#total-records').text(0);
                    $('#PagesizeCounter').val(100);

                }
               
            }

        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
            },

        });
        var editrow = -1;
        var deleterow = -1;
       
        var viewGRPProfile = {
            "text": "View",
            "datafield": "View",
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                //alert("viewGRPProfile");
                //alert(selectedGroupProfiles);
                editrow = row;
                var dataRecord = $("#jqxGrpupProfilegrid").jqxGrid('getrowdata', editrow);
                
                var selectedProfileCode = dataRecord.ProfileCode;
                var isGroupProfileSelected = dataRecord.IsAssigned;
                if (isGroupProfileSelected) {
                    var index = selectedGroupProfiles.indexOf(selectedProfileCode);
                    if (index == -1) {
                        selectedGroupProfiles.push(selectedProfileCode);
                        $("#jqxGrpupProfilegrid").jqxGrid('selectrow', row);
                    }
                }
                
                // var selectedProfileCode = da._source.localdata[row].ProfileCode;
                var html = "<a href = \"javascript: void[0];\" class=\"view-btn grpProfileLink\" onclick = \"showProfilePopup(" + selectedProfileCode + ");\"  ></a>";
                return html;
            }
        }
        

        // prepare the data
        var columnsnew = [
            //{ text: 'Select', editable: true, datafield: 'IsAssigned', columntype: 'checkbox' },
           // selectGRPProfile,
            viewGRPProfile,
           { text: 'Profile Name', editable: false, datafield: 'ProfileName' },
           { text: 'Profile Type', editable: false, datafield: 'ProfileType' },
           { text: 'Region Code', editable: false, datafield: 'RegionCode' },
           { text: 'City', editable: false, datafield: 'City' },
           { text: 'State', editable: false, datafield: 'State' }
        ]
        var GridId = $("#jqxGrpupProfilegrid");
        // initialize jqxGrid
        GridId.jqxGrid({
           
            source: dataadapter,
            width: '100%',
            height: '100%',
            filterable: true,
            pageable: true,
            pagermode: 'simple',
            selectionmode: 'checkbox',
            sortable: true,
            columnsreorder: true,
            columnsresize: true,
            virtualmode: true,
            rendergridrows: function (obj) {
                //debugger;
                
                return obj.data;
            },
            ready: function () {
               
                GridId.bind('rowunselect', function (event) {
                    //alert("rowunselect");
                    var datarow = GridId.jqxGrid('getrowdata', event.args.rowindex);
                    var ProfileCode = datarow.ProfileCode;
                    var index = selectedGroupProfiles.indexOf(ProfileCode);
                    if (index > -1) {
                        removeByIndex(selectedGroupProfiles, index);
                        GridId.jqxGrid('unselectrow', event.args.rowindex);
                    }

                });
                GridId.bind('rowselect', function (event) {
                    //alert("rowselect");
                    var datarow = GridId.jqxGrid('getrowdata', event.args.rowindex);
                    var ProfileCode = datarow.ProfileCode;
                    var index = selectedGroupProfiles.indexOf(ProfileCode);

                    if (index == -1) {
                        selectedGroupProfiles.push(ProfileCode);
                        GridId.jqxGrid('selectrow', event.args.rowindex);
                    }
                });


            },
            columns: columnsnew,
            rendergridrows: function (obj) {
                console.log(obj);

                return obj.data;
            },

        });

    }
    function removeByIndex(arr, index) {
        arr.splice(index, 1);
    }
    function GenerateGroupProfilesGridOLD(json) {
        var rows = json;
        // prepare the data
        var columnsnew = [
               { text: 'Profile Name', editable: false, datafield: 'ProfileName' },
               { text: 'Profile Type', editable: false, datafield: 'ProfileType' },
               { text: 'Region Code', editable: false, datafield: 'RegionCode' },
               { text: 'City', editable: false, datafield: 'City' },
               { text: 'State', editable: false, datafield: 'State' }
        ]
        var source =
         {
             datatype: "json",
             id: 'id',
             localdata: rows
         }
        var da = new $.jqx.dataAdapter(source);
        $("#jqxGrpupProfilegrid").jqxGrid(
         {
             width: '100%',
             sortable: true,
             autoheight: true,
             filterable: true,
             //pageable: true,
             columnsreorder: true,
             source: da,
             //theme: theme,
             columnsresize: true,
             columns: columnsnew
         });
        var viewGRPProfile = {
            "text": "View",
            "datafield": "View",
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                var selectedProfileCode = da._source.localdata[row].ProfileCode;
                var html = "<a href = \"javascript: void[0];\" class=\"view-btn grpProfileLink\" onclick = \"showProfilePopup(" + selectedProfileCode + ");\"  ></a>";
                return html;
            }
        }
        //   var rows = json.Grouprows;"text": "<label><input type=\"button\" class=\"selecctall\" value=\"Select All \" id=\"SelectAllProfileGRP\" ></label>",
        var selectGRPProfile = {
            "text": "Select",
            "datafield": "Select",
            "width": "100",
            "sortable": false,
            "cellsrenderer": function (row, column, value) {
                var isGroupProfileSelected = da._source.localdata[row].IsAssigned;
                var GroupProfile = da._source.localdata[row].ProfileCode;
                // alert(JSON.stringify(dataAdapter));
                if (isGroupProfileSelected) {
                    //  debugger;
                    var html = "<label><input type=\"checkbox\" class=\"check-item1\"  data-id=" + GroupProfile + "  checked ><i></i></label>";
                    return html;
                }
                else {
                    var html = "<label><input type=\"checkbox\" class=\"check-item1\"  data-id=" + GroupProfile + " ><i></i></label>";
                    return html;
                }
            }
        }
        columnsnew.push(selectGRPProfile);
        columnsnew.push(viewGRPProfile);
        $("#jqxGrpupProfilegrid").jqxGrid({ columns: columnsnew });
        $("#jqxGrpupProfilegrid").jqxGrid("render");
        // initialize the popup window and buttons.
    }

    function GenerateGrid() {
        var source = {

            datatype: "json",
            type: 'GET',
            //datafields: jsoncolumn,//[{ name: 'Expiration Date', type: "date", format: 'dd.MM.yyyy' }],
            url: '../Profile/GetGroupProfileDetails',
            data: {}, // Note it is important
            root: 'Rows',
            //contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;

            },
            loadComplete: function () {
                var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
                var paginginfo = datainfo.paginginformation;
                if (datainfo.rowscount > 0) {
                    $('#total-recordsgl').text(datainfo.rowscount);
                    $(".show-pagesize-cmb").show();
                }
                else {
                    $(".show-pagesize-cmb").hide();
                    $('#total-recordsgl').text(0);
                    $('#PagesizeCountergl').val(100);

                }

            }

        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
            },

        });

        var editrow = -1;

        var selectgroupProfile1 = {
            "text": "Select",
            "datafield": "Select",
            "width": "100",
            sortable: false,
            filterable: false,
            menu: false,
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                var profileID = dataRecord.ProfileGroupID;

                //  var profileID = dataAdapter._source.localdata[row].ProfileGroupID;
                // alert(JSON.stringify(dataAdapter));
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<label><input type=\"checkbox\" class=\"check-item1\" id=\"PRF-Profile\" data-id=" + profileID + " ><i></i></label>";
                return html;
            }
        };
        // prepare the data
        var columnsgl = [
            selectgroupProfile1,
               { text: 'Group Profile Name', editable: false, datafield: 'GroupProfilesName' },
               { text: 'Group Name', editable: false, datafield: 'GroupName' },
               { text: 'Created By', editable: false, datafield: 'Created' }

        ]
        
        // initialize jqxGrid
        $("#jqxgrid").jqxGrid({
            width: '100%',
            source: dataadapter,
            pageable: true,
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            virtualmode: true,
            showdefaultloadelement: false,
            enabletooltips: true,
            columnsresize: true,
            height: '100%',
            pagermode: 'simple',
            rendergridrows: function (obj) {
                return obj.data;
            },
            ready: function () {
                var pagesize = $('#PagesizeCountergl').val();
                $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
            },
            columns: columnsgl,


        });

        $("#jqxgrid").jqxGrid({ columns: columnsgl });
        $("#jqxgrid").jqxGrid("render");


    }

    function GenerateGridOLD(json) {
        //   var rows = json.Grouprows;
        var rows = json;
        var selectgroupProfile1 = {
            "text": "<label><input type=\"checkbox\" class=\"selecctall\" id=\"SelectAllProfileGroups\" ><i></i></label>",
            "datafield": "Select",
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                var profileID = dataAdapter._source.localdata[row].ProfileGroupID;
                // alert(JSON.stringify(dataAdapter));
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<label><input type=\"checkbox\" class=\"check-item1\" id=\"PRF-Profile\" data-id=" + profileID + " ><i></i></label>";
                return html;
            }
        };
        // prepare the data
        var columns = [
               { text: 'Group Profile Name', editable: false, datafield: 'GroupProfilesName' },
               { text: 'Group Name', editable: false, datafield: 'GroupName' },
               { text: 'Created By', editable: false, datafield: 'Created' }

        ]
        columns.push(selectgroupProfile1);
        var source =
        {
            datatype: "json",
            id: 'id',
            localdata: rows
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxgrid").jqxGrid(
        {
            width: '100%',
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            source: dataAdapter,
            //theme: theme,
            columnsresize: true,
            columns: columns
        });
        // initialize the popup window and buttons.

    };

    $(document).ready(function () {


        BindValidations();

        $("#frmgroupProfile").validationEngine();

        $("#hdnPageNo").val(50);
        $('#GroupTypeName').val('');

        $("#deletegrouprest").click(function (e) {
            $('#jqxgrid').jqxGrid('refresh');
            $("#groupPopupMessage").text("");
        });
        $('#PagesizeCountergl').change(function () {

            // var pagesize = $('#PagesizeCounter').val();
            //$('#total-records').val(data.TotalRows);
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            //  var pageinf = (1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * pagesize) + ' of ' + datainfo.rowscount)
            //  console.log(datainfo.rowscount);
            $('#total-recordsgl').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCountergl').val();
            $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });

        $('#PagesizeCounter').change(function () {

            // var pagesize = $('#PagesizeCounter').val();
            //$('#total-records').val(data.TotalRows);
            var datainfo = $("#jqxGrpupProfilegrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            //  var pageinf = (1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * pagesize) + ' of ' + datainfo.rowscount)
            //  console.log(datainfo.rowscount);
            $('#total-records').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCounter').val();
            $('#jqxGrpupProfilegrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });

        $('#PagesizeCounterpg').change(function () {

            // var pagesize = $('#PagesizeCounter').val();
            //$('#total-records').val(data.TotalRows);
            var datainfo = $("#jqxAssignedGroupProfilegrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            //  var pageinf = (1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * pagesize) + ' of ' + datainfo.rowscount)
            //  console.log(datainfo.rowscount);
            $('#total-recordspg').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCounterpg').val();
            $('#jqxAssignedGroupProfilegrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });
        $('#groupData').hide();
        $('.main-container').click(function () {
            $('#ProfileGroupSuccessMessage').text("");
            $('#DeleteGroupSuccessMessage').text("");

        });
        //$(document).ajaxStart(function () {
        //    $("#wait").css("display", "block");
        //});
        //$(document).ajaxComplete(function () {
        //    $("#wait").css("display", "none");
        //});
        $("#seachPanel").hide();
        $("#grpName").find("input,button,select,textarea").attr("disabled", "disabled");
        //$(".alert-popup-body-message").hide();
        $("#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });
        })

        // For Delete  selected Profile Groups
        $("#btnDeleteLotNumber").click(function () {
            GenerateGrid();
            $(".model-popup1").show();
            $(".custom-search-box").animate({ "top": "6%" });
            return false;
        }).children().click(function (e) {
            //  location.reload();
            return true;
        });

        $(".close-btn").click(function () {
            $(".model-popup, .model-popup1").hide();
            $(".model-box").animate({ "top": "-100%" });
        })

        // Script for get selected Profile when user get profiles
        $("#btnSaveChanges").click(function (evt) {

            if ($("#frmgroupProfile").validationEngine('validate') == false) {
                evt.preventDefault();
                return false;
            }

            var _this = this;
            if ($('#hdnProfile').val() != "") {
                if ($('#GroupList').val() == -1) {
                    var grpTypeName = $('#GroupTypeName').val();
                    var grpName = $('#GroupName').val();
                    if (grpName == "" || grpName == '' || grpTypeName == "" || grpTypeName == '') {
                        $("#alertmessageid").text('@GroupProfileResource.GroupCreateValidation');
                        $(".alert-popup-body-message").show();
                        return false;
                    }


                }
                $('#jqxGrpupProfilegrid').jqxGrid('clear');
                CreateGridPanel();
                $('#jqxGrpupProfilegrid').jqxGrid('refresh');
                evt.preventDefault();
                return false;
            }
            else {
                evt.preventDefault();
                return false;
            }
        });
        ///

        //$('#Profile').change(function () {



        //});

        ///
        $('#GroupList').change(function () {

            $('#groupData').hide();
            if ($('#GroupList').val() == '') {
                $("#GroupName").val('');
                $('#GroupTypeName').val('');
            }
            $('#Profile').css({
                "border": ""
            });
            $("#grpName").find("input,button,select,textarea").attr("disabled", "disabled");
            if ($('#GroupList').val() == -1) {
                $("#GroupName").val('');
                $('#GroupTypeName').val('');
                $("#grpName").find("input,button,select,textarea").removeAttr('disabled');
            }
            else {
                var grpName = $("#GroupList option:selected").text();
                $("#GroupName").val(grpName);
                $("#grpName").find("input,button,select,textarea").attr("disabled", "disabled");
                var url = '@Url.Content("~/Profile/GroupType/")';
                if ($('#GroupList').val() != -1) {
                    $.ajaxSetup({ cache: false });
                    $.getJSON(url, { profileGroupID: $('#GroupList').val() }, function (data) {
                        $('#GroupTypeName').val(data);

                    });
                }
            }
        });

        $('#product-list').click(function () {
            $("#groupPopupMessage").text("");
        });

        $('#deletegroupReset').click(function () {
            $('#jqxgrid').jqxGrid('refresh');
            $("#groupPopupMessage").text("");
            $('#GroupList').empty();
            $('#GroupList').prop("disabled", true);
        });

        // Function to delete group profile Start.
        $(function () {
            var groupID = 0;
            $('#btnDelete').click(function () {
                var values = new Array();
                $('#jqxgrid').find('input[type="checkbox"]:checked').each(function () {
                    values.push($(this).attr("data-id"));
                });
                groupID = values.join(", ")
                if (values.length == 0) {
                    $("#alertmessageid").text('@GroupProfileResource.GroupDeletion');
                    $(".alert-popup-body-message").show();
                    return false;
                }
                else {
                    $("#alertdeletemessageid").text(Group.AlertDeleteMsg);
                    $(".alert-popup-body-message-confirm").show();
                    return false;
                }

            });

            $("#btdeletenCancel,.alert-close").click(function () {
                $(".alert-popup-body-message-confirm").hide();
                $(".alert-popup").animate({ "top": "40%" });
            });

            $("#btdeletenok").click(function (e) {
                $(".alert-popup-body-message-confirm").hide();
                $(".alert-popup").animate({ "top": "40%" });

                var url = '@Url.Content("~/Profile/DeleteGroup/")';
                $.post(url,
                    {
                        GroupIDS: groupID

                    }, function (result) {
                        $("#alertmessageid").text(Group.DeleteSuccess);
                        $(".alert-popup-body-message").show();
                        $(".alert-close").hide();
                        $("#btnok").bind("click", function () {
                            window.location = '../Profile/GroupProfile';
                            $("#btnok").unbind("click");
                        });
                    });
            });
        });
        // function to delete group profile End.


        $(function () {

            $('#btngrpreset').click(function () {
                ResetGroupList();
                $("#GroupName").attr("disabled", "disabled");
                $('#groupData').hide();
            });



            $('#Update').click(function () {
                $("#wait").show();
                var checkedGroupProfiles = selectedGroupProfiles;
                
                var values = new Array();
                $('#jqxGrpupProfilegrid').find('input[type="checkbox"]:checked').each(function () {
                    values.push($(this).attr("data-id"));
                });
                var selectedGroup = $('#GroupList').val();
                var groupprofile = values.join(", ")
                var grpName = $('#GroupName').val();
                var grpType = $('#GroupTypeName').val();
                if (selectedGroup == "" || grpName == "" || grpType == "") {
                    $("#alertmessageid").text('@GroupProfileResource.GroupAssignValidation');
                    $(".alert-popup-body-message").show();
                    $("#wait").hide();
                    return false;
                }
                else {
                    alert(checkedGroupProfiles);
                    if (checkedGroupProfiles.length < 1 || checkedGroupProfiles.length < 1) {
                        $("#alertmessageid").text('@GroupProfileResource.GroupProfileSelection');
                        $(".alert-popup-body-message").show();
                        $("#wait").hide();
                        return false;
                    }

                    if ($('#GroupList').val() == -1) {
                        if ($('#GroupName').val() == "" && $('#GroupTypeName').val() == "") {

                            $("#alertmessageid").text('@GroupProfileResource.GroupCreateValidation');
                            $(".alert-popup-body-message").show();
                            $("#wait").hide();
                            return false;
                        }

                        $.ajax({
                            url: '@Url.Action("ValiadateProfileGroupName")',
                            data: { Profile: $('#hdnProfile').val(), GroupName: $('#GroupName').val() },
                            cache: false,
                            success: function (data) {

                                if (data == "Exist") {
                                    $("#alertmessageid").text('@GroupProfileResource.GroupAlreadyExist');
                                    $(".alert-popup-body-message").show();
                                    $("#wait").hide();
                                    return false;
                                }

                            },
                            error: function (response) {
                                return false;
                            }
                        });

                    }
                    var url = '@Url.Action("UpdateGroupProfiles")';
                    $.get(url,
                        {
                            GroupId: selectedGroup,
                            ProfileIDS: checkedGroupProfiles.join(", "),
                            GroupName: $('#GroupName').val(),
                            Profile: $('#hdnProfile').val(),
                            groupType: $('#GroupTypeName').val()

                        }, function (result) {
                            if (selectedGroup == "-1") {
                                var url1 = '@Url.Content("~/Profile/GetGroupByProfileCode/")';
                                var ddlsource = "#Profile";
                                var ddltarget = "#GroupList";
                                if ($('#Profile').val() != "Select Profile") {
                                    $.ajaxSetup({ cache: false });
                                    $.getJSON(url1, { profileCode: $('#hdnProfile').val() }, function (data) {
                                        $(ddltarget).empty();
                                        $("#GroupList").append("<option  value=''>Select Group</option>");
                                        $.each(data, function (index, optionData) {
                                            $('#GroupList').append("<option value='" + optionData.ProfileGroupID + "'>" + optionData.GroupName + "</option>");
                                        });
                                        $('#GroupList').prop("disabled", false);

                                        selectedGroup = parseInt(result);
                                        $('#GroupList').val(selectedGroup);
                                    });
                                    
                                }
                                else {
                                    $('#GroupList').empty();
                                    $('#GroupList').prop("disabled", true);
                                }
                                

                                $("#alertmessageid").text('@GroupProfileResource.CreateGroupSuccessfully');
                                $(".alert-popup-body-message").show();
                                $('#GroupList').val($('#GroupTypeName').val());

                            }
                            else {
                                $("#alertmessageid").text('@GroupProfileResource.ProfileAssigned');
                                $(".alert-popup-body-message").show();
                            }
                            $("#wait").hide();
                            return true;

                        });
                }
                return false;
            });
            $('.lot-icon').unbind("click");
        });

        //$("#vendorsearch").change(function () {
        //    $('#SearchVendorId').val(0);
        //    if ($('#vendorsearch').val() != "") {
        //        $('#vendorsearch').addClass("errorTextBox");
        //        $('#vendorsearch').removeClass("successTextBox");
        //    }
        //    else {
        //        $('#vendorsearch').removeClass("successTextBox");
        //        $('#vendorsearch').removeClass("errorTextBox");
        //    }
        //});

        // For auto completion of profile.
        function ResetGroupList() {
            $('#GroupList').empty();
            $("#GroupList").append("<option  value=''>Select Group</option>");
            $('#GroupList').prop("disabled", true);
        }

        $('#Profile').autocomplete({


            source: function (request, response) {
                $('#groupData').hide();
                ResetGroupList();
                $.ajax({
                    url: '../Profile/GetProfile',
                    data: { terms: request.term },
                    dataType: 'json',
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    //dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                });
            },
            focus: function (event, ui) {
                $("#Profile").val(ui.item.label);
                return false;
            },
            minLength: 2,
            select: function (event, ui) {

                $('#Profile').val(ui.item.label);
                $('#hdnProfile').val(ui.item.value);

                var url = '@Url.Content("~/Profile/GetGroupByProfileCode/")';
                var ddlsource = "#Profile";
                var ddltarget = "#GroupList";
                if ($('#Profile').val() != "Select Profile") {
                    $('#Profile').css({
                        "border": ""
                    });
                    $.ajaxSetup({ cache: false });

                    $.getJSON(url, { profileCode: $('#hdnProfile').val() }, function (data) {
                        $(ddltarget).empty();
                        $("#GroupList").append("<option  value=''>Select Group</option>");
                        $.each(data, function (index, optionData) {
                            $('#GroupList').append("<option value='" + optionData.ProfileGroupID + "'>" + optionData.GroupName + "</option>");
                        });
                        $('#GroupList').prop("disabled", false);
                    });
                }
                else {
                    $('#GroupList').empty();
                    $("#GroupList").append("<option  value=''>Select Group</option>");
                    $('#GroupList').prop("disabled", true);
                }


                return false;
            }

        });
    });
    //



    // For Delete Group Profile







</script>
@{
    Dictionary<string, string> GroupTypeDictionary = new Dictionary<string, string>();
    GroupTypeDictionary.Add("Select Group Type", "");
    GroupTypeDictionary.Add("Manufacture Group", "MAN-GRP");
    GroupTypeDictionary.Add("Wholesaler Group", "WHL-GRP");
    GroupTypeDictionary.Add("Pharmacy Group", "PHAR-GRP");
    GroupTypeDictionary.Add("Repackager Group", "REGR-GRP");
    SelectList FillGroupTypeDictionary = new SelectList(GroupTypeDictionary, "value", "key");
}
@{
    Dictionary<string, string> GroupDictionary = new Dictionary<string, string>();
    GroupDictionary.Add("Select Group", "");
    SelectList FillGroupDictionary = new SelectList(GroupDictionary, "value", "key");
}
<div class="main-container">


    <input type="hidden" id="hdnPageNo" />
    <input type="hidden" id="hdnTotalRecords" />

    <form id="frmgroupProfile">
        <div class="product-list">
            <div class="top_heading">
                <h1>CREATE GROUP</h1>
                
                <div class="">
                    <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                        <div class="backtosearch second">
    @Html.ActionLink("« Back to search results", "Index")
</div>
                        <div id="ProfileGroupSuccessMessage" class="error-green error-style"></div>
                        @*<div id="DeleteGroupSuccessMessage" class="error-green error-style">@TempData["DeleteGroupSuccessMessage"]</div>*@
                    </div>
                    <div class="media-clr media-margin"></div>
                    <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                        <ul>
                            <li>
                                <a id="btnDeleteLotNumber" href="" title="" class="add_btn">Show Groups</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="product-box2">


                <div class="search-box">
                    <div>
                        <ul>

                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Profile<span>*</span></label>

                                <input type="text" id="Profile" class="validate[required]" />
                                <input type="hidden" id="hdnProfile" />

                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <label>Group</label>
                                @Html.DropDownList("GroupList", FillGroupDictionary, new { @class = "profile-Select" })
                            </li>
                            <li id="grpName" class="col-md-2 col-sm-6 col-xs-12">
                                <label>Group Name</label>
                                @Html.TextBox("GroupName", Model.GroupName, "Select Group", new { @class = "profile-Select", @placeholder = "Enter Group Name" })

                            </li>
                            <li id="grpTypeName" class="col-md-2 col-sm-6 col-xs-12">
                                <label>Group Type</label>
                                @Html.DropDownList("GroupTypeName", FillGroupTypeDictionary, new { @class = "profile-Select" })
                            </li>


                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-btn">
                        <div class="row">
                            <div class="col-md-12 margin_top">
                                <input type="submit" id="btnSaveChanges" value="Get Profiles" />
                                <input type="reset" id="btngrpreset" value="Reset">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
                @Html.TextBoxFor(m => m.CurrentPageNo, new { name = "txtCurrentPageNo", id = "txtCurrentPageNo", @class = "hidden" })
                <div id="groupData" class="custom-table" style="width: 100%; text-align: left; ">
                    <div class="row show-pagesize-cmb" style="margin:10px auto;">
                        <div class="col-md-12" style="margin-top:5px;">

                            <div class="pull-right">
                                @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                            </div>
                            <div class="pull-right" style="padding:7px;">
                                <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                            </div>
                        </div>
                    </div>
                    <div id='jqxGrpupProfileWidget' style="font-size: 13px; font-family: Verdana; text-align: center; height: 200px; overflow-y: scroll; overflow-x: hidden;">                    <div id="jqxGrpupProfilegrid">                        </div>                   </div>
                    
                    
                                        <div class="edit-option-btn">
                        <input type="button" id="Update" class="custom-blue-btn" value="Assign Profiles">
                    </div>

                </div>

            </div>
        </div>
    </form>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
</div>

<div class="model-popup1">
    <div class="custom-search-box lotNumber-pop grouplist">
        <div class="close-btn"><img src="~/images/close-btn.png"></div>

        <div class="product-list">
            <h1>Group List</h1>
            <div class="row show-pagesize-cmb" style="margin:10px auto;">
                <div class="col-md-12" style="margin-top:5px;">

                    <div class="pull-right">
                        @Html.DropDownList("PagesizeCountergl", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                    </div>
                    <div class="pull-right" style="padding:7px;">
                        <span id="total-recordsgl" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcountergl", @class = "lblidcounter" })
                    </div>
                </div>
            </div>
            @*<div class="row show-pagesize-cmb" style="margin:10px auto;">
                    <div class="col-md-9 col-sm-6" style="margin-top:5px;"><span id="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter" })</div>
                    <div class="col-md-3 col-sm-6">@Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })</div>
                </div>*@
            <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">

                <div id="jqxgrid">

                </div>
            </div>
        </div>
        <div class="edit-option-btn">

            <input type="button" id="btnDelete" class="custom-blue-btn UserAdminDelete" value="Delete">
            <input type="reset" id="deletegrouprest" class="custom-blue-btn" value="Reset">

        </div>
    </div>
</div>

<div class="model-popup">
    <div class="custom-search-box lotNumber-pop creategroup">
        <div class="close-btn"><img src="~/images/close-btn.png"></div>
        <div id="AssignesProfileGroupsDiv">
            <div class="product-box clearfix">
                <h1>
                    Profile Groups
                </h1>
                <div class="row show-pagesize-cmb" style="margin:10px auto;">
                    <div class="col-md-12" style="margin-top:5px;">

                        <div class="pull-right">
                            @Html.DropDownList("PagesizeCounterpg", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                        </div>
                        <div class="pull-right" style="padding:7px;">
                            <span id="total-recordspg" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounterpg", @class = "lblidcounter" })
                        </div>
                    </div>
                </div>
                <div id='jqxAssignedGroupProfileWidget' class="custom-table">
                    <div id="jqxAssignedGroupProfilegrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("AlertPopupView")
@Html.Partial("_Wait")
@Html.Partial("DeleteConfirmation")