﻿@model Qualanex.QoskCloud.Entity.ProfileRequestEntity
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);

}
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<script type="text/javascript">
    var deleteprofileCode = "";
    function deleteProfile(profileCode) {
        deleteprofileCode = profileCode;
        $("#alertdeletemessageid").text(Profile.DeleteConfirmation);
        $(".alert-popup-body-message-confirm").show();
    }


    function storeBackToList() {
        var ddProfileType = $('#ddType').val();
        var txtProfileNameName = $('#ddProfileName').val();
        var txtCity = $('#txtCity').val();

        if (typeof (Storage) !== "undefined") {
            sessionStorage.setItem('prlddType', ddProfileType)
            sessionStorage.setItem('prlddProfileName', txtProfileNameName)
            sessionStorage.setItem('prltxtCity', txtCity)
        }
    }


    function CreateGridPanel() {
        $("#hdnTotalRecords").val(0);
        var CurrentServerPageNo = $('#txtCurrentPageNo').val();
        if (CurrentServerPageNo == '') {
            CurrentServerPageNo = 0;
        }
        //sessionStorage.getItem('prlddProfileName') != null
        var profileName = $('#ddProfileName').val();
        $.ajax({
            type: "Get",
            contentType: 'application/json; charset=utf-8',
            url: '../Profile/BindProfileGrid',
            data: { ddProfileName: $('#ddProfileName').val(), ddType: $('#ddType').val(), txtCity: $('#txtCity').val(), CurrentServerPageNo: CurrentServerPageNo }, // Note it is important
            success: function (data) {
                $('#jqxgrid').jqxGrid('clear');
                $("#jqxgrid").jqxGrid("render");
                $("#jqxgrid").jqxGrid('updatebounddata');
                ///Setting up all Seach Value Field accordinginly
                storeBackToList();

                GenerateGrid(data);
            },
            error: function (response) {
                if (response.status != 0) {
                    alert(response.status + " " + response.statusText);
                }
            }
        });
        $(".grid-details").hide();
        $('.grid-btn-prev').hide();
        $('.grid-btn-next').hide();

    }
    function GenerateGrid(json) {
        //   var rows = json.Grouprows;
        var rows = json;

        // prepare the data
        var columns = [
               { text: 'Profile Name', editable: false, datafield: 'Name' },
               { text: 'Profile Type', editable: false, datafield: 'Type' },
               { text: 'City', editable: false, datafield: 'City' },
               { text: 'State', editable: false, datafield: 'State' },
               { text: 'ZipCode', editable: false, datafield: 'ZipCode' },
               { text: 'Phone Number', editable: false, datafield: 'PhoneNumber' }
        ]

        var source =
        {
            datatype: "json",
            id: 'id',
            localdata: rows
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
             {
                 loadComplete: function () {
                     var length = dataAdapter.records.length;
                     $("#hdnTotalRecords").val(parseInt(length));

                 }
             });
        var pagerrenderer = function () {
            var element = $("<div style='margin-top: 5px; width: 100%; height: 100%;'></div>");
            var paginginfo = $("#jqxgrid").jqxGrid('getpaginginformation');
            for (var i = 0; i < paginginfo.pagescount; i++) {
                // add anchor tag with the page number for each page.  href='#" + i + "'
                var j = i + 1;
                var anchor = $("<a style='padding: 5px;' >" + j + "</a>");
                anchor.appendTo(element);

                anchor.click(function (event) {
                    // go to a page.
                    var pagenum = parseInt($(event.target).text());
                    pagenum = pagenum - 1;
                    $("#jqxgrid").jqxGrid('gotopage', pagenum);
                });
            }
            return element;
        }
        var editrow = -1;
        var editProfile = {
            "text": "Edit",
            "datafield": "Edit",
            sortable: false,
            filterable: false,
            menu: false,
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);

                var profileCode = dataRecord.ProfileCode;
                //var profileCode = dataAdapter._source.localdata[row].ProfileCode;
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<a href=../Profile/Edit?id=" + $.trim(profileCode) + " class=\"btnEditimage\"></a>";
                return html;
            }
        };
        var deleterow = -1;
        var deleteprofile = {
            "text": "Delete",
            "datafield": "Delete",
            sortable: false,
            filterable: false,
            menu: false,
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                var profileCode = dataRecord.ProfileCode;
                // var profileCode = dataAdapter._source.localdata[row].ProfileCode;
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<a   onclick=\" return deleteProfile(" + $.trim(profileCode) + ");\" class=\"delete-btn\"></a>";

                return html;
            }
        };
        columns.push(editProfile);
        columns.push(deleteprofile);
        $("#jqxgrid").jqxGrid(
        {
            width: '100%',
            autoheight: true,
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            source: dataAdapter,
            //theme: theme,
            columnsresize: true,
            pagerrenderer: pagerrenderer,
            columns: columns,
            ready: function () {
                $('#jqxgrid').jqxGrid({ pagesizeoptions: ['50'] });
            },

        });


        $("#jqxgrid").jqxGrid({ columns: columns });
        $("#jqxgrid").jqxGrid("render");

        var Pagesizeee = parseInt($("#hdnPageNo").val());
        var totalRecord = $("#hdnTotalRecords").val();

        if (totalRecord > 50) {
            Pagesizeee = 50;
            $("#hdnPageNo").val(Pagesizeee);

        }
        else {
            Pagesizeee = totalRecord;
            $("#hdnPageNo").val(Pagesizeee);
        }
        // If totalRecord
        if (totalRecord >= 500) {
            $('.grid-btn-prev').show();
            $('.grid-btn-next').show();
        }
        else {
            $('.grid-btn-prev').hide();
            $('.grid-btn-next').hide();
        }

        if (totalRecord > 0) {
            var pagetext = "1-" + Pagesizeee + " of " + totalRecord;
            $(".grid-details").text(pagetext);
            $(".grid-details").show();
        }
        else {
            $(".grid-details").hide();
        }
        // initialize the popup window and buttons.
    }



    $(document).ready(function () {

        if (typeof (Storage) !== "undefined") {
            var referrer = document.referrer;
            $("#ddProfileName").val(sessionStorage.getItem('ddProfileName'));
            $("#ddType").val(sessionStorage.getItem('ddType'));
            $("#txtCity").val(sessionStorage.getItem('txtCity'));
            CreateGridPanelnew();
        }
        else {

        }

        $("#ProfileSearch").click(function (e) {
            $("#jqxgrid").jqxGrid('updatebounddata');
            CreateGridPanelnew();

            return false;
        });
        if (sessionStorage.getItem('prlddType') != null) {

            $("#ddType").val(sessionStorage.getItem('prlddType'));
            BindProfileName();
        }

        if (sessionStorage.getItem('prltxtCity') != null)
            $("#txtCity").val(sessionStorage.getItem('prltxtCity'));

        if (sessionStorage.getItem('prlddProfileName') != null)
            $("#ddProfileName").val(sessionStorage.getItem('prlddProfileName'));

        if (sessionStorage.getItem('prlddType') != null || sessionStorage.getItem('prltxtCity') != null || sessionStorage.getItem('prlddProfileName') != null) {

            $("#jqxgrid").jqxGrid('updatebounddata');
            CreateGridPanelnew();

        }
        $("#btdeletenCancel,#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            $(".alert-popup").animate({ "top": "40%" });
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });
        });
        //$('.lot-icon').click(function (e) {
        //    sessionStorage.removeItem('ddUserType');

        //});


        $(".model-popup").children().click(function (e) {
            return true;
        });

        $("#ddType").change(function () {

            //$("#jqxgrid").jqxGrid('updatebounddata');
            BindProfileName();
        });




        $(".show-pagesize-cmb").hide();
        ///Setting up Profile Type Value as per User Previous search


        $('#PagesizeCounter').change(function () {
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            $('#total-records').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCounter').val();
            $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });
        $("#btdeletenCancel,#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            $(".alert-popup").animate({ "top": "40%" });
        });
        //$('.lot-icon').click(function (e) {
        //    sessionStorage.clear();
        //});

        $("#btdeletenok").click(function () {
            $.ajax({
                url: '@Url.Action("Delete")',
                data: {
                    id: deleteprofileCode
                },
                success: function (data) {

                    if (data.Status == true) {
                        $(".alert-popup-body-message-confirm").hide();
                        $("#alertmessageid").text(data.Result);
                        $(".alert-popup-body-message").show();
                        CreateGridPanelnew();


                    }
                    else {
                        $("#alertmessageid").text(data.Result);
                        $(".alert-popup-body-message").show();
                    }

                },
                error: function (response) {
                    if (response.status != 0) {
                        --alert(response.status + " " + response.statusText);
                    }
                }
            });
        });

        $("#hdnPageNo").val(0);
        var Pagesizeee = parseInt($("#hdnPageNo").val());
        var pagetext = "1-" + Pagesizeee + " of " + $("#hdnTotalRecords").val();
        $(".grid-details").text(pagetext);
        $(".grid-details").hide();

        $('.grid-btn-prev').hide();
        $('.grid-btn-next').hide();

        $('.lot-icon').unbind("click");

    });

    function GenerateGridForRestPages(ButtonClicked) {
        $("#wait").css("display", "block");
        $("#hdnPageNo").val(50);
        var result = parseInt($('#txtCurrentPageNo').val());
        if (isNaN(result) == true) {
            result = 0;
        }
        //alert(result);
        if (ButtonClicked) {
            result = result + 1;
        }
        else {
            result = result - 1;
        }
        if (result < 0) { result = 0; }
        //alert(result);
        $('#txtCurrentPageNo').val(result);
        result = $('#txtCurrentPageNo').val();
        $('#jqxgrid').jqxGrid({ pagesizeoptions: ['50'] });
        $("#hdnPageNo").val(50);
        var Pagesizeee = parseInt($("#hdnPageNo").val());
        $("#jqxgrid").jqxGrid('updatebounddata');
        //Call search methods
        CreateGridPanel();
        if ($("#hdnTotalRecords").val() > 0) {
            var pagetext = "1-" + Pagesizeee + " of" + $("#hdnTotalRecords").val();
            $(".grid-details").text(pagetext);
            $(".grid-details").show();
        }
        $("#wait").css("display", "none");


    }

</script>


@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select Profile Type", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    ProfileTypeDictionary.Add("Retail Pharmacy", "Retail Pharmacy");
    ProfileTypeDictionary.Add("Chain Pharmacy", "Chain Pharmacy");
    ProfileTypeDictionary.Add("ReverseDistributor", "Distributor");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Distribution Center", "Distribution Center");
    SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}
@{
    Dictionary<string, string> ProfileDictionary = new Dictionary<string, string>();
    ProfileDictionary.Add("Select", "");
    SelectList FillProfilesList = new SelectList(ProfileDictionary, "value", "key");
}
<div class="main-container">
    <div class="product-list">
        <div class="top_heading">
            <input type="hidden" id="hdnCampaignCount" />
            <input type="hidden" id="hdnPageNo" />
            <input type="hidden" id="hdnTotalRecords" />
            <h1>Profiles List</h1>
            <div class="">
                <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                    <div id="collapse">
                        <a href="#"><span><strong>-</strong></span> Collapse Search</a>
                    </div>
                    <div id="expand">
                        <a href="#"><span><strong>+</strong></span> Expand Search</a>
                    </div>
                </div>
                <div class="media-clr media-margin"></div>
                <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                    <ul>
                        <li>@Html.ActionLink("Add New Profile", "Create", new { }, new { @class = "add_btn" }) <span>|</span></li>
                        <li>
                            @Html.ActionLink(" View Groups", "GroupProfile", new { }, new { @class = "add_btn" })
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="product-box2">
            <div>
                <form>
                    <div class="search-box" id="exp_col">
                        <div>
                            <ul>
                                <li class="col-md-2 col-sm-6 col-xs-12">
                                    <label>Profile Type</label>
                                    @Html.DropDownList("ddType", (IEnumerable<SelectListItem>)ViewBag.Type, "Select", new { @class = "profile-Select" })

                                </li>
                                <li class="col-md-2 col-sm-6 col-xs-12">
                                    <label>Profile Name</label>
                                    @Html.DropDownList("ddProfileName", FillProfilesList, new { @class = "profile-Select", @disabled = "disabled" })
                                    

                                </li>
                                <li class="col-md-2 col-sm-6 col-xs-12">

                                    <label>City</label>
                                    @Html.TextBox("txtCity")

                                </li>

                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="search-btn">
                            <div class="row">
                                <div class="col-md-12 margin_top">
                                    <input type="button" value="Search" id="ProfileSearch" />
                                    <input type="reset" value="Reset">
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

            <div class="clear"></div>
            @Html.TextBoxFor(m => m.CurrentPageNo, new { name = "txtCurrentPageNo", id = "txtCurrentPageNo", @class = "hidden" })
            <div class="bottom_input">
                <div class="row show-pagesize-cmb" style="margin:10px auto;">
                    <div class="col-md-12" style="margin-top:5px;">

                        <div class="pull-right">
                            @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                        </div>
                        <div class="pull-right" style="padding:7px;">
                            <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                        </div>
                    </div>
                </div>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div id="jqxgrid">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")
<script>
    var editrow = -1;
    var deleterow = -1;
    function CreateGridPanelnew() {


        var ddProfileName = $("#ddProfileName").val();
        var ddType = $("#ddType").val();
        var txtCity = $("#txtCity").val();

        if (typeof (Storage) !== "undefined") {
            sessionStorage.setItem('ddProfileName', ddProfileName)
            sessionStorage.setItem('ddType', ddType)
            sessionStorage.setItem('txtCity', txtCity)
        }

        var source = {
            datatype: "json",
            type: 'GET',
            //datafields: jsoncolumn,//[{ name: 'Expiration Date', type: "date", format: 'dd.MM.yyyy' }],
            url: '../Profile/BindProfileGrid',
            data: { ddProfileName: $('#ddProfileName').val(), ddType: $('#ddType').val(), txtCity: $('#txtCity').val() }, // Note it is important
            root: 'Rows',
            //contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;
                console.log(data.Rows);
            },
            loadComplete: function () {
                var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
                var paginginfo = datainfo.paginginformation;
                if (datainfo.rowscount > 0) {
                    $('#total-records').text(datainfo.rowscount);
                    $(".show-pagesize-cmb").show();
                    CollapseSearch();
                }
                else {
                    $(".show-pagesize-cmb").hide();
                    $('#total-records').text(0);
                    $('#PagesizeCounter').val(100);

                }

            }

        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
            },

        });

        var editrow = -1;
        var deleterow = -1;

        var editProfile = {
            "text": "Edit",
            "datafield": "Edit",
            pinned: true,
            sortable: false,
            filterable: false,
            menu: false,
            "width": "50",
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                console.log(dataRecord);
                var profileCode = dataRecord.ProfileCode;
                //var profileCode = dataAdapter._source.localdata[row].ProfileCode;
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<a  href=\"javascript:redirecttoEdit(" + $.trim(profileCode) + " );\" class=\"btnEditimage\"> </a>";
                return html;
            }
        };
        var deleterow = -1;
        var deleteprofile = {
            "text": "Delete",
            "datafield": "Delete",
            pinned: true,
            sortable: false,
            filterable: false,
            menu: false,
            "width": "50",
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                var profileCode = dataRecord.ProfileCode;
                // var profileCode = dataAdapter._source.localdata[row].ProfileCode;
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<a   onclick=\" return deleteProfile(" + $.trim(profileCode) + ");\" class=\"delete-btn\"></a>";

                return html;
            }
        };

        // prepare the data
        var columns = [
               { text: 'Profile Name', editable: false, datafield: 'Name' },
               { text: 'Profile Type', editable: false, datafield: 'Type' },
               { text: 'City', editable: false, datafield: 'City' },
               { text: 'State', editable: false, datafield: 'State' },
               { text: 'ZipCode', editable: false, datafield: 'ZipCode' },
               { text: 'Phone Number', editable: false, datafield: 'PhoneNumber' }
        ]

        columns.push(editProfile);
        //columns.push(deleteprofile);
        // initialize jqxGrid
        $("#jqxgrid").jqxGrid({
            width: '100%',
            source: dataadapter,
            pageable: true,
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            virtualmode: true,
            showdefaultloadelement: false,
            enabletooltips: true,
            columnsresize: true,
            height: '100%',
            pagermode: 'simple',
            rendergridrows: function (obj) {
                return obj.data;
            },
            ready: function () {
                var pagesize = $('#PagesizeCounter').val();
                $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
                setTimeout(function () {
                    LoadState();
                }, 1000);
            },
            columns: columns,


        });





    }
    $(document).keypress(function (e) {
        if (e.which == 13) {
            CreateGridPanelnew();
        }
    });
    
    function BindProfileName() {
        if ($("#ddType").val() != "Select Profile Type" && $("#ddType").val() != "") {
            $.ajax({
                url: '@Url.Action("Profiles")',
                data: { ProfileType: $('#ddType').val() },
                datatype: "json",
                success: function (data) {
                    $("#ddProfileName").empty();
                    $("#ddProfileName").append("<option  value=''>Select Profile</option>");
                    $.each(data, function (index, optionData) {
                        $("#ddProfileName").append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
                    });
                    ///settting up Profile Name as per Previous Search By User
                    //if (sessionStorage.getItem('prlddProfileName') != null)
                    //    $("#ddProfileName").val(sessionStorage.getItem('prlddProfileName'));

                    $("#ddProfileName").prop("disabled", false);

                }, error: function (response) {
                    $("#ddProfileName").empty();
                    // alert(response);
                    if (response.status != 0) {
                        //   alert(response.status + " " + response.statusText);
                    }
                }
            });
        }
        else {
            $("#ddProfileName").empty();
            $("#ddProfileName").append("<option  value=''>Select Profile</option>");
            $("#ddProfileName").prop("disabled", true);
        }
    }

    function LoadState() {
        var state = sessionStorage.getItem("ProfileState");

        if (state) {
            try {
                state = JSON.parse(state);
                $("#jqxgrid").jqxGrid('loadstate', state);
                var index = state.selectedrowindexes;
                if (!isNaN(index)) {
                    $("#jqxgrid").jqxGrid('ensurerowvisible', index);
                }


                sessionStorage.removeItem("ProfileState");
            } catch (e) { }
        }
    }
    function redirecttoEdit(id) {
        var state = $("#jqxgrid").jqxGrid('savestate');
        sessionStorage.setItem("ProfileState", JSON.stringify(state));
        window.location = "../Profile/Edit?id=" + id;
    }
    //$(document).ready(function () {
    //    //CreateGridPanelnew();
    //    //LoadState();

      
    //});
</script>


@*On scroll hide*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#PagesizeCounter').change(function () {
            // var pagesize = $('#PagesizeCounter').val();
            //$('#total-records').val(data.TotalRows);
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            //  var pageinf = (1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * pagesize) + ' of ' + datainfo.rowscount)
            //  console.log(datainfo.rowscount);
            $('#total-records').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCounter').val();
            $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });

        
    });
</script>
