﻿@model Qualanex.QoskCloud.Web.Areas.PolicyMgmt.Models.PolicyEntity

<div class="formMax" style="display: block;">
   <table class="tableEx">
      <tr>
         <!-- product image -->
         <td class="tdFiller tdPreview">&nbsp;</td>
         <!-- the form -->
         <td style="padding: 0;">
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#PolicyDeatil" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">Policy Code</td><td><input class="inputEx" type="text" value="@Model.PolicyCode" readonly="readonly" /></td>
                     <td class="tdLabel">Profile Name</td><td><input class="inputEx input-edit" type="text" value="@Model.ProfileName" readonly="readonly" /></td>
                     <td class="tdLabel">Start Date</td><td><input class="inputEx input-edit" type="text" value="@Model.EffectiveStartDate" readonly="readonly" /></td>
                     <td class="tdLabel">End Date</td><td><input class="inputEx input-edit" type="text" value="@Model.EffectiveEndDate" readonly="readonly" /></td>
                     <td class="tdLabel">% of Discount</td><td><input class="inputEx input-edit" type="text" value="@Model.DiscountPercent" readonly="readonly" /></td>
                  </tr>
                  <tr>
                  <tr class="">
                     <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="11">Returnable</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Broken Seal</td><td><input class="inputEx input-edit" type="text" value="@Model.BrkSealRrturnable" readonly="readonly" /></td>
                     <td class="tdLabel">Partials</td><td><input class="inputEx input-edit" type="text" value="@Model.PartialsRrturnable" readonly="readonly" /></td>
                     <td class="tdLabel">Prescription Vials</td><td><input class="inputEx input-edit" type="text" value="@Model.PreVialsReturnable" readonly="readonly" /></td>
                     <td class="tdLabel">Repackaged Into Unit Dose</td><td><input class="inputEx input-edit" type="text" value="@Model.RepackagedIntoUnitDoseReturnable" readonly="readonly" /></td>
                     <td class="tdLabel">Repackager Creditable</td><td><input class="inputEx input-edit" type="text" value="@Model.RepackagerCreditable" readonly="readonly" /></td>
                  </tr>
                  <tr class="">
                     <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="11">Date/Month</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Days To Return in Error</td><td><input class="inputEx input-edit" type="text" value="@Model.DaysToReturnInErr" readonly="readonly" /></td>
                     <td class="tdLabel">Months For Opened</td><td><input class="inputEx input-edit" type="text" value="@Model.Months_O_Return" readonly="readonly" /></td>
                     <td class="tdLabel">Months For Sealed</td><td><input class="inputEx input-edit" type="text" value="@Model.Months_S_Return" readonly="readonly" /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
<div class="formMin" style="display: none;">
   <table class="tableEx">
      <tr>
         <!-- product image -->
         <td style="width: 250px; background: #FFFFFF; border-left: solid #FFFFFF; border-right: 1px solid #3a80bb;"></td>
         <!-- the form -->
         <td style="padding: 0;">
            <form>
               <table class="tableEx" style="">
                  <tr>
                     <td class="tdLabel">PolicyCode</td><td><input class="inputEx" type="text" value="@Model.PolicyCode" readonly="readonly" /></td>
                     <td class="tdLabel">Profile Name</td><td><input class="inputEx input-edit" type="text" value="@Model.ProfileName" readonly="readonly" /></td>
                     <td class="tdLabel">StartDate</td><td><input class="inputEx input-edit" type="text" value="@Model.EffectiveStartDate" readonly="readonly" /></td>
                     <td class="tdLabel">EndDate</td><td><input class="inputEx input-edit" type="text" value="@Model.EffectiveEndDate" readonly="readonly" /></td>
                     <td class="tdLabel">Discount %</td><td><input class="inputEx input-edit" type="text" value="@Model.DiscountPercent" readonly="readonly" /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
