﻿
<div id="PolicyGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Policy Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">
                        <th>Policy Code"</th>
                        <th>Profile Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Discount%</th>
                        <!--<th>Days To Return in Error</th>-->
                        <!--<th>Months For Opened Return</th>-->
                        <!--<th>Months For Sealed Return</th>-->
                        <!--<th>Broken Seal Returnable</th>-->
                        <!--<th>Partials Returnable</th>-->
                        <!--<th>Prescription Vials Returnable</th>-->
                        <!--<th>Repackager Creditable</th>-->
                        <!--<th>Repackaged Into Unit Dose Returnable</th>-->
                        <!--<th>IsDeleted</th>-->
                     </tr>
                  </thead>
                  <tbody>
                     @foreach (var item in Model.Entitys)
                     {
                        <tr class="entity-div-click"
                            name="SearchListItem"
                            PolicyMgmtDetail-method="post"
                            data-row-id="@item.PolicyCode"
                            data-ql-ajax="true"
                            PolicyMgmtDetail-data="entity=@Json.Encode(item)"
                            PolicyMgmtDetail-action="@Url.Action("OnEntityClick")"
                            PolicyMgmtDetail-target="#PolicyMgmtModel">

                           <td>@item.PolicyCode</td>
                           <td>@item.ProfileName</td>
                           <td>@item.EffectiveStartDate</td>
                           <td>@item.EffectiveEndDate</td>
                           <td>@item.DiscountPercent</td>

                           <!--<td>@item.DaysToReturnInErr</td>-->
                           <!--<td>@item.Months_O_Return</td>-->
                           <!--<td>@item.Months_S_Return</td>-->
                           <!--<td>@item.BrkSealRrturnable</td>-->
                           <!--<td>@item.PartialsRrturnable</td>-->
                           <!--<td>@item.PreVialsReturnable</td>-->
                           <!--<td>@item.RepackagerCreditable</td>-->
                           <!--<td>@item.RepackagedIntoUnitDoseReturnable</td>-->
                           <!--<td>@item.IsDeleted</td>-->
                        </tr>

                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
