﻿@model Qualanex.QoskCloud.Web.Areas.PolicyMgmt.ViewModels.PolicyMgmtViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/PolicyMgmt/Views/_Layout.cshtml";
}

<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.AppletKey">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    display: none;
                                    width: 200px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel tdPreview">Filter</td>
                                    <td class="formLabel">Policy Identification</td>
                                    <td class="tdCtrl"><img class="formCtrl" title="Show less detail" src="~/Images/Form/Qosk_Form_Collapse.svg" alt="" /></td>
                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_PolicyMgmtForm", Model.SelectedEntity)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs" style="margin-left: 4px;">
                              <li class="ql-tab"><a href="#tabs-summary"><span id="tab-title-summary">Summary</span></a></li>
                              <li class="ql-tab"><a href="#tabs-association"><span id="tab-title-association">Association</span></a></li>
                              <li class="ql-tab"><a href="#tabs-setting"><span id="tab-title-setting">Setting</span></a></li>
                              <li class="ql-tab"><a href="#tabs-history"><span id="tab-title-history">History</span></a></li>
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="~/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_NEW" class="actionIcon" title="Add new record" src="~/Images/Actionbar/ActionBar_Add(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_EDIT" class="actionIcon" title="Edit selected record" src="~/Images/Actionbar/ActionBar_Edit(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_SAVE" class="actionIcon" title="Save changes made to the selected record" src="~/Images/Actionbar/ActionBar_Save(0).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CANCEL" class="actionIcon" title="Cancel and revert all changes made to the selected record" src="~/Images/Actionbar/ActionBar_Cancel(0).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_RETIRED" class="actionIcon" title="Show Retired Records" src="~/Images/Actionbar/ActionBar_HideRetired(1).svg" alt="" /></td>
                                       @Html.Partial("_PolicyMgmtFilter", Model)
                                       @Html.Partial("_ActionMenu", Model.ActionMenu)
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             <div class="ql-body" id="tabs-summary">
                                                @Html.Partial("_PolicyMgmtSummary", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-association">
                                                @Html.Partial("_PolicyMgmtAssociation", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-setting">
                                                @Html.Partial("_PolicyMgmtSetting", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-history">
                                                @Html.Partial("_PolicyMgmtHistory", Model)
                                             </div>

                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-Bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin"></td>
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/js/QoskMgmt.js"></script>
   <script src="~/Scripts/jqx-all.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/PolicyMgmt/js/PolicyMgmt.js"></script>
}
