﻿@using System.Web.UI.HtmlControls
@using Grimace.BulkInsert.Extensions
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@using Qualanex.QoskCloud.Web.Areas.WrhsCtrl2
@{ 
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "Matching";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.SegmentGroup = "Matching";
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
}
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@section SegmentTitle{
      Matching
}
<div id="search">
      <h4>search result place holder</h4>
</div>