﻿@{
   ViewBag.Title = "Line Receiving Detail";
}

<div id="LineReceivingGrid">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Receiving</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
              
            </td>
         </tr>
      </table>
   </div>
</div>