﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.LineReceiving.ViewModels.LineReceivingViewModel

<div class="formMax" style="display: block;" id="LineReceivingManagementBody">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align:center"><img src="~/images/Qosk_Logo.jpg" width="85" /></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#LineReceivingDetail-target" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel" >RA</td>
                     <td >
                        <select id="ID_RA" class="selectEx editable " value="" editable disabled>
                           <option value="0" id="Enabled"></option>
                           <option value="1" id="Retired"></option>
                        </select>
                     </td>
                     <td class="tdLabel" style="width:120px">Tracking Number</td>
                     <td>
                     <input id="ID_TRACKING" type="text" class="inputEx editable" editable readonly/>
                     </td>
                     </tr>
                  <tr>
                   
                     <td class="tdLabel" >Date</td>
                     <td>
                        <input id="ID_Date" type="text" class="inputEx editable" editable readonly />
                     </td>
                     <td class="tdLabel">Carrier</td>
                     <td>
                        <input id="ID_CARRIER" type="text" class="inputEx editable" editable readonly />
                     </td>
                    
                   
                  </tr>
                 
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
