﻿@{
   ViewBag.Title = "Edit Line Receiving Detail Form";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/LineReceiving/Views/_Layout.cshtml";
}

@model Qualanex.QoskCloud.Web.Areas.LineReceiving.ViewModels.LineReceivingViewModel

<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    display: none;
                                    width: 240px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel tdPreview">&nbsp;</td>
                                    <td class="formLabel">Receiving Details</td>

                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_LineReceivingForm", Model)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooterBorder"></td></tr>
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs" style="margin-left: 4px;">
                              <li class="ql-tab">
                                 <a href="#tabs-receiving">
                                    <span id="tab-title-receiving">Receiving</span>
                                    <img class="actionLoad" id="search-loading" src="~/Images/loader2.gif" alt="" />
                                 </a>
                              </li>
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td><img class="actionBar actionTransL" src="/Images/Actionbar/ActionBar_Transition(short).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionTool"><img class="actionSep" src="/Images/Actionbar/ActionBar_Separator.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_NEW" class="actionIcon" title="Add new record" src="/Images/Actionbar/ActionBar_Add(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_EDIT" class="actionIcon" title="Edit selected record" src="/Images/Actionbar/ActionBar_Edit(1).svg" alt="" /></td>
                                       <td class="actionTool"><img class="actionSep" src="/Images/Actionbar/ActionBar_Separator.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_SAVE" class="actionIcon" title="Save changes made to the selected record" src="/Images/Actionbar/ActionBar_Save(1).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CANCEL" class="actionIcon" title="Cancel and revert all changes made to the selected record" src="/Images/Actionbar/ActionBar_Cancel(1).svg" alt="" /></td>
                                       <td class="actionTool"><img class="actionSep" src="/Images/Actionbar/ActionBar_Separator.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_PRINT" class="actionIcon" title="Print the list of record(s)" src="/Images/Actionbar/ActionBar_Print(1).svg" alt="" /></td>
                                       <td class="actionTool"><img class="actionSep" src="/Images/Actionbar/ActionBar_Separator.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_RETIRED" class="actionIcon" title="Show/Hide Retired Records" src="/Images/Actionbar/ActionBar_HideRetired(1).svg" alt="" /></td>
                                       <td class="actionTool actionFilter">
                                          <img class="actionIcon" title="Apply Filters" src="~/Images/Actionbar/ActionBar_Filter(1).svg" alt="" />
                                          @Html.Partial("_ActionMenu", Model.ActionMenu)
                                       </td>
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             <div class="ql-body" id="tabs-receiving">
                                                @Html.Partial("_LineReceiving", Model)
                                             </div>

                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin"></td>
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/js/QoskForm.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/LineReceiving/js/LineReceiving.js"></script>
}