﻿@model Qualanex.QoskCloud.Entity.AddWholesalerNumber

<div class="whiteborder" id="dvaddwholesalerNumber">
   @if (Model != null && !string.IsNullOrEmpty(Model.OperationType) && Model.OperationType.Equals("Update"))
   {
      <h1>Edit Wholesaler Number</h1>
   }
   else
   {
      <h1>Add Wholesaler Number</h1>
   }
   <form id="frmWholesalernumber">
      <div class="product-box clearfix">
         @Html.HiddenFor(m => m.WholesalerNumberID)
         @Html.HiddenFor(m => m.WholesalerVersion)
         @Html.HiddenFor(m => m.NDCUPCInputvalue)
         <div class="col-md-3">
            <div class="input-ctrl">
               <label>NDC / UPC<span>*</span></label>
               @if (Model != null && !string.IsNullOrEmpty(Model.OperationType) && Model.OperationType.Equals("Update"))
               {
                  @Html.TextBoxFor(model => model.NDCUPCWithDashes, new {@placeholder = "NDC / UPC", @id = "AddWNNDCUPCWithDashes", @disabled = "disabled", @maxlength = "20", @class = "validate[required,custom[nonHtmlText],funcCall[validateNDCUPCWithDashes]]"})
               }
               else
               {
                  @Html.TextBoxFor(model => model.NDCUPCWithDashes, new {@placeholder = "NDC / UPC", @ONBLUR = "SearchType()", @id = "AddWNNDCUPCWithDashes", @maxlength = "20", @class = "validate[required,custom[nonHtmlText]]"})<div><span id="inputfieldName"></span></div>

               }
            </div>
         </div>
         <div class="col-md-3">
            <div class="input-ctrl">
               <label>Wholesaler<span>*</span></label>
               @if (Model != null && !string.IsNullOrEmpty(Model.OperationType) && Model.OperationType.Equals("Update"))
               {
                  <div class="field">@Html.DropDownList("ProfileCode", Model.WholesalerProfileList, "Select", new {@id = "WholesalerProfileCode", @disabled = "disabled", @class = "validate[required,custom[nonHtmlText]]"}) </div>

               }
               else
               {
                  <div class="field">@Html.DropDownList("ProfileCode", Model.WholesalerProfileList, "Select", new {@id = "WholesalerProfileCode", @class = "validate[required,custom[nonHtmlText]]"}) </div>
               }
            </div>
         </div>
         <div class="col-md-3">
            <div class="input-ctrl">
               <label>Wholesaler #<span>*</span></label>
               @Html.TextBoxFor(model => model.Number, new {@placeholder = "Wholesaler Number", @maxlength = "50", @class = "validate[required,custom[nonHtmlText]]"})
            </div>
         </div>

         <div class="clearfix"></div>

         <div class="float-right">

            <div class="">
               @if (Model != null && !string.IsNullOrEmpty(Model.OperationType) && Model.OperationType.Equals("Update"))
               {
                  <input type="button" id="btnPrdWholesalerAdd" onclick="AddWNumberspecificToNDC('Update');" height="50" class="green-btn" width="100" value="Update">
               }
               else
               {
                  <input type="button" id="btnPrdWholesalerAdd" onclick="AddWNumberspecificToNDC('Save');" height="50" class="green-btn" width="100" value="Save">
               }
               <input type="reset" id="btnPrdWholesalerreset" height="50" class="green-btn" width="100" value="Reset">

            </div>
         </div>

         <div class="clear"></div>

      </div>
   </form>
</div>
