﻿@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);

}

@model Qualanex.QoskCloud.Entity.LotNumberViewModel

<script type="text/javascript">
    $(function () {
        // target only the input in this editor template
        $(document).ready(function () {
            $(".datePicker").datepicker({ showOn: "both" });

            $(".ui-corner-all").hide();
        });
    });
</script>

<script>
    $().ready(function () {
        $('.wrapper').click(function () {
            $('#LotSuccessMessage').text("");
        });
    });
</script>
<div class="main-container">

        <div class='panel-container'>
            <div id="qu-tab1">
                @Html.Partial("_CreateLotNumber", Model)
            </div>
        </div>
    </div>
  
@Html.Partial("AlertPopupView")
@Html.Partial("_LeavePageMessage");
@Html.Partial("_Wait");
<script>
    var isLeavewithoutSave = true;
    var urlName;
    $(document).ready(function () {
        $(".alert-popup-body").hide();
        if ($('#LotSuccessMessage').text().trim().length > 0) {
            $("#alertmessageid").text($('#LotSuccessMessage').text());
            $(".alert-popup-body-message").show();

        }
        //$(".alert-popup-body-message").hide();
        $("#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });
        })

        $(document).ajaxStart(function () {
            $("#wait").show();
        });
        $(document).ajaxComplete(function () {
            $("#wait").hide();
        });

        $('.lot-icon').click(function (e) {
            urlName = $(this).attr('href');
            e.stopPropagation();
            e.preventDefault();
           if (isLeavewithoutSave == true) {
                $(".alert-popup-body").show();
                $(".alert-popup").animate({ "top": "40%" });
            }
            else {
                window.location.href =  urlName;
            }
        });
        $('#btnAlertSave').click(function () {
            $("#createlotfrm").submit();
            $(".alert-popup-body").hide();
            return true;
        });
        $('#btnAlertLeave').click(function () {
            isLeavewithoutSave = true;
            window.location.href =  urlName;
            return true;
        });

        $(".alert-close, #btnAlertStay").click(function () {
            $(".alert-popup-body").hide();
            $(".alert-popup").animate({ "top": "40%" });
        })

        $('#LotNumbersData_ExpirationDate').datepicker({
            //changeMonth: true,
            //changeYear: true,
            //dateFormat: 'MM dd, yy',
            //minDate: 1,
        });

        @*$("#LotNumbersData_ProductID").change(function () {
             var url = '@Url.Content("/LotNumber/RecallIDs/")';
            var ddlsource = "#ProductID";
            var ddltarget = "#RecallID";
            if ($("#ProductID").val() != "Select") {
                $.ajaxSetup({ cache: false });
                $.getJSON(url, { ProductID: $('#ProductID').val() }, function (data) {
                    $(ddltarget).empty();
                    $("#RecallID").append("<option  value=''>Select Recall</option>");
                    $.each(data, function (index, optionData) {
                        $("#RecallID").append("<option value='" + optionData.RecallID + "'>" + optionData.ProductName + "</option>");
                    });
                    $("#RecallID").prop("disabled", false);
                });
            }
            else {
                $("#RecallID").empty();
                $("#RecallID").prop("disabled", true);
            }
        });*@
    });
</script>

