﻿
<div id="dvdivestedLotNumbers" style="display:none;" class="product-list">
    
    <div class="top_heading">
        <h1>Divested by Lot Number</h1>
        <div class="">
            <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
            </div>
            <div class="media-clr media-margin"></div>
            <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                <ul>
                    <li>
                        <a id="ahidelotlink" href="javascript:HideDivestedDetailAndShowLot()"> Lot Number List </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="dvwhiteborderfordivested" class="whiteborder">
        </div>
        <div class="clearfix"></div>

        
        

        <div class="whiteborder">
            
                <div class="custom-grid-area second" style="  margin-top: 0;  margin-bottom: 0;">
                    
                    <div style="display: inline-block; width: 51%; text-align:left;">
                        <h4 style="margin-right:12px; display:inline;">Divested Type</h4>
                        <select id="divestedlottype" name="divestedlottype" style="width:385px">
                            <option value=1 selected="selected">Lot specific </option>"
                            <option value=2> All Lots </option>
                        </select>
                        <h4>Original Lot Number</h4>
                    </div>
                    
                    <div style="display: inline-block; width: 43%; padding-left:10px;">
                        <h4 style="margin-right:12px; display:inline;">Manufacturer<label><span> *</span></label></h4>
                        <select id="Divestedbylotprfcode" name="Divestedbylotprfcode" style="width:385px">
                            <option value=0 draggable='true' ondragstart='drag(event)' id='drag2'> Select Divested Manufacturer </option>"
                        </select>
                        <h4 style="text-align:left;">Divested Lot Number</h4>
                    </div>
                </div>

                <div class="custom-grid-area second" style="margin-top:0px;">
                    @Html.Hidden("hdnprdid")
                    @Html.Hidden("updatestatus", true)
                    @Html.Hidden("originalManufacturerprfCode", true)
                    @Html.Hidden("hdnprdrow")

                    <div class="custom-grid-left">
                        <select size="9" multiple="" class="list3" id="customoriginallotid" ondrop="drop(event)" ondragover="allowDrop(event)"></select>
                    </div>


                    <div class="custom-grid-btn-arrow">
                        <input type="button" class="left-btn" id='move_lot_right' onclick="move_lot_right(event)">
                        <input type="button" class="right-btn" id='move_lot_left' onclick="move_lot_left(event)">
                    </div>

                    <div class="custom-grid-right">

                        <select id="customdivestedlotid" size="9" multiple="MULTIPLE" class='list4' ondrop="drop(event)" ondragover="allowDrop(event)"></select>
                    </div>
                </div>

                <div class="custom-search-btn">
                    <input type="button" id="btnDivestedlotNM" class="UserAdminSave" value="Save" onclick="GetLotNumberFromRightPanel();">
                    <input type="button" id="btnHideDivestedPopup" value="Cancel"  style="display:none">

                </div>
            </div>
        <div class="clearfix"></div>

        <div id="dvhidebacksearch" class="backtosearch">
            <a href="javascript:BackFromDivestToProduct()">&laquo; Back to search results</a>
        </div>

    </div>

</div>

<script type="text/javascript">

    $('#divestedlottype').change(function ()
    {
        if ($(this).val() == 2)
        {
            var selectedOpts = $('.list3 option');
            if (selectedOpts.length > 0) {
                $('.list4').append($(selectedOpts).clone());
                $(selectedOpts).remove();
               
            }
        }
        if ($(this).val() == 1) {
            //var selectedOpts = $('.list4 option');
            var selectedOpts = $('.list4 option')
            if (selectedOpts.length > 0) {
                $('.list3').append($(selectedOpts).clone());
                $(selectedOpts).remove();
              
            }
        }
    });

    $('#Divestedbylotprfcode').change(function ()
    {
        var profileCode = $(this).val();
        var profilecd =
              {
                  profilecode:profileCode
              };
        var result = SendAjaxGet('../Product/CheckPublishedPolicyExistance/', profilecd);
        if (result.Status == 1) {
            $("#alertmessageid").text(Product.CreatePublishedPolicy);
            $(".alert-popup-body-message").show();
            $(this).val(0);
            return;
        }
       
    });

    function HideDivestedDetailAndShowLot() {
        $('#productList').hide();
        $('#LotList').hide();
        $('#dvLotNumbers').show();
        $('#dvdivestedLotNumbers').hide();

        //var prdinfo = $('#dvlotn').children.clone();
        //$('#dvdivested').empty().html(prdinfo.css("display", "inline-block"));

        var prdid = $('#hdnprdid').val();
        var row = $('#hdnprdrow').val();
        LoadLotNumbers(prdid, row);
    }
    function BackFromDivestToProduct() {
        $('#productList').show();
        $('#dvdivestedLotNumbers').hide();
    }
    function LoadDivestedLotPopup(wNumberrow) {
   
        var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', wNumberrow);
        var productID = dataRecord.ProductID;
        $('#hdnprdid').val(productID);
        $('#hdnprdrow').val(wNumberrow);
        $('#originalManufacturerprfCode').val(dataRecord.ProfileCode);
        BindHeaderValues(dataRecord);
        var prdinfo = $('#dvmanufactureprddetails').clone();
        $('#dvwhiteborderfordivested').empty().html(prdinfo.css("display", "inline-block"));

        var result = SendAjaxGet('../Product/CreateDivestedPopup/', 'Manufacturer');
        $('#Divestedbylotprfcode option[value!="0"]').remove();
        $(result).each(function (i, v) {
            $("#Divestedbylotprfcode").append("<option value=" + v.Value + " draggable='true' ondragstart='drag(event)' id='drag2'>" + v.Text + "</option>");
        });


        $('#productList').hide();
        $('#dvdivestedLotNumbers').show();

        LoadDivestedPopup(productID);

    }

    function LoadDivestedLotPopupINEditPage(productID, ProfileCode) {

        var prdinfo = $('#dvmanufactureprddetailsinEdit').clone();
        $('#dvwhiteborderfordivested').empty().html(prdinfo.css("display", "inline-block"));
        $('#hdnprdid').val(productID);
        $('#originalManufacturerprfCode').val(ProfileCode);
        var result = SendAjaxGet('../Product/CreateDivestedPopup/', 'Manufacturer');
        $('#Divestedbylotprfcode option[value!="0"]').remove();
        $(result).each(function (i, v) {
            $("#Divestedbylotprfcode").append("<option value=" + v.Value + " draggable='true' ondragstart='drag(event)' id='drag2'>" + v.Text + "</option>");
        });

        $('#dveditsecton').hide();
        $('#dvdivestedLotNumbers').show();
        $('#dvdivestpartial').show();
        $('#btnHideDivestedPopup').show();
        LoadDivestedPopup(productID);

    }
    function LoadDivestedPopup(prdID) {

        $('#customdivestedlotid option[value!="0"]').remove();
        $('#customoriginallotid option[value!="0"]').remove();

       // BindCommon();
        $.ajax({
            type: "Get",
            async: "false",
            contentType: 'application/json; charset=utf-8',
            url: '../LotNumber/DiverseLotNumberList',
            data: { productID: prdID },
            success: function (data) {
                $("#Divestedbylotprfcode").removeAttr("disabled", "disabled");
                if (data.DiverseManufactureLotNumbers.LotNumbersList != null) {
                    $('#divestedlottype').attr('disabled', 'disabled');
                    BindDivestedLotToRightGrid(data)
                }
                if (data.OriginalManufactureLotNumbers.LotNumbersList != null) {
                    BindOriginalLotToLeftGrid(data);
                }
            },
            error: function (response) {
                alert(response);
                if (response.status != 0) {
                    alert(response.status + " " + response.statusText);
                }
            }

        });

    }

    function move_lot_left(e) {
        var selectedOptss = $('.list4 option:selected');
        if (selectedOptss.length > 0) {
            if (selectedOptss.attr('data-moveable') == "true") {
                e.preventDefault();
                return;
            }
            else {
                $('.list3').append($(selectedOptss).clone());
                $(selectedOptss).remove();
                e.preventDefault();
                return;
            }
        }
        else {

            $("#alertmessageid").text(Product.SelectRightLot);
            $(".alert-popup-body-message").show();
            return;
        }
    }

    function move_lot_right(evt) {
        if ($('#divestedlottype').val()==1)
        {
            var selectedOpts = $('.list3 option:selected');
            if (selectedOpts.length > 0) {
                $('.list4').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                evt.stopPropagation();
                evt.preventDefault();
            }
            else {

                $("#alertmessageid").text(Product.SelectLeftLot);
                $(".alert-popup-body-message").show();
                return;
            }
        }
       
    }

    function BindOriginalLotToLeftGrid(originaldata) {
        $("#customoriginallotid").empty();
        $.each(originaldata.OriginalManufactureLotNumbers.LotNumbersList, function (i, v) {
            $("#customoriginallotid").append("<option value=" + v.LotID + " draggable='true' diveststatus='true' ondragstart='drag(event)' id='drag2'>" + v.LotNumber + "</option>");
        });

    }
    function BindDivestedLotToRightGrid(divesteddata) {
        $("#customdivestedlotid").empty();
        $("#Divestedbylotprfcode").val(divesteddata.DiverseManufactureLotNumbers.ProfileCode);
        $('#updatestatus').val(false);
        $("#Divestedbylotprfcode").attr("disabled", "disabled");
        $.each(divesteddata.DiverseManufactureLotNumbers.LotNumbersList, function (i, v) {
            $("#customdivestedlotid").append("<option value=" + v.LotID + " draggable='true'  ondragstart='drag(event)' id='drag2' disabled>" + v.LotNumber + "</option>");
        });
    }

    function GetLotNumberFromRightPanel() {
        var diverseProfileCode = parseInt($("#Divestedbylotprfcode").val());
        var PrdID = $('#hdnprdid').val();
        var lotDiversiontype =parseInt($('#divestedlottype').val());
        var optionValues = [];
        if ($('#divestedlottype').val() == 1) {
            var options = $('#customdivestedlotid option[diveststatus=true]');
            var values = $.map(options, function (option) {
                optionValues.push(option.value);
            });
        }
     
        if (parseInt($('#originalManufacturerprfCode').val()) === diverseProfileCode) {
            $("#alertmessageid").text(Product.SelectOtherManufacture);
            $(".alert-popup-body-message").show();
            return false;
        }
        if (diverseProfileCode == 0) {
            $("#alertmessageid").text(Product.SelectDivestedManufacturer);
            $(".alert-popup-body-message").show();
            return false;
        }
        if ($('#divestedlottype').val() == 1 && optionValues.length == 0) {
            $("#alertmessageid").text(Product.SelectDivestedLot);
            $(".alert-popup-body-message").show();
            return false;
        }
        if ($('#divestedlottype').val() == 1)
        {
            var selectedOpts = $('.list3 option');
            if (selectedOpts.length == 0)
            {
                $("#alertmessageid").text(Product.SelectAllLotOption);
                  $(".alert-popup-body-message").show();
                return false;
            }
        }
        //if ($('#divestedlottype').val() == 2) {
        //    //var options = $('#customdivestedlotid option');
        //    //if (options.length > 0) {
        //    //    $("#alertmessageid").text(Product.MoveLotRigtToLeft);
        //    //    $(".alert-popup-body-message").show();
        //    //    return false;
        //    //}
            
        //}
       
        var srchrslt = optionValues;
        $.ajax({
            url: '../LotNumber/SaveDiverseLotNumber',
            data: { ProfileCode: diverseProfileCode, LotIDS: optionValues.toString(), ProductID: PrdID, updatestatus: $('#updatestatus').val(),DivestType:lotDiversiontype },
            success: function (data) {
                console.log(data);
                if (data.Status == "0") {
                    $('#updatestatus').val(false);
                   
                    $('#customdivestedlotid option').attr({'diveststatus':'false','disabled':true});
                    $('#divestedlottype').attr('disabled', true);
                    $('#btnDivestedlotNM').attr('disabled', true);
                    $("#alertmessageid").text(Product.SaveSuccess);
                    $(".alert-popup-body-message").show();
                    //LoadProductState();
                }

            },
            error: function (response) {
                if (response.status != 0) {
                    alert(response.status + " " + response.statusText);
                }
            }
        });


    }

</script>




