﻿@model Qualanex.QoskCloud.Entity.ChangeTrackerSearch
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<string, string> ColumnDictionary = new Dictionary<string, string>();
    //ProfileDictionary.Add("Select", "");
    SelectList FillTableColumnList = new SelectList(ColumnDictionary, "value", "key");
}
@{
    Dictionary<string, string> MWRProfileTypeDictionary = new Dictionary<string, string>();
    MWRProfileTypeDictionary.Add("Products", "Products");
    MWRProfileTypeDictionary.Add("LotNumbers", "LotNumbers");
    MWRProfileTypeDictionary.Add("Policy", "Policy");
    MWRProfileTypeDictionary.Add("Profiles", "Profiles");
    MWRProfileTypeDictionary.Add("Users", "Users");

    //SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}

<div class="main-container">

   <div class="product-list">
      <h1>Change Details</h1>
      <div class="backtosearch second">
         <a id="changebackpage">« Back to previous page</a>
      </div>
      <div class="add-btn">
         @*@Html.ActionLink("Add New Product", "CreateNewPolicy")*@
      </div>
      @Html.HiddenFor(model => model.ID, new {@id = "PrdLotID"})

      <div class="whiteborder">
         <div id="dvmanufactureprddetailsinEdit" class="search-box" style="display: inline-block;">
            <div>

               <ul>
                  <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                     <label><strong>@Model.ProfileTypeName :</strong>
                        <div>@Model.ManufactureRepackagerName</div></label>
                  </li>



                  <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">

                     @if (!string.IsNullOrEmpty(Model.NDCUPCWithDashes))
                     {
                        <label><strong>NDC With Dashes :</strong>
                           <div>@Model.NDCUPCWithDashes</div></label>
                     }
                     else if (Model.NDC != null || Model.NDC != 0)
                     {
                        <label><strong>NDC :</strong>
                           <div>@Model.NDC</div></label>
                     }
                     else if (Model.UPC != null || Model.UPC != 0)
                     {
                        <label><strong>UPC :</strong>
                           <div>@Model.UPC</div></label>
                     }

                  </li>

                  <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                     <label><strong> Strength :</strong>
                        <div>@Model.Strength</div></label>
                  </li>
                  <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                     <label><strong>Product Description :</strong>
                        <div> @Model.Description</div></label>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="product-box2">
         <form>
            <div class="search-box">
               <ul>
                  @*<li class="col-md-2 col-sm-6 col-xs-12">
       <label>NDC With Dashes</label>
       <div class="field">
           @Html.TextBoxFor(model => model.NDCUPCWithDashes, new { @disabled = "disabled" })
       </div>
   </li>
   <li class="col-md-2 col-sm-6 col-xs-12">
       <label>Description</label>
       <div class="field">
           @Html.TextBoxFor(model => model.Description, new { @disabled = "disabled" })
       </div>
   </li>*@
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>Modified field</label>
                     <div class="field">
                        @Html.DropDownList("TableColumnName", FillTableColumnList)
                     </div>
                  </li>

                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>Modified By</label>
                     <div class="field">
                        @Html.DropDownList("ModifiedBy", FillTableColumnList)
                     </div>
                  </li>

                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>From Range</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.FromRange, new {@placeholder = "Enter From Range"})
                     </div>
                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>To Range</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.ToRange, new {@placeholder = "Enter To Range"})
                     </div>


                  </li>
                  @*<li class="col-md-2 col-sm-6 col-xs-12" style="display:none">
                            <label>Table Name</label>
                            <div class="field">
                                @if (Model.PageIdentification == "L")
                                {
                                    @Html.DropDownListFor(model => model.SelectedTableName, new SelectList(MWRProfileTypeDictionary, "Value", "Key", "LotNumbers"), "Select", new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.SelectedTableName, new SelectList(MWRProfileTypeDictionary, "Value", "Key", "Products"), "Select", new { @disabled = "disabled" })
                                }
                            </div>


                        </li>*@

               </ul>
               <div class="clearfix"></div>
               <div class="search-btn">
                  <div class="row">
                     <div class="col-md-12 margin_top">
                        <input type="button" value="Search" id="prdchangetrackSearch" onclick="ChangeTrackerDetailsSearch();"/>
                        <input type="reset" value="Reset">
                     </div>
                  </div>
               </div>
               <div class="clearfix"></div>


            </div>

         </form>
         <div id="policy-grd-list" class="custom-table">

         </div>

         <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
            <div id="jqxgrid">
            </div>
         </div>

      </div>
   </div>
</div>
<div style="text-align:left;  margin:10px;">
    <a id="changebackpage">« Back to previous page</a>
</div>
@Html.Partial("_Wait")

<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script>

   $(document).ready(function() {
      ChangeTrackerDetailsSearch();
   });

   $('#changebackpage').click(function() {
      window.history.back();
   });
   $('#FromRange').datepicker({
    
   });
   $('#ToRange').datepicker({
    
   });


   //function GenerateGrid(json) {

   //    var rows = json.changeTrack;
   //    var columns = [
   //    { text: "Column Name", datafield: "ColumnName", cellsformat: 'd' },
   //    { text: "Old Value", datafield: "OldValue" },
   //    { text: "New Value", datafield: "NewValue" },
   //    { text: "Modified DateTime", datafield: "ModifiedDate", cellsformat: 'D' },
   //    { text: "Modified By", datafield: "ModifiedBy" }]


   //    // prepare the data
   //    var source =
   //    {
   //        datatype: "json",
   //        multiselect: true,
   //        datafields: [
   //            { name: 'ColumnName', type: 'string' },
   //            { name: 'OldValue', type: 'string' },
   //              { name: 'NewValue', type: 'string' },
   //                { name: 'ModifiedDate', type: "date", format: 'dd.MM.yyyy' }, { name: 'ModifiedBy', type: 'string' }
   //        ],
   //        id: 'id',
   //        localdata: rows
   //    };
   //    var dataAdapter = new $.jqx.dataAdapter(source);

   //    $("#jqxgrid").jqxGrid(
   //    {
   //        width: '100%',
   //        sortable: true,
   //        filterable: true,
   //        selectionmode: 'none',
   //        pageable: true,
   //        columnsreorder: true,
   //        source: dataAdapter,

   //        columnsresize: true,

   //        columns: columns
   //    });

   //};


   function ChangeTrackerDetailsSearch() {

      var ID = $("#PrdLotID").val();
      var FromRange = $("#FromRange").val();
      var ToRange = $("#ToRange").val();
      //var TableNM = $("#SelectedTableName").val();
      var ColumnNM = $("#TableColumnName").val();
      var UserNM = $("#ModifiedBy").val();
      var dataNew;

      var columns = [
         //{ text: "NDC", datafield: "NDC", width: '130' },
         //{ text: "NDC With Dashes", datafield: "NDCUPCWithDashes" ,width:'130'},
         //{ text: "UPC", datafield: "UPC" ,width:'130'},
         { text: "Description", datafield: "Description" },
         { text: "Version", datafield: "Version" },
         { text: "Modified DateTime", datafield: "ModifiedDate", cellsformat: GridDateTimeFormat },
         { text: "Modified By", datafield: "ModifiedBy" }
      ]


      var datafields = [
         //{ name: 'NDC', type: 'string' },
         //{ name: 'UPC', type: 'string' },
         //{ name: 'NDCUPCWithDashes', type: 'string' },
         { name: 'Description', type: 'string' },
         { name: 'ModifiedDate', type: "date" },
         { name: 'Version', type: "long" },
         { name: 'ModifiedBy', type: 'string' }
      ];


      var initrowdetails = function(index, parentElement, gridElement, record) {


         var version = record.Version;
         var grid = $($(parentElement).children()[0]);

         var nestedcolumns = [
            { text: "Modified field", datafield: "ColumnName" },
            { text: "Old Value", datafield: "OldValue" },
            { text: "New Value", datafield: "NewValue" },
            //{ text: "Modified DateTime", datafield: "ModifiedDate", cellsformat: GridDateTimeFormat },
            //{ text: "Modified By", datafield: "ModifiedBy" }
         ];

         var nesteddatafields = [
            { name: 'ColumnName', type: 'string' },
            { name: 'OldValue', type: 'string' },
            { name: 'NewValue', type: 'string' },
            //{ name: 'ModifiedDate', type: "date" }, 
            //{ name: 'ModifiedBy', type: 'string' }
         ]


         @*BindJQXGrid(grid, '@Url.Action("GetChangeTrackerDetails2", "Product")',
         { productId: ID, version: version, pageType: 'Products'},
         nestedcolumns,
         nesteddatafields,
         false,
         null,
         null,
         null);*@

         var source = {
            datatype: "json",
            type: 'GET',
            async: true,
            datafields: nesteddatafields,
            url: '@Url.Action("GetChangeTrackerDetails2", "Product")',
            data: { productId: ID, version: version, pageType: 'Products' },
            root: 'Rows',
            contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function() {
               $(grid).jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function() {
               $(grid).jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function(data) {
               source.totalrecords = data.TotalRows;
            },
            loadComplete: function() {

            },
         };

         var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function(xhr, status, error) {
            },

         });

         $(grid).jqxGrid({
            width: '100%',
            pagesize: 100,
            source: dataadapter,
            pageable: false,
            sortable: false,
            filterable: false,
            autoloadstate: false,
            autorowheight: true,
            autoheight: true,
            autosavestate: false,
            columnsreorder: false,
            virtualmode: false,
            showdefaultloadelement: false,
            enabletooltips: true,
            columnsresize: true,
            //height: '80%',
            //pagermode: 'simple',
            rendergridrows: function(obj) {
               return obj.data;
            },

            columns: nestedcolumns,
         });


      };


      BindJQXGrid('#jqxgrid', '@Url.Action("BindProductAudit", "Product")',
         { productId: ID, FromRange: FromRange, ToRange: ToRange, ColumnNM: ColumnNM, UserNM: UserNM },
         columns,
         datafields,
         false,
         null,
         null,
         initrowdetails, true);


   }

   var updatePageState = function(pagenum) {
      var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
      var pagenum = datainfo.paginginformation.pagenum;
      var pagesize = datainfo.paginginformation.pagesize;
      var startrow = pagenum * pagesize;
      // select the rows on the page.
      $("#jqxgrid").jqxGrid('beginupdate');
      var checkedItemsCount = 0;
      for (var i = startrow; i < startrow + pagesize; i++) {
         var boundindex = $("#jqxgrid").jqxGrid('getrowboundindex', i);
         var value = $("#jqxgrid").jqxGrid('getcellvalue', boundindex, 'available');
         if (value) checkedItemsCount++;
         if (value) {
            $("#jqxgrid").jqxGrid('selectrow', boundindex);
         } else {
            $("#jqxgrid").jqxGrid('unselectrow', boundindex);
         }
      }

      $("#jqxgrid").jqxGrid('endupdate');
      if (checkedItemsCount == pagesize) {
         columnCheckBox.jqxCheckBox({ checked: true });
      } else if (checkedItemsCount == 0) {
         columnCheckBox.jqxCheckBox({ checked: false });
      } else {
         columnCheckBox.jqxCheckBox({ checked: null });
      }
   }

   // update the selection after sort.
   $("#jqxgrid").on('sort', function(event) {
      updatePageState();
   });

   // update the selection after page change.
   $("#jqxgrid").on('pagechanged', function(event) {
      updatePageState();
   });

   // select or unselect rows when a checkbox is checked or unchecked.
   $("#jqxgrid").on('cellvaluechanged', function(event) {
      if (event.args.value) {
         $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
      } else {
         $("#jqxgrid").jqxGrid('unselectrow', event.args.rowindex);
      }

      // update the state of the column's checkbox. When all checkboxes on the displayed page are checked, we need to check column's checkbox. We uncheck it,
      // when there are no checked checkboxes on the page and set it to intederminate state when there is at least one checkbox checked on the page.
      if (columnCheckBox) {
         var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
         var pagesize = datainfo.paginginformation.pagesize;
         var pagenum = datainfo.paginginformation.pagenum;
         var selectedRows = $("#jqxgrid").jqxGrid('getselectedrowindexes');
         var state = false;
         var count = 0;
         $.each(selectedRows, function() {
            if (pagenum * pagesize <= this && this < pagenum * pagesize + pagesize) {
               count++;
            }
         });

         if (count != 0) state = null;
         if (count == pagesize) state = true;
         if (count == 0) state = false;

         updatingCheckState = true;
         $(columnCheckBox).jqxCheckBox({ checked: state });

         updatingCheckState = false;
      }
   });

   $(document).keypress(function(e) {
      if (e.which == 13) {
         ChangeTrackerDetailsSearch();

      }
   });

   $.ajax({
      url: '@Url.Action("BindColumnListBaedonSelectedtable", "Product")',
      data: { TableName: 'Products' },
      datatype: "json",
      success: function(data) {
         $("#TableColumnName").empty();
         $("#TableColumnName").append("<option  value=''>Select</option>");
         $.each(data, function(index, optionData) {

            $("#TableColumnName").append("<option value='" + optionData + "'>" + optionData + "</option>");


         });
      },
      error: function(response) {
         $("#TableColumnName").empty();
         // alert(response);
         if (response.status != 0) {
            //   alert(response.status + " " + response.statusText);
         }
      }
   });

   $.ajax({
      url: '@Url.Action("BindColumnListAvailableUsers", "Product")',
      data: { productId: $("#PrdLotID").val() },
      datatype: "json",
      success: function(data) {
         $("#ModifiedBy").empty();
         $("#ModifiedBy").append("<option  value=''>Select</option>");
         $.each(data, function(index, optionData) {

            $("#ModifiedBy").append("<option value='" + optionData + "'>" + optionData + "</option>");


         });
      },
      error: function(response) {
         $("#ModifiedBy").empty();
         if (response.status != 0) {
         }
      }
   });
</script>