﻿@model Qualanex.QoskCloud.Entity.ChangeTrackerSearch
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<string, string> ColumnDictionary = new Dictionary<string, string>();
    //ProfileDictionary.Add("Select", "");
    SelectList FillTableColumnList = new SelectList(ColumnDictionary, "value", "key");
}
@{
    Dictionary<string, string> MWRProfileTypeDictionary = new Dictionary<string, string>();
    MWRProfileTypeDictionary.Add("Products", "Products");
    MWRProfileTypeDictionary.Add("LotNumbers", "LotNumbers");
    MWRProfileTypeDictionary.Add("Policy", "Policy");
    MWRProfileTypeDictionary.Add("Profiles", "Profiles");
    MWRProfileTypeDictionary.Add("Users", "Users");

    //SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}

<div class="main-container">

   <div class="product-list">
      <h1>Change Details</h1>
      <div class="add-btn">
         @*@Html.ActionLink("Add New Product", "CreateNewPolicy")*@
      </div>
      @Html.HiddenFor(model => model.ID, new {@id = "PrdLotID"})
      <div class="product-box2">
         <form>

            <div class="search-box">

               <ul>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>NDC With Dashes</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.NDCUPCWithDashes, new {@disabled = "disabled"})
                     </div>
                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>Description</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.Description, new {@disabled = "disabled"})
                     </div>
                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>Column Name</label>
                     <div class="field">
                        @Html.DropDownList("TableColumnName", FillTableColumnList)
                     </div>


                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>From Range</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.FromRange, new {@placeholder = "Enter From Range"})
                     </div>
                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12">
                     <label>To Range</label>
                     <div class="field">
                        @Html.TextBoxFor(model => model.ToRange, new {@placeholder = "Enter To Range"})
                     </div>


                  </li>
                  <li class="col-md-2 col-sm-6 col-xs-12" style="display: none">
                     <label>Table Name</label>
                     <div class="field">
                        @if (Model.PageIdentification == "L")
                        {
                           @Html.DropDownListFor(model => model.SelectedTableName, new SelectList(MWRProfileTypeDictionary, "Value", "Key", "LotNumbers"), "Select", new {@disabled = "disabled"})
                        }
                        else
                        {
                           @Html.DropDownListFor(model => model.SelectedTableName, new SelectList(MWRProfileTypeDictionary, "Value", "Key", "Products"), "Select", new {@disabled = "disabled"})
                        }
                     </div>
                  </li>
               </ul>
               <div class="clearfix"></div>
               <div class="search-btn">
                  <div class="row">
                     <div class="col-md-12 margin_top">
                        <input type="button" value="Search" id="prdchangetrackSearch" onclick="ChangeTrackerDetailsSearch();"/>
                        <input type="reset" value="Reset">
                     </div>
                  </div>
               </div>
               <div class="clearfix"></div>
            </div>
         </form>
         <div id="policy-grd-list" class="custom-table"></div>
         <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
            <div id="jqxgrid"></div>
         </div>

      </div>
   </div>
</div>
<div style="text-align:left;  margin:10px;">
    <a id="changebackpage">« Back to previous page</a>
</div>
@Html.Partial("_Wait")

<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script>

   $(document).ready(function() {
      ChangeTrackerDetailsSearch();
   });

   $('#changebackpage').click(function() {
      window.history.back();
   });
   $('#FromRange').datepicker({
    
   });
   $('#ToRange').datepicker({
    
   });


   function GenerateGrid(json) {

      var rows = json.changeTrack;
      var columns = [
         { text: "Column Name", datafield: "ColumnName", cellsformat: 'd' },
         { text: "Old Value", datafield: "OldValue" },
         { text: "New Value", datafield: "NewValue" },
         { text: "Modify DateTime", datafield: "ModifiedDate", cellsformat: 'D' },
         { text: "Modify By", datafield: "ModifiedBy" }
      ]


      // prepare the data
      var source =
      {
         datatype: "json",
         multiselect: true,
         datafields: [
            { name: 'ColumnName', type: 'string' },
            { name: 'OldValue', type: 'string' },
            { name: 'NewValue', type: 'string' },
            { name: 'ModifiedDate', type: "date", format: 'dd.MM.yyyy' }, { name: 'ModifiedBy', type: 'string' }
         ],
         id: 'id',
         localdata: rows
      };
      var dataAdapter = new $.jqx.dataAdapter(source);

      $("#jqxgrid").jqxGrid(
      {
         width: '100%',
         sortable: true,
         filterable: true,
         selectionmode: 'none',
         pageable: true,
         columnsreorder: true,
         source: dataAdapter,

         columnsresize: true,

         columns: columns
      });

   };

   function GenerateGridForChangeTrackerDetails(checkedprofile, SelectionType) {

      var ID = $("#PrdLotID").val();
      var FromRange = $("#FromRange").val();
      var ToRange = $("#ToRange").val();
      var TableNM = $("#SelectedTableName").val();
      var ColumnNM = $("#TableColumnName").val();
      var dataNew;

      var source = {
         datatype: "json",
         type: 'GET',
         datafields: [
            { name: 'ColumnName', type: 'string' },
            { name: 'OldValue', type: 'string' },
            { name: 'NewValue', type: 'string' },
            { name: 'ModifiedDate', type: "date", format: 'dd.MM.yyyy' }, { name: 'ModifiedBy', type: 'string' }
         ],
         url: "../Product/GetChangeProductDetails",
         data: { FromRange: FromRange, ToRange: ToRange, ProdID: ID, TableNM: TableNM, ColumnNM: ColumnNM },
         root: 'Rows',
         contentType: "application/json; charset=utf-8",
         // update the grid and send a request to the server.
         filter: function() {
            $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
         },
         // update the grid and send a request to the server.
         sort: function() {
            $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
         },
         //root: 'Rows',
         beforeprocessing: function(data) {
            source.totalrecords = data.TotalRows;
         },
         processdata: function(data) {
            var pagesize = $('#PagesizeCounter').val();
            data.pagesize = pagesize;

         },
         loadComplete: function() {
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            if (datainfo.rowscount > 0) {
               $('#total-records').text(datainfo.rowscount);

               $(".show-pagesize-cmb").show();
            } else {
               $('#total-records').text(0);
               $('#PagesizeCounter').val(100);
               $(".show-pagesize-cmb").hide();
            }

         }

      };

      var dataadapter = new $.jqx.dataAdapter(source, {
         loadError: function(xhr, status, error) {
         },

      });

      var columnsnew = [
         { text: "Column Name", datafield: "ColumnName", cellsformat: 'd' },
         { text: "Old Value", datafield: "OldValue" },
         { text: "New Value", datafield: "NewValue" },
         { text: "Modify DateTime", datafield: "ModifiedDate", cellsformat: 'D' },
         { text: "Modify By", datafield: "ModifiedBy" }
      ]


      $("#jqxgrid").jqxGrid({
         width: '100%',
         source: dataadapter,
         pageable: true,
         sortable: true,
         filterable: true,
         pageable: true,
         columnsreorder: true,
         columnsresize: true,
         //virtualmode: true,
         showdefaultloadelement: false,
         enabletooltips: true,
         columnsresize: true,
         height: '100%',
         pagermode: 'simple',
         rendergridrows: function(obj) {
            return obj.data;
         },
         ready: function() {
            $('#jqxgrid').jqxGrid({ pagesizeoptions: ['100'] });


         },
         columns: columnsnew,
      });
   }

   function ChangeTrackerDetailsSearch() {

      var ID = $("#PrdLotID").val();
      var FromRange = $("#FromRange").val();
      var ToRange = $("#ToRange").val();
      var TableNM = $("#SelectedTableName").val();
      var ColumnNM = $("#TableColumnName").val();
      var dataNew;

      $.ajax({
         type: 'POST',
         url: '@Url.Action("GetChangeProductDetails", "Product")',
         data: { FromRange: FromRange, ToRange: ToRange, ProdID: ID, TableNM: TableNM, ColumnNM: ColumnNM },
         datatype: "json",
         success: function(data) {
            GenerateGrid(data);
            //$("#policy-grd-list").html(data)
         },
         error: function(response) {
            // alert(response);
            if (response.status != 0) {
               //  alert(response.status + " " + response.statusText);
            }
         }
      });
   }

   var updatePageState = function(pagenum) {
      var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
      var pagenum = datainfo.paginginformation.pagenum;
      var pagesize = datainfo.paginginformation.pagesize;
      var startrow = pagenum * pagesize;
      // select the rows on the page.
      $("#jqxgrid").jqxGrid('beginupdate');
      var checkedItemsCount = 0;
      for (var i = startrow; i < startrow + pagesize; i++) {
         var boundindex = $("#jqxgrid").jqxGrid('getrowboundindex', i);
         var value = $("#jqxgrid").jqxGrid('getcellvalue', boundindex, 'available');
         if (value) checkedItemsCount++;
         if (value) {
            $("#jqxgrid").jqxGrid('selectrow', boundindex);
         } else {
            $("#jqxgrid").jqxGrid('unselectrow', boundindex);
         }
      }

      $("#jqxgrid").jqxGrid('endupdate');
      if (checkedItemsCount == pagesize) {
         columnCheckBox.jqxCheckBox({ checked: true });
      } else if (checkedItemsCount == 0) {
         columnCheckBox.jqxCheckBox({ checked: false });
      } else {
         columnCheckBox.jqxCheckBox({ checked: null });
      }
   }

   // update the selection after sort.
   $("#jqxgrid").on('sort', function(event) {
      updatePageState();
   });

   // update the selection after page change.
   $("#jqxgrid").on('pagechanged', function(event) {
      updatePageState();
   });

   // select or unselect rows when a checkbox is checked or unchecked. 
   $("#jqxgrid").on('cellvaluechanged', function(event) {
      if (event.args.value) {
         $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
      } else {
         $("#jqxgrid").jqxGrid('unselectrow', event.args.rowindex);
      }

      // update the state of the column's checkbox. When all checkboxes on the displayed page are checked, we need to check column's checkbox. We uncheck it,
      // when there are no checked checkboxes on the page and set it to intederminate state when there is at least one checkbox checked on the page.  
      if (columnCheckBox) {
         var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
         var pagesize = datainfo.paginginformation.pagesize;
         var pagenum = datainfo.paginginformation.pagenum;
         var selectedRows = $("#jqxgrid").jqxGrid('getselectedrowindexes');
         var state = false;
         var count = 0;
         $.each(selectedRows, function() {
            if (pagenum * pagesize <= this && this < pagenum * pagesize + pagesize) {
               count++;
            }
         });

         if (count != 0) state = null;
         if (count == pagesize) state = true;
         if (count == 0) state = false;

         updatingCheckState = true;
         $(columnCheckBox).jqxCheckBox({ checked: state });

         updatingCheckState = false;
      }
   });

   $(document).keypress(function(e) {
      if (e.which == 13) {
         ChangeTrackerDetailsSearch();
         //alert("enter key is pressed");
      }
   })


   var selectedType = $("#SelectedTableName").val();
   if (selectedType != "Select") {
      $('#TableColumnName, #SelectedTableName').css({
         "border": "",
         "background": ""
      });
      $.ajax({
         url: '@Url.Action("BindColumnListBaedonSelectedtable", "Product")',
         data: { TableName: selectedType.toString() },
         datatype: "json",
         success: function(data) {
            $("#TableColumnName").empty();
            $("#TableColumnName").append("<option  value=''>Select</option>");
            $.each(data, function(index, optionData) {

               $("#TableColumnName").append("<option value='" + optionData + "'>" + optionData + "</option>");


            });
         },
         error: function(response) {
            $("#TableColumnName").empty();
            // alert(response);
            if (response.status != 0) {
               //   alert(response.status + " " + response.statusText);
            }
         }
      });
   }
   //});
</script>