﻿@model Qualanex.QoskCloud.Entity.ProductsEntity
@{
   ViewBag.Title = "ProductIndex";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.Title = "ProductDetails";
}
@{
   Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
   PerPageCountNumber.Add(100, 100);
   PerPageCountNumber.Add(200, 200);
   PerPageCountNumber.Add(500, 500);
   //PerPageCountNumber.Add(1000, 1000);
}
@section Scripts
{
   <script src="@Url.Content("~/js/custom-grid.js")"></script>

   @*<script src="https://code.google.com/p/jqueryjs/source/browse/trunk/plugins/cookie/jquery.cookie.js"></script>*@
}

<script type="text/javascript" src="~/js/ProductJs.js">

</script>
<script src="~/Scripts/jqx-all.js"></script>
@*<script src="~/Scripts/jqwidgets/jqxscrollbar.js"></script>*@

<link href="~/Content/jqx.base.css" rel="stylesheet" />
<link href="~/Css/jquery.tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/jquery.tagsinput.js"></script>
<script>


   //Call Javascript method when Enter button is Pressed
   //Call Search Method to Load Grid, based on Search Field Value
   $(document).keypress(function(e) {

      if (e.which == 13) {
         GetColumnAndBindintoGrid();
      }
   });

   //commit test
   ///function to start assigning search value to control


   function GetColumnAndBindintoGrid() {

      var LstofControlViewModel = new Array();
      $("#ulCustomeFields :input").each(function() {
         var result = $(this).attr("type");
         var result2 = $(this).attr("name");

         if (result != "hidden" && result2 != undefined) {

            var AssotableName = $(this).attr("datamessage");
            var _datatype = $(this).attr("datatype");
            var _OperatorType = $(this).attr("OperatorType");

            var value = "";

            var ElementId = $(this).attr("id");

            if (result == "checkbox") {
               value = document.getElementById(ElementId).checked;
            } else {

               value = $(this).val().trim();

            }

            var search = {
               "Type": result2.split('-')[0],
               "Name": result2.split('-')[1],
               "Value1": value,
               "Label": value,
               "AssociateTableName": AssotableName,
               "DataType": _datatype,
               "OperatorType": _OperatorType,
            }
            //alert(JSON.stringify(search));
            LstofControlViewModel.push(search);
         }
      });

      sessionStorage.setItem("ProductSearchField", JSON.stringify(LstofControlViewModel));
      $.ajax({
         //sync: false,
         type: "POST",
         data: { 'lstobjdsad': LstofControlViewModel },
         //contentType: 'application/json; charset=utf-8',
         url: '../Product/GetColumnsList',
         // Note it is important
         success: function(data) {
            CreateGridForServerSide((data));
            $("#exp_col").hide(1000);
            $("#expand").show();
            $("#collapse").hide();
         },
         error: function(response) {
            if (response.status != 0) {
            }
         }
      });

   }

   var ConvertDate = function(row, columnfield, value, defaulthtml, columnproperties) {

      if (value != '') {
         return convertJsonDate(value, DateFormat);
      } else {
         return ''
      }
   }


   function CreateGridForServerSide(jsoncolumn) {

      var pagesize = $('#PagesizeCounter').val();
      var pagenmbr = $.cookie("pagersizeno");
      if (parseInt(pagenmbr) > 0) {
         pagenmbr = parseInt(pagenmbr);
      } else {
         pagenmbr = 0;
      }

      var pagesz = $.cookie("pagesize");
      if (parseInt(pagesz) > 0) {
         pagesize = parseInt(pagesz);
         $('#PagesizeCounter').val(pagesize);
      } else {
      }


      var editrow = -1;
      var editproductrow = {
         "text": "Edit",
         "datafield": "Edit",
         "width": "50",
         pinned: true,
         sortable: false,
         filterable: false,
         menu: false,
         "cellsrenderer": function(row, column, value) {
            editrow = row;
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
            var prodID = dataRecord.ProductID;
            if (value.indexOf('#') != -1) {
               value = value.substring(0, value.indexOf('#'));
            }
            value = $.trim(value);
            var html = "<a  href=\"javascript:redirecttoEdit(" + $.trim(prodID) + " );\" class=\"btnEditimage\"> </a>";
            //var html = "<a href=../Product/EditProduct?prodId=" + $.trim(prodID) + "&mode=edit class=\"btnEditimage\"></a>";
            return html;
         }
      };

      var policyrow = -1;
      var productPolicy = {
         "text": "Policy",
         "datafield": "Policy",
         "width": "50",
         pinned: true,
         sortable: false,
         filterable: false,
         menu: false,
         "cellsrenderer": function(row, column, value) {
            policyrow = row;
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', policyrow);
            var productID = dataRecord.ProductID;
            if (value.indexOf('#') != -1) {
               value = value.substring(0, value.indexOf('#'));
            }
            value = $.trim(value);

            var html = "<a class='btnpolicyimage'  href='javascript:LoadPolicy(" + policyrow + ");' > </a>";
            return html;
         }
      };
      var divestedrow = -1;
      var divestedProduct = {
         "text": "Divested By Lot",
         "datafield": "DivestedLot",
         "width": "130",
         pinned: true,
         sortable: false,
         filterable: false,
         menu: false,
         "cellsrenderer": function(row, column, value) {
            divestedrow = row;
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', divestedrow);
            var productID = dataRecord.ProductID;
            if (value.indexOf('#') != -1) {
               value = value.substring(0, value.indexOf('#'));
            }
            value = $.trim(value);

            var html = "<a class='btndivestedimage' href=\"javascript:LoadDivestedLotPopup(" + divestedrow + ");\" > </a>";

            //Need new Icon for no divest product
            if (!dataRecord.DivestedByLot) {
               html = "";
            }
            return html;
         }
      };


      var wNumberrow = -1;
      var productwholesalerNumber = {
         "text": "Wholesaler #",
         "datafield": "WholesalerNumber",
         "width": "100",
         pinned: true,
         sortable: false,
         filterable: false,
         menu: false,
         "cellsrenderer": function(row, column, value) {
            wNumberrow = row;
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', wNumberrow);
            var productID = dataRecord.ProductID;
            if (value.indexOf('#') != -1) {
               value = value.substring(0, value.indexOf('#'));
            }
            value = $.trim(value);


            var html = "<a class='btnwholesalerimage'  href=\"javascript:LoadWholesalerNumbers(" + wNumberrow + ");\" > </a>";
            //if (!dataRecord.WholeSelerExist) {
            //    html = '';
            //}
            return html;
         }
      };

      $(jsoncolumn).each(function(i, v) {
         if (v.datafield == 'ProfileCode') {
            v.datafield = 'Name';
         }
         if (v.datafield == 'DosageCode') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               return '<div title="' + data.DosagesDescription + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + value + '</div>';
            };
         }

         if (v.datafield == 'RXorOTC') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value == true) {
                  newVal = 'Rx';
               } else {
                  newVal = 'OTC';
               }

               return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
            };
         }

         if (v.datafield == 'UnitDose') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value == true) {
                  newVal = 'Yes';
               } else {
                  newVal = 'No';
               }

               return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
            };
         }

         if (v.datafield == 'ARCOSReportable') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value == true) {
                  newVal = 'Yes';
               } else {
                  newVal = 'No';
               }

               return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
            };
         }

         if (v.datafield == 'BrandorGeneric') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value == true) {
                  newVal = 'Brand';
               } else {
                  newVal = 'Generic';
               }

               return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
            };
         }
         if (v.datafield == 'PhysicianSample') {
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value == true) {
                  newVal = 'Yes';
               } else {
                  newVal = 'No';
               }

               return '<div title="' + newVal + '" style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + newVal + '</div>';
            };
         }

         if (v.datafield == 'LotNumber')
            v.cellsrenderer = function(row, columnfield, value, defaulthtml, columnproperties, data) {
               var newVal;
               if (value != '') {
                  return '<div style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;"><a href="javascript:LoadLotNumbers(' + data.ProductID + ',' + row + ')">' + value + '</a></div>';
               } else {
                  return '<div style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;"><a href="javascript:LoadLotNumbers(' + data.ProductID + ',' + row + ')">' + "NA" + '</a></div>';
               }
            };

      });

      jsoncolumn.push(editproductrow);
      jsoncolumn.push(productPolicy);
      jsoncolumn.push(productwholesalerNumber);
      jsoncolumn.push(divestedProduct);


      var url = '../Product/BindJQXGridLayoutForServerSidePaging';
      var data = {};

      BindJQXGrid("#jqxgrid", url, data, jsoncolumn, null, true, function(source) {
            var totalrecord = source.totalrecords;
            if (totalrecord > 0) {
               $('#total-records').text(totalrecord);
               $(".show-pagesize-cmb").show();
            } else {
               $(".show-pagesize-cmb").hide();
               $('#total-records').text(0);
               $('#PagesizeCounter').val(500);

            }

         },
         function() {
            setTimeout(function() {
               var state = sessionStorage.getItem("ProductState");

               if (state) {
                  try {
                     state = JSON.parse(state);

                     $("#jqxgrid").jqxGrid('loadstate', state);

                     var index = state.selectedrowindexes;
                     if (!isNaN(index)) {
                        $("#jqxgrid").jqxGrid('ensurerowvisible', index);
                     }

                     sessionStorage.removeItem("ProductState");
                  } catch (e) {
                  }
               }
            }, 1000);
         });
   }

   function LoadProductState() {
      var state = sessionStorage.getItem("ProductState");

      if (state) {
         try {
            state = JSON.parse(state);
            $("#jqxgrid").jqxGrid('loadstate', state);
            //setTimeout(function () {
            //    debugger;
            //    var datarow = $("#jqxgrid").jqxGrid('getrowdata', state.selectedrowindex);

            //    window.location.hash = "#row12jqxgrid";

            //}, 2000);

            sessionStorage.removeItem("ProductState");
         } catch (e) {
         }
      }
   }

   function redirecttoEdit(id) {

      var state = $("#jqxgrid").jqxGrid('savestate');
      sessionStorage.setItem("ProductState", JSON.stringify(state));
      window.location = "../Product/EditProduct?prodId=" + id + "&mode=edit";
   }

   function BindHeaderValues(dataRecord) {
      $('#manufacturerpkager').text(dataRecord.Name);
      $('#manufacturerpkagerlabel').text(dataRecord.ProfileTypeName + " :");

      $('#prddesname').text(dataRecord.Description);

      if (dataRecord.Strength == '' || dataRecord.Strength == '-') {
         $('#prdstrength').text("NA");
      } else {
         $('#prdstrength').text(dataRecord.Strength);
      }

      if (dataRecord.NDCUPCWithDashes.length > 0) {
         $('#ndcupcid').text(dataRecord.NDCUPCWithDashes);
         $('#ndcupclabel').text(NDCUPCWithDashes + " :");
      } else if (dataRecord.NDC > 0) {
         $('#ndcupcid').text(dataRecord.NDC);
         $('#ndcupclabel').text(NDC + " :");
      } else if (dataRecord.UPC > 0) {
         $('#ndcupcid').text(dataRecord.UPC);
         $('#ndcupclabel').text(UPC + " :");
      }

   }

   //var pageNumber = 2;
</script>
<style type="text/css">
   #btnAddProduct {
      width: 120px;
      margin: 20px 0px 0px 0px;
      height: 40px;
      background-color: grey;
   }

   .btnimage {
      background: url("~/images/GridImage/icon-edit1.jpg") no-repeat;
      width: 10px;
      height: 10px;
   }

   .btndeleteimage {
      background: url("~/images/GridImage/icon-delete.jpg") no-repeat;
      width: 10px;
      height: 10px;
   }

   table, tr {
      /*border: 2px solid black;*/
   }

   table, th, td {
      /*width: 25px;*/
      width: auto;
      text-align: center;
      padding: 15px;
   }

   table th a {
      color: #fff;
   }

   #jqxExpander .jqx-expander-header {
      height: 20px !important;
   }
</style>

<div class="main-container">

   <input type="hidden" id="hdnTotalRecords"/>
   <div id="productList" class="product-list">
      <div class="top_heading">
         <h1>Products List</h1>
         <div class="">
            <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
               <div id="collapse">
                  <a href="#"><span><strong>-</strong></span> Collapse Search</a>
               </div>
               <div id="expand">
                  <a href="#"><span><strong>+</strong></span> Expand Search</a>
               </div>
            </div>
            <div class="media-clr media-margin"></div>
            <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">


               <ul>

                  <li><a class="custom-search add_btn">Custom Search</a><span>|</span></li>
                  <li><a class="custom-grid-btn add_btn">Custom Grid</a><span>|</span></li>
                  <li>
                     <a href="/Product/ProductDetails?mode=Add" class="add_btn">Add New Product</a>
                     @*@Html.ActionLink("Add New Product", "ProductDetails", new { @mode = "Add" })*@
                  </li>

               </ul>


            </div>
         </div>
         <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="product-box2">
         <div class="search-box" id="exp_col">

            @*Adding Search Panel As Partial View*@
            <div id="SearchPanelList">
            </div>


            <div class="clearfix"></div>



            <div class="search-btn">
               <div class="row">

                  <div class="col-md-12 margin_top">
                     <input type="button" id="btnSubmit" onclick="GetColumnAndBindintoGrid();" value="Search">
                     <input type="reset" onclick="ClearControl();" value="Reset">
                  </div>
               </div>
            </div>
         </div>

         @Html.TextBoxFor(m => m.CurrentPageNo, new {name = "txtCurrentPageNo", id = "txtCurrentPageNo", @class = "hidden"})


         <input type="hidden" id="hdnPageNo"/>

         <div class="row show-pagesize-cmb" style="margin: 10px auto;">
            <div class="col-md-12" style="margin-top: 5px;">

               <div class="pull-right">
                  @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new {@class = "select_pager"})
               </div>
               <div class="pull-right" style="padding: 7px 7px 5px 7px;">
                  <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new {@id = "lblidcounter", @class = "lblidcounter"})
               </div>
            </div>
         </div>
         <div id="copypager" class="grid-pageing-top">
         </div>
         <div class="clear"></div>
         <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;" @*class="margin_top"*@>
            <div class="bottom_input">
               <div id="jqxgrid" class="jqx">
               </div>
            </div>
         </div>
         <div class="grid-btn">
            <input type="button" class="grid-btn-prev" style="display: none" onclick="GenerateGridForRestPages(false);"/>
            <input type="button" class="grid-btn-next" style="display: none" onclick="GenerateGridForRestPages(true);"/>
         </div>

      </div>
   </div>
   <div id="dvmanufactureprddetails" class="search-box" style="display: none;">
      <div>
         <ul>
            <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
               <label><strong id="manufacturerpkagerlabel"> </strong>
                  <div id="manufacturerpkager"></div></label>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
               <label><strong id="ndcupclabel"></strong>
                  <div id="ndcupcid"></div></label>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
               <label><strong>Product Description :</strong>
                  <div id="prddesname"></div></label>
            </li>
            <li class="col-md-2 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
               <label><strong> Strength :</strong>
                  <div id="prdstrength"></div></label>
            </li>

         </ul>
      </div>
   </div>
   @Html.Partial("_LotDetailsByProduct", new Qualanex.QoskCloud.Entity.LotNumberViewModel())
   @Html.Partial("_WholesalerNumberDetails")
   @*@Html.Partial("PolicyDetailsByProduct")*@
   <div id="dvProductPolicy"></div>

   @Html.Partial("_DivestByLotNumber")
</div>

<!-- custom search-->
<div class="model-popup">
   <div class="custom-search-box">
      <div id="ColumnListingPopUp"></div>
   </div>
</div>

<!-- custom grid -->
<div class="clear"></div>

<div id="CustomGridListing"></div>
<div id="DivestedlotListing"></div>

@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")
<script>
   function ClearControl() {
      $(".datePicker").val("");
      $("input.clear-Checkbox").val("");
      $("select.clear-Checkbox").val("0");
      $(".clear-Checkbox").prop("checked", false);
   }

   $(document).ready(function() {

      $("#dvProductPolicy").load("../Product/PolicyDetailsByProduct");
      $("#btnok").click(function() {
         $(".alert-popup-body-message").hide();
         $(".alert-popup").animate({ "top": "40%" });
      })

      $("#IsDelete").after("<i></i>");
      $(".btnEditimage, .policy-btn, .delete-btn").html("");

      $(".show-pagesize-cmb").hide();
      $('#PagesizeCounter').change(function() {
         var pagesize = $('#PagesizeCounter').val();
         $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
      });

      $('.lot-icon').unbind("click");

   });

</script>




