﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "policyHiddenForm";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.SegmentGroup = "policy";
   ViewBag.Hidden = true;
   Layout = "~/Views/Shared/_SegmentLayout.cshtml";
}

@section SegmentTitle{}


<form id="policyForm" method="post" action="@Url.Action("UpdatePolicyResult")" data-ql-ajax="true" data-ql-highlight=".policy-status" data-ql-target="#policy-result" data-ql-finalize="@Url.Action("UpdatePolicyFinalize")">
   @Html.Partial("_PolicyFormHiddenFields", Model)
   @{
      var notificationIds = "";
      foreach (var id in Model.PolicyForm.NotificationIds)
      {
         if (notificationIds != "")
         {
            notificationIds += ",";
         }
         notificationIds += id;
      }
   }
   <input id="policyReturnNotifications" name="policyReturnNotifications" type="hidden" value="@notificationIds">

</form>

<script>
   $(document).ready(function()
   {

      exclusivePush(reloadOnClear, "@ViewBag.Tab.ObjectID");
      exclusivePush(reloadOnSelection,
          { target: "@ViewBag.Tab.ObjectID", action: "@Url.Action("UpdatePolicy")", group: "policy" });

   });
   if (window.setNextSegments)
   {
      window.setNextSegments();
   }
   @if (Model.PolicyForm.ProductId != 0)
   {
      @:$('#tabs-@ViewBag.Tab.ObjectID').animate({ scrollTop: 0 }, 200);
                     @:if ($("#tab-container .ql-tab.active a").attr("href") !== "#tabs-Waste")
                                    @:{ $("#tab-container").easytabs('select', "#tabs-@ViewBag.Tab.ObjectID"); }
                     @:if (window.policyOneTimeFunction)
                           {
            @:   window.policyOneTimeFunction();
               }
      }
</script>