﻿@using Qualanex.QoskCloud.Web.Areas.Product.ViewModels
@using Qualanex.QoskCloud.Web.ViewModels
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div id="finalize-result" class="panel-body @(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"] as string == "UpdatePolicyResult" ? "ql-finalize-return" : "ql-finalize")">
   <div id="finalize-body" class="row">
      @if (Model.PolicyForm.PolicyResult.Disposition == "Stock")
      {
         @Model.PolicyForm.PolicyFinalize.Message
      }
      <table>
         <tr>
            <td data-ql-method="post" data-ql-action="@Url.Action("UpdateMultiple")" name="NextNDC" data-ql-data="&options=@UpdateOptions.policy, @UpdateOptions.productDetail,@UpdateOptions.notifications, @UpdateOptions.search, @UpdateOptions.waste" class="ql-product-multi ql-action">
               <img src="~/Areas/Product/Images/Finalize_Icons/NextNDC_OFF.png" /><br />
               Next Product
            </td>
            <td class="ql-div-click ql-action" name="SameNDC" value="Same NDC/UPC"
                data-ql-method="post"
                data-ql-data="productId=@Model.PolicyForm.ProductId&rollupProductId=@(Model.PolicyForm.RollupProductId ?? Model.PolicyForm.ProductId)">
               <img src="~/Areas/Product/Images/Finalize_Icons/SameNDC_OFF.png" /><br />
               Same Product
            </td>
            @if (Model.UpaApplication.HasObjectId("PrintLabel") && (Model.PolicyForm.PolicyResult.Disposition == "Credit" || Model.PolicyForm.PolicyResult.Disposition == "Disposal"))
            {
               <td class="ql-print-click ql-action">
                  @Html.Partial("_PrintLabel", Model)
                  <img src="~/Areas/Product/Images/Finalize_Icons/DymoPrinter_Off.png" />
                  <br />
                  Re-Print Item Label(s)
                  <input id="printLabelButton" type="button" value="Submit Return and Print Item Label(s)" data-ql-target="#printLabel" data-ql-action="@Url.Action("PrintLabel")" hidden />
                  <span id="printError"></span>
               </td>
            }
         </tr>
      </table>
      <div id="finalize-loading" hidden>
         <img src="~/images/loader2.gif" />
      </div>
   </div>
</div>