﻿@using Microsoft.Ajax.Utilities
@using Qualanex.Qosk.Library.Model.PolicyModel
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
<div id="policy-result">
    @if (Model != null && Model.PolicyForm.PolicyResult.LogOut)
    {
        <script>window.location = "/User/Logout";</script>
    }
    <div>

        <div class="panel-body policy-status">
            <div class="row">
                <div class="col-xs-10">
                    <p>@Model.PolicyForm.PolicyResult.PolicyStatus</p>
                    @if (@Model.PolicyForm.PolicyResult.Violations.Any() && Model.PolicyForm.HazardClass == 0)
                    {
                        @:This item exceeds the terms of the credit policy for the following reason(s):
                        <ul>
                            @foreach (var violation in Model.PolicyForm.PolicyResult.Violations)
                            {
                                <li>
                                    @violation
                                </li>
                            }
                        </ul>
                    }
                </div>

            </div>
            <div>
                <div class="row scroll-disposition-options">
                    @{var optionCount = 0;}
                    @*@if (Model.PolicyForm.HazardClass > 0)
                    {
                        optionCount++;
                        <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                            <label>
                                <img src="~/Areas/Product/Images/Policy/HazardousWaste_OFF.png" />
                                <img src="~/Areas/Product/Images/Policy/HazardousWaste_ON.png" hidden />
                                <br>Place this product in your hazardous waste container<br />
                                @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Disposal", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Hazardous Waste", data_ql_next = "#finalize" })
                            </label>
                        </div>
                    }
                    else
                    {*@
                        @if (Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.CREDIT)
                        {
                            optionCount++;
                            <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                                <label>
                                    <img src="~/Areas/Product/Images/Policy/ReturnCredit_OFF.png" />
                                    <img src="~/Areas/Product/Images/Policy/ReturnCredit_ON.png" hidden />
                                    <br>Return for Credit<br />
                                    @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Credit", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Return for Credit", data_ql_next = "#finalize" })
                                </label>
                            </div>
                        }
                        @if ((Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.DESTRUCTION || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.DESTRUCTSTOCKRTN) && (Model.PolicyForm.ContainerCondition != null && Model.PolicyForm.ContainerCondition != "" && Model.PolicyForm.ContainerCondition.Contains(ContainerCondition.Damaged.ToString())))
                        {
                            optionCount++;
                            <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                                <label>
                                    <img src="~/Areas/Product/Images/Policy/ReturnDamaged_OFF.png" />
                                    <img src="~/Areas/Product/Images/Policy/ReturnDamaged_ON.png" hidden />
                                    <br>Return Damaged<br />
                                    @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Disposal", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Return for Disposal", data_ql_next = "#finalize" })
                                </label>
                            </div>
                        }
                        @if ((Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.DESTRUCTION
                              || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.DESTRUCTSTOCKRTN
                              || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.UNAVAILABLE
                              || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.CREDITSTOCKRTN)
                             && (Model.PolicyForm.ContainerCondition.IsNullOrWhiteSpace() || !Model.PolicyForm.ContainerCondition.Contains(ContainerCondition.Damaged.ToString())))
                        {
                            optionCount++;
                            <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                                <label>
                                    <img src="~/Areas/Product/Images/Policy/ReturnDisposal_OFF.png" />
                                    <img src="~/Areas/Product/Images/Policy/ReturnDisposal_ON.png" hidden />
                                    <br>Return for Disposal<br />
                                    @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Disposal", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Return for Disposal", data_ql_next = "#finalize" })
                                </label>
                            </div>
                        }
                        @if (Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.RTN4AGING
                             || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.AGINGNOSTK)
                        {
                            optionCount++;
                            <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                                <label>
                                    <img src="~/Areas/Product/Images/Policy/ReturnAging_OFF.png" />
                                    <img src="~/Areas/Product/Images/Policy/ReturnAging_ON.png" hidden />
                                    <br>Return for Aging<br />
                                    @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Aging", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Return for Aging", data_ql_next = "#finalize" })
                                </label>
                            </div>
                        }
                        @if (Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.CREDITSTOCKRTN
                             || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.DESTRUCTSTOCKRTN
                             || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.QUARANTINEHOLD
                             || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.RTN4AGING
                             || Model.PolicyForm.PolicyResult.CreditDisposition == CreditDisposition.UNAVAILSTOCKRTN)
                        {
                           optionCount++;
                            <div class="radio-inline scroll-item" data-unique-selection="dispostion">
                                <label>
                                    <img src="~/Areas/Product/Images/Policy/ReturnStock_OFF.png" />
                                    <img src="~/Areas/Product/Images/Policy/ReturnStock_ON.png" hidden />
                                    <br>Return to Stock<br />
                                    @Html.RadioButtonFor(model => model.PolicyForm.PolicyResult.Disposition, "Stock", new { @class = "DispositionRadio", form="policyForm", data_ql_label = "Return to Stock", data_ql_next = "#finalize" })
                                </label>
                            </div>
                        }
                    @*}*@
                </div>
            </div>
        </div>
        <div class="policy-status-loading align-center" hidden>

            <img src="~/images/loader2.gif" />
        </div>
        <div class="tdMessage">

            <table style="width: 100%;">
                <tr>
                    <td id="incompleteMessages" class="tdCaption error"></td>
                </tr>
            </table>
        </div>
    </div>
    @if (HttpContext.Current.Request.RequestContext.RouteData.Values["Action"] as string == "UpdatePolicyResult")
    {
        <div hidden>
            @Html.Partial("_PolicyFinalize", Model)
        </div>
    }

    @if (optionCount > 4)
    {
        <script>
            $(".scroll-disposition-options").slick({
                slidesToShow: 4,
                slidesToScroll: 4
            });
            $(".scroll-disposition-options").width("900px");

            $(".scroll-disposition-options").slick("slickGoTo", 1);
        </script>
    }
</div>
