﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
<div id="printLabel">
   <div id="labelImages" hidden>
      @foreach (var itemGuid in Model.PolicyForm.PolicyFinalize.ItemGuids)
      {
         <img id="@itemGuid.ItemGuid" />
         <input class="itemIdHidden" value="@itemGuid.ItemGuid" hidden />
      }
   </div>
   @if (Model.UpaApplication.HasObjectId("PrintLabel"))
   {
      <div id="labelImages" hidden>
         @foreach (var itemGuid in Model.PolicyForm.PolicyFinalize.ItemGuids)
         {
            <img id="@itemGuid.ItemGuid" />
            <input class="itemIdHidden" value="@itemGuid.ItemGuid" hidden />
         }
      </div>

      <script>
         function Print@(Model.PolicyForm.PolicyFinalize.ItemGuids.First().ItemGuid.ToString().Replace("-", string.Empty))()
         {
            @foreach (var itemGuid in Model.PolicyForm.PolicyFinalize.ItemGuids)
            {
               <text>
               var backupPrint = function()
               {
                  try
                  {
                     window.preparePrint();

                     // open label
                     var labelXml = '<?xml version="1.0" encoding="utf-8"?>\
<DieCutLabel Version="8.0" Units="twips">\
   <PaperOrientation>Landscape</PaperOrientation>\
   <Id>Small30336</Id>\
   <PaperName>30336 1 in x 2-1/8 in</PaperName>\
   <DrawCommands>\
      <RoundRectangle X="0" Y="0" Width="1440" Height="3060" Rx="180" Ry="180" />\
   </DrawCommands>\
   <ObjectInfo>\
      <TextObject>\
         <Name>TEXT</Name>\
         <ForeColor Alpha="255" Red="0" Green="0" Blue="0" />\
         <BackColor Alpha="0" Red="255" Green="255" Blue="255" />\
         <LinkedObjectName></LinkedObjectName>\
         <Rotation>Rotation0</Rotation>\
         <IsMirrored>False</IsMirrored>\
         <IsVariable>False</IsVariable>\
         <HorizontalAlignment>Left</HorizontalAlignment>\
         <VerticalAlignment>Top</VerticalAlignment>\
         <TextFitMode>ShrinkToFit</TextFitMode>\
         <UseFullFontHeight>True</UseFullFontHeight>\
         <Verticalized>False</Verticalized>\
         <StyledText>\
            <Element>\
               <String>@itemGuid.ItemGuid.ToString().ToUpper()\n\n\
NDC/UPC: @Model.PolicyForm.PolicyFinalize.ProductDetail.NDCUPCWithDashes\n\
Description: @Model.PolicyForm.PolicyFinalize.ProductDetail.Brand\n\
Strength: @Model.PolicyForm.PolicyFinalize.ProductDetail.Strength\n\
Qty: @Model.PolicyForm.PolicyFinalize.Quantity (@Model.PolicyForm.PolicyFinalize.StateCode) Pkg: @Model.PolicyForm.PolicyFinalize.ProductDetail.PackageSize\n\
Lot #: @(Model.PolicyForm.SelectedLot.LotNumber.IsNullOrWhiteSpace() ? "N/A" : Model.PolicyForm.SelectedLot.LotNumber)\n\
Exp. Date: @(Model.PolicyForm.SelectedLot.ExpirationDate.HasValue ? string.Format("{0:MM/yyyy}", Model.PolicyForm.SelectedLot.ExpirationDate) : "N/A")\n\
Waste Approval #: @Model.PolicyForm.PolicyFinalize.WasteCode\
               </String>\
               <Attributes>\
                  <Font Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" />\
                  <ForeColor Alpha="255" Red="0" Green="0" Blue="0" />\
               </Attributes>\
            </Element>\
         </StyledText>\
      </TextObject>\
      <Bounds X="250" Y="150" Width="7000" Height="1200" />\
   </ObjectInfo>\
</DieCutLabel>';
                        @*<ObjectInfo>\
      <ImageObject>\
         <Name>BARCODE_2D</Name>\
         <ForeColor Alpha="255" Red="0" Green="0" Blue="0" />\
         <BackColor Alpha="0" Red="255" Green="255" Blue="255" />\
         <LinkedObjectName></LinkedObjectName>\
         <Rotation>Rotation0</Rotation>\
         <IsMirrored>False</IsMirrored>\
         <IsVariable>False</IsVariable>\
         <Image>@itemGuid.ItemBarcode</Image>\
         <ScaleMode>Uniform</ScaleMode>\
         <BorderWidth>0</BorderWidth>\
         <BorderColor Alpha="255" Red="0" Green="0" Blue="0" />\
         <HorizontalAlignment>Center</HorizontalAlignment>\
         <VerticalAlignment>Center</VerticalAlignment>\
      </ImageObject>\
      <Bounds X="1900" Y="150" Width="1100" Height="1100" />\
   </ObjectInfo>\*@

                     var label = dymo.label.framework.openLabelXml(labelXml);

                     if (window.printerName)
                     {
                        label.printAsync(window.printerName);
                     }
                     else
                     {
                        $("#rePrintLabelButton").hide();
                        $("#printError").html("Install a Dymo Printer to print label(s)");
                     }

                        // finally print the label
                  }
                  catch (e)
                  {
                     $("#printError").html(e.message);
                  }
               }

                @{
                   var printRequest = "https://localhost:8006/Qualanex/http/Print?funcClass=guid&dataStream=GUID=" + itemGuid.ItemGuid.ToString().ToUpper()
                                      + "§Caption=" + itemGuid.ItemGuid.ToString().Substring(24).ToUpper();
                   //+ "§NDCUPC=" + Model.PolicyForm.PolicyFinalize.ProductDetail.NDCUPCWithDashes
                   //+ "§Descr=" + Model.PolicyForm.PolicyFinalize.ProductDetail.Brand
                   //+ "§Strength=" + Model.PolicyForm.PolicyFinalize.ProductDetail.Strength
                   //+ "§Qty=" + Model.PolicyForm.PolicyFinalize.Quantity
                   //+ "§SealedStatus=" + Model.PolicyForm.PolicyFinalize.StateCode
                   //+ "§PkgSz=" + Model.PolicyForm.PolicyFinalize.ProductDetail.PackageSize
                   //+ "§LotNumber=" + (Model.PolicyForm.SelectedLot.LotNumber.IsNullOrWhiteSpace() ? "N/A" : Model.PolicyForm.SelectedLot.LotNumber)
                   //+ "§ExpDate=" + (Model.PolicyForm.SelectedLot.ExpirationDate.HasValue ? string.Format("{0:MM/yyyy}", Model.PolicyForm.SelectedLot.ExpirationDate) : "N/A")
                   //+ "§ApprovedCode=" + Model.PolicyForm.PolicyFinalize.WasteCode
                   //+ "§WasteDescr=" + Model.PolicyForm.PolicyFinalize.WasteDescription;
                 }
               $.getJSON("@Html.Raw(printRequest)", function (data)
               {
                  console.log(data);

                  if (data === true)
                  {
                     $("#scaleTare").attr("disabled", false);
                     $("#scaleCapture").attr("disabled", false);
                  }
               });

               </text>
            }
         }

         if ($(".ItemGuid").val() === "") //If guid is populated, this item is being reinducted and doesn't need a label
         {
            Print@(Model.PolicyForm.PolicyFinalize.ItemGuids.First().ItemGuid.ToString().Replace("-", string.Empty))();
         }

         $(".ql-print-click").unbind();
         $(".ql-print-click").bind("click", function (e)
         {
            Print@(Model.PolicyForm.PolicyFinalize.ItemGuids.First().ItemGuid.ToString().Replace("-", string.Empty))();
            ga('send', 'event', 'Policy', 'RePrintClick');
         });
      </script>
   }
</div>