﻿@*
   This product detail form is shared by all UPA applications.

   When the form is submitted, either through pressing the enter button, or the
      submit button in index.cshtml, the logic for handling the ajax and resulting updates
      is in the ajaxFormSubmit method in QoskCommon.js
*@
@using Microsoft.Ajax.Utilities
@using Qualanex.QoskCloud.Web.Areas.Product.ViewModels
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.showLogo = Model.ProductDetail.NDCUPCWithDashes.IsNullOrWhiteSpace();
   ViewBag.productId = Model.ProductDetail.Request.Product.ProductId;
   Model.ProductDetail.Request.AppCode = Model.UpaApplication.Code;
}

@Html.Partial("_Wait")

<div id="productDetail">
   <div id="productDetailFull" class="formMax" style="display: block;">
      @*The expanded detail form*@
      <table class="tableEx">
         <tr>
            <td class="ql-detailimage ql-full tdPreview">
               @Html.Partial("_ImageCarousel", Model.ProductDetail.Request.Imprint.Images)
            </td>
            <td style="padding: 0;">
               <form id="productDetailForm" class="formEx" method="post" action="@Url.Action("updateSearch")" data-ql-ajax="true" data-ql-target-array="reloadOnSearch">
                  @Html.HiddenFor(model => model.ProductDetail.Request.ExpirationDate, new { @class = "expDateField" })
                  @Html.HiddenFor(model => model.ProductDetail.Request.Product.ProfileCode, new { @class = "productProfileCodeHidden" })
                  @Html.HiddenFor(model => model.ProductDetail.Request.AppCode, new { @class = "appCodeHidden" })
                  <table class="tableEx">
                     <tr>
                        <td class="tdLabel">NDC/UPC</td>
                        <td style="width: 25%;">@Html.TextBoxFor(model => model.ProductDetail.NDCUPCWithDashes, new { @class = "ndcField inputEx" })</td>
                        <td class="tdLabel">Mfg<input type="submit" style="height: 0px; width: 0px; opacity: 0; cursor: default" /></td>
                        <td colspan="3">
                           @Html.EditorFor(model => model.ProductDetail.Request.Product.Manufacturer, new { htmlAttributes = new { @class = "mfgrField inputEx", list = "mfgrList" } })
                           <datalist id="mfgrList">
                              @foreach (var item in Model.ProductDetail.ManufacturerOptions)
                              {
                                 <option value="@item">@item</option>
                              }
                           </datalist>
                        </td>
                     </tr>
                     <tr>
                        <td class="tdLabel">Product</td>
                        <td colspan="5">@Html.EditorFor(model => model.ProductDetail.Request.Product.Brand, new { htmlAttributes = new { @class = "brandField inputEx" } })</td>
                     </tr>
                     <tr><td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="6">Imprint</td></tr>
                     <tr>
                        <td class="tdLabel">Side 1</td>
                        <td>@Html.EditorFor(model => model.ProductDetail.Request.Imprint.Obverse, new { htmlAttributes = new { @class = "inputEx" } })</td>
                        <td class="tdLabel">Side 2</td>
                        <td colspan="3">@Html.EditorFor(model => model.ProductDetail.Request.Imprint.Reverse, new { htmlAttributes = new { @class = "inputEx" } })</td>
                     </tr>
                     <tr>
                        <td class="tdLabel">Shape</td>
                        <td>@Html.DropDownListFor(model => model.ProductDetail.Request.Imprint.Shape, Model.ProductDetail.ShapeOptions, new { @class = "selectEx" })</td>
                        <td class="tdLabel">Color</td>
                        <td>@Html.DropDownListFor(model => model.ProductDetail.Request.Imprint.Color, Model.ProductDetail.ColorOptions, new { @class = "selectEx" })</td>
                        <td class="tdLabel">Score</td>
                        <td>@Html.DropDownListFor(model => model.ProductDetail.Request.Imprint.Score, Model.ProductDetail.ScoreOptions, new { @class = "selectEx" })</td>
                     </tr>
                     <tr><td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="6">Packaging</td></tr>
                     <tr>
                        <td class="tdLabel">Brand</td>
                        <td><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.Brand)" readonly /></td>
                        <td class="tdLabel">Generic</td>
                        <td colspan="3"><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.Generic)" readonly />
                     </tr>
                     <tr>
                        <td class="tdLabel">Dosage</td>
                        <td><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.DosageCode)" readonly /></td>
                        <td class="tdLabel">Unit / Pkg</td>
                        <td><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.UnitsPerPackage)" readonly /></td>
                        <td class="tdLabel">Pkg Size</td>
                        <td><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.PackageSize)" readonly /></td>
                     </tr>
                     <tr>
                        <td class="tdLabel">Ctrl#</td>
                        <td><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.CtrlNumber)" readonly /></td>
                        <td class="tdLabel">Rx / OTC</td>
                        <td colspan="3"><input type="text" class="inputEx" value="@Html.DisplayFor(model => model.ProductDetail.Request.Product.Rx)" readonly /><input type="submit" value="Perform Search" hidden /></td>
                     </tr>
                  </table>
               </form>
               <script>
                  $(document).ready(function ()
                  {
                     //specifies that when the Clear button is pressed, the form should be included in the updates
                     exclusivePush(reloadOnClear,"productDetail");
                     //specifies that when a product is selected, the form should be included in the updates
                     exclusivePush(reloadOnSelection, { target: "productDetail", action: "@Url.Action("UpdateDetail")" });

                     //for some reason, the form is refreshed after completing an induction entry and/or pressing the Clear button
                     //this sets autocomplete off on all form fields again
                     $("input").attr("autocomplete", "off");
                  });
                  if ($(".ndcField").val() === "")
                  {
                     @if (Model.UpaApplication.Code == "WAREHS_AUDIT")
                     {
                        <text>
                           $("#ItemGUID").focus();
                        </text>
                     }
                     else if (Model.CurrentInbound != null && !String.IsNullOrEmpty(Model.CurrentInbound.ContainerId) || Model.UpaApplication.Code == "PHARMA_DECISION")
                     {
                        <text>
                           $(".ndcField").focus();
                        </text>
                     }
                     else
                     {
                        <text>
                           $(".requiredContainerId").focus();
                        </text>
                     }
                  }

                  //Minimize the form if it has been populated with a product. I don't know why it's marked as an error, it works as expected
                  if ( @(Model.ProductDetail.Request.Product.ProductId > 0 ? "true" : "false") )
                  {
                      hideDetail();
                  }
               </script>
            </td>
         </tr>
      </table>
   </div>
   <div id="productDetailMinimal" class="formMin" style="display: none">
      @*The collapsed detail form*@
      <table class="tableEx">
         <tr>
            <!-- product image -->
            <td class="ql-detailimage ql-min tdPreview">
               @Html.Partial("_ImageCarousel", Model.ProductDetail.Request.Imprint.Images)
            </td>
            <!-- the form -->
            <td style="padding: 0;">
               <form id="productDetailMinForm" method="post" action="@Url.Action("updateSearch")" data-ql-ajax="true" data-ql-target-array="reloadOnSearch">
                  <table>
                     <tr>
                        <td class="tdLabel">NDC/UPC</td>
                        <td style="width: 160px;"><span id="ndcMin">@Html.EditorFor(model => model.ProductDetail.NDCUPCWithDashes, new { htmlAttributes = new { @class = "ndcMin inputEx" } })</span></td>
                        <td class="tdLabel">Mfg<input type="submit" style="height: 0px; width: 0px; opacity: 0; cursor: default" /></td>
                        <td>@Html.EditorFor(model => model.ProductDetail.Request.Product.Manufacturer, new { htmlAttributes = new { @class = "mfgrMin inputEx", list = "mfgrList" } }) </td>
                     </tr>
                     <tr>
                        <td class="tdSummary" colspan="5" style="font-size: 16px; padding: 3px 0 0;">
                           @if (Model.ProductDetail.Request.Product.ProductId > 0)
                           {
                              <text>
                                 @Html.DisplayFor(model => model.ProductDetail.Request.Product.Brand) / @Html.DisplayFor(model => model.ProductDetail.Request.Product.Generic) / @Html.DisplayFor(model => model.ProductDetail.Request.Product.DosageCode) / @Html.DisplayFor(model => model.ProductDetail.Request.Product.UnitsPerPackage) @Html.DisplayFor(model => model.ProductDetail.Request.Product.UnitOfMeasure) / @Html.LabelFor(model => model.ProductDetail.Request.Product.PackageSize) @Html.DisplayFor(model => model.ProductDetail.Request.Product.PackageSize) / @Html.DisplayFor(model => model.ProductDetail.Request.Product.Rx)
                              </text>
                           }<input type="submit" value="Perform Search" hidden />&nbsp;
                        </td>
                     </tr>
                     <tr><td class="tdFiller" style="height: 10px; border-bottom: 0px;" colspan="6"></td></tr>
                  </table>
               </form>
            </td>
         </tr>
      </table>
   </div>
</div>