﻿
@using Qualanex.Qosk.Library.Model.UPAModel
@using Qualanex.QoskCloud.Utility
@using Qualanex.QoskCloud.Web.Areas.Product.Models
@using Qualanex.QoskCloud.Web.Areas.Product.ViewModels
@using Qualanex.QoskCloud.Web.ViewModels
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   ViewBag.Title = Model.UpaApplication.DisplayFormat;
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}
@Scripts.Render("~/bundles/qosk/induction")
@if (Model.UpaApplication.HasObjectId("_SegmentBinventory"))
{
   @Scripts.Render("~/bundles/qosk/binventory")
}

@*This file is built from source provided by webrtc and should be updated
   periodically to match webrtc apis*@
<script src="~/js/webrtc-adapter/adapter.js"></script>

@if (ViewBag.pageViewId != null)
{
   <script>
      $("[name=pageViewId]").val("@ViewBag.pageViewId");
   </script>
}
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.UpaApplication.Code" disableApp="false">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr> @*Header Area*@
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    width: 250px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel tdPreview">Image Select</td>
                                    <td class="formLabel">Product Detail</td>
                                    <td class="tdCtrl"><img class="formCtrl" title="Show less detail" src="~/Images/Form/Qosk_Form_Collapse.svg" alt="" /></td>
                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @* UPA applications share the top Product Detail form 
                                          since it's the universal PRODUCT area *@
                                       @Html.Partial("_ProductDetail", Model)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <tr> @*Tab area*@
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs" style="margin-left: 4px;">
                              @*Generate tab headers/labels for each tab defined by the UPA application*@
                              @foreach (var tab in Model.UpaApplication.childObj.Values /*the direct children of the application are tabs*/)
                              {
                                 if (tab.ObjectID == Constants.UpaSidebar)
                                 {
                                    continue;
                                 }
                                 <li id="search-tab" class="ql-tab">
                                    <a href="#tabs-@tab.ObjectID">
                                       <span id="tab-title-@tab.ObjectID">@tab.DisplayFormat</span>
                                       @*the spinner below is to be displayed when an ajax call is updating a tab's contents asynchronously*@
                                       <!--<img class="actionLoad" id="@tab.ObjectID-loading" src="~/images/loader2.gif" alt=""/>-->
                                    </a>
                                 </li>
                              }
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>

                                       <input form="productDetailForm" class="viewHidden" data-val="true" data-val-required="The Result View field is required." id="ProductDetail_Request_ResultView" name="ProductDetail.Request.ResultView" type="hidden" value="List"/>

                                       <input form="productDetailMinForm" class="viewHidden" data-val="true" data-val-required="The Result View field is required." id="ProductDetail_Request_ResultView" name="ProductDetail.Request.ResultView" type="hidden" value="List"/>
                                       @*If the application allows users to switch between image and list search results, show the two options with a separator*@
                                       @if (Model.UpaApplication.HasObjectId("resultViewImg") && Model.UpaApplication.HasObjectId("resultViewList"))
                                       {
                                          <td class="actionTool"><a><img class="resultViewImg listView actionIcon" title="Results in list format" data-value="@ResultView.List" data-active-src="/images/Actionbar/ActionBar_ListView(1).svg" data-inactive-src="/images/Actionbar/ActionBar_ListView(0).svg" src="~/images/Actionbar/ActionBar_ListView(1).svg" alt=""/></a></td>
                                          <td class="actionTool"><a><img class="resultViewImg imageView actionIcon" title="Results in image format" data-value="@ResultView.Image" data-active-src="/images/Actionbar/ActionBar_ImageView(1).svg" data-inactive-src="/images/Actionbar/ActionBar_ImageView(0).svg" src="~/images/Actionbar/ActionBar_ImageView(0).svg" alt=""/></a></td>
                                          <td class="actionSep"><span></span></td>
                                       }
                                       @*All UPA applications share the submit and clear buttons*@<td class="actionTool"><a id="SubmitSearch" value="Submit" href="#"><img class="actionBar actionIcon" title="Submit" src="~/images/Actionbar/ActionBar_Submit.svg" alt=""/></a></td>
                                       @*the clear button submits a call to UpdateMultiple with all tabs selected, but no data to get default values back*@
                                       <td class="actionTool"><a value="Clear" name="Clear" href="#" data-ql-method="post" data-ql-action="@Url.Action("UpdateMultiple")" data-ql-data="&options=@UpdateOptions.policy, @UpdateOptions.productDetail, @UpdateOptions.search, @UpdateOptions.waste, @UpdateOptions.notifications" class="ql-product-multi"><img class="actionBar actionIcon" src="~/images/Actionbar/ActionBar_Clear(1).svg" title="Clear" alt=""/></a></td>
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             @foreach (var tab in Model.UpaApplication.childObj.Values)
                                             {
                                                //though sidebar is defined as a tab in the UPA tables (TabDict, AppTabRel), it
                                                //should be rendered on the side as its name implies and not alongside other tabs
                                                if (tab.ObjectID == Constants.UpaSidebar)
                                                {
                                                   continue;
                                                }
                                                //each tab is rendered within an easytabs div
                                                <div class="ql-body" id="tabs-@tab.ObjectID" style="position: relative; height: 100%; overflow-y: scroll;">
                                                   @*the tab is being specified in the viewbag instead of the model so that all non-application
                                                      parts of the model are still passed in, but the inner tab knows what part of the model should
                                                      be rendered*@
                                                   @{ ViewBag.Tab = tab; }
                                                   @*with the exception of sidebar, all tabs have the exact same rendering requirement*@
                                                   @Html.Partial("_Tab", Model)
                                                </div>
                                             }
                                             <script>
                                                @*EasyTabs provides the tab switching behavior*@
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-Bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin">
         @*The sidebar tab that was skipped above is rendered in the right margin
            with sidebar specific rules*@
         @Html.Partial("_Sidebar", Model)
      </td>
   </tr>
</table>
