﻿
@{
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}
@using Qualanex.QoskCloud.Web.Areas.Product.Models
@using Qualanex.QoskCloud.Web.Areas.Product.ViewModels
@using Qualanex.QoskCloud.Web.ViewModels
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@Scripts.Render("~/bundles/qosk/induction")

<script src="~/js/webrtc-adapter/adapter.js"></script>

@if (ViewBag.pageViewId != null)
{
   <script>
        $("[name=pageViewId]").val("@ViewBag.pageViewId");
   </script>
}
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"> </td>

      <td>
         <table class="QoskBody" AppCode="WAREHS_RETURN">

            <tr style=""><td class="" style="height: 8px;"></td></tr>
            <tr style="">
               <td class="" style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td style="height: 102px;">
                           @Html.Partial("_ProductDetail", Model)
                        </td>
                     </tr>
                     <tr>

                        <td id="tab-container" class="tabContainer">

                           <ul class="etabs row">
                              <li id="search-tab" class="ql-tab">
                                 <a href="#tabs-SearchResults">Search</a>
                                 <!--<img id="search-loading" src="~/images/loader2.gif" width="20" hidden />-->
                              </li>
                              <li id="policy-tab" class="ql-tab">
                                 <a href="#tabs-policy">
                                    @if (Request.Url.AbsolutePath.Contains("DecisionSupport"))
                                    {
                                       @:Decision Support
                                    }
                                    else
                                    {
                                       @:Returns/Policy
                                    }
                                 </a>
                                 <!--<img id="policy-loading" src="~/images/loader2.gif" width="20" hidden />-->
                              </li>

                              <li id="waste-tab" class="ql-tab">
                                 <a href="#tabs-waste">Waste</a>
                                 <!--<img id="waste-loading" src="~/images/loader2.gif" width="20" hidden />-->
                              </li>
                              <li id="notification-tab" class="ql-tab">
                                 <a href="#tabs-notifications">Notifications (<span id="notificationCount">@Model.Notification.Count()</span>)</a>
                                 <!--<img id="notifications-loading-disabled" src="~/images/loader2.gif" width="20" hidden />-->
                              </li>

                              <li class="tab" style="display: inline-block; margin-right:19px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td class="actionTool"><a><img class="resultViewImg listView actionIcon" title="Results in list format" data-value="@ResultView.List" data-active-src="/images/Actionbar/ActionBar_ListView(1).svg" data-inactive-src="/images/Actionbar/ActionBar_ListView(0).svg" src="~/images/Actionbar/ActionBar_ListView(0).svg" /></a></td>
                                       <td class="actionTool"><a><img class="resultViewImg imageView actionIcon" title="Results in image format" data-value="@ResultView.Image" data-active-src="/images/Actionbar/ActionBar_ImageView(1).svg" data-inactive-src="/images/Actionbar/ActionBar_ImageView(0).svg" src="~/images/Actionbar/ActionBar_ImageView(0).svg" /></a></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><a id="SubmitSearch" value="Submit" href="#"><img class="actionBar actionIcon" src="~/images/Actionbar/ActionBar_Submit.svg" title="Submit" /></a></td>
                                       <td class="actionTool"><a value="Clear" name="Clear" href="#" data-ql-method="post" data-ql-action="@Url.Action("UpdateMultiple")" data-ql-data="&options=@UpdateOptions.policy, @UpdateOptions.productDetail, @UpdateOptions.search, @UpdateOptions.waste, @UpdateOptions.notifications" class="ql-product-multi"><img class="actionBar actionIcon" src="~/images/Actionbar/ActionBar_Clear(0).svg" title="Clear" /></a></td>
                                    </tr>
                                 </table>
                              </li>
                           </ul>

                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top; border-radius: 0px 0px 5px 5px; border-left: 1px solid #2A669F; border-right: 1px solid #2A669F; border-bottom: 1px solid #2A669F;">


                                             <div class="ql-body" id="tabs-SearchResults" style="position: relative; height: 100%;">
                                                @Html.Partial("_SearchResults", Model.SearchResults)
                                             </div>
                                             <div class="ql-body" id="tabs-policy" style="position: relative; height: 100%; overflow-y: scroll;">
                                                @Html.Partial("_Policy", Model)
                                             </div>
                                             <div class="ql-body" id="tabs-waste" style="position: relative; height: 100%; overflow-y: scroll;">
                                                @Html.Partial("_Waste", Model)
                                             </div>
                                             <div class="ql-body" id="tabs-notifications" style="position: relative; height: 100%; overflow-y: scroll;">
                                                @Html.Partial("_Notifications", Model)
                                             </div>
                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>

                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr style=""><td class="" style="height: 1px;"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin" style="" />
   </tr>
</table>

