﻿
@{
    ViewBag.Title = "SlickDemo";
  //  Layout = "~/Views/Shared/_QoskLayout.cshtml";
}
<html>
<head>

    <link href="~/Content/Slick/slick.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick-theme.css" rel="stylesheet" />
</head>
<body>

<h2>SlickDemo</h2>

<div class="slider slickScroll" width="800px">
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Original(Sealed).png"/>
            <br>Original Sealed<br/>


        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Original(Opened).png"/>
            <br>Original Open<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Prescription.png"/>
            <br>Prescription<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Loose.png"/>
            <br>Loose/No Container<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Case.png"/>
            <br>Case<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_UnitDose.png"/>
            <br>Repackaged Unit Dose<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Repackager(Sealed).png"/>
            <br>Repackager Sealed<br/>

        </label>
    </div>
    <div class="radio-inline scroll-item" data-unique-selection="containerType">
        <label>
            <img src="~/Areas/Product/Images/ContainerType/ContainerType_Repackager(Opened).png"/>
            <br>Repackager Open<br/>

        </label>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/slick")
    <script>
                                $(".scroll-container").slick({
                                    slidesToShow: 4,
                                    slidesToScroll: 4
                                });
                                $(".scroll-container").width("900px");
    </script>
</body>
</html>