﻿@using Qualanex.QoskCloud.Utility.Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .whiteborder {
        border: none;
        padding: 0px;
        margin-bottom: 11px;
    }

    table.criteria-grid {
        width: 100%;
        margin-bottom: 2px;
    }

        table.criteria-grid tbody tr td {
            border: none;
            color: #fff;
            width: 50%;
            padding: 0 10px;
            box-sizing: border-box;
            vertical-align: bottom;
        }

    /*body {
        overflow: hidden;
    }*/
</style>

<input type="hidden" value="@ViewBag.ReportId" id="hdnReportid" />
<input type="hidden" value="@ViewBag.ReportScheduleId" id="hdnReportScheduleId" />
<input type="hidden" value="" id="hdnEditNewClicked" />
<input type="hidden" value="" id="hdnGridHeight" />
<input type="hidden" value="" id="hdnReportName" />
<input type="hidden" value="" id="hdnRunOnlineReport" />


<form id="frmReportScheduler">
    <div class="cl"></div>
    <div id="divloaderBackground" class="ui-widget-overlay ui-front" style="position: absolute; display: none;"></div>
    <div class="loader" style="position: absolute;display: none;" id="divLoader"></div>
   
    <div class="report-wrapper">
        <div class="col-md-5 col-sm-3 col-xs-12">
            <fieldset class="scheduler-border legend">
                <legend class="scheduler-border">Report Criteria</legend>
                @*<div class="report-criteria-section mrg-t20" id="divReportParameter">
                    </div>*@
                <div id="SearchPanelList" class="report-criteria-section mrg-t20">
                </div>
            </fieldset>
        </div>
        <div class="col-md-7 col-sm-9  col-xs-12">
            <fieldset class="scheduler-border legend">
                <legend class="scheduler-border">Report Schedule</legend>
                <div id="divReportScheduler">
                </div>

            </fieldset>

        </div>
        <div class="cl"></div>
    </div>
    <div class="row">
        <div class="col-md-12 paddleft_right0">
            <h5 class="text-center schedule-title" id="reportScheduleHeading">Scheduled Reports (@ViewBag.ReportName)</h5>
            <h5 class="text-center schedule-title" id="reportScheduleHistoryHeading">Scheduled Report History (@ViewBag.ReportName)</h5>
            <h5 class="text-center schedule-title" id="reportPreviewHeading">@ViewBag.ReportName</h5>
            <h5 class="text-center schedule-title" id="reportImageVideoHeading">Image/Video (@ViewBag.ReportName)</h5>
            <div class="col-md-12 data-grid-show" id="gridData">
                <div id="jqxWidget" style="font-size: 13px; font-family: Verdana; width:auto;" class="custom-table custom-table-wordwrap">
                    <div id="dvJqxgrid_schedule" role="grid" align="left" class="jqx-grid jqx-reset jqx-rc-all jqx-widget jqx-widget-content jqx-disableselect" style="max-width: 100%; display: block;">

                    </div>
                    <div id="dvJqxgrid_ReportSummary" role="grid" align="left" class="jqx-grid jqx-reset jqx-rc-all jqx-widget jqx-widget-content jqx-disableselect" style="width: auto; display: none;">

                    </div>

                </div>

            </div>

            <div class="whiteborder" id="dvReportPreview" style="display:none;">
                <iframe id="ifReport" style="width:100%; height:100%;" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-md-12" id="dvReportPreviewXLS" style="display:none;">
                <div id="jqxWidgetPreview" style="font-size: 13px; font-family: Verdana; max-width:100%;" class="custom-table custom-table-wordwrap">
                    <div id="dvJqxgrid_ReportPreviewXLS" role="grid" align="left" class="jqx-grid jqx-reset jqx-rc-all jqx-widget jqx-widget-content jqx-disableselect">

                    </div>
                </div>
                <div id="dvJqxgrid_ReportPreviewCSV" class="table-responsive data-grid-show" style="overflow-x:auto; overflow-y:auto;display:none; width: 100%;">

                </div>
                <div id="dvJqxgrid_ReportImageVideo" class="table-responsive data-grid-show" style="overflow-x:auto; overflow-y:auto;display:none; width: 100%;">

                </div>
            </div>

        </div>
    </div>
    <!-- custom search-->
    <div class="model-popup">
        <div class="custom-search-box">
            <div id="ColumnListingPopUp"></div>

        </div>
    </div>
    <div class="cl"></div>
    <div class="cl"></div>
    <div class="navbar-div">
        <a id="anchorDetail" data-toggle="tab" class="active"><span>Detail</span></a>
        <a id="anchorHistory" data-toggle="tab" class=""><span>History</span></a>
        <a id="anchorPreview" data-toggle="tab" class=""><span>Preview</span></a>
        <a id="anchorImagesVideos" data-toggle="tab" class=""><span>Image/Video</span></a>
        <span id="reportPageNumber" class="float-right text-middle" style="display:none;font-weight:bold"></span>
    </div>
    <div class="report-footer">Copyright &copy;  2000-2016 Qualanex, LLC. All Rights Reserved.</div>
</form>
<div class="clear"></div>
<div id="CustomGridListing"></div>

    @Html.Partial("AlertPopupView")
    @Html.Partial("DeleteConfirmation")
    @Html.Partial("SendEmail")
    @Html.Partial("ImagePopup")

    @section scripts
{
       <script>
          var _ReportName = "@ViewBag.ReportName";
          var _ReportModule = "@ViewBag.ReportModule";
          var _SearchPanelLayoutID = "@ViewBag.SearchPanellayoutID";
          var _ListPanellayoutID = "@ViewBag.ListPanellayoutID";
          var AllGridHeight = "";
       </script>
        <script src="~/js/ReportScheduleJS.js"></script>
        <script src="~/js/ReportCustomGrid.js"></script>
        <script src="~/js/ReportCustomGridDetail.js"></script>
<script src="~/js/ImagePopupPlugin/jquery.jfMagnify.min.js"></script>
    }


    <style>
        #dvJqxgrid_ReportPreviewXLS .jqx-widget-header {
            background: #87BA4A !important;
            font-size: 12.5px !important;
            font-family: Arial !important;
            color: black;
        }

        #jqxWidgetPreview > .jqx-widget .jqx-grid-cell {
            border-color: #CCC;
        }

        #jqxWidgetPreview > .jqx-widget-content .jqx-grid-column-header {
            border-top-color: black;
            border-top: none;
            border-left: none;
        }

        .ImageTable img {
            background: url('../../images/img-loader.gif');
            background-size: 100px 100px;
        }

        table.VideoTable {
            display: none;
        }

        .container1 {
            position: relative;
            width: 100px;
            height: 100px;
            float: left;
            margin-left: 10px;
        }

        .checkbox1 {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

      
    </style>

