﻿@model Qualanex.QoskCloud.WebReports.ViewModel.ReportScheduleDetailViewModel
@Html.ValidationSummary()
@Html.HiddenFor(model => model.ScheduleType, new { @id = "ScheduleType" })
@Html.HiddenFor(model => model.Meridieum, new { @id = "Meridieum" })



<div class="validation-summary-valid" data-valmsg-summary="true">
    <ul>
        <li style="display:none"></li>
    </ul>
</div>
<input data-val="true" data-val-required="The ScheduleType field is required." id="ScheduleType" name="ScheduleType" type="hidden" value="Hour">
<input data-val="true" data-val-required="The Meridieum field is required." id="Meridieum" name="Meridieum" type="hidden" value="AM">


<div class="mrg-t10 clearfix" id="upperScheduleFields">
    <div class="w-lxl inline-bl">
        <div class="line">
            <label class="inline-bl w-xxs pad-r-sm mrg-b10" for="">Title</label>
            @Html.TextBoxFor(model => model.ScheduleReportTitle, new { @class = "validate[required] w-mxl form-control mrg-b10 inline-bl" })
        </div>
    </div>

    <div class="w-mgx inline-bl xs_text_align">
        <div class="line">
            <label class="text-right inline-bl w-xs pad-r-sm mrg-b10 w-xs_text xs_text_align" for="">Type</label>
            @Html.DropDownListFor(model => model.FileType, (IEnumerable<SelectListItem>)ViewBag.FileTypeList, "Select", new { @class = "validate[required] form-control w-sm inline-bl mrg-b10" })

        </div>
    </div>

</div>

<fieldset class="scheduler-inner">
    <legend class="scheduler-inner">Schedule</legend>

    <div id="lowerScheduleFields" class="mrg-t10 clearfix">
        <div class="w-xl inline-bl mrg-l20 mrg_xs xl_width">
            <div class="line">
                <label class="text-right w-xs pad-r-sm mrg-b10 xs_text_align" for="exampleInputName2">Every</label>
                @Html.TextBoxFor(model => model.Every, new { @class = "validate[required] form-control w-xs inline-bl mrg-b10 mrg-r10", type = "number", min = "1", max = "99", maxlength = "2" })
                @Html.DropDownListFor(model => model.ScheduleType, (IEnumerable<SelectListItem>)ViewBag.ScheduleTypeList, "Select", new { @class = "validate[required] form-control w-lg inline-bl mrg-b10" })

            </div>

            <div class="line">
                <label class="text-right w-xs pad-r-sm mrg-b10 xs_text_align" for="exampleInputName2">At</label>
                @Html.TextBoxFor(model => model.Hour, new { @class = "validate[required] form-control w-xs mrg-r10  mrg-b10 inline-bl", type = "number", min = "1", max = "12", maxlength = "2" })

                <div class="colon"> : </div>
                @Html.DropDownListFor(model => model.Minute, (IEnumerable<SelectListItem>)ViewBag.MinuteList, " ", new { @class = "validate[required] form-control w-xs inline-bl mrg-b10 mrg-r10" })
                @Html.DropDownListFor(model => model.Meridieum, (IEnumerable<SelectListItem>)ViewBag.MeridieumList, " ", new { @class = "validate[required] form-control w-xs inline-bl mrg-b10 space" })

            </div>
        </div>


        <div class="w-xl2 inline-bl mrg-l10 mrg_l_xs">
            <div class="line">
                <label class="text-right w-xs pad-r-sm mrg-b10 xs_text_align" for="">Begin</label>
                @Html.TextBoxFor(model => model.StartDate, new { @readonly = "readonly", @class = "form-control w-lgx1 inline-bl mrg-b10", @placeholder = "None" })
            </div>

            <div class="line">
                <label class="text-right w-xs pad-r-sm mrg-b10 xs_text_align" for="">End</label>
                @Html.TextBoxFor(model => model.EndDate, new { @readonly = "readonly", @class = "form-control w-lgx1 inline-bl mrg-b10", @placeholder = "None" })
            </div>
        </div>

    </div>


    <div id="belowLowerScheduleFields" class="mrg-t10 clearfix">
        <div class="w-xlx inline-bl mrg-r8 w_xs_l2">
            <div class="line time-zone-border mrg-b10">
                <label class="line pad-r-sm" for="exampleInputName2">Time Zone <a href="javascript:void(0)" class="lighttxt time-text" title="Report: This represents the time zone in which you want the report scheduled.&#13;Data: This represents the time zone in which you want the report data." id="btn_toolbar_help"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
            </div>
            <div class="line">
                <label class="w-xs inline-bl pad-r-sm mrg-b10" for="">Report</label>
                @Html.DropDownListFor(model => model.ReportScheduleTimeZone, (IEnumerable<SelectListItem>)ViewBag.ReportTimeZoneList, "Select", new { @class = "validate[required] form-control w-lgx inline-bl mrg-b10" })

            </div>

            <div class="line">
                <label class="w-xs inline-bl pad-r-sm mrg-b10" for="">Data</label>
                @Html.DropDownListFor(model => model.ReportDataTimeZone, (IEnumerable<SelectListItem>)ViewBag.ReportTimeZoneList, "Select", new { @class = "validate[required] form-control w-lgx inline-bl mrg-b10" })

            </div>
        </div>


        <div class="w-xl2 inline-bl mrg-l10 w_xs_l2 mrg_l_xs">
            <div class="line time-zone-border mrg-b10">
                <label class="line pad-r-sm" for="exampleInputName2">Notify <a href="javascript:void(0)" class="lighttxt time-text" title="Email: This represents the email at which you want to receive the report link.&#13;SMS: This represents the phone number at which you want to receive the report link." id="btn_toolbar_notifyhelp"><i class="fa fa-question-circle" aria-hidden="true"></i></a><span class="text-danger" id="spanAddress"></span></label>
            </div>
            <div class="line">
                <label class="w-xs pad-r-sm mrg-b10" for="">Email</label>
                @Html.TextBoxFor(model => model.EmailTo, new { @class = "validate[required] form-control w-lgx1 inline-bl mrg-b10" })

            </div>

            <div class="line">
                <label class="w-xs pad-r-sm mrg-b10" for="">SMS</label>
                @Html.TextBoxFor(model => model.SMSTo, new { @maxlength = "15", @class = "validate[required] form-control w-lgx1 inline-bl mrg-b10", @oninput = "return PhoneNumberMask(event);" })
            </div>
        </div>

    </div>


</fieldset>
<div class="cl"></div>

<script type="text/javascript">

    function MaxInput(controlId,input) {
        $(controlId).keypress(function (e) {
            var s = parseInt($(this).val().length);
            if (s > (input - 1)) {
                e.preventDefault();
                return false;
            }
        });
    }



    StartDateEndDate($("#StartDate"), $("#EndDate"));
</script>

<script>
    $(function () {

        $(document).on('click', '.time-text', function () {
            $(this).addClass("on");
            $(this).tooltip({
                items: '.time-text.on',
                position: {
                    my: "left-10 top+10 center",
                    at: "right center",
                    collision: "flip"
                }
            });
            $(this).trigger('mouseenter');
        });
        //hide
        $(document).on('click', '.time-text.on', function () {
            $(this).tooltip('close');
            $(this).removeClass("on");
        });
        //prevent mouseout and other related events from firing their handlers
        $(".time-text").on('mouseout', function (e) {
            e.stopImmediatePropagation();
        });
        $("body .container").click(function () {

            $(".ui-tooltip").fadeOut("fast");

        });

    });


</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#spanAddress").css("color", "#dffbff");
        if ($("#hdnEditNewClicked").val() != "") { $("#divReportScheduler :input[data-val-date]").css("cursor", "pointer"); }
        $("#divReportScheduler :input[data-val-date]").css("cursor", "pointer !important");
        $('#frmReportScheduler').validationEngine();
        $("#btn_toolbar_save").unbind("click");
        $('#btn_toolbar_save').click(function (e) {
            ShowLoading();
            // window.setTimeout(SaveReport(), 1000);;
            setTimeout(SaveReport, 500);
        });
    });
    function SaveReport()
    {
        var ReportName = $("#hdnReportName").val();
        if (!$("#frmReportScheduler").validationEngine('validate')) {
            HideLoading();
            e.preventDefault();
            return false;
        }

        var invalidEmails = ReturnInvalidEmails($('#EmailTo').val());
        if (invalidEmails == "") {
            var ScheduleType = $("select#ScheduleType option:selected").val();
            var retailerBoxDetailScheduleData =
                {
                    ReportScheduleId: $('#hdnReportScheduleId').val(),
                    ReportID: $('#hdnReportid').val(),
                    ScheduleReportTitle: $('#ScheduleReportTitle').val(),
                    HourlyInterval: $('#HourlyInterval').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                    ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                    Every: $('#Every').val(),
                    FileType: $('select#FileType option:selected').val(),
                    Hour: $('#Hour').val(),
                    Minute: $('select#Minute option:selected').val(),
                    Meridieum: $('select#Meridieum option:selected').val(),
                    ScheduleType: $("select#ScheduleType option:selected").val(),
                    EmailTo: $('[name="EmailTo"]').val(),
                    SmsTo: $('#SMSTo').val()
                };

            var getsuccess = SendAjax( resolveUrl() +'/Report/SaveReportDetails', retailerBoxDetailScheduleData);
            if (getsuccess.Status == 0) {
                var ReportScheduleId = getsuccess.ReportScheduleId;
                if (ReportName == ReportNames.ProductDetails) {
                    var retailerProductDetail =
                    {
                        NDCNumber: $('[name=textbox-NDCNumber]').val(),
                        StoreName: $('[name=textbox-StoreName]').val(),
                        StoreNumber: $('[name=textbox-StoreNumber]').val(),
                        VendorName: $('[name=textbox-VendorName]').val(),
                        ProductDescription: $('[name=textbox-ProductDescription]').val(),
                        LotNumber: $('[name=textbox-LotNumber]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                        ExpDate: $('[name=datepicker-ExpDate]').val(),
                        FullQty: $('[name=textbox-FullQty]').val(),
                        PartialQty: $('[name=textbox-PartialQty]').val(),
                        UnitPriceBefore: $('[name=textbox-UnitPriceBefore]').val(),
                        CreditableAmountBeforeMFGDiscount: $('[name=textbox-CreditableAmountBeforeMFGDiscount]').val(),
                        Creditable: $('[name=textbox-Creditable]').val(),
                        OutofpolicyDescription: $('[name=textbox-OutofpolicyDescription]').val(),
                        DataStartDate: $('[name=datepicker-DataStartDate]').val(),
                        DataEndDate: $('[name=datepicker-DataEndDate]').val(),
                        Strength: $('[name=textbox-Strength]').val(),
                        ItemGuid: $('[name=textbox-ItemGuid]').val(),
                        QoskProcessDate: $('[name=datepicker-QoskProcessDate]').val(),
                        ControlNumber: $('[name=textbox-ControlNumber]').val(),
                        PackageSize: $('[name=textbox-PackageSize]').val(),
                        UnitPriceAfter: $('[name=textbox-UnitPriceAfter]').val(),
                        CreditableAmountAfter: $('[name=textbox-CreditableAmountAfter]').val(),
                        RecalledProduct: $('[name=textbox-RecalledProduct]').val(),
                        DiscontinuedProduct: $('[name=textbox-DiscontinuedProduct]').val(),
                        RXorOTC: $('[name=textbox-RXorOTC]').val(),
                        DosageForm: $('[name=textbox-DosageForm]').val(),
                        PackageForm: $('[name=textbox-PackageForm]').val(),
                        PartialPercentage: $('[name=textbox-PartialPercentage]').val(),

                    };
                    var getsuccessProductDetail = SendAjax( resolveUrl() +'/Report/' + ReportName + "_Criteria", { retailerProductDetail: retailerProductDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessProductDetail.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }

                else if (ReportName == ReportNames.WasteReport) {
                    var wasteReportDetail =
                    {
                        NDCNumber: $('[name=textbox-NDCNumber]').val(),
                        StoreName: $('[name=textbox-StoreName]').val(),
                        StoreNumber: $('[name=textbox-StoreNumber]').val(),
                        ItemGuid: $('[name=textbox-ItemGuid]').val(),
                        ProductDescription: $('[name=textbox-ProductDescription]').val(),
                        LotNumber: $('[name=textbox-LotNumber]').val(),
                        Strength: $('[name=textbox-Strength]').val(),
                        FullQty: $('[name=textbox-FullQty]').val(),
                        ControlNumber: $('[name=textbox-ControlNumber]').val(),
                        DosageForm: $('[name=textbox-DosageForm]').val(),
                        PackageForm: $('[name=textbox-PackageForm]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                        ExpDate: $('[name=datepicker-ExpDate]').val(),
                        PackageSize: $('[name=textbox-PackageSize]').val(),
                        WasteStreamProfile: $('[name=textbox-WasteStreamProfile]').val(),
                        WasteCode: $('[name=textbox-WasteCode]').val(),
                        SealedOpenCase: $('[name=textbox-SealedOpenCase]').val(),
                        DataStartDate: $('[name=datepicker-DataStartDate]').val(),
                        DataEndDate: $('[name=datepicker-DataEndDate]').val(),
                        PartialQty: $('[name=textbox-PartialQty]').val(),


                    };
                    var getsuccessProductDetail = SendAjax( resolveUrl() +'/Report/' + ReportName + "_Criteria", { wasteReportDetail: wasteReportDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessProductDetail.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }
                else if (ReportName == ReportNames.PharmacySummary) {
                    var pharmacySummaryDetail =
                    {
                        StoreNumber: $('[name=textbox-StoreNumber]').val(),
                        StoreName: $('[name=textbox-StoreName]').val(),
                        WholesalerCustomerNumber: $('[name=textbox-WholesalerCustomerNumber]').val(),
                        RegionName: $('[name=textbox-RegionName]').val(),
                        ReturnCreditableValue: $('[name=textbox-ReturnCreditableValue]').val(),
                        ReturnCreditableQty: $('[name=textbox-ReturnCreditableQty]').val(),
                        RecallCreditableValue: $('[name=textbox-RecallCreditableValue]').val(),
                        RecallCreditableQty: $('[name=textbox-RecallCreditableQty]').val(),
                        NonCreditableValue: $('[name=textbox-NonCreditableValue]').val(),
                        NonCreditableQty: $('[name=textbox-NonCreditableQty]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                        TotalProductValue: $('[name=textbox-TotalProductValue]').val(),
                        TotalQty: $('[name=textbox-TotalQty]').val(),
                        ProcessingFeeBilled: $('[name=textbox-ProcessingFeeBilled]').val(),
                        TotalInvoiceAmount: $('[name=textbox-TotalInvoiceAmount]').val(),
                        TotalDebitMemoQty: $('[name=textbox-TotalDebitMemoQty]').val(),
                        ReturnToStockValue: $('[name=textbox-ReturnToStockValue]').val(),
                        ReturnToStockQty: $('[name=textbox-ReturnToStockQty]').val(),


                    };
                    var getsuccessProductDetail = SendAjax(resolveUrl() + '/Report/' + ReportName + "_Criteria", { pharmacySummaryDetail: pharmacySummaryDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessProductDetail.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }
                else if (ReportName == ReportNames.NonCreditableSummary) {
                    var nonCreditableSummaryDetail =
                    {
                        StoreNumber: $('[name=textbox-StoreNumber]').val(),
                        StoreName: $('[name=textbox-StoreName]').val(),
                        RegionName: $('[name=textbox-RegionName]').val(),
                        NonCreditableValue: $('[name=textbox-NonCreditableValue]').val(),
                        NonCreditableQty: $('[name=textbox-NonCreditableQty]').val(),
                        ManufacturerName: $('[name=textbox-ManufacturerName]').val(),
                        NonCreditableReasonCode: $('[name=textbox-NonCreditableReasonCode]').val(),
                        NonCreditableReasonDescription: $('[name=textbox-NonCreditableReasonDescription]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                    };
                    var getsuccessNonCreditableSummary = SendAjax(resolveUrl() + '/Report/' + ReportName + "_Criteria", { nonCreditableSummaryDetail: nonCreditableSummaryDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessNonCreditableSummary.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }
                else if (ReportName == ReportNames.ManufacturerSummary) {
                    var manufacturerSummaryDetail =
                    {
                        MFGLabeler: $('[name=textbox-MFGLabeler]').val(),
                        ManufacturerName: $('[name=textbox-ManufacturerName]').val(),
                        RetailerVendorNumber: $('[name=textbox-RetailerVendorNumber]').val(),
                        DebitMemoInvoiceNo: $('[name=textbox-DebitMemoInvoiceNo]').val(),
                        CreditableValue: $('[name=textbox-CreditableValue]').val(),
                        CreditableQty: $('[name=textbox-CreditableQty]').val(),
                        RecallCreditableValue: $('[name=textbox-RecallCreditableValue]').val(),
                        RecallCreditableQty: $('[name=textbox-RecallCreditableQty]').val(),
                        TotalProductValue: $('[name=textbox-TotalProductValue]').val(),
                        TotalQty: $('[name=textbox-TotalQty]').val(),
                        ProcessingFee: $('[name=textbox-ProcessingFee]').val(),
                        TotalInvoiceAmount: $('[name=textbox-TotalInvoiceAmount]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                    };
                    var getsuccessManufacturerSummary = SendAjax(resolveUrl() + '/Report/' + ReportName + "_Criteria", { manufacturerSummaryDetail: manufacturerSummaryDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessManufacturerSummary.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }
                else if (ReportName == ReportNames.ReturnToStock) {
                    var returnToStockDetail =
                    {
                        VendorName: $('[name=textbox-VendorName]').val(),
                        StoreName: $('[name=textbox-StoreName]').val(),
                        StoreNumber: $('[name=textbox-StoreNumber]').val(),
                        NDCNumber: $('[name=textbox-NDCNumber]').val(),
                        ProductDescription: $('[name=textbox-ProductDescription]').val(),
                        Strength: $('[name=textbox-Strength]').val(),
                        ControlNumber: $('[name=textbox-ControlNumber]').val(),
                        RXorOTC: $('[name=textbox-RXorOTC]').val(),
                        DosageForm: $('[name=textbox-DosageForm]').val(),
                        PackageForm: $('[name=textbox-PackageForm]').val(),
                        LotNumber: $('[name=textbox-LotNumber]').val(),
                        ExpDate: $('[name=datepicker-ExpDate]').val(),
                        QoskProcessDate: $('[name=datepicker-QoskProcessDate]').val(),
                        DateEligibleForCredit: $('[name=datepicker-DateEligibleForCredit]').val(),
                        OutofpolicyDescription: $('[name=textbox-OutofpolicyDescription]').val(),
                        ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                        ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                    };
                    var getsuccessReturnToStockDetail = SendAjax(resolveUrl() + '/Report/' + ReportName + "_Criteria", { returnToStockDetail: returnToStockDetail, ReportScheduleId: ReportScheduleId });

                    if (getsuccessReturnToStockDetail.Status == 0) {

                        showConfirmationMessage('Report scheduled successfully!');
                    }
                }
            }
            else {
                showConfirmationMessage('Report not scheduled!');                
            }
        }
        else {
            showMessage(invalidEmails + " not valid email(s).");
        }
        HideLoading();
    }


    function showConfirmationMessage(message)
    {
        $(".alert-popup-body-message").show();
        $("#alertmessageid").text(message);
        $("#btnok").bind("click", function () {
            $("#btnok").unbind("click");
            $("#hdnEditNewClicked").val("");
            location.reload();
        });
    }

    function showMessage(message)
    {
        $(".alert-popup-body-message-confirm").hide();
        $("#alertmessageid").text(message);
        $(".alert-popup-body-message").show();
        $("#btnok").click(function () {
            $(".alert-popup-body-message").hide();
        });
    }

    //Function for showing and hiding loader
    function ShowLoading() {
        $('#divloaderBackground').show();
        $('#divLoader').show();

    }
    function HideLoading() {
        $('#divLoader').hide();
        $('#divloaderBackground').hide();
    }    

    MaxInput("#Every", 2);
    MaxInput("#Hour", 2);
    MaxRange("#Hour", 1, 12);
    MaxRange("#Every", 1, 99);
    function MaxInput(controlId, input) {
        $(controlId).keypress(function (e) {
            var s = parseInt($(this).val().length);
            if (s > (input - 1)) {
                e.preventDefault();
                return false;
            }
        });
    }
    function MaxInput(controlId, input) {
        $(controlId).keypress(function (e) {
            var inputLength = parseInt($(this).val().length);
            if (inputLength > (input - 1)) {
                e.preventDefault();
                return false;
            }
        });
    }

    function MaxRange(controlId, rangeStart,rangeEnd) {
        $(controlId).on("blur onkeypress", function (e) {
            var inputVal =$(this).val();
            if (inputVal != "") {
                inputVal = parseInt(inputVal);
                if ((inputVal >= rangeStart && inputVal <= rangeEnd) == false) {
                    $(this).val(1);
                    e.preventDefault();
                    return false;
                }
            }
        });
    }

</script>