﻿@using Telerik.Reporting;
@using Telerik.ReportViewer.Mvc;

@{
    ViewBag.Title = "Index";    
    Layout = null;
}

<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" />
<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.blueopal.min.css" rel="stylesheet" />

<style>
    #reportViewer1 {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

</style>


<link href="@Url.Content("~/ReportViewer/styles/telerikReportViewer-9.1.15.731.css")" rel="stylesheet" />

@(Html.TelerikReporting().ReportViewer()

            // Each report viewer must have an id - it will be used by the initialization script
            // to find the element and initialize the report viewer.
            .Id("reportViewer1")
                // The URL of the service which will serve reports.
                // The URL corresponds to the name of the controller class (ReportsController).
                // For more information on how to configure the service please check http://www.telerik.com/help/reporting/telerik-reporting-rest-conception.html.
                .ServiceUrl(Url.Content("~/api/TelerikReports/"))
            // The URL for the report viewer template. The template can be edited -
            // new functionalities can be added and unneeded ones can be removed.
            // For more information please check http://www.telerik.com/help/reporting/html5-report-viewer-templates.html.
            .TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate-9.1.15.731.html"))
        // Strongly typed ReportSource - TypeReportSource or UriReportSource.
        //.ReportSource(new TypeReportSource()
        //{
        //    TypeName = typeof(Sample_Reports_Wholesaler_Box_Summary).AssemblyQualifiedName
        //})
        .ReportSource((TypeReportSource)ViewBag.ReportSource)
        // Specifies whether the viewer is in interactive or print preview mode.
        // PRINT_PREVIEW - Displays the paginated report as if it is printed on paper. Interactivity is not enabled.
        // INTERACTIVE - Displays the report in its original width and height with no paging. Additionally interactivity is enabled.
        .ViewMode(ViewMode.Interactive)
        // Sets the scale mode of the viewer.
        // Three modes exist currently:
        // FIT_PAGE - The whole report will fit on the page (will zoom in or out), regardless of its width and height.
        // FIT_PAGE_WIDTH - The report will be zoomed in or out so that the width of the screen and the width of the report match.
        // SPECIFIC - Uses the scale to zoom in and out the report.
        .ScaleMode(ScaleMode.Specific)
        // Zoom in and out the report using the scale
        // 1.0 is equal to 100%, i.e. the original size of the report
        .Scale(1.0)
        // Sets whether the viewer’s client session to be persisted between the page’s refreshes(ex. postback).
        // The session is stored in the browser’s sessionStorage and is available for the duration of the page session.
        .PersistSession(false)
        // Sets the print mode of the viewer.
        .PrintMode(PrintMode.AutoSelect)
        // Defers the script initialization statement. Check the scripts section below -
        // each deferred script will be rendered at the place of TelerikReporting().DeferredScripts().
        .Deferred()
        .ClientEvents(
                events => events
                    .RenderingBegin("onRenderingBegin")
                    .RenderingEnd("onRenderingEnd")
                    .PrintBegin("onPrintBegin")
                    .PrintEnd("onPrintEnd")
                    .ExportBegin("onExportBegin")
                    .ExportEnd("onExportBegin")
                    .UpdateUi("onUpdateUi")
                    .PageReady("onPageReady")
                    .Error("onError")
                    )
)

<script src="~/Scripts/jquery-2.1.4.js"></script>
<!--kendo.all.min.js can be used as well instead of kendo.web.min.js and kendo.mobile.min.js-->
<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-9.1.15.731.min.js")"></script>

<script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.web.min.js"></script>
<!--kendo.mobile.min.js - optional, if gestures/touch support is required-->
<script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.mobile.min.js"></script>


<script>
    
    function onRenderingBegin() {
        $("#reportViewer1 .trv-nav").hide();
        $("#reportViewer1 .trv-content").css("top","0");
        console.log("rendering begin!");
    }
    function onRenderingEnd(sender) {        
        reportSource = sender;
        if (PageCount() > 0)
        {
            var pageNumber = 1 + "/" + PageCount();
            parent.ShowReportNumber(pageNumber);
        }
        if (PageCount() > 1) {
            DisableParentToolbarButton("#btn_toolbar_previous");
            EnableParentToolbarButton("#btn_toolbar_next");
            EnableParentToolbarButton("#btn_toolbar_download");           
        }
        else
        {
            DisableParentToolbarButton("#btn_toolbar_previous");
            DisableParentToolbarButton("#btn_toolbar_next");
        }
        
        console.log("rendering end!");
    }
    function onPrintBegin() {
        console.log("print begin!");
    }
    function onPrintEnd() {
        console.log("print end!");
    }
    function onExportBegin() {
        console.log("export begin!");
    }
    function onExportEnd() {
        console.log("export end!");
    }
    function onUpdateUi() {
        console.log("update ui!");
    }
    function onError() {
        console.log("error!");
    }
    function onPageReady() {
       
        console.log("page ready!");
    }
   
    function createSingleSelectEditor(placeholder, options) {
        var dropDownElement = $(placeholder).html('<div></div>');
        var parameter,
              valueChangedCallback = options.parameterChanged,
              dropDownList;

        function onChange() {
            var val = dropDownList.value();
            valueChangedCallback(parameter, val);
        }

        return {
            beginEdit: function (param) {

                parameter = param;

                $(dropDownElement).kendoDropDownList({
                    dataTextField: "name",
                    dataValueField: "value",
                    value: parameter.value,
                    dataSource: parameter.availableValues,
                    change: onChange
                });

                dropDownList = $(dropDownElement).data("kendoDropDownList");
            }
        };
    }

    function customMatch(parameter) {
        return Boolean(parameter.availableValues)
            && !parameter.multivalue
            && parameter.type === telerikReportViewer.ParameterTypes.BOOLEAN;
    }

    function createCustomEditor(placeholder, options) {
        var dropDownElement = $(placeholder).html('<div></div>');
        var parameter,
              valueChangedCallback = options.parameterChanged,
              dropDownList;

        function onChange() {
            var val = dropDownList.value();
            valueChangedCallback(parameter, val);
        }

        return {
            beginEdit: function (param) {

                parameter = param;

                $(dropDownElement).kendoDropDownList({
                    dataTextField: "name",
                    dataValueField: "value",
                    value: parameter.value,
                    dataSource: parameter.availableValues,
                    change: onChange
                });

                dropDownList = $(dropDownElement).data("kendoDropDownList");
            }
        };
    }

    function GoToNextPage()
    {
        reportSource.currentTarget.commands.goToNextPage.exec();       
        EnableParentToolbarButton("#btn_toolbar_previous");
        if (CurrentPageNumber() + 1 == PageCount()) {
            DisableParentToolbarButton("#btn_toolbar_next");
        }
        var pageNumber = CurrentPageNumber() + 1 + "/" + PageCount();
        parent.ShowReportNumber(pageNumber);
    }

    function GoToPreviousPage()
    {       
        reportSource.currentTarget.commands.goToPrevPage.exec();
        EnableParentToolbarButton("#btn_toolbar_next");       
        if (CurrentPageNumber() - 1 == 1) {
            DisableParentToolbarButton("#btn_toolbar_previous");
        }
        var pageNumber = CurrentPageNumber() - 1 + "/" + PageCount();
        parent.ShowReportNumber(pageNumber);
    }
    function CurrentPageNumber()
    {
      return  reportSource.currentTarget.currentPage();
    }
    function PageCount()
    {
       return reportSource.currentTarget.pageCount();
    }

    function EnableParentToolbarButton(buttonId) {
        parent.EnableToolbarControl(buttonId);
    }
    function DisableParentToolbarButton(buttonId) {       
        parent.DisableToolbarControl(buttonId);
    }
    function ExportReport(filetype)
    {
        reportSource.currentTarget.commands.export.exec(filetype);
    }
</script>

@(
        // All deferred initialization statements will be rendered here
        Html.TelerikReporting().DeferredScripts()
)






