﻿
@{
   ViewBag.Title = "Webcam Demo";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}


@* Required, should be moved into layout with JS refactoring *@
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<section role="region" class="section">
   <div class="container">
      <div class="section__body">
         <div class="subsection">
            <div class="subsection__body">
               <p id="error" class="alert--error"></p>
               <div class="demo-area" id="democontent">
                  <div class="view--video">
                     <div class="view--snapshot">
                        <img width="640" height="480" src="~/Areas/Product/Images/Qosk_Splash.png" id="imgReviewtop" />
                        <img width="640" height="480" src="~/Areas/Product/Images/Qosk_Splash.png" id="imgReviewside" />

                        <video width="640" height="480" src="" id="videoReviewside" />
                     </div>
                     <div>
                        <button id="wcfCapture" class="wcfCapture" data-target="webcamCapture0">Start/Stop Cameras</button>
                        <button id="wcfInit" class="wcfInit" data-target="webcamCapture0">Init Cameras</button>
                        <button id="streamVideo" class="streamVideo" data-target="webcamCapture0">Stream</button>
                     </div>
                  </div>
               </div>
               <p class="alert--error" class="hide" id="tooltip"></p>
            </div>
         </div>
      </div>
   </div>
</section>

@* both scripts below are required. The adapter simplifies  cross-browser compatibility *@
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="~/js/Webcam.js"></script>
<script>
   var stream = false;

   $(document).on("click", ".wcfCapture", function()
   {
      //capture function requires a video element and a callback that will receive the uri of the image in blob storage
      stream = !stream;
      captureImage("side");
      captureImage("top");

      if (!stream)
      {
         $.getJSON("https://localhost:8003/Qualanex/http/PreviewEnd?Webcam=side",
            {},
            function(result) { });
         $.getJSON("https://localhost:8003/Qualanex/http/PreviewEnd?Webcam=top",
            {},
            function(result) { });
         $.getJSON("https://localhost:8003/Qualanex/http/PreviewEnd?Webcam=pill",
            {},
            function(result) { });
      }
   });
   $(document).on("click", ".wcfInit", function()
   {
      //capture function requires a video element and a callback that will receive the uri of the image in blob storage
      stream = !stream;
         $.getJSON("https://localhost:8003/Qualanex/http/Initialize",
            {},
            function(result) { });
      
   });

   function captureImage(webcam)
   {
      if (!stream)
      {
         return;
      }
      $.getJSON("https://localhost:8003/Qualanex/http/Capture?Webcam=" + webcam + "&guid=a",
         {},
         function(result)
         {
            $("#imgReview" + webcam)[0].src = "data:image/jpeg;base64," + result;
            captureImage(webcam);
         });
   }
   $(document).on("click", "#deleteImage", function()
   {
      deleteImage($("#imgReview")[0].src);
      $("#deleteImage").prop("disabled", true);
      $("#imgReview")[0].src = "/Areas/Product/Images/Qosk_Splash.png";
   });

   $(document).on("click", "#deleteVideo", function()
   {
      deleteImage($("#uploaded")[0].src);
      $("#deleteVideo").prop("disabled", true);
      $("#uploaded")[0].src = "";
      $("#uploaded")[0].controls = false;
   });
   var streaming = false;
   $(document).on("click", "#streamVideo", function()
   {
      if (!streaming)
      {
         $("#videoReviewside")[0].src = "https://localhost:8003/Qualanex/http/media/pill";
      }
      else{
         $("#videoReviewside")[0].src = "";
      }
      $("#videoReviewside")[0].controls = true;
      streaming = !streaming;
   });

   $(document).on("click", ".videoPlay", function()
   {
      play(document.querySelector(".videoPreview"));
   });

   $(document).on("click", ".videoSave", function()
   {
      saveVideo();
   });

   $(document).on("click", ".videoUpload", function()
   {
      uploadVideo(function(videoUrl)
      {
         $("#uploaded")[0].src = videoUrl;
         $("#uploaded")[0].controls = true;
         $("#deleteVideo").prop("disabled", false);
      });
   });

</script>