﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel
@{
   ViewBag.AttachedPreview = "#review";
   if (ViewBag.SegmentId == "Container")
   {
      ViewBag.Address = "/GreenBin/GreenBin/SaveUploadedFile";
   }
   else if (ViewBag.SegmentId == "Content")
   {
      ViewBag.Address = "/GreenBin/GreenBin/SaveContentUploadedFile";

   }
}
<input type="hidden" id="DosageImageCode" value="@Model.SelectedGreenBinModel.DosageImageCode" />
<input type="hidden" id="contentFlag" value="@if (Model.UPAControl.PolicyForm.GreenBinReason.HasFlag(Qualanex.QoskCloud.Web.Areas.Product.Models.GreenBinReason.ContentImage)) {@:1
   } " />
<table class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td style="padding-bottom: 3px;">
         <table>
            <tr>
               <!-- Container Images -->
               <td style="padding: 5px 0px 0px 5px;width:100px">
                  <table>
                     <tr>
                        <td>
                           <table>
                              <tr>
                                 <td class="tdPreviewTitle">
                                    Preview
                                 </td>
                              </tr>
                              <tr>
                                 <td class="tdPreviewFrame" style="">
                                    <table>
                                       <tr>
                                          <td class="tdPreviewCell" style="">
                                             <table class="tblPreviewPane" style="">
                                                <tr>
                                                   <td style="text-align:center">
                                                      @*<img id="prescriptionImage" src="~/Images/Qosk_ContainerImage_PrescriptionSideBoilerplate.png" hidden="" style="max-height:167px;max-width:304px;margin:0 auto" />*@
                                                      <img id="review" width="304" style="max-height:167px" hidden />
                                                   </td>
                                                </tr>

                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>

                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
               <td>
                  <table>
                     <tr>
                        <td>
                           <fieldset style="border:2px solid #ccc">
                              <legend style="width:auto">
                                 Attached Image Files
                                 <select id="imageOption" class="selectEx selectCamera webcamSelect" style="width:200px">
                                    <option value="CTR" data-field-name="@ViewBag.SegmentId" selected>------- Container Image -------</option>
                                    @if (Model.SelectedGreenBinModel.DosageImageCode == "P" || Model.UPAControl.PolicyForm.GreenBinReason.HasFlag(Qualanex.QoskCloud.Web.Areas.Product.Models.GreenBinReason.ContentImage))
                                    {
                                       <option value="CNT" data-field-name="Content">------- Content Image -------</option>
                                    }
                                 </select>
                                 <input type="file" style="display:none" id="dropzoneHiddenfileContainer" />
                                 <input type="file" style="display:none" id="dropzoneHiddenfileContent" />
                              </legend>
                              <div id="divAttachementSegment_@ViewBag.SegmentId" style="max-height:187px;overflow:auto;width:100%;clear:both" data-field-name="@ViewBag.SegmentId"
                              @if (Model.UPAControl.PolicyForm.GreenBinReason.HasFlag(Qualanex.QoskCloud.Web.Areas.Product.Models.GreenBinReason.ContainerImage))
                              {
                                 @:data-field-required="1"
                              }>
                                 @Html.Partial("_AttachmentControl")
                              </div>
                              @if (Model.SelectedGreenBinModel.DosageImageCode == "P" || Model.UPAControl.PolicyForm.GreenBinReason.HasFlag(Qualanex.QoskCloud.Web.Areas.Product.Models.GreenBinReason.ContentImage))
                              {
                                 ViewBag.Address = "/GreenBin/GreenBin/SaveContentUploadedFile";
                                 <div id="divAttachementSegment_Content" style="max-height:187px;overflow:auto;display:none;width:100%;clear:both" data-field-name="Content"
                                 @if (Model.UPAControl.PolicyForm.GreenBinReason.HasFlag(Qualanex.QoskCloud.Web.Areas.Product.Models.GreenBinReason.ContentImage))
                                 {
                                    @:data-field-required="1"
                                 }>
                                    @Html.Partial("_AttachmentControl")
                                 </div>
                              }
                           </fieldset>
                        </td>
                     </tr>
                     <tr></tr>
                  </table>
               </td>
            </tr>
         </table>
      </td>
      <td></td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table style="width: 100%;">
            <tr>
               <td>
                  <span id="imageContainerError" class="tdCaption error"></span><br />
                  <span id="webcamError" class="tdCaption error"></span>
                  <span id="sameCameraErrorText" hidden style="color:red">Error: All Images must be categorized in order to continue</span>

               </td>
               <td style="padding: 0px 3px 4px 0px; text-align: right;">
                  <input type="button" class="ql-policy-continue buttonEx cmdKey" style="width: 85px; height: 35px;margin-right:10px" value="Cancel" data-field-name="ImageCancel" data-ql-next="#@ViewBag.Next" />
                  <input type="button" class="ql-policy-continue buttonEx cmdKey" style="width: 85px; height: 35px;" value="Continue" data-ql-next="#@ViewBag.Next" data-field-name="ImageContinue" />
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<script>
   $("#divAttachementSegment_@ViewBag.SegmentId .dropzone").dropzone({ acceptedFiles: ".jpg,.jpeg,.gif,.png,.bmp,.svg,.ico,.tif", clickable: '#dropzoneHiddenfileContainer', ignoreHiddenFiles: false });

   if ($("#DosageImageCode").val() === "P" || $("#contentFlag").val() !== "")
   {
      $("#divAttachementSegment_Content .dropzone").dropzone({ acceptedFiles: ".jpg,.jpeg,.gif,.png,.bmp,.svg,.ico,.tif", clickable: '#dropzoneHiddenfileContent', ignoreHiddenFiles: false });
   }
</script>