﻿@using Microsoft.AspNet.Identity
@using Constants = Qualanex.QoskCloud.Utility.Constants
@model List<Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.ImageResult>

@{ var imageId = Guid.NewGuid(); }
<div id="@imageId" class="carousel slide" data-interval="false">
   @if (Model.Count > 1)
   {
      <!-- Wrapper for slides -->
      <div class="@imageId slick-product-slider" role="listbox">
         @foreach (var image in Model)
         {
            <div class="item">
               <img src="@image.Url" class="slick-product-image" data-image-type="@image.ImageType" data-featherlight="@image.Url" alt="@image.AltText" style="max-height:125px" />
            </div>
         }
      </div>
      <script>
         //initialize the slick carousel
         $("." + "@imageId").slick({
            dots: true,
            infinite: true,
            speed: 500
         });
      </script>
   }
   else if (Model.Count == 1)
   {
      <div class="carousel-inner" role="listbox">
         <div class="item active">
            <img src="@Model.First().Url" data-featherlight="@Model.First().Url" alt="@Model.First().AltText" style="max-height:125px" />
         </div>
      </div>
   }
   else
   {
      <div class="carousel-inner" role="listbox">
         <div class="item active">
            <img src="@Constants.Default_Product_Image_Url" alt="No product image available" style="width:90%" />
         </div>
      </div>
   }
</div>