﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

<input type="hidden" value="@Model.SelectedGreenBinModel.PackageSize" data-field-name="@Model.SelectedGreenBinModel.PackageSize" id="WeightItemCount" />
<table id="individualCountWeightTable" class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td style="width: 100%; padding-bottom: 3px;">
         <table style="width: 100%;">
            <tr>
               <td style="width:30%">
                  <!-- Capture Weight -->
                  <div style="padding: 0px 5px 0px 0px; display:block">
                     <table class="segBody segWeight" style="height: 100px">
                        <tr>
                           <td>
                              <table class="segWtQtyCtrl">
                                 <tr>
                                    <td>
                                       <table class="segBody">
                                          <tr style="height: 45px;">
                                             <td style="padding: 0px 0px 4px 8px; text-align: left;"><input id="CMD_SCALETARE1" data-field-name="Tare" class="buttonEx cmdKey" type="button" value="Tare" /></td>
                                             <td style="padding: 0px 8px 4px 0px; text-align: right;"><input id="CMD_SCALECAPTURE1" class="buttonEx cmdKey" data-field-name="Capture" type="button" value="Capture" /></td>
                                          </tr>
                                          <tr>
                                             <td style="padding: 0px 0px 4px 8px; text-align: left;"><input id="CMD_SCALERESTART" data-field-name="Restart" class="buttonEx cmdKey" type="button" value="Restart" /></td>
                                             <td style="padding: 0px 8px 4px 0px; text-align: right;"><input id="CMD_SCALECALIBRATE" class="buttonEx cmdKey" data-field-name="Calibrate" type="button" value="Calibrate" disabled /></td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                  </div>
               </td>

               <td style="width:68%">
                  <div style="padding: 0px 0px 0px 20px; display: block;">
                     <table class="segBody segCondition" style="width:100%">
                        <tr style="height: 100%;">
                           <td>
                              <div id="IndividualCountWeightResult">
                                 <table class="segBody">
                                    <tr>
                                       <td style="width:50%">
                                          <table>
                                             <tr data-field-name="Calibration">
                                                <td>
                                                   Calibrate:
                                                </td>
                                                <td></td>
                                                <td>
                                                   <img src="~/images/SVG/BoxGreyXRed.svg" width="20" class="captureImage" id="Check_Calibration" />
                                                </td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode" style="display:none">
                                                <td>Tare Scale:</td>
                                                <td><label id="ScaleTare0" hidden class="captures" nextfocus="ScaleCapture" firstline="Tare Scale" bodyline="Please clear your scale and click Tare."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleTare0" /></td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 @if (Model.SelectedGreenBinModel.UnitOfMeasure != "ML" && Model.SelectedGreenBinModel.UnitOfMeasure != "GM" && Model.SelectedGreenBinModel.UnitOfMeasure != "EA") { @: hidden class="hidden"
                                                 }>
                                                <td>Full Cntr:</td>
                                                <td><label id="ScaleCaptureFull" hidden class="captures" nextfocus="ScaleTare" firstline="Full Container" bodyline="Please place the full container on the scale and click Capture." bodylineVes="Please place the full contents of the product into the vessel on your scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleCaptureFull" /></td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode" style="display:none"
                                                 @if (!((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P"))) { @: hidden class="hidden"
                                                 }>
                                                <td>Tare Scale:</td>
                                                <td><label id="ScaleTare1" hidden class="captures" nextfocus="ScaleCapture" firstline="Tare Scale" bodyline="Please place an empty cup or tray on your scale and click Tare." bodylineVes="Please place an empty vessel that can contain the full product's contents on your scale and click Tare."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleTare1" /></td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 @if (!((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P"))) { @: hidden class="hidden"
                                                 }>
                                                <td>Capture:</td>
                                                <td><label id="ScaleCapture" hidden class="captures" nextfocus="ScaleCaptureTest1" firstline="Initial Capture" bodyline="Please place the full contents of the product into the cup on your scale and click Capture." bodylineVes="Please place the full contents of the product into the vessel on your scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleCapture" /></td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode" style="display:none"
                                                 @if (!(Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L")) { @: hidden class="hidden"
                                                 }>
                                                <td>Tare Scale:</td>
                                                <td><label id="ScaleTare2" hidden class="captures" nextfocus="ScaleCapture" firstline="Tare Scale" bodyline="Please place an empty cup or tray on your scale and click Tare." bodylineVes="Please place an empty graduated cylinder on your scale and click Tare."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleTare2" /></td>
                                             </tr>
                                             <tr @if (!((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P"))) { @: hidden class="hidden"
                                                 } else { @: data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 }>
                                                <td>Test 1:</td>
                                                <td><label id="ScaleCaptureTest1" hidden class="captures" nextfocus="ScaleCaptureTest2" firstline="Test 1" bodyline="Please place the following amount of product on your screen and click Capture." bodylineVes="Please place the following amount of product into the graduated cylinder on your scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleCaptureTest1" /></td>
                                             </tr>
                                             <tr @if (!((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P"))) { @: hidden class="hidden"
                                                 } else { @: data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 }>
                                                <td> Test 2:</td>
                                                <td><label id="ScaleCaptureTest2" hidden class="captures" nextfocus="ScaleCaptureTest3" firstline="Test 2" bodyline="Please place the following amount of product on your screen and click Capture." bodylineVes="Please empty the graduated cylinder, place the following amount of product into the graduated cylinder on your scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleCaptureTest2" /></td>
                                             </tr>
                                             <tr @if (!((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P"))) { @: hidden class="hidden"
                                                 } else { @: data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 }>
                                                <td>Test 3:</td>
                                                <td><label id="ScaleCaptureTest3" hidden class="captures" nextfocus="ScaleCaptureEmpty" firstline="Test 3" bodyline="Please place the following amount of product on your screen and click Capture." bodylineVes="Please empty the graduated cylinder, place the following amount of product into the graduated cylinder on your scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" class="captureImage" width="20" id="Check_ScaleCaptureTest3" /></td>
                                             </tr>
                                             <tr data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"
                                                 @if ((Model.SelectedGreenBinModel.UnitOfMeasure == "ML" && Model.SelectedGreenBinModel.DosageImageCode == "L") || (Model.SelectedGreenBinModel.UnitOfMeasure == "EA" && Model.SelectedGreenBinModel.DosageImageCode == "P")) { @: hidden class="hidden"
                                                 }>
                                                <td>Empty Cntr:</td>
                                                <td><label id="ScaleCaptureEmpty" class="captures" hidden nextfocus="" firstline="Empty Container" bodyline="Please place the empty container on the scale and click Capture."></label></td>
                                                <td><img src="~/images/SVG/BoxGrey.svg" width="20" class="captureImage" id="Check_ScaleCaptureEmpty" /></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td>
                                          <table>
                                             <tr>
                                                <td>
                                                   <h3 id="ProcedureCaptureHeader" data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"></h3>
                                                   <div style="width:100%;height:5px;border-top:1px solid #aaa"></div>
                                                   <h4 id="ProcedureCaptureBody" data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"></h4>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <h5 id="ProcedureCaptureCount" data-field-name="@Model.SelectedGreenBinModel.UnitOfMeasure" data-field-value="@Model.SelectedGreenBinModel.PackageSize" data-field-DosageImg="@Model.SelectedGreenBinModel.DosageImageCode"></h5>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table>
            <tr>
               <td class="tdCaption" style="width: 79%;"></td>
               <td style="height: 100%; text-align: right;width:20%">
                  <input type="button" id="weightCancel" class="buttonEx" style="width: 85px; height: 35px;margin-right:10px" data-field-name="@ViewBag.SegmentId" value="Cancel" data-ql-next="#@ViewBag.Next" />
                  <input type="button" id="weightContinue" class="buttonEx" style="width: 85px; height: 35px;" data-field-name="@ViewBag.SegmentId" value="Continue" data-ql-next="#@ViewBag.Next" />
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
