﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

<table id="QuarantineMessageTable" class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
    <tr>
        <td style="width: 100%; padding-bottom: 3px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width:30%">
                        <div style="padding: 0px 5px 0px 0px; display:block">
                            <table class="QnexCommand" style="height: 100px">
                                <tr>
                                    <td style="text-align:center">
                                        <h3>This item is a quarantine item.  Please press 'Continue' to acknowledge that appropriate action was taken to sort this item.</h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="tdMessage">
            <table>
                <tr>
                    <td class="tdCaption" style="width: 79%;"></td>
                    <td style="height: 100%; text-align: right;width:20%">
                        <input type="text" id="quarantineConfirm" style="width: 85px; height: 35px;margin-right:10px" value="" hidden />
                        <input type="button" id="quarantineContinue" class="buttonEx" style="width: 85px; height: 35px;" data-field-name="@ViewBag.SegmentId" value="Continue" data-ql-next="#@ViewBag.Next" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>