﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

<table id="WasteStreamTable" class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td style="width: 100%; padding-bottom: 3px;">
         <div style="width: 30%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="tabRelationControl">
            <h3>
               Please select all applicable waste streams, then under each waste stream pick the applicable waste codes.
            </h3>
         </div>
         <table id="WasteRelHidden" style="display:none">
            <tr>
               @foreach (var items in Model.LstWasteStreamCodeRel)
               {
                  <td data-field-name="@items.WasteStreamCode" data-field-value="@items.WasteCode"></td>
               }
            </tr>
         </table>
         <input type="hidden" value="@Html.Raw(Json.Encode(Model.LstWasteStreamCodeRel.ToList()))" id="WasteRel" />

         <div id="WasteStreamRelation" style="width:33%;height:200px;overflow-y:scroll;float:left">
            @if (Model.LstWasteInformation.WasteStream.Rows != null)
            {
               @Html.Partial("_RelationControl", Model.LstWasteInformation.WasteStream)
            }
         </div>
         <div id="WasteCodeRelation" style="width:33%;height:200px;overflow-y:scroll;float:left">
            @if (Model.LstWasteInformation.WasteCode.Rows != null)
            {
               @Html.Partial("_RelationControl", Model.LstWasteInformation.WasteCode)
            }
         </div>
      </td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table>
            <tr>
               <td>
                  <span id="sameWasteErrorText" hidden style="color:red">Error: All waste streams must have at least one waste code associated with them.</span>
               </td>
               <td style="height: 100%; text-align: right;">
                  @*<input type="button" class="ql-policy-continue buttonEx cmdKey" style="width: 85px; height: 35px;margin-right:10px" value="Cancel" data-field-name="WasteStreamSegmentCancel" data-ql-next="#@ViewBag.Next" />*@
                  <input type="button" id="WasteContinue" class="buttonEx" style="width: 85px; height: 35px;" data-field-name="@ViewBag.SegmentId" value="Continue" data-ql-next="#@ViewBag.Next" />
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<script>
   $(document).ready(function ()
   {
      $(".relationControl").enableRelationEdit();
   });
</script>
