﻿@model Qualanex.QoskCloud.WebReports.ReportClasses.Retailer.RetailerBoxDetail
<div class="line" id="dvReportStockSummaryCriteria">
    <label class="mrg-b15">NDC Number</label>
    @Html.TextBoxFor(model => model.NDCNumber, new { @class = "validate[required] form-control w-sm", @style = "padding-left:8px" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        if (localStorage['visited'] == "yes") {
            localStorage['visited'] = ""
            $("#dvReportStockSummaryCriteria :input").prop('disabled', false);
        }
        else {
            $("#dvReportStockSummaryCriteria :input").prop('disabled', true);
        }
    });
</script>