﻿@model Qualanex.QoskCloud.WebReports.Models.RetailerProductDetailsEntity

<div class="line" id="dvReportSummaryCriteria" style="height: 200px; overflow-y: auto;">
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RP_DataStartDate, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_DataEndDate, new { @class = "form-control"})</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Store Name</td>               
                <td>Vendor Name</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RP_StoreName, new { @class = "form-control", @placeholder = "auto complete" })</td>
                <td>@Html.TextBoxFor(model => model.RP_VendorName, new { @class = "form-control", @placeholder = "auto complete" })</td>

            </tr>
        </tbody>
    </table>

    <table class="criteria-grid">
        <tbody>
            <tr>                
                <td>NDC</td>
                <td>Product Description</td>
            </tr>
            <tr>                
                <td>@Html.TextBoxFor(model => model.RP_NDCNumber, new { @class = "form-control" , @placeholder = "auto complete" })</td>
                <td>@Html.TextBoxFor(model => model.RP_ProductDescription, new { @class = "form-control", @placeholder = "auto complete" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>                
                <td>Lot Number</td>
                <td>Expiration Date</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RP_LotNumber, new { @class = "form-control", @placeholder = "auto complete" })</td>
                <td>@Html.TextBoxFor(model => model.RP_ExpDate, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>                
                <td>Full Quantity</td>
                <td>Partial Quantity</td>
            </tr>
            <tr>                
                <td>@Html.TextBoxFor(model => model.RP_FullQty, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_PartialQty, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>                
                <td>Unit Price Before Discount</td>
                <td>Creditable Amount Before MFG Discount</td>
            </tr>
            <tr>                
                <td>@Html.TextBoxFor(model => model.RP_UnitPriceBefore, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_CreditableAmountBeforeMFGDiscount, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>    
    <table class="criteria-grid">
        <tbody>
            <tr>                
                <td>Creditable</td>
                <td>Out of policy Description</td>
            </tr>
            <tr>               
                <td>@Html.TextBoxFor(model => model.RP_Creditable, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_OutofpolicyDescription, new { @class = "form-control", @placeholder = "auto complete" })</td>
            </tr>
        </tbody>
    </table>
    
</div>


<script type="text/javascript">
    ControlAutoComplete("#RP_StoreName");
    ControlAutoComplete("#RP_VendorName");
    ControlAutoComplete("#RP_NDCNumber");
    ControlAutoComplete("#RP_ProductDescription");
    ControlAutoComplete("#RP_LotNumber");
    //ControlAutoComplete("#RP_OutofPolicyCode");
    ControlAutoComplete("#RP_OutofpolicyDescription");
    function ControlAutoComplete(controlID)
    {
        $(controlID).autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAutoCompleteDetails")',
                    data: { terms: request.term, controlID: controlID },
                    dataType: 'json',
                    type: 'GET',
                    //cache: false,
                    contentType: "application/json; charset=utf-8",
                    //dataFilter: function (data) { return data; },
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                });
            },
            focus: function (event, ui) {
                $(controlID).val(ui.item.label);

            },
            select: function (event, ui) {

                $(controlID).val(ui.item.label);                
                return false;
            }
        })

    }

    $(document).ready(function () {



        if (localStorage['visited'] == "yes") {
            localStorage['visited'] = ""
            $("#dvReportSummaryCriteria :input").prop('disabled', false);
        }
        else {
            $("#dvReportSummaryCriteria :input").prop('disabled', true);
        }


        $("#RP_ExpDate").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#EndDate").datepicker("option", "minDate", dt);
            }
        });
        StartDateEndDate($("#RP_ExpDate"), $("#RP_ExpDate"));

        $("#RP_DataStartDate").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#EndDate").datepicker("option", "minDate", dt);
            }
        });
        $("#RP_DataEndDate").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#EndDate").datepicker("option", "minDate", dt);
            }
        });

        StartDateEndDate($("#RP_DataStartDate"), $("#RP_DataEndDate"));
    });
</script>


