﻿@model Qualanex.QoskCloud.WebReports.Models.WasteReportEntity
<div class="line" id="dvReportSummaryCriteria" style="height: 200px; overflow-y: auto;">
    
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RP_DataStartDate, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_DataEndDate, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>ItemID</td>
                <td>NDC </td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ItemGuid, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_NDCNumber, new { @class = "form-control", @placeholder = "auto complete" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Description</td>
                <td>Strength</td>
            </tr>
            <tr>                
                <td>@Html.TextBoxFor(model => model.RP_Description, new { @class = "form-control" , @placeholder = "auto complete" })</td>
                <td>@Html.TextBoxFor(model => model.RP_Strength, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>

    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Quantity</td>
                <td>Sealed Open Case</td>
            </tr>
            <tr>
                
                <td>@Html.TextBoxFor(model => model.RP_Quantity, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => model.RP_SealedOpenCase, new { @class = "form-control", @placeholder = "auto complete" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Lot Number</td>
                <td>Waste Code</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RP_LotNumber, new { @class = "form-control", @placeholder = "auto complete" })</td>
                <td>@Html.TextBoxFor(model => model.WasteCode, new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>
    <table class="criteria-grid">
        <tbody>
            <tr>
                <td>Waste Stream Profile</td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.WasteStreamProfile, new { @class = "form-control" })</td>    
                <td></td>            
            </tr>
        </tbody>
    </table>    
</div>


<script type="text/javascript">

    //ControlAutoComplete("#ItemID");
    ControlAutoComplete("#RP_NDCNumber");
    ControlAutoComplete("#RP_Description");
    ControlAutoComplete("#RP_SealedOpenCase");
    ControlAutoComplete("#RP_LotNumber");

    function ControlAutoComplete(controlID) {
        $(controlID).autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAutoCompleteDetails")',
                    data: { terms: request.term, controlID: controlID },
                    dataType: 'json',
                    type: 'GET',
                    //cache: false,
                    contentType: "application/json; charset=utf-8",
                    //dataFilter: function (data) { return data; },
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                });
            },
            focus: function (event, ui) {
                $(controlID).val(ui.item.label);

            },
            select: function (event, ui) {

                $(controlID).val(ui.item.label);
                return false;
            }
        })

    }

    $(document).ready(function () {

        if (localStorage['visited'] == "yes") {
            localStorage['visited'] = ""
            $("#dvReportSummaryCriteria :input").prop('disabled', false);
        }
        else {
            $("#dvReportSummaryCriteria :input").prop('disabled', true);
        }

        $("#RP_DataStartDate").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#EndDate").datepicker("option", "minDate", dt);
            }
        });
        $("#RP_DataEndDate").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#EndDate").datepicker("option", "minDate", dt);
            }
        });

        StartDateEndDate($("#RP_DataStartDate"), $("#RP_DataEndDate"));

    });
</script>


