﻿
@model Qualanex.QoskCloud.Web.Model.VisualReport
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using EntityFramework.Reflection
@using Microsoft.Ajax.Utilities

@{
   ViewBag.Title = "UPA Management";

   var properties = Model.cols.GetType().GetProperties();
   var numericTypes = new List<string>() { "Int", "Int32", "Int64", "Float", "Float32", "Float64", "Decimal" };
}


<div id="VisualReportGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Report Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               @*<table id="example" class="display" width="100%"></table>*@
               <table id="searchGrid1" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">

                        @if (Model != null)
                        {
                           foreach (var cols in (IEnumerable<object>)Model.cols)
                           {
                              string s = Json.Encode(cols);
                              var k = s.Split(',');
                              var titles = k[1].Split(':')[1];

                              <th>@titles.Replace('"', ' ')  </th>
                           }
                        }
                     </tr>
                  </thead>
                  <tbody>
                     @if (Model != null)
                     {
                        //foreach (var items in Model.rows)
                        //{

                        //}

                        //for (int rows = 0; rows < Model.rowsCount; rows++)
                        //{
                        foreach (var items in (IEnumerable<object>)Model.rows)
                        {
                           <tr class="VisualReportDetail-div-click"
                               name="SearchListItem"
                               VisualReportDetail-method="post"
                               data-row-id="0"
                               data-ql-ajax="true"
                               VisualReportDetail-target="#VisualReport">
                              @for (int cols = 1; cols <= ((IEnumerable<object>)Model.cols).Count(); cols++)
                              {
                                 string t = Json.Encode(items);
                                 var ss = t.Split('[');
                                 var split = ss[1].Split('{');
                                 var k = split[cols].Replace("{\"v\"", " ").Replace('}', '=').Replace(']', ' ');
                                 var k1 = k.Split(':');
                                 var itm = k1[1].Split('=')[0];
                                 var itemsValue = itm.Replace('"', ' ');
                                 //if (itemsValue.Contains("Date("))
                                 //{
                                 //   var itt = itemsValue.Split('(')[1].Split(')')[0];
                                 //   itemsValue = new DateTime(itt + ",0");
                                 //}
                                 <td>

                                    @if (!string.IsNullOrWhiteSpace(itemsValue) && itemsValue.ToString().Trim() != "null")
                                    {
                                       @itemsValue.ToString()
                                    }

                                 </td>


                              }
                           </tr>
                        }
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
