﻿@model Qualanex.QoskCloud.Web.Model.VisualReport
@{
   ViewBag.Title = "VisualReport Demo";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_LayoutVisualReport.cshtml";
}
@Scripts.Render("~/bundles/qosk/detail")
<link href="~/Content/easyquery.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/eq-icons-default.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/eqview.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/easychart.css" rel="stylesheet" type="text/css" />*@



<!-- EasyQuery widgets settings -->
<script type="text/javascript">

          window.easyQuerySettings = {
             serviceUrl: getPrefix() + "VisualReportDemo",
             loadDefaultModel: true,
             loadQueryOnStart: true,
             //locale: "fr",
             entitiesPanel: {
                showCheckboxes: true
             },
             columnsPanel: {
                allowAggrColumns: true,
                attrElementFormat: "{entity} {attr}",
                showColumnCaptions: true,
                adjustEntitiesMenuHeight: false,
                menuOptions: {
                   showSearchBoxAfter: 30,
                   activateOnMouseOver: true
                }

             },
             queryPanel: {
                showPoweredBy: false,
                accentActiveCondition: false,
                alwaysShowButtonsInPredicates: false,
                allowParameterization: true,
                allowInJoinConditions: true,
                buttons: {
                   condition: ["menu"],
                   predicate: ["addCondition", "addPredicate", "enable", "delete"]
                },

                //dateFormatValue: "dd.mm.yy",
                //dateFormatDisplay: "dd M yy",
                menuOptions: {
                   showSearchBoxAfter: 20,
                   activateOnMouseOver: true
                }

             },
             syncQueryOptions: {
                sqlOptions: { SelectDistinct: true }
             },

             //an example of "List Request" callback handler for "Custom List" value editors
             //listRequestHandler: function(params, onResult)
             //{
             //   var processed = true;
             //   if (params.listName == "Regions")
             //   {
             //      var query = EQ.client.getQuery();

             //      //trying to get currently selected country (if there is such condition)
             //      var country = query.getOneValueForAttr(query, "Customer.Country");

             //      if (country == "Canada")
             //      {
             //         onResult([
             //             { id: "BC", text: "British Columbia" },
             //             { id: "Quebec", text: "Quebec" }
             //         ]);

             //      }
             //      else
             //      {
             //         onResult([
             //             { id: "CA", text: "California" },
             //             { id: "CO", text: "Colorado" },
             //             { id: "OR", text: "Oregon" },
             //             { id: "WA", text: "Washington" }
             //         ]);
             //      }
             //   }
             //   else
             //      processed = false;

             //   return processed;
             //},

             antiForgeryToken: document.querySelector('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').value

          };

          window.easyQueryViewSettings = {
             showChart: false,
             useEasyChart: false //, defaultChartType: 7
          };

          function getPrefix()
          {
             var res = window.location.pathname;
             if (res.charAt(res.length - 1) !== '/')
                res = res + '/';
             return res;
          }

</script>


<div id="main">
   <!--
   <input id="QueryContentJson" type="hidden" value="@ViewBag.QueryJson" />
   -->

   <div id="content">
      <div class="header-panel">
         <div class="entities-block" style="height:367px">
            <hr class="entities-hr hr" />
            <div class="entities-title">Entities</div>
            <div class="entities-panel-container">
               <!-- EntitiesPanel widget placeholder -->
               <div id="EntitiesPanel" onselectstart="return false"></div>
            </div>
         </div>

         <div class="central-block">
            <div class="columns-block">
               <hr class="columns-hr hr" />
               <div class="columns-title">Columns</div>
               <div class="columns-panel-container">
                  <!-- ColumnsPanel widget placeholder -->
                  <div id="ColumnsPanel"></div>
               </div>
            </div>
            <div class="columns-sorting-block" style="display:none">
               <div class="columns-sorting-title">Columns Sorting</div>
               <div class="columns-sorting-container">
                  <div id="SortingBar"></div>
               </div>
            </div>
            <div class="conditions-block" style="height:130px" >
               <hr class="conditions-hr hr" />
               <div class="conditions-title">Conditions</div>
               <div class="query-panel-container" style="overflow:auto">
                  <!-- QueryPanel widget placeholder -->
                  <div id="QueryPanel"></div>
               </div>
            </div>
            <div class="result-panel-title">
               Result
               <span id="ResultCount" style="display:none; margin-left:20px; font-size:small"></span>

               <span id="ResultExportButtons">
                  <a href="@Url.Action("ExportToFileExcel","VisualReportDemo")">Export to Excel</a>
                  <a href="@Url.Action("ExportToFileCsv","VisualReportDemo")">Export to CSV</a>
                  <div style="float:right;width:100px">
                     @using (Html.BeginForm("Export", "VisualReportDemo", FormMethod.Post))
                     {
                        <input type="hidden" name="GridHtml" />
                        <input type="submit" id="btnSubmit" value="Export PDF" />
                     }
                  </div>
               </span>
            </div>
         </div>

         <div class="menu-block" style="height:367px">
            <hr class="menu-hr hr" />
            <div class="menu-title">Menu</div>
            <div class="menu-content">
               <div id="ClearQueryButton" class="eqv-button clear-button">Clear query</div>
               @using (Html.BeginForm("LoadQueryFromFile", "VisualReportDemo", FormMethod.Post, new { id = "LoadQueryForm", enctype = "multipart/form-data" }))
               {
                  <input type="file" id="LoadQueryFileInput" name="queryFile" style="display: none;" />
                  <input type="submit" style="display: none;" />
               }
               <div id="LoadQueryFileButton" class="eqv-button load-query-button">Load query file</div>

               @using (Html.BeginForm("GetCurrentQuery", "VisualReportDemo", FormMethod.Get))
               {
                  <input type="hidden" id="SaveQueryFileInput" name="queryFile" />
                  <input type="submit" id="GetCurrentQueryButton" class="eqv-button save-query-button" value="Save to file" />
               }
               @*<div id="GetCurrentQueryButton" class="eqv-button save-query-button">Save to file</div>*@

               @*<a href="@Url.Action("GetCurrentQuery","VisualReportDemo")" class="eqv-button save-query-button" target="_blank">Save to file</a>*@
               <div id="ExecuteQueryButton" class="eqv-button execute-button">Execute</div>

               <!-- Old version of load/save buttons -->
               <!--
               <div id="LoadQueryButton" class="eqv-button load-query-button">Load query</div>
               <div id="SaveQueryButton" class="eqv-button save-query-button">Save query</div>
               -->

               <div><p></p></div>
               <!-- Test button which perfoms different operation over query and model just for demonstration purposes -->
               <!-- Uncomment next line if would like to try -->
               <!--<div id="TestButton" class="eqv-button execute-button" style="display:block">Test</div>-->
            </div>
         </div>
      </div>

      <div class="bottom-panel">
         <div class="sql-panel" style="display:none">
            <hr class="sql-panel-hr hr" />
            <div class="sql-panel-title">SQL</div>
            <div id="SqlPanel" class="sql-block">
               <div class="sql-panel-result"></div>
            </div>
         </div>
         <div class="result-panel" style="width:100%;overflow:auto;height:393px">
            <hr class="result-panel-hr hr" />
          
            <div id="ResultPanel" class="result-panel-content" style="display:none;top:0px;">

            </div>
            <div class="result-panel-content" style="height:383px;top:0px">
               <div id="tab-container" class="tabContainer">

                  <table style="width: 100%; height: calc(100% - 40px);">
                     <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                     <tr>
                        <td>
                           <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                              <tr>
                                 <td>
                                    <div class="ql-body active" id="tabs-summary" style="max-height:350px">
                                       @Html.Partial("_EasyQuery", Model)
                                    </div>

                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>


               </div>
            </div>
            <div class="result-panel-content-padding">
            </div>

         </div>

      </div>
   </div>
</div>


@section Scripts {

   <!-- EasyQuery script files -->
   <script src="@Url.Content("~/Scripts/eq.all.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/eq.view.basic.js")" type="text/javascript"></script>
   @*<script src="@Url.Content("~/Scripts/easychart.js")" type="text/javascript"></script>*@

   <script type="text/javascript">


          $(function()
          {
             //TestButton click event hanlder. Implements different functionality with query and models.
             //Uncomment the part you would like to try
             $("#TestButton").click(function()
             {
                var cp = EQ.client.controls.CPWidget;
                //cp.ColumnsPanel("removeColumn", EQ.client.getQuery().query.columns[0]);

                var query = EQ.client.getQuery();
                //query.removeColumn(query.getColumns()[0]);
                query.moveColumn(0, 1);


                //                EQ.client.locale = 'ru';
                //how to get current Query
                //var query = EQ.client.getQuery();

                //Here we show how to load another data model
                //EQ.client.loadModel({ modelName: "NWindSQL" });
                //EQ.client.loadQuery({ queryName: "query6" });

                //The next line demonstrates how to add a condition into existing query
                //query.addSimpleCondition({ attr: "Customers.CompanyName", operator: "StartsWith", value: "A" });

             });


             $('#LoadQueryFileInput').change(function()
             {
                $('#LoadQueryForm').submit();
             });
             //$("#SaveQueryFileInput").change(function()
             //{
             //   $('#SaveQueryForm').submit();
             //});

             $('#LoadQueryFileButton').click(function()
             {
                $('#LoadQueryFileInput').click();
             });

             //$('#GetCurrentQueryButton').click(function()
             //{
             //   $('#SaveQueryFileInput').click();
             //});

             var message = '@ViewBag.Message';
             if (message)
             {
                $('.global-message').show().delay(5000).hide(2000);
             }
          });
          //var i = 0;
          //setTimeout(function()
          //{
          //   if ($("#searchGrid").length > 0 && i === 0)
          //   {
          //      i++;
          //      $("#searchGrid").DataTable(
          //       {
          //          scrollX: true,
          //          scrollCollapse: true,
          //          fixedColumns: true,
          //          height: "auto"
          //       });
          //   }
      //}, 1);
      $(function()
      {
         $("#btnSubmit").click(function()
         {
            $("#searchGrid1").find("thead").css({ "background-color": "#90C1D8" });
            $("#searchGrid1").find("th").css({ "border": "1px solid #000" });
            $("#searchGrid1").find("td").css("border", "1px solid #000");
            var tables = "<table id='searchGrid1' class='display' cellspacing='0' style='width:95%;border:1px solid #000'>" +
             $("#searchGrid1").html() + "</table>";
            $("#searchGrid1 th").removeAttr("style");
            $("#searchGrid1 td").removeAttr("style");
            $("#searchGrid1 thead").removeAttr("style");
            $("input[name='GridHtml']").val(tables);

         });
        
      });
   </script>
}