﻿@model Qualanex.QoskCloud.Entity.ColumnListEntity


  
    <div class="custom-grid" style="z-index:9999;">
    <div class="custom-search-box">
        <div class="close-btn"><img src="~/images/close-btn.png"></div>
        <h1>Custom Grid</h1>
        <div class="custom-grid-area">
            <div class="custom-grid-left">
                <select size="9" multiple="" class="list3" id="customgrdid" ondrop="drop(event)" ondragover="allowDrop(event)">

                    @for (int iCount = 0; iCount < Model.DefaultColumn.Count; iCount++)
                    {
                         if (Model.DefaultColumn[iCount].ColumnName != "NDCUPC")
                            { 
                        <option value="@Model.DefaultColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.DefaultColumn[iCount].DisplayText</option>
                            }
                    }
                   
                </select>
            </div>
            <div class="custom-grid-btn-arrow">
                <input type="button" class="left-btn" id='move_right1'>
                <input type="button" class="right-btn" id='move_left1'>
            </div>
            <div class="custom-grid-right">
                <select id="GridList2" size="9" multiple="MULTIPLE" class='list4' ondrop="drop(event)" ondragover="allowDrop(event)">
                    @if (Model.SubscribedColumn != null)
                    {
                        for (int iCount = 0; iCount < Model.SubscribedColumn.Count; iCount++)
                        {
                            if (Model.SubscribedColumn[iCount].ColumnName != "NDCUPC" && Model.SubscribedColumn[iCount].IsGridListingDefault !=true)
                            { 
                                <option value="@Model.SubscribedColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.SubscribedColumn[iCount].DisplayText</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="custom-grid-up-down">
                <input type="button" class="up-btn" value="Up">
                <input type="button" class="down-btn" value="Down">
            </div>
        </div>
        <div class="custom-search-btn">
            <input type="button" id="btnSubmit2" value="Save" onclick="GetGridPanelList();">
            <input type="button" value="Cancel" class="cancel">
        </div>
    </div>
</div>

    @*<div class="custom-search-btn">
            <input id="btnSubmit" type="button" value="Save" onclick="GetLeftPanelList();">
            <input type="button" value="Reset" class="cancel">
        </div>*@
    @*</div>
        </div>*@


