﻿@model Qualanex.QoskCloud.Entity.LotNumbersReturns
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    ProfileTypeDictionary.Add("Retail Pharmacy", "Retail Pharmacy");
    ProfileTypeDictionary.Add("Chain Pharmacy", "Chain Pharmacy");
    ProfileTypeDictionary.Add("ReverseDistributor", "Distributor");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Distribution Center", "Distribution Center");
    SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);
    //PerPageCountNumber.Add(1000, 1000);
}

@section Scripts
{

    <script src="@Url.Content("~/js/custom-grid.js")"></script>
}
<script src="~/Scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="~/js/LotJs.js">
</script>
<script src="~/Scripts/jqx-all.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />

<div class="main-container">
    <input type="hidden" id="hdnTotalRecords" />
    <div id="LotList" class="product-list">
        <div class="top_heading">
            <h1>Lot Numbers List</h1>
            <div class="">
                <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                    <div id="collapse">
                        <a href="#"><span><strong>-</strong></span> Collapse Search</a>
                    </div>
                    <div id="expand">
                        <a href="#"><span><strong>+</strong></span> Expand Search</a>
                    </div>
                </div>
                <div class="media-clr media-margin"></div>

                <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                    <ul>
                        <li><a class="custom-search add_btn">Custom Search</a><span>|</span></li>
                        <li><a class="custom-grid-btn add_btn">Custom Grid</a><span>|</span></li>
                        <li>
                            @Html.ActionLink("Add New Lot Number", "Create")
                        </li>

                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="product-box2">
            <div>
                @using (Html.BeginForm("Index", "LotNumber", FormMethod.Get))
                {
                    <div class="search-box" id="exp_col">

                        @*Adding Search Panel As Partial View*@
                        <div id="SearchPanelList">
                        </div>
                        <div class="clearfix"></div>



                        <div class="search-btn">
                            <div class="row">                                
                                <div class="col-md-12 margin_top">
                                    <input type="button" id="btnSubmit" value="Search">
                                    <input type="reset" onclick="ClearControl();" value="Reset">
                                </div>
                            </div>
                        </div>



                    </div>
                    @Html.TextBoxFor(m => m.CurrentLotPageNo, new { name = "txtlotCurrentPageNo", id = "txtlotCurrentPageNo", @class = "hidden" })
                    <input type="hidden" id="hdnPageNo" />
                    <div class="clear"></div>
                    <div class="row show-pagesize-cmb" style="margin:10px auto;">
                        <div class="col-md-12" style="margin-top:5px;">

                            <div class="pull-right">
                                @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                            </div>
                            <div class="pull-right" style="padding:7px;">
                                <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                        <div id="jqxgrid">
                        </div>
                    </div>
                    <div class="grid-btn">
                        <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateGridForRestPages(false);" />
                        <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateGridForRestPages(true);" />
                    </div>
                    <div id="LotGrid"></div>
                    <div class="grid-details"></div>
                }
            </div>
        </div>

        <!-- custom search-->
        <div class="model-popup">
            <div class="custom-search-box">
                <div id="ColumnListingPopUp"></div>
                @*@if (Model != null && Model.ColumnListing != null)
                    {
                        @Html.Partial("ColumnListPanel", Model.ColumnListing)}*@
            </div>
        </div>

    </div>


</div>

<!-- custom grid -->
<div class="clear"></div>

<div id="CustomGridListing"></div>
@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")
<script>
    function ClearControl() {
        $(".datePicker").val("");
        $("input.clear-Checkbox").val("");
        $("select.clear-Checkbox").val("0");
        $(".clear-Checkbox").prop("checked", false);
    }


    function SetPagesizeDynamic() {
        var Pagesizeee = parseInt($("#hdnPageNo").val());
        $('#jqxgrid').jqxGrid({ pagesizeoptions: [Pagesizeee] });
        $("#wait").css("display", "none");
        $("#jqxgrid").jqxGrid('render');
        $("#jqxgrid").jqxGrid('updatebounddata');
        if ($("#hdnTotalRecords").val() > 0) {
            var pagetext = "1-" + Pagesizeee + " of " + $("#hdnTotalRecords").val();
            //var pagetext = "1-" + Pagesizeee + " of 500 Lot Numbers";
            $(".grid-details").text(pagetext);
            $(".grid-details").show();
        }

    }

    $(document).ready(function () {
        $(document).keypress(function (e) {
            if (e.which == 13) {
                // CreateGridPanel();
                clearCookiesfn();
                GetColumnAndBindintoGrid();
            }
        });

        $("#hdnPageNo").val(50);

        $(".grid-details").hide();

        //$(window).scroll(function () {
        //    if (parseInt($("#hdnPageNo").val()) < 500) {
        //        var noofRecords = ($("#hdnTotalRecords").val());
        //        if (parseInt($("#hdnPageNo").val()) < noofRecords) {
        //            if ($(window).scrollTop() == $(document).outerHeight() - $(window).outerHeight() && $("#hdnPageNo").val() <= 450) {
        //                $("#wait").css("display", "block");
        //                $("#hdnPageNo").val(parseInt($("#hdnPageNo").val()) + 50);
        //                SetPagesizeDynamic();
        //            }
        //        }

        //    }
        //});


        //$(document).ajaxStart(function () {
        //    $("#wait").css("display", "block");
        //});
        //$(document).ajaxComplete(function () {
        //    $("#wait").css("display", "none");
        //});
        $("#IsDelete").after("<i></i>");
        $(".btnEditimage, .policy-btn, .delete-btn").html("");
    });

</script>

@*On scroll hide*@
@*<script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                //$("#copypager > #pagerjqxgrid").css('display', "none");
                //>=, not <=
                if (scroll >= 150) {
                    //$(".jqx-grid-header").addClass("jqx-grid-header-1");
                    $("#exp_col").hide(1000);
                    //$(".top_heading").addClass('top_heading_fix');
                    //$("#copypager > #pagerjqxgrid").addClass('adjust_pager');
                    //$("#copypager > #pagerjqxgrid").css('display', "block");


                }
                else if (scroll <= 150) {
                    //$(".jqx-grid-header").removeClass("jqx-grid-header-1");
                    $("#collapse").hide();
                    $("#expand").show();
                    //$(".top_heading").removeClass("top_heading_fix");
                    //$("#copypager > #pagerjqxgrid").removeClass('adjust_pager');
                }
            }); //missing );
        });
    </script>*@
@*On scroll hide*@

@*Expand Collapse Feature*@
@*<script type="text/javascript">
        //    $("#toggle").click(function () {
        //    $(this).parent().siblings("#expand").slideToggle();
        //});



        $(document).ready(function () {

            $("#collapse").show();
            $("#expand").hide();
            $("#collapse").click(function () {
                $("#collapse").hide();
                $("#expand").show();
                $("#exp_col").hide(1000);
            });
            $("#expand").click(function () {
                $("#collapse").show();
                $("#expand").hide();
                $("#exp_col").show(1000);
            });
        });
    </script>*@
@*Expand Collapse Feature*@