﻿
<div id="MgmtSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Group Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="QoskSummary display" cellspacing="0" style="width: 95%;">
                  <thead>
                     <tr class="collapse in">
                        <th hidden></th>
                        <th hidden></th>
                        <th>Group Name</th>
                        <th>Group Type</th>
                        <th>Profile Name</th>
                        <th hidden></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="MgmtEntity hidden"
                         MgmtEntity-id="0"
                         MgmtEntity-method="post"
                         MgmtEntity-ajax="true"
                         MgmtEntity-data='entity={"GroupID":0,"GroupCode":null,"GroupName":"","GroupDescription":"","PrimaryProfileCode":,"ProfileName":"","Description":"","Status":"Enabled","isDeleted":false,"GroupType":""}'
                         MgmtEntity-insert="@Url.Action("OnMgmtEntityInsert")"
                         MgmtEntity-update="@Url.Action("OnMgmtEntityUpdate")"
                         MgmtEntity-delete="@Url.Action("OnMgmtEntityDelete")"
                         MgmtEntity-refresh="@Url.Action("OnMgmtEntityRefresh")">
                        <td exchange="Status" hidden></td>
                        <td exchange="GroupID" hidden>0</td>
                        <td exchange="GroupName"></td>
                        <td exchange="Description"></td>
                        <td exchange="ProfileName"></td>
                        <td exchange="GroupType" hidden></td>
                     </tr>
                     @foreach (var item in Model.Entitys)
                     {
                        <tr class="MgmtEntity GroupDetail-div-click"
                            MgmtEntity-id="@item.GroupID"
                            MgmtEntity-data="entity=@Json.Encode(item)">
                           <td exchange="Status" exchange-vlaue="@item.Status" hidden> @item.Status</td>
                           <td exchange="GroupID" exchange-value="@item.GroupID" hidden> @item.GroupID</td>
                           <td exchange="GroupName" exchange-value="@item.GroupName">@item.GroupName</td>
                           <td exchange="ProfileName" exchange-value="@item.Description" >@item.Description</td>
                           <td exchange="ProfileCode" exchange-value="@item.ProfileName">@item.ProfileName</td>
                           <td exchange="GroupType" exchange-value="@item.GroupType" hidden>@item.GroupType</td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>