﻿@model Qualanex.QoskCloud.Web.Areas.GroupMgmt.ViewModels.GroupMgmtViewModel

<div id="GroupMgmtAssociation">
   <datalist id="profileAssociationList"></datalist>

   <div class="QoskSegment">
      @if (Model.GroupRelationControl.Rows != null)
      {
         @Html.Partial("_RelationControl", Model.GroupRelationControl)
      }
   </div>
</div>