﻿@model Qualanex.QoskCloud.Web.Areas.GroupMgmt.ViewModels.GroupMgmtViewModel

<div class="formMax" style="display: block;">
   <table class="tableEx formEx">
      <tr>
         <td class="tdFiller tdPreview">&nbsp;</td>
         <td>
            <table class="tableEx">
               <tr>
                  <td class="tdLabel" style="width: 100px">Group Name</td>
                  <td colspan="5"><input id="GroupName" nestfocus="ProfileName" class="inputEx editable ECS_ALPHANUMERIC" type="text" value="" required readonly /></td>
               </tr>
               <tr>
                  <td class="tdLabel" style="width: 100px">Profile Name</td>
                  <td style="width: 310px;">
                     <input id="ProfileName" nestfocus="Status" class="inputEx editable ECS_ALPHANUMERIC profileCodeField" type="text" value="" list="profileList" required readonly />
                     <datalist id="profileList"></datalist>
                  </td>
                  <td class="tdLabel">Status</td>
                  <td style="width: 95px;">
                     <select id="Status" nestfocus="GroupType" class="selectEx editable " value="" disabled>
                        <option id="1">Enabled</option>
                        <option id="0" >Retired</option>
                     </select>
                  </td>
                  <td class="tdLabel">Group Type</td>
                  <td>
                     <select id="GroupType" nestfocus="" class="selectEx editable" value="" disabled>
                        @foreach (var item in Model.GroupTypeLists)
                        {
                           <option value="@item.GroupType" data-field-name="@item.GroupName">@item.GroupName</option>
                        }
                     </select>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</div>
