﻿@model Qualanex.QoskCloud.WebReports.Common.CheckBoxViewModel

<div class="productradiobtn">
    @Html.CheckBoxFor(x => x.Value, new
{
    Name = Model.Type + "-" + Model.Name,
    datamessage = Model.AssociateTableName,
    datatype = Model.DataType,
    OperatorType = Model.OperatorType,
    @class = "clear-Checkbox-checked",
    @checked=(Model.Value=false) ? "checked" : string.Empty ,
})

    @Html.LabelFor(x => x.Value, Model.Label)


    @*<label class="custom-checkbox">  <input type="checkbox" class="check-box" data-val="true" data-val-required="The No Return Allowed field is required." id="LotNumbersData_ReturnAllowed" name="LotNumbersData.ReturnAllowed" value="true"><i></i><input type="hidden" name="LotNumbersData.ReturnAllowed" value="false"></label>*@
</div>