﻿@model Qualanex.QoskCloud.WebReports.Common.TextBoxViewModel

<table class="criteria-grid">
    <tbody>
        <tr>
            <td>
                @Html.LabelFor(x => x.Value, Model.Label)
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.IsAutoComplete == true)
                {
                    @Html.TextBoxFor(x => x.Value, new
               {
                   Name = Model.Type + "-" + Model.Name,
                   datamessage = Model.AssociateTableName,
                   type = "text",
                   datatype = Model.DataType,
                   OperatorType = Model.OperatorType,
                   @class = "clear-Checkbox autocomplete",
                   @placeholder = "auto complete"
               })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Value, new
               {
                   Name = Model.Type + "-" + Model.Name,
                   datamessage = Model.AssociateTableName,
                   type = "text",
                   datatype = Model.DataType,
                   OperatorType = Model.OperatorType,
                   @class = "clear-Checkbox"
               })

                }
            </td>

        </tr>
    </tbody>
</table>
<script>
        function isNumber(evt) {
                        evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
            return true;
                }


        var controlName = "";

        $(".autocomplete").autocomplete({
            source: function (request, response) {
                controlName = $(this.element).prop("name");
                    $.ajax({
                        url: '@Url.Action("GetAutoCompleteDetails","Report")',
                        cache: false,
                        data: { terms: request.term, controlID: $(this.element).prop("name") },
                        dataType: 'json',
                        type: 'GET',
                        //cache: false,
                        contentType: "application/json; charset=utf-8",
                        //dataFilter: function (data) { return data; },
                        success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.Text,
                                    value: item.Value
                                    }
                                }));
                            }
                        });
                    },
                focus: function (event, ui) {

                    $(this).val(ui.item.label);

                },
                select: function (event, ui) {

                    $(this).val(ui.item.label);
                    return false;
                }
        });




</script>