﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h1>About Us <span></span></h1>
    <p>
        Qualanex has developed a team of reverse logistic experts with over forty years of combined experience for managing the development, growth and long-term success of our company. Our comprehensive services include trade return management programs, recall/product withdrawal management services, sample returns, field audits and on-site reconciliation.
    </p>
    <p>
        Qualanex customized solutions are designed to manage the entire reverse logistics process on behalf of our customers and include issuance of return authorization, receipt, processing, data capture, valuation, on-line reporting, audit verification, sortation and disposition. Customers can be confident that our knowledge and expertise combined with our superior technology and logistics capabilities will result in regulations being met, accurate reporting and thorough compliance with industry standards.

        Our web based technology and mobile applications give us the ability to capture returns data remotely thereby allowing us to provide our clients with a unique, on-site service for managing the validation and verification of valuable returns information. Once processed, the product is then segregated and shipped to our centralized returns center where it goes through a secondary verification process. In addition, our validated, web based tracking system insures that our customers have real time visibility to their returns information and can generate customized reports utilizing our on-line reporting tools.
    </p>
    <p>
        Qualanex is committed to providing the highest levels of service designed to meet the individual needs of our clients. Our reverse logistic experts will work directly with you in a one-on-one environment to plan, design, initiate and execute a successful program for managing your reverse logistic needs.
    </p>
    </div>
