﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clearfix"></div>
<div class="main-container">
   
    <h1>Trade Returns <span>Qualanex</span></h1>
    <p>
        Qualanex_Qualanex trade return management services are designed to provide manufacturers and their trading partners with a comprehensive program for managing the entire return goods process.
    </p>
    <p>
        At Qualanex, we recognize that each manufacturer has a unique set of trade return requirements which is why we take the time to develop a customized return goods management solution to meet your specific needs. And, to support your customized solution, we use a combination of innovative technology along with well designed value added services such as efficient product processing, validated data management systems, web based reporting, online return authorization, audit verification and destruction services.
    </p>
    <p>
        
    </p>

    <h1>Sample Return <span>Qualanex</span></h1>
    <p>
        Qualanex trade return management services are designed to provide manufacturers and their trading partners with a comprehensive program for managing the entire return goods process.
    </p>
    <p>
        Our comprehensive sample return service provides regulatory compliant receipt, verification, processing, reporting and disposition of both controlled and non-controlled samples. Through this process we capture and electronically report all sales representative data, product detail, audit verification, quarantine storage and documented destruction to support your sampling efforts. You can be confident that our years of experience combined with our knowledge and expertise of PDMA regulations will provide you and your company with an efficient solution for managing salesman sample returns.
    </p>
    @*Edited the Withdrawls as Withdrawal edit by rajumysa*@
    <h1>Recall & Withdrawal <span>Qualanex</span></h1>
    <p>
        Qualanex recall services deliver immediate support for the complete management of any type of recall or product withdrawal. Our staff of regulatory and recall management experts are dedicated to providing you
        with unparalleled service in the event of a recall or product withdrawal. From the initial stage of preparing the notification packages to managing the withdrawal the receipt and processing of the product, our experienced team will work closely with you every step of the way to insure regulations are met and that your recall is managed in a highly professional and comprehensive manner. Furthermore, through our web based tracking system, you will have complete online visibility to your recall data thereby allowing you to monitor the status of the recall at any stage in it’s lifecycle. Please feel free to contact us to find out more about how we can support you and your company in the event of a recall or product withdrawal.
    </p>
   
</div>
<script>

    $(document).ready(function () {
        $('.lot-icon').unbind("click");
    });
    
</script>












