﻿<link rel="stylesheet" href="~/Content/adminMenuPopup.css" type="text/css" />

<div id="AdminMenuPopup" class="overlay" style="z-index:999">

   <div class="popup">
      <h2>@ViewBag.PopupTitle</h2>
      <a class="close" href="#">&times;</a>
      <table class="content">
         <tbody>
         <tr>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 13 })"><div class="popup-div" style="background-image: url(/images/calendar-icon.png); background-size: contain"></div>Product Details</a></td>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 14 })"><div class="popup-div" style="background-image: url(/images/policy-icon.png); background-size: contain"></div>Waste Summary</a></td>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 16 })"><div class="popup-div" style="background-image: url(/images/info.png); background-size: contain"></div>Pharmacy Summary</a></td>
         </tr>
         <tr style="height:20px"></tr>
         <tr>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 17 })"><div class="popup-div" style="background-image: url(/images/error.png); background-size: contain"></div>Non Creditable Summary</a></td>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 18 })"><div class="popup-div" style="background-image: url(/images/edit-icon.png); background-size: contain"></div>Manufacturer Summary</a></td>
            <td class="tdEx" style=""><a href="@Url.Action("Id", new { area = "Report", ReportId = 19 })"><div class="popup-div" style="background-image: url(/images/history.png); background-size: contain"></div>Return To Stock</a></td>
         </tr>
         </tbody>
      </table>
   </div>
</div>

