﻿@using Qualanex.QoskCloud.Utility.Common

@{
   ViewBag.Title = "Reports";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
}
@model Qualanex.QoskCloud.Web.Common.ActionMenuModel

<input type="hidden" value="@ViewBag.ReportId" id="hdnReportid" />
<input type="hidden" value="@ViewBag.ReportScheduleId" id="hdnReportScheduleId" />
<input type="hidden" value="" id="hdnEditNewClicked" />
<input type="hidden" value="" id="hdnGridHeight" />
<input type="hidden" value="" id="hdnReportName" />
<input type="hidden" value="" id="hdnRunOnlineReport" />

<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"> </td>

      <td>
         <table class="QoskBody" AppCode="">

            <tr style=""><td class="" style="height: 8px;"></td></tr>
            <tr style="">
               <td class="" style="height: 100%;">
                  <table class="QoskContent">
                     <tr class="foo">
                        <td>
                           <table class="tableEx">
                              <tbody>
                                 <tr>
                                    <td class="bar" style="width: 422px;">Criteria</td>
                                    <td class="bar" style="">@ViewBag.ReportName</td>
                                    <td class="" style="width: 45px; padding: 0; text-align: center"><img id="imgFormState" class="pull-right hide-detail" style="padding-right: 20px" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_up.png" /></td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="3" class="">
                           <!-- expanded view -->
                           <div id="reportDetailFull" class="divEx visible inputFormFull">
                              <table class="tableEx" style="">
                                 <tbody>
                                    <tr>
                                       <!-- product image -->
                                       <td id="SearchPanelList" class="" style="width: 422px;">
                                          <!--THIS IS WHERE THE REPORT CRITERIA GOES-->
                                       </td>
                                       <!-- the form -->
                                       <td id="divReportScheduler" class="" style="padding: 0;">
                                          <!--THIS IS WHERE THE REPORT SCHEDULE GOES-->
                                          <form id="frmReportScheduler" class="formEx"></form>
                                       </td>
                                    </tr>

                                 </tbody>
                              </table>
                           </div>
                           <!-- collapsed view -->
                           <div id="reportDetailMin" class="divEx hidden inputFormMin">
                              <table class="tableEx">
                                 <tbody>
                                    <tr>
                                       <!-- product image -->
                                       <td class="" style="width: 249px; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; ">3</td>
                                       <!-- the form -->
                                       <td class="" style="padding: 0;">
                                          <form class="formEx">
                                             <table class="tableEx">
                                                <tbody>
                                                   <tr>
                                                      <td class="tdLabel">NDC/UPC</td>
                                                      <td style="width: 160px;"><input class="inputEx" type="text" value="00056-0168-01"></td>
                                                      <td class="tdLabel">Name</td>
                                                      <td><input class="inputEx" type="text" value="Coumadin (Warfarin Solium)" readonly=""></td>
                                                      <!-- <td class="tdLabel">Lot#</td><td style="width: 160px;"><input class="inputEx uppercase" type="text" value="L048280"/></td> -->
                                                      <!-- <td class="tdLabel">Exp Date</td><td>Mar 2016</td> -->
                                                   </tr>
                                                   <!-- <tr><td class="tdSummary" colspan="6" style="">Coumadin (Warfarin Solium) / Bristol-Myers Squibb / 9999mg / 9999units / OTC</td></tr> -->
                                                   <tr><td class="tdSummary" colspan="5" style="">Bristol-Myers Squibb / 9999mg / 9999units / OTC</td></tr>
                                                   <tr><td class="tdFiller" style="height: 10px; border-bottom: 0px;" colspan="6"></td></tr>
                                                </tbody>
                                             </table>
                                          </form>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <tr><td colspan="2" class="QoskFormFooter" style=""></td></tr>
                     <tr>

                        <td id="tab-container" class="tabContainer">

                           <ul class="etabs row">
                              <li id="anchorDetail" class="ql-tab">
                                 <a href="#tabs-scheduler">
                                    Details
                                    <img id="search-loading" src="~/images/loader2.gif" width="20" hidden />
                                 </a>
                              </li>
                              <li id="anchorHistory" class="ql-tab">
                                 <a href="#tabs-history">
                                    History
                                    <img id="policy-loading" src="~/images/loader2.gif" width="20" hidden />
                                 </a>
                              </li>
                              <li id="anchorPreview" class="ql-tab">
                                 <a href="#tabs-preview">
                                    Preview
                                    <img id="waste-loading" src="~/images/loader2.gif" width="20" hidden />
                                 </a>
                              </li>
                              <li id="anchorImagesVideos" class="ql-tab">
                                 <a href="#tabs-imageVideo">
                                    Images
                                    <img id="notification-loading" src="~/images/loader2.gif" width="20" hidden />
                                 </a>
                              </li>

                              <li class="tab" style="display: inline-block;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr style="">
                                       <td class=""><img class="actionBar actionTransL" src="~/Images/Actionbar/ActionBar_Transition(short).svg" alt="" /></td>

                                       @*<td class="actionTool" title="Previous Record"><a href="javascript:void(0)" class="" id="btn_toolbar_previous"><i class="fa fa-reply" aria-hidden="true"></i></a></td>
                                          <td class="actionTool" title="Next Record"><a href="javascript:void(0)" class="" id="btn_toolbar_next"><i class="fa fa-share" aria-hidden="true"></i></a></td>*@
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Refresh Record" id="btn_toolbar_refresh" src="~/images/Actionbar/ActionBar_Refresh(0).svg" /></a></td>


                                       @*<td class="actionTool"><a href="javascript:void(0)" class="" title="Zoom In" id="btn_toolbar_zoomIn"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td>
                                          <td class="actionTool"><a href="javascript:void(0)" class="" title="Zoom Out" id="btn_toolbar_zoomOut"><i class="fa fa-search-minus" aria-hidden="true"></i></a></td>*@
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Add new report to schedule" id="btn_toolbar_new" src="~/images/Actionbar/ActionBar_Add(0).svg" /></td>
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Edit selected report schedule" id="btn_toolbar_edit" src="~/images/Actionbar/ActionBar_Edit(0).svg" /></td>
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Delete selected report from schedule" id="btn_toolbar_delete" src="~/images/Actionbar/ActionBar_Delete(0).svg" /></td>


                                       <td class="actionTool"><img class="actionBar actionIcon" id="btn_toolbar_save" title="Save changes made to report schedule" src="~/images/Actionbar/ActionBar_Save(0).svg" /></td>
                                       <td class="actionTool"><img class="actionBar actionIcon" id="btn_toolbar_cancel" title="Cancel and revert all changes made to report schedule" src="~/images/Actionbar/ActionBar_Cancel(0).svg" /></td>


                                       <td class="actionTool"><img class="actionBar actionIcon" title="Download report to local folder" id="btn_toolbar_download" src="~/images/Actionbar/ActionBar_Download(0).svg" /></td>
                                       @*<td class="actionTool"><a href="javascript:void(0)" class="" title="Custom Search" id="btn_toolbar_search"><i class="fa fa-search" aria-hidden="true"></i></a></td>*@
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Run selected report" id="btn_toolbar_Run" src="~/images/Actionbar/ActionBar_Run(0).svg" /></td>
                                       <td class="actionTool"><img class="actionBar actionIcon" title="Custom Grid" id="btn_toolbar_grid" src="~/images/Actionbar/ActionBar_Settings(0).svg" /></td>
                                    </tr>
                                 </table>
                              </li>
                           </ul>

                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">


                                             <div class="ql-body" id="tabs-scheduler" style="position: relative; height: 100%;">
                                                <div class="QoskSegment">
                                                   <table>
                                                      <tr>
                                                         <td rowspan="2" class="tdMarginL level0"></td>
                                                         <td class="tdHeader level0">Current Schedules</td>
                                                         <td rowspan="2" class="QnexBorderR level0" style=""></td>
                                                      </tr>
                                                      <tr class="collapse in">
                                                         <td class="QoskSegmentBody">
                                                            <table id="datagridtable"></table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </div>

                                             </div>
                                             <div class="ql-body" id="tabs-history" style="position: relative; height: 100%;">
                                                <div class="QoskSegment">
                                                   <table>
                                                      <tr>
                                                         <td rowspan="2" class="tdMarginL level0"></td>
                                                         <td class="tdHeader level0">
                                                            <span class="segmentHead">Selected History: </span>
                                                            <span class="segmentHead" id="currentTimeZone" style="width: 30%"></span>
                                                            <span class="segmentHead segmentIconWrapper">
                                                               <img filter="Preview" class="historyFilterIcon historyFilter" title="Show/Hide Previewed Reports" id="historyFilterPreview" src="~/images/Actionbar/ActionBar_Run(1).svg" />
                                                               <img filter="Scheduled" class="historyFilterIcon historyFilter" title="Show/Hide Scheduled Reports" id="historyFilterSchedule" src="~/images/Actionbar/ActionBar_Clock(1).svg" />
                                                               <img filter="Download" class="historyFilterIcon historyFilter" title="Show/Hide Downloaded Reports" id="historyFilterDownload" src="~/images/Actionbar/ActionBar_Download(1).svg" />
                                                            </span>
                                                         </td>
                                                         <td rowspan="2" class="QnexBorderR level0" style=""></td>
                                                      </tr>
                                                      <tr class="collapse in">
                                                         <td class="QoskSegmentBody">
                                                            <table id="historyTable"></table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </div>
                                             </div>
                                             <div class="ql-body" id="tabs-preview" style="position: relative; height: 100%; overflow: scroll;">
                                                <div class="QoskSegment" style="height: 100%">
                                                   <table>
                                                      <tr>
                                                         <td rowspan="2" class="tdMarginL level0"></td>
                                                         <td class="tdHeader level0">Preview</td>
                                                         <td rowspan="2" class="QnexBorderR level0" style=""></td>
                                                      </tr>
                                                      <tr class="collapse in">
                                                         <td class="QoskSegmentBody">
                                                            <div class="whiteborder" id="dvReportPreview" style="width: 100%; height: 100%; display:none;">
                                                               <iframe id="ifReport" style="width:100%; height:100%;" frameborder="0" scrolling="no"></iframe>
                                                            </div>
                                                            <div id="dvJqxgrid_ReportPreviewXLS" role="grid" align="left" class="jqx-grid jqx-reset jqx-rc-all jqx-widget jqx-widget-content jqx-disableselect">

                                                            </div>
                                                            <div id="dvJqxgrid_ReportPreviewCSV" class="table-responsive data-grid-show" style="overflow-x: auto; overflow-y: auto; display: none; width: 100%;">

                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </div>
                                             </div>
                                             <div class="ql-body" id="tabs-imageVideo" style="position: relative; height: 100%; overflow: scroll;">
                                                <div class="QoskSegment" style="height: 100%">
                                                   <table>
                                                      <tr>
                                                         <td rowspan="2" class="tdMarginL level0"></td>
                                                         <td class="tdHeader level0">Images</td>
                                                         <td rowspan="2" class="QnexBorderR level0" style=""></td>
                                                      </tr>
                                                      <tr class="collapse in">
                                                         <td class="QoskSegmentBody">
                                                            <div id="dvJqxgrid_ReportImageVideo" class="table-responsive data-grid-show" style="overflow-x: auto; overflow-y: auto; display: none; width: 100%;">

                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </div>
                                             </div>
                                             <script>
                                                $('#tab-container').easytabs();
                                                $("#tab-container").easytabs("select", "#tabs-scheduler");
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>

                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr style=""><td class="" style="height: 1px;"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin" style="" />
   </tr>
</table>

<!-- custom search-->
<div class="model-popup">
   <div class="custom-search-box">
      <div id="ColumnListingPopUp"></div>

   </div>
</div>

<div class="clear"></div>
<div id="CustomGridListing"></div>

@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("SendEmail")
@Html.Partial("ImagePopup")
@Html.Partial("_ReportSelectorPopup")

@section scripts
{
   <script>
          var _ReportName = "@ViewBag.ReportName";
          var _ReportModule = "@ViewBag.ReportModule";
          var _SearchPanelLayoutID = "@ViewBag.SearchPanellayoutID";
          var _ListPanellayoutID = "@ViewBag.ListPanellayoutID";
          var AllGridHeight = "";
   </script>
   <script src="~/Areas/Report/js/ReportCustomGridDetail.js"></script>
   <script src="~/Areas/Report/js/ReportScheduleJS.js"></script>
   <script src="~/Areas/Report/js/ReportCustomGrid.js"></script>
   <script src="~/Areas/Report/js/ImagePopupPlugin/jquery.jfMagnify.min.js"></script>
}


<style>
   #jqxWidgetPreview > .jqx-widget .jqx-grid-cell {
      border-color: #CCC;
   }

   #jqxWidgetPreview > .jqx-widget-content .jqx-grid-column-header {
      border-top-color: black;
      border-top: none;
      border-left: none;
   }

   .ImageTable img {
      background: url('/Areas/Report/images/img-loader.gif');
      background-size: 100px 100px;
   }

   table.VideoTable {
      display: none;
   }

   .container1 {
      position: relative;
      width: 100px;
      height: 100px;
      float: left;
      margin-left: 10px;
   }

   .checkbox1 {
      position: absolute;
      bottom: 0px;
      right: 0px;
   }
</style>

<style>
   .foo {
      height: 30px;
      color: #FFFFFF;
      cursor: default;
      font: 16px eras_medium, "Eras Medium ITC", serif;
      background: #245C95; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #3A80BB, #245C95); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #3A80BB, #245C95); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #3A80BB, #245C95); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #3A80BB, #245C95); /* Standard syntax (must be last) */
   }

   .bar {
      padding-left: 5px;
      text-align: left;
      cursor: default;
   }
</style>