﻿@{
    ViewBag.Title = "Home Page";
   ViewBag.PageClass = "QoskDashboard QoskPage";
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
}

<table class="tableEx">
   <tr><td class="QoskHMargin" /></tr>
   <tr>
      <td class="" style="">
         <table class="tableEx">
            <tr>
               <td class="QoskVMargin" style="" />
               <td class="QoskBody" style="height: 100%" AppCode="">
                  <table class="" style="height: 100%; width: 880px;">
                     <tr style="">
                        <td class="tdEx" style=""><a href="@Url.Action("Id", new {ReportId = 13})"><div class="divEx settings"></div>Product Details</a></td>
                        <td class="tdEx" style=""><a href="@Url.Action("Id", new {ReportId = 14})"><div class="divEx shipment"></div>Waste</a></td>
                        <td class="tdEx" style=""><a href="@Url.Action("Id", new {ReportId = 19})"><div class="divEx supply"></div>Return To Stock</a></td>
                        <td class="tdEx" style=""><a href="@Url.Action("Id", new {ReportId = 16})"><div class="divEx report"></div>Pharmacy Summary</a></td>
                     </tr>
                     <tr style="">
                        <td class="tdEx" style=""><a href="@Url.Action("Induction", "QoskHome", new { area = "Product" })"><div class="divEx induction"></div>Returns Processing</a></td>
                        @if (User.IsInRole(Qualanex.QoskCloud.Utility.Constants.Role_QoskLiteUser))
                        {
                           <td class="tdEx" style="">
                              <a href="@Url.Action("Index", "QoskHome", new { area = "Product" })">
                                 <div class="divEx detail"></div>Product Detail
                              </a>
                           </td>
                                       <td class="tdEx" style="">
                                          <a href="@Url.Action("Id", new {ReportId = 17})">
                                             <div class="divEx recall"></div>Non Creditable Summary
                                          </a>
                                       </td>
                        }
                        <td class="tdEx" style=""><a href="@Url.Action("Id", new {ReportId = 18})"><div class="divEx waste"></div>Manufacturer Summary</a></td>
                     </tr>
                  </table>
               </td>
               <td class="QoskVMargin" style="width: 50%; height: 100%" />
            </tr>
         </table>
      </td>
   </tr>
   <tr><td class="QoskHMargin" /></tr>
</table>