﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:0px"></div>
<h5 class="text-left">Sorry! No report available for this request.</h5>

