@model Qualanex.QoskCloud.Web.Areas.Report.ViewModel.ReportScheduleDetailViewModel
@Html.ValidationSummary()
@Html.HiddenFor(model => model.ScheduleType, new { @id = "ScheduleType" })
@Html.HiddenFor(model => model.Meridieum, new { @id = "Meridieum" })


<table class="tableEx" style="">
   <tbody>
      <tr>
         <td class="tdLabel">Title</td>
         <td colspan="8">
            @Html.TextBoxFor(model => model.ScheduleReportTitle, new { @class = "validate[required] inputEx", @oninput = "return AlphaNumericWithDashSpace(this);", @required = true, @readonly = "readonly" })
         </td>
         <td class="tdLabel">Format</td>
         <td class="tdEx" style="">
            @Html.DropDownListFor(model => model.FileType, (IEnumerable<SelectListItem>)ViewBag.FileTypeList, "Select", new { @class = "validate[required] selectEx", @required = true, @readonly = "readonly" })
         </td>
      </tr>
      <tr class="">
         <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="11">Schedule</td>
      </tr>
      <tr>
         <td class="tdLabel">Every</td>
         <td style="width: 50px;">
            @Html.TextBoxFor(model => model.Every, new { @class = "validate inputEx", type = "number", min = "1", max = "99", maxlength = "2", step = "1", @readonly = "readonly" })
         </td>
         <td class="tdSeparatorB" style="width: 5px;"></td>
         <td colspan="3">
            @Html.DropDownListFor(model => model.ScheduleType, (IEnumerable<SelectListItem>)ViewBag.ScheduleTypeList, "Select", new { @class = "validate selectEx", @readonly = "readonly" })
         </td>
         <td class="tdSeparatorA" style="width: 95px;"></td>
         <td class="tdLabel">Begin</td>
         <td class="tdEx" colspan="3">
            @Html.TextBoxFor(model => model.StartDate, new { @readonly = "readonly", @class = "selectEx", @placeholder = "None" })
         </td>
      </tr>
      <tr>
         <td class="tdLabel">Commencing</td>
         <td style="width: 50px;">
            @Html.TextBoxFor(model => model.Hour, new { @class = "validate inputEx", type = "number", min = "1", max = "12", maxlength = "2", step = "1", @readonly = "readonly" })
         </td>
         <td class="tdSeparatorB" style="width: 5px; text-align: center">:</td>
         <td style="width: 50px;">
            @Html.DropDownListFor(model => model.Minute, (IEnumerable<SelectListItem>)ViewBag.MinuteList, " ", new { @class = "validate selectEx", @readonly = "readonly" })
         </td>
         <td class="tdSeparatorB" style="width: 5px;"></td>
         <td style="width: 50px;">
            @Html.DropDownListFor(model => model.Meridieum, (IEnumerable<SelectListItem>)ViewBag.MeridieumList, " ", new { @class = "validate selectEx", @readonly = "readonly" })
         </td>
         <td class="tdSeparatorA" style="width: 95px;"></td>
         <td class="tdLabel">End</td>
         <td class="tdEx" colspan="3">
            @Html.TextBoxFor(model => model.EndDate, new { @readonly = "readonly", @class = "selectEx", @placeholder = "None" })
         </td>
      </tr>
      <tr>
         <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="7">Time Zone</td>
         <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="4">Notify</td>
      </tr>
      <tr>
         <td class="tdLabel">Report</td>
         <td class="tdEx" colspan="6">
            @Html.DropDownListFor(model => model.ReportScheduleTimeZone, (IEnumerable<SelectListItem>)ViewBag.ReportTimeZoneList, new { @class = "validate[required] selectEx", @required = true, @readonly = "readonly" })
         </td>
         <td class="tdLabel">Email</td>
         <td class="tdEx" colspan="3">
            @Html.TextBoxFor(model => model.EmailTo, new { @class = "validate[required] inputEx", @required = true, @readonly = "readonly" })
         </td>
      </tr>
      <tr>
         <td class="tdLabel">Data</td>
         <td class="tdEx" colspan="6">
            @Html.DropDownListFor(model => model.ReportDataTimeZone, (IEnumerable<SelectListItem>)ViewBag.ReportTimeZoneList, new { @class = "validate[required] selectEx", @required = true, @readonly = "readonly" })
         </td>
         <td class="tdLabel">SMS</td>
         <td class="tdEx" colspan="3">
            @Html.TextBoxFor(model => model.SMSTo, new { @maxlength = "15", @class = "validate inputEx", @oninput = "return PhoneNumberMask(event);", @readonly = "readonly" })
         </td>
      </tr>
   </tbody>
</table>






<!--<div class="validation-summary-valid" data-valmsg-summary="true">
   <ul>
      <li style="display:none"></li>
   </ul>
</div>
<input data-val="true" data-val-required="The ScheduleType field is required." id="ScheduleType" name="ScheduleType" type="hidden" value="Hour">
<input data-val="true" data-val-required="The Meridieum field is required." id="Meridieum" name="Meridieum" type="hidden" value="AM">


<div class="cl"></div>-->

<script type="text/javascript">

   function MaxInput(controlId, input)
   {
      $(controlId).keypress(function (e)
      {
         var s = parseInt($(this).val().length);
         if (s > (input - 1))
         {
            e.preventDefault();
            return false;
         }
      });
   }



   StartDateEndDate($("#StartDate"), $("#EndDate"));
</script>

<script>
   $(function ()
   {

      $(document).on('click', '.time-text', function ()
      {
         $(this).addClass("on");
         $(this).tooltip({
            items: '.time-text.on',
            position: {
               my: "left-10 top+10 center",
               at: "right center",
               collision: "flip"
            }
         });
         $(this).trigger('mouseenter');
      });
      //hide
      $(document).on('click', '.time-text.on', function ()
      {
         $(this).tooltip('close');
         $(this).removeClass("on");
      });
      //prevent mouseout and other related events from firing their handlers
      $(".time-text").on('mouseout', function (e)
      {
         e.stopImmediatePropagation();
      });
      $("body .container").click(function ()
      {
         $(".ui-tooltip").fadeOut("fast");
      });
   });


</script>


<script type="text/javascript">
   $(document).ready(function ()
   {
      $("#spanAddress").css("color", "#dffbff");

      if ($("#hdnEditNewClicked").val() != "")
      {
         $("#divReportScheduler :input[data-val-date]").css("cursor", "pointer");
      }

      $("#divReportScheduler :input[data-val-date]").css("cursor", "pointer !important");
      $('#frmReportScheduler').validationEngine();
      $("#btn_toolbar_save").unbind("click");
      $('#btn_toolbar_save').click(function (e)
      {
         ShowLoading();
         // window.setTimeout(SaveReport(), 1000);;
         setTimeout(SaveReport, 500);
      });
   });
   function SaveReport()
   {
      var reportName = $("#hdnReportName").val();

      if (!$("#frmReportScheduler").validationEngine('validate'))
      {
         HideLoading();
         return false;
      }

      var invalidEmails = ReturnInvalidEmails($('#EmailTo').val());

      if (invalidEmails == "")
      {
         var retailerBoxDetailScheduleData =
            {
               ReportScheduleId: $('#hdnReportScheduleId').val(),
               ReportID: $('#hdnReportid').val(),
               ScheduleReportTitle: $('#ScheduleReportTitle').val(),
               HourlyInterval: $('#HourlyInterval').val(),
               StartDate: $('#StartDate').val(),
               EndDate: $('#EndDate').val(),
               ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
               ReportDataTimeZone: $('#ReportDataTimeZone').val(),
               Every: $('#Every').val(),
               FileType: $('select#FileType option:selected').val(),
               Hour: $('#Hour').val(),
               Minute: $('select#Minute option:selected').val(),
               Meridieum: $('select#Meridieum option:selected').val(),
               ScheduleType: $("select#ScheduleType option:selected").val(),
               EmailTo: $('[name="EmailTo"]').val(),
               SmsTo: $('#SMSTo').val()
            };

         var getsuccess = SendAjax(resolveUrl() + '/Home/SaveReportDetails', retailerBoxDetailScheduleData);

         if (getsuccess.Status == 0)
         {
            var reportScheduleId = getsuccess.ReportScheduleId;
            var getsuccessProductDetail;

            if (reportName == ReportNames.ProductDetails)
            {
               var retailerProductDetail =
                  {
                     NDCNumber: $('[name=textbox-NDCNumber]').val(),
                     StoreName: $('[name=textbox-StoreName]').val(),
                     StoreNumber: $('[name=ddl-StoreNumber]').val(),
                     VendorName: $('[name=textbox-VendorName]').val(),
                     ProductDescription: $('[name=textbox-ProductDescription]').val(),
                     LotNumber: $('[name=textbox-LotNumber]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                     ExpDate: $('[name=datepicker-ExpDate]').val(),
                     FullQty: $('[name=textbox-FullQty]').val(),
                     PartialQty: $('[name=textbox-PartialQty]').val(),
                     UnitPriceBefore: $('[name=textbox-UnitPriceBefore]').val(),
                     CreditableAmountBeforeMFGDiscount: $('[name=textbox-CreditableAmountBeforeMFGDiscount]').val(),
                     ReturnStatus: $('[name=textbox-ReturnStatus]').val(),
                     OutofpolicyDescription: $('[name=textbox-OutofpolicyDescription]').val(),
                     DataStartDate: $('[name=datepicker-DataStartDate]').val(),
                     DataEndDate: $('[name=datepicker-DataEndDate]').val(),
                     Strength: $('[name=textbox-Strength]').val(),
                     ItemGuid: $('[name=textbox-ItemGuid]').val(),
                     QoskProcessDate: $('[name=datepicker-QoskProcessDate]').val(),
                     ControlNumber: $('[name=textbox-ControlNumber]').val(),
                     PackageSize: $('[name=textbox-PackageSize]').val(),
                     UnitPriceAfter: $('[name=textbox-UnitPriceAfter]').val(),
                     CreditableAmountAfter: $('[name=textbox-CreditableAmountAfter]').val(),
                     RecalledProduct: $('[name=textbox-RecalledProduct]').val(),
                     DiscontinuedProduct: $('[name=textbox-DiscontinuedProduct]').val(),
                     RXorOTC: $('[name=textbox-RXorOTC]').val(),
                     DosageForm: $('[name=textbox-DosageForm]').val(),
                     PackageForm: $('[name=textbox-PackageForm]').val(),
                     PartialPercentage: "",
                     ExtendedDiscountPercent: ""

                  };
               getsuccessProductDetail = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { retailerProductDetail: retailerProductDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessProductDetail.Status == 0)
               {

                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
            else if (reportName == ReportNames.WasteReport)
            {
               var wasteReportDetail =
                  {
                     NDCNumber: $('[name=textbox-NDCNumber]').val(),
                     StoreName: $('[name=textbox-StoreName]').val(),
                     StoreNumber: $('[name=textbox-StoreNumber]').val(),
                     ItemGuid: $('[name=textbox-ItemGuid]').val(),
                     ProductDescription: $('[name=textbox-ProductDescription]').val(),
                     LotNumber: $('[name=textbox-LotNumber]').val(),
                     Strength: $('[name=textbox-Strength]').val(),
                     FullQty: $('[name=textbox-FullQty]').val(),
                     ControlNumber: $('[name=textbox-ControlNumber]').val(),
                     DosageForm: $('[name=textbox-DosageForm]').val(),
                     PackageForm: $('[name=textbox-PackageForm]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                     ExpDate: $('[name=datepicker-ExpDate]').val(),
                     PackageSize: $('[name=textbox-PackageSize]').val(),
                     WasteStreamProfile: $('[name=textbox-WasteStreamProfile]').val(),
                     WasteCode: $('[name=textbox-WasteCode]').val(),
                     SealedOpenCase: $('[name=textbox-SealedOpenCase]').val(),
                     DataStartDate: $('[name=datepicker-DataStartDate]').val(),
                     DataEndDate: $('[name=datepicker-DataEndDate]').val(),
                     PartialQty: $('[name=textbox-PartialQty]').val(),


                  };
               getsuccessProductDetail = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { wasteReportDetail: wasteReportDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessProductDetail.Status == 0)
               {

                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
            else if (reportName == ReportNames.PharmacySummary)
            {
               var pharmacySummaryDetail =
                  {
                     StoreNumber: $('[name=textbox-StoreNumber]').val(),
                     StoreName: $('[name=textbox-StoreName]').val(),
                     WholesalerCustomerNumber: $('[name=textbox-WholesalerCustomerNumber]').val(),
                     RegionName: $('[name=textbox-RegionName]').val(),
                     ReturnCreditableValue: $('[name=textbox-ReturnCreditableValue]').val(),
                     ReturnCreditableQty: $('[name=textbox-ReturnCreditableQty]').val(),
                     RecallCreditableValue: $('[name=textbox-RecallCreditableValue]').val(),
                     RecallCreditableQty: $('[name=textbox-RecallCreditableQty]').val(),
                     NonCreditableValue: $('[name=textbox-NonCreditableValue]').val(),
                     NonCreditableQty: $('[name=textbox-NonCreditableQty]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                     TotalProductValue: $('[name=textbox-TotalProductValue]').val(),
                     TotalQty: $('[name=textbox-TotalQty]').val(),
                     ProcessingFeeBilled: $('[name=textbox-ProcessingFeeBilled]').val(),
                     TotalInvoiceAmount: $('[name=textbox-TotalInvoiceAmount]').val(),
                     TotalDebitMemoQty: $('[name=textbox-TotalDebitMemoQty]').val(),
                     ReturnToStockValue: $('[name=textbox-ReturnToStockValue]').val(),
                     ReturnToStockQty: $('[name=textbox-ReturnToStockQty]').val(),


                  };
               getsuccessProductDetail = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { pharmacySummaryDetail: pharmacySummaryDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessProductDetail.Status == 0)
               {

                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
            else if (reportName == ReportNames.NonCreditableSummary)
            {
               var nonCreditableSummaryDetail =
                  {
                     StoreNumber: $('[name=textbox-StoreNumber]').val(),
                     StoreName: $('[name=textbox-StoreName]').val(),
                     RegionName: $('[name=textbox-RegionName]').val(),
                     NonCreditableValue: $('[name=textbox-NonCreditableValue]').val(),
                     NonCreditableQty: $('[name=textbox-NonCreditableQty]').val(),
                     ManufacturerName: $('[name=textbox-ManufacturerName]').val(),
                     NonCreditableReasonCode: $('[name=textbox-NonCreditableReasonCode]').val(),
                     NonCreditableReasonDescription: $('[name=textbox-NonCreditableReasonDescription]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                  };
               var getsuccessNonCreditableSummary = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { nonCreditableSummaryDetail: nonCreditableSummaryDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessNonCreditableSummary.Status == 0)
               {

                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
            else if (reportName == ReportNames.ManufacturerSummary)
            {
               var manufacturerSummaryDetail =
                  {
                     MFGLabeler: $('[name=textbox-MFGLabeler]').val(),
                     ManufacturerName: $('[name=textbox-ManufacturerName]').val(),
                     RetailerVendorNumber: $('[name=textbox-RetailerVendorNumber]').val(),
                     DebitMemoInvoiceNo: $('[name=textbox-DebitMemoInvoiceNo]').val(),
                     CreditableValue: $('[name=textbox-CreditableValue]').val(),
                     CreditableQty: $('[name=textbox-CreditableQty]').val(),
                     RecallCreditableValue: $('[name=textbox-RecallCreditableValue]').val(),
                     RecallCreditableQty: $('[name=textbox-RecallCreditableQty]').val(),
                     TotalProductValue: $('[name=textbox-TotalProductValue]').val(),
                     TotalQty: $('[name=textbox-TotalQty]').val(),
                     ProcessingFee: $('[name=textbox-ProcessingFee]').val(),
                     TotalInvoiceAmount: $('[name=textbox-TotalInvoiceAmount]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                  };
               var getsuccessManufacturerSummary = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { manufacturerSummaryDetail: manufacturerSummaryDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessManufacturerSummary.Status == 0)
               {

                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
            else if (reportName == ReportNames.ReturnToStock)
            {
               var returnToStockDetail =
                  {
                     VendorName: $('[name=textbox-VendorName]').val(),
                     StoreName: $('[name=textbox-StoreName]').val(),
                     StoreNumber: $('[name=textbox-StoreNumber]').val(),
                     NDCNumber: $('[name=textbox-NDCNumber]').val(),
                     ProductDescription: $('[name=textbox-ProductDescription]').val(),
                     Strength: $('[name=textbox-Strength]').val(),
                     ControlNumber: $('[name=textbox-ControlNumber]').val(),
                     RXorOTC: $('[name=textbox-RXorOTC]').val(),
                     DosageForm: $('[name=textbox-DosageForm]').val(),
                     PackageForm: $('[name=textbox-PackageForm]').val(),
                     LotNumber: $('[name=textbox-LotNumber]').val(),
                     ExpDate: $('[name=datepicker-ExpDate]').val(),
                     QoskProcessDate: $('[name=datepicker-QoskProcessDate]').val(),
                     DateEligibleForCredit: $('[name=datepicker-DateEligibleForCredit]').val(),
                     OutofpolicyDescription: $('[name=textbox-OutofpolicyDescription]').val(),
                     ReportDataTimeZone: $('#ReportDataTimeZone').val(),
                     ReportScheduleTimeZone: $('#ReportScheduleTimeZone').val(),
                  };
               var getsuccessReturnToStockDetail = SendAjax(resolveUrl() + '/Home/' + reportName + "_Criteria", { returnToStockDetail: returnToStockDetail, ReportScheduleId: reportScheduleId });

               if (getsuccessReturnToStockDetail.Status == 0)
               {
                  showConfirmationMessage('Report scheduled successfully!');
               }
            }
         }
         else
         {
            showConfirmationMessage('Report not scheduled!');
         }
      }
      else
      {
         showMessage(invalidEmails + " not valid email(s).");
      }

      HideLoading();
   }


   function showConfirmationMessage(message)
   {
      $(".alert-popup-body-message").show();
      $("#alertmessageid").text(message);
      $("#btnok").bind("click", function ()
      {
         $("#btnok").unbind("click");
         $("#hdnEditNewClicked").val("");
         location.reload();
      });
   }

   function showMessage(message)
   {
      $(".alert-popup-body-message-confirm").hide();
      $("#alertmessageid").text(message);
      $(".alert-popup-body-message").show();
      $("#btnok").click(function ()
      {
         $(".alert-popup-body-message").hide();
      });
   }

   //Function for showing and hiding loader
   function ShowLoading()
   {
      $('#divloaderBackground').show();
      $('#divLoader').show();

   }
   function HideLoading()
   {
      $('#divLoader').hide();
      $('#divloaderBackground').hide();
   }
   restrictInput("#Every", 1, 99);
   restrictInput("#Hour", 1, 12);
   function restrictInput(controlId, min, max)
   {
      $(controlId).on("change", function ()
      {
         var result = null;
         var s = parseFloat($(this).val());

         if (s > max)
         {
            result = max;
         }
         else if (s < min)
         {
            result = min;
         }
         else
         {
            $(this).val(Math.ceil(s));
         }

         if (result !== null)
         {
            $(this).val(result);
            showMessage("Input out of range!\nPlease enter a number between " + min + " and " + max);
         }
      });
   }

</script>