﻿@model Qualanex.QoskCloud.Web.Areas.UPAMgmt.ViewModels.UPAMgmtViewModel

<div id="UPAMgmtConfiguration">

   <div class="QoskSegment">
      <div style="width: 37%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="tabRelationControl">
         @if (Model.TabRelationObjects.UPAConfigRelationControl.Rows != null)
         {
            @Html.Partial("_RelationControl", Model.TabRelationObjects.UPAConfigRelationControl)
         }
      </div>

      <div style="width: 34%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="segmentRelationControlItems">
         @if (Model.SegmentRelationObjects.UPAConfigRelationControl.Rows != null)
         {
            @Html.Partial("_RelationControl", Model.SegmentRelationObjects.UPAConfigRelationControl)
         }
      </div>

      <div style="width: 28%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="functionRelationControlItems">
         @if (Model.FunctionRelationObjects.UPAConfigRelationControl.Rows != null)
         {
            @Html.Partial("_RelationControl", Model.FunctionRelationObjects.UPAConfigRelationControl)
         }
      </div>
   </div>
</div>
