﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.WrhsStnMgmt.ViewModels.WrhsStnMgmtViewModel

<div class="formMax" style="display: block;">
    <table class="tableEx">
        <tr>
            <td class="tdFiller tdPreview">&nbsp;</td>
            <td>
                <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#WrhsStnMgmtDetail" data-ql-tab="search">
                    @Html.AntiForgeryToken()
                    <table class="tableEx">
                        <tr>
                            <td class="tdLabel">Station ID</td>
                            <td style="width:300px">
                                <input id="MachineID" type="text" class="inputEx editable" nextfocus="SerialNumber" prevfocus="" value="@Model.SelectedStationMgmtModel.MachineID"/>
                            </td>
                            <td class="tdLabel">Serial Number</td>
                            <td style="width:300px">
                                <input id="SerialNumber" type="text" class="inputEx editable" nextfocus="LocationDescription" prevfocus="MachineID" value="@Model.SelectedStationMgmtModel.SerialNumber"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdLabel">Location</td>
                            <td style="width:300px">
                                <select id="LocationDescription" class="selectEx editable " value="@Model.SelectedStationMgmtModel.LocationDescription" data-field-value="@Model.SelectedStationMgmtModel.LocationRoute" nextfocus="" prevfocus="SerialNumber" style="width: 100%">
                                    @foreach (var descr in Model.LocationList)
                                    {
                                        <option value="@descr.Description" id="@descr.Code">@descr.Description</option>
                                    }
                                </select>
                            </td>
                            <td class="tdLabel" colspan="3">&nbsp;</td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>