﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.WrhsStnMgmt.ViewModels.WrhsStnMgmtViewModel

<div id="WrhsStnMgmtGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Station Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="QoskSummary display" cellspacing="0" style="width: 95%;">
                  <thead>
                     <tr class="collapse in">
                        <th>Station ID</th>
                        <th>Location</th>
                        <th>QOSK ID</th>
                        <th hidden></th>
                        <th hidden></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="MgmtEntity hidden"
                         MgmtEntity-id="0"
                         MgmtEntity-method="post"
                         MgmtEntity-ajax="true"
                         MgmtEntity-data="entity={}"
                         MgmtEntity-insert="@Url.Action("OnMgmtEntityInsert")"
                         MgmtEntity-update="@Url.Action("OnMgmtEntityUpdate")"
                         MgmtEntity-delete="@Url.Action("OnMgmtEntityDelete")"
                         MgmtEntity-refresh="@Url.Action("OnMgmtEntityRefresh")">
                        <td exchange="StationID"></td>
                        <td exchange="Location"></td>
                        <td exchange="QoskIDx"></td>
                        <td exchange="QoskID"></td>
                        <td exchange="ProfileCode"></td>
                     </tr>
                     @foreach (var item in Model.StationDetails)
                     {
                        <tr class="MgmtEntity entity-div-click"
                            MgmtEntity-id="@item.MachineID"
                            MgmtEntity-data="entity=@Json.Encode(item)">
                           <td exchange="StationID">@item.MachineID</td>
                           <td exchange="Location">@item.LocationDescription</td>
                           <td exchange="QoskIDx">@item.QoskIDx</td>
                           <td exchange="QoskID" hidden>@item.QoskID</td>
                           <td exchange="ProfileCode" hidden>@item.ProfileCode</td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
