﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStnMgmt.ViewModels.WrhsStnMgmtViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/WrhsStnMgmt/Views/_Layout.cshtml";
}

<div id="WrhsStnMgmtViewDiv">
   <table class="tableEx" style="height: 100%;">
      <tr>
         <td class="QoskVMargin"></td>
         <td>
            <table class="QoskBody" AppCode="@Model.AppletKey">
               <tr><td class="Gutter-Top"></td></tr>
               <tr>
                  <td style="height: 100%;">
                     <table class="QoskContent">
                        <tr>
                           <td>
                              <div class="QoskForm">
                                 <style type="text/css">
                                    .QoskForm .tdPreview {
                                       display: none;
                                       width: 240px;
                                    }
                                 </style>
                                 <table class="formHeader">
                                    <tr>
                                       <td class="formLabel">Details Form</td>
                                       <td class="formLabel tdPreview">&nbsp;</td>
                                    </tr>
                                 </table>
                                 <table class="formBody">
                                    <tr>
                                       <td>
                                          @Html.Partial("_WrhsStnMgmtForm", Model)
                                       </td>
                                    </tr>
                                 </table>
                                 <table class="tableEx">
                                    <tr><td class="formFooter"></td></tr>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <!-- Content tabs and ActionBar -->
                        <tr>
                           <td id="tab-container" class="tabContainer">
                              <ul class="etabs" style="margin-left: 4px;">
                                 <li class="ql-tab"><a href="#tabs-summary"><span id="tab-title-summary">Summary</span></a></li>
                                 <li class="tab" style="display: inline-block; margin-right: 4px;">
                                    <a style="display: none" href="#dummy-href"></a>
                                    <!-- actionTools -->
                                    <table class="actionBar">
                                       <tr>
                                          <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="~/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                          <td class="actionSep"><span></span></td>
                                          <td class="actionTool"><img id="CMD_NEW" class="actionIcon" title="Add new record" src="~/Images/Actionbar/ActionBar_Add(1).svg" alt="" /></td>
                                          <td class="actionTool"><img id="CMD_EDIT" class="actionIcon" title="Edit selected record" src="~/Images/Actionbar/ActionBar_Edit(1).svg" alt="" /></td>
                                          <td class="actionTool"><img id="CMD_SAVE" class="actionIcon" title="Save changes made to the selected record" src="~/Images/Actionbar/ActionBar_Save(0).svg" alt="" /></td>
                                          <td class="actionTool"><img id="CMD_CANCEL" class="actionIcon" title="Cancel and revert all changes made to the selected record" src="~/Images/Actionbar/ActionBar_Cancel(0).svg" alt="" /></td>
                                          <td class="actionSep"><span></span></td>
                                          <td class="actionTool"><input id="registerMe" class="actionIcon" title="Register this machine" type="button" value="Register Me!" /></td>
                                          @Html.Partial("_WrhsStnMgmtFilter", Model)
                                          @Html.Partial("_ActionMenu", Model.ActionMenu)
                                       </tr>
                                    </table>
                                 </li>
                              </ul>
                              <!-- Tabs action definition -->
                              <table style="width: 100%; height: calc(100% - 40px);">
                                 <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                                 <tr>
                                    <td>
                                       <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                          <tr>
                                             <td style="vertical-align: top;">
                                                <div class="ql-body" id="tabs-summary">
                                                   @Html.Partial("_WrhsStnMgmtSummary", Model)
                                                </div>
                                                <script>
                                                   $('#tab-container').easytabs();
                                                </script>
                                             </td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr><td class="Gutter-bottom"></td></tr>
            </table>
         </td>
         <td class="QoskVMargin"></td>
      </tr>
   </table>
</div>
@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/js/QoskMgmt.js"></script>
   <script src="~/Scripts/jqx-all.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/WrhsStnMgmt/js/WrhsStnMgmt.js"></script>
}
