﻿
<div id="RecallGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Recall Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">                        
                        <th>Recall Number</th>
                        <th>Description</th>
                        <th>Recall Class</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Credit Date</th>
                        <th hidden></th>     
                        <th hidden></th>                 
                        <th hidden></th>                 
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="RecallDetail-div-click hidden"
                         name="SearchListItem"
                         GroupDetail-method="post"
                         data-row-id="0"
                         data-ql-ajax="true"
                         RecallDetail-data='RecallDetails={"RecallID":0,"Description":"","RecallClass":"","RecallStartDate":"","RecallEndDate":"","CreditEndDate":"","ProfileName":"","ProfileCode":0,"DestructionDate":""}'
                         RecallDetail-action="@Url.Action("UpdateRecallDetail")"
                         RecallDetail-target="#formMax">                        
                        <td data-field-value="0" data-field-name="RecallID" > </td>
                        <td data-field-value="0" data-field-name="Description"></td>
                        <td data-field-value="0" data-field-name="RecallClass"></td>
                        <td data-field-value="0" data-field-name="StartDate"></td>
                        <td data-field-value="0" data-field-name="EndDate"></td>
                        <td data-field-value="0" data-field-name="CreditDate"></td>
                        <td data-field-value="" data-field-name="ProfileName" hidden></td> 
                        <td data-field-value="0" data-field-name="ProfileCode" hidden></td>   
                        <td data-field-value="" data-field-name="DestructionDate" hidden></td>                                          
                     </tr>

                     @foreach (var item in Model.RecallDetails)
                     {
                        <tr class="RecallDetail-div-click"
                            name="SearchListItem"
                            GroupDetail-method="post"
                            data-row-id="@item.RecallID"
                            data-ql-ajax="true"
                            RecallDetail-data="RecallDetails=@Json.Encode(item)"
                            RecallDetail-action="@Url.Action("UpdateRecallDetail")"
                            RecallDetail-target="#formMax">                           
                           <td data-field-value="@item.RecallID" data-field-name="RecallID"> @item.RecallID</td>
                           <td data-field-value="@item.Description" data-field-name="Description">@item.Description</td>
                           <td data-field-value="@item.RecallClass" data-field-name="RecallClass">@item.RecallClass</td>
                           <td data-field-value="@item.RecallStartDate" data-field-name="StartDate">@item.RecallStartDate</td>
                           <td data-field-value="@item.RecallEndDate" data-field-name="EndDate">@item.RecallEndDate</td>
                           <td data-field-value="@item.CreditEndDate" data-field-name="CreditDate">@item.CreditEndDate</td>
                           <td data-field-value="@item.ManufacturerProfileName" data-field-name="ProfileName" hidden>@item.ManufacturerProfileName</td>  
                           <td data-field-value="@item.ManufacturerProfileCode" data-field-name="ProfileCode" hidden>@item.ManufacturerProfileCode</td>                         
                           <td data-field-value="@item.DestructionDate" data-field-name="DestructionDate" hidden>@item.DestructionDate</td>                         
                           
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>