﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.RecallMgmt.ViewModels.RecallMgmtModel

<div class="formMax" style="display: block;" id="RecallManagementBody">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align:center"><img src="~/images/Qosk_Logo.jpg" width="85" /></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#RecallDetail-target" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">DESCRIPTION</td>
                     <td colspan="9"><input id="ID_DESCRIPTION" class="inputEx editable" type="text" value="@Model.Description" required editable readonly /></td>
                  </tr>
                  <tr>
                     <td class="tdLabel">MANUFACTURER</td>
                     <td colspan="9">
                        @Html.EditorFor(model => model.ManufacturerProfileName, new
                   {
                      htmlAttributes = new { @class = "manufacCodeField inputEx editable", list = "manufacList", @readonly = "readonly", @editable = "editable", id = "ID_MANUFACTORER" }
                   })
                        <datalist id="manufacList"></datalist>
                  </tr>
                  <tr>

                     <td class="tdLabel" colspan="2">RECALL CLASS</td>

                     <td class="tdLabel" colspan="2">START DATE</td>

                     <td class="tdLabel" colspan="2">END DATE</td>

                     <td class="tdLabel" colspan="2">CREDIT DATE</td>

                     <td class="tdLabel" colspan="2">Destruction Date</td>

                  </tr>

                  <tr>
                     <td colspan="2">
                        <select id="ID_CLASS" class="selectEx editable" value="@Model.RecallClass" editable disabled>
                           <option value="Class I">Class I</option>
                           <option value="Class II">Class II</option>
                           <option value="Class III"> Class III </option>
                        </select>
                     </td>
                     <td colspan="2">
                        @Html.TextBoxFor(model => model.RecallStartDate, new { id = "ID_START", @readonly = "readonly", @class = "selectEx", @disabled = "disabled" })
                     </td>
                     <td colspan="2">
                        @Html.TextBoxFor(model => model.RecallEndDate, new { id = "ID_END", @readonly = "readonly", @class = "selectEx", @disabled = "disabled" })
                     </td>
                     <td colspan="2">
                        @Html.TextBoxFor(model => model.CreditEndDate, new { id = "ID_CREDIT", @readonly = "readonly", @class = "selectEx", @disabled = "disabled" })
                     </td>
                     <td colspan="2">
                        @Html.TextBoxFor(model => model.DestructionDate, new { id = "ID_DESTRUCTION", @readonly = "readonly", @class = "selectEx", @disabled = "disabled" })
                     </td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
