﻿
<div id="RoleGridDetail">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Role Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" width="95%">
                  <thead>
                     <tr class="collapse in">
                        <th hidden></th>
                        <th>Role Name</th>
                        <th>Group Name</th>
                        <th>Status</th>
                        <th hidden> </th>
                        <th hidden> </th>
                        <th hidden> </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="roleDetail-div-click hidden"
                         name="SearchListItem"
                         groupDetail-method="post"
                         data-row-id="0"
                         data-ql-ajax="true"
                         roleDetail-data='roleDetails={"RoleName":"","GroupName":"","Status":"Enabled","GroupType":"","RoleId":0,"GroupId":0,"Description":""}'
                         roleDetail-action="@Url.Action("UpdateRoleDetail")"
                         roleDetail-target="#formMax">
                        <td data-field-value="0" data-field-name="RoleId" hidden> </td>
                        <td data-field-value="" data-field-name="RoleName"> </td>
                        <td data-field-value="" data-field-name="GroupName"> </td>
                        <td data-field-value="" data-field-name="Status"> </td>
                        <td data-field-value="" data-field-name="GroupType" hidden>  </td>
                        <td data-field-value="0" data-field-name="GroupId" hidden> </td>
                        <td data-field-value="" data-field-name="Description" hidden> </td>
                     </tr>
                     @foreach (var item in Model.Entitys)
                     {
                        <tr class="roleDetail-div-click"
                            name="SearchListItem"
                            groupDetail-method="post"
                            data-row-id="@item.RoleId"
                            data-ql-ajax="true"
                            roleDetail-data="roleDetails=@Json.Encode(item)"
                            roleDetail-action="@Url.Action("UpdateRoleDetail")"
                            roleDetail-target="#RoleDetail">
                           <td data-field-value="@item.RoleId" data-field-name="RoleId" hidden>@item.RoleId </td>
                           <td data-field-value="@item.RoleName" data-field-name="RoleName">@item.RoleName</td>
                           <td data-field-value="@item.GroupName" data-field-name="GroupName">@item.GroupName </td>
                           <td data-field-value="@item.Status" data-field-name="Status">@item.Status </td>
                           <td data-field-value="@item.GroupType" data-field-name="GroupType" hidden>@item.GroupType </td>
                           <td data-field-value="@item.GroupId" data-field-name="GroupId" hidden>@item.GroupId </td>
                           <td data-field-value="@item.Description" data-field-name="Description" hidden>@item.Description </td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
