﻿@model Qualanex.QoskCloud.Web.Areas.RoleMgmt.ViewModels.RoleMgmtViewModel

<div id="RoleMgmtConfiguration">

   <div class="QoskSegment">
      <div style="width: 27%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="roleAppRelationControl">
         @if (Model.AppRelationObjects.RoleConfigRelationControl.Rows != null)
         {@Html.Partial("_RelationControl", Model.AppRelationObjects.RoleConfigRelationControl)
            <input type="hidden" id="RoleTabOption" value="@Json.Encode(Model.AppRelationObjects.RoleConfigRelationControlOptions.Select(c=>new { c.AppCode, c.TabCode }).ToList())" />
         }
      </div>

      <div style="width: 25%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="roleTabRelationControl">
         @if (Model.TabRelationObjects.RoleConfigRelationControl.Rows != null)
         {@Html.Partial("_RelationControl", Model.TabRelationObjects.RoleConfigRelationControl)
            <input type="hidden" id="RoleSegmentOption" value="@Json.Encode(Model.TabRelationObjects.RoleConfigRelationControlOptions.Select(c=>new { c.AppCode, c.TabCode,c.SegCode }).ToList())" />
         }
      </div>

      <div style="width: 25%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="roleSegmentRelationControlItems">
         @if (Model.SegmentRelationObjects.RoleConfigRelationControl.Rows != null)
         {
            @Html.Partial("_RelationControl", Model.SegmentRelationObjects.RoleConfigRelationControl)
            <input type="hidden" id="RoleFunctionOption" value="@Json.Encode(Model.SegmentRelationObjects.RoleConfigRelationControlOptions.Select(c=>new { c.AppCode, c.FuncCode,c.SegCode }).ToList())" />
         }
      </div>

      <div style="width: 22%; height: auto; min-height: 10px; overflow: hidden; float: left; cursor: pointer" id="roleFunctionRelationControlItems">
         @if (Model.FunctionRelationObjects.RoleConfigRelationControl.Rows != null)
         {
            @Html.Partial("_RelationControl", Model.FunctionRelationObjects.RoleConfigRelationControl)
         }
      </div>
   </div>
</div>


