﻿@model Qualanex.QoskCloud.Web.Areas.RoleMgmt.Models.RoleEntity

<div class="formMax" style="display: block;" id="RoleManagementBody">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align:center"><img src="~/images/Qosk_Logo.jpg" width="85" /></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#GroupDetail-target" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel">Name</td>
                     <td><input id="ID_ROLENAME" class="inputEx editable" nextfocus="ID_GROUPCODE" type="text" value="@Model.RoleName" required editable readonly maxlength="64" autocomplete="off" /></td>
                     <td class="tdLabel" style="width:95px">Group Name</td>
                     <td>
                        @Html.EditorFor(model => model.GroupName, new
                   {
                      htmlAttributes = new { @class = "groupCodeField inputEx editable", list = "groupList", @readonly = "readonly", @editable = "editable", @required = "required", id = "ID_GROUPCODE", name = Model.GroupId, nextfocus = "ID_STATUS" }
                   })
                        <datalist id="groupList"></datalist>

                     </td>
                     <td class="tdLabel">Status</td>
                     <td>
                        <select id="ID_STATUS" class="selectEx editable " nextfocus="ID_DESCRIPTION" value="@Model.Status" editable disabled>
                           <option value="0" id="Enabled">Enabled</option>
                           <option value="1" id="Retired">Retired</option>
                        </select>
                     </td>

                  </tr>
                  <tr>
                     <td class="tdLabel" style="width: 100px">Description</td>
                     <td colspan="5">
                        <input id="ID_DESCRIPTION" class="inputEx editable" type="text" value="@Model.Description" required editable readonly autocomplete="off" />
                     </td>

                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
