﻿@model Qualanex.QoskCloud.Web.Areas.RoleMgmt.ViewModels.RoleMgmtViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/RoleMgmt/Views/_Layout.cshtml";
}

<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.AppletKey">
            <tr>
               <td class="" style="height: 8px;"></td>
            </tr>
            <!--Top spacer-->
            <tr>
               <td class="" style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    display: none;
                                    width: 240px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel tdPreview">&nbsp;</td>
                                    <td class="formLabel">Role Information</td>

                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_RoleMgmtForm", Model.SelectedEntity)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs">
                              <li class="ql-tab"><a href="#tabs-summary">Summary</a></li>
                              <li class="ql-tab"><a href="#tabs-Config">Configuration</a></li>
                              <li class="ql-tab"><a href="#tabs-association">Association</a></li>
                              <li class="ql-tab"><a href="#tabs-Setting">Setting</a></li>
                              <!-- Action Tools tool-bar -->
                              <li class="tab" style="display: inline-block;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <table class="actionBar">
                                    <tr style="">
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="~/images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_NEW" class="actionIcon" title="Add new record" src="~/images/Actionbar/ActionBar_Add(0).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_EDIT" class="actionIcon" title="Edit selected record" src="~/images/Actionbar/ActionBar_Edit(1).svg" alt=""></td>
                                       <td class="actionTool"><img id="CMD_SAVE" class="actionIcon" title="Save changes made to the selected record" src="~/images/Actionbar/ActionBar_Save(0).svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CANCEL" class="actionIcon" title="Cancel and revert all changes made to the selected record" src="~/images/Actionbar/ActionBar_Cancel(0).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_RETIRED" class="actionIcon" src="~/images/Actionbar/ActionBar_HideRetired(1).svg" alt="" /></td>
                                       @Html.Partial("_RoleMgmtFilter", Model)
                                       @Html.Partial("_ActionMenu", Model.ActionMenu)
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">

                                             <div class="ql-body" id="tabs-summary">
                                                @Html.Partial("_RoleMgmtSummary", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-Config">
                                                @Html.Partial("_RoleMgmtConfiguration", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-association">
                                                @Html.Partial("_RoleMgmtAssociation", Model)
                                             </div>

                                             <div class="ql-body" id="tabs-Setting">
                                                @Html.Partial("_RoleMgmtSetting", Model)
                                             </div>

                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr style=""><td class="" style="height: 1px;"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin" style="" />
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/RoleMgmt/js/RoleMgmt.js"></script>
}