﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

@using Microsoft.AspNet.Identity
@using Constants = Qualanex.QoskCloud.Utility.Constants
<div class="formMax" style="display: block;" id="GreenBinFormBody">
   <table class="tableEx">
      <tr>
         
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#WrhsRecvDetail-target" data-ql-tab="search">
               <table class="tableEx">
                  <tr>
                     <td class="ql-detailimage ql-full tdPreview" rowspan="7">
                        @Html.Partial("_ImageCarousel", Model.lstImages)
                     </td>
                  </tr>
                  <tr>
                     <td class="tdLabel">NDC/UPC</td>
                     <td style="width: 25%;">
                        @Html.TextBoxFor(c=>c.SelectedGreenBinModel.NDC, new { @class = "inputEx editable", id = "NDC", prevfocus = "", nextfocus = "MFG", disabled = "disabled", @readonly = "readonly" })                        
                     </td>
                     <td class="tdLabel">Mfg</td>
                     <td colspan="3">
                        @Html.TextBoxFor(c => c.SelectedGreenBinModel.MFG, new { @class = "inputEx editable", id = "MFG", prevfocus = "", nextfocus = "ProductName", disabled="disabled", @readonly="readonly" })                     
                     </td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Product</td>
                     <td colspan="5">
                     @Html.TextBoxFor(c => c.SelectedGreenBinModel.ProductName, new { @class = "inputEx editable", id = "ProductName", prevfocus = "", nextfocus = "Brand", disabled = "disabled", @readonly = "readonly" })
                     
                     </td>
                  </tr>
                  <tr><td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="6">Packaging</td></tr>
                  <tr>
                     <td class="tdLabel">Brand</td>
                     <td>@Html.TextBoxFor(c => c.SelectedGreenBinModel.Brand, new { @class = "inputEx editable", id = "Brand", prevfocus = "", nextfocus = "Generic", disabled = "disabled", @readonly = "readonly" })
                     
                     </td>
                     <td class="tdLabel">Generic</td>
                     <td colspan="3">
                        @Html.TextBoxFor(c => c.SelectedGreenBinModel.Generic, new { @class = "inputEx editable", id = "Generic", prevfocus = "", nextfocus = "Dosage", disabled = "disabled", @readonly = "readonly" })
                     
                  </td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Dosage</td>
                     <td>@Html.TextBoxFor(c => c.SelectedGreenBinModel.Dosage, new { @class = "inputEx editable", id = "Dosage", prevfocus = "", nextfocus = "Unit", disabled = "disabled", @readonly = "readonly" })
                     @*<input id="Dosage" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />*@
                     </td>
                     <td class="tdLabel">Unit / Pkg</td>
                     <td>@Html.TextBoxFor(c => c.SelectedGreenBinModel.Unit, new { @class = "inputEx editable", id = "Unit", prevfocus = "", nextfocus = "PackageSize", disabled = "disabled", @readonly = "readonly" })
                     @*<input id="Unit" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />*@
                     </td>
                     <td class="tdLabel">Pkg Size</td>
                     <td>
                        @Html.TextBoxFor(c => c.SelectedGreenBinModel.PackageSize, new { @class = "inputEx editable", id = "PackageSize", prevfocus = "", nextfocus = "CtrlNumber", disabled = "disabled", @readonly = "readonly" })
                     @*<input id="PackageSize" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />*@
                     </td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Ctrl#</td>
                     <td>
                        @Html.TextBoxFor(c => c.SelectedGreenBinModel.CtrlNumber, new { @class = "inputEx editable", id = "CtrlNumber", prevfocus = "", nextfocus = "Rx", disabled = "disabled", @readonly = "readonly" })
                     @*<input id="CtrlNumber" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />*@
                     </td>
                     <td class="tdLabel">Rx / OTC</td>
                     <td colspan="3">@Html.TextBoxFor(c => c.SelectedGreenBinModel.Rx, new { @class = "inputEx editable", id = "Rx", prevfocus = "", nextfocus = "", disabled = "disabled", @readonly = "readonly" })
                     @*<input id="Rx" class="inputEx editable" prevfocus="" nextfocus="" type="text" value="" disabled readonly />*@
                     </td>
                  </tr>
               </table>

            </form>
         </td>
      </tr>
   </table>
</div>
