﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel
@{
   ViewBag.SegmentId = "Green Bin";
   ViewBag.Reconcile = "Reconcile";
   ViewBag.Id = "ItemGUID";
   ViewBag.ContainerIdNameI = "WrhsContrID";
   ViewBag.ContainerIdNameO = "OutboundContainerID";
   ViewBag.TypeName = "DestinationType";
   ViewBag.KeyName = "ItemGUID";
   ViewBag.CategoryName = "Category";
}

@Html.Partial("_Wait")

<div id="GreenBinSummary">
   @if (Model.UPAControl == null || (Model.UPAControl.Binventory.Rows != null && !Model.UPAControl.Binventory.Rows.Any()))
   {
      @Html.Partial("_SearchResults")
   }
   else if (Model.UPAControl.Binventory.Rows == null)
   {
      <h1 style="color: red"> Error Retrieving Bin Inventory. Please Contact Your Supervisor.</h1>
   }
   else
   {
      @Html.Partial("_Binventory", Model.UPAControl)
      <script>
         $(document).ready(function ()
         {
            if (window.onAuditInventoryLoad !== undefined)
            {
               window.onAuditInventoryLoad();
            }
         });
      </script>
      @*<div class="QoskSegment">
            <table>
               <tr>
                  <td rowspan="2" class="QnexBorderL level0"></td>
                  <td class="QnexHeader level0">Green Bin Processing</td>
                  <td class="QnexIcon obscure"></td>
                  <td rowspan="2" class="tdMarginR level0">
                     <img class="imgEx" src="~/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png" />
                     <img class="collapse-arrow" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" data-target="#trackingBody" />
                  </td>
               </tr>
               <tr id="greenbinBody">
                  <td colspan="2" class="QnexContent level0">
                     <div class="formMax" style="display: block;">
                        <table class="tableEx">
                           <tr>
                              <td>
                                 <table style="height:140px;top:0;margin:0px auto;width:85%" class="tableEx">
                                    <tr>
                                       <td style="text-align:right;width:150px;"> ItemGUID:</td>
                                       <td colspan="3">
                                          <input type="text" id="ItemGUID" prevfocus="" nextfocus="" class="inputEx editable" readonly disabled />
                                       </td>
                                       <td></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">Inductor:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="Inductor"></label></td>
                                       <td style="text-align:right;width:150px;">RA:</td>
                                       <td style="text-align:left;width:300px;"><label id="RAorWPT"></label></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">Station:</td>
                                       <td style="text-align:left;width:300px;"><label id="Station"></label></td>
                                       <td style="text-align:right;width:150px;">Debit Memo:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"><label id="DebitMemo"></label></td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">Bin:</td>
                                       <td style="text-align:left;width:300px;"><label id="WrhsContrType" style="font-weight:normal"></label></td>
                                       <td style="text-align:right;width:150px;">Time Processed:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;">sdlfkjdfi</td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;width:150px;">
                                          Tote ID:&nbsp;&nbsp;
                                       </td>
                                       <td style="text-align:left;width:300px;"><label id="WrhsContrID"></label></td>
                                       <td style="text-align:right;width:150px;">Tote Item Count:&nbsp;&nbsp;</td>
                                       <td style="text-align:left;width:300px;"> <label id="ItemCount"></label> </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 @Html.Partial("_GreenBinDetails", Model.GreenBinDetails)
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>

            </table>

         </div>*@
   }
</div>
