﻿
<div id="GreenBinDetailsGrid">
   <table id="searchGrid" class="display" cellspacing="0" style="width:95%;">
      <thead>
         <tr class="collapse in">
            <th>ItemGUID</th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            <tr class="searchGrid-div-click"
                name="SearchListItem"
                MgmtEntity-method="post"
                MgmtEntity-id="@item.ItemGUID"
                data-ql-ajax="true"
                MgmtEntity-data="GreenBinDetail=@Json.Encode(item)"
                MgmtEntity-action=""
                MgmtEntity-target="#formMax">
               <td exchange="ItemGUID" exchange-value="@item.ItemGUID">
                  @item.ItemGUID
               </td>
               <td hidden exchange="ProductName" exchange-value="@item.ProductName"></td>
               <td hidden exchange="ProductID" exchange-value="@item.ProductID"></td>
               <td hidden exchange="WrhsContrType" exchange-value="@item.WrhsContrType"></td>
               <td hidden exchange="RAorWPT" exchange-value="@item.TrackingID"></td>
               <td hidden exchange="WrhsContrID" exchange-value="@item.WrhsContrID"></td>
               <td hidden exchange="DebitMemo" exchange-value="@item.DebitMemo"></td>
               <td hidden exchange="ItemCount" exchange-value="@item.ItemCount"></td>
               <td hidden exchange="Destination" exchange-value="@item.Destination"></td>
               <td hidden exchange="ExpDate" exchange-value="@item.ExpDate"></td>
               <td hidden exchange="IndvWeight" exchange-value="@item.IndvWeight"></td>
               <td hidden exchange="LotNumber" exchange-value="@item.LotNumber"></td>
            </tr>
         }
      </tbody>
   </table>
</div>
