﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

<div id="GreenBinProcessingDetailsForm">
   <div id="FormGreenBinProcessingDetailForm">
      <form id="policyForm" method="post" action="/Product/UPA/UpdatePolicyResult" data-ql-ajax="true" data-ql-highlight=".policy-status" data-ql-target="#policy-result" data-ql-finalize="/Product/UPA/UpdatePolicyFinalize">
         @Html.Partial("_PolicyFormHiddenFields", Model.UPAControl)
      </form>
   </div>
   @if (Model.SelectedGreenBinModel.ProductID == 0)
   {
      <h2> Green Bin Processing</h2>
   }
   else
   {
      for (var indx = 0; indx < Model.lstSegments.Count(); indx++)
      {
         ViewBag.SegmentIcon = Model.lstSegments[indx].Images;
         ViewBag.SegmentId = Model.lstSegments[indx].SegmentType;
         ViewBag.Required = Model.lstSegments[indx].Required;
         ViewBag.SegmentGroup = Model.lstSegments[indx].SegmentType;
         ViewBag.Partial = Model.lstSegments[indx].Partial;
         ViewBag.Next = Model.lstSegments[indx].NextSegment;
         ViewBag.SegmentName = Model.lstSegments[indx].Title;
         @Html.Partial("_ProcessingSegment", Model)

      }
   }
   <input type="hidden" id="lotManufacturer" value="@(Model.SelectedGreenBinModel.LotFlag ? 1:0)" />
   <input type="hidden" id="weightOpenUnitDose" value="@(Model.SelectedGreenBinModel.Unit.AsInt() > 1 || Model.SelectedGreenBinModel.ItemStateCode == "O" ? 1:0)" />
</div>
