﻿@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

<div class="QoskSegment">
   <table>
      <tr>
         <td rowspan="2" class="QnexBorderL level0"></td>
         <td class="QnexHeader level0">Bin <label id="ID_BINTYPE" style="color:Green"></label></td>
         <td class="QnexIcon obscure"></td>
         <td rowspan="2" class="QnexBorderR level0"></td>
      </tr>
      <tr id="trackingBody">
         <td colspan="2" class="QnexContent level0" style="padding:5px 25px 5px 25px;">
            <table>
               <tr>
                  <td>
                     <table style="top:0">
                        <tr>
                           <td colspan="2"> ID </td>
                           <td>
                              <input id="ID_BIN" type="text" class="inputEx" prevfocus="" nextfocus="" />
                           </td>
                        </tr>
                        <tr>
                           <td>
                              Count:
                           </td>
                           <td colspan="2"><label id="ID_BINCNT">0</label></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td>
                     <table style="top:0">
                        <tr>
                           <td style="text-align:right;"><button class="btnErrorMessage" id="CloseBin" style="margin-right:10px"> Close </button></td>
                           <td style="text-align:left"><button class="btnErrorMessage"> Pause </button></td>
                        </tr>
                     </table>

                  </td>
                  <td></td>
               </tr>
            </table>
         </td>

   </table>

</div>

