﻿@using Qualanex.QoskCloud.Utility
@model Qualanex.QoskCloud.Web.Areas.GreenBin.ViewModels.GreenBinViewModel

@{
   ViewBag.Title = Model.GetTitle();
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Areas/GreenBin/Views/_Layout.cshtml";
}

@Scripts.Render("~/bundles/qosk/designation")
@if (ViewBag.pageViewId != null)
{
   <script>
      $("[name=pageViewId]").val("@ViewBag.pageViewId");
   </script>
}
<table class="tableEx" style="height: 100%;">
   <tr>
      <td class="QoskVMargin"></td>
      <td>
         <table class="QoskBody" AppCode="@Model.AppletKey">
            <tr><td class="Gutter-Top"></td></tr>
            <tr>
               <td style="height: 100%;">
                  <table class="QoskContent">
                     <tr>
                        <td>
                           <div class="QoskForm">
                              <style type="text/css">
                                 .QoskForm .tdPreview {
                                    width: 240px;
                                 }
                              </style>
                              <table class="formHeader">
                                 <tr>
                                    <td class="formLabel tdPreview">Image Select</td>
                                    <td class="formLabel">Details Form</td>

                                 </tr>
                              </table>
                              <table class="formBody">
                                 <tr>
                                    <td>
                                       @Html.Partial("_GreenBinForm", Model)
                                    </td>
                                 </tr>
                              </table>
                              <table class="tableEx">
                                 <tr><td class="formFooter"></td></tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <!-- Tabs definition -->
                     <tr>
                        <td id="tab-container" class="tabContainer">
                           <ul class="etabs" style="margin-left: 4px;">
                              <li class="ql-tab"><a href="#tabs-summary"><span id="tab-title-summary">Summary</span></a></li>
                              <li class="ql-tab"><a href="#tabs-processing"><span id="tab-title-processing">Processing</span></a></li>
                              @*@foreach (var tab in Model.UPAControl.UpaApplication.childObj.Values)
                                 {
                                    if (tab.ObjectID == Constants.UpaSidebar)
                                    {
                                       continue;
                                    }
                                    <li id="search-tab" class="ql-tab">
                                       <a href="#tabs-@tab.ObjectID">
                                          <span id="tab-title-@tab.ObjectID">@tab.DisplayFormat</span>
                                       </a>
                                    </li>
                                 }*@
                              <li class="tab" style="display: inline-block; margin-right: 4px;">
                                 <a style="display: none" href="#dummy-href"></a>
                                 <!-- actionTools -->
                                 <table class="actionBar">
                                    <tr>
                                       <td class="actionTool"><img id="CMD_REFRESH" class="actionIcon" title="Refresh the list of record(s)" src="/Images/Actionbar/ActionBar_Refresh(1).svg" alt="" /></td>
                                       <td class="actionSep"><span></span></td>
                                       <td class="actionTool"><img id="CMD_SUBMIT" class="actionIcon" title="Submit changes made to the selected record" src="/images/Actionbar/ActionBar_Submit.svg" alt="" /></td>
                                       <td class="actionTool"><img id="CMD_CLEAR" class="actionIcon" title="Clear" src="/images/Actionbar/ActionBar_Clear(1).svg" alt="" /></td>
                                       @Html.Partial("_GreenBinFilter", Model)
                                       @Html.Partial("_ActionMenu", Model.ActionMenu)
                                    </tr>
                                 </table>
                              </li>
                           </ul>
                           <!-- Tabs action definition -->
                           <table style="width: 100%; height: calc(100% - 40px);">
                              <tr><td style="height: 8px; border-top-left-radius: 5px; background: #2A669F;"></td></tr>
                              <tr>
                                 <td>
                                    <table class="QoskBorder-LBR" style="height: 100%; width: 100%;">
                                       <tr>
                                          <td style="vertical-align: top;">
                                             <div class="ql-body" id="tabs-summary">
                                                @Html.Partial("_GreenBinSummary", Model)
                                             </div>
                                             <div class="ql-body" id="tabs-processing" style="overflow:auto">
                                                @Html.Partial("_GreenBinProcessing", Model)
                                             </div>
                                             @*@foreach (var tab in Model.UPAControl.UpaApplication.childObj.Values)
                                                {
                                                   if (tab.ObjectID == Constants.UpaSidebar)
                                                   {
                                                      continue;
                                                   }
                                                   <div class="ql-body" id="tabs-@tab.ObjectID" style="position: relative; height: 100%; overflow-y: scroll;">
                                                      @{ ViewBag.Tab = tab; }
                                                      @Html.Partial("_Tab", Model.UPAControl)
                                                   </div>
                                                         }*@
                                             <script>
                                                $('#tab-container').easytabs();
                                             </script>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr><td class="Gutter-bottom"></td></tr>
         </table>
      </td>
      <td class="QoskVMargin">
         @Html.Partial("_Sidebar", Model.UPAControl)

      </td>
   </tr>
</table>

@section scripts{
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>
   <script src="~/js/QoskMgmt.js"></script>
   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <script src="~/Areas/GreenBin/js/GreenBin.js"></script>
   <script src="~/js/QoskSegment.LotExp.js"></script>
}
