﻿@model Qualanex.QoskCloud.Web.Areas.WrhsContrMgmt.Models.WrhsContrEntity

<div class="formMax" style="display: block;">
   <table class="tableEx formEx">
      <tr>
         <td class="tdFiller tdPreview">&nbsp;</td>
         <td>
            <table class="tableEx">
               <tr>
                  <td class="tdLabel">Name</td>
                  <td><input id="RoleName" nextfocus="" class="inputEx editable ECS_ALPHANUMERIC" type="text" value="" required readonly maxlength="64" /></td>
                  <td class="tdLabel" style="width: 100px;">Group Name</td>
                  <td>
                     <input id="GroupCode" nestfocus="Status" class="inputEx editable ECS_ALPHANUMERIC" type="text" value="" list="groupList" required readonly />
                     <datalist id="groupList"></datalist>
                  </td>
                  <td class="tdLabel">Status</td>
                  <td style="width: 95px;">
                     <select id="Status" nextfocus="Description" class="selectEx editable" value="" disabled>
                        <option>Enabled</option>
                        <option>Retired</option>
                     </select>
                  </td>
               </tr>
               <tr>
                  <td class="tdLabel" style="width: 100px">Description</td>
                  <td colspan="5"><input id="Description" nextfocus="" class="inputEx editable ECS_ALPHANUMERIC" type="text" value="" required readonly /></td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</div>
