﻿
<div id="MgmtSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Warehouse Container Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="QoskSummary display" cellspacing="0" style="width: 95%;">
                  <thead>
                     <tr class="collapse in">
                        <th>Container ID</th>
                        <th>Type</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="MgmtEntity hidden"
                         MgmtEntity-id="0"
                         MgmtEntity-method="post"
                         MgmtEntity-ajax="true"
                         MgmtEntity-data='entity={"RoleName":"","GroupName":"","Status":"Enabled","GroupType":"","RoleId":0,"GroupId":0,"Description":""}'
                         MgmtEntity-insert="@Url.Action("OnMgmtEntityInsert")"
                         MgmtEntity-update="@Url.Action("OnMgmtEntityUpdate")"
                         MgmtEntity-delete="@Url.Action("OnMgmtEntityDelete")"
                         MgmtEntity-refresh="@Url.Action("OnMgmtEntityRefresh")">
                        <td exchange="WrhsContrID"></td>
                        <td exchange="Type"></td>
                        <td exchange="Status"></td>
                     </tr>
                     @foreach (var entity in Model.Entities)
                     {
                        <tr class="MgmtEntity"
                            MgmtEntity-id="@entity.WrhsContrID"
                            MgmtEntity-data="entity=@Json.Encode(entity)">
                           <td exchange="WrhsContrID" hidden>@entity.WrhsContrID </td>
                           <td exchange="Type">@entity.Type</td>
                           <td exchange="Status">@entity.Status</td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
