﻿@using System.Web.UI.HtmlControls
@using Grimace.BulkInsert.Extensions
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@using Qualanex.QoskCloud.Web.Areas.WrhsSort

@model Qualanex.QoskCloud.Web.Areas.WrhsSort.ViewModels.WrhsSortViewModel
<div id="search">   
      <h4>search result place holder</h4>
</div>