﻿@model Qualanex.QoskCloud.Web.Areas.WrhsSort.ViewModels.WrhsSortViewModel
@{
   var itemPartial = "";
}

<table class="ql-sidebar">
   <tr><td class="Gutter-Top"></td></tr>
   <tr><td style="height: 8px; border-top-left-radius: 5px; border-top-right-radius: 5px; background: #2A669F;"></td></tr>
   <tr>
      <td>
         <table class="QoskBorder-LBR" style="width: 100%;">
            <tr>
               <td style="vertical-align: top;">
                  <div class="ql-body" id="tabs" style="position: relative; height: 100%; overflow-y: scroll;">
                     <div id="WrhsSortDetailSidebarControl">
                        @foreach (var item in Model.ModelList)
                        {
                           ViewBag.itemName = item;
                           @Html.Partial(item, Model)
                        }
                     </div>
                     <div id="WrhsSortGayLordsSidebarControl">
                        @Html.Partial("_WrhsSortGaylord", Model)                       
                     </div>
                  </div>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>