﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models

@model ReportInfoViewModel
<style>
    /*.grid-wrapper {
        max-height: calc(100vh - 200px);
        max-width: calc(100vw - 30px);
        overflow: auto;
        overflow-y: hidden !important;
    }*/

    .k-grouping-row > td:first-child, td.k-group-cell:first-child {
        background-color: #F0F8FF;
    }

    dl.g-dl {
        margin-bottom: 0;
    }

    dl.g-dl dt {
        font-weight: normal;
    }

    .k-grouping-row > td > p:nth-child(n+2):last-child {
        display: none;
    }

    .k-multiselect .k-button {
        border-color: #ccc;
        color: #333;
        background-color: #fff;
    }

    .k-multiselect .k-button.k-state-hover {
        color: #333;
        border-color: #aeaeae;
        background-color: #ebebeb;
    }

    .k-multiselect .k-button.placeholder {
        background-color: #aaa;
        border-color: #aaa;
        color: #000;
        font-style: italic;
    }

    .k-button.hint {
        padding: 2px;
        font-size: 12px;
        opacity: 0.7;
        color: #666;
    }

    #gridColSelect_listbox > .k-item {
        border-bottom: 1px solid #aaa;
        border-radius: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #gridColSelect_listbox > .k-state-focused.k-state-selected {
        border-radius: 4px;
        box-shadow: inset 0 0 2px 0 #428bca, inset 0 0 7px 0 #76abd9;
    }

    #gridColSelect_listbox > .k-state-selected {
        background: none;
        border-bottom: 1px solid #aaa;
        color: #333;
        box-shadow: none;
    }

    #gridColSelect_listbox > .k-item > .k-icon {
        display: none;
        padding-left: 10px;
        color: #286090;
    }

    #gridColSelect_listbox > .k-state-selected > .k-icon {
        display: inline-block;
    }

    #gridColSelect_listbox > .k-state-selected:hover {
        background-color: #ebebeb;
    }

    #grid.k-grid td {
        white-space: nowrap;
    }
</style>

<div class="container collapse params-collapse in">
    <select id="gridColSelect" name="gridColSelect" multiple="multiple" data-placeholder="Type to Add Columns..." data-text-field="title" data-value-field="field" style="display:none;"></select>
</div>
<div class="container">
    <div class="col-xs-18 col-md-12">
        <form action="@Url.Action("ExportServer", "Grid")" method="POST" style="margin-top:10px; margin-left:-15px">
            <input type="hidden" id="export-options" name="options" />
            <input type="hidden" id="export-columns" name="columns" />
            <input type="hidden" id="export-params" name="reportParams" />
            <button type="button" id="gridPreview" class="k-button k-button-icontext k-primary">
                <span class="k-icon k-i-grid-layout"></span> Preview Results
            </button>
            <button type="submit" class="k-button k-button-icontext download" data-format="xlsx"><span class="k-icon k-i-excel"></span> Export to Excel (xlsx)</button>
            <button type="submit" class="k-button k-button-icontext download" data-format="csv"><span class="k-icon k-i-csv"></span> Export to Excel (csv)</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <p class="muted-hint">Drag and drop column headers to re-order.</p>
    <div class="grid-wrapper">
        @Html.Partial(string.Format("~/Areas/QoskReporting/Views/Reports/{0}/Excel.cshtml", Model.UniqueName))
    </div>
</div>
<script>
    $(document).ready(function () {

        var grid = $("#grid").data("kendoGrid");
        var columns = grid ? grid.columns : [];

        $(".download").click(function () {
            var options = {
                format: $(this).data("format"),
                title: "CreditComparison"
            }
            $("#export-options").val(objToString(options));
            $("#export-columns").val(objToString(columns));
            $("#export-params").val(objToString(passReportParams()));
        });

        $(".grid-wrapper .k-no-data>td").html("<p id='previewHint' class='muted-hint'>Click Preview Results if you would like to preview data before exporting.</p>");

        $("#gridPreview").click(function () {
            $("#previewHint").hide();
            grid.dataSource.fetch();
        });

        function onMultiSelect(e) {
            grid.showColumn(e.dataItem.field);
        };

        function onMultiDeselect(e) {
            grid.hideColumn(e.dataItem.field);
        };

        var visibleCols = [];
        $.each(columns, function (i) {
            if (!this.hidden)
                visibleCols.push(this.field);
        });

        var gridColSelect = $("#gridColSelect").show().kendoMultiSelect({
            autoClose: false,
            dataSource: new kendo.data.DataSource({
                data: columns,
                sort: { field: "title", dir: "asc" }
            }),
            itemTemplate: "#: data.title #<span class='k-icon k-i-check'></span>",
            value: visibleCols,
            height: 360,
            deselect: onMultiDeselect,
            select: onMultiSelect,
            clearButton: false,
            tagMode: "single",
            tagTemplate: "[#:values.length#] columns selected of a total of #:maxTotal#"
        }).data("kendoMultiSelect");

        $('.k-multiselect .k-input').attr('placeholder', 'Add/Remove Columns...').css('min-width', '170px');

        gridColSelect.tagList.kendoSortable({
            hint: function (element) {
                return element.clone().addClass("hint");
            },
            placeholder: function (element) {
                return element.clone().addClass("placeholder");
            }
        });

        // prevent backspace from removing selected columns
        var input = gridColSelect.input;
        input.on('keydown', function (e) {
            if (e.which === 8 && !e.target.value.length) {
                e.stopImmediatePropagation();
                e.preventDefault();
            }
        });
        $._data(input[0]).events.keydown.reverse();
    });
</script>

