﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models

@model ReportInfoViewModel
<style>
    #reportViewer2 {
        width: 100%;
        font-family: Verdana, Arial;
        height: 400px;
        min-height: 360px;
    }

    #reportViewer2.expand-height{
        height: 700px;
        height: calc(100vh - 55px - 32px - 130px);
    }

    #trv-main-menu-ul > .k-item > .k-link {
        padding: 0.5em 0.7em;
    }

    .loaderSpin {
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        border-bottom: 4px solid #3498db;
        width: 20px;
        height: 20px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }

    .inline-data {
        display: inline-block;
        margin-left: 10px;
        background: #eee;
        padding: 4px 6px;
        border-radius: 3px;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-sm-12">
            <form id="PDFForm" action="@Url.Action("PdfReport", "Home")" method="POST">
                <input type="hidden" id="export-key" name="key" />
                <input type="hidden" id="export-id" name="id" value="@Model.UniqueName" />

                <button type="button" id="PDFButton" class="k-button k-primary k-button-icontext">
                    <span class="k-icon k-i-pdf"></span> Downlod PDF
                </button>

                <button type="button" id="PDFPreview" class="k-button k-button-icontext">
                    <span class="k-icon k-i-toggle-full-screen-mode"></span> Preview
                </button>

                <button type="button" id="PDFEmail" class="k-button k-button-icontext" data-target="#PDFEmailForm" data-toggle="collapse" aria-expanded="false" aria-controls="PDFEmailForm" href="#">
                    <span class="k-icon k-i-email"></span> Email
                </button>

                <span id="PDFSpinner" style="display:none;height:29px;"><span class="loaderSpin"></span><span style="display: inline-block;vertical-align: middle;">Loading report...</span></span>
            </form>
        </div>
    </div>
    <form id="PDFEmailForm" class="param-form buff-top collapse out">
        <div class="row">
            <div class="col-sm-12">
                <div id="PDFEmailPreAlert" class="alert alert-warning collapse in" role="alert">
                    <span class="k-icon k-i-warning"></span>&nbsp;&nbsp;You must <strong>Preview</strong> the report before you can Email it.
                </div>
            </div>
        </div>
        <div id="PDFEmailControls" style="opacity: 0.3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Subject</label><span id="emailSubject" class="inline-data">&nbsp;...&nbsp;</span>
                        <div class="form-text text-muted"><small><em>Only the first RA number returned will be sent.</em></small></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>From</label><span class="inline-data" style="margin-left:30px">@Model.UserInfo.FullName - @Model.UserInfo.Email</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="SendToEmailFormGroup" class="form-group">
                        <label>Send Email To</label>
                        @Html.Kendo().TextBoxFor(m => m.SendToEmail).HtmlAttributes(new { @class = "form-control" }).Enable(false)
                        <div id="emailInvalid" style="color: #a94442;display:none;"><small>One or more entered email addresses are invalid!</small></div>
                        <small class="form-text text-muted"><em>Enter 1 or more email addresses separated by , or ; For example: <b>example@@sample.com, default@@website.com; myemail@@mydomain.com</b></em></small>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12">
                <button type="button" id="SendPDFEmail" class="k-button k-primary k-button-icontext k-state-disabled" disabled>
                    <span class="k-icon k-i-arrow-right" aria-hidden="true"></span> Send
                </button>

                <button type="button" class="k-button k-button-icontext" data-target="#PDFEmailForm" data-toggle="collapse" aria-expanded="false" aria-controls="PDFEmailForm" href="#">
                    <span class="k-icon k-i-cancel"></span> Cancel
                </button>
            </div>
        </div>
    </form>
    <div class="row buff-top">
        <div class="col-sm-12" style="padding: 0 3px 0 1px">
            <div id="reportViewer2"></div>
        </div>
    </div>
</div>
@*@Html.Partial(string.Format("~/Areas/QoskReporting/Views/Reports/{0}/PDF.cshtml", Model.UniqueName))*@
<script>
    function getReportType() {
        return '@(Model.ReportSource is TypeReportSource ? ((TypeReportSource)Model.ReportSource).TypeName : ((UriReportSource)Model.ReportSource).Uri)';
    }

    function checkPdfReportStatus() {
        $.post('@Url.Action("CheckPdfReportStatus", "Home")', { key: $("#export-key").val() }, actUponPdfReportStatus);
    }

    function actUponPdfReportStatus(r) {
        if (r.done) {
            $('#PDFForm').submit();
        } else {
            setTimeout(checkPdfReportStatus, 10000);
        }
    }

    $(document).ready(function () {

        var previewRan = false;

        var reportLoading = function (isLoading) {
            var displayVal = isLoading ? 'inline-block' : 'none';
            $("#PDFSpinner").css('display', displayVal);
            $("#PDFForm button").each(function () {
                $(this).kendoButton().data("kendoButton").enable(!isLoading);
            });

            $("#SendPDFEmail").kendoButton().data("kendoButton").enable(!isLoading && previewRan);
        };


        var emailIsValid = function () {

            var emailList = $('#SendToEmail').val();

            var emails = emailList.replace(/\s/g, '').split("/[,;]/");

            var valid = true;
            var regex = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            for (var i = 0; i < emails.length; i++) {
                if (emails[i] == "" || !regex.test(emails[i])) {
                    valid = false;
                }
            }

            if (valid) {
                $('#SendToEmailFormGroup').removeClass('has-error');
                $('#emailInvalid').hide();
            }
            else {
                $('#SendToEmailFormGroup').addClass('has-error');                
                $('#emailInvalid').show();
            }
                

            return valid;
        };

        $('#SendToEmail').change(function () {
            // TODO : validate emails on client side
            //emailIsValid();
        });
        
        $("#PDFForm").submit(function (e) {
            var cName = 'QoskFileDownload';
            $.removeCookie(cName, { path: '/' });
            $.removeCookie(cName);
            var hasDownloadCookie = function () {
                if ($.removeCookie(cName, { path: '/' }) || $.removeCookie(cName)) {
                    reportLoading(false);
                }
                else {
                    setTimeout(hasDownloadCookie, 1000);
                }
            };
            hasDownloadCookie();
        });

        $("#PDFButton").click(function () {
            reportLoading(true);

            $.post('@Url.Action("StartPdfReport", "Home")', { id: '@Model.UniqueName', reportParams: encodeURIComponent(JSON.stringify(passReportParams())) }, function (r) {

                $("#export-key").val(r.key);
                actUponPdfReportStatus(r);
            });

        });

        $("#SendPDFEmail").click(function () {

            // TODO : validate emails on client side
            //if (!emailIsValid())
            //    return;

            reportLoading(true);
            $("#PDFEmailForm").collapse();

            $.post('@Url.Action("SendReportEmail", "Home")', { id: '@Model.UniqueName', reportParams: encodeURIComponent(JSON.stringify(passReportParams())), sendToEmails: $('#SendToEmail').val() }, function (r) {
                toastr["success"]("Sending Email...");
                reportLoading(false);
            });
        });

        $("#PDFPreview").click(function () {
            reportLoading(true);
            $(".params-collapse").collapse();

            var reportViewer2 = $("#reportViewer2").data("telerik_ReportViewer");
            $.removeCookie("@Model.UniqueName", { path: '/' });
            $.removeCookie("@Model.UniqueName");
            $('#emailSubject').text("...");

            if (!reportViewer2) {
                reportViewer2 = $("#reportViewer2").telerik_ReportViewer({
                    serviceUrl: '@Url.Content("~/api/reports")',
                    templateUrl: '@Url.Content("~/Areas/QoskReporting/ReportViewer/customReportViewerTemplate.html")',
                    sendEmail: { enabled: false },
                    directPrint: true,
                    viewMode: "PRINT_PREVIEW",
                    pageMode: "SINGLE_PAGE", 
                    scaleMode: "FIT_PAGE_WIDTH",
                    parametersAreaVisible: false,
                    documentMapVisible: false,
                    reportSource: {
                        report: getReportType(),
                        parameters: passReportParams()                        
                    },
                    renderingEnd: function () {
                        previewRan = true;
                        reportLoading(false);

                        $("#PDFEmailPreAlert").collapse();

                        $.post('@Url.Action("GetEmailInfo", "Home")', { id: '@Model.UniqueName', reportParams: encodeURIComponent(JSON.stringify(passReportParams())) }, function (emailInfo) {
                            $('#emailSubject').text(emailInfo.Subject);
                            $("#PDFEmailControls").css('opacity', 1);
                            $("#SendToEmail").prop("disabled", false).removeClass("k-state-disabled");
                        });
                    }
                });
            }
            else {
                reportViewer2.reportSource({
                    report: reportViewer2.reportSource().report,
                    parameters: passReportParams()                     
                });
            }
        });
    });
</script>
