﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models
@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Services

@model ReportInfoViewModel

<form id="scheduleForm" class="param-form" action="@Url.Action("Save", "Schedule")" method="POST">

    <div id="scheduleHeader" class="buff-bottom">
        <a class="group-h show" data-target=".schedule-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="scheduleCollapse" href="#">
            <h5>
                <span class="k-icon k-i-arrow-chevron-down"></span> Schedule Settings
            </h5>
        </a>
    </div>
    <div class="collapse schedule-collapse in" id="scheduleCollapse">
        @Html.HiddenFor(m => m.ReportSchedule.ReportScheduleID)
        @Html.HiddenFor(m => m.ReportSchedule.ReportUniqueName)
        <input type="hidden" id="schedule-params" name="ReportSchedule.ScheduleParamsXml" />
        <input type="hidden" id="schedule-columns" name="ReportSchedule.ReportColumnsXml" />
        <input type="hidden" id="schedule-reportParams" name="ReportSchedule.ReportParamsXml" />

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>My Schedule Name</label>
                    @Html.Kendo().TextBoxFor(m => m.ReportSchedule.ScheduleName).HtmlAttributes(new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>File Type</label>
                    @(Html.Kendo().DropDownListFor(m => m.ReportSchedule.ReportFileType)
                                                                                .BindTo(new List<string>() { ReportInfoService.ReportFileType.PDF, ReportInfoService.ReportFileType.Excel, ReportInfoService.ReportFileType.CSV })
                                                                                .HtmlAttributes(new { @class = "form-control" })
                                                                                .Events(e => e.Select("onReportFileTypeSelect")))

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Schedule Start Date</label>
                    @(Html.Kendo().DatePickerFor(m => m.ReportSchedule.StartDate).Min(DateTime.Today).Format(CreditComparisonService.DateFormat)
                                                                                    .HtmlAttributes(new { @class = "form-control" }).Events(e => e.Open("datePickerOpen").Change("scheduleStartDateChange")))
                </div>
                <div class="form-group">
                    <label>Scheduled Time</label>
                    @(Html.Kendo().TimePicker().Value(Model.ReportSchedule.ScheduleTimeString).Events(e => e.Change("timePickerChange"))
                        .Name("ReportSchedule.ScheduleTimeString").Format("hh:mm tt").Interval(60)
                        .HtmlAttributes(new { @class = "form-control" }))
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Schedule End Date &nbsp; <small class="form-text text-muted"> &nbsp; Optional</small></label>
                    @(Html.Kendo().DatePickerFor(m => m.ReportSchedule.EndDate).Min(DateTime.Today).Format(CreditComparisonService.DateFormat)
                                                                                    .HtmlAttributes(new { @class = "form-control" }).Events(e => e.Open("datePickerOpen").Change("scheduleEndDateChange")))
                </div>
                <div class="form-group">
                    <label>Frequency</label>
                    @(Html.Kendo().DropDownListFor(m => m.ReportSchedule.ScheduleFrequency)
                                                                                    .BindTo(new List<string>() { ReportInfoService.ScheduleFrequency.Daily, ReportInfoService.ScheduleFrequency.Weekly, ReportInfoService.ScheduleFrequency.Monthly })
                                                                                    .HtmlAttributes(new { @class = "form-control" }))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Send Scheduled Email To</label>
                    @Html.Kendo().TextBoxFor(m => m.ReportSchedule.EmailTo).HtmlAttributes(new { @class = "form-control" })
                    <div id="scheduleEmailInvalid" style="color: #a94442;display:none;"><small>One or more entered email addresses are invalid!</small></div>
                    <small class="form-text text-muted"><em>Enter 1 or more email addresses separated by , or ; For example: <b>example@@sample.com, default@@website.com; myemail@@mydomain.com</b></em></small>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial(string.Format("~/Areas/QoskReporting/Views/Reports/{0}/ScheduleEdit.cshtml", Model.UniqueName))

<script>
    function scheduleStartDateChange() {
        datePickerChange();
        var endPicker = $("#ReportSchedule_EndDate").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function scheduleEndDateChange() {
        datePickerChange();
        var startPicker = $("#ReportSchedule_StartDate").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }

    function onReportFileTypeSelect(e) {
        if (e.item) {
            var mode = this.dataItem(e.item);
            if (mode == "CSV")
                mode = "Excel"
            showPillMode(mode);
        }
    }    
</script>