﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models

@model ReportInfoViewModel
<style>

</style>

@if (Model.ReportSchedule == null)
{
    <div class="container-fluid buff-top">
        <button type="button" id="createScheduleBtn" class="k-button k-button-icontext k-primary">
            <span class="k-icon k-i-plus"></span> Create New Schedule
        </button>
    </div>
}

<div class="container-fluid buff-top">
    <div class="schedule-wrapper">

    @(Html.Kendo().Grid<Qualanex.QoskCloud.Web.Areas.QoskReporting.Models.ReportSchedule>
    ()
    .Name("ScheduleGrid")
    .NoRecords(t => t.Template("<p class='muted-hint'>You have no schedules created for this report</p>"))
    .Columns(columns =>
    {
        columns.Command(command => { command.Custom("OpenSchedule").IconClass("k-icon k-i-folder-open").Text(" ").Click("OpenSchedule"); });

        columns.Bound(c => c.ScheduleName);

        columns.Bound(c => c.ScheduleTimeString).Title("Time");
        columns.Bound(c => c.StartDate).Format("{0:yyyy-MM-dd}");
        columns.Bound(c => c.EndDate).Format("{0:yyyy-MM-dd}");
        columns.Bound(c => c.EmailTo);

        columns.Bound(c => c.ScheduleFrequency).Title("Frequency");
        columns.Bound(c => c.ReportFileType).Title("File Type");

        columns.Command(command => { command.Destroy().IconClass("k-icon k-i-trash").Text(" "); });
    })
    .Sortable(sortable =>
    {
    sortable.SortMode(GridSortMode.SingleColumn);
    })
    .AutoBind(false)
    .Pageable()
    //.Scrollable(s => { s.Height("auto"); })
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Batch(false)
    .ServerOperation(true)
    .Model(model => {
    model.Id(p => p.ReportScheduleID);

    //model.Field(p => p.ScheduleTime).Editable(false);
    model.Field(p => p.UserID).Editable(false);
    model.Field(p => p.CreatedBy).Editable(false);
    model.Field(p => p.CreatedDate).Editable(false);
    model.Field(p => p.ModifiedBy).Editable(false);
    model.Field(p => p.ModifiedDate).Editable(false);
    model.Field(p => p.IsDeleted).Editable(false);
    })
    .Read(read => read.Action("ReportSchedules_Read", "Schedule", new { reportUniqueName = Model.UniqueName }))
    //.Create(create => create.Action("ReportSchedules_Create", "Schedule"))
    //.Update(update => update.Action("ReportSchedules_Update", "Schedule"))
    .Destroy(destroy => destroy.Action("ReportSchedules_Destroy", "Schedule"))
    )
    )

</div>
</div>

<script>

    function fetchScheduleGridData() {
        var grid = $("#ScheduleGrid").data("kendoGrid");
        grid.dataSource.fetch();
    }

    function OpenSchedule(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '@Url.Action("Report", "Home", new { id = Model.UniqueName })' + '?scheduleId=' + dataItem.ReportScheduleID + '#' + dataItem.ReportFileType;
    }

    $(document).ready(function () {
        $("#createScheduleBtn").click(function () {
            window.location.href = '@Url.Action("Report", "Home", new { id = Model.UniqueName })' + '?scheduleId=0';
        });
    });
</script>