﻿@model Qualanex.QoskCloud.Web.Areas.ProfileMgmt.ViewModels.ProfileMgmtViewModel

<td class="actionTool actionFilter">
   <img class="actionIcon" title="Apply Filters" src="~/Images/Actionbar/ActionBar_Filter(1).svg" alt="" />
   <div class="filterFrame">
      <div class="QoskBorder-LBR filterContent">
         <form class="formEx">
            <table class="tableEx">
               <tr>
                  <td>&nbsp;</td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
               </tr>
               <tr>
                  <td>&nbsp;&nbsp;&nbsp;Filter elements go here&nbsp;&nbsp;&nbsp;</td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
               </tr>
               <tr>
                  <td>
                     <input class="" type="button" value="Apply" /><input class="" type="button" value="Cancel" />
                  </td>
               </tr>
            </table>
         </form>
      </div>
   </div>
</td>
