﻿
<div id="ProfileGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Profile Summary</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" style="">
                  <thead>
                     <tr class="collapse in">
                        <th>ProfileName</th>
                        <th>ProfileType</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>ZipCode</th>
                        <th>ContactName</th>
                        <th>ContactPhoneNumber</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach (var item in Model.ProfileModels)
                     {
                        <tr class="entity-div-click"
                            name="SearchListItem"
                            profileDetail-method="post"
                            data-row-id="@item.ProfileName"
                            data-ql-ajax="true"
                            profileDetail-data="entity=@Json.Encode(item)"
                            profileDetail-action="@Url.Action("OnEntityClick")"
                            profileDetail-target="#ProfileMgmtModel">

                           <td>@item.ProfileName</td>
                           <td>@item.ProfileType</td>
                           <td>@item.Description</td>
                           <td>@item.Address</td>
                           <td>@item.City</td>
                           <td>@item.State</td>
                           <td>@item.ZipCode</td>
                           <td>@item.ContactName</td>
                           <td>@item.ContactPhone</td>
                           <td>@item.Status</td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
