﻿@model Qualanex.QoskCloud.Web.Areas.ProfileMgmt.Models.ProfileEntity

<div class="formMax" style="display: block;">
   <table class="tableEx" style="">
      <tr>
         <!-- product image -->
         <td class="tdFiller tdPreview">&nbsp;</td>
         <!-- the form -->
         <td style="padding: 0;">
            <form class="formEx" method="post" action="@Url.Action("updateSearch")" data-ql-ajax="true" data-ql-target="#ProfileDeatil" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx" style="">
                  <tr>
                     <td class="tdLabel">Profile Name</td><td><input class="inputEx" type="text" value="@Model.ProfileName" readonly="readonly" /></td>
                     <td class="tdLabel">Type</td><td><input class="inputEx input-edit" type="text" value="@Model.ProfileType" readonly="readonly" /></td>
                     <td class="tdLabel">Description</td><td><input class="inputEx input-edit" type="text" value="@Model.Description" readonly="readonly" /></td>
                  </tr>
                  <tr class="">
                     <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="11">Contact Address</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Addres</td><td><input class="inputEx input-edit" type="text" value="@Model.Address" readonly="readonly" /></td>
                     <td class="tdLabel">City</td><td><input class="inputEx input-edit" type="text" value="@Model.City" readonly="readonly" /></td>
                     <td class="tdLabel">State</td><td><input class="inputEx input-edit" type="text" value="@Model.State" readonly="readonly" /></td>
                     <td class="tdLabel">ZipCode</td><td><input class="inputEx input-edit" type="text" value="@Model.ZipCode" readonly="readonly" /></td>
                  </tr>
                  <tr class="">
                     <td class="tdHeader" style="height: 30px; color: #FFFFFF;" colspan="11">Contact</td>
                  </tr>
                  <tr>
                     <td class="tdLabel">Name</td><td><input class="inputEx input-edit" type="text" value="@Model.ContactName" readonly="readonly" /></td>
                     <td class="tdLabel">Phone</td><td><input class="inputEx input-edit" type="text" value="@Model.ContactPhone" readonly="readonly" /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
<div class="formMin" style="display: none;">
   <table class="tableEx">
      <tr>
         <!-- product image -->
         <td class="tdFiller tdPreview">&nbsp;</td>
         <!-- the form -->
         <td style="padding: 0;">
            <form>
               <table class="tableEx" style="">
                  <tr>
                     <td class="tdLabel">Profile Name</td><td><input class="inputEx" type="text" value="@Model.ProfileName" readonly="readonly" /></td>
                     <td class="tdLabel">Type</td><td><input class="inputEx input-edit" type="text" value="@Model.ProfileType" readonly="readonly" /></td>
                     <td class="tdLabel">Description</td><td><input class="inputEx input-edit" type="text" value="@Model.Description" readonly="readonly" /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
