.input-login-btn {
    background: url("../images/login-btn.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 30px;
    width: 85px;
}
.search-box li {
    display: block;
    margin: 0 auto 15px;
    width: 90%;
}
.login-box {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 90%;
    height: 284px;
}
.login-field-box {
    padding: 5%;
    width: 100%;
    float: none;
    margin:0;
}
.field-seperator {
    width: auto;
    margin: 0;
    float: none;
}
.login-fields {
    padding-top: 5px;
}
.input-title {
    padding: 6px 0;
    text-align: left;
    width: 100%;
}
.field-seperator input[type="text"], .field-seperator input[type="password"]{
    width:100%;
    padding: 3px 6px;
}
.forgot-password {
    float: none;
    margin-right: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.forgot-password label i {
    margin-left:-12px;
}
.gapping-inline{
    margin-left:15px;
}
.btn-container{
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: right;
    width: 100%;
}
.input-login-btn{
    float:none;
    display:inline;
}
.model-box {
    width:90%;
}
.model-box h1 {
    font-size: 16px;
    padding: 15px;
}
.close-btn {
    right: 5px;
    top: 10px;
}
.model-box input[type="email"] {
    width: 63%;
}
.inner-logo{
    text-align:center;
}
.header-top {
    position: relative;
    z-index:9;
}
.container {
    margin-top:0;
}
.topnav-right, .left-navigation, .nav-btn, .logout-btn-container, .settings-text{
    display:none;
}
.topnav-main{
     background: #fff;
    border-bottom: 5px solid #f2f2f2;
    padding-bottom: 15px;
}
.main-container {
    margin: 20px 10px 0;
}
.login-section {
    float: none;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.welcome-text {
    float:none;
}
.topnav-left {
    float: none;
    padding-top: 13px;
    text-align: center;
    height:auto;
}
.footer{
    margin-left:0;
}
.slide-menu{
    display:block;
}

.search-box li label {
    text-align: left;
    width: 100%;
}
.search-box li input, .search-box li select {
    margin-left: 0;
    width: 100%;
}
.search-btn {
    text-align: left;
    margin:0 auto;
    width:90%;
}
.search-btn input, .search-btn a{
    margin-bottom:8px;
    margin-left:0;
}
.tab {
    font-size:9px;
}
.tab a {
    *padding: 0 5px;
}
.custom-search {
    float: none;
    display: inline-block;
}