.search-box li label {
    text-align: left;
    width: 100%;
}
.search-box li input, .search-box li select {
    margin-left: 0;
    width: 100%;
}
.custom-search {
    margin-left: 0 !important;
}
.date-grey {
    margin-left: 5px;
}