﻿body 
   .popup-div {
   background-position: center;
   background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      margin: auto;
   }

   .bbbb {
      background-color: blue;
      width: 100px;
      height: 100px;
      margin: auto;
   }
   .cccc {
      background-color: green;
      width: 100px;
      height: 100px;
      margin: auto;
   }
   .dddd {
      background-color: yellow;
      width: 100px;
      height: 100px;
      margin: auto;
   }
   .eeee {
      background-color: orange;
      width: 100px;
      height: 100px;
      margin: auto;
   }
    body {
       font-family: Arial, sans-serif;
       height: 100vh;
    }

   h1 {
      text-align: center;
      font-family: Tahoma, Arial, sans-serif;
      color: #06D85F;
      margin: 80px 0;
   }

   .box {
      width: 40%;
      margin: 0 auto;
      background: rgba(255,255,255,0.2);
      padding: 35px;
      border: 2px solid #fff;
      border-radius: 20px/50px;
      background-clip: padding-box;
      text-align: center;
   }

   .button {
      font-size: 1em;
      padding: 10px;
      color: #fff;
      border: 2px solid #06D85F;
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
   }
   .button:hover {
      background: #06D85F;
   }

   .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
   }
   .overlay:target {
      visibility: visible;
      opacity: 1;
   }

   .popup {
      margin: auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 60%;
      height: 40%;
      position: absolute;
      transition: all 0.3s ease-in-out;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
   }

   .popup h2 {
      text-align: center;
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
   }
   .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
   }
   .popup .close:hover {
      color: #06D85F;
   }
   .popup .content {
      max-height: 30%;
      overflow: auto;
   } 