﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models

@model CreditComparisonViewModel

@(Html.Kendo().Grid<Qualanex.QoskCloud.Web.Areas.QoskReporting.Models.CreditComparisonEstimatedVsProcessedReportWithReasonsQosk_Result>
                    ()
                    .Name("grid")
                    .NoRecords(t => t.Template("<p class='muted-hint'>No results match your criteria</p>"))
                    .Columns(columns =>
                    {
                        if (Model.ReportSchedule != null && Model.ReportSchedule.ReportColumns != null)
                        {
                            columns.LoadSettings(Model.ReportSchedule.ReportColumns);
                        }
                        else
                        {
                            columns.Bound(c => c.ReturnAuthorizationNumber).Width(100);
                            //columns.Bound(c => c.ReturnAuthorizationNumber).ClientGroupHeaderTemplate(@"
                            //#=aggregates.Name.min#
                            //<dl class='dl-horizontal g-dl'>
                            //<dt>RA Number:</dt><dd>#=value#</dd>
                            //</dl>");
                            columns.Bound(c => c.Name).Width(100);
                            columns.Bound(c => c.PrintName).Width(100);
                            columns.Bound(c => c.PrintAccount).Width(100);
                            columns.Bound(c => c.DEANumber).Width(100);
                            columns.Bound(c => c.DebitMemoNumber).Width(100);
                            columns.Bound(c => c.ThirdPartyReverseDistributorName).Width(100);
                            columns.Bound(c => c.RequestDate).Format("{0:yyyy-MM-dd}").Width(100);
                            columns.Bound(c => c.ReceivedDate).Format("{0:yyyy-MM-dd}").Width(100);
                            columns.Bound(c => c.CreditIssuedDate).Format("{0:yyyy-MM-dd}").Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemNDCUPC).Width(100);
                            columns.Bound(c => c.ItemDescription).Width(100);
                            columns.Bound(c => c.ProductStrength).Width(100);
                            columns.Bound(c => c.ProductPackageSize).Width(100);
                            columns.Bound(c => c.ProductUnitOfMeasure).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemLotNumber).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemExpirationMonthYear).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemSealedOpenCase).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemOriginalQuantity).Width(100);
                            columns.Bound(c => c.DebitMemoUnitReturnValue).Width(100);
                            columns.Bound(c => c.DebitMemoReturnValue).Width(100);
                            columns.Bound(c => c.ItemLotNumber).Width(100);
                            columns.Bound(c => c.ItemExpirationMonthYear).Width(100);
                            columns.Bound(c => c.ItemSealedOpenCase).Width(100);
                            columns.Bound(c => c.ItemQuantity).Width(100);
                            columns.Bound(c => c.Returnable).Width(100);
                            columns.Bound(c => c.ItemUnitPrice).Width(100);
                            columns.Bound(c => c.ReturnableItemValue).Width(100);
                            columns.Bound(c => c.ManufacturerOriginalUnitPrice).Width(100);
                            columns.Bound(c => c.ItemCount).Width(100);
                            columns.Bound(c => c.ManufacturerPriceOverrideNotes).Width(100);
                            columns.Bound(c => c.PartialsReturnableLawOverride).Width(100);
                            columns.Bound(c => c.NonReturnableReasonDetail).Width(100);
                            columns.Bound(c => c.RAStatus).Width(100);
                            columns.Bound(c => c.CaseSize).Width(100);
                            columns.Bound(c => c.PrimaryCreditMemoNumber).Width(100);
                            columns.Bound(c => c.SecondaryCreditMemoNumber).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationNumberSplit).Width(100);
                            columns.Bound(c => c.NR).Width(100);
                            //columns.Bound(c => c.ImageLinks).Hidden(false).Width(100);
                            columns.Bound(c => c.ImageLinks).ClientTemplate("#=getButtonTemplate(data,'buttonsTemplate')#").Hidden(false).Width(300);

                            //columns.Bound( .Template(@<text></text>).ClientTemplate("#=getButtonTemplate(data,'buttonsTemplate')#").Title("Image Links").Hidden(false).Width(300);
                            // -- Following Columns are not in the default set of columns --

                            columns.Bound(c => c.RAAddress).Hidden(true).Width(100);
                            columns.Bound(c => c.PhoneNumber).Hidden(true).Width(100);
                            columns.Bound(c => c.EmailAddress).Hidden(true).Width(100);
                            columns.Bound(c => c.PrintAccountTitle).Hidden(true).Width(100);
                            columns.Bound(c => c.ThirdPartyReverseDistributorAddress).Hidden(true).Width(100);
                            columns.Bound(c => c.ThirdPartyReverseDistributorDEANumber).Hidden(true);
                            columns.Bound(c => c.RequestorName).Hidden(true).Width(100);
                            columns.Bound(c => c.RequestorPhoneNumber).Hidden(true).Width(100);
                            columns.Bound(c => c.RequestorEmailAddress).Hidden(true).Width(100);
                            columns.Bound(c => c.RequestorFaxNumber).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemsID).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemProductID).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemDescription).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemExpirationMonth).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemExpirationYear).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemsMatchAccuracy).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnAuthorizationsItemReturnValue).Hidden(true).Width(100);
                            columns.Bound(c => c.ManufacturerPriceOverride).Hidden(true).Width(100);
                            columns.Bound(c => c.ManufacturerOverrideReturnValue).Hidden(true).Width(100);
                            columns.Bound(c => c.ItemNDCUPC).Hidden(true).Width(100);
                            columns.Bound(c => c.ItemProductID).Hidden(true).Width(100);
                            columns.Bound(c => c.ItemExpirationMonth).Hidden(true).Width(100);
                            columns.Bound(c => c.ItemExpirationYear).Hidden(true).Width(100);
                            columns.Bound(c => c.PrimaryWholesalerProfileCode).Hidden(true).Width(100);
                            columns.Bound(c => c.LongDescription).Hidden(true).Width(100);
                            columns.Bound(c => c.ItemCountTotal).Hidden(true).Width(100);
                            columns.Bound(c => c.ReturnableItemValueTotal).Hidden(true).Width(100);
                            columns.Bound(c => c.ManufacturerProfileCode).Hidden(true).Width(100);
                            columns.Bound(c => c.ManufacturerProfileName).Hidden(true).Width(100);

                            columns.Bound(c => c.StartDate).Hidden(true).Width(100);
                            columns.Bound(c => c.EndDate).Hidden(true).Width(100);
                        }
                    })
                    //.Groupable()
                    //.ToolBar(toolbar =>
                    //{
                    //    toolbar.Excel();
                    //    toolbar.Pdf();
                    //})
                    //.Scrollable(s => { s.Height("auto"); })
                    .Scrollable(s => { s.Height(290); })
                    .Sortable(sortable =>
                    {
                        sortable.SortMode(GridSortMode.SingleColumn);
                    })
                    .Resizable(resize => resize.Columns(true))
                    .Reorderable(reorder => reorder.Columns(true))
                    .AutoBind(false)
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Group(g => { g.Add(c => c.ReturnAuthorizationNumber); g.Add(c => c.ItemProductID); })
                    //.Aggregates(aggregates =>
                    //{
                    //    aggregates.Add(p => p.Name).Min();
                    //})
                    .Read(read => read.Action("CreditComparison_Read", "Grid").Data("passReportParams")))
)

<script id="buttonsTemplate" type="text/x-kendo-template">
    #=ImageLinks#
</script>

<script>
    function getButtonTemplate(data, templateName) {
        var templateObj = $("#" + templateName).html();
        var template = kendo.template(templateObj);
        return template(data);
    }
</script>


