﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models
@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Services

@model CreditComparisonViewModel
    <style>

    </style>
<div id="reportParamDiv" class="param-form buff-top">
    <div class="row @(Model.IsEditScheduleMode() ? "hidden" : "")">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Return Authorization Number(s)</label>
                @Html.Kendo().TextBoxFor(m => m.Params.ReturnAuthorizationNumber).HtmlAttributes(new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6 @(Model.IsEditScheduleMode() ? "hidden" : "")">
                    <div class="form-group">
                        <label>Start Date</label>
                        @Html.Kendo().DatePickerFor(m => m.Params.StartDate).Format(CreditComparisonService.DateFormat).HtmlAttributes(new { @class = "form-control" }).Events(e => e.Open("datePickerOpen"))
                    </div>
                </div>
                <div class="col-sm-6 @(Model.IsEditScheduleMode() ? "hidden" : "")">
                    <div class="form-group">
                        <label>End Date</label>
                        @Html.Kendo().DatePickerFor(m => m.Params.EndDate).Format(CreditComparisonService.DateFormat).HtmlAttributes(new { @class = "form-control" }).Events(e => e.Open("datePickerOpen"))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Debit Memo Number</label>
                        @Html.Kendo().TextBoxFor(m => m.Params.DebitMemoNumber).HtmlAttributes(new { @class = "form-control" })
                        <small class="form-text text-muted"><em>Leave blank to include all. Use * as a wild card. For example: <b>abc*</b></em></small>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label>Manufacturer Profile Code</label>
                        @Html.Kendo().IntegerTextBoxFor(m => m.Params.ManufacturerProfileCode).Spinners(false).Format("#").HtmlAttributes(new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            @Html.Kendo().CheckBoxFor(m => m.Params.ExcludeCreditAlreadyIssued).Label("Exclude Credit Already Issued")<br />
            @Html.Kendo().CheckBoxFor(m => m.Params.LowestPrice).Label("Lowest Price")<br />
            @Html.Kendo().CheckBoxFor(m => m.Params.ClosedOnly).Label("Closed Only")<br />
            @Html.Kendo().CheckBoxFor(m => m.Params.ShowPrimaryReturnCode).Label("Show Primary Return Code")<br />
            @Html.Kendo().CheckBoxFor(m => m.Params.ShowAdditionalRAsIssued).Label("Show Additional RAs Issued")<br />
            @Html.Kendo().CheckBoxFor(m => m.Params.DisplayImages).Label("Display Images")<br />
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        var $paramForm = $('#reportParamDiv');

        $paramForm.find("#Params_StartDate").change(datePickerChange);
        $paramForm.find("#Params_EndDate").change(datePickerChange);
    });

    function passReportParams() {
        var $paramForm = $('#reportParamDiv');
        var result = {
            ManufacturerProfileCode: $paramForm.find('#Params_ManufacturerProfileCode').val(),
            ReturnAuthorizationNumber: $paramForm.find('#Params_ReturnAuthorizationNumber').val(),
            DebitMemoNumber: $paramForm.find('#Params_DebitMemoNumber').val(),
            StartDate: kendo.toString($paramForm.find("#Params_StartDate").data("kendoDatePicker").value(), '@CreditComparisonService.DateFormat'),
            EndDate: kendo.toString($paramForm.find("#Params_EndDate").data("kendoDatePicker").value(), '@CreditComparisonService.DateFormat'),
            ExcludeCreditAlreadyIssued: $paramForm.find('#Params_ExcludeCreditAlreadyIssued').is(':checked'),
            LowestPrice: $paramForm.find('#Params_LowestPrice').is(':checked'),
            ClosedOnly: $paramForm.find('#Params_ClosedOnly').is(':checked'),
            ShowPrimaryReturnCode: $paramForm.find('#Params_ShowPrimaryReturnCode').is(':checked'),
            ShowAdditionalRAsIssued: $paramForm.find('#Params_ShowAdditionalRAsIssued').is(':checked'),
            DisplayImages: $paramForm.find('#Params_DisplayImages').is(':checked'),
            ImagesPermitted: true //todo get image permissions
        }
        return result
    }
</script>