﻿@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Models
@using Qualanex.QoskCloud.Web.Areas.QoskReporting.Services

@model CreditComparisonViewModel

<div id="scheduleParamDiv" class="param-form collapse schedule-collapse in">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Dates to Include</label>
                @(Html.Kendo().DropDownListFor(m => m.ScheduleParams.DaysToInclude)
                            .BindTo(new List<string>() { CreditComparisonService.DaysToIncludeList.OneDay, CreditComparisonService.DaysToIncludeList.SevenDays, CreditComparisonService.DaysToIncludeList.FourteenDays, CreditComparisonService.DaysToIncludeList.PrevMonth })
                            .HtmlAttributes(new { @class = "form-control" })
                            .Events(e => e.Select("onDaysToIncludeSelect")))
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label>&nbsp;</label>
                <div style="margin-top:10px">
                    @Html.Kendo().CheckBoxFor(m => m.ScheduleParams.SplitByRANumber).Label("Split report into one file per RA Number")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function passScheduleParams(e) {
        var $div = $('#scheduleParamDiv');
        var result = {
            DaysToInclude: $div.find('#ScheduleParams_DaysToInclude').val(),
            SplitByRANumber: $div.find('#ScheduleParams_SplitByRANumber').is(':checked')
        }
        return result;
    }
    function onDaysToIncludeSelect(e) {
        if (e.item) {
            var daysToInclude = this.dataItem(e.item);
            //setStartEndDate(daysToInclude);
        }
    }
    function setStartEndDate(daysToInclude) {
        var start = new Date();
        var yesterday = (new Date()).setDate(start.getDate() - 1);
        var sd = $("#Params_StartDate").data("kendoDatePicker");
        var ed = $("#Params_EndDate").data("kendoDatePicker");
        if (daysToInclude == '@CreditComparisonService.DaysToIncludeList.OneDay') {
            sd.value(start.setDate(start.getDate() - 1));
            ed.value(yesterday);
        } else if (daysToInclude == '@CreditComparisonService.DaysToIncludeList.SevenDays') {
            sd.value(start.setDate(start.getDate() - 7));
            ed.value(yesterday);
        } else if (daysToInclude == '@CreditComparisonService.DaysToIncludeList.FourteenDays') {
            sd.value(start.setDate(start.getDate() - 14));
            ed.value(yesterday);
        } else if (daysToInclude == '@CreditComparisonService.DaysToIncludeList.PrevMonth') {
            sd.value(new Date(start.getFullYear(), start.getMonth() - 1, start.getDate()));
            ed.value(yesterday);
        }
    }
</script>