﻿@using Microsoft.AspNet.Identity
@using Qualanex.QoskCloud.Utility.Common

@{
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

@section styles {
   <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
   <link href="~/Content/dragtable.css" rel="stylesheet" />

   <link rel="stylesheet" href="~/Css/validationEngine.jquery.css" type="text/css" />

   <script src="~/Areas/Report/js/ReportCommonJS.js"></script>
   <script src="~/js/Constants.js"></script>
   <script src="~/js/Message.js"></script>

   <!-- responsive mediaQuery -->

   <script src="~/Scripts/jquery.tagsinput.js"></script>
   <link href="~/Css/jquery.tagsinput.css" rel="stylesheet" />
   <link href="~/Areas/Report/Css/font-awesome.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="~/CSS/QoskCommon.css">
   <link rel="stylesheet" href="~/CSS/QoskPage.css">
   <link rel="stylesheet" href="~/CSS/QoskApplet.css">
   <link rel="stylesheet" href="~/CSS/QoskForm.css">
   <link rel="stylesheet" href="~/CSS/QoskActionbar.css">

   <link href="~/Content/jqx.base.css" rel="stylesheet" />
   <link href="~/Content/jqx.qosk.css" rel="stylesheet" />

   <link href="~/Areas/Report/Css/main-style.css" rel="stylesheet" />

   @*<link href="~/Content/style.css" rel="stylesheet"/>*@
   <script src="~/Scripts/jqx-all.js"></script>

   @RenderSection("styles", required: false)

}

<!-- Contanier Start Start-->
<!-- Left Navigation End here-->
@RenderBody()

@RenderSection("scripts", required: false)
