﻿@using Qualanex.QoskCloud.Entity
@model Qualanex.QoskCloud.Entity.DynamicControlEntity
<div class="line formEx" id="dvReportSummaryCriteria" style="height: 180px; overflow-y: auto;">
   @{ int i = 0; }
   @while (i < Model.Controls.Count)
   {
      int k = 100;
      <table class="criteria-grid">
         <tr>
            @while (k > 0)
            {
               if (i < Model.Controls.Count)
               {
                  string width = Model.Controls[i].FieldLength + "%";
                  if (k == 100)
                  {
                     k -= Model.Controls[i].FieldLength;
                     <td class="criteria-left" style="width:@width">@Html.EditorFor(x => x.Controls[i])</td>
                  }
                  else if (k - Model.Controls[i].FieldLength >= 0)
                  {
                     k -= Model.Controls[i].FieldLength;
                     <td class="criteria-right" style="width:@width">@Html.EditorFor(x => x.Controls[i])</td>
                  }
                  else
                  {
                     k = 0;
                  }
               }
               else
               {
                  string tempwidth = k + "%";
                  <td class="criteria-right" style="width:@tempwidth"></td>
                  k = 0;
               }
               i++;
            }
         </tr>
      </table>
   }

</div>
<script type="text/javascript">
   $("#dvReportSummaryCriteria").scroll(function()
   {
      $(".ui-autocomplete").hide();
   });
   if ($("#hdnEditNewClicked").val().length === 0)
   {
      $(".criteria-grid .inputEx,.selectEx").prop("readonly", "readonly").prop("disabled", "disabled");
   } 
</script>
