﻿@model Qualanex.QoskCloud.Entity.ColumnListEntity

<div class="custom-grid" style="z-index:9999;">
   <div class="custom-search-box">
      <img class="close-button" src="~/images/SVG/Escape.svg" />
      <h3 class="custom-grid-title" tableId="@Model.SubscribedColumn[0].TableId">Custom Grid</h3>
      <div id="gradientBorder"></div>
      <div class="custom-grid-area">
         <div class="custom-grid-area-header" style="width: 39%; float: left; text-align: center">Optional Columns</div>
         <div class="custom-grid-area-header" style="width: 40%; float: right; text-align: left">Subscribed Columns</div>
         <div class="custom-grid-left">
            <select size="9" multiple="multiple" class="list3" id="customgrdid">

               @for (int iCount = 0; iCount < Model.DefaultColumn.Count; iCount++)
               {
                  <option value="@Model.DefaultColumn[iCount].ColumnId">@Model.DefaultColumn[iCount].DisplayText</option>
               }
            </select>
         </div>
         <div class="custom-grid-btn-left-arrow">
            <a class="custom-grid-icon left-btn" href="javascript:void(0)" id="move_left1"><img src="~/images/SVG/ArrowLeft.svg" /></a>
         </div>
         <div class="custom-grid-btn-right-arrow">
            <a class="custom-grid-icon right-btn" href="javascript:void(0)" id="move_right1"><img src="~/images/SVG/ArrowRight.svg" /></a>
         </div>
         <div class="custom-grid-right">
            <select id="GridList2" size="9" multiple="MULTIPLE" class='list4'>
               @if (Model.SubscribedColumn != null)
               {
                  for (int iCount = 0; iCount < Model.SubscribedColumn.Count; iCount++)
                  {
                     if (Model.SubscribedColumn[iCount].ColumnName != "DefaulColumnFlag")
                     {
                        <option value="@Model.SubscribedColumn[iCount].ColumnId">@Model.SubscribedColumn[iCount].DisplayText</option>
                     }
                  }
               }
            </select>
         </div>
         <div id="divGrid" class="CustomGrid custom-grid-up">
            <a class="custom-grid-icon up-btn" href="javascript:void(0)" id="move_up"><img src="~/images/SVG/Sortarrowup.svg" /></a>
         </div>
         <div class="CustomGrid custom-grid-down">
            <a class="custom-grid-icon down-btn" href="javascript:void(0)" id="move_down"><img src="~/images/SVG/Sortarrowdown.svg" /></a>
         </div>
      </div>
      <div class="custom-search-btn">
         <input type="button" id="btnSubmit2" value="Save" onclick="GetGridPanelList();">
         <input type="button" value="Cancel" class="cancel">
      </div>
   </div>
</div>

<style type="text/css">

   #gradientBorder {
      width: 30%;
      height: 1px;
      margin: 0 30px;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e1e5e9), color-stop(50%,#2A669F), color-stop(100%,#e1e5e9));
      background: -webkit-linear-gradient(left, #e1e5e9 0%,#2A669F 50%, #e1e5e9 100%);
      background: -moz-linear-gradient(left, #e1e5e9 0%, #2A669F 50%, #e1e5e9 100%);
      background: -ms-linear-gradient(left, #e1e5e9 0%,#2A669F 50%, #e1e5e9 100%);
      background: -o-linear-gradient(left, #e1e5e9 0%,#2A669F 50%, #e1e5e9 100%);
      background: linear-gradient(left, #e1e5e9 0%,#2A669F 50%, #e1e5e9 100%);
   }

   .custom-grid-icon {
      width: 20px;
      height: 20px;
      background-color: #2a669f;
   }

   .up-btn {
      border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
   }

   .down-btn {
      border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
   }

   .left-btn {
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
   }

   .right-btn {
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
   }

   .custom-grid-icon img {
      vertical-align: top;
      width: 20px;
      height: 20px;
   }

   .custom-grid-btn-left-arrow {
      width: 30px;
      margin: 94px 8px 0;
      float: left;
   }

   .custom-grid-btn-right-arrow {
      width: 30px;
      margin: 139px 8px 0px -38px;
      float: left;
   }

   .custom-grid-up {
      width: 25px;
      float: left;
      margin: 0px 0px 0px 10px;
   }

   .custom-grid-down {
      width: 25px;
      float: left;
      margin: 45px 0px 0px -25px;
   }
</style>



