﻿<div id="wait" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; text-align: center; background: rgba(0,0,0,0.5); z-index: 30001; display: none">
    <p style="color: White; margin-top:20%;">
        <img src="../images/loader.gif" style="border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;"><br />
        Please Wait...
    </p>
</div>
