﻿
@{
    ViewBag.Title = "UnauthorizedAccess";
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
   <div class="error text-center">
        <div class="col-md-12"><img src="~/Areas/Report/images/error.png" alt="Error Image" /></div>
       <h1 class="col-md-12 text-danger">Unauthorized Access</h1>
       <h3 class="col-md-12">You are no Authozed for this action</h3>
    </div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", null, null, null, new { href = Request.UrlReferrer })
    </div>
</div>


