﻿@model List<Qualanex.QoskCloud.Utility.Common.SasUriModel>
@{
   var item = 0;
}

@*slick stuff currently commented out for the time being, will be revisited in the future - Daniel Bazan, 3rd of May 2018*@

<div style="width:100%;" id="WrhsStagingAttachment">
   @*<table class="attachmentsTable">
      <tr>
         <td><input id="attachmentPrev" class="ctrlArrow prevKey" style="background-image: url('/Images/Segments/_LeftArrowSolo(1).svg');" type="button" /></td>
         <td>
            <div class="scroll-attachment" style="width: 305px">
               @foreach (var attchItems in Model)
               {
                  <div class="attachmentFile" data-field-sort="@attchItems.ContentSasTimeStamp" data-row-name="@attchItems.ContentName.Split('=')[0]" style="width:100px;height:100px;padding:10px;margin:10px;float:left;display:inline-block">
                     <img src="~/Images/SVG/delete (1).svg" style="width:20px;margin-top:-31px;margin-left:59px;cursor:pointer" class="deleteAttachedFiles" data-row-name="@attchItems.ContentName.Split('=')[1]" data-row-shared="@attchItems.ContentName.Split('=')[2]" />
                     <a href="@attchItems.ContentSasURI" style="width:100%;height:100px;">
                        @if (attchItems.ContentType == "Image")
                        {
                           <img src="@attchItems.ContentSasURI" style="margin-top:-15px;width:100px;height:100px;" alt="click for download" />
                        }
                        else
                        {
                           <img src="~/Images/SVG/paper-clip.svg" style="margin-top:-15px;width:100px;height:100px;" alt="click for download" />
                        }
                     </a>
                  </div>
               }
            </div>
         </td>
         <td><input id="attachmentNext" class="ctrlArrow nextKey" style="background-image: url('/Images/Segments/_RightArrowSolo(1).svg');" type="button" /></td>
      </tr>
   </table>*@
   @foreach (var attchItems in Model)
   {
      <div data-field-sort="@attchItems.ContentSasTimeStamp" data-row-name="@attchItems.ContentName.Split('=')[0]" style="width:80px;height:80px;border:2px solid #ccc;border-radius:5px;padding:3px; margin-left: 30px; margin-right: 30px; margin-top: 15px; margin-bottom: 15px;float:left; display: inline-block; ">
         <img src="~/Images/SVG/delete (1).svg" style="width:40px;margin-top:-31px;margin-left:80px; margin-top: -10px; cursor:pointer" class="deleteAttachedFiles" data-row-name="@attchItems.ContentName.Split('=')[1]" data-row-shared="@attchItems.ContentName.Split('=')[2]" />

            @if (attchItems.ContentType == "Image")
            {
                <a href="/WrhsStaging/WrhsStaging/GetBlob/?url=@attchItems.ContentSasURI&isImage=true" target="_blank" style="width:100%;height:80px;">
                <img src="@attchItems.ContentSasURI" style="margin-top:-29px;width:70px;height:70px;" alt="click for download" />
                </a>
            }
            else
            {         
                <a href="/WrhsStaging/WrhsStaging/GetBlob/?url=@attchItems.ContentSasURI&isImage=false" target="_blank" style="width:100%;height:80px;">
                <img src="~/Images/SVG/paper-clip.svg" style="margin-top: -29px; width: 70px; height: 70px;" alt="click for download" />
                </a>
            }
         
      </div>
   }
   @*<script>
      $("#WrhsStagingAttachment .scroll-attachment").slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         dots: true,
         arrows: false,
         speed: 500
      });

      $("#WrhsStagingAttachment .scroll-attachment").slick("slickGoTo", 1);
   </script>*@
</div>