﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.ContainerCondition
<div data-unique-selection="@Model.uniqSelection" class="radio-inline scroll-item
   @if (Model.ItemCode == Model.Code)
   {
      @:selected
   }">
   <label>
      <img src="~/Areas/WrhsStaging/Images/@Model.ImageUrl" style="width:150px; height:150px;cursor:pointer" />
      <br>@Model.Name<br />
      @Html.RadioButtonFor(model => model.Name, Model.Code
       , new { @class = "ContainerTypeRadio1", data_index = Model.ContainerTypeIndex, data_ql_label = Model.Name, data_ql_next = "#" + Model.dataHeader, data_ql_default = Model.ContainerTypeIndex, form = Model.form })
   </label>
</div>
