﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "Container";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.ToCollapse = Model.SelectedStagingModel.HandlingSegment || Model.SelectedStagingModel.RAorWPTCtrlCode == "CTRL2";
   ViewBag.SegmentGroup = "Container";
   ViewBag.HideCommand = true;
   Layout = "~/Views/Shared/_QoskSegment.cshtml";
   var showSlides = 3;
}

@section SegmentTitle{
   @if (!string.IsNullOrWhiteSpace(Model.SelectedStagingModel.TrackingID))
   {
      @:Container
   }
}

@if (string.IsNullOrWhiteSpace(Model.SelectedStagingModel.TrackingID))
{
   <h4> Enter staging detail to begin</h4>
}
else
{
   <div id="ContainerTypeDict" class="formBackground" style="width: 725px; margin: 0 auto">
      <table class="containersTable">
         <tr>
            <td><input id="containerPrev" class="ctrlArrow prevKey" style="background-image: url('/Images/Segments/_LeftArrowSolo(1).svg');" type="button" /></td>
            <td><div class="scroll-container"></div></td>
            <td><input id="containerNext" class="ctrlArrow nextKey" style="background-image: url('/Images/Segments/_RightArrowSolo(1).svg');" type="button" /></td>
         </tr>
      </table>
   </div>
   <script>
      //slick doesn't work properly if the slidesToShow attribute equals the number of objects that you're trying to slick
      //therefore, only slick the object list if it has more than the allotted slides on the screen
      var containerCount = $("#ContainerTypeDict .scroll-container").children().length;

      if (containerCount > @showSlides)
      {
         $("#ContainerTypeDict .scroll-container").slick({
            slidesToShow: @showSlides,
            slidesToScroll: 3,
            prevArrow: $('.containerPrev'),
            nextArrow: $('.containerNext'),
            arrows: false
         });

         $("#ContainerTypeDict .scroll-container").width("700px");
         $("#ContainerTypeDict .scroll-container").slick("slickGoTo", 1);
      }
      else
      {
         $('#containerPrev').closest("td").hide();
         $('#containerNext').closest("td").hide();
      }
   </script>
}
