﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.FirstFocus = "";
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "Form222";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.SegmentGroup = "Form 222";
   ViewBag.HideCommand = true;
   Layout = "~/Views/Shared/_QoskSegment.cshtml";
}

@section SegmentTitle{
   Form 222 Information
}
<table id="Form222Table" class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td style="width: 100%; padding-bottom: 3px;" class="mainCell">
         <table class="subTitlePanel QnexMessage" style="border-top: 0; height: 15px;">
            <tr>
               <td id="Form222Msg" class="QnexCaption form222" colspan="5" style="width: 75px; text-align: center; font-size: 25px"></td>
            </tr>
         </table>
         <table class="form222Panel">
            @if (Model.Form222Info.Form222PrintedDate != null)
            {
               <tr>
                  <td style="width: 33%">
                     <table id="Form222DateTable" class="form222" style="width: 270px; height: 100px">
                        <tr><td id="PrintDate">@Model.Form222Info.Form222PrintedDate</td></tr>
                        <tr><td class="form222Label">Print Date</td></tr>
                        <tr><td id="DockDoor">@Model.Form222Info.DockDate</td></tr>
                        <tr><td class="form222Label">Dock Date</td></tr>
                        <tr><td id="TimeElapsed">@Model.Form222Info.TimeElapsed</td></tr>
                        <tr><td class="form222Label">Elapsed</td></tr>
                     </table>
                  </td>
                  <td class="ctrlNum">CII</td>
                  <td style="width: 25%">
                     <table id="Form222MfgrDetails" class="form222">
                        <tr><td id="Form222Name">@Model.Form222Info.Form222Name</td></tr>
                        <tr><td class="form222Label">Name</td></tr>
                        <tr><td id="Form222Sender">@Model.Form222Info.ReceivedFrom</td></tr>
                        <tr><td class="form222Label">Received From</td></tr>
                        <tr><td id="Form222DM">@Model.Form222Info.Form222DebitMemoNumber</td></tr>
                        <tr><td class="form222Label">Debit Memo #</td></tr>
                        <tr><td id="Form222DEA">@Model.Form222Info.Form222DEANumber</td></tr>
                        <tr><td class="form222Label">DEA Number</td></tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td class="rowDivider" colspan="3">
                     <div></div>
                  </td>
               </tr>
            }
            <tr>
               <td class="rowConfirm" colspan="3">
                  <input type="button" class="ctrlButton hollow" id="Form222Continue" name="wc_confirm_btn" value="CONFIRM" style="margin-right: 45px" form="Partial"/>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>