﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "Handling";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.SegmentGroup = "Handling";
   ViewBag.HideCommand = true;
   Layout = "~/Views/Shared/_QoskSegment.cshtml";
   ViewBag.FirstFocus = "";
}

@section SegmentTitle{
   Handling Acknowledgment
}
<div id="Handling">
   <table class="tableEx QoskForm QoskKeyboard formBackground" style="width: 100%;">
      <tbody style="text-align:  center;">
         <tr id="HandlingTable">
            <td colspan="2" class="routeData QnexContent level0">
               <table>
                  <tr>
                     <td>
                        <table class="panelHolder" >
                           <tr>
                              <td>
                                 <table class="headerTitle">
                                    <tr>
                                       <td>Special Handling</td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <table class="rightPanel">
                                    <tr>
                                       <td>
                                          <table class="routeData">
                                             <tr>
                                                <td class="routeDisplay routeNone Qosk_@Model.SelectedStagingModel.ControlType" style="background-image: none;">
                                                   @if (Model.SelectedStagingModel.ControlType == "SpecialHandling")
                                                   {
                                                      <img src="@Url.Content(String.Format("~/images/MfrLogo/{0}.jpg", Model.SelectedStagingModel.MfrProfileCode))" />
                                                      <input type="hidden" id="handlingMfrName" value="@Model.SelectedStagingModel.MfrProfileName" />
                                                   }
                                                   else
                                                   {
                                                      <span>@ViewBag.HandlingTitle</span>
                                                      <div class="routeClassLegend">ROUTE</div>
                                                   }
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td >
                                 <table class="handlingMessage">
                                    <tr>
                                       <td>
                                          @Model.SelectedStagingModel.HandlingMessage @if (Model.SelectedStagingModel.Name == "Floor")
                                          {
                                             <span class="Qosk_@Model.SelectedStagingModel.ControlType">@ViewBag.HandlingTitle</span>
                                          }
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td class="tdMessage">
               <table style="width: 900px;">
                  <tr>
                     <td class="tdCaption" style="width: 86%;"></td>
                     <td style="height: 100%; text-align: right;">
                        <input type="button" id="handlingContinue" class="ctrlButton hollow" style="height: 35px;" value="Acknowledge" form="@if (Model.Form222Info.Form222PrintedDate != null && Model.SelectedStagingModel.RAorWPTCtrlCode == "CTRL2") {@: Form222
                                                                                                                                                                                 } else { @:Container
                                                                                                                                                                                 } " />
                     </td>
                  </tr>
               </table>
            </td>
         </tr>

      </tbody>
   </table>
</div>
