﻿@model IEnumerable<Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingModel>
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "PartialMatch";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = false;
   ViewBag.SegmentGroup = "PartialMatch";
   ViewBag.HideCommand = true;
   Layout = "~/Views/Shared/_QoskSegment.cshtml";
}

@section SegmentTitle{
   Partial Match
}

<table id="PartialMatchTable" class="QnexGrid tableEx QoskForm QoskKeyboard" style="width: 98%">
   <tr>
      <td style="width: 100%; padding-bottom: 3px;">
         <div>
            <table id="WrhsStagingPartialMatch" class="display" cellspacing="0" style="width:95%; max-width: 1035px">
               <thead>
                  <tr class="collapse in">
                     <th hidden></th>
                     <th hidden></th>
                     <th hidden></th>
                     <th hidden></th>
                     <th>Tracking Number</th>
                     <th>RA/WPT</th>
                     <th>Debit Memo</th>
                     <th>Received</th>
                     <th hidden></th>
                     <th hidden></th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var item in Model)
                  {
                     <tr class="WrhsStagingPartialMatch-div-click"
                         MgmtEntity-id="@item.TrackingID"
                         MgmtEntity-data="entity=@Json.Encode(item)"
                         MgmtEntity-action=""
                         MgmtEntity-target="#formMax">
                        <td exchange="TrackingID" exchange-value="@item.TrackingID" hidden></td>
                        <td exchange="CarrierID" exchange-value="@item.CarrierID" hidden></td>
                        <td exchange="Carrier" exchange-value="@item.Carrier" hidden></td>
                        <td exchange="ModifiedDate" exchange-value="@item.ModifiedDate" hidden></td>
                        <td exchange="TrackingNumber" exchange-value="@item.TrackingNumber">@item.TrackingNumber</td>
                        <td exchange="RAorWPT" exchange-value="@item.RAorWPT">@item.RAorWPT</td>
                        <td exchange="DebitMemo" exchange-value="@item.DebitMemo">@item.DebitMemo</td>
                        <td exchange="Date" exchange-value="@item.Date">@item.Date</td>
                        <td exchange="Form222PrintedDate" exchange-value="@item.Form222PrintedDate" hidden></td>
                        <td exchange="ControlMsg" exchange-value="@item.RAorWPTCtrlCode" hidden></td>
                     </tr>
                  }
               </tbody>
            </table>
         </div>
      </td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table style="width: 900px;">
            <tr>
               <td class="tdCaption" style="width: 100%;"></td>
               <td style="height: 100%; text-align: right; padding-right: 15px"><input type="button" id="NewRA" class="buttonEx" style="width: 85px; height: 35px;" value="New RA" form="Partial" /></td>
               <td style="height: 100%; text-align: right;"><input type="button" id="PartialMatchContinue" class="buttonEx" style="width: 85px; height: 35px;" value="Continue" form="Partial" /></td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<script>
   window.dtHeaders("#WrhsStagingPartialMatch", "", [], []);
</script>

