﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel

<div id="WrhsStagingRALookupDetail">
   <div class="QoskSegment" style="width:100%">
      <table>
         <tr>
            <td class="QnexHeader level0">
               <table>
                  <tr>
                     <td style="text-align:right">Debit Memo:</td>
                     <td>
                        <input id="debitMemoSearchField" onCopy="return false" onDrag="return false" onCut="return false" onDrop="return false" onPaste="return false" class="inputEx" value="@ViewBag.debitMemo" />
                     </td>
                     <td>
                        <button id="search_Lookup" type="submit" class="btnErrorMessage" value="Search" style="margin-left:10px; float:left">
                           Search
                        </button>
                        <div style="float:left; margin-left:10px">
                           <div class="Searching IsBegin" style="float:left; width:80px">
                              @Html.RadioButton("Search", "Begin", new { id = "IsBegin", style = "visibility:visible;display:inline", @checked = "checked" }) Begins
                           </div>
                           <div class="Searching IsContain" style="float:right; width:239px">
                              @Html.RadioButton("Search", "Contain", new { id = "IsContain", style = "visibility:visible;display:inline" }) Contains <span style="font-size:9pt;">(search may take longer)</span>
                           </div>
                        </div>
                     </td>
                  </tr>
               </table>
            </td>
            <td class="QnexIcon obscure"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               @Html.Partial("_RALookupDetails", Model.DebitMemoList)
            </td>
         </tr>
      </table>
      <table style="width:100%; margin-top:5px">
         <tr>
            <td>
               <table style="width: 300px; margin: 0 auto">
                  <tr>
                     <td>
                        <input id="debitMemoAccept" type="submit" class="btnErrorMessage" value="Override" />
                     </td>
                     <td>
                        <input id="LookupReplace" type="submit" class="btnErrorMessage" value="Replace RA" />
                     </td>
                     <td>
                        <input id="LookupCancel" type="submit" class="btnErrorMessage" value="Cancel" />
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
