﻿@model IEnumerable<Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingModel>
<div id="RALookupDetail">
   <div id="hiddenDm" style="text-align: center; color: red; font-size: 16pt;"></div>
   <div id="timeoutMsg" style="text-align: center; color: red; font-size: 16pt;"></div>
   <table id="searchGridLookup" class="display" cellspacing="0" style="width:95%;">
      <thead>
         <tr class="collapse in">
            <th hidden> </th>
            <th>Debit Memo#</th>
            <th>RA#</th>
            <th>Name/Consignee</th>
            <th>Manufacturer</th>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            var specialHandling = item.SpecialHandling ? "true" : "false";
            <tr class="searchGridLookup-div-click"
                MgmtEntity-id="@item.Code"
                MgmtEntity-data="entity=@Json.Encode(item)"
                MgmtEntity-action=""
                MgmtEntity-target="#formMax">
               <td exchange="DebitMemoID" exchange-value="@item.Code" hidden></td>
               <td exchange="DebitMemo" exchange-value="@item.DebitMemo">@item.DebitMemo</td>
               <td exchange="RA" exchange-value="@item.RAorWPT">@item.RAorWPT</td>
               <td exchange="Name" exchange-value="@item.Container">@item.Container</td>
               <td exchange="Manufacturer" exchange-value="@item.MfrProfileCode">@item.MfrProfileCode</td>
               <td hidden exchange="RAID" exchange-value="@item.AssocID"></td>
               <td hidden exchange="CTRL" exchange-value="@item.ControlType"></td>
               <td hidden exchange="SpecialHandling" exchange-value="@specialHandling"></td>
            </tr>
         }
      </tbody>
   </table>
</div>
<script>
   console.log("lookup");
</script>
