﻿@using System.Web.UI.HtmlControls
@using Grimace.BulkInsert.Extensions
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@using Qualanex.QoskCloud.Web.Areas.WrhsStaging

@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
<div id="search">
   @if (Model.SelectedStagingModel == null)
   {
      <h4>search result place holder</h4>
   }
   else
   {
      
   }
</div>