﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "Totes";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = true;
   ViewBag.ToCollapse = true;
   ViewBag.SegmentGroup = "Totes";
   ViewBag.FirstFocus = "#DebitMemoNumber";
   Layout = "~/Views/Shared/_QoskSegment.cshtml";

   var id = 1;
   //ViewBag.Address = "~/Areas/WrhsStaging/WrhsStaging/SaveUploadedFile";
}

@section SegmentTitle{
   Totes and Attachments
}
<table id="ToteTable" class="tableEx QoskForm QoskKeyboard" style="width: 100%;margin-top: 15px">
   <tr>
      <td class="mainCell">
         <table class="mainPanel">
            <tr>
               <td class="debitMemoPanel">
                  <table class="debitMemoTable">
                     <tr>
                        <td class="debitMemoCell" colspan="2">
                           <input type="hidden" id="hiddenDebitMemo" value="@Model.SelectedStagingModel.DebitMemo" />
                           <input type="text" class="ctrlInput editable" onCopy="return false" onDrag="return false" onCut="return false" onDrop="return false" onPaste="return false" id="DebitMemoNumber" value="@Model.SelectedStagingModel.StgeDebitMemoNumber" name="SelectedStagingModel.StgeDebitMemoNumber" placeholder="Enter Debit Memo" maxlength="40">
                           <div class="ctrlName">DEBIT MEMO</div>
                        </td>
                     </tr>
                     <tr>
                        <td class="debitMemoError" colspan="2">
                           <div>Debit Memo Not Found!</div>
                           <div id="matchDebitMemoMessage">Try Again</div>
                        </td>
                     </tr>
                     <tr class="okButtonRow">
                        <td colspan="2">
                           <input type="button" disabled style="margin-left: 0; width: 100%;" class="ctrlButton hollow" id="EnterDebitMemo" name="dm_enter_btn" value="ADD DEBIT MEMO" form="Totes" />
                        </td>
                     </tr>
                     <tr class="errorButtonsRow" style="display: none">
                        <td colspan="2">
                           <input type="button" style="margin-left: 0; width: 100%;" class="ctrlButton hollow" id="debitMemoSearch" name="dm_search_btn" value="SEARCH" form="Totes" />
                        </td>
                     </tr>
                  @if (Model.SelectedStagingModel.HandlingSegment)
                  {
                     <tr>
                        <td colspan="2" style="padding-top: 15px">
                           <div>
                              <input class="CheckboxRex" type="checkbox" id="handlingChk" name="@Model.SelectedStagingModel.Name"/>
                              <span id="handlingSpan" style="font-size: 21px;">Acknowledgment<span style="color: red">*</span></span>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div>
                              <span id="handlingSpan" style="font-size: 15px;">I acknowledge that @(Model.SelectedStagingModel.Name != "Special" ? Model.SelectedStagingModel.HandlingMessage : "this package requires special handling.")</span>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div style="margin-top: 5px">
                              <span id="handlingSpan" style="font-size: 12px; color: red; font-style: italic">*Required in order to proceed</span>
                           </div>
                        </td>
                     </tr>
                  }
                  </table>
               </td>
               <td class="panelSeparator">
                  <div class="panelDivider"></div>
                  <img id="DM_ENTERED" src="/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(OFF).svg" alt="" />
                  <div class="panelDivider"></div>
               </td>
               <td class="totesPanel totesAttachments" style="width: 200px; padding-right: 5px">
                  <table class="totesTable" style="display: block; width: 235px">
                     <tr>
                        <td colspan="2" class="panelHeader">
                           <table class="panelGrid">
                              <tr>
                                 <td>
                                    <input type="text" disabled class="ctrlInput editable scannerRequired ECS_ALPHANUMERIC" id="ToteId" maxlength="32" nextfocus="Comment" prevfocus="" name="ta_newtote" placeholder="Enter New Tote" autocomplete="off" />
                                    <div id="toteLabel" class="ctrlName">ADD NEW TOTE</div>
                                    <div id="ErrorTote" class="ctrlName" style="display: none; padding-top: 0;"></div>
                                 </td>
                                 <td style="padding: 10px 6px 0 6px" class="btn_Check_Tote">
                                    <img style="height: 35px" id="btnAddNewTote" src="/Images/Segments/Staging/AddIcon(Inverted).png"/>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="3">
                           <div id="divToteAttachedSegment" class="totesContainer qoskScrollbar QnexGrid" style="overflow-y: hidden" >
                              <table id="searchGrid_Tote" class="display stgeStagingTabCol" cellspacing="0" style="width:95%;">
                                 <thead>
                                    <tr class="collapse in" style="background-color: rgb(121,137,153); color: white">
                                       <th>Totes</th>
                                       <th><img src="~/images/SVG/TrashTemplate.svg" style="width:12px;cursor:pointer" class="deleteToteRelation" /></th>
                                       <th hidden></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    @foreach (var item in Model.ToteList)
                                    {
                                    <tr class="searchGrid_Tote-div-click"
                                        name="SearchListItem"
                                        WrhsStgeTote-method="post"
                                        data-row-id="@(id++)"
                                        data-ql-ajax="true"
                                        WrhsStgeTote-data="WrhsStgeTote=@Json.Encode(item)"
                                        WrhsStgeTote-action=""
                                        WrhsStgeTote-target="#formMax">
                                       <td exchange="Code" exchange-value="@item.Code" style="border-right:1px solid white">@item.Code</td>
                                       <td exchange="checkBox" exchange-value="1"><input class="CheckboxRex" type="checkbox" /></td>
                                       <td exchange="Name" exchange-value="@item.Name" hidden>
                                          @item.Name
                                       </td>
                                    </tr>
                                    }
                                 </tbody>
                              </table>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="attachmentComment" colspan="2">
                           <span>Comment:</span>
                           @Html.TextAreaFor(c => c.SelectedStagingModel.Comment, new { id = "Comment", disabled = "disabled", @class = "ctrlInput editable", prevfocus = "", form = "Totes", style = "width:100%;height:55px;max-height:55px;min-height:40px;max-width:490px;resize:none;border:2px solid rgba(0,0,0,0.3);font-size:15px;", maxlength = "1023", nextfocus = "" })
                        </td>
                     </tr>
                  </table>
               </td>
               <td class="attachmentsPanel totesAttachments">
                  <table style="width: 100%">
                     <tr>
                        <td colspan="2" class="panelHeader">
                           <table class="panelGrid">
                              <tr>
                                 <td>
                                    <input type="text" disabled class="ctrlInput editable" id="AttachmentId" name="ta_newfile" maxlength="32" nextfocus="Comment" prevfocus="" autocomplete="off" placeholder="Attach New File">
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding: 0 10px">
                           <div class="ctrlName" style="padding-top: 10px; color: #DBE4E8;">
                              Pending Attachments
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding: 10px 10px 8px 10px;">
                           <div id="divAttachmentSegment" style="max-height: 215px; overflow: auto; float: left; width: 100%;">
                              <input type="file" style="display: none" id="dropzoneHiddenFileAttach" />
                              @Html.Partial("_AttachmentControl")
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding: 0 10px">
                           <div class="ctrlName" style="padding: 0; color: #DBE4E8;">
                           Existing Attachments
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding: 10px 10px 8px 10px;">
                           <div id="divAttachmentSegment_azure" style="overflow: auto; height: 115px; background-color: white; border: 2px solid rgba(0,0,0,0.3)">
                              <fieldset>
                                 @Html.Partial("_AttachedFiles", Model.AttachmentFiles)
                              </fieldset>
                           </div>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td class="rowDivider" colspan="5">
                  <div></div>
               </td>
            </tr>
            <tr>
               <td class="rowConfirm" colspan="5">
                  <input type="button" class="ctrlButton hollow" id="Totefinish" disabled name="tote_finish_btn" value="FINISH" form="Totes" />
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<script type="text/javascript">
    $(".dropzone").dropzone({ url: "/WrhsStaging/WrhsStaging/SaveUploadedFile", clickable: '#dropzoneHiddenFileAttach' });


    Dropzone.autoDiscover = false;
    var dz = $('#dropzoneform');

    $('.dz-preview').on("click", function()
    {
        alert('you clicked');
    });
    
    dz.dropzone =
    {
        init: function ()
        {
            alert('init called');

            dz.on("addedfile", function (file)
            {
                file.previewElement.addEventListener("click", function()
                {
                    alert('here is click event');
                });
            });
        }
    }


    function fallbackClick()
    {
        alert('fallback click');
    }

   $(document).ready(function()
   {
      window.dtHeaders("#searchGrid_Tote", "max-height:162px,ordering: false,height:100%", ["sorting"], []);
      $("#searchGrid_Tote_filter").css("display", "none");
      $("#searchGrid_Tote_filter .dataTables_scroll table.dataTable thead tr th").removeClass("sorting");
      $("#searchGrid_Tote_info").css("display", "none");
      $("#divToteAttachedSegment .dataTables_scrollBody").css("max-height", "162px");

      setTimeout(function ()
      {
         $("#DebitMemoNumber").focus().keyup();
      }, 200);
   });
</script>

