﻿@model Qualanex.QoskCloud.Web.Areas.WrhsStaging.ViewModels.WrhsStagingViewModel
@{
   ViewBag.SegmentName = "";
   ViewBag.SegmentIcon = "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png";
   ViewBag.SegmentId = "WeightCondition";
   ViewBag.SegmentComplete = "true";
   ViewBag.AdditionalSegment = false;
   ViewBag.ToCollapse = true;
   ViewBag.SegmentGroup = "WeightCondition";
   ViewBag.FirstFocus = "#ID_PRODUCTWT";
   ViewBag.HideCommand = true;
   Layout = "~/Views/Shared/_QoskSegment.cshtml";
}

@section SegmentTitle{
   Weight and Condition
}

<table id="weightConditionTable" class="tableEx QoskForm QoskKeyboard formBackground">
   <tr>
      <td style="width: 100%; padding-bottom: 3px;" class="mainCell">
         <table class="subTitlePanel QnexMessage" style="border-top: 0; height: 15px">
            <tr>
               <td class="QnexCaption error"></td>
            </tr>
         </table>
         <table class="wcPanel">
            <tr>
               <td class="wcLeftPanel">
                  <table class="weightTable">
                     <tr>
                        <td class="weightCell" colspan="2">
                           <input type="text" class="ctrlInput editable ECS_NUMERIC" id="ID_PRODUCTWT" autocomplete="off" value="@Convert.ToDouble(Model.SelectedStagingModel.Weight)" name="SelectedStagingModel.Weight" placeholder="Enter Package Weight">
                           <div class="ctrlName">PACKAGE WEIGHT (lbs)</div>
                        </td>
                     </tr>
                  </table>
               </td>
               <td class="panelSeparator">
                  <div class="panelDivider"></div>
                  <img id="WEIGHT_ENTERED" src="/Images/Segments/DockDoor_IdentificationPanel/Indentification_ProgressArrowSolo(OFF).svg" alt="" />
                  <div class="panelDivider"></div>
               </td>
               <td class="wcRigthPanel">
                  <div id="ContainerCondition" lastValue="CNTRCDTN_IRRLVNT" disabled></div>
               </td>
            </tr>
            <tr>
               <td class="rowDivider" colspan="3">
                  <div></div>
               </td>
            </tr>
            <tr>
               <td class="rowConfirm" colspan="3">
                  <input type="button" class="ctrlButton hollow" disabled id="weightContinue" name="wc_confirm_btn" value="CONFIRM" form="Totes" />
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>

<script>
   if ($("#ID_PRODUCTWT").val() === undefined || $("#ID_PRODUCTWT").val() <= 0)
   {
       $("#ID_PRODUCTWT").val("");
   }
</script>