﻿@model Qualanex.QoskCloud.Web.Areas.WhsRecv.ViewModels.DockReceivingViewModel
@{
   ViewBag.Title = "Dock Door Tracking Details";
}
<div id="DockReceivingTracking">
   <h4>Dock Receiving Tracking Displayed Here</h4>
</div>