﻿@{
   ViewBag.Title = "Dock Door Detail";
}

<div id="DockReceivingGridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">Dock Door Receipts</td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">
                     
                        <th>Date</th>
                        <th>Carrier</th>
                        <th>Count(Units)</th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach (var item in Model.DockReceivingDetails)
                     {
                        <tr class="DockReceivingDetail-div-click"
                            name="SearchListItem"
                            DockReceivingDetail-method="post"
                            data-row-id=""
                            data-ql-ajax="true"
                            DockReceivingDetail-data="DockReceivingDetail=@Json.Encode(item)"
                            DockReceivingDetail-action=""
                            DockReceivingDetail-target="#formMax">
                           <td  ></td>
                           <td ></td>
                           <td ></td>
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>