﻿@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Areas.WhsRecv.ViewModels.DockReceivingViewModel

<div class="formMax" style="display: block;" id="DockReceivingBody">
   <table class="tableEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align:center"><img src="~/images/Qosk_Logo.jpg" width="85" /></td>
         <td>
            <form class="formEx" method="post" action="#" data-ql-ajax="true" data-ql-target="#DockReceivingDetail-target" data-ql-tab="search">
               @Html.AntiForgeryToken()
               <table class="tableEx">
                  <tr>
                     <td class="tdLabel" >Date</td>
                     <td ><input id="ID_DATE" class="inputEx editable" type="text" value="" required editable readonly maxlength="64" autocomplete="off" /></td>
                     <td class="tdLabel" >CARRIER</td>
                     <td>
                     <input id="ID_CARRIER" type="text" class="inputEx editable" editable readonly/>
                     </td>
                     <td class="tdLabel" >COUNT</td>
                     <td>
                        <input id="ID_COUNT" type="text" class="inputEx editable" editable readonly />
                     </td>
                     <td class="tdLabel">Units</td>
                     <td>
                        <select id="ID_UNITS" class="selectEx editable " value="" editable disabled>
                           <option value="0" id="Enabled"></option>
                           <option value="1" id="Retired"></option>
                        </select>
                     </td>
                   
                  </tr>
                  <tr>
                     <td class="tdLabel">NOTES</td>
                     <td colspan="7"><input id="ID_NOTES" type="text" class="inputEx editable" editable readonly /></td>
                  </tr>
               </table>
            </form>
         </td>
      </tr>
   </table>
</div>
