﻿
<style>
    .demo .zoomer_wrapper {
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 500px;
        margin: 10px 0;
        overflow: hidden;
        width: 100%;
    }

    .demo .zoomer.dark_zoomer {
        background: #333 url(zoomer-bg-dark.png) repeat center;
    }

    .demo .zoomer.dark_zoomer img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    h2 {
        margin-top:0px;
    }
    .ui-dialog .ui-dialog-content {        
        padding:0px;
    } 
        
    .ui-dialog .ui-dialog-buttonpane button {

        margin:0px;
    }
       
</style>
<link href="~/Areas/Report/js/ImagePopupPlugin/jfMagnify.css" rel="stylesheet" />

<div id="window" class="magnify" data-magnified-zone=".mg_zone" style="display:none;overflow:hidden">
    <div class="magnify_glass">
        <div class="mg_ring"></div>
        <div class="pm_btn plus"><h2>+</h2></div>
        <div class="pm_btn minus"><h2>-</h2></div>
        <div class="mg_zone"></div>
    </div>
    <div class="element_to_magnify">
    </div>

</div>
<div id="videoPopup" style="display:none;overflow:hidden">
    <div id="divVideo"></div>
</div>