﻿<link rel="stylesheet" href="~/Content/adminMenuPopup.css" type="text/css"/>

<div id="AdminMenuPopup" class="overlay">
   
    <div class="popup">
        <h2>@ViewBag.PopupTitle</h2>
        <a class="close" href="#">&times;</a>
        <table class="content">
            <tbody>
            <tr>
                <td class="tdEx" style=""><a href="@Url.Action("Edit")"><div class="aaaa"></div>Edit / Update User</a></td>
                <td class="tdEx" style=""><a href="@Url.Action("UserRegister")"><div class="bbbb"></div>Create User</a></td>
                <td class="tdEx" style=""><a href="@Url.Action("Edit")"><div class="cccc"></div>Reset Password</a></td>
                <td class="tdEx" style=""><a href="@Url.Action("UserRegister")"><div class="bbbb"></div>Admin User Action Placeholder 1</a></td>
                <td class="tdEx" style=""><a href="@Url.Action("Edit")"><div class="eeee"></div>Admin User Action Placeholder 2</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
