﻿@model Qualanex.QoskCloud.Entity.ChangeUserPassword

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post,new { @id = "Chngepasswordfrm" }))
{
    <div class="change-password">
            <h1>Change Password</h1>
        @Html.HiddenFor(Model => Model.UserInfo) 
        <span id="lblChangePasswordMsg" style="color:red"> 
        </span>
            <p>To make your account as secure as possible. We recommend choosing a password that contains letters, marks.</p>
            <div class="change-password-form">
                <div class="change-password-left">
                        <p>@Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Email code" })<span><img src="~/images/old-password-icon.png"></span></p>
                        <p>@Html.PasswordFor(model => model.NewPassword, new { id = "ch-pwd", @placeholder = "New Password" })<span><img src="~/images/new-password-icon.png"></span></p>
                        <p>@Html.PasswordFor(model => model.ConfirmPassword, new { id = "ch-repwd", @placeholder = "Re-type New Password" })<span><img src="~/images/new-password-icon.png"></span></p>
                        <input type="submit" value="Save"  id="forPassowrdSave"class="custom-blue-btn"> 
                        <input type="reset" value="Reset" class="custom-blue-btn">
                  
                </div>
                <div class="change-password-right">
                    <p>Password Strength</p>
                    <div class="stregth">
                        <span class="weak"></span>
                        <span class="good"></span>
                        <span class="strong"></span>
                        <span id="stregth-text"></span>
                    </div>
                    <div class="pwd-match">

                    </div>
                </div>
            </div>
        </div>
}
@*<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>*@ 
<script>
    $(document).ready(function () {
      
        $(function () {
            if (Modernizr.localstorage) {
                var localData = window.localStorage;
                var getuserData = JSON.parse(localData.getItem("userInfo"));
                var userdate = getuserData.UserReturnData;
                var userdatainfo = JSON.stringify(userdate);
                $("#UserInfo").val(userdatainfo);
            }
        });




    });

</script>

    
    

