﻿<div id="userProfileGroup">
    @if (Model.ProfileGroup != null && Model.ProfileGroup.Count() > 0)
    {
        <label class="edit-reglabl">
            Please select Groups for aceess  to Regional User

        </label>
        <div class="box-18-cnt">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="color:#fff;">
        @{
        foreach (var item in Model.ProfileGroup)
        {
            <tr>
                <td>
                    <label class="user-check">
                        <input type="checkbox" name="selectedProfileGroups" value="@item.ProfileGroupID" @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />
                        <i></i>
                    </label>
                </td>
                <td>
                    <label>@item.GroupName</label>
                </td>
            </tr>
        }
                }
            </table>
        </div>
    }
</div>

