﻿
<div id="search">
    <div class="QoskSegment">
         <table>
            <tr>
               <td rowspan="2" class="QoskSegmentLMargin"></td>
               <td class="QoskSegmentHeader"></td>
               <td rowspan="2" class="QoskSegmentRMargin" style=""></td>
            </tr>
            <tr id="searchResults" class="collapse in">
               <td class="QoskSegmentBody">
                  <h4>WIP User History Summary</h4>
               </td>
            </tr>
         </table>
      </div>
</div>
