﻿@model Qualanex.QoskCloud.Entity.ChangeUserPassword
@{
    ViewBag.Title = "ChangePassword";
}
<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.UserInfo);  
    <div class="form-horizontal">
        <h4>ChangeUserPassword</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="backtosearch">
    @Html.ActionLink("« Back to search results", "Index")
</div>

<script>
    $(document).ready(function () {
        $(function () {
          
            if (Modernizr.localstorage) {
                var localData = window.localStorage;
                var getuserData = JSON.parse(localData.getItem("userInfo"));
                var userdate = getuserData.UserReturnData;
               var userdatainfo= JSON.stringify(userdate);
               $("#UserInfo").val(userdatainfo);
            }
        });

     


    });

</script>