﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript">        
        $(document).ready(function () {            
            setTimeout(function () {
                window.location = '@Url.Content("~/Home/Index/")';
            }, 1000);            
        });        
    </script>      
   @Html.Partial("_Wait")
</body>


</html>
