﻿@model Qualanex.QoskCloud.Entity.UserRegistrationRequest
@using UserResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<script type="text/javascript">
    var isLeavewithoutUpdate = false;
    var urlName = null;
    $(".alert-popup-body").hide();

    var userId = 0;
    function deleteselectedUser(UserId) {

        userId = UserId;
        $("#alertdeletemessageid").text("Do you wish to delete the selected user ?");
        $(".alert-popup-body-message-confirm").show();

    }

    $(document).ready(function () {
        BindValidations();
        BindValuesInData("div.main-container");
        $("#regEditform").validationEngine();

        $('.wrapper').click(function () {
            $('#UserEditSuccessMessage').text("");
        });

        
        //$('.lot-icon').click(function (e) {
        //    urlName = $(this).attr('href');
        //    e.stopPropagation();
        //    e.preventDefault();
        //    if (isLeavewithoutUpdate == true) {
        //        $(".alert-popup-body").show();
        //        $(".alert-popup").animate({ "top": "40%" });
        //    }
        //    else {
        //        window.location.href = urlName;
        //    }

        //});
        //$(".alert-close, #btnAlertStay").click(function () {
        //    $(".alert-popup-body").hide();
        //    $(".alert-popup").animate({ "top": "40%" });
        //})
        //$('#btnAlertSave').click(function (e) {
        //    if (!$("#regEditform").validationEngine('validate')) {
        //        e.preventDefault();
        //        return false;
        //    }
        //    var _this = this;
        //    UpdateUserData(e);
        //    $(".alert-popup-body").hide();
        //    window.location.href = urlName;
        //    return true;

        //});
        //$('#btnAlertLeave').click(function () {
        //    isLeavewithoutUpdate = true;
        //    window.location.href = urlName;
        //    return true;
        //});
        //$('#btnRegister').click(function (e) {
        //    UserRegistrationSave();
        //});
        $(".select-chk").on("click", "input[type='checkbox']", function () {

            var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
            if ($(this).attr('class') != 'selecctall') {
                $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
            } else {
                myCheckBox.prop("checked", this.checked);
            }
        });

        $("#userUpdateID").show();
        $("#userUpdateIDCancel").show();
        $("#usereditid").hide();
        $("#userInfoDetails").find("input,button,select,textarea").removeAttr('disabled');
        $("#grpRegionDetails").find("input,button,select,textarea").removeAttr('disabled');
        $("#profileGroup").find("input,button,select,textarea").removeAttr('disabled');

        $("#userUpdateIDCancel").click(function (e) {
            $('#regEditform').validationEngine('hide');
            $("#userInfoDetails").find("input,button,select,textarea").attr("disabled", "disabled");
            $("#userUpdateID").hide();
            $("#userUpdateIDCancel").hide();
            $("#usereditid").show();
            this.form.reset();

            @*window.location.href = '@Url.Content("~/User/Index/")';*@
        });
        $("#usereditid").click(function () {
            $("#userUpdateID").show();
            $("#userUpdateIDCancel").show();
            $("#usereditid").hide();
            //$("#userInfoDetails,#grpRegionDetails,#profileGroup").find("input,button,select,textarea").removeAttr('disabled');
            $("#userInfoDetails").find("input,button,select,textarea").removeAttr('disabled');
            $("#grpRegionDetails").find("input,button,select,textarea").removeAttr('disabled');
            $("#profileGroup").find("input,button,select,textarea").removeAttr('disabled');

            $('#txtUserName').attr("disabled", "disabled");
            $('#Email').attr("disabled", "disabled");
            $('#ProfileName').attr("disabled", "disabled");
            isLeavewithoutUpdate = true;

        });

        $("#btdeletenCancel,.alert-close").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            $(".alert-popup").animate({ "top": "40%" });
        });
        $("#userDelete").click(function () {
            var UserId = $("#UserID").val();
            deleteselectedUser(UserId);
            $("#btdeletenok").unbind("click");
            $("#btdeletenok").click(function () {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    data: {
                        id: userId
                    },
                    success: function (data) {

                        if (data.Result == Compare.Deleted || data.Result == Compare.OK) {

                            $("#alertmessageid").text(User.DeleteSuccess);
                            $(".alert-popup-body-message").show();
                            
                            $(".alert-close").hide();
                            $("#btnok").bind("click", function () {
                                window.location = '../User/Index';
                                $("#btnok").unbind("click");
                            });

                        }
                        if (data.Result == Compare.Fails) {
                            $("#alertmessageid").text(User.DeleteFailed);
                            $(".alert-popup-body-message").show();
                        }
                        $(".alert-popup-body-message-confirm").hide();
                    },
                    error: function (response) {
                        if (response.status != 0) {
                            alert(response.status + " " + response.statusText);
                        }
                    }
                });
                return false;

            });
            return false;
        });

        function UpdateUserData(e, _this) {
            var isValid = true;
            if (isValid == false) {
                e.preventDefault();
                return false;
            }
            else {
                isLeavewithoutUpdate = false;
                //var selectedcheckedgroup = $('.grpdetails-slectedprofile-class:checked').map(function () {
                //    return this.value;
                //}).get();
                var selectedcheckedgroup = $('.selecctgrpall:checked').map(function () {
                    return this.value;
                }).get();

                var selectedcheckedgroupProfile = selectedgrpdata;

                var requestData =
                  {
                      Name: $('#ProfileName').val(),
                      UserID: $('#UserID').val(),
                      UserName: $('#txtUserName').val(),
                      ddType: $('#ddType').val(),
                      ProfileCode: $('#ProfileCode').val(),
                      UserTypeCode: $('#UserTypeCode').val(),
                      Email: $('#Email').val(),
                      PhoneNumber: $('#PhoneNumber').val(),
                      FirstName: $('#FirstName').val(),
                      LastName: $('#LastName').val(),
                      Password: $('#Password').val(),
                      ConfirmPassword: $('#ConfirmPassword').val(),
                      FaxNumber: $('#FaxNumber').val(),
                      Enabled: $('#Enabled').val(),
                      SelectedgroupProfiles: selectedcheckedgroupProfile.toString(),
                      Selectedgroups: selectedcheckedgroup.toString(),
                      Version: $('#Version').val()
                  };
                var url = '@Url.Action("Edit","User")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: requestData,
                    dataType: "json"

                }).done(function (data) {
                    //Successfully pass to server and get response
                    if (data.VersionChanged) {
                        //var returnResult = data.Updatedresult;
                        //alert(JSON.stringify(data.Updatedresult))
                        $(document).data('returnResult', data.Updatedresult);

                        $("#alertmessageid").html(Product.VersionChange);
                        $('#Version').val(data.Updatedresult.objResponse.Version);

                        $("#btnok").bind("click", function () {

                            var NewResultobject = $(document).data('returnResult');
                            var NewResult = NewResultobject.objResponse;

                            lockingFeature(NewResult);

                            $("#btnok").unbind("click");
                            closePopup();
                        })

                    }
                    else if (data.Result == Compare.Deleted) {
                        $("#alertmessageid").text(Product.Delete);

                    }
                    else {
                        //$('#Version').val(data.Updatedresult.objResponse.Version);
                        $('#Version').val(data.UpdatedVersion);
                        $("#alertmessageid").html(data.Result.toString());
                        $('.highlitebordercss').removeClass("highlitebordercss");
                    }
                    $("#userInfoDetails").find("input,button,select,textarea").attr("disabled", "disabled");
                    $("#userUpdateID").hide();
                    $("#usereditid").show();
                    $("#userUpdateIDCancel").hide();
                    selectedgrpdata = new Array();
                    $(".alert-popup-body-message").show();

                    HideUpdate(_this);
                }).fail(function (response) {
                    if (response.status != 0) {
                        // alert(response.status + " " + response.statusText);
                    }
                });

                return true;
            }
        }
        $('#userUpdateID').click(function (e) {

            if ($("#regEditform").validationEngine('validate') == false) {
                e.preventDefault();
                return false;
            }
            var _this = this;
            UpdateUserData(e, _this);
        });
    });

    //$(function () {

    //    $('#PhoneNumber').keypress(function (e) {
    //        var keyCode = e.which ? e.which : e.keyCode
    //        var ret = ((keyCode >= 48 && keyCode <= 57) || keyCode == 219 || keyCode == 221 || keyCode == 45 || keyCode == 40 || keyCode == 41);
    //        return ret;
    //    });
    //});
    //$(function () {

    //    $('#FaxNumber').keypress(function (e) {
    //        var keyCode = e.which ? e.which : e.keyCode
    //        var ret = ((keyCode >= 48 && keyCode <= 57) || keyCode == 219 || keyCode == 221 || keyCode == 45 || keyCode == 40 || keyCode == 41);
    //        return ret;
    //    });
    //});

</script>
@{
    Dictionary<string, bool> UserStatusDictionary = new Dictionary<string, bool>();
    UserStatusDictionary.Add("Active", true);
    UserStatusDictionary.Add("Inactive", false);
    SelectList FillUserStatusList = new SelectList(UserStatusDictionary, "value", "key");
}
<div class="main-container">
    <h2>EDIT / UPDATE USER</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>   
    <input type="hidden" id="hdnPageNo" />
    <input type="hidden" id="hdnTotalRecords" />
    <div id="UserEditSuccessMessage" class="error-green error-style"></div>
    @*@using (Html.BeginForm())*@

    <div id="tab-container" class='tab-container'>
        <div class='panel-container'>
            <div id="qu-tab1">
                <form id="regEditform" novalidate="novalidate">
                    @*@Html.AntiForgeryToken()*@
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserID)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.ProfileCode)
                    @Html.HiddenFor(model => model.SelectedgroupProfiles)
                    @Html.HiddenFor(model => model.Selectedgroups)
                    @Html.HiddenFor(model => model.Version)
                    <div class="product-box clearfix">
                        <h1>
                            User Information
                            <input type="button" class="editbutton blue-btn UserAdminDelete" id="userDelete" value="Delete">
                            <input type="button" class="editbutton blue-btn" id="usereditid" value="Edit">
                            <input type="button" class="editbutton blue-btn" id="userUpdateIDCancel" value="Reset">
                            <input type="button" class="editbutton blue-btn update" id="userUpdateID" value="Update">
                        </h1>

                        <div id="userInfoDetails">
                            <div class="col-33per">
                                <div class="input-ctrl">
                                    <label>Profile Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Name, new { id = "ProfileName", @class = "validate[required]", @readonly = "readonly" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>User Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName", @class = "validate[required]", @readonly = "readonly", @maxlength = "20", @minlength = "4" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>User Type<span>*</span></label>
                                    <div class="field">
                                        @Html.DropDownListFor(model => model.UserTypeCode, (IEnumerable<SelectListItem>)ViewBag.UserType, "Select", new { @class = "validate[required]" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-33per">
                                <div class="input-ctrl">
                                    <label>Email Address<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.Email, new { @readonly = "readonly", @class = "validate[required,custom[email]]", @placeholder = "Enter Email", @maxlength = "30", @minlength = "2" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>First Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = "25", @minlength = "2", @class = "validate[required,custom[nonHtmlText]]", @placeholder = "Enter First Name" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Last Name<span>*</span></label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = "25", @minlength = "2", @class = "validate[required,custom[nonHtmlText]]", @placeholder = "Enter Last Name" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-33per">
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.PhoneNumber) <div class="field">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "15", @class = "validate[custom[phone]]", @placeholder = "Enter Phone Number", @oninput = "return PhoneNumberMask(event);" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.FaxNumber) <div class="field">
                                        @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "15", @class = "validate[custom[faxNumber]]", @placeholder = "Enter Fax Number", @oninput = "return PhoneNumberMask(event);" })

                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    @Html.LabelFor(model => model.Enabled)
                                    <div class="field">
                                        @Html.DropDownListFor(model => model.Enabled, FillUserStatusList)

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="grpRegionDetails" class="physician-box clearfix">
                        <h1>Group Profiles</h1>
                        <div class="col-49per">
                            <div class="textfield-item">
                                <label>  Select Group Names</label>
                                <div class="select-chk" id="group-check-list">
                                </div>
                            </div>

                        </div>
                        <div class="col-49per">
                            <div class="textfield-item">
                                <label> Select Regions </label>
                                <div class="select-chk" id="Region-group-check-list">

                                </div>

                            </div>

                            <div class="textfield-item-btn">
                                <button type="button" id="btnSearch" class="register-main-btn blue-btn" value="register">Search</button>
                            </div>

                        </div>

                        <div class="clear"></div>

                    </div>

                    <div id="profileGroup">
                        <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                            <div id="jqxgrid">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="backtosearch">
            @Html.ActionLink("« Back to search results", "Index")
        </div>        
    </div>
</div>
@Html.Partial("_LeavePageMessage");
@Html.Partial("AlertPopupView")
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")

<script type="text/javascript">
    var selectedgrpdata = new Array();
    var selectedrows = new Array();
    // var icounter = 0;
    $(document).ready(function () {

        //$("#btnok,.alert-close").click(function () {
        //    $(".alert-popup-body-message").hide();
        //    $(".alert-popup").animate({ "top": "40%" });
        //});
        closePopup();
        $(function () {
            var userType = $("#UserTypeCode").val()
            if (userType == 3 || userType == 1) {
                var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
                $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {
                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"groupcheckclass\" id=\"grp_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#group-check-list").html(html);
                        $("#grpRegionDetails").show();
                        $("#profileGroup").show();
                        $("#lblGroupName").show();
                    }
                    else {
                        $("#lblGroupName").hide();
                        $("#grpRegionDetails").hide();
                        $("#profileGroup").hide();

                    }

                });
                var regionUrl = '@Url.Content("~/User/GetRegionCode/")';
                $.getJSON(regionUrl, { profileCode: $('#ProfileCode').val() }, function (data) {
                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"regioncheckclass\" id=\"region_" + i + "\" value=\"" + item.RegionCode + "\" /><i></i>" + item.RegionName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#Region-group-check-list").html(html);
                        $("#lblRegion").show();
                    }
                    else {
                        $("#lblRegion").hide();
                    }

                });


            }
            else {
                $("#grpRegionDetails").hide();
                $("#profileGroup").hide();
            }

        });
        $(function () {
            $("#LastName").change(function () {
                if ($("#LastName").val() != '') {
                    $('#LastName').css({
                        "border": ""

                    });
                }
                else {
                    $('#LastName').css({
                        "border": "1px solid red"

                    });
                }
            });
        });
        $(function () {
            $("#FirstName").change(function () {
                if ($("#FirstName").val() != '') {
                    $('#FirstName').css({
                        "border": ""

                    });
                }
                else {
                    $('#FirstName').css({
                        "border": "1px solid red"

                    });
                }
            });
        });
        $(function () {
            var userType = $("#UserTypeCode").val()
            if (userType != "" && userType > 0) {
                $("#UserTypeCode").css({
                    "border": ""
                })
                if (userType == 3 || userType == 1) {
                    var selectedPCode = $('#ProfileCode').val();
                    var checkedgroups = $('.groupcheckclass:checked').map(function () {
                        return this.value;
                    }).get();
                    var checkedRegions = $('.regioncheckclass:checked').map(function () {
                        return this.value;
                    }).get();
                    if (selectedPCode != "Select Profile Name") {
                        var profileCode = $('#ProfileCode').val();
                        var selectgrpID = checkedgroups.toString();
                        var selectedRegionCode = checkedRegions.toString();
                        var userID = $('#UserID').val();
                        GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID);

                    }
                    else {
                        $("#alertmessageid").text('@UserResource.User_ViewGroupData');
                        $(".alert-popup-body-message").show();
                    }
                }

            }

        });
        $("#UserTypeCode").change(function () {
            var userType = $("#UserTypeCode").val()

            if (userType == 3 || userType == 1) {
                var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
                $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {
                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"groupcheckclass\" id=\"grp_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#group-check-list").html(html);
                    }
                    else {
                        $("#lblGroupName").hide();
                        $("#grpRegionDetails").hide();
                        $("#profileGroup").hide();

                    }
                });

                var regionUrl = '@Url.Content("~/User/GetRegionCode/")';
                $.getJSON(regionUrl, { profileCode: $('#ProfileCode').val() }, function (data) {
                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"regioncheckclass\" id=\"region_" + i + "\" value=\"" + item.RegionCode + "\" /><i></i>" + item.RegionName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#Region-group-check-list").html(html);
                    }
                    else {
                        $("#lblRegion").hide();
                    }

                });
                $("#grpRegionDetails").show();
                $("#profileGroup").show();
            }
            else {
                $("#grpRegionDetails").hide();
                $("#profileGroup").hide();
            }
        });

        $('#btnSearch').click(function (e) {
            
            var selectedPCode = $('#ProfileCode').val();
            var checkedgroups = $('.groupcheckclass:checked').map(function () {
                return this.value;
            }).get();
            var checkedRegions = $('.regioncheckclass:checked').map(function () {
                return this.value;
            }).get();

            if (selectedPCode != "Select Profile Name" && checkedgroups.length > 0) {

                var profileCode = $('#ProfileCode').val();
                var selectgrpID = checkedgroups.toString();
                var selectedRegionCode = checkedRegions.toString();
                var userID = $('#UserID').val();
                GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID);

            }
            else {
                $("#alertmessageid").text('@UserResource.User_ViewGroupData');
                $(".alert-popup-body-message").show();
            }


        });
        var editrow = -1;
        function GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID) {
            $('.wait').show();
            var source = {

                datatype: "json",
                type: 'Get',
                url: '../User/GetUserGroupProfilesData',
                root: 'Rows',
                data: { 'profileCode': profileCode, 'selectgrpID': selectgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                //contentType: "application/json; charset=utf-8",
                filter: function () {
                    $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                },
                // update the grid and send a request to the server.
                sort: function () {
                    $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                },
                async: false,
                //root: 'Rows',
                beforeprocessing: function (data) {
                    source.totalrecords = data.TotalRows;
                }

            };
            var columnsmain = [
                     { text: 'Profile Name', datafield: 'GroupProfileName' },
             { text: 'Group Name', datafield: 'GroupName' },
             { text: 'Group Type', datafield: 'GroupType' }
            ]
            var adapter = new $.jqx.dataAdapter(source);
            var selectGRPProfileMain = {
                "text": "Select",
                "datafield": "Select",
                "width": "100",
                sortable: false,
                filterable: false,
                menu: false,
                "sortable": false,
                "cellsrenderer": function (row, column, value) {
                    editrow = row;
                    var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                    var GroupProfile = dataRecord.GroupProfileCode + "_" + dataRecord.ProfileGroupID;

                    var IsAssigned = dataRecord.Assigned;

                    // var GroupProfile = adapter._source.data.ProfileCode;


                    if (IsAssigned) {
                        var html = "<label><input type=\"checkbox\" class=\"selecctgrpall\" value=\"" + GroupProfile + "\"  data-id=" + GroupProfile + "  checked ><i></i></label>";
                        return html;
                    }
                    else {
                        var html = "<label><input type=\"checkbox\" class=\"selecctgrpall\"  value=\"" + GroupProfile + "\"     data-id=" + GroupProfile + " ><i></i></label>";
                        return html;
                    }

                }
            }
            columnsmain.push(selectGRPProfileMain);
            // create nested grid.
            var initrowdetails = function (index, parentElement, gridElement, record) {
                var id = record.uid.toString();
                var grid = $($(parentElement).children()[0]);

                // var testttt = json[index].groupDetail;
                var testttt = record.groupDetail;
                //console.log(testttt.groupDetails[index].GroupProfileCode);

                var innergrid = JSON.stringify(record.groupDetail);
                //  var innergrid = JSON.stringify(json[index].groupDetail);

                var selectedgrpID = record.ProfileGroupID;

                var nestedSource =
                 {

                     //  datatype: 'json',
                     //  root: 'groupDetails',
                     //  localdata: innergrid

                     datatype: "json",
                     type: 'Get',
                     url: '../User/UserGroupProfileDetails',
                     root: 'Rows',
                     data: { 'profileCode': profileCode, 'selectgrpID': selectedgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                     //contentType: "application/json; charset=utf-8",
                     filter: function () {
                         grid.jqxGrid('updatebounddata', 'filter');
                     },
                     // update the grid and send a request to the server.
                     sort: function () {
                         grid.jqxGrid('updatebounddata', 'sort');
                     },
                     async: false,
                     //root: 'Rows',
                     beforeprocessing: function (data) {
                         nestedSource.totalrecords = data.TotalRows;
                     }



                 };
                var nestedAdapter = new $.jqx.dataAdapter(nestedSource);
                var columnsnew = [
                                { text: 'Name', datafield: 'GroupProfileName' },
                                { text: 'City', datafield: 'City' },
                                { text: 'State', datafield: 'State' },
                                { text: 'Region', datafield: 'Region' }


                ]



                // columnsnew.push(selectGRPProfile);
                if (grid != null) {
                    grid.jqxGrid({
                        source: nestedAdapter,
                        width: '99%',
                        height: 300,
                        filterable: true,
                        pageable: true,
                        pagermode: 'simple',
                        selectionmode: 'checkbox',
                        sortable: true,
                        columnsreorder: true,
                        columnsresize: true,
                        virtualmode: true,
                        ready: function () {
                            grid.jqxGrid('showrowdetails', 0);


                            grid.bind('rowunselect', function (event) {

                                var datarow = grid.jqxGrid('getrowdata', event.args.rowindex);
                                var prfCode = datarow.PProfileCode;
                                var groupID = datarow.ProfileGroupID;
                                var Region = datarow.Region;
                                var index = selectedgrpdata.indexOf(groupID + "_" + prfCode + "_" + Region);
                                if (index > -1) {
                                    removeByIndex(selectedgrpdata, index);
                                }

                            });
                            grid.bind('rowselect', function (event) {

                                var datarow = grid.jqxGrid('getrowdata', event.args.rowindex);
                                var prfCode = datarow.PProfileCode;
                                var groupID = datarow.ProfileGroupID;
                                var Region = datarow.Region;
                                var index = selectedgrpdata.indexOf(groupID + "_" + prfCode + "_" + Region);
                                if (index == -1) {
                                    selectedgrpdata.push(groupID + "_" + prfCode + "_" + Region);
                                }


                            });
                            $('.wait').hide();
                        },

                        rendergridrows: function (obj) {
                            for (var i = obj.startindex; i < obj.data.length; i++) {
                                if (obj.data[i].Assigned != null && obj.data[i].Assigned == true) {
                                    selectedrows.push(i);
                                }
                            }
                            return obj.data;
                        },
                        columns: columnsnew,

                    });

                    $.each(selectedrows, function (i, v) {
                        grid.jqxGrid('selectrow', v);
                    });

                    selectedrows = new Array();

                }

            }

            // creage jqxgrid
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                autoheight: true,
                filterable: true,
                pageable: true,
                sortable: true,
                columnsreorder: true,
                source: source,
                pagermode: 'simple',
                rowdetails: true,
                rowsheight: 35,
                initrowdetails: initrowdetails,
                rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 4px;'></div>", rowdetailsheight: 320, rowdetailshidden: true },
                ready: function () {
                    $("#jqxgrid").jqxGrid('showrowdetails', 0);
                },

                virtualmode: true,
                rendergridrows: function (obj) {
                    return obj.data;
                },
                columns: columnsmain
            });



        }
    });
</script>
