﻿
@{
   ViewBag.Title = "Home";
   ViewBag.PageClass = "QoskPage";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

<table class="tableEx" style="vertical-align: middle; height: 400px">
   <tr>
      <td class="">
         <table class="tableEx">
            <tr>
               <td class="QoskVMargin" style="width: 50%; height: 100%" />
               <td class="QoskBody" style="height: 100%">
                  @*
                     <table class="" style="height: 100%; width: 880px;">
                         <tr style="">
                             <!--<td class="tdEx" style=""><a href="@Url.Action("Setting")"><div class="divEx settings"></div>Account Settings</a></td>-->
                             <td class="tdEx" style=""><a href="@Url.Action("UserDetails","Detail", new {area = "UserAdmin"} )"><div class="divEx settings"></div>Account Settings</a></td>
                             <td class="tdEx" style=""><a href="@Url.Action("PlaceHolder","User", new {page = "Shipping"})"><div class="divEx shipment"></div>Shipping</a></td>
                             <td class="tdEx" style=""><a href="@Url.Action("PlaceHolder","User", new {page = "Supply"})"><div class="divEx supply"></div>Supplies</a></td>
                            <td class="tdEx" style=""><a href="@Url.Action("Id", "Home", new { area = "Report", ReportId = 13 })"><div class="divEx report"></div>Reports</a></td>
                         </tr>
                         <tr style="">
                             <td class="tdEx" style=""><a href="@Url.Action("Index", "Induction", new { area = "Product" })"><div class="divEx induction"></div>Returns Processing</a></td>
                             @if (User.IsInRole(Qualanex.QoskCloud.Utility.Constants.Role_QoskLiteUser))
                             {
                                 <td class="tdEx" style="">
                                     <a href="@Url.Action("DecisionSupport", "Induction", new { area = "Product" })">
                                         <div class="divEx induction"></div>Decision Support
                                     </a>
                                 </td>
                                 <td class="tdEx" style=""><a href="@Url.Action("Index", "Detail", new { area = "Product" })">
                                     <div class="divEx detail"></div>Product Detail</a></td>
                             }
                             <td class="tdEx" style=""><a href="@Url.Action("PlaceHolder","User", new {page = "Waste Pickup"})"><div class="divEx waste"></div>Waste Pickup</a></td>
                         </tr>
                     </table>
                  *@
               </td>
               <td class="QoskVMargin" style="width: 50%; height: 100%" />
            </tr>
         </table>
      </td>
   </tr>
</table>
