﻿@model Qualanex.QoskCloud.Entity.UsersEntity
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
    PerPageCountNumber.Add(100, 100);
    PerPageCountNumber.Add(200, 200);
    PerPageCountNumber.Add(500, 500);

}

<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<script>
    var noOfRecords = "";
    var userId = "";
    function deleteuser(userID) {
        userId = userID;
        $("#alertdeletemessageid").text("Do you wish to delete this user ?");
        $(".alert-popup-body-message-confirm").show();

    }
    function editeuser() {
        var state = $("#jqxgrid").jqxGrid('savestate');
        sessionStorage.setItem("GridState", JSON.stringify(state));
        var ddUserType = $('#ddUserType').val();
        var txtUserName = $('#txtUserName').val();
        if (typeof (Storage) !== "undefined") {
            sessionStorage.setItem('ddUserType', ddUserType)
            sessionStorage.setItem('txtUserName', txtUserName)
        }
        return true;
    }

    $(document).ready(function () {

        $(".show-pagesize-cmb").hide();

        if (sessionStorage.getItem("ddUserType") != null || sessionStorage.getItem("txtUserName") != null) {

            $("#ddUserType").val(sessionStorage.getItem('ddUserType'));
            $("#txtUserName").val(sessionStorage.getItem('txtUserName'));
            CreateGridPanelnew();
        }
        else {
            sessionStorage.removeItem('ddUserType');
            sessionStorage.removeItem('txtUserName');
        }
        $("#btdeletenCancel,#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            $(".alert-popup").animate({ "top": "40%" });
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });
        });
        //$('.lot-icon').click(function (e) {
        //    sessionStorage.removeItem('ddUserType');
        //    sessionStorage.removeItem('txtUserName');
        //});

        $("#btdeletenok").click(function () {
            $.ajax({
                url: '@Url.Action("Delete")',
                data: {
                    id: userId
                },
                success: function (data) {

                    if (data.Status == true) {
                        $(".alert-popup-body-message-confirm").hide();
                        $("#alertmessageid").text(data.Result);
                        $(".alert-popup-body-message").show();
                        CreateGridPanelnew();


                    }
                    else {
                        $("#alertmessageid").text(data.Result);
                        $(".alert-popup-body-message").show();
                    }

                },
                error: function (response) {
                    if (response.status != 0) {
                        alert(response.status + " " + response.statusText);
                    }
                }
            });


        });

        $(".show-pagesize-cmb").hide();
        $('#PagesizeCounter').change(function () {
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            $('#total-records').text(datainfo.rowscount);
            var pagesize = $('#PagesizeCounter').val();
            $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });
        });

        $("#btnUserSimpleSearch").click(function (e) {
            CreateGridPanelnew();
            return false;
        });
        $('.lot-icon').unbind("click");

    });

</script>




@*Expand Collapse Feature*@
<div class="main-container">
    <div class="product-list">
        <div class="top_heading">
            <h1>Users List</h1>

            <div class="">
                <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
                    <div id="collapse">
                        <a href="#"><span><strong>-</strong></span> Collapse Search</a>
                    </div>
                    <div id="expand">
                        <a href="#"><span><strong>+</strong></span> Expand Search</a>
                    </div>
                </div>
                <div class="media-clr media-margin"></div>
                <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                    <input type="hidden" id="hdnPageNo" />

                    <input type="hidden" id="hdnTotalRecords" />
                    <ul>
                        <li>
                            @Html.ActionLink("Add New User", "UserRegister", new { }, new { @class = "add_btn" })
                        </li>

                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="product-box2">
            <div>
                <form>
                    <div class="search-box" id="exp_col">
                        <div>
                            <ul>
                                <li class="col-md-2 col-sm-6 col-xs-12">
                                    <label>User Name</label>
                                    @Html.TextBox("txtUserName")
                                </li>

                                <li class="col-md-2 col-sm-6 col-xs-12">
                                    <label>User Type</label>
                                    @Html.DropDownList("ddUserType", (IEnumerable<SelectListItem>)ViewBag.UserType, "All")
                                </li>

                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="search-btn">
                            <div class="row">
                                <div class="col-md-12 margin_top">
                                    <input type="button" value="Search" id="btnUserSimpleSearch" />
                                    <input type="reset" value="Reset">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="bottom_input">
                <div class="row show-pagesize-cmb" style="margin:10px auto;">
                    <div class="col-md-12" style="margin-top:5px;">

                        <div class="pull-right">
                            @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new { @class = "select_pager" })
                        </div>
                        <div class="pull-right" style="padding:7px;">
                            <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new { @id = "lblidcounter", @class = "lblidcounter" })
                        </div>
                    </div>
                </div>

                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div id="jqxgrid">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("AlertPopupView");
@Html.Partial("DeleteConfirmation")
@Html.Partial("_Wait")
<script>
    var editrow = -1;
    var deleterow = -1;
    function CreateGridPanelnew() {
        var source = {

            datatype: "json",
            type: 'GET',
            //datafields: jsoncolumn,//[{ name: 'Expiration Date', type: "date", format: 'dd.MM.yyyy' }],
            url: '../User/UserSearchResult',
            data: { ddUserType: $('#ddUserType').val(), txtUserName: $('#txtUserName').val() },
            root: 'Rows',
            //contentType: "application/json; charset=utf-8",
            // update the grid and send a request to the server.
            filter: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
            },
            // update the grid and send a request to the server.
            sort: function () {
                $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
            },
            //root: 'Rows',
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;

            },
            loadComplete: function () {
                var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
                var paginginfo = datainfo.paginginformation;
                if (datainfo.rowscount > 0) {
                    $('#total-records').text(datainfo.rowscount);
                    $(".show-pagesize-cmb").show();
                    CollapseSearch();
                }
                else {
                    $(".show-pagesize-cmb").hide();
                    $('#total-records').text(0);
                    $('#PagesizeCounter').val(100);

                }

            }

        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
            },

        });

        var editrow = -1;
        

        var editUser = {
            "text": "Edit",
            "datafield": "Edit",
            pinned: true,
            sortable: false,
            filterable: false,
            menu: false,
            "width": "50",
            "cellsrenderer": function (row, column, value) {
                editrow = row;
                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                var userID = dataRecord.UserID;

                //  var userID = dataAdapter._source.localdata[row].UserID;
                // alert(JSON.stringify(dataAdapter));
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                var html = "<a href=../User/Edit?id=" + $.trim(userID) + "  onclick=\" return editeuser();\" class=\"btnEditimage\"></a>";
                return html;
            }
        };

        
        // prepare the data
        var columns = [
               { text: 'User Name', editable: false, datafield: 'UserName', width: 160 },
               { text: 'First Name', editable: false, datafield: 'FirstName', width: 130 },
               { text: 'Last Name', editable: false, datafield: 'LastName', width: 120 },
               { text: 'Location', editable: false, datafield: 'Name', width: 220 },
               { text: 'User Type', editable: false, datafield: 'UserTypeName', width: 150 },
               { text: 'Email', editable: false, datafield: 'Email', width: 200 },
               { text: 'Phone Number', editable: false, datafield: 'PhoneNumber', width: 120 },
               { text: 'Fax Number', editable: false, datafield: 'FaxNumber', width: 120 }

        ]
        columns.push(editUser);
        //columns.push(deletepUser);
        // initialize jqxGrid
        $("#jqxgrid").jqxGrid({
            width: '100%',
            source: dataadapter,
            pageable: true,
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            virtualmode: true,
            showdefaultloadelement: false,
            enabletooltips: true,
            columnsresize: true,
            height: '100%',
            pagermode: 'simple',
            rendergridrows: function (obj) {
                return obj.data;
            },
            ready: function () {
                var pagesize = $('#PagesizeCounter').val();
                $('#jqxgrid').jqxGrid({ pagesizeoptions: [pagesize] });

                setTimeout(function () {
                    var state = sessionStorage.getItem("GridState");

                    if (state) {
                        try {
                            state = JSON.parse(state);

                            $("#jqxgrid").jqxGrid('loadstate', state);

                            var index = state.selectedrowindexes;
                            if (!isNaN(index)) {
                                $("#jqxgrid").jqxGrid('ensurerowvisible', index);
                            }

                            sessionStorage.removeItem("GridState");
                        } catch (e) { }
                    }
                }, 1000);
            },
            columns: columns,


        });





    }
    $(document).keypress(function (e) {
        if (e.which == 13) {
            CreateGridPanelnew();
        }
    });


</script>

