﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>Qualanex</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../Content/main-style.css" type="text/css">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
      ================================================== -->

    <link rel="stylesheet" href="css/style.css" type="text/css">


    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
</head>
<body>
    <!--Strat Main Container-->

    <div id="body-wrapper" class="change-top">
@using (Html.BeginForm())
    {
        <!--Start Top Header-->
        <div class="header-above"></div>
        <!--End Top Header-->
        <div class="change-logo">
            <img src="~/images/ch-logo.png">
        </div>
        @Html.Partial("_PasswordChange")
        <div class="ch-space"></div>
    }
    </div>
    <div class="change-footer">
        Copyrights 2014.  All rights reserved Qualanex.com
    </div>

    <!--End Main container-->
    <!-- All Javascript include here for fast loading of page -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
    isPasswordFound = true;
    $(document).ready(function () {
        $(function () {
            $('#OldPassword').blur(function (e) {
                if ($('#OldPassword').val() != "") {
                    var url = '@Url.Content("~/User/ValidateTempPassword/")';
                    $.post(url,
                        {
                            temppassword: $('#OldPassword').val()
                        }, function (result) {
                            if (result == "Success") {
                                isPasswordFound = true;
                                $('#UserNamemsg').html("");
                            }
                            else {
                                $('#OldPassword').css({
                                    "border": "1px solid red"
                                });
                                $('#UserNamemsg').html("Temporary Password does exists");
                                isPasswordFound = false;
                            }
                        });
                    return false;

                }
            });

        });

        $('#forPassowrdSave').click(function () {
            if(isPasswordFound)
            {
                $('#Chngepasswordfrm').submit();
                return true;
            }
            else
            {
                return false;
            }

        });

    });
    </script>
</body>

</html>
