﻿@{
    ViewBag.Title = "Qosk";
    ViewBag.PageClass = "QoskPage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model Qualanex.QoskCloud.Entity.UserRegistrationRequest
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
<table>
    <tr>
        <td class="LMargin"/>
        <td class="QoskBody">@Html.Partial("_UserDetail") <!--Go Get the View from _UserDetail-->
        <!--Generate the bottom container for Detail and search functions-->
        <div class="container-float">
            <div id="tab-container" class="ql-fullwidth">
                <ul class="etabs row">
                    <li id="search-tab" class="tab col-md-3">
                        <a href="#tabs-Userdetails">Details
                            <img id="UserDetail-loading" src="~/images/loader2.gif" width="20" hidden/> 
                        </a>
                    </li>
                    <li id="policy-tab" class="tab col-md-3">
                        <a href="#tabs-UserHistory">History
                            <img id="UserHistory-loading" src="~/images/loader2.gif" width="20" hidden/> 
                        </a>
                    </li>
                </ul>
                <div class="row ql-body" id="tabs-Userdetails">
                    @Html.Partial("_DetailResults")
                </div>
                <div class="row ql-body" id="tabs-UserHistory"> 
                    @Html.Partial("_UserHistoryResults")
                </div>
                <script>
                    $('#tab-container').easytabs();
                </script>
            </div>
        </div>
        <td class="RMargin"/>
    </tr>
</table>