﻿@model Qualanex.QoskCloud.Entity.UserRegistrationRequest
@using UserResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script>
    
    var isUserValidate = false;
    var isUserEmailValidate = false;
    var isformValid = false;
    var matchpassword = false;
    var isprofileUpdate = false;
    var isLeavewitoutSave = true;
    var urlName;

   
</script>
@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select Profile Type", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    ProfileTypeDictionary.Add("Retail Pharmacy", "Retail Pharmacy");
    ProfileTypeDictionary.Add("Chain Pharmacy", "Chain Pharmacy");
    ProfileTypeDictionary.Add("ReverseDistributor", "ReverseDistributor");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Distribution Center", "Distribution Center");
    ProfileTypeDictionary.Add(" Qualanex Admin", "QualanexInternal");
    SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}
@{
    Dictionary<string, string> ProfileCodeDictionary = new Dictionary<string, string>();
    ProfileCodeDictionary.Add("Select Profile Name", "");
    SelectList FillProfileCodeList = new SelectList(ProfileCodeDictionary, "value", "key");
}

@{
    Dictionary<string, string> UserTypeCodeDictionary = new Dictionary<string, string>();
    UserTypeCodeDictionary.Add("Select User Type", "");
    SelectList FillUserTypeList = new SelectList(UserTypeCodeDictionary, "value", "key");
}
@{
    Dictionary<string, string> UserGroupTypeCodeDictionary = new Dictionary<string, string>();
    UserGroupTypeCodeDictionary.Add("Select Group Name", "");
    SelectList FillGroupTypeList = new SelectList(UserGroupTypeCodeDictionary, "value", "key");
}
@{
    Dictionary<string, string> UserRegionCodeDictionary = new Dictionary<string, string>();
    UserRegionCodeDictionary.Add("Select Region", "");
    SelectList FillRegionCodeList = new SelectList(UserRegionCodeDictionary, "value", "key");
}
<div class="main-container">
    <h2>Create User</h2>
    <div class="backtosearch second">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    @Html.ValidationSummary()
    <div style="display:none" id="UserSuccessMessage">@ViewBag.UserSucessmessage</div>

    <div id="tab-container" class='tab-container'>
        @*<ul class='etabs'>
                <li class='tab'><a href="#qu-tab1">Create New Profile</a></li>
                <li class='tab'><a href="#qu-tab2" onclick="SetAccountDetails();">Profile Account</a></li>
            </ul>*@
        <div class='panel-container'>
            <div id="qu-tab1">
               @using (Html.BeginForm("UserRegister", "User", FormMethod.Post, new { id = "regform" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SelectedgroupProfiles)
        @Html.HiddenFor(model => model.Selectedgroups)
        <div class="product-box clearfix">
            <h1>Register</h1>
            <div class="madatory_feild_message"><p><span>*</span> fields are mandatory.</p></div>
            <div class="col-md-4">

                <div class="input-ctrl">
                    <label>Profile Type<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.ddType, FillProfileList, new { @class = "validate[required]" })

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Profile Name<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.ProfileCode, FillProfileCodeList, new { @class = "validate[required]" })

                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>User Type<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.UserTypeCode, FillUserTypeList, new { @class = "validate[required]" })


                    </div>
                </div>

            </div>
            <div class="clear"></div>

        </div>
        <div class="physician-box clearfix">
            <h1>Contact Infomation</h1>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>User Name<span>*</span></label>
                    <div class="field">

                        @Html.TextBoxFor(model => model.UserName, new { @maxlength = "20", @minlength = "4", @class = "validate[required,custom[nonHtmlText],funcCall[checkUser]]", @placeholder = "Enter User Name" })

                        <p id="UserNamemsg" class="error-msg"> </p>
                    </div>
                </div>

                <div class="input-ctrl">
                    <label>Password<span>*</span></label>
                    <div class="field">
                        @Html.PasswordFor(model => model.Password, new { @maxlength = "20", @class = "validate[required,custom[password]]", @placeholder = "Enter Password" })
                        <p id="UserNamemsg" class="error-msg"></p>
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Confirm Password<span>*</span></label>
                    <div class="field">

                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "validate[required,custom[confirmpassword],equals[Password]]", @placeholder = "Enter Confirm Password" })

                        <p id="UserNamemsg" class="error-msg"> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Email Address<span>*</span></label>
                    <div class="field">

                        @Html.TextBoxFor(model => model.Email, new { @maxlength = "30", @minlength = "8", @class = "validate[required,custom[email],funcCall[checkEmail]]", @placeholder = "Enter Email Address" })

                        <p id="Emailmsg" class="error-msg"></p>
                    </div>
                </div>

                <div class="input-ctrl">
                    <label>First Name<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = "25", @minlength = "2", @class = "validate[required,custom[nonHtmlText]]", @placeholder = "Enter First Name" })

                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Last Name<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = "25", @minlength = "2", @class = "validate[required,custom[nonHtmlText]]", @placeholder = "Enter Last Name" })

                    </div>
                </div>


            </div>

            <div class="col-md-4">



                <div class="input-ctrl">
                    @Html.LabelFor(model => model.PhoneNumber)
                    <div class="field">

                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "15", @class = "validate[custom[phone]]", @placeholder = "Enter Phone Number", @oninput = "return PhoneNumberMask(event);" })


                    </div>
                </div>
                <div class="input-ctrl">
                    @Html.LabelFor(model => model.FaxNumber)
                    <div class="field">
                        @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "15", @class = "validate[custom[faxNumber]]", @placeholder = "Enter Fax Number", @oninput = "return PhoneNumberMask(event);" })
                    </div>
                </div>



            </div>

        </div>

        <div id="grpRegionDetails" class="physician-box clearfix">
            <h1>Group Profiles</h1>
            <div class="col-sm-4">
                <div class="textfield-item user_grpoupprofile_chk">
                    <label id="lblGroupName">  Select Groups</label>
                    <div class="select-chk pull-right" id="group-check-list">
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="textfield-item">
                    <label id="lblRegion"> Select Regions </label>
                    <div class="select-chk" id="Region-group-check-list">

                    </div>

                </div>
            </div>

            <div class="col-sm-2">
                <div class="textfield-item-btn">
                    <button type="button" id="btnSearch" class="register-main-btn blue-btn" value="register">Search</button>
                </div>
            </div>

            <div class="clearfix"></div>
            <div id="profileGroup" @*class="table-scroll"*@>
                            <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                                <div id="jqxgrid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div style="width:100%; text-align:center; margin:20px 0 0;">
                        <button type="submit"  id="btnRegister" class="register-main-btn blue-btn update" value="register">Register</button>
                        <input type="reset" value="Reset" id="userbtnReset" class="blue-btn">
                    </div>

               }
            </div>
        </div>
        <div class="clear"></div>
        <div class="backtosearch">
            @Html.ActionLink("« Back to search results", "Index")
        </div>
    </div>
    @Html.Partial("AlertPopupView")
    @Html.Partial("_LeavePageMessage")
    <script>
       
        function checkUser(field, rules, i, options) {
            var msg = undefined;
            var url = '@Url.Content("~/User/ValidateUserName/")';
            if ($('#UserName').val() != "") {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { userName: $('#UserName').val() },
                    //contentType: 'application/json; charset=utf-8',
                    //traditional: true,
                    async: false,
                    //dataType: 'json',
                    success: function (result) {
                        if (result == "OK") {
                            isUserValidate = true;
                        }
                        else {
                            msg = "User Name already exists";
                            $('#UserName').val('');
                            isUserValidate = false;
                        }
                    },
                    complete: function () {
                    },
                    error: function (req, status, error) {
                        //alert(status);
                    }
                });
            }

            return msg;
        }


        function checkEmail(field, rules, i, options) {
            var msg = undefined;
            var url = '@Url.Content("~/User/ValidateUserEmailAddress/")';
            if ($('#Email').val() != "") {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        userEmail: $('#Email').val(),
                        pageName: "ValidEmail"
                    },
                    //contentType: 'application/json; charset=utf-8',
                    //traditional: true,
                    async: false,
                    //dataType: 'json',
                    success: function (result) {
                        if (result == "OK") {
                            isUserEmailValidate = true;
                        }
                        else {
                            msg = "Email already exists";
                            $('#Email').val('');
                            isUserEmailValidate = false;
                        }
                    },
                    complete: function () {
                    },
                    error: function (req, status, error) {
                        //alert(status);
                    }
                });
            }


            return msg;
        }

        var data = new Array();
        //var icounter = 0;
        $(document).ready(function () {
            
            closePopup();
            BindValidations();
            $("#regform").validationEngine();
            $("input,textarea").prop("disabled", true);
            $("#btnok").prop("disabled", false);
            $("#UserTypeCode").attr("disabled", "disabled");
            $("#ProfileCode").attr("disabled", "disabled");
            $("#userProfileGroup").hide();
            $("#RegionalUserGrp").hide();
            $("#grpRegionDetails").hide();
            $(".select-chk").on("click", "input[type='checkbox']", function () {
                var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
                if ($(this).attr('class') != 'selecctall') {
                    $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
                } else {
                    myCheckBox.prop("checked", this.checked);
                }
            });

           

            $('#btnRegister').click(function (e) {

                var selectedcheckedgroupProfile = $('.grpdetails-slectedprofile-classnew:checked').map(function () {
                    return this.value;
                }).get();
                var selectedcheckedgroup = $('.selecctgrpallnew:checked').map(function () {
                    return this.value;
                }).get();


                if ($("#regform ").validationEngine('validate') == false) {

                    e.preventDefault();
                    return false;
                }

                var _this = this;
                UserRegistrationSave(selectedcheckedgroup, selectedcheckedgroupProfile);

            });

            selectedcheckedgroupProfile = data;
            function UserRegistrationSave(selectedcheckedgroup, selectedcheckedgroupProfile) {
              
                var isValidateform = false;
                var isPasswordValidate = true;
                $('#UserNamemsg').html("");
                $('#Emailmsg').html("");
                var userType = $('#ddType').val();
                var profileCode = $('#ProfileCode').val();
                var userTypeID = $('#UserTypeCode').val();
                var userName = $('#UserName').val();
                var email = $('#Email').val();
                var password = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();
                var firstName = $('#FirstName').val();
                var lastName = $('#LastName').val();


               

                $(".alert-popup").animate({ "top": "40%" });
                var len = password.length;
                if (len < 1) {
                    isPasswordValidate = false;

                }
                if (password != confirmPassword) {
                    isPasswordValidate = false;

                }

                if (isUserValidate == true && isUserEmailValidate == true) {

                    $('#SelectedgroupProfiles').val(selectedcheckedgroupProfile.toString());
                    $('#Selectedgroups').val(selectedcheckedgroup.toString());


                    isLeavewitoutSave = false;

                  


                   return true;
                }

                //if (isValidateform)
                //    return true
                //else
                //    return false;

            }
            $('#userbtnReset').click(function () {
                $('#regform').validationEngine('hide');
                $('#UserNamemsg').html("");
                $('#Emailmsg').html("");
            });
            $('#btnSearch').click(function () {
                var selectedPCode = $('#ProfileCode').val();
                var checkedgroups = $('.groupcheckclass:checked').map(function () {
                    return this.value;
                }).get();
                var checkedRegions = $('.regioncheckclass:checked').map(function () {
                    return this.value;
                }).get();

                if (selectedPCode != "Select Profile Name" && checkedgroups.length > 0) {

                    var profileCode = $('#ProfileCode').val();
                    var selectgrpID = checkedgroups.toString();
                    var selectedRegionCode = checkedRegions.toString();
                    var userID = '';
                    GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID);

                }
                else {
                    $("#alertmessageid").text('@UserResource.User_ViewGroupData');
                    $(".alert-popup-body-message").show();
                }

            });
            var editrow = -1;

            function GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID) {

                var source = {

                    datatype: "json",
                    type: 'Get',
                    url: '../User/GetUserGroupProfilesData',
                    root: 'Rows',
                    data: { 'profileCode': profileCode, 'selectgrpID': selectgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                    //contentType: "application/json; charset=utf-8",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    async: false,
                    //root: 'Rows',
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }

                };
                var columnsmain = [
                 { text: 'Profile Name', datafield: 'GroupProfileName' },
                 { text: 'Group Name', datafield: 'GroupName' },
                 { text: 'Group Type', datafield: 'GroupType' }
                ]
                var adapter = new $.jqx.dataAdapter(source);
                var selectGRPProfileMain = {
                    "text": "Select",
                    "datafield": "Select",
                    "width": "100",
                    sortable: false,
                    filterable: false,
                    menu: false,
                    "sortable": false,
                    "cellsrenderer": function (row, column, value) {
                        editrow = row;
                        var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                        var GroupProfile = dataRecord.GroupProfileCode + "-" + dataRecord.ProfileGroupID;
                        var IsAssigned = dataRecord.Assigned
                        // var GroupProfile = adapter._source.data.ProfileCode;
                        if (IsAssigned) {
                            var html = "<label><input type=\"checkbox\" class=\"selecctgrpallnew\" value=\"" + GroupProfile + "\"  data-id=" + GroupProfile + "  checked ><i></i></label>";
                            return html;


                        }
                        else {
                            var html = "<label><input type=\"checkbox\" class=\"selecctgrpallnew\"  value=\"" + GroupProfile + "\"     data-id=" + GroupProfile + " ><i></i></label>";
                            return html;
                        }

                    }
                }
                columnsmain.push(selectGRPProfileMain);
                // create nested grid.
                var initrowdetails = function (index, parentElement, gridElement, record) {
                    var id = record.uid.toString();
                    var grid = $($(parentElement).children()[0]);

                    // var testttt = json[index].groupDetail;
                    var testttt = record.groupDetail;
                    //console.log(testttt.groupDetails[index].GroupProfileCode);

                    var innergrid = JSON.stringify(record.groupDetail);
                    //  var innergrid = JSON.stringify(json[index].groupDetail);

                    var selectedgrpID = record.ProfileGroupID;

                    var nestedSource =
                     {

                         datatype: "json",
                         type: 'Get',
                         url: '../User/UserGroupProfileDetails',
                         root: 'Rows',
                         data: { 'profileCode': profileCode, 'selectgrpID': selectedgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                         //contentType: "application/json; charset=utf-8",
                         filter: function () {
                             grid.jqxGrid('updatebounddata', 'filter');
                         },
                         // update the grid and send a request to the server.
                         sort: function () {
                             grid.jqxGrid('updatebounddata', 'sort');
                         },
                         async: false,
                         //root: 'Rows',
                         beforeprocessing: function (data) {
                             nestedSource.totalrecords = data.TotalRows;
                         },
                         loadComplete: function () {

                         }


                     };
                    var nestedAdapter = new $.jqx.dataAdapter(nestedSource);
                    var columnsnew = [
                                    { text: 'Name', datafield: 'GroupProfileName' },
                                    { text: 'City', datafield: 'City' },
                                    { text: 'State', datafield: 'State' },
                                    { text: 'Region', datafield: 'Region' }

                    ]
                    var selectGRPProfile = {
                        "text": "Select",
                        "datafield": "Select",
                        "width": "100",
                        sortable: false,
                        filterable: false,
                        menu: false,
                        "sortable": false,
                        "cellsrenderer": function (row, column, value) {
                            editrow = row;
                            var dataRecord = grid.jqxGrid('getrowdata', editrow);
                            //var GroupProfile = dataRecord.PProfileCode;
                            var GroupProfile = dataRecord.ProfileGroupID + "_" + dataRecord.PProfileCode + "_" + dataRecord.Region;
                            var IsAssigned = false;
                            for (var i = 0; i < data.length; i++) {
                                var grp = data[i];

                                if (GroupProfile == grp) {

                                    IsAssigned = true;
                                    break;
                                }
                            }
                            if (IsAssigned) {
                                var html = "<label><input type=\"checkbox\" class=\"grpdetails-slectedprofile-classnew\" value=\"" + GroupProfile + "\"  data-id=" + GroupProfile + "  checked ><i></i></label>";
                                return html;


                            }
                            else {
                                var html = "<label><input type=\"checkbox\" class=\"grpdetails-slectedprofile-classnew\"  value=\"" + GroupProfile + "\"     data-id=" + GroupProfile + " ><i></i></label>";
                                return html;
                            }

                            //var html = "<label><input type=\"checkbox\" class=\"grpdetails-slectedprofile-classnew\"  value=\"" + GroupProfile + "\"     data-id=" + GroupProfile + " ><i></i></label>";
                            //return html;

                        }
                    }
                    //  columnsnew.push(selectGRPProfile);

                    function removeByIndex(arr, index) {
                        arr.splice(index, 1);
                    }

                    if (grid != null) {
                        grid.jqxGrid({
                            source: nestedAdapter,
                            width: '100%',
                            height: 300,
                            filterable: true,
                            pageable: true,
                            sortable: true,
                            pagermode: 'simple',
                            selectionmode: 'checkbox',
                            columnsreorder: true,
                            columnsresize: true,
                            ready: function () {
                                grid.jqxGrid('showrowdetails', 0);
                                grid.bind('rowunselect', function (event) {

                                    var datarow = grid.jqxGrid('getrowdata', event.args.rowindex);
                                    var prfCode = datarow.PProfileCode;
                                    var groupID = datarow.ProfileGroupID;
                                    var Region = datarow.Region;
                                    var index = data.indexOf(groupID + "_" + prfCode + "_" + Region);
                                    if (index > -1) {
                                        removeByIndex(data, index);
                                    }
                                });
                                grid.bind('rowselect', function (event) {

                                    var datarow = grid.jqxGrid('getrowdata', event.args.rowindex);
                                    var prfCode = datarow.PProfileCode;
                                    var groupID = datarow.ProfileGroupID;
                                    var Region = datarow.Region;
                                    data.push(groupID + "_" + prfCode + "_" + Region);
                                });


                            },
                            virtualmode: true,
                            rendergridrows: function (obj) {
                                return obj.data;
                            },
                            columns: columnsnew,

                        });
                    }

                }

                // creage jqxgrid
                $("#jqxgrid").jqxGrid(
                {
                    width: '100%',
                    autoheight: true,
                    filterable: true,
                    pageable: true,
                    sortable: true,
                    columnsreorder: true,
                    source: source,
                    pagermode: 'simple',
                    rowdetails: true,
                    rowsheight: 35,
                    initrowdetails: initrowdetails,
                    rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 4px;'></div>", rowdetailsheight: 320, rowdetailshidden: true },
                    ready: function () {
                        $("#jqxgrid").jqxGrid('showrowdetails', 0);
                    },

                    virtualmode: true,
                    rendergridrows: function (obj) {
                        return obj.data;
                    },
                    columns: columnsmain
                });


            }

            $("#UserTypeCode").change(function () {
              
                var userType = $("#UserTypeCode").val()
                if (userType == 3 || userType == 1) {   
                    $("input,textarea").prop("disabled", false);
                    var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
                    $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {

                        if (data.length > 0) {
                            var html = "<ul class=\"chk-container\">";
                            html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                            $.each(data, function (i, item) {
                                html += "<li><label><input type=\"checkbox\" class=\"groupcheckclass\" id=\"grp_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                            });
                            html += "</ul>";
                            $("#group-check-list").html(html);
                            $("#grpRegionDetails").show();
                            $("#profileGroup").show();
                            $("#lblGroupName").show();
                        }
                        else {
                            $("#lblGroupName").hide();
                        }

                    });
                    var regionUrl = '@Url.Content("~/User/GetRegionCode/")';
                    $.getJSON(regionUrl, { profileCode: $('#ProfileCode').val() }, function (data) {

                        if (data.length > 0) {
                            var html = "<ul class=\"chk-container\">";
                            html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                            $.each(data, function (i, item) {
                                html += "<li><label><input type=\"checkbox\" class=\"regioncheckclass\" id=\"region_" + i + "\" value=\"" + item.RegionCode + "\" /><i></i>" + item.RegionName + "</label></li>"
                            });
                            html += "</ul>";
                            $("#Region-group-check-list").html(html);
                            $("#lblRegion").show();
                        }
                        else {
                            $("#lblRegion").hide();
                        }
                    });

                }
                else {
                    $("input,textarea").prop("disabled", false);
                    $("#grpRegionDetails").hide();
                    $("#profileGroup").hide();
                }

            });

            $("#ddType").change(function () {
                var selectedType = $("#ddType").val();
                if (selectedType != "Select Profile Type" && selectedType != "") {
                    //$("input,textarea").prop("disabled", true);
                    $.ajax({
                        url: '@Url.Action("Profiles", "Profile")',
                        data: { ProfileType: $('#ddType').val() },
                        datatype: "json",
                        success: function (data) {
                            $("#ProfileCode").empty();
                            $("#ProfileCode").append("<option  value=''>Select Profile Name</option>");
                            $.each(data, function (index, optionData) {
                                $("#ProfileCode").append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
                            });
                            $.ajax({
                                url: '@Url.Action("GetUserTypes")',
                                data: { profileType: $('#ddType').val() },
                                datatype: "json",
                                success: function (data) {
                                    $("#UserTypeCode").empty();
                                    $("#UserTypeCode").append("<option  value='0'>Select User Type</option>");
                                    $.each(data, function (index, optionData) {
                                        $("#UserTypeCode").append("<option value='" + optionData.UserTypeCode + "'>" + optionData.UserTypeName + "</option>");
                                    });
                                    $("#UserTypeCode").prop("disabled", false);
                                }, error: function (response) {
                                    $("#UserTypeCode").empty();
                                    // alert(response);
                                    if (response.status != 0) {
                                        //   alert(response.status + " " + response.statusText);
                                    }
                                }
                            });

                            $("#ProfileCode").prop("disabled", false);
                        }, error: function (response) {
                            $("#ProfileCode").empty();
                            // alert(response);
                            if (response.status != 0) {
                                //   alert(response.status + " " + response.statusText);
                            }
                        }
                    });
                }
                else {
                    $("input,textarea").prop("disabled", true);
                    $("#ProfileCode").empty();
                    $("#ProfileCode").append("<option  value=''>Select Profile Name</option>");
                    $("#UserTypeCode").empty();
                    $("#UserTypeCode").append("<option  value='0'>Select User Type</option>");
                    $("#UserTypeCode").prop("disabled", true);
                    $("#ProfileCode").prop("disabled", true);


                }
            });

            $("#ProfileCode").change(function () {
                var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
                var ddlsource = "#ProfileCode";
                var ddltarget = "#ddGroupType";
                if ($("#ProfileCode").val() != "Select Profile Name") {
                    $("#UserTypeCode").val("0");
                   // $("input,textarea").prop("disabled", true);
                    $("#grpRegionDetails").hide();
                    $("#profileGroup").hide();
                    $.ajaxSetup({ cache: false });
                    $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {
                        $(ddltarget).empty();
                        $("#ddGroupType").append("<option  value=''>Select Profile Name</option>");
                        $.each(data, function (index, optionData) {
                            $("#ddGroupType").append("<option value='" + optionData.ProfileGroupID + "'>" + optionData.GroupName + "</option>");
                        });
                        $("#ddGroupType").prop("disabled", false);
                    });
                }
                else {
                    $("input,textarea").prop("disabled", true);
                    $("#ddGroupType").empty();
                    $("#ddGroupType").prop("disabled", true);
                }
            });
            $("#ddGroupType").change(function () {
                var up = $('#ddGroupType').val();
                if (up == '')
                { alert("Please select Group Name"); return false; }
                else
                {
                    $.ajax({
                        url: '@Url.Action("GetProfilesGroup")',
                        data: { profileCode: $('#ddGroupType').val() },
                        success: function (data) {
                            $(".custom-table").html(data)
                        },
                        error: function (response) {
                            alert(response);
                            if (response.status != 0) {
                                alert(response.status + " " + response.statusText);
                            }
                        }
                    });
                }
            });

            $("#userProfileGroup").hide();
            $(".alert-popup-body").hide();

            BindValuesInData("div.main-container");

            if ($('#UserSuccessMessage').text() == "SUCCESS") {
                $("#alertmessageid").text(User.UserCreated)
                //('@UserResource.User_created_succeessfully');
                // "User profile created successfully"
                $(".alert-popup-body-message").show();                
                $("#btnok").bind("click", function () {
                    window.location = '../User/UserRegister';
                    $("#btnok").unbind("click");
                    closePopup();
                });


            }
            if ($('#UserSuccessMessage').text() == "FAIL") {
                $("#alertmessageid").text(User.UserCreationFail)
                    //('@UserResource.User_Creation_Fails');
                $(".alert-popup-body-message").show();
                $("#btnok").bind("click", function () {

                    $("#btnok").unbind("click");
                    closePopup();
                });
            }

            $('.wrapper').click(function () {
                if ($('#UserSuccessMessage').text() == "SUCCESS") {
                    isLeavewitoutSave = false;
                }
                $('#UserSuccessMessage').text("");
            });
        });
    </script>
