﻿@model Qualanex.QoskCloud.Entity.UserRegistrationRequest
@using UserResource = Qualanex.QoskCloud.Web.Resources.QoskCloudWebResource
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/jqx.base.css" rel="stylesheet" />
<script src="~/Scripts/jqx-all.js"></script>
<script>
    var isUserValidate = false;
    var isUserEmailValidate = false;
    var isformValid = false;
    var matchpassword = false;
    var isprofileUpdate = false;
    var isLeavewitoutSave = true;
    var urlName;
    $("#userProfileGroup").hide();
    $(".alert-popup-body").hide();
    $(document).ready(function () {

        if ($('#UserSuccessMessage').text() == "SUCCESS") {
            $("#alertmessageid").text('@UserResource.User_created_succeessfully');
           // "User profile created successfully"
            $(".alert-popup-body-message").show();
        }
        if ($('#UserSuccessMessage').text() == "FAIL") {
            $("#alertmessageid").text('@UserResource.User_Creation_Fails');
            $(".alert-popup-body-message").show();
        }
        //$(".alert-popup-body-message").hide();
        $("#btnok,.alert-close").click(function () {
            $(".alert-popup-body-message").hide();
            $(".alert-popup").animate({ "top": "40%" });
        })


        $('.wrapper').click(function () {
            if ($('#UserSuccessMessage').text() == "SUCCESS") {
                isLeavewitoutSave = false;
             }
            $('#UserSuccessMessage').text("");
        });
        $('.lot-icon').click(function (e) {
            urlName = $(this).attr('href');
            e.stopPropagation();
            e.preventDefault();
            if ($('#UserSuccessMessage').text() == "SUCCESS") {
                isLeavewitoutSave = false;
            }

            if (isLeavewitoutSave == true) {
                $(".alert-popup-body").show();
                $(".alert-popup").animate({ "top": "40%" });
            }
            else {
                window.location.href =  urlName;
            }

        });

        $(".alert-popup-body").hide();

        $(".alert-close, #btnAlertStay").click(function () {
            $(".alert-popup-body").hide();
            $(".alert-popup").animate({ "top": "40%" });
        })

        $('#btnAlertSave').click(function () {
            var test = UserRegistrationSave();
            $("#regform").submit();
            return true;

        });
        $('#btnAlertLeave').click(function () {
            isLeavewitoutSave = true;
            window.location.href =  urlName;
            return true;
        });

        $('#btnRegister').click(function () {
           UserRegistrationSave();

        });
        function UserRegistrationSave()
        {
            var isValidateform = false;
            var isPasswordValidate = true;
            $('#UserNamemsg').html("");
            $('#Emailmsg').html("");
            var userType= $('#ddType').val();
            var profileCode=$('#ProfileCode').val();
            var  userTypeID=$('#UserTypeCode').val();
            var  userName=$('#UserName').val();
            var  email=$('#Email').val();
            var password=$('#Password').val();
            var confirmPassword=$('#ConfirmPassword').val();
            var firstName = $('#FirstName').val();
            var lastName=$('#LastName').val();

            $(".alert-popup").animate({ "top": "40%" });
            var len = password.length;
            if (len < 1) {
                isPasswordValidate = false;

            }
            if (password != confirmPassword) {
                isPasswordValidate = false;

            }

            if (isUserValidate == true && isUserEmailValidate == true  ) {

                var selectedcheckedgroup = $('.grpdetails-slectedprofile-class:checked').map(function () {
                    return this.value;
                }).get();
               var selectedcheckedgroupProfile = $('.selecctgrpall:checked').map(function () {
                    return this.value;
                }).get();
                $('#SelectedgroupProfiles').val(selectedcheckedgroup.toString());
                $('#Selectedgroups').val(selectedcheckedgroupProfile.toString());
                isLeavewitoutSave = false;
                return true;
             }

            //if (isValidateform)
            //    return true
            //else
            //    return false;

        }
    });
    $(function () {

        $('#PhoneNumber').keypress(function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || keyCode == 219 || keyCode == 221 || keyCode == 45 || keyCode == 40 || keyCode == 41);
            return ret;
        });
    });
    $(function () {

        $('#FaxNumber').keypress(function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || keyCode == 219 || keyCode == 221 || keyCode == 45 || keyCode == 40 || keyCode == 41);
            return ret;
        });
    });

    $(function () {
        $('#UserName').blur(function (e) {
            if ($('#UserName').val() != "")
            {
                var url = '@Url.Content("~/User/ValidateUserName/")';
                $.post(url,
                    {
                        userName: $('#UserName').val()

                    }, function (result) {
                        if(result == "OK")
                        {
                            $('#UserName').css({
                                "border": ""
                            });
                            isUserValidate = true;
                            $('#UserNamemsg').html("");
                        }
                        else {
                            $('#UserName').css({
                                "border": "1px solid red"
                            });
                            $('#UserNamemsg').html("User Name already exists");
                            $('#UserName').val('');
                            isUserValidate = false;
                        }
                    });
                return false;

            }
            });

    });
    $(function () {
        $('#Email').blur(function (e) {
            if ($('#Email').val() != "") {
                var url = '@Url.Content("~/User/ValidateUserEmailAddress/")';
                $.post(url,
                    {
                        userEmail: $('#Email').val(),
                        pageName: "ValidEmail"
                    }, function (result) {
                        if (result == "OK") {
                            $('#Email').css({
                                "border": ""
                            });
                         $('#Emailmsg').html("");
                         isUserEmailValidate = true;
                        }
                        else {
                            $('#Email').css({
                                "border": "1px solid red"
                            });
                            $('#Emailmsg').html("Email already exists");
                            $('#Email').val('');
                            isUserEmailValidate = false;
                        }
                    });
                return false;
            }
        });
    });
</script>
@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select Profile Type", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    ProfileTypeDictionary.Add("Retail Pharmacy", "Retail Pharmacy");
    ProfileTypeDictionary.Add("Chain Pharmacy", "Chain Pharmacy");
    ProfileTypeDictionary.Add("ReverseDistributor", "ReverseDistributor");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Distribution Center", "Distribution Center");
    ProfileTypeDictionary.Add(" Qualanex Admin", "QualanexInternal");
    SelectList FillProfileList = new SelectList(ProfileTypeDictionary, "value", "key");
}
@{
    Dictionary<string, string> ProfileCodeDictionary = new Dictionary<string, string>();
    ProfileCodeDictionary.Add("Select Profile Name", "");
    SelectList FillProfileCodeList = new SelectList(ProfileCodeDictionary, "value", "key");
}

@{
    Dictionary<string, string> UserTypeCodeDictionary = new Dictionary<string, string>();
    UserTypeCodeDictionary.Add("Select User Type", "");
    SelectList FillUserTypeList = new SelectList(UserTypeCodeDictionary, "value", "key");
}
@{
    Dictionary<string, string> UserGroupTypeCodeDictionary = new Dictionary<string, string>();
    UserGroupTypeCodeDictionary.Add("Select Group Name", "");
    SelectList FillGroupTypeList = new SelectList(UserGroupTypeCodeDictionary, "value", "key");
}
@{
    Dictionary<string, string> UserRegionCodeDictionary = new Dictionary<string, string>();
    UserRegionCodeDictionary.Add("Select Region", "");
    SelectList FillRegionCodeList = new SelectList(UserRegionCodeDictionary, "value", "key");
}
<div class="main-container">
    <h2>Create User</h2>
    @Html.ValidationSummary()
    <div id="UserSuccessMessage">@ViewBag.UserSucessmessage</div>
    @using (Html.BeginForm("UserRegister", "User", FormMethod.Post, new { id = "regform" }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(model => model.SelectedgroupProfiles)
        @Html.HiddenFor(model => model.Selectedgroups)


        <div class="product-box clearfix">
            <h1>Register</h1>
            <div class="madatory_feild_message"><p><span>*</span> fields are mandotary.</p></div>
            <div class="col-md-4">

                <div class="input-ctrl">
                    <label>Profile Type<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.ddType, FillProfileList)

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Profile Name<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.ProfileCode, FillProfileCodeList, new { @disabled = "disabled" })

                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>User Type<span>*</span></label>
                    <div class="field">
                        @Html.DropDownListFor(model => model.UserTypeCode, FillUserTypeList, new { @disabled = "disabled" })


                    </div>
                </div>

            </div>
            <div class="clear"></div>

        </div>
        <div class="physician-box clearfix">
            <h1>Contact Infomation</h1>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>User Name<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.UserName, new { @maxlength = "20", @minlength = "4", @class = "textfield-input", @placeholder = "Enter User Name" })
                        <p id="UserNamemsg" class="error-msg"> </p>
                    </div>
                </div>

                <div class="input-ctrl">
                    <label>Password<span>*</span></label>
                    <div class="field">
                        @Html.PasswordFor(model => model.Password, new { @maxlength = "20", @class = "textfield-input", @placeholder = "Enter Password" })
                        <p id="UserNamemsg" class="error-msg"> @Html.ValidationMessageFor(model => model.Password)</p>
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Confirm Password<span>*</span></label>
                    <div class="field">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "textfield-input", @placeholder = "Enter Confirm Password" })
                        <p id="UserNamemsg" class="error-msg"> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Email Address<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.Email, new { @maxlength = "30", @minlength = "8", @class = "textfield-input", @placeholder = "Enter Email Address" })
                        <p id="Emailmsg" class="error-msg"></p>
                    </div>
                </div>

                <div class="input-ctrl">
                    <label>First Name<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = "25", @minlength = "2", @class = "textfield-input", @placeholder = "Enter First Name" })

                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Last Name<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = "25", @minlength = "2", @class = "textfield-input", @placeholder = "Enter Last Name" })

                    </div>
                </div>


            </div>

            <div class="col-md-4">



                <div class="input-ctrl">
                    @Html.LabelFor(model => model.PhoneNumber)
                    <div class="field">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "15", @class = "textfield-input", @placeholder = "Enter Phone Number" })

                    </div>
                </div>
                <div class="input-ctrl">
                    @Html.LabelFor(model => model.FaxNumber)
                    <div class="field">
                        @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "15", @class = "textfield-input", @placeholder = "Enter Fax Number" })

                    </div>
                </div>



            </div>

        </div>

        <div id="grpRegionDetails" class="physician-box clearfix">
            <h1>Group Profiles</h1>
            <div class="col-sm-5">
                <div class="textfield-item">
                    <label id="lblGroupName">  Select Group Names</label>
                    <div class="select-chk" id="group-check-list">
                    </div>
                </div>

            </div>
            <div class="col-sm-5">
                <div class="textfield-item">
                    <label id="lblRegion"> Select Regions </label>
                    <div class="select-chk" id="Region-group-check-list">

                    </div>

                </div>

                <div class="col-sm-2">
                    <div class="textfield-item-btn">
                        <button type="button" id="btnSearch" class="register-main-btn blue-btn" value="register">Search</button>
                    </div>
                </div>

            </div>
            @*<div class="custom-table">

                </div>*@
            @*<div id="profileGroup"  class="table-scroll">*@

            @*</div>*@
            <div id="profileGroup" @*class="table-scroll"*@>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                    <div id="jqxgrid">
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <div style="width:100%; text-align:center; margin:20px 0 0;">
            <button type="submit" id="btnRegister" class="register-main-btn blue-btn" value="register">Register</button>
            <input type="reset" value="Reset" id="userbtnReset" class="blue-btn">
        </div>

    }

    <div class="clear"></div>
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", "Index")
    </div>
    

</div>
@Html.Partial("AlertPopupView");
@Html.Partial("_LeavePageMessage");
<script>

    $(document).ready(function () {


        $("#userProfileGroup").hide();
        $("#RegionalUserGrp").hide();
        $("#grpRegionDetails").hide();
        $(".select-chk").on("click", "input[type='checkbox']", function () {
            var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
            if ($(this).attr('class') != 'selecctall') {
                $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
            } else {
                myCheckBox.prop("checked", this.checked);
            }
        });

        $('#userbtnReset').click(function () {
            $('#UserName').css({
                "border": ""
            });
            $('#Email').css({
                "border": ""
            });
            $('#UserNamemsg').html("");
            $('#Emailmsg').html("");
        });
        $('#btnSearch').click(function () {
            var selectedPCode = $('#ProfileCode').val();
            var checkedgroups = $('.groupcheckclass:checked').map(function () {
                return this.value;
            }).get();
            var checkedRegions = $('.regioncheckclass:checked').map(function () {
                return this.value;
            }).get();

            if (selectedPCode != "Select Profile Name") {

                var profileCode = $('#ProfileCode').val();
                var selectgrpID = checkedgroups.toString();
                var selectedRegionCode = checkedRegions.toString();
                var userID = '';
                GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID);

            }


        });

        function GenerateGrid(profileCode, selectgrpID, selectedRegionCode, userID) {
            var source = {

                datatype: "json",
                type: 'Get',
                url: '../User/GetUserGroupProfilesData',
                root: 'Rows',
                data: { 'profileCode': profileCode, 'selectgrpID': selectgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                //contentType: "application/json; charset=utf-8",
                filter: function () {
                    $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                },
                // update the grid and send a request to the server.
                sort: function () {
                    $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                },
                async: false,
                //root: 'Rows',
                beforeprocessing: function (data) {
                    source.totalrecords = data.TotalRows;
                }

            };
            var columnsmain = [
                     { text: 'ProfileName', datafield: 'ProfileName' },
             { text: 'GroupName', datafield: 'GroupName' },
             { text: 'GroupType', datafield: 'GroupType' }
            ]
            var adapter = new $.jqx.dataAdapter(source);
            var selectGRPProfileMain = {
                "text": "Select",
                "datafield": "Select",
                "width": "100",
                sortable: false,
                filterable: false,
                menu: false,
                "sortable": false,
                "cellsrenderer": function (row, column, value) {

                    var GroupProfile = adapter._source.data.ProfileCode;
                    if (GroupProfile) {
                        var html = "<label><input type=\"checkbox\" class=\"check-item1\"  data-id=" + GroupProfile + "  checked ><i></i></label>";
                        return html;
                    }
                    else {
                        var html = "<label><input type=\"checkbox\" class=\"check-item1\"  data-id=" + GroupProfile + " ><i></i></label>";
                        return html;
                    }

                }
            }
            columnsmain.push(selectGRPProfileMain);
            // create nested grid.
            var initrowdetails = function (index, parentElement, gridElement, record) {
                var id = record.uid.toString();
                var grid = $($(parentElement).children()[0]);

                // var testttt = json[index].groupDetail;
                var testttt = record.groupDetail;
                //console.log(testttt.groupDetails[index].GroupProfileCode);

                var innergrid = JSON.stringify(record.groupDetail);
                //  var innergrid = JSON.stringify(json[index].groupDetail);

                var selectedgrpID = record.ProfileGroupID;

                var nestedSource =
                 {

                     //  datatype: 'json',
                     //  root: 'groupDetails',
                     //  localdata: innergrid

                     datatype: "json",
                     type: 'Get',
                     url: '../User/UserGroupProfileDetails',
                     root: 'Rows',
                     data: { 'profileCode': profileCode, 'selectgrpID': selectedgrpID, 'selectedRegionCode': selectedRegionCode, 'userID': userID },
                     //contentType: "application/json; charset=utf-8",
                     filter: function () {
                         grid.jqxGrid('updatebounddata', 'filter');
                     },
                     // update the grid and send a request to the server.
                     sort: function () {
                         grid.jqxGrid('updatebounddata', 'sort');
                     },
                     async: false,
                     //root: 'Rows',
                     beforeprocessing: function (data) {
                         nestedSource.totalrecords = data.TotalRows;
                     }



                 };
                var nestedAdapter = new $.jqx.dataAdapter(nestedSource);
                var columnsnew = [
                                { text: 'Name', datafield: 'GroupProfileName' },
                                { text: 'City', datafield: 'City' },
                                { text: 'State', datafield: 'State' },
                                { text: 'Region', datafield: 'Region' }


                ]
                var selectGRPProfile = {
                    "text": "Select",
                    "datafield": "Select",
                    "width": "100",
                    sortable: false,
                    filterable: false,
                    menu: false,
                    "sortable": false,
                    "cellsrenderer": function (row, column, value) {
                        //var isGroupProfileSelected = nestedAdapter._source.localdata[row].Assigned;

                        var GroupProfile = testttt.groupDetails[row].GroupProfileCode;
                        // alert(JSON.stringify(dataAdapter));
                        var html = "<label><input type=\"checkbox\" class=\"check-item1\"  data-id=" + GroupProfile + " ><i></i></label>";
                        return html;

                    }
                }
                columnsnew.push(selectGRPProfile);

                if (grid != null) {
                    grid.jqxGrid({
                        source: nestedAdapter,
                        width: '97%',
                        height: 300,
                        filterable: true,
                        pageable: true,
                        sortable: true,
                        columnsreorder: true,
                        columnsresize: true,
                        ready: function () {
                            grid.jqxGrid('showrowdetails', 0);
                        },
                        virtualmode: true,
                        rendergridrows: function (obj) {
                            return obj.data;
                        },
                        columns: columnsnew,

                    });
                }

            }

            // creage jqxgrid
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                autoheight: true,
                filterable: true,
                pageable: true,
                sortable: true,
                columnsreorder: true,
                source: source,
                rowdetails: true,
                rowsheight: 35,
                initrowdetails: initrowdetails,
                rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 10px;'></div>", rowdetailsheight: 320, rowdetailshidden: true },
                ready: function () {
                    $("#jqxgrid").jqxGrid('showrowdetails', 0);
                },

                virtualmode: true,
                rendergridrows: function (obj) {
                    return obj.data;
                },
                columns: columnsmain
            });



        }

        $("#UserTypeCode").change(function () {
            var userType = $("#UserTypeCode").val()
            if (userType == 3 || userType == 1) {
                var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
                $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {

                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"groupcheckclass\" id=\"grp_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#group-check-list").html(html);
                        $("#grpRegionDetails").show();
                        $("#profileGroup").show();
                        $("#lblGroupName").show();
                    }
                    else {
                        $("#lblGroupName").hide();
                    }

                });
                var regionUrl = '@Url.Content("~/User/GetRegionCode/")';
                $.getJSON(regionUrl, { profileCode: $('#ProfileCode').val() }, function (data) {

                    if (data.length > 0) {
                        var html = "<ul class=\"chk-container\">";
                        html += "<li><label><input type=\"checkbox\" class=\"selecctall\" ><i></i>Select All</label></li>";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"regioncheckclass\" id=\"region_" + i + "\" value=\"" + item.RegionCode + "\" /><i></i>" + item.RegionName + "</label></li>"
                        });
                        html += "</ul>";
                        $("#Region-group-check-list").html(html);
                        $("#lblRegion").show();
                    }
                    else {
                        $("#lblRegion").hide();
                    }
                });

            }
            else {
                $("#grpRegionDetails").hide();
                $("#profileGroup").hide();
            }

        });

        $("#ddType").change(function () {
           
            var selectedType = $("#ddType").val();
            if (selectedType != "Select Profile Type" && selectedType != "") {
                $.ajax({
                    url: '@Url.Action("Profiles", "Profile")',
                    data: { ProfileType: $('#ddType').val() },
                    datatype: "json",
                    success: function (data) {
                        $("#ProfileCode").empty();
                        $("#ProfileCode").append("<option  value=''>Select Profile Name</option>");
                        $.each(data, function (index, optionData) {
                            $("#ProfileCode").append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
                        });
                        $.ajax({
                            url: '@Url.Action("GetUserTypes")',
                            data: { profileType: $('#ddType').val() },
                            datatype: "json",
                            success: function (data) {
                                $("#UserTypeCode").empty();
                                $("#UserTypeCode").append("<option  value='0'>Select User Type</option>");
                                $.each(data, function (index, optionData) {
                                    $("#UserTypeCode").append("<option value='" + optionData.UserTypeCode + "'>" + optionData.UserTypeName + "</option>");
                                });
                                $("#UserTypeCode").prop("disabled", false);
                            }, error: function (response) {
                                $("#UserTypeCode").empty();
                                // alert(response);
                                if (response.status != 0) {
                                    //   alert(response.status + " " + response.statusText);
                                }
                            }
                        });

                        $("#ProfileCode").prop("disabled", false);
                    }, error: function (response) {
                        $("#ProfileCode").empty();
                        // alert(response);
                        if (response.status != 0) {
                            //   alert(response.status + " " + response.statusText);
                        }
                    }
                });
            }
            else {
                $("#ProfileCode").empty();
                $("#ProfileCode").append("<option  value=''>Select Profile Name</option>");
                $("#UserTypeCode").empty();
                $("#UserTypeCode").append("<option  value='0'>Select User Type</option>");
                $("#UserTypeCode").prop("disabled", true);
                $("#ProfileCode").prop("disabled", true);
            }
        });

        $("#ProfileCode").change(function () {
            var url = '@Url.Content("~/User/GetGroupByProfileCodes/")';
            var ddlsource = "#ProfileCode";
            var ddltarget = "#ddGroupType";
            if ($("#ProfileCode").val() != "Select Profile Name") {
                $("#UserTypeCode").val("0");
                $("#grpRegionDetails").hide();
                $("#profileGroup").hide();
                $.ajaxSetup({ cache: false });
                $.getJSON(url, { profileCode: $('#ProfileCode').val() }, function (data) {
                    $(ddltarget).empty();
                    $("#ddGroupType").append("<option  value=''>Select Profile Name</option>");
                    $.each(data, function (index, optionData) {
                        $("#ddGroupType").append("<option value='" + optionData.ProfileGroupID + "'>" + optionData.GroupName + "</option>");
                    });
                    $("#ddGroupType").prop("disabled", false);
                });
            }
            else {
                $("#ddGroupType").empty();
                $("#ddGroupType").prop("disabled", true);
            }
        });
        $("#ddGroupType").change(function () {
            var up = $('#ddGroupType').val();
            if (up == '')
            { alert("Please select Group Name"); return false; }
            else
            {
                $.ajax({
                    url: '@Url.Action("GetProfilesGroup")',
                    data: { profileCode: $('#ddGroupType').val() },
                    success: function (data) {
                        $(".custom-table").html(data)
                    },
                    error: function (response) {
                        alert(response);
                        if (response.status != 0) {
                            alert(response.status + " " + response.statusText);
                        }
                    }
                });
            }
        });
    });
</script>
