﻿@model Qualanex.Qosk.Library.Model.DBModel.Qosk

@{
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

<h2>Qosk Station</h2>
<form id="qoskForm">
   <table style="width: auto">
      <tr>
         <td>Machine ID</td>
         <td>Serial Number</td>
         <td>Profile Code</td>
         <td>Location</td>
      </tr>
      <tr>
          <td>@Html.EditorFor(model => model.MachineID)</td>
          <td>@Html.EditorFor(model => model.SerialNumber)</td>
          <td>@Html.EditorFor(model => model.ProfileCode)</td>
          <td>
              @Html.DropDownListFor(model => model.LocationRoute, new SelectListItem[]
              {
                 new SelectListItem() {Value = "0", Text = "Floor, Ctrl 0", Selected = true},
                 new SelectListItem() {Value = "1", Text = "Floor - 1"},
                 new SelectListItem() {Value = "2", Text = "Vault - 2"},
                 new SelectListItem() {Value = "3", Text = "Cage - 3"},
                 new SelectListItem() {Value = "4", Text = "Cage - 4"},
                 new SelectListItem() {Value = "5", Text = "Cage - 5"},
                 new SelectListItem() {Value = "98", Text = "Island - 98"},
                 new SelectListItem() {Value = "99", Text = "Island - 99"},
                 new SelectListItem() {Value = "100", Text = "Unknown - 100"},
              })
          </td>
          <td>
              <input id="submit" type="button" value="Submit" />
          </td>
      </tr>
   </table>
   <span id="response"></span>
   <script>
      $.getJSON("https://localhost:8007/Qualanex/http/MachineName", {}, function (data) { $("#MachineID").val(data); });       
      $(document).on("click", "#submit",
         function()
         {
            var data = $("#qoskForm").serialize() + getAntiForgeryToken();
            $.post("/Sidebar/qoskstation/CreateQosk", data, function(result)
            {
               $("#response").html(result);
               console.log(result);
            });
         });
   </script>


</form>