﻿@model Qualanex.QoskCloud.Web.Common.ActionMenuModel

@if (!string.IsNullOrEmpty(Model.Name))
{
   <td class="actionTool actionMenu">
      <img class="actionIcon" title="@Model.Name" src="~/Images/Actionbar/ActionBar_Submenu.svg" alt="" />
      <div class="menuFrame">
         <div class="QoskBorder-LBR menuContent">
            <table>
               @foreach (var item in Model.Links)
               {
                  <tr class="menuItem" onclick="location.href = '@item.Url'">
                     <td class="menuPix"><img class="menuImg" src="~/Images/Menu/QMenu(0).svg" alt=""/></td>
                     <td class="menuLabel">@item.Name</td>
                  </tr>
               }
            </table>
         </div>
      </div>
   </td>
}
