﻿<div>
   <input id="FileUpload" name="file" type="file" multiple />
   <br />
   <input type="button" id="UpdloadButton" onclick="WrhsStagingUploadPendingBtnClick();" class="btn btn-primary" value="Upload" />
   <div id="WrhsStagingPendingAttachments" style="overflow: auto; height: 105px; background-color: white; border: 2px solid rgba(0, 0, 0, 0.3)"></div>
</div>