﻿@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using EntityFramework.Reflection
@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   var binventoryId = "Binventory_" + Guid.NewGuid();
   ViewBag.Id = ViewBag.Id;
   var properties = Model.Binventory.Options.RowProperty.GetType().GetProperties();
}
<div class="QoskSegment">
   <table>
      <tr>
         <td rowspan="2" class="QnexBorderL level0"></td>
         <td class="QnexHeader level0">
            @if (ViewBag.SegmentId != null && ViewBag.SegmentId != "")
            {
               @ViewBag.SegmentId
            }
            else
            {
               @:Binventory
            }
            <span style="background: #3A80BB; height: 100%" class="pull-right">
               <input type="submit" id="Reconcile_Close" value="Reconcile" style="margin-top:6px;margin-left:10px;display:@if (string.IsNullOrWhiteSpace(ViewBag.Reconcile)) { @:none
                      } else {@:inline-block
                      } " class="btnErrorMessage" />
            </span>
         </td>
         <td class="QnexIcon obscure"></td>
         <td rowspan="2" class="tdMarginR level0">
            <img class="imgEx" src="~/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png" />
            <img class="collapse-arrow" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" data-target="#trackingBody" />
         </td>
      </tr>
      <tr id="trackingBody">
         <td colspan="2" class="QnexContent level0">
            <div class="formMax" style="display: block;">
               <table class="tableEx">
                  <tr>
                     <td>
                        <table>
                           <tr class="formEx">
                              @foreach (var prop in properties)
                              {
                                 if (prop.Name == ViewBag.Id)
                                 {
                                    var displayNameAttribute = prop.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().SingleOrDefault();
                                    var displayName = displayNameAttribute == null ? prop.Name : displayNameAttribute.DisplayName;
                                    <td style="text-align:right">@displayName :</td>
                                    <td colspan="4">
                                       <input type="text" id="@ViewBag.Id" prevfocus="" nextfocus="" class="inputEx editable @if (ViewBag.Id == "ItemGUID") { @:scannerRequired
                                                                                                                             }" />
                                    </td>
                                 }
                              }
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        @if (Model.Binventory.Options.ReadOnlyProperties.Count > 0)
                        {
                           <table style="height:140px;top:0;margin:0px auto;width:85%" class="tableEx">

                              @for (var i = 0; i < Model.Binventory.Options.ReadOnlyProperties.Count; i++)
                              {
                                 if (i % 2 == 0
                                    || i == (Model.Binventory.Options.ReadOnlyProperties.Count - 1))
                                 {
                                    @:<tr>
                                    }
                                    var displayName = "";
                                    foreach (var prop in properties)
                                    {
                                       if (prop.Name == Model.Binventory.Options.ReadOnlyProperties[i])
                                       {
                                          var displayNameAttribute = prop.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().SingleOrDefault();
                                          displayName = displayNameAttribute == null ? prop.Name : displayNameAttribute.DisplayName;
                                          break;
                                       }
                                    }
                                    <td style="text-align:right;width:150px;">@(displayName == "" ? Model.Binventory.Options.ReadOnlyProperties[i] : displayName):&nbsp;&nbsp;</td>
                                    <td style="text-align:left;width:300px;"><label id="@Model.Binventory.Options.ReadOnlyProperties[i]"></label></td>
                                    if (i % 2 != 0 ||
                                        i == (Model.Binventory.Options.ReadOnlyProperties.Count - 1))
                                    {
                                       if (i == (Model.Binventory.Options.ReadOnlyProperties.Count - 1))
                                       {
                                          <td style="text-align:right;width:150px;">Item Count:&nbsp;&nbsp;</td>
                                          <td style="text-align:left;width:300px;"><label id="Items">@Model.Binventory.Options.ItemCount</label>&nbsp; of &nbsp;<label id="AllItems">@Model.Binventory.Options.AllItemsCount</label></td>
                                       }
                                       @:</tr>
                                 }
                              }
                           </table>
                        }
                     </td>
                  </tr>
                  <tr>
                     <td>
                        @* the reason for sending fields name with viewbag is because in previous implementation
                           we didn't have dataaccess for binventory and didn't define fields it could accepted
                           every applet's properties
                        *@
                        @* inbound container column name *@
                        <input type="hidden" id="InventoryInboundCntr" value="@ViewBag.ContainerIdNameI" />
                        @* outnbound container column name *@
                        <input type="hidden" id="InventoryOutboundCntr" value="@ViewBag.ContainerIdNameO" />
                        @* type of inbound container *@
                        <input type="hidden" id="InventoryType" value="@ViewBag.TypeName" />
                        @* key field for processing for example key field is ItemGUID in our applets *@
                        <input type="hidden" id="InventoryKey" value="@ViewBag.KeyName" />
                        @* category field name *@
                        <input type="hidden" id="InventoryCategory" value="@ViewBag.CategoryName" />
                        @Html.Partial("_BinventoryDetail", Model.Binventory)
                     </td>
                  </tr>
               </table>
            </div>
         </td>
   </table>
</div>
<script>
   $(document).ready(function ()
   {
      $("input").attr("autocomplete", "off");
   });
</script>