﻿@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using EntityFramework.Reflection
@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.ViewModels.BinventoryViewModel
@{
   var binventoryId = "Binventory_" + Guid.NewGuid();
   var properties = Model.Options.RowProperty.GetType().GetProperties();
}

<div id="@binventoryId">
   <table id="searchGrid_WrhsSrtDetails" class="display" cellspacing="0" style="width:95%;" @if (Model.DoNotAudit) { @: donotaudit="true"
          }>
      <thead>
         <tr class="collapse-in">
            @foreach (var prop in properties)
            {
               var displayNameAttribute = prop.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().SingleOrDefault();
               var displayName = displayNameAttribute == null ? prop.Name : displayNameAttribute.DisplayName;
               <th>@displayName</th>
            }
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model.Rows)
         {
            var rowId = Guid.NewGuid();
            <tr class="searchGrid_WrhsSrtDetails-div-click"
                name="SearchListItem"
                MgmtEntity-method="post"
                MgmtEntity-id="@rowId"
                data-ql-ajax="true"
                MgmtEntity-data="WrhsSrtDetail=@Json.Encode(item)"
                MgmtEntity-action=""
                MgmtEntity-target="#formMax">
               @foreach (var prop in properties)
               {
                  var displayValue = prop.GetValue(item);
                  var att = (DisplayFormatAttribute)prop.GetCustomAttributes(typeof(DisplayFormatAttribute), true).FirstOrDefault();
                  if (att != null)
                  {
                     displayValue = string.Format(att.DataFormatString, displayValue);
                  }

                  <td exchange="@prop.Name" exchange-value="@displayValue">
                     @displayValue
                  </td>
               }

            </tr>
         }
      </tbody>
   </table>
</div>
<script>
   $(document).ready(function()
   {
      @for (var i = 0; i < properties.Length && Model.Options.BaseProperties.Count > 0; i++)
      {
         if (!Model.Options.BaseProperties.Contains(properties[i].Name)
             || (Model.Options.HiddenProperties.Count > 0 && Model.Options.HiddenProperties.Contains(properties[i].Name)))
         {
            @:$('.searchGrid_WrhsSrtDetails-div-click').hideColumn(@(i + 1));
            @:$('.collapse-in').hideColumn(@(i + 1));
         }
      }

      window.dtHeaders("#searchGrid_WrhsSrtDetails", "max-height:360px,ordering: false", ["sorting"], []);
      $("#searchGrid_WrhsSrtDetails_filter").css("display", "none");
      $("#searchGrid_WrhsSrtDetails_filter .dataTables_scroll table.dataTable thead tr th").removeClass("sorting");
    });
   setInterval(function()
   {
      //id="Items">@Model.Options.ItemCount</label>&nbsp; of &nbsp;<label id="AllItems"
      if ($("label#Items") !== undefined)
      {
         $("label#Items").text($(".searchGrid_WrhsSrtDetails-div-click.done").length);
         $("label#AllItems").text($(".searchGrid_WrhsSrtDetails-div-click").length);
      }

   }, 100);
</script>