﻿@model Qualanex.QoskCloud.Entity.ColumnListEntity

@*@Scripts.Render("~/js/custom-grid.js")*@

@*<div class="model-popup">
    <div class="custom-search-box">*@
<div class="close-btn"><img src="~/images/close-btn.png"></div>
<h1>Custom Search</h1>
<div class="custom-search-area">
   <div class="custom-area-left">
      <select size="9" multiple="MULTIPLE" class='list1' ondrop="drop(event)" id="sel1" ondragover="allowDrop(event)">
         @for (int iCount = 0; iCount < Model.DefaultColumn.Count; iCount++)
         {

            <option value="@Model.DefaultColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.DefaultColumn[iCount].DisplayText</option>
         }
         @*<option draggable="true" ondragstart="drag(event)" id="drag1">Product ID</option>*@
      </select>
   </div>
   <div class="custom-area-btn">
      <input type="button" class="left-btn" id='move_right'>
      <input type="button" class="right-btn" id='move_left'>
   </div>
   <div class="custom-area-right">
      <select size="9" multiple="MULTIPLE" class='list2' id="sel2" ondrop="drop(event)" ondragover="allowDrop(event)">
         @if (Model.SubscribedColumn != null)
         {
            for (int iCount = 0; iCount < Model.SubscribedColumn.Count; iCount++)
            {
               if (Model.SubscribedColumn[iCount].ColumnName != "NDC" && Model.SubscribedColumn[iCount].ColumnName != "UPC" && Model.SubscribedColumn[iCount].ColumnName != "NDCUPCWithDashes" && Model.SubscribedColumn[iCount].IsSearchPanelDefault != true)
               {
                  <option data-moveable="@Convert.ToString(@Model.SubscribedColumn[iCount].IsSearchPanelDefault).ToLower()" value="@Model.SubscribedColumn[iCount].ColumnId" draggable="true" ondragstart="drag(event)" id="drag2">@Model.SubscribedColumn[iCount].DisplayText</option>
               }
            }
         }


      </select>
   </div>
</div>
<div class="custom-search-btn">
   <input id="btnSubmit" type="button" value="Save" onclick="GetLeftPanelList();">
   <input type="button" value="Cancel" class="cancel">
</div>
@*</div>
    </div>*@


