﻿@model Qualanex.QoskCloud.Entity.MLGroup
<script>
    $(document).ready(function () {
        $('#ProfileType').change(function () {
            var url = '@Url.Content("~/Profile/Profiles/")';
            var ddlsource = "#ProfileType";
            var ddltarget = "#ProfileName";
            if ($('#ProfileType').val() != "Select Profile Type") {
                $.ajaxSetup({ cache: false });
                $.getJSON(url, { ProfileType: $('#ProfileType').val() }, function (data) {
                    $(ddltarget).empty();
                    $("#ProfileName").append("<option  value=''>Select Name</option>");
                    $.each(data, function (index, optionData) {
                        $('#ProfileName').append("<option value='" + optionData.ProfileCode + "'>" + optionData.Name + "</option>");
                    });
                    $('#ProfileName').prop("disabled", false);
                });
            }
            else {
                $('#ProfileName').empty();
                $('#ProfileName').prop("disabled", true);
            }
        });

        $(function () {
            $('#btnSave').click(function () {
                var groupName = $('#UserGroupName').val();
                alert(groupName);
                if (groupName == '' && $('#ProfileName').val() == '' && $('#GroupType').val() == '')
                { alert("Please select Profile Name,Group Type and Group Name"); return false; }
                else
                {
                    var url = '@Url.Content("~/Profile/CreateGroup/")';
                    $.post(url,
                        {
                            groupName: groupName,
                            userProfileCode: $('#ProfileName').val(),
                            grpType:$('#GroupType').val()

                        }, function (result) {
                            $(".model-popup").hide();
                            $(".model-box").animate({ "top": "-100%" });
                            return true;

                        });
                }
                return false;
            });
        });
    });
</script>
@{
    Dictionary<string, string> ProfileTypeDictionary = new Dictionary<string, string>();
    ProfileTypeDictionary.Add("Select Profile Type", "");
    ProfileTypeDictionary.Add("Manufacturer", "Manufacturer");
    ProfileTypeDictionary.Add("Repackager", "Repackager");
    ProfileTypeDictionary.Add("Retail Pharmacy", "Retail Pharmacy");
    ProfileTypeDictionary.Add("Wholesaler", "Wholesaler");
    ProfileTypeDictionary.Add("Chain Pharmacy", "Chain Pharmacy");
    SelectList FillProfileTypeDictionary = new SelectList(ProfileTypeDictionary, "value", "key");
    }
@{
    Dictionary<string, string> ProfileDictionary = new Dictionary<string, string>();
    ProfileDictionary.Add("Select Profile Name", "");
    SelectList FillProfileDictionary = new SelectList(ProfileDictionary, "value", "key");
}
@{
    Dictionary<string, string> GroupTypeDictionary = new Dictionary<string, string>();
    GroupTypeDictionary.Add("Select Group Type", "");
    GroupTypeDictionary.Add("Manufacture Group", "MAN-GRP");
    GroupTypeDictionary.Add("Wholesaler Group", "WHL-GRP");
    SelectList FillGroupTypeDictionary = new SelectList(GroupTypeDictionary, "value", "key");
}
   
     @Html.ValidationSummary(true)
      <div class="product-box clearfix">
            <h1>
                Create Group 
                <input type="submit" id="btnSave" class="editbutton blue-btn" value="Create" />
            </h1>
              <div id="lotNumberInfo" style="margin-right:50px;margin-top:10px;">
                  <div class="input-ctrl">
                      @Html.Label("Profile Type")
                      <div class="field">
                          @Html.DropDownList("ProfileType", FillProfileTypeDictionary)
                       </div>
                  </div>

                  <div class="input-ctrl">
                      @Html.Label("Select Profile Name")
                      <div class="field">
                          @Html.DropDownList("ProfileName", FillProfileDictionary)
                          @Html.ValidationMessageFor(model => model.GroupName)
                      </div>
                  </div>

                
                <div class="input-ctrl">
                   @Html.LabelFor(model => model.GroupType)
                    <div class="field">
                        @Html.DropDownListFor(model => model.GroupType, FillGroupTypeDictionary)
                        @Html.ValidationMessageFor(model => model.GroupType)
                    </div>
                </div>
                  <div class="input-ctrl">
                      
                      @Html.LabelFor(model => model.GroupName)
                      <div class="field">
                          @Html.TextBox("UserGroupName") 
                          @Html.ValidationMessageFor(model => model.GroupName)
                      </div>
                  </div>
                        
            </div>
        </div>




