﻿@model Qualanex.QoskCloud.Entity.LotNumberViewModel
@{


}
<script>
    var LotTag;
    $().ready(function () {

        LotTag =  $('#LotNumbersData_LotNumber').tagsInput({
            //'autocomplete': { option: value, option: value},
            'height': '30px',
            'width': '100%',
            //'interactive': true,
            'defaultText': 'Lot Number',
            'onAddTag': AddLotNumbersData_LotNumber,

            //'onRemoveTag':callback_function,
            //'onChange' : callback_function,
            //'delimiter': [',',';'],   // Or a string with a single delimiter. Ex: ';'
            'removeWithBackspace': true,
            'minChars': 0,
            'maxChars': 0, // if not provided there is no limit
            'placeholderColor': '#666666'
        });
        $('div.tagsinput input').attr("maxlength", 12);
        function AddLotNumbersData_LotNumber(tag) {
            $.ajax({
                type: 'Get',
                url: '/Product/CheckExistanceofLotNumber',
                data: { productId: prodID, lotNumber: tag },
                async: false,
                success: function (data) {

                    if (data.data == 1) {

                        LotTag.removeTag(tag);
                        $('div.tagsinput input').addClass('not_valid');
                        $('div.tagsinput input').val(tag);

                        //$('#' + tag).focus();
                        //$('#LotNumbersData_LotNumber_tag').validationEngine('showPrompt', 'Lot number already Exist for this product.', 'error', true)

                    }
                    else {
                    }
                }
            });
        }

       
        



    });
    

</script>




@using (Html.BeginForm("Create", "LotNumber", FormMethod.Post, new { @id = "createlotfrm" }))
{
    <div class="product-box clearfix">
        <h1>
            Create Lot Number
        </h1>
        <div class="madatory_feild_message"><p><span>*</span> fields are mandatory.</p></div>
        <span id="LotSuccessMessage" class="error-red"></span>
        <div id="lotNumberInfo">

            <div class="col-lg-4 col-md-6 ">
                <span class="info"><a href="#"><img src="~/images/info.png" /></a>
                    <div class="info-content">
                        <div class="info-arrow"><img src="~/images/info-arrow.png" /></div>
                        Press Enter to add multiple Lots at a time.
                    </div>
                </span>
                    <div class="input-ctrl">
                        <label for="LotNumbersData_LotNumber">Lot Number<span>*</span></label>
                        <div class="field">
                            @Html.TextBoxFor(model => model.LotNumbersData.LotNumber, new { @class = "", @maxlength = "20", @placeholder = "Enter Lot Number", @id = "LotNumbersData_LotNumber" })
                        </div>
                    </div>
</div>
          
                <div class="col-lg-4 col-md-6 ">

                    <div class="input-ctrl">
                        @Html.LabelFor(model => model.LotNumbersData.ExpirationDate)
                        <div class="field">
                            @Html.TextBoxFor(model => model.LotNumbersData.ExpirationDate, new { @placeholder = "Select Expiration Date", @class = "datePicker", @readonly = "readonly" })
                            <button type="button" class="calender-icon-date"></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="input-ctrl">
                        @Html.LabelFor(model => model.LotNumbersData.ReturnAllowed)
                        <div class="field">
                            <select id="LotNumbersData_ReturnAllowed" name="LotNumbersData.ReturnAllowed">
                                <option value="true" selected>Yes</option>
                                <option value="false">No</option>
                            </select>


                        </div>
                    </div>
                </div>
              
            <div class="col-lg-4 col-md-6 ">
                <div class="input-ctrl">
                    <div class="radio-label" style="width:40%;">
                    
                    </div>
                    <div class="field">
                           
                        @Html.RadioButtonFor(model => model.ProductDetails.ProfileTypeName, "Manufacturer", new { id = "rbManufacturer", @class = "AddProfileTypeName", @onclick = "swapdropdown('#ddlManufacturerList','#ddlRepackagerList')" })
                        @Html.Label("rbManufacturer", "Manufacturer", new { @class = "css-label radGroup1 radGroup1" })

                        @Html.RadioButtonFor(model => model.ProductDetails.ProfileTypeName, "Repackager", new { id = "rbRepackager", @class = "AddProfileTypeName", @onclick = "swapdropdown('#ddlRepackagerList','#ddlManufacturerList')" })
                        @Html.Label("rbRepackager", "Repackager", new { @class = "css-label radGroup1 radGroup1" })
                      
                      
                        </div>
                    </div>
                </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="input-ctrl">
                    <label>Profile Name</label>
                    
                    @if (Model.ProductDetails.ProfileTypeName == "Manufacturer")
                    {
                        @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.ProductDetails.lstManufacturer.AsEnumerable(), "ProfileCode", "Name"), new { @id = "ddlManufacturerList" }) 
                        @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.RepackagerProfileList.AsEnumerable(), "Value", "Text"), new { @id = "ddlRepackagerList", @style = "display:none;" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.ProductDetails.lstManufacturer.AsEnumerable(), "ProfileCode", "Name"), new { @id = "ddlManufacturerList", @style = "display:none;" })
                        @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.RepackagerProfileList.AsEnumerable(), "Value", "Text"), new { @id = "ddlRepackagerList" })
                    }
                </div>
            </div>
            
                <div class="col-lg-4 col-md-6 ">
                    <div style="width:100%; text-align:right; margin:0px -5px 0px">
                        <button type="button" id="LotNumberSaveId" class="editbutton blue-btn UserAdminSave">Save</button>
                        <input type="reset" id="LotNumberReset" value="Reset" class="blue-btn">
                    </div>
                </div>
                @*</div>*@

                <div class="full-screen-clear"></div>



            </div>
    </div>

}



<script>
    $().ready(function () {

        $('#LotNumbersData_ExpirationDate').datepicker({
            changeMonth: true,
            changeYear: true
        });

        $('#LotNumberReset').click(function () {
            
            LotTag.importTags('');
        });
        $('#LotNumberSaveId').click(function (e) {

            //validate fields
            if (LotTag.val().length == 0) {
                $('.tagsinput').validationEngine('showPrompt', 'Please Enter Lot number.', 'error', true)
                return false;
            }
            else {

                var LotNumbersData_ReturnAllowed = false;

                if ($("#LotNumbersData_ReturnAllowed").val() == 'true') {
                    LotNumbersData_ReturnAllowed = true;
                }
                
                var objAddLotNumber =
                {
                    ProductID: prodID,
                    LotNumber: LotTag.val(),
                    ExpirationDate: $("#LotNumbersData_ExpirationDate").val(),
                    DiverseManufactureProfileCode: null,
                    RepackagerProfileCode: null,
                    ReturnAllowed: LotNumbersData_ReturnAllowed,
                    OperationType: 'create',
                    DivestProductID: null,
                };
               
                if ($('input.AddProfileTypeName:checked').val() == "Manufacturer") {
                    if ($("#ddlManufacturerList")[0].selectedIndex != 0) {
                        objAddLotNumber.DiverseManufactureProfileCode = parseInt($("#ddlManufacturerList").val());
                        objAddLotNumber.DivestProductID = divestprodID;
                    }
                }
                else {
                    objAddLotNumber.RepackagerProfileCode = parseInt($("#ddlRepackagerList").val());
                }

                var resultstatus = SendAjax('../Product/Create', objAddLotNumber)
                if (resultstatus.Result = "Saved Successfully") {
                    $("#jQxLotNumbers").jqxGrid('updatebounddata');
                    $("#LoadEditLotNumberPartialView").hide();
                    $(".alert-popup-body-message").show();
                    $("#alertmessageid").html(resultstatus.Result);

                    CreateLotNumberPartial();
                }


                return false;
            }


        });

        $(".custom-checkbox input[type='checkbox']").after("<i></i>");
    })


</script>


