﻿
    <div class="model-box custom-search-box">
        <div class="close-btn"><img src="images/close-btn.png"></div>
        <h1>Custom Search</h1>
        <div class="custom-search-area">
            <div class="custom-area-left">
                <ul class='list1'>
                    <li>Product ID</li>
                    <li>Rollup Product ID</li>
                    <li>Profile Code</li>
                    <li>Description</li>
                    <li>MFG Labeler Code</li>
                    <li>Product Start Date</li>
                    <li>Product End Date</li>
                    <li>NDC</li>
                    <li>NDC With Dashes</li>
                    <li>UPC</li>
                    <li>MFG Product Number</li>
                    <li>Physician Sample</li>
                    <li>Physician Sample Product Number</li>
                    <li>Package Size</li>
                    <li>Units Per Package</li>
                    <li>Case Size</li>
                    <li>Unit Of Measure</li>
                    <li>Dosage Code</li>
                    <li>Control Number</li>
                    <li>Individual Count Weight</li>
                    <li>Container Weight</li>
                    <li>Full Container Weight With Contents</li>
                </ul>
            </div>
            <div class="custom-area-btn">
                <input type="button" class="left-btn" id='move_right'>
                <input type="button" class="right-btn" id='move_left'>
            </div>
            <div class="custom-area-right">
                <ul class='list2'></ul>
            </div>
        </div>
        <div class="custom-search-btn">
            <input type="button" value="Save">
            <input type="button" value="Cancel">
        </div>
    </div>
