﻿@model Qualanex.QoskCloud.Entity.DiverseLotNumbersDetails
@using System.Web.Mvc
@{
    ViewBag.Title = "ViewDiverseLotNumberHistory1";
    JsonResult result = new JsonResult();
    result.Data = Model.OriginalManufactureLotNumbers.LotNumbersList;
    result.JsonRequestBehavior = JsonRequestBehavior.AllowGet;
    ViewBag.Title1 = result;
    JsonResult result2 = new JsonResult();
    result2.Data = Model.DiverseManufactureLotNumbers.LotNumbersList;
    result2.JsonRequestBehavior = JsonRequestBehavior.AllowGet;
    ViewBag.Title2 = result2;
   
}
<script>
    $(function () {
        var jsonOriginaldata = '@ViewBag.Title1';
      var tt=  this.Model;
        GenerateOriginalGrid(jsonOriginaldata);
        var jsonOwnOwnershipdata = '@ViewBag.Title2';
       
        GenerateOwnOwnershipGrid(jsonOwnOwnershipdata);
        return false;
    });
    //
    function GenerateOriginalGrid(jsonOriginaldata) {
        //   var rows = json.Grouprows;
        alert(jsonOriginaldata);
        var rows = jsonOriginaldata;
        var selectGRPProfile = {
            "text": "<label><input type=\"checkbox\" class=\"selecctall\" id=\"SelectAllProfileGRP\"><i></i></label>",
            "datafield": "Select",
            "width": "100",
            "cellsrenderer": function (row, column, value) {
                var isDiverselotSelected = dataAdapter._source.localdata[row].IsDiverseLotNumber;
                var lotID = dataAdapter._source.localdata[row].LotID;

                // alert(JSON.stringify(dataAdapter));
                if (value.indexOf('#') != -1) {
                    value = value.substring(0, value.indexOf('#'));
                }
                value = $.trim(value);
                if (isGroupProfileSelected == true) {
                    var html = "<label><input type=\"checkbox\" class=\"check-item1\" checked=\"checked\" id=\"GRPPRF-Profile\" data-id=" + GroupProfile + " ><i></i></label>";
                    return html;
                }
                else {
                    var html = "<label><input type=\"checkbox\" class=\"check-item1\" id=\"GRPPRF-Profile\" data-id=" + GroupProfile + "><i></i></label>";
                    return html;
                }
            }
        }

        // prepare the data
        var columns = [
               { text: 'Description', editable: false, datafield: 'Description' },
               { text: 'NDC', editable: false, datafield: 'NDC' },
               { text: 'Lot Number', editable: false, datafield: 'LotNumber' }
        ]
        columns.push(selectGRPProfile);
        var source =
        {
            datatype: "json",
            id: 'id',
            localdata: rows
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxOriginalgrid").jqxGrid(
        {
            width: '100%',
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            source: dataAdapter,
            //theme: theme,
            columnsresize: true,
            columns: columns

        });
        // initialize the popup window and buttons.
    }
    function GenerateOwnOwnershipGrid(jsonOwnOwnershipdata) {
        //   var rows = json.Grouprows;
        var rows = jsonOwnOwnershipdata;
        alert(jsonOwnOwnershipdata);
        // prepare the data
        var columns = [
               { text: 'Profile Name', editable: false, datafield: 'ProfileName' },
               { text: 'NDC', editable: false, datafield: 'NDC' },
               { text: 'Lot Number', editable: false, datafield: 'LotNumber' },
               { text: 'Description', editable: false, datafield: 'Description' }
        ]

        var source =
        {
            datatype: "json",
            id: 'id',
            localdata: rows
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxOwneshipgrid").jqxGrid(
        {
            width: '100%',
            sortable: true,
            filterable: true,
            pageable: true,
            columnsreorder: true,
            source: dataAdapter,
            //theme: theme,
            columnsresize: true,
            columns: columns

        });
        // initialize the popup window and buttons.
    }
 $(document).ready(function () {
     $(".close-btn").click(function () { $(".alert-popup-body").hide(); });
        $(function () {
            $('#save').click(function () {
              
                var prdID = $("#divestedprdid").val();

                var updatestatus = $('#updatestatus').val();
                var values = new Array();
                $('#originalLotNumber table').find('input[type="checkbox"]:checked').each(function () {
                    //alert("item clicked, id = " + $(this).attr("data-id"));
                    values.push($(this).attr("data-id"));
                });
                var diveLotID = values.join(", ")
                
                var diverseProfileCode = $('#DivestedProfileCode').val();
             

                if (diverseProfileCode == '' || values.length==0)
                { alert("Please select lot number and manufacture name for change ownership"); return false; }
                else
                {
                   

                    $.ajax({
                        type:'POST',
                        url: "../LotNumber/ChangedDiverseLotNumber",
                        data: { ProfileCode: diverseProfileCode, LotIDS: diveLotID, ProductID: prdID, updatestatus: updatestatus },
                        success: function (data) {
                          
                        },
                        error: function (response) {
                            alert(response);
                            if (response.status != 0) {
                                alert(response.status + " " + response.statusText);
                            }
                        }
                    });

                }
                return false;
            });
        });
    });
</script>
 @using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="product-list">
        <h1>Divested By Lot Number</h1>
        @if (Model.OriginalManufactureLotNumbers != null)
        {
            <div class="edit-option">
                <div class="edit-option-left">
                    @if (Model.OriginalManufactureLotNumbers != null && Model.OriginalManufactureLotNumbers.ProfileCode != -1)
                    {
                        <div style="width:100%;">
                            <div>
                                @if(TempData["Manufacture"]!=null && Model.DivestedProfileCode!=null && Model.DivestedProfileCode!=0)
                                { 
                                @Html.DropDownListFor(model => model.DivestedProfileCode, (IEnumerable<SelectListItem>)TempData["Manufacture"], "Select Manufacturer for Divested Product ", new { @class = "productdesupdate formAddValidation Imageuploadclass",@disabled="disabled" })
                                TempData.Keep("Manufacture");
                                @Html.Hidden("updatestatus",false);
                                }
                                else if (TempData["Manufacture"] != null && (Model.DivestedProfileCode == null || Model.DivestedProfileCode == 0))
                                {
                                    
                                   @Html.DropDownListFor(model => model.DivestedProfileCode, (IEnumerable<SelectListItem>)TempData["Manufacture"], "Select Manufacturer for Divested Product ", new { @class = "productdesupdate formAddValidation Imageuploadclass" })
                                    @Html.Hidden("updatestatus", true);
                                    TempData.Keep("Manufacture");
                                }
                             </div>

                            <h1>Original Manufacture: @Model.OriginalManufactureLotNumbers.Name</h1>
                            <label> @Html.HiddenFor(m => Model.OriginalManufactureLotNumbers.ProfileCode)</label>
                            <label> @Html.HiddenFor(m => Model.OriginalManufactureLotNumbers.ProductID, new { @id="divestedprdid"})</label>
                        </div>

                        <div style="width: 100%;text-align:left;" id="originalLotNumber" class="custom-table">
                            <div id='jqxOriginalWidget'>
                                <div id="jqxOriginalgrid">
                                </div>
                            </div>


                        </div>
                    }
                    else
                    {
                        <div style="width:100%; height:50Px;">
                            <label> No Original Lot</label>

                        </div>
                    }
                    <div class="edit-option-btn">
                       
                            <input type="button" id="save" class="custom-blue-btn" value="Change Ownership">
                            <input type="reset" class="custom-blue-btn" value="Reset">
                     
                    </div>
                </div>
                <div class="edit-option-right">
                    @if (Model.DiverseManufactureLotNumbers != null && Model.DiverseManufactureLotNumbers.ProfileCode != -1)
                    {
                        <div style="width: 100%;">
                         <div>
                                <div>
                                    @*@Html.DropDownListFor(model => model.DivestedProfileCode, (IEnumerable<SelectListItem>)Session["Manufacture"], "Select Manufacturer", new { @class = "productdesupdate formAddValidation Imageuploadclass" })*@
                                </div>
                            </div>
                            <h1>Divested Manufacture: @Model.DiverseManufactureLotNumbers.Name</h1>
                            <label> @Html.HiddenFor(m => Model.DiverseManufactureLotNumbers.ProfileCode, new { id = "DiverseManProfileCode" })</label>
                        </div>
                        <div style="width: 100%; text-align:left;" class="custom-table">
                            <div id='jqxOwneshipWidget'>
                                <div id="jqxOwneshipgrid">
                                </div>
                            </div>
           

                        </div>
                    }
                    else
                    {
                        <div style="width:100%; height:50Px;">
                            <label> No Divested Lot Number exist.</label>

                        </div>
                    }

                </div>

            </div>
        }
    </div>

}




