﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy

@{

    Dictionary<string, bool> ProductExpiresWithinStartandEnd = new Dictionary<string, bool>();
    ProductExpiresWithinStartandEnd.Add("First Day of Month", true);
    ProductExpiresWithinStartandEnd.Add("Last Day of Month", false);
}


@{
    Dictionary<string, string> PolicyDict = new Dictionary<string, string>();
    PolicyDict.Add("Published Policy", "Published");
    PolicyDict.Add("Custom Policy", "Custom");
}


@{
    Dictionary<string, string> AuthorizeforCreditConsiderationdict = new Dictionary<string, string>();
    AuthorizeforCreditConsiderationdict.Add("All Accounts", "All Accounts");
    AuthorizeforCreditConsiderationdict.Add("No Accounts", "No Accounts");
    AuthorizeforCreditConsiderationdict.Add("Direct Accounts Only", "Direct Accounts Only");
}


@{
    Dictionary<string, string> NDCInnerPackRule = new Dictionary<string, string>();
    NDCInnerPackRule.Add("No Policy Change", "No Policy Change");
    NDCInnerPackRule.Add("Always Process as Opened", "Always Process as Opened");
    NDCInnerPackRule.Add("Always Non-Creditable", "Always Non-Creditable");


}
@{
    Dictionary<string, Byte> MWRPddlolicyType = new Dictionary<string, Byte>();
    MWRPddlolicyType.Add("Policy specific to a customer for an NDC", 1);
    MWRPddlolicyType.Add("Policy specific to a customer for all Items", 2);
    MWRPddlolicyType.Add("Policy specific to an NDC and Lot Number", 3);
    MWRPddlolicyType.Add("Policy specific to an NDC", 4);
}
@{
    Dictionary<string, Byte> MWRPddlolicyTypepublished = new Dictionary<string, Byte>();
    MWRPddlolicyTypepublished.Add("Main Published Policy(applies to everyone by default)", 6);
}

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#qu-tab11">Returnable Product Rules</a></li>
                <li class='tab'><a href="#qu-tab12" class="disable-click">Pricing Rules</a></li>
                <li class='tab'><a href="#qu-tab13" class="disable-click">Event Rules</a></li>
            </ul>
            
                <div class="add-btn del_btn">
                    <input type="button" name="PolicyDelete" class="editbutton blue-btn elmhide UserAdminDelete" id="btnPolicydelete" style="right:0" value="Delete">
                </div>
            <div class='panel-container'>
                <div id="qu-tab11">
                    <div class="physician-box clearfix">

                        <div id="productdiv">
                            <div class="col-lg-6 col-md-12 new_policy">

                                <div class="input-ctrl">
                                    <label>Policy Start Date</label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.PolicyStartDate)
                                    </div>
                                </div>


                                <div class="input-ctrl">
                                    <label>Expiration Return Period Starts</label>
                                    <div class="field">


                                        @Html.DropDownListFor(model => model.ExpiresOnFirstOfCurrentMonth, new SelectList(ProductExpiresWithinStartandEnd, "Value", "Key", ""), "Select")


                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>Number of Months Accepted After Expiration Date </label>
                                    <div class="field">
                                        @Html.TextBoxFor(model => model.NumberOfMonthsAfterExpirationReturnable, new { @onkeyup = "NumericOnly(this);" })
                                    </div>
                                </div>
                                <div class="input-ctrl">
                                    <label>NDC Inner Pack Rule</label>
                                    <div class="field">
                                        @Html.DropDownListFor(model => model.InnerPack, new SelectList(NDCInnerPackRule, "Value", "Key", ""), "Select")


                                    </div>
                                </div>

                                <div class="input-ctrl">
                                    <label>Is Credit Issued for Open Containers (No seal exists, but Quantity Equals Original Package Size)? </label>
                                    <div class="field">

                                        @Html.RadioButtonFor(model => model.BrokenSealReturnable, true, new { @id = "BrokenSealReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableYes" })
                                        @if (Model.BrokenSealReturnable ?? false)
                                        {
                                            @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })
                                            
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.BrokenSealReturnable, false, new { @id = "BrokenSealReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "BrokenSealReturnableNo" })

                                                    }


                                            


                                        </div>
                                    </div>
                                    <div class="input-ctrl">
                                        <label>Is Credit Issued for Prescription Vials?</label>
                                        <div class="field">

                                            @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, true, new { @id = "PrescriptionVialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableYes" })
                                            @if (Model.PrescriptionVialsReturnable)
                                            {

                                                @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })
                                                
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.PrescriptionVialsReturnable, false, new { @id = "PrescriptionVialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PrescriptionVialsReturnableNo" })

                                                    }
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 new_policy">
                                        <div class="input-ctrl">
                                            <label>Policy End Date</label>
                                            <div class="field">
                                                @Html.TextBoxFor(model => model.PolicyEndDate)
                                            </div>
                                        </div>

                                        <div class="input-ctrl">
                                            <label>Number of Months Accepted with Shelf Life Remaining (Sealed Product)</label>
                                            <div class="field">
                                                @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableSealed, new { @onkeyup = "NumericOnly(this);" })
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Number of Months Accepted with Shelf Life Remaining (Opened Product)</label>
                                            <div class="field">
                                                @Html.TextBoxFor(model => model.NumberOfMonthsBeforeExpirationReturnableOpened, new { @onkeyup = "NumericOnly(this);" })
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Form 41's are Acceptable for Credit in place of the Product </label>
                                            <div class="field">



                                                @Html.RadioButtonFor(model => model.Form41Allowed, true, new { @id = "Form41AllowedYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedYes" })

                                                @if (Model.Form41Allowed)
                                                {
                                                    @Html.RadioButtonFor(model => model.Form41Allowed, false, new { @id = "Form41AllowedNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedNo" })
                                                    
                                                    }
                                                    else
                                                    {
                                                      @Html.RadioButtonFor(model => model.Form41Allowed, false, new { @id = "Form41AllowedNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "Form41AllowedNo" })


                                                    }

                                                    

                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Is Credit Issued for Repackagers Containers (i.e. RxPak, National PharmPak, etc.)?</label>
                                                <div class="field">


                                                    <input type="radio" value="True" name="repackagerscontainers" id="repackagerscontainersyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                                    <label for="repackagerscontainersyes" class="css-label radGroup1 radGroup1">Yes</label>

                                                    <input type="radio" value="False" name="repackagerscontainers" id="repackagerscontainersno" checked="checked">
                                                    <label for="repackagerscontainersno" class="css-label radGroup1 radGroup1">No</label>
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Is Credit Issued for Repackaged Containers (Customer Packaging into Unit Dose Form)?</label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, true, new { @id = "RepackagedIntoUnitDoseReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableYes" })

                                                    @if (Model.RepackagedIntoUnitDoseReturnable)
                                                    {
                                                        @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.RepackagedIntoUnitDoseReturnable, false, new { @id = "RepackagedIntoUnitDoseReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "RepackagedIntoUnitDoseReturnableNo" })

                                                    }

                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Is Credit Issued for Product that is Missing the Lot Number or Expiration Date? </label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, true, new { @id = "MissingLotNumberorExpDateNotReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableYes" })
                                                    @if (Model.MissingLotNumberorExpDateNotReturnable)
                                                    {

                                                        @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.MissingLotNumberorExpDateNotReturnable, false, new { @id = "MissingLotNumberorExpDateNotReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotNumberorExpDateNotReturnableNo" })
                                                    }
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Is Credit Issued for Partial Containers (Less Than Original Package Size)? </label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.PartialsReturnable, true, new { @id = "PartialsReturnableYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYes" })
                                                    @Html.RadioButtonFor(model => model.PartialsReturnable, false, new { @id = "PartialsReturnableNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "MissingLotExpirationYesNo" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:center">
                                    <input type="button" id="btnEventNext" name="Product" height="50" class="blue-btn next-click elmhide" width="100" value="Next" />
                                </div>
                            </div>
                            <div id="qu-tab12">
                                <div class="physician-box clearfix">

                                    <div id="additionaldiv">
                                        <div class="col-lg-6 col-md-12 new_policy">
                                            <div class="input-ctrl">
                                                <label>Discount or Handling Fee %</label>
                                                <div class="field">
                                                    @Html.TextBoxFor(model => model.HandlingFee, new { @onkeyup = "NumericWithDecimalOnly(this);" })
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Use Debit Value when Calculating Credit Value <span>*</span></label>
                                                <div class="field">
                                                    <select>
                                                        <option>Yes- price if no match</option>
                                                        <option>Yes - $0 if no match</option>
                                                        <option>No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>When Matching a Processed Item to the Debit Memo, Include Lot Number in the Comparison?</label>
                                                <div class="field">


                                                    <input type="radio" value="True" name="lotnumbercomparison" id="lotnumbercomparisonyes" data-val-required="The PhysicianSample field is required." data-val="true">
                                                    <label for="lotnumbercomparisonyes" class="css-label radGroup1 radGroup1">Yes</label>

                                                    <input type="radio" value="False" name="lotnumbercomparison" id="lotnumbercomparisonno" checked="checked">
                                                    <label for="lotnumbercomparisonno" class="css-label radGroup1 radGroup1">No</label>
                                                </div>
                                            </div>

                                            <div class="input-ctrl">
                                                <label>Allow Return Quantity That Exceeds Product Package Size</label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, true, new { @id = "AllowQuantityOverPackageSizeYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeYes" })
                                                    @if (Model.AllowQuantityOverPackageSize)
                                                    {
                                                        @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })
                                                        
                                                   }
                                                   else
                                                   {                @Html.RadioButtonFor(model => model.AllowQuantityOverPackageSize, false, new { @id = "AllowQuantityOverPackageSizeNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "AllowQuantityOverPackageSizeNo" })
 }
                                                    
                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Does the Discount or Handling Fee Apply to States with Partial Policy Law?</label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, true, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawYes" })

                                                    @Html.RadioButtonFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw, false, new { @id = "HandlingFeeExceptionForStatePartialPolicyLawNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "HandlingFeeExceptionForStatePartialPolicyLawNo" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 new_policy">
                                        <div class="input-ctrl">
                                            <label>Processing Fee Charged by Customer?</label>
                                            <div class="field">
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Authorized For Credit Consideration</label>
                                            <div class="field">

                                                @Html.DropDownListFor(model => model.AuthorizedForCreditConsideration, new SelectList(AuthorizeforCreditConsiderationdict, "Value", "Key", ""))
                                            </div>
                                        </div>
                                        <div class="input-ctrl">
                                            <label>Use Fall Through Price when Contract Price does not Exist? If No then unit price will equal $0.00</label>
                                            <div class="field">

                                                @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, true, new { @id = "DoNotUseFallThroughPriceYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceYes" })
                                                @if (Model.DoNotUseFallThroughPrice)
                                                {
                                                    @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })
                                                    
}
else
{
                                @Html.RadioButtonFor(model => model.DoNotUseFallThroughPrice, false, new { @id = "DoNotUseFallThroughPriceNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "DoNotUseFallThroughPriceNo" })


}

                                                    

                                                </div>
                                            </div>
                                            <div class="input-ctrl">
                                                <label>Use Wholesaler Direct Price When No Indirect Price</label>
                                                <div class="field">

                                                    @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, true, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectYes" })
                                                    @if (Model.UseWholeSalerDirectPriceWhenNoIndirect)
                                                    {
                                                        @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })
                                                        
}
else
{                                                 @Html.RadioButtonFor(model => model.UseWholeSalerDirectPriceWhenNoIndirect, false, new { @id = "UseWholeSalerDirectPriceWhenNoIndirectNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "UseWholeSalerDirectPriceWhenNoIndirectNo" })

}

                                                        

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div style="text-align:center">

                                            <input type="button" id="btnpricingNext" name="Product" height="50" class="blue-btn next-click elmhide" width="100" value="Next" />


                                        </div>
                                    </div>


                                    <div id="qu-tab13">
                                        <div class="physician-box clearfix">

                                            <div id="additionaldiv">
                                                <div class="col-lg-6 col-md-12 new_policy">
                                                    <div class="input-ctrl">
                                                        <label>Minimum Debit Memo Value Required before an RA can be Issued</label>
                                                        <div class="field">
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>What Percentage of Product is Required before an RA can be Closed? </label>
                                                        <div class="field">
                                                            @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent, new { @onkeyup = "NumericWithDecimalOnly(this);" })

                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>Number of Months Good Dating Required on Product for Overstock Returns </label>
                                                        <div class="field">
                                                            @Html.TextBoxFor(model => model.ReturnAuthorizationCompletionPercent)
                                                        </div>
                                                    </div>
                                                    <div class="input-ctrl">
                                                        <label>Is a Return Authorization Required? </label>
                                                        <div class="field">

                                                            @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, true, new { @id = "PriorReturnAuthorizationRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredYes" })

                                                            @if (Model.PriorReturnAuthorizationRequired)
                                                            {
                                                                @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })
                                                                
}
else
{                                                      @Html.RadioButtonFor(model => model.PriorReturnAuthorizationRequired, false, new { @id = "PriorReturnAuthorizationRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "PriorReturnAuthorizationRequiredNo" })

}

                                                                

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-12 new_policy">
                                                        <div class="input-ctrl">
                                                            <label>Non-Direct Customers Will Receive Credit By <span>*</span></label>
                                                            <div class="field">
                                                                <select>
                                                                    <option>Check</option>
                                                                    <option>Credit Through Wholesaler</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="input-ctrl">
                                                            <label>Value Requiring Prior Authorization from the Manufacturer Based On</label>
                                                            <div class="field">
                                                                <input type="text" style="margin-bottom:5px;">
                                                                <select>
                                                                    <option>Manufacturer Pricing Value</option>
                                                                    <option>Debit Memo Value</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="input-ctrl">
                                                            <label>Is Overstock Approval Required Prior to Authorizing a Return</label>
                                                            <div class="field">

                                                                @Html.RadioButtonFor(model => model.OverstockApprovalRequired, true, new { @id = "OverstockApprovalRequiredYes" }) @Html.Label("Yes", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredYes" })
                                                                @if (Model.OverstockApprovalRequired)
                                                                {
                                                                    @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })
                                                                    
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.OverstockApprovalRequired, false, new { @id = "OverstockApprovalRequiredNo", @checked = "checked" })@Html.Label("No", new { @class = "css-label radGroup1 radGroup1", @for = "OverstockApprovalRequiredNo" })

                                                    }

                                                                    

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div style="text-align:center">


                                                    
                                                        @Html.HiddenFor(model => model.PolicyID)
                                                        @Html.HiddenFor(model => model.Version)
                                                    <input type="button" id="btnPolicyUpdate" name="Product" height="50" class="blue-btn elmhide update" width="100" value="Update" />
                                                    


                                                </div>
                                            </div>
                                        </div>
                                    </div>

               <script type="text/javascript">
                   $(document).ready(function () {
                       $('#tab-container').easytabs();
                       $('#tab-container1').easytabs();
                   });
               </script>                 