﻿@model Qualanex.QoskCloud.Entity.LotNumberViewModel
@{


}
<form id="frmEditLot">

    @Html.HiddenFor(model => model.LotNumbersData.LotID, new { @id = "EditLotID" })
    @Html.HiddenFor(model => model.LotNumbersData.Version, new { @id = "EditVersion" })
    <div class="product-box clearfix">
        <h1>
            Edit Lot Number
        </h1>
        <div class="madatory_feild_message"><p><span>*</span> fields are mandatory.</p></div>

        <div id="lotNumberInfo">

            <div class="col-lg-4 col-md-6 ">
                <div class="input-ctrl">
                    <label for="LotNumbersData_LotNumber">Lot Number<span>*</span></label>
                    <div class="field">
                        @Html.TextBoxFor(model => model.LotNumbersData.LotNumber, new { @id = "EditLotNumber", @class = "", @maxlength = "20", @placeholder = "Enter Lot Number" })
                    </div>
                </div>

            </div>
            
                <div class="col-lg-4 col-md-6 ">
                    
                        <div class="input-ctrl">
                            @Html.LabelFor(model => model.LotNumbersData.ExpirationDate)
                            <div class="field">
                                @Html.TextBoxFor(model => model.LotNumbersData.ExpirationDate, new { @id = "EditExpirationDate", @placeholder = "Select Expiration Date", @class = "datePicker", @readonly = "readonly" })
                                <button type="button" class="calender-icon-date"></button>
                            </div>
                        </div>
                   
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="input-ctrl">
                        @Html.LabelFor(model => model.LotNumbersData.ReturnAllowed)
                        <div class="field">

                            <select id="LotNumbersData_EditReturnAllowed" name="LotNumbersData.EditReturnAllowed">
                                @*<option selected="selected" value="-1">Select</option>*@
                                <option value="false">No</option>
                                <option value="true">Yes</option>

                            </select>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="input-ctrl">
                        <div class="radio-label" style="width:40%;">

                        </div>
                        <div class="field">

                            @Html.RadioButtonFor(model => model.ProductDetails.ProfileTypeName, "Manufacturer", new { id = "rbeditManufacturer", @class = "EditProfileTypeName", @onclick = "swapdropdown('#ddleditManufacturerList','#ddleditRepackagerList')" })
                            @Html.Label("rbeditManufacturer", "Manufacturer", new { @class = "css-label radGroup1 radGroup1" })

                            @Html.RadioButtonFor(model => model.ProductDetails.ProfileTypeName, "Repackager", new { id = "rbeditRepackager", @class = "EditProfileTypeName", @onclick = "swapdropdown('#ddleditRepackagerList','#ddleditManufacturerList')" })
                            @Html.Label("rbeditRepackager", "Repackager", new { @class = "css-label radGroup1 radGroup1" })


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="input-ctrl">
                        <label>Profile Name</label>

                        @if (Model.ProductDetails.ProfileTypeName == "Manufacturer")
                        {
                            @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.ProductDetails.lstManufacturer.AsEnumerable(), "ProfileCode", "Name"), new { @id = "ddleditManufacturerList" })
                            @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.RepackagerProfileList.AsEnumerable(), "Value", "Text"), new { @id = "ddleditRepackagerList", @style = "display:none;" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.ProductDetails.lstManufacturer.AsEnumerable(), "ProfileCode", "Name"), new { @id = "ddleditManufacturerList", @style = "display:none;" })
                            @Html.DropDownListFor(model => model.ProductDetails.ProfileCode, new SelectList(Model.RepackagerProfileList.AsEnumerable(), "Value", "Text"), new { @id = "ddleditRepackagerList" })
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div style="width:100%; text-align:right; margin:0px -5px 0px">
                        <button type="button" id="EditLotNumberUpdateId" class="editbutton blue-btn update">Update</button>
                        <input type="reset" value="Reset" class="blue-btn">
                    </div>
                </div>
           

            <div class="full-screen-clear"></div>
        </div>
    </div>

</form>


<script>

    $(document).ready(function () {
        $('#EditExpirationDate').datepicker({
        });

        $('#EditLotNumberUpdateId').click(function (e) {
            
            if ($('#EditLotNumber').val().length == 0) {

                $('#LotNumbersData_LotNumber_tagsinput').validationEngine('showPrompt', 'Please Enter Lot number.', 'error', true)
                return false;
            }
            else {
                var LotNumbersData_ReturnAllowed = false;

                if ($("#LotNumbersData_EditReturnAllowed").val() == 'true') {
                    LotNumbersData_ReturnAllowed = true;
                }
                var objAddLotNumber =
                {
                    LotID: $('#EditLotID').val(),
                    ProductID: prodID,
                    LotNumber: $('#EditLotNumber').val(),
                    ExpirationDate: $("#EditExpirationDate").val(),
                    DiverseManufactureProfileCode: null,
                    RepackagerProfileCode: null,
                    ReturnAllowed: LotNumbersData_ReturnAllowed,
                    Version: $("#EditVersion").val(),
                    DivestProductID: null,
                    OperationType: 'Update',
                };

                if ($('input.EditProfileTypeName:checked').val() == "Manufacturer") {
                    if ($("#ddleditManufacturerList")[0].selectedIndex != 0) {
                        objAddLotNumber.DiverseManufactureProfileCode = parseInt($("#ddleditManufacturerList").val());
                        objAddLotNumber.ProductID = divestprodID;
                    }
                    
                }
                else {
                    objAddLotNumber.RepackagerProfileCode = parseInt($("#ddleditRepackagerList").val());
                }                

                var resultstatus = SendAjax('../Product/Edit', objAddLotNumber);

                if (resultstatus.Result = "Updated Successfully") {
                    $("#jQxLotNumbers").jqxGrid('updatebounddata');
                    $("#LoadEditLotNumberPartialView").hide();
                    $(".alert-popup-body-message").show();
                    $("#alertmessageid").html(resultstatus.Result);
                    CreateLotNumberPartial();
                }



                return false;
            }
        });
    });

</script>