﻿@model IEnumerable<Qualanex.QoskCloud.Entity.MLGroup>
@{
    ViewBag.Title = "Group List";
}
<script>
    function CreateGridPanel() {
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: '/Product/BindJQXGridLayout',
            data: JSON.stringify({ 'objdsad': LstofControlViewModel }), // Note it is important
            success: function (data) {
                GenerateGrid(data);
            },
            error: function (response) {
                alert(response);
                if (response.status != 0) {
                    alert(response.status + " " + response.statusText);
                }
            }
        });

    }
   

    $(document).ready(function () {
        $(".close-btn").click(function () {
            $(".model-popup").hide();
            $(".model-box").animate({ "top": "-100%" });

        })
        $('.product-list').click(function () {
            $('#DeleteGroupSuccessMessage').text("");


        });
        $(function () {
            $('#btnDelete').click(function () {
                var values = new Array();
                $('#grouListId table').find('input[type="checkbox"]:checked').each(function () {
                    //alert("item clicked, id = " + $(this).attr("data-id"));
                    values.push($(this).attr("data-id"));
                });
                var groupID = values.join(", ")
                if (values.length == 0)
                { alert("Please select group Name for Delete"); return false; }
                else
                {
                    var url = '@Url.Content("~/Profile/DeleteGroup/")';
                    $.post(url,
                        {
                            GroupIDS: groupID
                        }, function (result) {
                            if (result == "Success") {
                               location.reload();
                                return true;
                            }
                            else {
                                return false;
                            }
                            
                            
                        });
                }
                return false;
            });
        });
    });
</script>
@using (Html.BeginForm())
{
    <div class="product-list">
        <h1>Group List</h1>
      
        @if (Model != null)
        {
            <div class="edit-option">
                <div style="width: 100%;text-align:left;" id="grouListId" class="custom-table">
                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                        <div id="jqxgrid">
                        </div>
                    </div>
                    @*@Html.Grid(Model).Columns(columns =>
                         {
                          columns.Add(c => c.IsDelete)
                             .Encoded(false)
                             .Sanitized(false)
                             .SetWidth(30)
                             .RenderValueAs(o => Html.CheckBox("checked1", o.IsDelete, new { @class = "check-item1", data_id = o.ProfileGroupID })).Titled("Select");
                          columns.Add(c => c.GroupProfilesName).Titled("Profile Name").Filterable(true);
                          columns.Add(c => c.GroupType).Titled("Group Type").Filterable(true);
                             columns.Add(c => c.GroupName).Titled("Group Name").Filterable(true);
                          columns.Add(c => c.Created).Titled("Created By").Filterable(true);
                         }).WithPaging(10)*@

                </div>
                             
                <div class="edit-option-btn">

                    <input type="button" id="btnDelete" class="custom-blue-btn" value="Delete Groups">
                    <input type="reset" class="custom-blue-btn" value="Reset">

                </div>
            </div>
        }
        else
        {
            <div style="width:100%; height:50Px;">
                <label> No Group Exists</label>

            </div>
        }
    </div>
}


