﻿@model IEnumerable<Qualanex.QoskCloud.Entity.AssignedProfileGroup>
@using GridMvc.Html
<div id="RegionalUserGrp">
      <div class="product-list">
       Please select profile for aceess to user
        @Html.Grid(Model).Columns(columns =>
                         {
                             columns.Add(c => c.Assigned)
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(30)
                                .RenderValueAs(o => Html.CheckBox("checked1", o.Assigned, new { @class = "check-item1", data_id = o.GroupProfileCode })).Titled("Select");
                             columns.Add(c => c.GroupProfileName).Titled("Group Name").Filterable(true);
                             columns.Add(c => c.City).Titled("City").Filterable(true);
                             columns.Add(c => c.State).Titled("State").Filterable(true);
                             columns.Add(c => c.Region).Titled("Region").Filterable(true);
                         }).WithPaging(10)


    </div>

</div>

@*<div id="userProfileGroup">
    @if (Model != null)
            {

        <label class="edit-reglabl">

        </label>
        <label class="edit-reglabl">
            Please select Groups for aceess
            <br />to Regional User
        </label>
        <div class="box-18-cnt">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="min-height:300px;color:#fff;">
                @{
                foreach (var item in Model.ProfileGroup)
                {
                    <tr>
                        <td>
                            <label class="user-check">
                                <input type="checkbox" name="selectedProfileGroups" value="@item.ProfileGroupID" @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />
                                <i></i>
                            </label>
                        </td>
                        <td>
                            <label>@item.GroupName</label>
                        </td>
                    </tr>
                }
                }
            </table>

        </div>
            }
</div>*@
