﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/qosk/Css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/qosk")

    <script src="~/Areas/Qosk/Scripts/qosk.js"></script>
    <script>
            var UserRole = 0;
            if ('@User.IsInRole("Admin")' == 'True') {
                UserRole = 0;
            }
            else if ('@User.IsInRole("CUser")' == 'True') {
                UserRole = 1;
            }
            else if ('@User.IsInRole("RUser")' == 'True') {
                UserRole = 2;
            } else if ('@User.IsInRole("User")' == 'True') {
                UserRole = 3;
            }
            $(document).ready(function () {

                if (UserRole != UserRoles.ADMN) {
                    $(".UserAdminDelete").remove();
                    $(".UserAdminEdit").remove();
                    $(".UserAdminSave").remove();
                }
            });
    </script> <!--Check if a user is an Admin and if not, remove Admin options-->
    @RenderSection("styles", required: false)
</head>
<body class="@ViewBag.PageClass">
<!-- header -->
<div class="frameEx">
    <div class="rowEx headerEx">
            <table class="headerGrad">
                <tr>
                    <td class="headerLogo">
                        <a href="@Url.Action("Home", "User", new { area = "" })"><img src="~/Areas/Qosk/Images/Qosk_Logo_Header.png" alt="Home"/></a>
                    </td>
                    <td class="headerIcon"><img src="~/Areas/Qosk/Images/Qosk_Help.png" alt="help"/></td>
                    <td class="headerIcon"><a href="@Url.Action("Logout", "User", new { area = "" })"><img src="~/Areas/Qosk/Images/Qosk_Account.png" alt="logout" /></a></td>
                    <td class="headerUser">@User.Identity.GetUserName()</td>
                </tr>
            </table>
        </div>
    <div class="rowEx contentEx">
        @RenderBody() <!--Send the page back to Edit.cshtml-->
    </div>
<!-- footer -->
    <div class="rowEx footerEx">
        <table style="height: 100%; width: 100%; color: #FFFFFF;">
            <tr>
                <td><img class="footerLogo" style="" src="~/Areas/Qosk/Images/Qosk_PageFooter.png" alt=""/></td>
                <td style="width: 100%">
                    <table style="height: 40px; width: 100%;">
                        <tr style="height: 8px;"><td></td></tr>
                        <tr>
                            <td>
                                <table class="footerGrad">
                                    <tr>
                                        <td class="footerCopyright">Copyright © 2000-@DateTime.Now.Year Qualanex, LLC. All Rights Reserved.</td>
                                        <td style="width: 125px;"><a class="footerLink" style="font-size: 8pt;">Terms&nbsp;of&nbsp;Use</a></td>
                                        <td style="width: 125px;"><a class="footerLink" style="font-size: 8pt;">About&nbsp;Qosk</a></td>
                                        <td style="width: 10%;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>