﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content=" IE=EDGE" />
   <title>QualanexQosk</title>
   <link rel="shortcut icon" href="../images/favicon.ico">
   
   @Styles.Render("~/Content/css")
   @Styles.Render("~/Content/custom")
   @Styles.Render("~/Content/themes/base/css")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/qosk")

   <!-- responsive mediaQuery -->


   <script>
            var UserRole = 0;

            if ('@User.IsInRole("Admin")' == 'True') {
                UserRole = 0;
            }
            else if ('@User.IsInRole("CUser")' == 'True') {
                UserRole = 1;
            }
            else if ('@User.IsInRole("RUser")' == 'True') {
                UserRole = 2;
            } else if ('@User.IsInRole("User")' == 'True') {
                UserRole = 3;
            }


            $(document).ready(function () {

                if (UserRole != UserRoles.ADMN) {
                    $(".UserAdminDelete").remove();
                    $(".UserAdminEdit").remove();
                    $(".UserAdminSave").remove();

                }
            });

   </script>

   @RenderSection("styles", required: false)

</head>
<body>

   <div class="wrapper">
      <div class="header-top">
         <div class="header-above"></div>
         <!--End Top Header-->
         <div class="clearfix"></div>
         <div class="row">
            <div class="header-white">

               <div class="col-md-2 col-sm-2">
                  <div class="inner-logo"><a href="@Url.Action("Index", "Home")"><img src="~/images/logo-inner.png" alt=""></a></div>
               </div>
               <div class="col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6">
                  <div class="login-section">
                     <span class="logout-btn-container">
                        @*@Html.ActionLink("Logout", "Logout", "User", routeValues: null, htmlAttributes: new { id = "input-logout-btn" })*@
                        @Html.ActionLink("Lot Number", "Logout", "User", new { area = "" }, new { id = "input-logout-btn" })
                     </span>
                     <span class="settings-text">Settings</span>
                     <span class="welcome-text">Welcome @User.Identity.GetUserName()</span>

                  </div>

               </div>

               <div class="clearfix"></div>
               <div class="row">
                  <div class="topnav-main">

                     <div class="col-md-3 col-sm-3">
                        <div class="topnav-left">
                           <span class="topnav-date">
                              @DateTime.UtcNow.ToString("MMMM  dd, yyyy")
                           </span> <span class="date-grey">@DateTime.UtcNow.DayOfWeek</span>
                        </div>
                     </div>
                     <div class="col-md-9 col-sm-9 pull-right">
                        <div class="cssmenu_wrap">

                           <div id='cssmenu'>


                           </div>
                        </div>
                     </div>
                  </div>



               </div>
            </div>
         </div>
      </div>

      <nav class="top-nav-box navbar-default">

      </nav>
      <div class="container">
         <!-- Contanier Start Start-->
         <!-- Left Navigation End here-->
         @RenderBody()

      </div>
   </div>


   <div class="slide-menu">
      <div id="res_menu">
         <div class="slide-menu-icon">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
      @*<div class="top-select-box">@Html.Action("ManufactureDDL", "Home")</div>*@

      <ul>
         <li>
            <div id="mobilemenu">
            </div>
         </li>
         <li>
            <div class="pull-right margin_top margin-right6">@Html.ActionLink("Logout", "Logout", "User", routeValues: null, htmlAttributes: new { id = "input-logout-btn" })</div>
         </li>
      </ul>

   </div>
   <!-- Foooter Start Here-->
   <div class="footer">Copyright © 2000-@DateTime.UtcNow.Year Qualanex, LLC. All Rights Reserved.</div>
   <!-- Foooter Start End-->

   @RenderSection("scripts", required: false)
   <script>



        if (Modernizr.localstorage) {
            var localData = window.localStorage;
            var getuserData = JSON.parse(localData.getItem("userInfo"));

            var html = "<ul> <div class=\"clr\"></div>";
            var mobilemenuhtml = "";
            for (var i = 0; i < getuserData.UserLeftLinks.length; i++) {
                var pagename = getuserData.UserLeftLinks[i].PageName;
                var url = getuserData.UserLeftLinks[i].PageURL;
                    var baseurl = '@Url.Content("~/")';

               var pageurl = "";
               if (pagename == "Report") {
                        pageurl = baseurl + pagename + "/Home/" + url;
                    }
                    //var pageurl = baseurl + pagename + "/" + url;
                    else {
                        pageurl = baseurl + pagename + "/" + url;
                    }

                if (pagename == "LotNumber") {
                    html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>Lot Number</span></a></li>";
                    mobilemenuhtml += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>Lot Number</span></a></li>";
                }
                else if (pagename == "Report") {
                    html += "<li class=\"dropdow\"><a class=\"lot-icon\" href=\"javascript:void(0)\"   >" + "Report <span class=\"caret\"></span></a>";
                    html += "<ul class=\"dropdown-men\">";
                    mobilemenuhtml += "<li><a class=\"lot-icon\"  >" + "<span>Report</span></a>";
                    mobilemenuhtml += "<div class=\"submenu\"><ul>";
                    //Not have permission to alter Report Table, so for temporary solution starting loop from 12.
                    for (var j = 0; j < getuserData.ReportsNameLinks.length; j++) {
                        if (getuserData.ReportsNameLinks[j].ReportTitle == "Product Details") {
                            getuserData.ReportsNameLinks[j].ReportTitle = "Product Details"
                        }
                        html += "<li><a href=\"" + pageurl + "/" + getuserData.ReportsNameLinks[j].ReportID + "\"target=\"_self\">" + getuserData.ReportsNameLinks[j].ReportTitle + "</a></li>";
                        mobilemenuhtml += "<li><a href=" + pageurl + "/" + getuserData.ReportsNameLinks[j].ReportID + "\target=\"_self\">" + getuserData.ReportsNameLinks[j].ReportTitle + "</a></li>";
                    }
                    html += "</ul></li>";
                    mobilemenuhtml += "</ul></div></li>";
                    //mobilemenuhtml += "<li><a class=\"lot-icon\"  >" + "<span>Report</span></a></li>";
                }
                else {
                    html += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
                    mobilemenuhtml += "<li><a class=\"lot-icon\" href='" + pageurl + "'  >" + "<span>" + pagename + "</span></a></li>";
                }
            }
            html += "</ul>";


            $("#cssmenu").html(html);
            $("#mobilemenu").html(mobilemenuhtml);
        }

            $(document).ready(function () {

                $('.lot-icon').click(function () {

                    sessionStorage.clear();
                    $.removeCookie("pagersizeno");
                    $.removeCookie("pagesize");
                })

                $(".nav-btn").click(function () {
                    $(".left-navigation").toggleClass("left-234");
                    $(".main-container").toggleClass("margin-37");
                    $(".footer").toggleClass("footer-left");
                });
                $(".slide-menu-icon").click(function () {
                    $(".slide-menu").toggleClass("left-menu-toggle", "slow");
                    $(".slide-menu-icon").toggleClass("slide-menu-icon-toggle", "slow");
                });
                $("#input-logout-btn").click(function () {
                    if (Modernizr.localstorage) {
                        var localData = window.localStorage;
                        localData.removeItem("userInfo");
                        window.localStorage.clear();
                    }
                });
                $(".dropdown-men").hide()
                $("#cssmenu > ul > .dropdow > a").click(function () {

                    $(".dropdown-men").fadeToggle("fast");

                });
                $("body .container").click(function () {

                    $(".dropdown-men").fadeOut("fast");

                });

            });

   </script>


</body>
</html>
