﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>