﻿@{
   ViewBag.Title = "Qosk Visual Report Demo";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

<!--style reference section-->
@section styles{
   <section>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/Css/QoskCommon.css" />
      <link rel="stylesheet" href="~/Css/QoskPage.css" />
      <link rel="stylesheet" href="~/Css/QoskApplet.css" />
      <link rel="stylesheet" href="~/Css/QoskForm.css" />
      <link rel="stylesheet" href="~/Css/QoskActionbar.css" />
      <link href="~/Content/dragtable.css" rel="stylesheet" />
      <link href="~/Css/jquery.tagsinput.css" rel="stylesheet" />
      <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
      <link href="~/Content/jqx.base.css" rel="stylesheet" />
      <link href="~/Content/style.css" rel="stylesheet" />
      <link rel="stylesheet" href="~/Css/validationEngine.jquery.css" type="text/css" />
      <link rel="stylesheet" href="~/CSS/QoskCommon.css" />
      <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
   </section>
}


@RenderSection("styles", required: false)

<!--Partial views for Pop-up Massages -->


@RenderBody()



<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@RenderSection("scripts", required: false)





