﻿<div id="popupforsvachanges" class="alert-popup-body" style="display:none;">
    <div class="alert-popup">
        <h1>Alert Message <span class="alert-close">X</span></h1>
        <div class="alert-text">
            <p>You have some changes pending, Please use one of following option to proceed.</p>
            <div class="alert-btn">
                <input type="button" value="Save" id="btnAlertSave">
                <input type="button" value="Leave Page" id="btnAlertLeave">
                <input type="button" value="Stay Page" id="btnAlertStay">
            </div>
        </div>
    </div>
</div>
