﻿<div id="dvLotNumbers" style="display:none;" class="product-list">
    
    <div class="top_heading">
        <h1>Lot Number List</h1>

        <div class="">
            <div class="col-sm-6 col-md-8 col-xs-12 paddleft_right0">
            </div>
            <div class="media-clr media-margin"></div>
            <div class="col-sm-6 col-md-4 col-xs-12 paddleft_right0">
                <ul>
                    <li>
                        @Html.ActionLink("Add New Lot Number", "CreateLotNumber", "Product",
                         new { id = "AddNewLotNumber", @class = "add_btn" })
                        @*<span>|</span>*@
                    </li>
                    @*<li>
                        
                        <a href="javascript:HideLotDetailAndShowDivested()"> Divested by Lot</a>
                    </li>*@
                </ul>
            </div>
        </div>           
        <div class="clearfix"></div>
        <div id="dvwhiteborderforlot" class="whiteborder">
        </div>
            <div class="clearfix"></div>
        <div id="LoadAddNewLotNumberPartialView" class="whiteborder" style="display:none">
        </div>
        <div class="clearfix"></div>
        <div id="LoadEditLotNumberPartialView" class="whiteborder" style="display:none">
            
        </div>
            <div class="clearfix"></div>
            <div id='jQxLotNumbers' style="font-size: 13px; font-family: Verdana; float: left;" @*class="margin_top"*@>
                <div class="bottom_input">
                    <div id="jqxgridforlot" class="jqx">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="backtosearch">
                <a href="javascript:BackFromLotToProduct()">&laquo; Back to search results</a>
            </div>
        </div>
    </div>


<div class="model-popup1">
    
</div>
@Html.Partial("_Wait")

    @*@Html.Partial("_AddNewLotNumber")*@ 


        <script type="text/javascript">

            function swapdropdown(a, b) {
                $(a).show();
                $(b).hide();
            }

            function HideLotDetailAndShowDivested() {
                $('#productList').hide();
                $('#LotList').hide();
                $('#dvLotNumbers').hide();
                $('#dvdivestedLotNumbers').show();
                var row = $('#hdnprdrow').val();
                
                LoadDivestedLotPopup(row);
                //var prdinfo = $('#dvdivested').children.clone();
                //$('#dvlotn').empty().html(prdinfo.css("display", "inline-block"));
            }
            function CreateLotNumberPartial()
            {
                $.ajax({
                    url: '/Product/Create_LotNumber',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: { productID: prodID.toString() },

                    success: function (data) {
                        $('#AddNewLotNumber').html('Add New Lot Number');
                        $("#LoadEditLotNumberPartialView").hide();
                        $("#LoadAddNewLotNumberPartialView").html(data).show();
                    },
                    error: function () {
                        $('#AddNewLotNumber').html('Add New Lot Number');
                        
                    }
                });
            }


            $("#AddNewLotNumber").click(function (e) {
                e.preventDefault();
                CreateLotNumberPartial();                
                return false;
            });

            

            function BackFromLotToProduct() {
                $('#productList').show();
                $('#LotList').show();
                $('#dvLotNumbers').hide();
            }

            var ConvertLotExpDate = function (row, columnfield, value, defaulthtml, columnproperties) {
               
                if (value != '') {

                    return ConvertExpirationDate(value);
                }
                else { return '' }
            }

            var ConvertReturnAllowedField = function (row, columnfield, value, defaulthtml, columnproperties) {                
                if (value != '') {
                    return (value == true || value == 1) ? "Yes" : "No";
                }
                else { return 'No' }
            }

            

            function LoadLotNumbers(_prodID,row) {
                //$('#dvmanufactureprddetails').show();

                $('#hdnprdid').val(_prodID);
                $('#hdnprdrow').val(row);

                prodID = _prodID;
                CreateLotNumberPartial();

                var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', row);
                divestprodID = dataRecord.DivestProductID;
                BindHeaderValues(dataRecord);


                var prdinfo = $('#dvmanufactureprddetails').clone();
                $('#dvwhiteborderforlot').empty().html(prdinfo.css("display", "inline-block"));
                

                $('#productList').hide();
                $('#LotList').hide();
                $('#dvLotNumbers').show();
                var source = {

                    datatype: "json",
                    type: 'GET',
                    url: '../Product/GetLotNumberByProductID',
                    datafields: [
                           //{ name: 'ProfileName', type: 'string' },
                           // { name: 'Description', type: 'string' },
                           { name: 'LotNumber', type: 'string' },
                           { name: 'ExpirationDate', type: 'string' },
                           { name: 'ReturnAllowed', type: 'bool' },
                            { name: 'LotID', type: 'long' },
                            { name: 'ProfileName', type: 'string' },
                            { name: 'IsDiverseLotNumber', type: 'bool' },
                            { name: 'DivestedName', type: 'string' },
                            { name: 'IsRepackaged', type: 'bool' },
                            { name: 'RepackagerName', type: 'string' },
                            { name: 'DiverseManufactureProfileCode', type: 'int' },
                            { name: 'ProfileCode', type: 'int' },
                            { name: 'RepackagerProfileCode', type: 'int' },
                            { name: 'Version', type: 'long' }
                    ],
                    data: { ProductID: prodID },
                    root: 'Rows',
                    contentType: "application/json; charset=utf-8",

                    // update the grid and send a request to the server.
                    filter: function () {
                        $("#jqxgridforlot").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgridforlot").jqxGrid('updatebounddata', 'sort');
                    },
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }                    
                };
                var dataadapter = new $.jqx.dataAdapter(source, {
                    loadError: function (xhr, status, error) {
                    },

                });

                console.log(dataadapter);
                var columns = [
               { text: "Lot Number", datafield: "LotNumber", cellsformat: 'd' },
               { text: "Expiration Date", datafield: "ExpirationDate", cellsrenderer: ConvertLotExpDate },
               { text: "Credit Allowed", datafield: "ReturnAllowed", cellsrenderer: ConvertReturnAllowedField },
                {
                    text: "Manufacturer / Repackager", datafield: "ProfileName", cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties,data) {

                        if (data.IsDiverseLotNumber == false && data.IsRepackaged == false) {
                            result = "( Original ) " + data.ProfileName;
                        }
                        else if (data.IsDiverseLotNumber == true) {
                            result = "( Divested To ) " + data.DivestedName;
                        }
                        else if (data.IsRepackaged == true)
                        {
                            result = "( Repackaged by ) " + data.RepackagerName;
                        }


                        return '<div style="overflow: hidden; text-overflow: ellipsis; padding-bottom: 2px; text-align: left; margin-right: 2px; margin-left: 4px; margin-top: 4px;">' + result + '</div>';

                    }
                },

                ]
                          
                           
                var editrow = -1;
                var editproductrow = {
                    "text": "Edit",
                    "datafield": "Edit",
                    "width": "50",
                    pinned: true,
                    sortable: false,
                     
                    filterable: false,
                    menu: false,
                    "cellsrenderer": function (row, column, value) {
                        editrow = row;
                      
                        var html = "<a href='javascript:EditRow(" + editrow + ");' class='btnEditimage'></a>";
                        return html;
                    }
                };

                var deleteproductrow = {
                    "text": "Delete",
                    "datafield": "Delete",
                    "width": "50",
                    pinned: true,
                    sortable: false,
                    filterable: false,
                    menu: false,
                    "cellsrenderer": function (row, column, value) {
                        editrow = row;


                        var html = "<a href='javascript:DeleteRow(" + editrow + ");' class='delete-btn'></a>";
                        return html;
                        }
                };

                
                if (UserRole == UserRoles.ADMN) {
                    columns.push(editproductrow);
                    columns.push(deleteproductrow);
                }

                $("#jQxLotNumbers").jqxGrid({
                    width: '100%',
                    source: dataadapter,
                    pageable: true,
                    selectionmode: 'singlerow',
                    sortable: true,
                    filterable: false,
                    columnsreorder: true,
                    showdefaultloadelement: false,
                    enabletooltips: true,
                    columnsresize: true,
                    pagesize: 100,
                    height: '100%',
                    pagermode: 'simple',
                    rendergridrows: function (obj) {
                        return obj.data;
                    },
                    columns: columns,

                });
            }

            function DeleteRow(rowid)
            {               
                var rowData = $('#jQxLotNumbers').jqxGrid('getrowdata', rowid);               
                $("#alertdeletemessageid").text("Do you wish to delete this Lot Number ?");
                $(".alert-popup-body-message-confirm").show();
                $("#btdeletenok").unbind("click");
                $("#btdeletenok").click(function () {
                    
                    $(".alert-popup-body-message-confirm").hide();
                    $.ajax({
                        url: '/Product/Delete',
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        data: { LotNumberID: rowData["LotID"] },
                        success: function (data) {                            
                            
                            if (data.Result == 'OK') {
                                $("#alertmessageid").html(LotNumber.DeleteSuccess);
                                $(".alert-popup-body-message").show();                                
                                $("#jQxLotNumbers").jqxGrid('updatebounddata');
                                CreateLotNumberPartial();
                            }
                            else {
                                $(".alert-popup-body-message").show();
                                $("#alertmessageid").html(LotNumber.DeleteFailed);
                            }                           

                        },
                        error: function () {

                            //alert("An error has occured!!!");
                        }
                });


                })
                
            }

            function EditRow(rowid)
            {
                $.ajax({
                    url: '/Product/Edit_LotNumber',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: { productID: prodID.toString() },
                    success: function (data) {
                        $('#AddNewLotNumber').html('Add New Lot Number');
                        $("#LoadAddNewLotNumberPartialView").hide();
                        $("#LoadEditLotNumberPartialView").html(data).show();

                        var rowData = $('#jQxLotNumbers').jqxGrid('getrowdata', rowid);

                        $("#EditLotNumber").val(rowData["LotNumber"]);
                        $("#EditExpirationDate").val(convertJsonDate(rowData["ExpirationDate"], DateFormat));
                        
                        $("#EditLotID").val(rowData["LotID"]);

                        $("#LotNumbersData_EditReturnAllowed").val(rowData["ReturnAllowed"] == null ? '0' : rowData["ReturnAllowed"].toString());
                        $("#EditRecallID").val(-1);
                        $("#EditVersion").val(rowData["Version"]);
                        

                        if (rowData['IsDiverseLotNumber'] == false && rowData['IsRepackaged'] == false) {
                            $('#rbeditManufacturer').prop("checked", true);
                            $('#ddleditManufacturerList').show();
                            $('#ddleditManufacturerList').val(rowData['ProfileCode'])
                        }
                        else if (rowData['IsDiverseLotNumber'] == true) {
                            $('#rbeditManufacturer').prop("checked", true);
                            $('#ddleditManufacturerList').show();
                            $('#ddleditManufacturerList').val(rowData['DiverseManufactureProfileCode']);
                        }
                        else if (rowData['IsRepackaged'] == true) {
                            $('#rbeditRepackager').prop("checked", true);
                            $('#rbeditManufacturer').prop("disabled", true);
                            $('#rbeditRepackager').prop("disabled", true);
                            $('#ddleditRepackagerList').prop("disabled", true);
                            
                            $('#ddleditManufacturerList').hide();
                            $('#ddleditRepackagerList').show();
                            $('#ddleditRepackagerList').val(rowData['RepackagerProfileCode'])
                        }

                        
                    },
                    error: function () {

                        //alert("An error has occured!!!");
                    }
                });
            }

            



        </script>
