﻿@{
   ViewBag.SegmentIcon = string.IsNullOrWhiteSpace(ViewBag.SegmentIcon)
                        ? "/Areas/Product/Images/Segments/Qosk_Segment_AdditionalInformation_50Opacity.png"
                        : ViewBag.SegmentIcon;
   ViewBag.SegmentId = "lotDate";
   ViewBag.SegmentValidation = "validateLotExp";
   ViewBag.TempSegmentName = ViewBag.SegmentName;
   ViewBag.SegmentName = "";
   if (ViewBag.Segment != null)
   {
      if (ViewBag.Segment.HasObjectId("LotNumberFunction"))
      {
         ViewBag.SegmentName += "Lot Number";

         if (ViewBag.Segment.HasObjectId("ExpDateFunction"))
         {
            ViewBag.SegmentName += " and ";
         }
      }

      if (ViewBag.Segment.HasObjectId("ExpDateFunction"))
      {
         ViewBag.SegmentName += "Expiration Date";
      }
   }
   else
   {
      ViewBag.SegmentName = ViewBag.TempSegmentName;
   }

   if (!string.IsNullOrWhiteSpace(ViewBag.Layout))
   {
      Layout = ViewBag.Layout;
   }
}

@section SegmentTitle{
   <span id="LotSelection">
      @if (!string.IsNullOrWhiteSpace(ViewBag.LotNumber))
      {
         @: - @ViewBag.LotNumber.ToUpper()
        }
   </span>
   <span id="ExpSelection">
      @if (ViewBag.ExpirationDate != "")
      {
         @: - @ViewBag.ExpirationDate
      }
   </span>
}
<input type="hidden" id="LotSelectionInput" value="@if (!string.IsNullOrWhiteSpace(ViewBag.LotNumber)) {@:@ViewBag.LotNumber.ToUpper()
          }" />
<input type="hidden" id="ExpSelectionInput" value="@ViewBag.ExpirationDate" />
<input type="hidden" id="ExpMonthSelectionInput" value="@ViewBag.ExpMonth" />
<input type="hidden" id="ExpYearSelectionInput" value="@ViewBag.ExpYear" />
<input type="hidden" id="lotDatePageName" value="@ViewBag.PageName" />
<input type="hidden" id="productIdLotDate" value="@ViewBag.ProductId" />
<table class="QoskKeyboard QnexContent QoskSegment QoskForm ">
   <tr>
      <td style="padding: 5px 5px 5px 20px;">
         <table id="lotDateTable" class="tableEx">
            <tr>
               <td style="padding-bottom: 5px;">
                  <table style="width: 1px;">
                     <tr>
                        @if (ViewBag.Segment == null || ViewBag.Segment.HasObjectId("LotNumberFunction"))
                        {
                           <td>
                              <!-- Lot Number Entry -->
                              <div class="QnexLot" style="padding: 0px 5px 0px 0px; display: block;">
                                 @{ var width = ViewBag.Segment == null ? "300px" : ViewBag.Segment.HasObjectId("ExpDateFunction") ? "300px" : "400px";}
                                 <table style="width: @width; height: 247px;">
                                    <tr>
                                       <td style="text-align: center;" colspan="3">
                                          <img height="180px" src="~/Areas/Product/Images/LotNumberScreen/QoskLotExp_Main.png" alt="" />
                                       </td>
                                    </tr>
                                    <tr style="height: 1px;">
                                       <td class="tdLabel" style="background-color:#F0F0F0">Lot&nbsp;Number:</td>
                                       <td style="width: 100%;">
                                          <div id="divLotNo">
                                             <input class="txtLotNo inputEx uppercase" value="@ViewBag.LotNumber" placeholder="Enter Lot No" maxLength=20 style="height:22px;" form="@ViewBag.Form" />
                                             @*@Html.Editor((string)ViewBag.LotNumber, new { htmlAttributes = new { @class = "txtLotNo inputEx uppercase", placeholder = "Enter Lot No", data_ql_action = Url.Action("GetLotExpiration"), maxLength = 20, height = "22px", form = ViewBag.Form } })*@

                                          </div>
                                          <div id="divLotNoRO" style="display: none;">
                                             <input class="inputEx noLotNo" placeholder="No Lot Number" type="text" value="" readonly />
                                          </div>
                                       </td>
                                       <td style="padding: 0px 0px 0px 10px;">
                                          @if (ViewBag.Segment != null)
                                          {
                                             <input id="btnNoLot" class="buttonEx nolotKey" type="button" value="No&nbsp;Lot&nbsp;#" />
                                          }
                                       </td>
                                       @if (ViewBag.Segment != null && !ViewBag.Segment.HasObjectId("ExpDateFunction"))
                                       {
                                          <td style="width: 1px; padding: 0px 0px 0px 10px;">
                                             <input id="btnReset" data-field-value="@ViewBag.Return" class="buttonEx resetKey" type="button" value="Reset" />
                                          </td>
                                       }
                                    </tr>
                                 </table>
                              </div>
                           </td>
                                    }
                        @if (ViewBag.Segment == null || ViewBag.Segment.HasObjectId("ExpDateFunction"))
                        {
                           <td>
                              <!-- Expiration Date Entry -->
                              <div class="QnexExpDate" style="display: block;">
                                 <table style="width: 550px; height: 247px;">
                                    <tr>
                                       <td style="padding-bottom: 8px;" colspan="5">
                                          <table>
                                             <tr>
                                                <td style="padding-top: 4px;"><input id="btnPrevYear" class="buttonEx prevKey" type="button" value="&lt;" /></td>
                                                <td style="padding-left: 11px;">
                                                   <div class="scroll-year" style="width: 465px; height: 1px;">
                                                      @for (int year = DateTime.Now.Year - 27; year <= DateTime.Now.Year + 25; year++)
                                                      {
                                                         <div>
                                                            <input class="buttonEx yearKey" type="button" value="@year" />
                                                         </div>
                                                      }
                                                   </div>
                                                </td>
                                                <td style="padding-top: 4px;"><input id="btnNextYear" class="buttonEx nextKey" type="button" value="&gt;" /></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="5">
                                          <table>
                                             <tr>
                                                <td>
                                                   <table>
                                                      <tr>
                                                         <td style="width: 55px;"></td>
                                                         <td>
                                                            <table class="MonthPad" style="height: 1px;">
                                                               <tr>
                                                                  <td><input id="btnMnth01" class="buttonEx monthKey" type="button" value="January" data-value="1" /></td>
                                                                  <td><input id="btnMnth02" class="buttonEx monthKey" type="button" value="February" data-value="2" /></td>
                                                                  <td><input id="btnMnth03" class="buttonEx monthKey" type="button" value="March" data-value="3" /></td>
                                                                  <td><input id="btnMnth04" class="buttonEx monthKey" type="button" value="April" data-value="4" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td><input id="btnMnth05" class="buttonEx monthKey" type="button" value="May" data-value="5" /></td>
                                                                  <td><input id="btnMnth06" class="buttonEx monthKey" type="button" value="June" data-value="6" /></td>
                                                                  <td><input id="btnMnth07" class="buttonEx monthKey" type="button" value="July" data-value="7" /></td>
                                                                  <td><input id="btnMnth08" class="buttonEx monthKey" type="button" value="August" data-value="8" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td><input id="btnMnth09" class="buttonEx monthKey" type="button" value="September" data-value="9" /></td>
                                                                  <td><input id="btnMnth10" class="buttonEx monthKey" type="button" value="October" data-value="10" /></td>
                                                                  <td><input id="btnMnth11" class="buttonEx monthKey" type="button" value="November" data-value="11" /></td>
                                                                  <td><input id="btnMnth12" class="buttonEx monthKey" type="button" value="December" data-value="12" /></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                         <td style="width: 55px;"></td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr style="height: 1px;">
                                       <td></td>
                                       <td class="tdLabel" style="height: 25px;background-color:#F0F0F0">Expiration&nbsp;Date:</td>
                                       <td style="width: 185px;">
                                          <div id="divExpDate" style="display: block;">
                                             <table>
                                                <tr>
                                                   <td style="width: 140px;">
                                                      @if (ViewBag.ProductID != 0)
                                                      {
                                                         <select class="selectEx cboExpMonth" style="width: 140px;" , form="@ViewBag.Form">
                                                            @foreach (var options in ViewBag.MonthOptions)
                                                            {
                                                               <option value="@options.Value" @if (ViewBag.ExpMonth == options.Value) { @: selected
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   }>
                                                                  @options.Text
                                                               </option>
                                                            }
                                                         </select>
                                                         @*@Html.DropDownList((string)ViewBag.ExpMonth, ViewBag.MonthOptions, new { @class = "selectEx cboExpMonth", @style = "width: 140px;", form = ViewBag.Form })*@
                                                      }
                                                   </td>
                                                   <td style="padding-left: 5px;">
                                                      <input class="txtExpYear inputEx expYear" value="@ViewBag.ExpYear" placeholder="-Year-" maxLength="4" form="@ViewBag.Form" />
                                                      @*@Html.Editor((string)ViewBag.ExpYear, new
                                                         {
                                                            htmlAttributes = new
                                                            {
                                                               @class = "txtExpYear inputEx expYear",
                                                               maxlength = "4",
                                                               placeholder = "-Year-" ,
                                                               form = ViewBag.Form
                                                            }
                                                         })*@
                                                      <datalist id="yearList">
                                                         @for (var i = 2000; i < 2050; i++)
                                                         {
                                                            <option value="@i">@i</option>
                                                         }
                                                      </datalist>
                                                   </td>
                                                </tr>
                                             </table>
                                          </div>
                                          <div id="divExpDateRO" style="display: none;">
                                             <table>
                                                <tr>
                                                   <td><input class="inputEx noExpDate" placeholder="No Expiration Date" type="text" value="" readonly /></td>
                                                </tr>
                                             </table>
                                          </div>
                                       </td>
                                       <td style="width: 1px; padding: 0px 0px 0px 10px;">
                                          <input id="btnNoExp" class="buttonEx noexpKey" type="button" value="No&nbsp;Exp Date" />
                                       </td>
                                       <td style="width: 1px; padding: 0px 0px 0px 10px;">
                                          <input id="btnReset" class="buttonEx resetKey" data-field-value="@ViewBag.Return"  type="button" value="Reset" />
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                              <script>

                                 $(".scroll-year").slick({
                                    slidesToShow: 5,
                                    slidesToScroll: 5,
                                    arrows: false,
                                    infinite: false
                                 });


                                 var index = 28;
                                 if ($(".txtExpYear").val() !== "")
                                 {
                                    var $yearButton = $("#lotDate .yearKey[value=" + $(".txtExpYear").val() + "]");
                                    if ($yearButton.length)
                                    {
                                       index = $yearButton.parent().attr("data-slick-index");
                                    }
                                 }

                                 $(".scroll-year").slick("slickGoTo", index);
                              </script>
                           </td>
                        }
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td class="QnexMessage">
                  <table style="width: 100%;">
                     <tr>
                        <td class="" style="width: 55%">
                           <table>
                              <tr id="missingLotNumberError" class="QnexCaption error" hidden><td>No lot number was entered, please enter the product lot number information to continue.</td></tr>
                              <tr id="missingExpirationDateError" class="QnexCaption error" hidden><td>The expiration date has not been completed, please enter the expiration date information to continue.</td></tr>
                              <tr id="dateOutOfRangeError" class="QnexCaption error" hidden><td>The product's expiration date is too far out of date range. Please enter a valid expiration date.</td></tr>

                              <tr id="lotNumberNotFoundWarning" class="QnexCaption warning" hidden><td>The lot number entered was not found in the database. Please confirm that the lot number was entered correctly.</td></tr>
                              <tr id="expDateNotFoundWarning" class="QnexCaption warning" hidden><td>The expiration date for this lot was not found in the database. Please enter the expiration date.</td></tr>
                              <tr id="dateOutOfRangeWarning" class="QnexCaption warning" hidden><td>The expiration date entered is out of normal date range. Please confirm that the expiration date was entered correctly.</td></tr>
                              <tr id="lotNumberVerificationWarning" class="QnexCaption warning" hidden><td>The lot number entered does not match the induction lot number. Please confirm that the lot number was entered correctly.</td></tr>
                              <tr id="lotNumberEntryWarning" class="QnexCaption warning" hidden><td>The lot number entered does not match the induction lot number. Please confirm that the lot number was entered correctly.</td></tr>
                           </table>
                        </td>
                        <td class="QnexCommand">
                           @if (!string.IsNullOrWhiteSpace(ViewBag.Cancel))
                           {
                              <input id="lotCancel" class="ql-policy-cancel buttonEx cmdKey" data-ql-next="@ViewBag.Next" type="button" value="Cancel" style="margin-right:10px;" data-field-name="CancelLotNumber" />
                              <script>
                                 $("#lotDate .QnexCommand").css("width", "200px");
                              </script>
                           }
                           else
                           {
                              <input id="CNTRCDTN_PRSCRPTN_LBL" value="PrscrptnLbl" type="checkbox" name="condition" hidden /><label id="prescriptionLabel" style="width: 135px; margin-bottom: 0; vertical-align: top; padding-top: 8px" class="cmdLabel buttonEx cmdKey" for="CNTRCDTN_PRSCRPTN_LBL" hidden>Prescription</label>
                              <input id="CNTRCDTN_TORN_LBL" value="Label" type="checkbox" name="condition" hidden /><label id="tornLabel" style="width: 135px; margin-bottom: 0; vertical-align: top; padding-top: 8px" class="cmdLabel buttonEx cmdKey" for="CNTRCDTN_TORN_LBL" hidden>Torn/Can't Read</label>
                           }
                           <input id="lotContinue" class="@if (string.IsNullOrWhiteSpace(ViewBag.ContinueClass)) {@:ql-policy-continue buttonEx cmdKey
                               } else {@: @ViewBag.ContinueClass buttonEx cmdKey
                        } " data-ql-next="@ViewBag.Next" type="button" value="Continue" />
                        </td>
                     </tr>
                  </table>
                  <script> $("#lotContinue").on("click", checkForLotAwait)</script>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
