﻿@model Qualanex.Qosk.Library.Model.UPAModel.UPAMenu.menuItem
@{
   if (Model.AppCode.Equals("SEPERATOR"))
   {
      <tr><td colspan="2"><h2 class="menuSep"><span></span></h2></td></tr>
   }
   else
   {
      if (Model.Submenu.Count > 0)
      {
         <tr>
            <td>
               <table class="menuParent">
                  <tr>
                     <td style="width: 100%;">
                        <table>
                           <tr class="menuSubMenu">
                              <td class="menuLabel"><div class="menuPix"><img class="menuImg menuGrp" src="~/Images/Menu/QMenu(@(Model.IsExpanded ? "1" : "2")).svg" alt=""></div>@Model.DisplayFormat</td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="menuIndent">
                        <div class="menuBlock" style="display: @(Model.IsExpanded ? "block" : "none")">
                           <table>
                              @{
                                 foreach (var menuItem in Model.Submenu)
                                 {
                                    @Html.Partial("_MenuContent", menuItem)
                                 }
                              }
                           </table>
                        </div>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      }
      else if (string.IsNullOrEmpty(Model.RouteValue))
      {
         <tr class="menuItem" onclick="location.href='@HttpUtility.UrlDecode(Url.Action(Model.Action, Model.Controller, new {area = Model.Area}))'">
            <td class="menuLabel"><div class="menuPix"><img class="menuImg" src="" alt=""></div>@Model.DisplayFormat</td>
         </tr>
      }
      else
      {
         <tr class="menuItem" onclick="location.href = '@Url.Action(Model.Action, Model.Controller, new { area = Model.Area, ReportId = Model.RouteValue })'">
            <td class="menuLabel"><div class="menuPix"><img class="menuImg" src="" alt=""></div>@Model.DisplayFormat</td>
         </tr>
      }
   }
}
