﻿@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using EntityFramework.Reflection
@using Microsoft.Ajax.Utilities
@{
   var messageBoxId = "MessageBox_" + Guid.NewGuid();
   var hiddenInput = messageBoxId + "_hidden";
}

<div class="custom-messageBox" style="z-index:9999;" id="@messageBoxId">

   <div class="custom-search-messageBox" style="margin:0px auto">
      <img class="close-button-messageBox" src="~/images/SVG/Escape.svg" />
      <div id="CustomMessageBoxEntity" style="max-height:450px;height:auto">

      </div>
      <div id="CustomMessageBoxVerification" style="overflow:auto;max-height:450px;width:100%;display:none">
         <input type="hidden" id="VerificationHiddenNotes" />
         <div class="messages">

         </div>
         <div class="textboxes QoskLogin" style="background-image:none;width:30%;margin:0px auto">
            <table style="">
               <tr>
                  <td class="txEx" style="padding-bottom: 4px;">
                     <input class="inputEx" data-val="true" data-val-length="The field User Name must be a string with a maximum length of 20." placeholder="Username" data-val-length-max="20" data-val-required="User Name is required" maxlength="20" id="UserName" autocomplete="off" minlength="4" tabindex="1" />
                  </td>
                  <td rowspan="2" style="padding-left: 7px;" tabindex="3">
                    
                  </td>
               </tr>
               <tr>
                  <td class="txEx" style="padding-bottom: 4px;">
                     <input class="inputEx" placeholder="Password" tabindex="2" type="text" autocomplete="off" id="Password" style="-webkit-text-security: disc"/>
                  </td>
               </tr>
               <tr><td colspan="2" class="tdEx QoskError" id="alertMessageID">&nbsp;</td></tr>
            </table>
         </div>
         <div class="buttons" style="width:100%;margin:0px auto;text-align:center">
            
         </div>
      </div>
   </div>
</div>
