﻿
@model IEnumerable<Qualanex.QoskCloud.Entity.EditProductWithLot>

@{

    WebGrid grid = new WebGrid(source: Model, ajaxUpdateCallback: "GetPharmacyDetails",  canSort: false,rowsPerPage:500);
    //grid.Pager(WebGridPagerModes.NextPrevious);
}


@if (Model != null)
{
    @grid.GetHtml(
    htmlAttributes: new { id = "gridTprofile", width = "700px" },
    columns: grid.Columns(
        //grid.Column(header: "{checkall}", format: (item) => Html.CheckBox("assignChkBx", false, new { @class = "check-box", value = item.order.ProfileCode + "_" + item.order.ProductID })),
       @*grid.Column(format: @<text><input class="check-box" id="assignChkBx" name="assignChkBx" type="checkbox" value="" /></text>, header: "{checkall}"),*@
     grid.Column("PrfType.Type", "Type", format: @<text><span data-id='@item.PrfType.Type'>@item.PrfType.Type</span></text>),
   //grid.Column("order.Description", "Description"),
   //grid.Column("order.Strength", "Strength"),

   grid.Column(format: (item) =>
   {
       WebGrid subGrid = new WebGrid(source: item.PrfDetails, rowsPerPage: 500);
       return subGrid.GetHtml(

           htmlAttributes: new { id = "subTprofile" },
           columns: subGrid.Columns(
           subGrid.Column(header: "{checkallProfile}", format: (PrfDetails) => Html.CheckBox("profileInsidegrd", PrfDetails.Assigned==true?true:false, new { @class = "profiledetails-class", value = PrfDetails.ProfileCode })),
           subGrid.Column(header: "Name", format: (PrfDetails) => string.Format("{0:dd-MM-yyyy}", PrfDetails.Name)),
             subGrid.Column(header: "Address", format: (PrfDetails) => string.Format("{0:dd-MM-yyyy}", PrfDetails.Address1)),
                subGrid.Column(header: "City", format: (PrfDetails) => string.Format("{0:dd-MM-yyyy}", PrfDetails.City)),
                    subGrid.Column(header: "State", format: (PrfDetails) => string.Format("{0:dd-MM-yyyy}", PrfDetails.State))
           //subGrid.Column(header: "Expiration Date", format: (orderDetails) => string.Format("{0:dd-MM-yyyy}", orderDetails.ExpirationDate))
               )
           );
   })
   )
   )
}
    @*</div>*@



    <script type="text/javascript">
        $(document).ready(function () {

          

            var size = $("#main #gridTprofile > thead > tr >th").size(); // get total column
            $("#main #gridTprofile > thead > tr >th").last().remove(); // remove last column
            $("#main #gridTprofile > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
            $("#main #gridTprofile > tbody > tr").each(function (i, el) {
                $(this).prepend(
                        $("<td></td>")
                        .addClass("expand")
                        .addClass("hoverEff")
                        .attr('title', "click for show/hide")
                    );

                //Now get sub table from last column and add this to the next new added row
                var table = $("table", this).parent().html();
                //add new row with this subtable
                $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
                $("table", this).parent().remove();
                // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
                $(".hoverEff", this).click(function () {
                    //alert("sasd");
                    $(this).parent().closest("tr").next().slideToggle(100);
                    $(this).toggleClass("expand collapse");
                });
            });

            //by default make all subgrid in collapse mode
            $("#main #gridTprofile > tbody > tr td.expand").each(function (i, el) {
                $(this).toggleClass("expand collapse");
                $(this).parent().closest("tr").next().slideToggle(100);
            });

            //// 1st replace first column header text with checkbox

            //$("#gridTprofile th").each(function () {

            //    if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {

            //        $(this).text('');
            //        $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
            //        $(this).append("<span>Select All</span>");
            //    }
            //});

            ////2nd click event for header checkbox for select /deselect all
            //$("#cbSelectAll").click(function () {
            //    var ischecked = this.checked;
            //    $('#gridTprofile').find("input:checkbox").each(function () {
            //        this.checked = ischecked;
            //    });
            //});


            ////3rd click event for checkbox of each row
            //$("input[name='ids']").click(function () {
            //    var totalRows = $("#gridTprofile td :checkbox").length;
            //    var checked = $("#gridTprofile td :checkbox:checked").length;

            //    if (checked == totalRows) {
            //        $("#gridTprofile").find("input:checkbox").each(function () {
            //            this.checked = true;
            //        });
            //    }
            //    else {
            //        $("#cbSelectAll").removeAttr("checked");
            //    }
            //});




            $("#subTprofile th").each(function () {
              

                if ($.trim($(this).text().toString().toLowerCase()) === "{checkallprofile}") {
                
                    $(this).text('');
                    $("<input/>", { type: "checkbox", id: "cbSelectAllprofile", value: "" , class:"selecctallgrd selectToAllpharmacyClass"}).appendTo($(this));
                    $(this).append("<span>Select All</span>");

                    //$('input[id="assignChkBx"]').each(function (i, n) {
                    //    var select = $(this).closest('tr').find('#cbSelectAllprofile');
                    //    $(select).val($(this).val());
                    //});
                }
            });

            //2nd click event for header checkbox for select /deselect all
            $(".selectToAllpharmacyClass").click(function () {
                //alert("check");
                var ischecked = this.checked;
                //$(".lotchecked-class").find("input:checkbox").each(function () { this.checked = ischecked; })

                $(this).closest('#subTprofile').find("input:checkbox").each(function () {
                    //alert("checked");
                    this.checked = ischecked;
                });
            });


            //3rd click event for checkbox of each row
            $("input[name='ids']").click(function () {
                var totalRows = $("#subTprofile td :checkbox").length;
                var checked = $("#subTprofile td :checkbox:checked").length;

                if (checked == totalRows) {
                    $("#subTprofile").find("input:checkbox").each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $("#cbSelectAllprofile").removeAttr("checked");
                }
            });




            //$("#gridT > tbody > tr").each(function () {

            //    try {
            //        var CB = $(this).find("input[type='checkbox']");
            //        var CBC = $(CB).is(':checked');

            //        if (CBC == true) {
            //            var VAYURSSADFSD = $(CB).attr('value');
            //            alert(VAYURSSADFSD);

            //            var LastTd = $(this).last('td');
            //            var InnerTable = $(LastTd).find("table[id=subT]");
            //            if (InnerTable != undefined) {
            //                $(InnerTable).each(function () {

            //                    var theValue = $(this).find("input[type='checkbox']:checked").attr('value');
            //                    alert(theValue);
            //                });
            //            }
            //        }
            //    } catch (e) {

            //    }

            //});

            $(".profiledetails-class:checked").attr("disabled", "disabled");

        });





    </script>

    <style>
            /*th, td {
            padding: 5px;
        }

        th {
            background-color: rgb(248, 248, 248);
        }*/

        #gridTprofile, #gridTprofile tr {
            border: 1px solid #0D857B;
        }

        #subTprofile, #subTprofile tr {
            border: 1px solid #f3f3f3;
        }

        #subTprofile {
            margin: 0px 0px 0px 10px;
            padding: 5px;
            width: 95%;
        }

            #subTprofile th {
                font-size: 12px;
            }

            .hoverEff {
                cursor: pointer;
            }

                .hoverEff:hover {
                    background-color: rgb(248, 242, 242);
                }

            .expand {
                background-image: url(/Images/InsideGrid/pm.png);
                background-position-x: -22px;
                background-repeat: no-repeat;
            }

            .collapse {
                background-image: url(/Images/InsideGrid/pm.png);
                background-position-x: -2px;
                background-repeat: no-repeat;
            }
    </style>