﻿@using MyResource =Qualanex.QoskCloud.Web.Resources.PolicyResource
@model Qualanex.QoskCloud.Entity.ResponsePolicy

@{

    Dictionary<string, string> ProductExpiresWithinStartandEnd = new Dictionary<string, string>();
    ProductExpiresWithinStartandEnd.Add("First Day of Month", "true");
    ProductExpiresWithinStartandEnd.Add("Last Day of Month", "false");
}


@{
    Dictionary<string, string> PolicyDict = new Dictionary<string, string>();
    PolicyDict.Add("Published Policy", "Published");
    PolicyDict.Add("Custom Policy", "Custom");
}


@{
    Dictionary<string, string> AuthorizeforCreditConsiderationdict = new Dictionary<string, string>();
    AuthorizeforCreditConsiderationdict.Add("All Accounts", "All Accounts");
    AuthorizeforCreditConsiderationdict.Add("No Accounts", "No Accounts");
    AuthorizeforCreditConsiderationdict.Add("Direct Accounts Only", "Direct Accounts Only");
}



 

    <div class="main-container">
        @*<div class="product-list">*@
        <h2>Add New Profile to Existing Policy</h2>
    <div class="policydiv">
        <div class="col-49per">
            <div class="input-ctrl">
                <label>Select Policy</label>
                <div class="field">
                    @Html.DropDownListFor(model => model.SelectedPolicyType, new SelectList(PolicyDict, "Value", "Key", ""), "Select", new {@disabled="disabled" ,@class="required"})
                </div>
            </div>
         @if(Model.SelectedPolicyType=="Custom")
            { 
            <span >
                <div class="input-ctrl">
                    <label>Policy Name</label>
                    <div class="field">
                      
                        @Html.TextBoxFor(model => model.PolicyName, new { @disabled = "disabled", @class = "required" })
                    </div>
                </div>
            </span>
          
            }
        </div>
        @*&& Model.PolicyTypeFlag == MyResource.CustomerBasedPolicy*@
        @if (Model.SelectedPolicyType == "Custom" )
        { 
        <div class="col-49per" id="select-profile-group-type" >

            <div class="input-ctrl">
                <label>Select Type</label>
                <div class="field select-type">
@if (Model.lstType != null && Model.PolicyTypeFlag == MyResource.ProfileType)
                            {
                    <input type="radio" value="True" name="select-type" id="profile-type">
                    <label for="profile-type" class="css-label radGroup1 radGroup1">Profile Type</label>
}
@if (Model.lstGroupType != null && Model.PolicyTypeFlag == MyResource.GroupType)
                            {
                    <input type="radio" value="False" name="select-type" id="group-type">
                    <label for="group-type" class="css-label radGroup1 radGroup1">Group Type</label>
}
                </div>
            </div>
@if (Model.lstType != null && Model.PolicyTypeFlag == MyResource.ProfileType)
                            {
            <div class="cus-profile-type">
                <div class="input-ctrl">

                    <label>Profile Type</label>
                    <div class="select-chk">
                        <ul class="chk-container">
                            <li><label><input type="checkbox" class="selecctall" /><i></i> Select All</label></li>
                         
                                @foreach (var item in Model.lstType)
                                {
                                    <li><label><input class="checkbox1" value="@item" type="checkbox"><i></i>@item</label></li>
                                }
                        
                        </ul>

                    </div>
                          
                </div>
            </div>
}
@if (Model.lstGroupType != null && Model.PolicyTypeFlag == MyResource.GroupType)
                            {
            <div class="cus-group-type">
                <div class="input-ctrl">

                    <label>Group Type</label>
                    <div class="select-chk">
                        <ul class="chk-container">
                            <li><label><input type="checkbox" class="selecctall" /><i></i> Select All</label></li>
                     
                                @foreach (var item in Model.lstGroupType)
                                {
                                    <li><label><input class="checkboxgroup-type" value="@item.ProfileGroupID" type="checkbox"><i></i>@item.GroupName</label></li>
                                }
                          

                        </ul>
                    </div>

                </div>
            </div>
}
            <div class="lot-btn-table">
                <input type="button" id="getprofiledetails_button" value="Get Profile" class="blue-btn" style="display:none;float:right" />
            </div>
        </div>
        }

    </div>
    <div class="clear"></div>
        <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
            <img src='~/Content/images/loader.gif' width="64" height="64" /><br>Loading..
        </div>
    <div class="custom-table cus-sel-table1" id="pharmacy-list-grd" style="display:none">
        <h1>Pharmacy details</h1>
        <div id="partialPharmacyListGrd" class="table-scroll">
        </div>

    </div>

    <div class="policydiv" id="radio-list-manufacture-wholesaler-repackager">

        <div class="col-49per">
            <div class="input-ctrl">
                <label>Select Profile for Policy</label>
                <div class="field">
                    @if (Model.SelectedMWRType == "Manufacturer")
                    { 
                    <input type="radio" value="True" name="select-profile" id="manufacture-profile">
                    <label for="manufacture-profile" class="css-label radGroup1 radGroup1">Manufacturer</label>
                    }
                    @if (Model.SelectedMWRType == "ManufacturerGroup")
                    {
                    <input type="radio" value="False" name="select-profile" id="manufacture-profile-group">
                    <label for="manufacture-profile-group" class="css-label radGroup1 radGroup1">Manufacturer Group</label>
                    }
                    @if (Model.SelectedMWRType == "Wholesaler")
                    {
                    <input type="radio" value="False" name="select-profile" id="wholesaler-profile">
                    <label for="wholesaler-profile" class="css-label radGroup1 radGroup1">Wholesaler</label>
                    }
                    @if (Model.SelectedMWRType == "WholesalerGroup")
                    {
                    <input type="radio" value="False" name="select-profile" id="wholesaler-profile-group">
                    <label for="wholesaler-profile-group" class="css-label radGroup1 radGroup1">Wholesaler Group</label>
                    }
                    @if (Model.SelectedMWRType == "Repackager")
                    {
                    <input type="radio" value="False" name="select-profile" id="repackager-profile">
                    <label for="repackager-profile" class="css-label radGroup1 radGroup1">Repackager</label>
                    }
                </div>
            </div>

        </div>



        <div class="col-49per profile-type-radio-all">
@if (Model.SelectedMWRType == "Manufacturer")
                    {
            <span class="cus-manufa">
                <div class="input-ctrl">
                    <label>Manufacturer</label>
                    <div class="select-chk" id="manufacure-check-list">
                    </div>

                </div>
            </span>
}
@if (Model.SelectedMWRType == "ManufacturerGroup")
                    {
            <span class="cus-manufa2">
                <div class="input-ctrl">
                    <label>Manufacturer Group</label>
                    <div class="select-chk" id="manufacture-group-check-list">

                    </div>

                </div>
            </span>
}
@if (Model.SelectedMWRType == "Wholesaler")
                    {
            <span class="cus-manufa3">
                <div class="input-ctrl">
                    <label>Wholesaler</label>
                    <div class="select-chk" id="wholesaler-check-list">

                    </div>

                </div>
            </span>
}
@if (Model.SelectedMWRType == "WholesalerGroup")
                    {
            <span class="cus-manufa4">
                <div class="input-ctrl">
                    <label>Wholesaler Group</label>
                    <div class="select-chk" id="wholesaler-group-check-list">
                    </div>
                </div>
            </span>
}
@if (Model.SelectedMWRType == "Repackager")
                    {
            <span class="cus-manufa5">
                <div class="input-ctrl">
                    <label>Repackager</label>
                    <div class="select-chk" id="repackager-check-list">
                    </div>

                </div>
            </span>
}


        </div>


    </div>

    <div class="lot-btn-table" id="prddivbutton" style="display:none">
        <input type="button" id="getproductdetails_button" value="Get Product" class="blue-btn" />
    </div>
        @Html.HiddenFor(model => model.PolicyID);
    <div class="clear"></div>





    <div class="custom-table cus-sel-table1" id="product-grd-manufacturebased" style="display:none">
        <h1>
            Product details with lot number
        </h1>

        <div id="partialProductListGrd" class="table-scroll">


        </div>

    </div>

    <div class="lot-btn-table">
        <input type="button" id="getBlotbyproductid_button" value="Get Lot Number" style="visibility:collapse" class="blue-btn" />
    </div>

    <div class="clear"></div>
    @*<div class="product-table cus-prolot-table">*@
    <div class="custom-table cus-sel-table1" style="display:none" id="lot-grd-productebased">
        <h1>Select multiple lot for specific NDC</h1>


        <table id="lotbasedonproductgrd" style="overflow-y:scroll; height:100px">
            <thead>
                <tr>
                    <th width="50">
                        <label>
                            <input type="checkbox" value="true" name="IsDelete" class="selecctallgrd"><i></i>
                        </label>
                    </th>
                    <th>NDCWithDashes</th>
                    <th>Lot Number</th>
                    <th>Manufacture / Repackager Name</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
   @*</div>*@
        <div style="text-align:center">

            <input type="button" id="btnPolicyStepOneprofileUpdate" class="blue-btn next-click" value="Update" />

        </div>
        <div class="backtosearch">
            @Html.ActionLink("« Back to search results", "Index")
        </div>

</div>


   


<script>
    
    $(document).ready(function () {

        $('.select-chk').on('click', '.manfacturecheckclass', function () {
            if ($("#SelectedPolicyType").val() == 'Published') {
                $('.manfacturecheckclass').not(this).prop('checked', false);
                $('.wholesalercheckclass').not(this).prop('checked', false);
                //$('.manfacturecheckclass').not(this).prop('checked', false);

            }
        });
        $('.select-chk').on('click', '.wholesalercheckclass', function () {
            if ($("#SelectedPolicyType").val() == 'Published') {

                $('.wholesalercheckclass').not(this).prop('checked', false);
                //$('.manfacturecheckclass').not(this).prop('checked', false);

            }
        });
        $('.select-chk').on('click', '.repackagercheckclass', function () {
            if ($("#SelectedPolicyType").val() == 'Published') {
                $('.repackagercheckclass').not(this).prop('checked', false);
                //$('.manfacturecheckclass').not(this).prop('checked', false);

            }
        });

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#wait").css("display", "block");
            });
            $(document).ajaxComplete(function () {
                $("#wait").css("display", "none");
            });

        });


        $("#profile-type").click(function () {
            $(".cus-profile-type").show();
            $(".cus-group-type").hide();
            $("#getprofiledetails_button").css("display", "block");
        });
        $("#group-type").click(function () {
            $(".cus-profile-type").hide();
            $(".cus-group-type").show();
            $("#getprofiledetails_button").css("display", "block");
        });
        $('.cus-group-type option, .cus-profile-type option').click(function () {
            $(".cus-sel-table").show();
        });
        $("#manufacture-profile").click(function () {
            $(".cus-manufa").show();
            $(".cus-manufa2").hide();
            $(".cus-manufa3").hide();
            $(".cus-manufa4").hide();
            $(".cus-manufa5").hide();
        });
        $("#manufacture-profile-group").click(function () {
            $(".cus-manufa").hide();
            $(".cus-manufa2").show();
            $(".cus-manufa3").hide();
            $(".cus-manufa4").hide();
            $(".cus-manufa5").hide();
        });
        $("#wholesaler-profile").click(function () {
            $(".cus-manufa").hide();
            $(".cus-manufa2").hide();
            $(".cus-manufa3").show();
            $(".cus-manufa4").hide();
            $(".cus-manufa5").hide();
        });
        $("#wholesaler-profile-group").click(function () {
            $(".cus-manufa").hide();
            $(".cus-manufa2").hide();
            $(".cus-manufa3").hide();
            $(".cus-manufa4").show();
            $(".cus-manufa5").hide();
        });
        $("#repackager-profile").click(function () {
            $(".cus-manufa").hide();
            $(".cus-manufa2").hide();
            $(".cus-manufa3").hide();
            $(".cus-manufa4").hide();
            $(".cus-manufa5").show();
        });
        $('.cus-manufa option, .cus-manufa2 option, .cus-manufa3 option, .cus-manufa4 option, .cus-manufa5 option').click(function () {
            $(".cus-pro-table").show();
        });
        $(".lot-btn-table input[type='button']").click(function () {
            $(".cus-prolot-table").show();
        });
        //$(".selecctall").click(function () {

        //    var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
        //    if ($(this).attr('class') != 'selecctall') {
        //        $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
        //    } else {
        //        myCheckBox.prop("checked", this.checked);
        //    }
        //});
        //$(".select-chk").on("click", "input[type='checkbox']", function () {

        //    var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
        //    if ($(this).attr('class') != 'selecctall') {
        //        $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
        //    } else {
        //        myCheckBox.prop("checked", this.checked);
        //    }
        //});

        $(".select-chk").on("click", "input[type='checkbox']", function () {
            //$('.select-chk').not(this).prop('checked', false);

            var myCheckBox = $($(this).parent().parent().parent()).find("input[type='checkbox']")
            if ($(this).attr('class') != 'selecctall') {
                if ($("#SelectedPolicyType").val() == 'Custom') {
                    $(this).parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
                }
            } else {
                myCheckBox.prop("checked", this.checked);
            }
        });

        $(".selecctallgrd").click(function () {

            var myCheckBox = $($(this).parent().parent().parent().parent()).find("input[type='checkbox']")
            if ($(this).attr('class') != 'selecctallgrd') {
                $(this).parent().parent().parent().parent().children().eq(0).children().eq(0).children().eq(0).prop("checked", false);
            } else {
                myCheckBox.prop("checked", this.checked);
            }
        });

        $("#profile-type, #group-type, #manufacture-profile").click(function () {
            var listsel = $(".chk-container").height();
            if (listsel > 80) {
                $(".chk-container").css({ "height": "80px", "overflow-y": "scroll" });
            }
        });
        $(".collpse-policy2").click(function () {
            $(".collpse2").slideToggle();
            $(".collpse1").slideUp();
        });
        $(".collpse-policy1").click(function () {
            $(".collpse1").slideToggle();
            $(".collpse2").slideUp();
        });
        $('#tab-container').easytabs();
        $('#tab-container1').easytabs();


        $('#getprofiledetails_button').click(function () {
           

            var SelectedPolicyID = $("#PolicyID").val();

            var SelectionType;
            var checkedprofile = $('.checkbox1:checked').map(function () {
                SelectionType = "ProfileType"
                return this.value;
            }).get();

            if (checkedprofile.length < 1) {
                checkedprofile = $('.checkboxgroup-type:checked').map(function () {
                    SelectionType = "GroupType"
                    return this.value;
                }).get();
            }


            if (checkedprofile.length > 0 || checkedprofiledetails.length>0) {
                //$("#radio-list-manufacture-wholesaler-repackager").css("display", "block");
                //$("#prddivbutton").css("visibility", "visible");
            }
            else { return false; }

            $.ajax({
                
                @*url: '@Url.Action("PharmacyDetailsBasedonProfileAndGroupTypeforStepOne")',*@
                url: "../Policy/PharmacyDetailsBasedonProfileAndGroupTypeforStepOne",
                data: { checkedprofile: checkedprofile.toString(), SelectionType: SelectionType, SelectedPolicyID: SelectedPolicyID },
                success: function (data) {
                    $("#partialPharmacyListGrd").html(data)

                    $("#pharmacy-list-grd").css("display", "block");
                },
                error: function (response) {
                    alert(response);
                    if (response.status != 0) {
                        alert(response.status + " " + response.statusText);
                    }
                }
            });

        });


       

        $('input[type="radio"]').click(function () {
            var policyType = $("#SelectedPolicyType").val();
            var policyID = $("#PolicyID").val();

            if ($(this).attr("id") == "manufacture-profile") {
                var url = '@Url.Content("~/Policy/BindManufactureRepackagerWholesalerforStepOne")';
                $.getJSON(url, { Ptype: 'Manufacturer',policyID:policyID }, function (data) {
                    if (policyType == "Published") {
                        var html = "<ul class=\"chk-container\">";
                        $.each(data, function (i, item) {
                            // SelectedProfileCode
                            if (item.SelectedProfileCode != null) {
                                html += "<li><label><input type=\"checkbox\" class=\"manfacturecheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" checked=\"checked\" disabled=\"disabled\"/><i></i>" + item.Name + "</label></li>"
                            }
                            else { html += "<li><label><input type=\"checkbox\" class=\"manfacturecheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\"  /><i></i>" + item.Name + "</label></li>" }
                        });
                        html += "</ul>";
                        $("#manufacure-check-list").html(html);
                        $("#prddivbutton").css("display", "none");
                    }
                    else if (policyType == "Custom") {
                        var html = "<ul class=\"chk-container\"><li><label><input type=\"checkbox\" class=\"selecctall\" id=\"MWR-Manufacture\" ><i></i>Select All</label></li>";
                    $.each(data, function (i, item) {
                        // SelectedProfileCode
                        if (item.SelectedProfileCode != null) {
                            html += "<li><label><input type=\"checkbox\" class=\"manfacturecheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" checked=\"checked\" disabled=\"disabled\"/><i></i>" + item.Name + "</label></li>"
                        }
                        else { html += "<li><label><input type=\"checkbox\" class=\"manfacturecheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\"  /><i></i>" + item.Name + "</label></li>" }
                    });
                    html += "</ul>";
                    $("#manufacure-check-list").html(html);
                    $("#prddivbutton").css("display", "Block"); }
                });

            }
            if ($(this).attr("id") == "wholesaler-profile") {
                var url = '@Url.Content("~/Policy/BindManufactureRepackagerWholesaler")';
                $.getJSON(url, { Ptype: 'Wholesaler', policyID: policyID }, function (data) {
                    if (policyType == "Published") {
                        var html = "<ul class=\"chk-container\">";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"wholesalercheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" /><i></i>" + item.Name + "</label></li>"
                        });
                        html += "</ul>";
                        $("#wholesaler-check-list").html(html);
                        $("#prddivbutton").css("display", "none");
                    }
                    else  if (policyType == "Custom") {
                        var html = "<ul class=\"chk-container\"><li><label><input type=\"checkbox\" id=\"cb_MWR_Wholesaler\" class=\"selecctall\"  ><i></i>Select All</label></li>";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"wholesalercheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" /><i></i>" + item.Name + "</label></li>"
                        });
                        html += "</ul>";
                        $("#wholesaler-check-list").html(html);
                        $("#prddivbutton").css("display", "none");}
                });

            }
            if ($(this).attr("id") == "repackager-profile") {
                var url = '@Url.Content("~/Policy/BindManufactureRepackagerWholesaler")';
                $.getJSON(url, { Ptype: 'Repackager', policyID: policyID }, function (data) {
                    if (policyType == "Published") {
                        var html = "<ul class=\"chk-container\">";
                        $.each(data, function (i, item) {
                            html += "<li><label><input type=\"checkbox\" class=\"repackagercheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" /><i></i>" + item.Name + "</label></li>"
                        });
                        html += "</ul>";
                        $("#repackager-check-list").html(html);
                        $("#prddivbutton").css("display", "none");
                    }
                    else if (policyType == "Custom")
                    {   var html = "<ul class=\"chk-container\"><li><label><input type=\"checkbox\" id=\"cb_MWR_Repackager\" class=\"selecctall\"  ><i></i>Select All</label></li>";
                    $.each(data, function (i, item) {
                        html += "<li><label><input type=\"checkbox\" class=\"repackagercheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileCode + "\" /><i></i>" + item.Name + "</label></li>"
                    });
                    html += "</ul>";
                    $("#repackager-check-list").html(html);
                    $("#prddivbutton").css("display", "Block");}
                });
            }
            if ($(this).attr("id") == "wholesaler-profile-group") {
                var url = '@Url.Content("~/Policy/BindManufactureRepackagerWholesaler")';
                $.getJSON(url, { Ptype: 'WholesalerGroup', policyID: policyID }, function (data) {

                    var html = "<ul class=\"chk-container\"><li><label><input type=\"checkbox\" id=\"cb_MWR_WholesalerGroup\" class=\"selecctall\"  ><i></i>Select All</label></li>";
                    $.each(data, function (i, item) {
                        html += "<li><label><input type=\"checkbox\" class=\"wholesalergroupcheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                    });
                    html += "</ul>";
                    $("#wholesaler-group-check-list").html(html);
                    $("#prddivbutton").css("display", "none");
                });
            }
            if ($(this).attr("id") == "manufacture-profile-group") {
                var url = '@Url.Content("~/Policy/BindManufactureRepackagerWholesaler")';
                $.getJSON(url, { Ptype: 'ManufacturerGroup', policyID: policyID }, function (data) {

                    var html = "<ul class=\"chk-container\"><li><label><input type=\"checkbox\" id=\"cb_MWR_ManufactureGroup\" class=\"selecctall\"  ><i></i>Select All</label></li>";
                    $.each(data, function (i, item) {
                        html += "<li><label><input type=\"checkbox\" class=\"manufacturegroupcheckclass\" id=\"cb_" + i + "\" value=\"" + item.ProfileGroupID + "\" /><i></i>" + item.GroupName + "</label></li>"
                    });
                    html += "</ul>";
                    $("#manufacture-group-check-list").html(html);
                    $("#prddivbutton").css("display", "none");
                });
            }

        });

        //});
     
        $('#btnPolicyStepOneprofileUpdate').click(function () {
          

         

            var checkedProductWithLot;
            var checkedSelectAllProduct;
            var check = $("#cbSelectAll").prop("checked");
            if (check) {
                checkedSelectAllProduct = $('#cbSelectAlllot:checked').map(function () { return this.value; }).get();
                checkedProductWithLot = $('.check-box:checked').map(function () {
                    return this.value;
                }).get();
            }
            else
            {
                checkedSelectAllProduct = $('#cbSelectAlllot:checked').map(function () { return this.value; }).get();

           
                 checkedProductWithLot = $('.lotchecked-class:checked:not(:disabled)').map(function () { return this.value; }).get();
              

              //var hghg=  $('.lotchecked-class:checked').filter(function() {
              //      return !this.disabled && this.value;
              //})
              //alert(hghg);
                //var checkedProductWithLotnew = $('.lotchecked-class:checked').prop('disable', this.checked).map(function () { return this.value; });

                //checkedProductWithLot = $('.lotchecked-class:enable:checked').map(function () {
                //    return this.value;
                //}).get();
            }

            var SelectionType;
            var checkedprofilenew = $('.checkbox1:checked').map(function () {
                SelectionType = "ProfileType"
                return this.value;
            }).get();

            if (checkedprofilenew.length < 1) {
                checkedprofilenew = $('.checkboxgroup-type:checked').map(function () {
                    SelectionType = "GroupType"
                    return this.value;
                }).get();
            }

            var checkedprofile = $('.manfacturecheckclass:checked').map(function () {
                return this.value;
            }).get();

            var wholesalercheckedprofile = $('.wholesalercheckclass:checked').map(function () {
                return this.value;
            }).get();

            var repckagercheckedprofile = $('.repackagercheckclass:checked').map(function () {
                return this.value;
            }).get();

            //var checkedprofiledetails = $('.profiledetails-class:checked').map(function () {
            //    return this.value;
            //}).get();

            var checkedprofiledetails = $('.profiledetails-class:enabled:checked').map(function () {
                return this.value;
            }).get();

            if (checkedprofiledetails.length > 0) {

            }
            else {
                checkedprofiledetails = $('.checkboxgroup-type:checked').map(function () {
                    return this.value;
                }).get();
            }



            var WMRProfileCode;
            var ProfileType;
            if (checkedprofile != '') {
                WMRProfileCode = checkedprofile;
                ProfileType = 'Manufacturer';
            }
            if (wholesalercheckedprofile != '') {
                WMRProfileCode = wholesalercheckedprofile;
                ProfileType = 'Wholesaler';
            }

            if (repckagercheckedprofile != '') {
                WMRProfileCode = repckagercheckedprofile;
                ProfileType = 'Repackager';
            }
            var requestData =
              {
                  //Returnable Product Rules
                  PolicyID: $('#PolicyID').val(),
                  PolicyName: $('#PolicyName').val(),
                  NumberOfMonthsAfterExpirationReturnable: $('#NumberOfMonthsAfterExpirationReturnable').val(),
                  NumberOfMonthsBeforeExpirationReturnableSealed: $('#NumberOfMonthsBeforeExpirationReturnableSealed').val(),
                  NumberOfMonthsBeforeExpirationReturnableOpened: $('#NumberOfMonthsBeforeExpirationReturnableOpened').val(),
                  ExpiresOnFirstOfCurrentMonth: $('#ExpiresOnFirstOfCurrentMonth').val(),
                  OverstockApprovalRequired: $("input[name=OverstockApprovalRequired ]:checked").val(),
                  ARCOSReportable: $("input[name=ARCOSReportable]:checked").val(),
                  BrokenSealReturnable: $("input[name=BrokenSealReturnable]:checked").val(),
                  PrescriptionVialsReturnable: $("input[name=PrescriptionVialsReturnable]:checked").val(),
                  RepackagedIntoUnitDoseReturnable: $("input[name=RepackagedIntoUnitDoseReturnable]:checked").val(),
                  MissingLotNumberorExpDateNotReturnable: $("input[name=MissingLotNumberorExpDateNotReturnable]:checked").val(),
                  PartialsReturnable: $("input[name=PartialsReturnable]:checked").val(),
                  SelectedPolicyType: $('#SelectedPolicyType').val(),

                  //Pricing Rules
                  HandlingFee: $('#HandlingFee').val(),
                  UseDebitPricing: $('#UseDebitPricing').val(),
                  HandlingFeeExceptionForStatePartialPolicyLaw: $('#HandlingFeeExceptionForStatePartialPolicyLaw').val(),
                  AllowQuantityOverPackageSize: $("input[name=AllowQuantityOverPackageSize]:checked").val(),
                  DoNotUseFallThroughPrice: $("input[name=DoNotUseFallThroughPrice]:checked").val(),
                  UseWholeSalerDirectPriceWhenNoIndirect: $("input[name=UseWholeSalerDirectPriceWhenNoIndirect]:checked").val(),
                  AuthorizedForCreditConsideration: $('#AuthorizedForCreditConsideration').val(),
                  //Event Rules

                  PriorReturnAuthorizationRequired: $("input[name=PriorReturnAuthorizationRequired]:checked").val(),
                  DoNotUseFallThroughPrice: $("input[name=OverstockApprovalRequired]:checked").val(),
                  ReturnAuthorizationCompletionPercent: $('#ReturnAuthorizationCompletionPercent').val(),
                  ProfileGroupSelectionType:SelectionType
              };

            $.ajax({
                type: "POST",
                @*url: '@Url.Action("AddNewCustomerinExistingPolicyDetailsforStepOne", "Policy")',*@
                url: "../Policy/AddNewCustomerinExistingPolicyDetailsforStepOne",
                data: { 'requestData': requestData, 'checkedprofiledetails': checkedprofiledetails.toString(), 'checkedprofile': checkedprofile.toString(), 'checkedProductWithLot': checkedProductWithLot.toString(), 'wholesalercheckedprofile': wholesalercheckedprofile.toString(), 'checkedSelectAllProduct': checkedSelectAllProduct.toString(), 'WMProfileType': ProfileType, 'WMRProfileCode': WMRProfileCode.toString() },
                datatype: "json"

            }).done(function (data) {
                //Successfully pass to server and get response
                if (data.result = "OK") { alert("Update Success"); history.back() }
            }).fail(function (response) {

            });

        });





        $('#getproductdetails_button').click(function () {

            var PolicyID = $("#PolicyID").val();
            var checkedManufactureprofile = $('.manfacturecheckclass:checked').map(function () {
                return this.value;
            }).get();

            $.ajax({
                @*url: '@Url.Action("ProductsLotDetailsBasedOnSelectedManufactureforStepOne")',*@
                url: "../Policy/ProductsLotDetailsBasedOnSelectedManufactureforStepOne",
                data: { checkedManufactureprofile: checkedManufactureprofile.toString(), PolicyID: PolicyID },
                success: function (data) {
                    $("#partialProductListGrd").html(data)
                    $("#product-grd-manufacturebased").css("display", "block");
                },
                error: function (response) {
                    alert(response);
                    if (response.status != 0) {
                        alert(response.status + " " + response.statusText);
                    }
                }
            });

        });


        $(".next-click").click(function () {
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().hide();
            $(this).parent().parent().parent().prev().children().removeClass('active');
            $(this).parent().parent().parent().prev().children().children().removeClass('active');
            var aa = $(this).parent().parent().attr('id');
            var a1 = "a[href=#" + aa + "]";
            $(this).parent().parent().parent().prev().children().find(a1).parent().next().addClass('active').show();
            $(this).parent().parent().parent().prev().children().find(a1).parent().next().children().addClass('active').removeClass('disable-click');
        });


    });

</script>

@*@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PolicyStepOnePartial.js")"></script>
  
}*@
