﻿@*<script src="~/Scripts/jqxtree.js"></script>
<script src="~/Scripts/jqxexpander.js"></script>
<script src="~/Scripts/jqxsplitter.js"></script>*@

<div id="dvPolicyNumbers" style="display:none;" class="product-list">
    <div class="top_heading">
        <h1>Policy Details</h1>
        <div id="dvwhiteborderforpolicy" class="whiteborder">
        </div>

        <div class="clearfix"></div>
        <div class="whiteborder">
            <div id="splitter">
                <div style="overflow-y:auto;">
                    <div id='jQxPolicyNumbers' style="font-size: 13px; font-family: Verdana; float: left;">
                    </div>
                </div>
                <div id="ContentPanel" style="overflow:auto;">
                    <div class="clearfix"></div>
                    <div style='width: 100%; font-size:30px;text-align:center;'> Policy does not exist. </div>
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <div class="backtosearch">
                <a href="javascript:BackFromPolicyToProduct()">&laquo; Back to search results</a>
            </div>
        </div>
</div>
<div id="dvProfileTypeDetails" class="whiteborder" style="display:none;">
    <div class="search-box" style="display: inline-block;">
        <div>
            <ul>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Name : </strong> <div id="dvProfileName"></div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Address : </strong> <div id="dvAddress1"></div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> City :</strong> <div id="dvCity"></div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> State :</strong> <div id="dvState"></div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Region Code :</strong> <div id="dvRegionCode"></div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Zip Code :</strong> <div id="dvZipCode"></div></label>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="dvGroupTypeDetails" class="whiteborder" style="display:none;">
    <div class="search-box" style="display: inline-block;">
        <div>
            <ul>
                <li class="col-md-6 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong>Group Name : </strong> <div id="dvGroupName"></div></label>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Customers : </strong> <a id="aViewCustomers" onclick="aViewCustomersclick(this)" style="color:white;text-decoration:underline;">Show</a></label>
                </li>
                
            </ul>
        </div>
    </div>
</div>





    <script type="text/javascript">

        function aViewCustomersclick(elm)
        {
            if ($("#aViewCustomers").text().trim() == "Show") {
                $("#aViewCustomers").text("Hide");
                $("#dvGroupCustomersList").show();
            }
            else {
                $("#aViewCustomers").text("Show");
                $("#dvGroupCustomersList").hide();
            }
        }       

        var treedata = [
                 {
                     "text": "Published",
                     "id": "1",
                     "parentid": "-1",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false

                 },
                 {
                     "text": "Customer Specific",
                     "id": "2",
                     "parentid": "-1",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "All Products",
                     "id": "3",
                     "parentid": "1",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "Products specific to NDC/UPC",
                     "id": "4",
                     "parentid": "1",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "Products specific to NDC/UPC and Lot Number",
                     "id": "5",
                     "parentid": "1",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "All Products",
                     "id": "6",
                     "parentid": "2",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "Products specific to NDC/UPC",
                     "id": "7",
                     "parentid": "2",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 },
                 {
                     "text": "Products specific to NDC/UPC and Lot Number",
                     "id": "8",
                     "parentid": "2",
                     "value": "0",
                     'expanded': true,
                     "disabled": true,
                     "customerspecific": false
                 }
        ];
        var result;
        function BackFromPolicyToProduct() {
            $('#productList').show();
            $('#dvPolicyNumbers').hide();

        }
        var ConvertPolicyExpDate = function (row, columnfield, value, defaulthtml, columnproperties) {

            if (value != '') {

                return ConvertExpirationDate(value);
            }
            else { return '' }
        }

        function LoadPolicy(wNumberrow) {
            $('#productList').hide();
            $('#dvPolicyNumbers').show();

            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', wNumberrow);
           

            BindHeaderValues(dataRecord);

            var prdinfo = $('#dvmanufactureprddetails').clone();
            $('#dvwhiteborderforpolicy').empty().html(prdinfo.css("display", "inline-block"));


            //Tree implementation
            result = SendAjax('../Product/GetPolicyByProductID', { ProductID: dataRecord.ProductID });
            var count = 8;
            $(result.Rows).each(function (index, item) {
                count++;
                var newItem = {
                    "text": "",
                    "id": "1",
                    "parentid": "-1",
                    "value": "0",
                    'expanded': true,
                    "disabled": false,
                    "customerspecific": false
                };
                if (item.PolicyTypeName == "Customer Specific") {
                    var objCS = getObjects(treedata, 'id', '2');
                    objCS[0].disabled = false;
                    $.extend(true, treedata, objCS[0]);

                    if (item.PolicyType == 1) {
                        var obj = getObjects(treedata, 'id', '6');
                        obj[0].disabled = false;
                        //obj[0].value = item.PolicyID;
                        obj[0].customerspecific = true;
                        $.extend(true, treedata, obj[0]);

                        newItem.id = count;
                        newItem.parentid = 6;

                        if (item.PharmacyProfileGroupType == 'ProfileType') {
                            newItem.text = "Profile Name : " + item.PharmacyName;
                        }
                        else {
                            newItem.text = "Group Name : " + item.GroupName;
                        }

                        newItem.value = item.PolicyID
                        newItem.customerspecific = true;
                        treedata.push(newItem);

                    }
                    if (item.PolicyType == 2) {
                        var obj = getObjects(treedata, 'id', '7');
                        obj[0].disabled = false;
                        //obj[0].value = item.PolicyID;
                        obj[0].customerspecific = true;
                        $.extend(true, treedata, obj[0]);

                        newItem.id = count;
                        newItem.parentid = 7;

                        if (item.PharmacyProfileGroupType == 'ProfileType') {
                            newItem.text = "Profile Name : " + item.PharmacyName;
                        }
                        else {
                            newItem.text = "Group Name : " + item.GroupName;
                        }

                        newItem.value = item.PolicyID
                        newItem.customerspecific = true;
                        treedata.push(newItem);

                    }
                    if (item.PolicyType == 3) {

                        var obj = getObjects(treedata, 'id', '8');
                        obj[0].disabled = false;
                        $.extend(true, treedata, obj[0]);

                        newItem.id = count;
                        newItem.parentid = 8;

                        if (item.PharmacyProfileGroupType == 'ProfileType') {
                            newItem.text = item.LotNumber + " ( Profile Name : " + item.PharmacyName + " ) ";

                        }
                        else {
                            newItem.text = item.LotNumber + " ( Group Name : " + item.GroupName + " ) ";

                        }


                        newItem.value = item.PolicyID
                        newItem.customerspecific = true;
                        treedata.push(newItem);
                    }
                }
                else {
                    var objPub = getObjects(treedata, 'id', '1');
                    objPub[0].disabled = false;
                    $.extend(true, treedata, objPub[0]);

                    if (item.PolicyType == 1) {
                        var obj = getObjects(treedata, 'id', '3');
                        obj[0].disabled = false;
                        obj[0].value = item.PolicyID;
                        $.extend(true, treedata, obj[0]);
                    }
                    if (item.PolicyType == 2) {
                        var obj = getObjects(treedata, 'id', '4');
                        obj[0].disabled = false;
                        obj[0].value = item.PolicyID;
                        $.extend(true, treedata, obj[0]);
                    }
                    if (item.PolicyType == 3) {

                        var obj = getObjects(treedata, 'id', '5');
                        obj[0].disabled = false;
                        $.extend(true, treedata, obj[0]);

                        newItem.id = count;
                        newItem.parentid = 5;
                        newItem.text = item.LotNumber;
                        newItem.value = item.PolicyID
                        treedata.push(newItem);
                    }
                }
            });


            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id' },
                    { name: 'parentid' },
                    { name: 'text' },
                    { name: 'value' },
                    { name: 'expanded' },
                    { name: 'disabled' },
                    { name: 'customerspecific' },
                ],
                id: 'id',
                expanded: 'expanded',
                disabled: 'disabled',
                value: 'value',
                localdata: treedata
            };
            // create data adapter.
            var dataAdapter = new $.jqx.dataAdapter(source);
            // perform Data Binding.
            dataAdapter.dataBind();
            // get the tree items. The first parameter is the item's id. The second parameter is the parent item's id. The 'items' parameter represents
            // the sub items collection name. Each jqxTree item has a 'label' property, but in the JSON data, we have a 'text' field. The last parameter
            // specifies the mapping between the 'text' and 'label' fields.
            var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label' }]);
            $("#splitter").jqxSplitter({ width: "100%", height: "400px", panels: [{ size: "30%" }] });

            $('#jQxPolicyNumbers').jqxTree({ source: records, width: '100%' });
            var firstSelectedId = $("#jQxPolicyNumbers").find('div.jqx-tree-item:not(.jqx-tree-item-disabled):eq(1)').parent().attr("id");

            if (parseInt(firstSelectedId) > 0) {
                var element = $("#jQxPolicyNumbers").find('div.jqx-tree-item:not(.jqx-tree-item-disabled):eq(1)').parent()[0];
                $('#jQxPolicyNumbers').jqxTree('selectItem', element);
                $("#jQxPolicyNumbers").jqxTree('ensureVisible', element);
                $('#jQxPolicyNumbers').css('visibility', 'visible');
                var item = $('#jQxPolicyNumbers').jqxTree('getItem', element);
                var objCS = getObjects(treedata, 'id', item.id);
                LoadContainer(item.value, objCS[0].customerspecific)
            }
            else {
                $("#ContentPanel").html("<div style='width: 100%; font-size:30px;text-align:center;'> Policy does not exist. </div>");
            }

            $('#jQxPolicyNumbers').on('select', function (event) {
                $("#wait").show();
                var item = $('#jQxPolicyNumbers').jqxTree('getItem', event.args.element);
                var objCS = getObjects(treedata, 'id', item.id);
                LoadContainer(item.value, objCS[0].customerspecific);

            });


        }
        function LoadContainer(id, customerspecific) {
            $("#wait").show();

            if (id > 0) {
                $("#ContentPanel").load('../Product/GetPolicyRuleToLoadPartialView?policyID=' + id, function () {
                    if (customerspecific) {
                        var dv = $("<div></div>");
                        $("#ContentPanel").prepend("<div class='clearfix'></div>");
                        var item = getObjects(result, "PolicyID", id)[0];

                        if (item.PharmacyProfileGroupType == 'ProfileType') {

                            $("#dvProfileName").text(item.PharmacyName);
                            $("#dvAddress1").text(item.Address1);
                            $("#dvCity").text(item.City);
                            $("#dvState").text(item.State);
                            $("#dvRegionCode").text(item.RegionCode);
                            $("#dvZipCode").text(item.ZipCode);
                            dv.html($("#dvProfileTypeDetails").html()).addClass("whiteborder");

                        }
                        else {

                            var div ='<div id="dvGroupCustomersList" class="whiteborder" style="display:none;">'
                            div = div+ '<div id="rpjqxWidget" style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">'
                            div = div+ '<div id="grpjqxgrid">'
                            div = div + '</div> </div></div>';

                            $("#ContentPanel").prepend(div);

                            GenerateGroupPharmacyGrid(item.PolicyForGroupProfileID)
                            $("#dvGroupName").text(item.GroupName);
                            $("#aViewCustomers").attr("PolicyForGroupProfileID", item.PolicyForGroupProfileID);
                                                   
                            dv.html($("#dvGroupTypeDetails").html()).addClass("whiteborder");

                        }

                        $("#ContentPanel").prepend(dv);
                    }
                    $("#wait").hide();
                });
            }
            else {
                $("#ContentPanel").html("<div style='width: 100%; font-size:30px;text-align:center;'> Policy does not exist. </div>");
                $("#wait").hide();
            }
        }


        function GenerateGroupPharmacyGrid(GroupId) {
            //var GroupId = $(checkedprofile).attr("PolicyForGroupProfileID");

            var source = {

                datatype: "json",
                type: 'GET',
                url: "../Product/PharmacyDetailsBasedGroup",
                data: { grpID: parseInt(GroupId) },
                root: 'Rows',
                contentType: "application/json; charset=utf-8",
                // update the grid and send a request to the server.
                filter: function () {
                    $("#grpjqxgrid").jqxGrid('updatebounddata', 'filter');
                },
                // update the grid and send a request to the server.
                sort: function () {
                    $("#grpjqxgrid").jqxGrid('updatebounddata', 'sort');
                },
                //root: 'Rows',
                beforeprocessing: function (data) {
                    source.totalrecords = data.TotalRows;
                },
                processdata: function (data) {
                    //var pagesize = $('#PagesizeCounter').val();
                    //data.pagesize = pagesize;

                },
               

            };

            var dataadapter = new $.jqx.dataAdapter(source, {
                loadError: function (xhr, status, error) {
                },

            });

           
            var columnsnew = [

              { text: 'Name', datafield: 'Name' },
              { text: 'Address',  datafield: 'Address1' },
              { text: 'City',  datafield: 'City' },
              { text: 'State',  datafield: 'State' }
            ]
        
            $("#grpjqxgrid").jqxGrid({
                width: '100%',
                height:'200px',
                source: dataadapter,
                pageable: true,
                sortable: true,
                filterable: true,
                pageable: true,
                columnsreorder: true,
                columnsresize: true,
                showdefaultloadelement: false,
                enabletooltips: true,
                columnsresize: true,
                //height: '100%',
                pagesize:100,
                pagermode: 'simple',
                rendergridrows: function (obj) {
                    return obj.data;
                },
                columns: columnsnew,


            });


        }

    </script>

