﻿@model Qualanex.QoskCloud.Entity.PolicyPartialGrid
@using GridMvc.Html
 @if (Model != null)
                {
<div class="clear"></div>
<div class="product-pagi">
    @*<img src="~/images/pagination.jpg" alt="img">*@
</div>
<div class="clear"></div>

     if (Model != null )
                    {
                        if (Model.lstPolicy.Count < 1)
                        { 
                        <p style="text-align:center;">No Record Found</p>
                        }
                        else
                        { 

@*<div id="ProductList-Grid" class="custom-table">*@

    @Html.Grid(Model.lstPolicy, GridRenderOptions.Create("GID")).Columns(columns =>
                         {
                             columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(30)
                                .RenderValueAs(o => Html.CheckBox("checked1", new { data_id = o.ProductID })).Titled("Select");

                             columns.Add(c => c.PolicyName).Titled("Policy Name").Filterable(true); ;
                             columns.Add(c => c.SelectedPolicyType).Titled("Policy Type").Filterable(true); ;
                             //columns.Add(c => c.NDCWithDashes).Titled("NDC With Dashes").Filterable(true);
                             //columns.Add(c => c.ManufactureName).Titled("Manufacturer").Filterable(true);
                             //columns.Add(c => c.ProductID).Titled("ProductID").Filterable(true);

                             columns.Add()
                              .Titled("View")
                              .Sanitized(false)
                              .Encoded(false)
                              .RenderValueAs(o => Html.ActionLink("Edit", "ViewDeletePolicyProfile", "Policy", new { PolicyID = o.PolicyID }, new { @class = "view-btn" }).ToHtmlString());

                             columns.Add()
                              .Titled("Add New Customer")
                              .Sanitized(false)
                              .Encoded(false)
                              .RenderValueAs(o => Html.ActionLink("Add", "AddNewCustomer", "Policy", new { PolicyID = o.PolicyID, PolicyName = o.PolicyName, SelectedPolicyType = o.SelectedPolicyType,MWRType=o.SelectedMWRType }, new { @class = "add-profile-btn" }).ToHtmlString());
                              //.RenderValueAs(o => Html.Raw("<input type='button' id='AddNewCutomerID'").ToHtmlString());
                             columns.Add()
                                 
                               .Titled("Update")
                               .Sanitized(false)
                               .Encoded(false)
                               .RenderValueAs(o => Html.ActionLink("Edit", "RedirectToPolicyforEDIT", "Policy", new { PolicyID = o.PolicyID }, new { @class = "btnEditimage" }).ToHtmlString());

                             columns.Add()
                              .Titled("Delete")
                              .Sanitized(false)
                              .Encoded(false)
                              .RenderValueAs(o => Html.ActionLink("Delete", "DeleteSelectedPolicy", "Policy", new { policyID = o.PolicyID, mProfileCode = o.ProfileCode, }, new { @class = "delete-btn", onclick = "return confirm('Are you sure you want to delete this policy?')" }).ToHtmlString());

                         }).WithPaging(100).Sortable(true);

 }
@*</div>*@
 }
<div class="clear"></div>
@*<div class="product-pagi">
    <img src="~/images/pagination2.jpg" alt="img">
</div>*@
 }
 <script>
     $(document).ready(function () {
         $("#AddNewCutomerID").click(function ()
         {
            
             $.ajax({
                 url: '@Url.Action("AddNewCustomer")',
                 data: { policyID:1010 },
                 success: function (data) {
                     $("#StepOnePartialPage").html(data)

                     //$("#pharmacy-list-grd").css("display", "block");
                 },
                 error: function (response) {
                     alert(response);
                     if (response.status != 0) {
                         alert(response.status + " " + response.statusText);
                     }
                 }
             });
         });

         $(".btnEditimage, .policy-btn, .delete-btn, .add-profile-btn, .view-btn").html("");
    
     });
 </script>
