﻿@model IEnumerable<Qualanex.QoskCloud.Entity.MLAssignedGroupProfiles>
@{

    WebGrid grid = new WebGrid(source: Model, rowsPerPage:500,canSort: false);
}
@if (Model != null && Model.Count() > 0)
    {
    @grid.GetHtml(
            htmlAttributes: new { id = "gridTprofile", width = "700px" },
    columns: grid.Columns(
                    grid.Column(header: "Select", format: @<text><input class="selecctgrpall" id="grpassignChkBx" name="assignChkBx" type="checkbox" value="@item.group.ProfileGroupID" /></text>),
                            grid.Column("group.GroupName", "Group Name"),

    //grid.Column("order.Description", "Description"),
            //grid.Column("order.Strength", "Strength"),

    grid.Column(format: (item) =>
    {

        WebGrid subGrid = new WebGrid(source: item.groupDetails,rowsPerPage:500);
        return subGrid.GetHtml(

            htmlAttributes: new { id = "subTprofile" },
            columns: subGrid.Columns(
            subGrid.Column(header: "Select", format: (groupDetails) => Html.CheckBox("groupprofileIDInsidegrd", ((groupDetails.Assigned == true) ? true : false), new { @class = "grpdetails-slectedprofile-class", value = item.group.ProfileGroupID + "_" + groupDetails.GroupProfileCode + "_" + groupDetails.Region })),
            subGrid.Column(header: "Name", format: (groupDetails) => string.Format("{0:dd-MM-yyyy}", groupDetails.GroupProfileName == string.Empty ? "Profile not available" : groupDetails.GroupProfileName)),
            subGrid.Column(header: "City", format: (groupDetails) => string.Format("{0:dd-MM-yyyy}", groupDetails.City)),
            subGrid.Column(header: "State", format: (groupDetails) => string.Format("{0:dd-MM-yyyy}", groupDetails.State)),
            subGrid.Column(header: "Region", format: (groupDetails) => string.Format("{0:dd-MM-yyyy}", groupDetails.Region == string.Empty ? "Region not available" : groupDetails.Region))
            )
            );
    })
    )
    )
    }
    else
    {
    <div id="grpRegionDetails" class="physician-box clearfix text-center" style="display: block;">
        @Html.Label("No Group Profiles exists")
    </div>
   
    }


<script type="text/javascript">
    $(document).ready(function () {

        var size = $("#main #gridTprofile > thead > tr >th").size(); // get total column
        $("#main #gridTprofile > thead > tr >th").last().remove(); // remove last column
        $("#main #gridTprofile > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
        $("#main #gridTprofile > tbody > tr").each(function (i, el) {
            $(this).prepend(
                    $("<td></td>")
                    .addClass("expand")
                    .addClass("hoverEff")
                    .attr('title', "click for show/hide")
                );

            //Now get sub table from last column and add this to the next new added row
            var table = $("table", this).parent().html();
            //add new row with this subtable
            $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
            $("table", this).parent().remove();
            // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
            $(".hoverEff", this).click(function () {
                //alert("sasd");
                $(this).parent().closest("tr").next().slideToggle(100);
                $(this).toggleClass("expand collapse");
            });
        });

        //by default make all subgrid in collapse mode
        $("#main #gridTprofile > tbody > tr td.expand").each(function (i, el) {
            $(this).toggleClass("expand collapse");
            $(this).parent().closest("tr").next().slideToggle(100);
        });

        //// 1st replace first column header text with checkbox

        //$("#gridTprofile th").each(function () {

        //    if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {

        //        $(this).text('');
        //        $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
        //        $(this).append("<span>Select All</span>");
        //    }
        //});

        ////2nd click event for header checkbox for select /deselect all
        //$("#cbSelectAll").click(function () {
        //    var ischecked = this.checked;
        //    $('#gridTprofile').find("input:checkbox").each(function () {
        //        this.checked = ischecked;
        //    });
        //});


        ////3rd click event for checkbox of each row
        //$("input[name='ids']").click(function () {
        //    var totalRows = $("#gridTprofile td :checkbox").length;
        //    var checked = $("#gridTprofile td :checkbox:checked").length;

        //    if (checked == totalRows) {
        //        $("#gridTprofile").find("input:checkbox").each(function () {
        //            this.checked = true;
        //        });
        //    }
        //    else {
        //        $("#cbSelectAll").removeAttr("checked");
        //    }
        //});




        $("#subTprofile th").each(function () {


            if ($.trim($(this).text().toString().toLowerCase()) === "{checkallprofile}") {

                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAllprofile", value: "", class: "selecctallgrd selectToAllpharmacyClass" }).appendTo($(this));
                $(this).append("<span>Select All</span>");

                //$('input[id="assignChkBx"]').each(function (i, n) {
                //    var select = $(this).closest('tr').find('#cbSelectAllprofile');
                //    $(select).val($(this).val());
                //});
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $(".selectToAllpharmacyClass").click(function () {
            var ischecked = this.checked;
            //$(".lotchecked-class").find("input:checkbox").each(function () { this.checked = ischecked; })

            $(this).closest('#subTprofile').find("input:checkbox").each(function () {
                //alert("checked");
                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#subTprofile td :checkbox").length;
            var checked = $("#subTprofile td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#subTprofile").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAllprofile").removeAttr("checked");
            }
        });




        //$("#gridT > tbody > tr").each(function () {

        //    try {
        //        var CB = $(this).find("input[type='checkbox']");
        //        var CBC = $(CB).is(':checked');

        //        if (CBC == true) {
        //            var VAYURSSADFSD = $(CB).attr('value');
        //            alert(VAYURSSADFSD);

        //            var LastTd = $(this).last('td');
        //            var InnerTable = $(LastTd).find("table[id=subT]");
        //            if (InnerTable != undefined) {
        //                $(InnerTable).each(function () {

        //                    var theValue = $(this).find("input[type='checkbox']:checked").attr('value');
        //                    alert(theValue);
        //                });
        //            }
        //        }
        //    } catch (e) {

        //    }

        //});



    });





</script>



<style>
    /*th, td {
        padding: 5px;
    }

    th {
        background-color: rgb(248, 248, 248);
    }*/

    #gridT, #gridT tr {
        border: 1px solid #0D857B;
    }

    #subT, #subT tr {
        border: 1px solid #f3f3f3;
    }

    #subT {
        margin: 0px 0px 0px 10px;
        padding: 5px;
        width: 95%;
    }

        #subT th {
            font-size: 12px;
        }

    .hoverEff {
        cursor: pointer;
    }

        .hoverEff:hover {
            background-color: rgb(248, 242, 242);
        }

    .expand {
        background-image: url(/Images/InsideGrid/pm.png);
        background-position-x: -22px;
        background-repeat: no-repeat;
    }

    .collapse {
        background-image: url(/Images/InsideGrid/pm.png);
        background-position-x: -2px;
        background-repeat: no-repeat;
    }
</style>
