﻿@model IEnumerable<Qualanex.QoskCloud.Entity.EditProductWithLot>

@{

    WebGrid grid = new WebGrid(source: Model, canSort: false);
}

@if (Model != null)
{
   @grid.GetHtml(
      htmlAttributes: new {id = "gridT", width = "700px"},
      columns: grid.Columns(
         //grid.Column(header: "{checkall}", format: (item) => Html.CheckBox("assignChkBx", false, new { @class = "check-box", value = item.order.ProfileCode + "_" + item.order.ProductID })),
         grid.Column(format: @<text><input class="check-box" id="assignChkBx" name="assignChkBx" type="checkbox" value="@(item.order.ProfileCode + "_" + item.order.ProductID)"/></text>, header: "{checkall}"),
         //grid.Column(format: (orderDetails) => Html.CheckBox("assignChkBx", (orderDetails.Assigned == true) ? true : false, new { @class = "check-box", value = orderDetails.ProfileCode + "_" + orderDetails.ProductID }), header: "{checkall}"),
         grid.Column("order.NDCUPCWithDashes", "NDCUPCWithDashes", format: @<text><span data-id='@item.order.ProductID'>@item.order.NDCUPCWithDashes</span></text>),
         grid.Column("order.UPC", "UPC"),
         grid.Column("order.Description", "Description"),
         grid.Column("order.Strength", "Strength"),
         grid.Column("order.ControlNumber", "ControlNumber"),
         grid.Column(format: (item) =>
         {
            WebGrid subGrid = new WebGrid(source: item.orderDetails);
            return subGrid.GetHtml(

               htmlAttributes: new {id = "subT"},
               columns: subGrid.Columns(
                  subGrid.Column(header: "{checkalllot}", format: (orderDetails) => Html.CheckBox("lotprdIDInsidegrd", (orderDetails.Assigned == true) ? true : false, new {@class = "lotchecked-class", value = item.order.ProfileCode + "_" + item.order.ProductID + "_" + orderDetails.LotNumber})),
                  //subGrid.Column(header: "Select", format: (orderDetails) => Html.CheckBox("lotprdIDInsidegrd", (orderDetails.Assigned == true) ? true : false, new { @class = "lotchecked-class", @disabled = (orderDetails.disabledcb), value = item.order.ProfileCode + "_" + item.order.ProductID + "_" + orderDetails.LotNumber })),
                  subGrid.Column(header: "Lot Number", format: (orderDetails) => orderDetails.LotNumber == string.Empty ? "Lot not available" : orderDetails.LotNumber)
                  //subGrid.Column(header: "Expiration Date", format: (orderDetails) => string.Format("{0:dd-MM-yyyy}", orderDetails.ExpirationDate))


                  )
               );
         })
         )
      )
}

<script type="text/javascript">
   $(document).ready(function() {

      $(".lotchecked-class:checked").attr("disabled", "disabled");
      $(".profiledetails-class:checked").attr("disabled", "disabled");

      var checkedprofileNew = $('.profiledetails-class:checked').attr("disabled", false).map(function() {
         return this.value;
      }).get();


      $(".profiledetails-class:checked").find()

      var size = $("#main #gridT > thead > tr >th").size(); // get total column
      $("#main #gridT > thead > tr >th").last().remove(); // remove last column
      $("#main #gridT > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
      $("#main #gridT > tbody > tr").each(function(i, el) {
         $(this).prepend(
            $("<td></td>")
            .addClass("expand")
            .addClass("hoverEff")
            .attr('title', "click for show/hide")
         );

         //Now get sub table from last column and add this to the next new added row
         var table = $("table", this).parent().html();
         //add new row with this subtable
         $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
         $("table", this).parent().remove();
         // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
         $(".hoverEff", this).click(function() {
            //alert("sasd");
            $(this).parent().closest("tr").next().slideToggle(100);
            $(this).toggleClass("expand collapse");
         });
      });

      //by default make all subgrid in collapse mode
      $("#main #gridT > tbody > tr td.expand").each(function(i, el) {
         $(this).toggleClass("expand collapse");
         $(this).parent().closest("tr").next().slideToggle(100);
      });

      // 1st replace first column header text with checkbox

      $("#gridT th").each(function() {

         if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {

            $(this).text('');
            $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
            $(this).append("<span>Select All</span>");
         }
      });

      //2nd click event for header checkbox for select /deselect all
      $("#cbSelectAll").click(function() {
         var ischecked = this.checked;
         $('#gridT').find("input:checkbox").each(function() {
            this.checked = ischecked;
         });
      });


      //3rd click event for checkbox of each row
      $("input[name='ids']").click(function() {
         var totalRows = $("#gridT td :checkbox").length;
         var checked = $("#gridT td :checkbox:checked").length;

         if (checked == totalRows) {
            $("#gridT").find("input:checkbox").each(function() {
               this.checked = true;
            });
         } else {
            $("#cbSelectAll").removeAttr("checked");
         }
      });


      $("#subT th").each(function() {

         if ($.trim($(this).text().toString().toLowerCase()) === "{checkalllot}") {


            $(this).text('');
            $("<input/>", { type: "checkbox", id: "cbSelectAlllot", class: "selectToAlllotClass", value: "" }).appendTo($(this));
            $(this).append("<span>Select All</span>");

            $('input[id="assignChkBx"]').each(function(i, n) {
               var select = $(this).closest('tr').find('#cbSelectAlllot');
               $(select).val($(this).val());
            });
         }
      });

      //2nd click event for header checkbox for select /deselect all
      $(".selectToAlllotClass").click(function() {
         var ischecked = this.checked;
         //$(".lotchecked-class").find("input:checkbox").each(function () { this.checked = ischecked; })

         $(this).closest('#subT').find("input:checkbox").each(function() {
            alert("checked");
            this.checked = ischecked;
         });
      });


      //3rd click event for checkbox of each row
      $("input[name='ids']").click(function() {
         var totalRows = $("#subT td :checkbox").length;
         var checked = $("#subT td :checkbox:checked").length;

         if (checked == totalRows) {
            $("#subT").find("input:checkbox").each(function() {
               this.checked = true;
            });
         } else {
            $("#cbSelectAlllot").removeAttr("checked");
         }
      });


      //$("#gridT > tbody > tr").each(function () {

      //    try {
      //        var CB = $(this).find("input[type='checkbox']");
      //        var CBC = $(CB).is(':checked');

      //        if (CBC == true) {
      //            var VAYURSSADFSD = $(CB).attr('value');
      //            alert(VAYURSSADFSD);

      //            var LastTd = $(this).last('td');
      //            var InnerTable = $(LastTd).find("table[id=subT]");
      //            if (InnerTable != undefined) {
      //                $(InnerTable).each(function () {

      //                    var theValue = $(this).find("input[type='checkbox']:checked").attr('value');
      //                    alert(theValue);
      //                });
      //            }
      //        }
      //    } catch (e) {

      //    }

      //});
   });
</script>
<style>
    /*th, td {
        padding: 5px;
    }

    th {
        background-color: rgb(248, 248, 248);
    }*/

   #gridT, #gridT tr {
      border: 1px solid #0D857B;
   }

   #subT, #subT tr {
      border: 1px solid #f3f3f3;
   }

   #subT {
      margin: 0px 0px 0px 10px;
      padding: 5px;
      width: 95%;
   }

   #subT th {
      font-size: 12px;
   }

   .hoverEff {
      cursor: pointer;
   }

   .hoverEff:hover {
      background-color: rgb(248, 242, 242);
   }

   .expand {
      background-image: url(/Images/InsideGrid/pm.png);
      background-position-x: -22px;
      background-repeat: no-repeat;
   }

   .collapse {
      background-image: url(/Images/InsideGrid/pm.png);
      background-position-x: -2px;
      background-repeat: no-repeat;
   }
</style>
