﻿
<html lang="en">
<head>
    <title id='Description'>This example shows how to create a Grid from JSON data.</title>
    <script type="text/javascript" src="http://jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />    
    <script type="text/javascript">
        $(document).ready(function () {
            CreateGridPanel();
        });


        function CreateGridPanel() {
            var Url1 = '../Product/BindJQXGridLayout';
            $.ajax({
                url: Url1,
                data: {},
                success: function (data) {
                    GenerateGrid(data);
                },
                error: function (response) {
                    alert(response);
                    if (response.status != 0) {
                        alert(response.status + " " + response.statusText);
                    }
                }
            });
        }

        function GenerateGrid(json) {
            var obj = $.parseJSON(json);
            var columns = obj[0].columns;
            var rows = obj[1].rows;
            // prepare the data
            var source =
            {
                datatype: "json",
                //datafields: [
                //    { name: 'name', type: 'string' },
                //    { name: 'type', type: 'string' },
                //    { name: 'calories', type: 'int' },
                //    { name: 'totalfat', type: 'string' },
                //    { name: 'protein', type: 'string' }
                //],
                id: 'id',
                localdata: rows
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").jqxGrid(
            {
                width: 670,
                source: dataAdapter,
                theme: theme,
                columnsresize: true,
                columns: columns
            });
        };


    </script>
</head>
<body class='default'>
    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
        <div id="jqxgrid">
        </div>
    </div>
</body>
</html>