﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy

@Html.Partial("_EditPolicyPartial", Model)


<script type="text/javascript">
    $(document).ready(function () {
        $(".elmhide").hide();
        $(".disable-click").removeClass("disable-click");
        
        $("#ContentPanel").find("input,button,select,textarea").attr("disabled", "disabled");
        
    });
</script>

@*<div class='panel-container'>
    <h1  style="text-align: center">Policy Rule</h1>

    <div class="physician-box clearfix">

        <div id="productdiv">
            <div class="col-lg-6 col-md-12 new_policy">
                <div class="input-ctrl">
                    <label>Policy Start Date</label>
                    <div class="field">
                        @{   var startdate = String.Format("{0:MM-dd-yyyy}", Model.PolicyStartDate); } @Html.DisplayTextFor(i => startdate)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Expiration Return Period Starts</label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.ExpiresOnFirstOfCurrentMonth) ? "Yes" : "No")
                        
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Number of Months Accepted After Expiration Date </label>
                    <div class="field">
                     
                        @Html.DisplayTextFor(model => model.NumberOfMonthsAfterExpirationReturnable)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>NDC Inner Pack Rule</label>
                    <div class="field">
                        @(String.IsNullOrEmpty(Model.InnerPack) ? "NA" : Model.InnerPack)                        
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Is Credit Issued for Open Containers (No seal exists, but Quantity Equals Original Package Size)? </label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.BrokenSealReturnable) ? "Yes" : "No")
                     
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Is Credit Issued for Prescription Vials?</label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.PrescriptionVialsReturnable) ? "Yes" : "No")
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 new_policy">
                <div class="input-ctrl">
                    <label>Policy End Date</label>
                    <div class="field">
                        @{   var enddate = String.Format("{0:MM-dd-yyyy}", Model.PolicyEndDate); } @Html.DisplayTextFor(i => enddate)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Number of Months Accepted with Shelf Life Remaining (Sealed Product)</label>
                    <div class="field">
                        @Html.DisplayTextFor(model => model.NumberOfMonthsBeforeExpirationReturnableSealed)


                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Number of Months Accepted with Shelf Life Remaining (Opened Product)</label>
                    <div class="field">
                        @Html.DisplayTextFor(model => model.NumberOfMonthsBeforeExpirationReturnableOpened)


                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Form 41's are Acceptable for Credit in place of the Product </label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.Form41Allowed) ? "Yes" : "No")
                        
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Is Credit Issued for Repackaged Containers (Customer Packaging into Unit Dose Form)?</label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.RepackagedIntoUnitDoseReturnable) ? "Yes" : "No")
                        
                    </div>
                </div>
             
                
            </div>
            <div class="col-lg-6 col-md-12 new_policy">
                <div class="input-ctrl">
                    <label>Is Credit Issued for Product that is Missing the Lot Number or Expiration Date? </label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.MissingLotNumberorExpDateNotReturnable) ? "Yes" : "No")

                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Discount or Handling Fee %</label>
                    <div class="field">
                        @Html.DisplayTextFor(model => model.HandlingFee)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Allow Return Quantity That Exceeds Product Package Size</label>
                    <div class="field">
                        @Html.DisplayTextFor(model => model.PolicyEndDate)


                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Does the Discount or Handling Fee Apply to States with Partial Policy Law?</label>
                    <div class="field">

                        @Html.DisplayTextFor(model => model.HandlingFeeExceptionForStatePartialPolicyLaw)


                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Authorized For Credit Consideration</label>
                    <div class="field">
                        @Html.DisplayTextFor(model => model.AuthorizedForCreditConsideration)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Use Fall Through Price when Contract Price does not Exist? If No then unit price will equal $0.00</label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.DoNotUseFallThroughPrice) ? "Yes" : "No")
                      

                    </div>
                </div>                
            </div>

            <div class="col-lg-6 col-md-12 new_policy">
                <div class="input-ctrl">
                    <label>Use Wholesaler Direct Price When No Indirect Price</label>
                    <div class="field">
                        @(Convert.ToBoolean(Model.UseWholeSalerDirectPriceWhenNoIndirect) ? "Yes" : "No")
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>What Percentage of Product is Required before an RA can be Closed? </label>
                    <div class="field">
                      
                        @Html.DisplayTextFor(model => model.ReturnAuthorizationCompletionPercent)
                    </div>
                </div>
                <div class="input-ctrl">
                    <label>Number of Months Good Dating Required on Product for Overstock Returns </label>
                    


                        @Html.DisplayTextFor(model => model.ReturnAuthorizationCompletionPercent)
                    </div>
                </div>
            <div class="input-ctrl">
                <label>Is a Return Authorization Required? </label>
                <div class="field">
                    @(Convert.ToBoolean(Model.PriorReturnAuthorizationRequired) ? "Yes" : "No")
                </div>
            </div>
            <div class="input-ctrl">
                <label>Is Overstock Approval Required Prior to Authorizing a Return</label>
                <div class="field">
                    @(Convert.ToBoolean(Model.OverstockApprovalRequired) ? "Yes" : "No")
                </div>
            </div>
            <div class="input-ctrl">
                <label>Is Credit Issued for Partial Containers (Less Than Original Package Size)? </label>
                <div class="field">
                    @Html.DisplayTextFor(model => model.PartialsReturnable)
                </div>
            </div>
   
            </div>
        </div>
    </div>*@

