﻿@model IEnumerable<Qualanex.QoskCloud.Entity.ProfileProductData>

@{

    WebGrid grid = new WebGrid(source: Model, canSort: false, rowsPerPage: 500);
}

@if (Model != null)
{
    @grid.GetHtml(
    htmlAttributes: new { id = "gridT", width = "700px" },
    columns: grid.Columns(
       grid.Column(format: @<text><input class="check-box" id="assignChkBx" name="assignChkBx" type="checkbox" value="@(item.order.ProfileCode)" /></text>, header: "{checkall}"),
       grid.Column("order.Name", "Profile Name",format: @<text><span data-id='@item.order.Name'>@item.order.ProfileCode</span></text>),
       grid.Column("order.Type", "Type"),
       grid.Column("order.City", "City"),
       grid.Column("order.State", "State"),
       grid.Column("order.RegionCode", "RegionCode"),
   grid.Column(format: (item) =>
   {
       WebGrid subGrid = new WebGrid(source: item.orderDetails, rowsPerPage: 500);
       return subGrid.GetHtml(
           htmlAttributes: new { id = "subT" },
           columns: subGrid.Columns(
           subGrid.Column(header: "{checkalllot}", format: (orderDetails) => Html.CheckBox("lotprdIDInsidegrd", false, new { @class = "lotchecked-class", value = item.order.ProfileCode +  "_" + orderDetails.ProductID })),
           subGrid.Column(header: "Description", format: (orderDetails) => string.IsNullOrEmpty(orderDetails.Description) ? "NA" : orderDetails.Description),
           subGrid.Column(header: "NDC", format: (orderDetails) => string.Format("{0:dd-MM-yyyy}", orderDetails.NDC == null ? "NA" : orderDetails.NDC)),
           subGrid.Column(header: "DosageCode", format: (orderDetails) => string.IsNullOrEmpty(orderDetails.DosageCode == null ? "NA" : orderDetails.DosageCode))
       )
     );
   })
   )
   )
}



<script type="text/javascript">
    $(document).ready(function () {
       
        var size = $("#main #gridT > thead > tr >th").size(); // get total column
        $("#main #gridT > thead > tr >th").last().remove(); // remove last column
        $("#main #gridT > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
        $("#main #gridT > tbody > tr").each(function (i, el) {
            $(this).prepend(
                    $("<td></td>")
                    .addClass("expand")
                    .addClass("hoverEff")
                    .attr('title', "click for show/hide")
                );

            //Now get sub table from last column and add this to the next new added row
            var table = $("table", this).parent().html();
            //add new row with this subtable
            $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
            $("table", this).parent().remove();
            // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
            $(".hoverEff", this).click(function () {
                //alert("sasd");
                $(this).parent().closest("tr").next().slideToggle(100);
                $(this).toggleClass("expand collapse");
            });
        });

        //by default make all subgrid in collapse mode
        $("#main #gridT > tbody > tr td.expand").each(function (i, el) {
            $(this).toggleClass("expand collapse");
            $(this).parent().closest("tr").next().slideToggle(100);
        });

        // 1st replace first column header text with checkbox

        $("#gridT th").each(function () {

            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {

                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").click(function () {

            var ischecked = this.checked;
            $('#gridT').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#gridT td :checkbox").length;
            var checked = $("#gridT td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#gridT").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });




        $("#subT th").each(function () {

            if ($.trim($(this).text().toString().toLowerCase()) === "{checkalllot}") {



                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAlllot", class: "selectToAlllotClass", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");

                $('input[id="assignChkBx"]').each(function (i, n) {
                    var select = $(this).closest('tr').find('#cbSelectAlllot');
                    $(select).val($(this).val());
                });
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $(".selectToAlllotClass").click(function () {
            var ischecked = this.checked;
            //$(".lotchecked-class").find("input:checkbox").each(function () { this.checked = ischecked; })

            $(this).closest('#subT').find("input:checkbox").each(function () {

                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#subT td :checkbox").length;
            var checked = $("#subT td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#subT").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAlllot").removeAttr("checked");
            }
        });




        //$("#gridT > tbody > tr").each(function () {

        //    try {
        //        var CB = $(this).find("input[type='checkbox']");
        //        var CBC = $(CB).is(':checked');

        //        if (CBC == true) {
        //            var VAYURSSADFSD = $(CB).attr('value');
        //            alert(VAYURSSADFSD);

        //            var LastTd = $(this).last('td');
        //            var InnerTable = $(LastTd).find("table[id=subT]");
        //            if (InnerTable != undefined) {
        //                $(InnerTable).each(function () {

        //                    var theValue = $(this).find("input[type='checkbox']:checked").attr('value');
        //                    alert(theValue);
        //                });
        //            }
        //        }
        //    } catch (e) {

        //    }

        //});



    });





</script>

<style>
    /*th, td {
        padding: 5px;
    }

    th {
        background-color: rgb(248, 248, 248);
    }*/

    #gridT, #gridT tr {
        border: 1px solid #0D857B;
    }

    #subT, #subT tr {
        border: 1px solid #f3f3f3;
    }

    #subT {
        margin: 0px 0px 0px 10px;
        padding: 5px;
        width: 95%;
    }

        #subT th {
            font-size: 12px;
        }

    .hoverEff {
        cursor: pointer;
    }

        .hoverEff:hover {
            background-color: rgb(248, 242, 242);
        }

    .expand {
        background-image: url(/Images/InsideGrid/pm.png);
        background-position-x: -22px;
        background-repeat: no-repeat;
    }

    .collapse {
        background-image: url(/Images/InsideGrid/pm.png);
        background-position-x: -2px;
        background-repeat: no-repeat;
    }
</style>
