﻿@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using Qualanex.Qosk.Library.Model.UPAModel
@using Qualanex.Qosk.Library.Model.DBModel
@using Qualanex.Qosk.Library.Model.QoskCloud
@using Qualanex.QoskCloud.Entity
<!DOCTYPE html>
<html lang="en">
<head>
   <title>@ViewBag.Title</title>

   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>QualanexQosk</title>
   <link rel="shortcut icon" href="../../images/favicon.ico">
   <link rel="stylesheet" href="~/Css/QoskMenu.css">

   @Styles.Render("~/Content/css")
   @Styles.Render("~/Content/themes/base/css")
   @Styles.Render("~/bundles/qosk/Css")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/qosk/common")
   @Styles.Render("~/Content/dropzonescss")
   @Scripts.Render("~/bundles/dropzonescripts")
   @{
      System.Web.HttpContext.Current.Session["started"] = true;
      var session = HttpContext.Current.Session;
   }

   <script>
      (function(i, s, o, g, r, a, m)
      {
         i["GoogleAnalyticsObject"] = r;
         i[r] = i[r] || function()
         {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date();
         a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
         a.async = 1;
         a.src = g;
         m.parentNode.insertBefore(a, m)
      })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

      ga("create", "UA-89034601-1", "auto", { userId: '@User.Identity.GetUserName()' });
      ga("send", "pageview");
   </script>

   <script language="javascript" type="text/javascript">
      //var timeout;
      //var runningTimer;

      //$.getJSON("/User/GetSessionTimeout", null, function (data) {
      //   timeout = data;
      //   startTimeout(timeout);
      //});

      //$("body").ajaxStart(function () {
      //   startTimeout(timeout);
      //});

      //function startTimeout(timeout) {
      //   if (runningTimer) {
      //      clearTimeout(runningTimer);
      //   }
      //   runningTimer = window.setTimeout("LogOut(true)", timeout * 60 * 1000);
      //}

      function openHelp()
      {
         var messageObject = [{
            "id": "lbl_messages",
            "name": "<h3 style='margin:0 auto;text-align:center;width:100%'> Help has not yet been implemented! </h3>"
         }];
         var btnObjects = [{
            "id": "btn_continue", "name": "Continue", "function": "onclick='$(this).closeMessageBox();'", "class": "btnErrorMessage","style":"margin:0 auto;text-align:center"
         }];
         var titleobjects = [{ "title": "Help" }];
         $(this).addMessageButton(btnObjects, messageObject);
         $(this).showMessageBox(titleobjects);
         //showError("Help has not yet been implemented!");
      }

      function saveDefaultProfile()
      {
         $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("OnChangeUserProfileCode")',
            datatype: "JSON",
            data: { profileCode: document.getElementById("cboUserProfile").value },
            success: function(data)
            {
               if (data.Success)
               {
                  if (window.location.pathname.indexOf("Product/UPA/") > 0)
                  {
                     if ($("#productDetailMinimal").length > 0)
                     {
                        $("#productDetailMinimal input[type=submit]").click();
                     }
                  }

                  setCookie("userDefaultProfile", document.getElementById("cboUserProfile").value, 90);
               }
            }
         });
      }

      function setCookie(cname, cvalue, exdays)
      {
         var d = new Date();
         d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
         var expires = "expires=" + d.toGMTString();
         document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

   </script>

   <!-- responsive mediaQuery -->

   @RenderSection("styles", required: false)

</head>
<body class="@ViewBag.PageClass">
   <form id="__AjaxAntiForgeryForm" action="#" method="post">
      @Html.AntiForgeryToken() <input name="pageViewId" type="hidden" value="@Guid.NewGuid()" />
   </form>
   <table class="tableEx">
      <!-- header -->
      <tr>
         <td class="rowEx headerEx" style="">
            <!-- Qosk Menu -->
            <div id="QoskMenu" class="QoskMenu">
               @{
                  var upaModel = new UPAModel();
                  var dbModel = new QoskCloud() as DBModel;
               }
               <table>
                  <tr>
                     <td>
                        <table class="menuProfile">
                           <tr>
                              <td class="profilePix"><img class="profileImg" src="~/Images/Menu/QMenu_NoProfileIcon.svg" alt="" /></td>
                              <td class="profileInf">
                                 <table>
                                    <tr style="height: 100%;">
                                       <td>
                                          <table>
                                             <tr>
                                                <td class="profileName">
                                                   @User.Identity.Name<br>
                                                   <span>&nbsp;</span>
                                                </td>
                                                <td class="menuClose"><img style="width: 20px; height: 20px;" src="~/Images/SVG/Qosk_Close.svg" alt="" /></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table>
                                             <tr>
                                                <td style="padding: 2px 2px 2px 0px; width: 100%;">
                                                   @* we're commenting out the state profile switch for the Big Y pilot - Daniel Bazan, 7/5/2018
                                                   <select id="cboUserProfile" class="profileSelect" onchange="saveDefaultProfile(); ">
                                                      @{
                                                         var defaultProfile = string.Empty;

                                                         foreach (var k in session.Keys)
                                                         {
                                                            if (k.ToString() == "UserDataWithLink")
                                                            {
                                                               var objReturnLoginUserData = (ReturnLoginUserEntity)session[k.ToString()];
                                                               defaultProfile = objReturnLoginUserData.UserReturnData.ProfileCode.ToString();
                                                            }
                                                         }

                                                         foreach (var profileItem in upaModel.FetchProfile(ref dbModel, @User.Identity.Name).Profile)
                                                         {
                                                            if (profileItem.Key == defaultProfile)
                                                            {
                                                               <option id='@profileItem.Key' selected='selected' value='@profileItem.Key'>@profileItem.Value.Descr</option>
                                                            }
                                                            else
                                                            {
                                                               <option id='@profileItem.Key' value='@profileItem.Key'>@profileItem.Value.Descr</option>
                                                            }
                                                         }
                                                      }
                                                   </select>*@
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr><td><table class="menuDashboard"><tr><td>&nbsp;</td></tr></table></td></tr>
                  <tr>
                     <td>
                        <div id="menuContent" class="menuContent qoskScrollbar">
                            <table>
                                @{
                                    foreach (var menuItem in upaModel.FetchMenu(ref dbModel, @User.Identity.Name, "").Menu)
                                    {
                                        @Html.Partial("_MenuContent", menuItem)
                                    }
                                }
                                <tr>
                                <!--<tr class="menuItem" onclick="location.href='@HttpUtility.UrlDecode(Url.Action("Index", "Home", new {area = "QoskReporting"}))'">
                                    <td class="menuLabel"><div class="menuPix"><img class="menuImg" src="" alt=""></div>QoskReporting</td>
                                </tr>-->
                            </table>
                        </div>
                        <div class="menuContentLocked">
                           <table>
                              <tr><td colspan="2"><h2 class="menuSep"><span></span></h2></td></tr>                               
                              <tr class="menuItem" onclick="LogOut()">
                                 <td class="menuLabel"><div class="menuPix"><img class="menuImg" src="" alt=""></div>Logout</td>
                              </tr>
                           </table>
                        </div>
                     </td>
                  </tr>
                  <!--<tr><td style="height: 10px;"><table><tr><td></td></tr></table></td></tr>-->
                  <tr><td style="height: 100%;"><table><tr><td class="menuFiller"></td></tr></table></td></tr>
               </table>
            </div>
            <table class="headerGrad">
               <tr>
                  <td class="headerElement">
                     <table class="headerMenu">
                        <tr>
                           <td>&nbsp;</td>
                           @if (User.Identity.IsAuthenticated)
                           {
                              <td><img class="imgMenu" src="~/Images/Menu/QHeader_MenuIcon.svg" alt="" /></td>
                              <td><img class="imgBar" src="~/Images/Menu/QHeader_DividerBar.svg" alt="" /></td>
                              <td class="tdGap"><div id="applicationTitle"></div></td>
                           }
                        </tr>
                     </table>
                  </td>
                  <td>
                     @if (User.Identity.IsAuthenticated)
                     {
                        <img class="imgHeader" src="~/Images/Menu/QHeader_QoskLogo.svg" alt="" />
                     }
                  </td>
                  <td class="headerElement">
                     <table class="headerUser">
                        <tr>
                           <td class="tdGap" style="width: 100%;"></td>
                           <td>
                              <table class="tableEx">
                                 <tr>
                                    <td class="userName">
                                       <div id="loggedInUser">@User.Identity.GetUserName()</div>
                                       @RenderSection("login", required: false)
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                       <td class="userCtrl profileIcon"><img onclick="" src="~/Images/Menu/QHeader_ProfileIcon.svg" alt="" /></td>
                                       <!--<td class="userCtrl menuIconHorizontal"><img onclick="" src="~/Images/Menu/QHeader_MenuIcon_Horizontal.svg" alt="" /></td>-->
                                    }
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <!-- content -->
      <tr style="height: 100%;">
         <td>
            @RenderBody()
         </td>
      </tr>
      <!-- footer -->
      <tr>
         <td>
            <table style="height: 100%; width: 100%; color: #FFFFFF;">
               <tr>
                  <td><img class="footerLogo" style="" src="~/Areas/Product/Images/Qosk_PageFooter.png" alt="" /></td>
                  <td class="tdGap">
                     <table style="height: 40px; width: 100%;">
                        <tr style="height: 8px;"><td></td></tr>
                        <tr>
                           <td>
                              <table class="footerGrad">
                                 <tr>
                                    <td class="footerCopyright">Copyright © 2000-@DateTime.Now.Year Qualanex, LLC. All Rights Reserved.</td>
                                    <td style="width: 125px;"><a class="footerLink" style="font-size: 8pt;">Terms&nbsp;of&nbsp;Use</a></td>
                                    <td style="width: 125px;"><a class="footerLink" style="font-size: 8pt;">About&nbsp;Qosk</a></td>
                                    <td style="width: 10%;"></td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </td>
      </tr>

   </table>
   <div class="alert-popup-javascript-error" style="display: none">
      <div class="alert-popup">
         <h1>An Error Has Occurred <span class="alert-close"></span></h1>
         <div class="alert-text">
            <p id="jsErrorMsg" class="text-center"></p>
            <div class="alert-btn">
               <input type="button" value="continue" id="btnokJS">
            </div>
         </div>
      </div>
   </div>

   <div id="CustomMessageBoxListing">
      @Html.Partial("_MessageBox")
   </div>
   @Scripts.Render("~/bundles/slick")
</body>

</html>
