﻿@*This layout is for applying the standard "Segment" styling and functionality
   a variety of options configuring the behavior can be passed through the ViewBag
   or ignored if not needed

   A SegmentTitle render section must be specified within views using this layout.
   This may include the segment's title along with images or scripts necessary in
   the segment's title area
*@

@*Specifies the field to gain focus first when entering the segment*@
@if (ViewBag.FirstFocus == null)
{
   ViewBag.FirstFocus = "";
}

@*If true, the segment is marked as complete when loaded*@
@if (ViewBag.SegmentComplete == null)
{
   ViewBag.SegmentComplete = "false";
}

@*If true, the segment will be collapsed when loaded*@
@if (ViewBag.ToCollapse == null)
{
   ViewBag.ToCollapse = false;
}

@*The name displayed in the header of the segment*@
@if (ViewBag.SegmentName == null)
{
   ViewBag.SegmentName = ViewBag.Segment.DisplayFormat;
}

@*Allows for the specification of a javascript method name
   that will be used for validating the data entered in the segment*@
@if (ViewBag.SegmentValidation == null)
{
   ViewBag.SegmentValidation = "";
}

@*Specifies the class used to change segment coloring indicating a hazard level*@
@if (ViewBag.Level == null)
{
   ViewBag.Level = "level0";
}

@*Segment group is used with replaceSegments() in QoskCommon.js when updating a set
   of semgents via AJAX to ensure that only a particular assortment (policy, waste, etc)
   are updated  *@
@if (ViewBag.SegmentGroup == null)
{
   ViewBag.SegmentGroup = "";
}

@*If Hidden is true, this segment will not be displayed*@
@if (ViewBag.Hidden == null)
{
   ViewBag.Hidden = false;
}

@*Specify if a segment is an additionalsegment so it can be added when replacing semgents
   even if there is no matching previous segment*@
@if (ViewBag.AdditionalSegment == null)
{
   ViewBag.AdditionalSegment = false;
}

@*Accepts the name of a partial view that defines the action buttons to be displayed on
   the segment's header *@
@if (ViewBag.SegmentActions == null)
{
   ViewBag.SegmentActions = "_Empty";
}

@*Specifies if the segment's collapse arrow and accompanying icon are to be hidden*@
@if (ViewBag.HideIcons == null)
{
   ViewBag.HideIcons = false;
}

@*Specifies if the segment's command to 'confirm' should be hidden*@
@if (ViewBag.HideCommand == null)
{
   ViewBag.HideCommand = false;
}

<div style="padding-top: 0px; border-bottom: 1px solid #0A6DAE;" class="QoskSegment" @(ViewBag.Hidden ? "hidden" : "")>
   <table>
      <tr>
         <td class="QnexTitle" style="width: 1100px;">
            <span class="QnexTitleTag">@ViewBag.SegmentName @RenderSection("SegmentTitle")</span>
            <span class="QnexTitleFld">@Html.Partial((string)ViewBag.SegmentActions)</span>
         </td>
         @if (!ViewBag.HideIcons)
         {
            <td style="width: 40px;">
               <img class="collapse-arrow" data-target="#@ViewBag.SegmentId" style="" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" alt="" />
            </td>
         }
         else
         {
            <td></td>
         }
      </tr>
      <tr id="@ViewBag.SegmentId" name="@ViewBag.SegmentName"
          @(ViewBag.SegmentGroup == "" ? "" : "data-segment-group=" + ViewBag.SegmentGroup)
          @(ViewBag.AdditionalSegment ? "data-additional-segment=true" : "")
          data-segment-complete="@ViewBag.SegmentComplete"
          data-segment-validation="@ViewBag.SegmentValidation"
          data-textbox-focus="@ViewBag.FirstFocus"
          class="panel-collapse @(ViewBag.ToCollapse ? "toCollapse":"")">
         <td colspan="2"  class="QnexContent @ViewBag.Level" style="border: 0px; padding: 0px;">
            <div class="panel-body" style="padding: 5px 5px 5px 25px;">
               @RenderBody()
            </div>
         </td>
      </tr>
   </table>

</div>
