﻿@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using EntityFramework.Reflection
@using Microsoft.Ajax.Utilities
@model Qualanex.QoskCloud.Web.Model.RelationControl

@{
   var relationId = "RelationControl" + Guid.NewGuid();

   var properties = Model.Options.RowProperty.GetType().GetProperties();
   var numericTypes = new List<string>() { "Int", "Int32", "Int64", "Float", "Float32", "Float64", "Decimal" };
}


<table id="@relationId" class="relationControl @(Model.Options.InitialReadOnly? "readOnly" : "edit" )" data-select-method="@Model.Options.SelectMethod" data-update-method="@Model.Options.UpdateMethod"
       data-delete-method="@Model.Options.DeleteMethod" data-add-method="@Model.Options.AddMethod" @(Model.Options.ShowRowControls ? "data-edit-col=" + (properties.Length + Model.Options.CustomControls.Count + 1) : "") cellspacing="0" width="95%">
   <thead>
      <tr>
         @foreach (var prop in properties)
         {
            var displayNameAttribute = prop.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().SingleOrDefault();
            var displayName = displayNameAttribute == null ? prop.Name : displayNameAttribute.DisplayName;
            <th>@displayName</th>
         }
         @if (Model.Options.CustomControls.Count > 0)
         {
            foreach (var control in Model.Options.CustomControls)
            {
               <th></th>
            }
         }
         @if (Model.Options.ShowRowControls)
         {
            <th data-class-name="action"></th>
         }
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model.Rows)
      {
         var rowId = Guid.NewGuid();
         <tr class="selectable relationDisplayRow" data-row-id="@rowId" data-unique-selection="@relationId">
            @foreach (var prop in properties)
            {
               <td data-field-name="@prop.Name">
                  @if (Model.Options.SelectLists.ContainsKey(prop.Name))
                  {
                     var displayText = prop.GetValue(item);
                     foreach (var selectItem in Model.Options.SelectLists[prop.Name])
                     {
                        if (selectItem.Value == (string)prop.GetValue(item))
                        {
                           if (!selectItem.Text.IsNullOrWhiteSpace())
                           {
                              displayText = selectItem.Text;
                           }
                           break;
                        }
                     }
                     @:@displayText
                  }
                  else if (prop.PropertyType.GetUnderlyingType().Name == "Boolean")
                  {
                     <input type="checkbox" name="@prop.Name" @if ((bool)prop.GetValue(item)) { @: checked
                            } disabled />
                  }
                  else
                  {
                     var displayValue = prop.GetValue(item);
                     var att = (DisplayFormatAttribute)prop.GetCustomAttributes(typeof(DisplayFormatAttribute), true).FirstOrDefault();
                     if (att != null)
                     {
                        displayValue = string.Format(att.DataFormatString, displayValue);
                     }
                     @:@displayValue
                  }
               </td>

            }
            @if (Model.Options.CustomControls.Count > 0)
            {
               foreach (var control in Model.Options.CustomControls)
               {
                  <td>
                     @if (!String.IsNullOrWhiteSpace(control.ReadOnlyView))
                     {
                        @Html.Partial((string)control.ReadOnlyView, item)
                     }
                  </td>
               }
            }

            @if (Model.Options.ShowRowControls)
            {
               <td></td>
            }
         </tr>
         if (!Model.Options.UpdateMethod.IsNullOrWhiteSpace())
         {
            <tr class="selectable relationEditRow" data-row-id="@rowId" data-unique-selection="@relationId" hidden>
               @foreach (var prop in properties)
               {
                  <td>
                     @if (Model.Options.SelectLists.ContainsKey(prop.Name))
                     {
                        <select name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                                }>
                           @foreach (var selectItem in Model.Options.SelectLists[prop.Name])
                           {
                              <option value="@selectItem.Value" @if (selectItem.Value != (string)prop.GetValue(item) && selectItem.Disabled) { @: hidden
                                      }
                                      @if (selectItem.Value == (string)prop.GetValue(item)) { @: selected
                                      }>
                                 @selectItem.Text
                              </option>
                           }
                        </select>
                     }
                     else if (prop.PropertyType.GetUnderlyingType().Name == "Boolean")
                     {
                        <input type="checkbox" name="@prop.Name" @if ((bool)prop.GetValue(item)) { @: checked
                               } @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                     else if (numericTypes.Contains(prop.PropertyType.GetUnderlyingType().Name))
                     {
                        <input type="number" name="@prop.Name" value="@prop.GetValue(item)" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                     else
                     {
                        <input type="text" name="@prop.Name" value="@prop.GetValue(item)" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                  </td>

               }
               @if (Model.Options.CustomControls.Count > 0)
               {
                  foreach (var control in Model.Options.CustomControls)
                  {
                     <td>
                        @if (!String.IsNullOrEmpty(control.EditView) && !String.IsNullOrWhiteSpace(control.EditView))
                        {
                           @Html.Partial((string)control.EditView, item)
                        }
                     </td>
                  }
               }
               @if (Model.Options.ShowRowControls)
               {
                  <td>
                     <a data-Method="@Model.Options.UpdateMethod" class="relationControlUpdate">update</a>
                     @if (!Model.Options.DeleteMethod.IsNullOrWhiteSpace())
                     {
                        @:|<a data-Method="@Model.Options.DeleteMethod" class="relationControlDelete"> delete</a>
                     }
                  </td>
               }
            </tr>
         }
      }
      @if (!Model.Options.AddMethod.IsNullOrWhiteSpace())
      {
         for (var i = 0; i < 2; i++)
         {
            <tr class="@(i==0? "relationAddRow blank" : "relationAddRowTemplate blank")" @(i > 0 ? "hidden" : "")>
               @foreach (var prop in properties)
               {
                  <td>
                     @if (Model.Options.SelectLists.ContainsKey(prop.Name))
                     {
                        <select name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                                }>
                           @foreach (var selectItem in Model.Options.SelectLists[prop.Name])
                           {
                              <option value="@selectItem.Value"
                                      @if (selectItem.Disabled) { @: hidden
                                      }>
                                 @selectItem.Text
                              </option>
                           }
                        </select>
                     }
                     else if (prop.PropertyType.GetUnderlyingType().Name == "Boolean")
                     {
                        <input type="checkbox" name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                     else if (numericTypes.Contains(prop.PropertyType.GetUnderlyingType().Name))
                     {
                        <input type="number" name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                     else
                     {
                        <input type="text" name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                               } />
                     }
                  </td>
               }
               @if (Model.Options.CustomControls.Count > 0)
               {
                  foreach (var control in Model.Options.CustomControls)
                  {
                     <td>
                        @if (!String.IsNullOrEmpty(control.AddView) && !String.IsNullOrWhiteSpace(control.AddView))
                        {
                           @Html.Partial((string)control.AddView, Model.Options.RowProperty)
                        }
                     </td>
                  }
               }
               @if (Model.Options.ShowRowControls)
               {
                  <td>
                     <a data-Method="@Model.Options.AddMethod" class="relationControlAdd">add</a>
                  </td>
               }
            </tr>
         }
      }
      <tr class="selectable relationDisplayRowTemplate" data-row-id="reference" data-unique-selection="@relationId" hidden>
         @foreach (var prop in properties)
         {
            <td data-field-name="@prop.Name">
               @if (prop.PropertyType.GetUnderlyingType().Name == "Boolean")
               {
                  <input type="checkbox" name="@prop.Name" disabled />
               }
            </td>
         }
         @if (Model.Options.CustomControls.Count > 0)
         {
            foreach (var control in Model.Options.CustomControls)
            {
               <td>
                  @if (!String.IsNullOrEmpty(control.ReadOnlyView) && !String.IsNullOrWhiteSpace(control.ReadOnlyView))
                  {
                     @Html.Partial((string)control.ReadOnlyView, Model.Options.RowProperty)
                  }
               </td>
            }
         }
         @if (Model.Options.ShowRowControls)
         {
            <td></td>
         }
      </tr>
      <tr class="selectable relationEditRowTemplate" data-row-id="reference" data-unique-selection="@relationId" hidden>
         @foreach (var prop in properties)
         {
            <td>
               @if (Model.Options.SelectLists.ContainsKey(prop.Name))
               {
                  <select name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                          }>
                     @foreach (var selectItem in Model.Options.SelectLists[prop.Name])
                     {
                        <option value="@selectItem.Value">
                           @selectItem.Text
                        </option>
                     }
                  </select>
               }
               else if (prop.PropertyType.GetUnderlyingType().Name == "Boolean")
               {
                  <input type="checkbox" name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                         } />
               }
               else if (numericTypes.Contains(prop.PropertyType.GetUnderlyingType().Name))
               {
                  <input type="number" name="@prop.Name" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                         } />
               }
               else
               {
                  <input type="text" name="@prop.Name" value="" @if (Model.Options.ReadOnlyProperties.Contains(prop.Name)) { @: disabled
                         } />
               }
            </td>
         }
         @if (Model.Options.CustomControls.Count > 0)
         {
            foreach (var control in Model.Options.CustomControls)
            {
               <td>
                  @if (!String.IsNullOrEmpty(control.EditView) && !String.IsNullOrWhiteSpace(control.EditView))
                  {
                     @Html.Partial((string)control.EditView, Model.Options.RowProperty)
                  }
               </td>
            }
         }
         @if (Model.Options.ShowRowControls)
         {
            <td>
               @if (!Model.Options.UpdateMethod.IsNullOrWhiteSpace())
               {
                  <a data-Method="@Model.Options.UpdateMethod" class="relationControlUpdate">update</a>
                  if (!Model.Options.DeleteMethod.IsNullOrWhiteSpace())
                  {
                     @:|<a data-Method="@Model.Options.DeleteMethod" class="relationControlDelete"> delete</a>
                  }
               }
            </td>
         }
      </tr>
   </tbody>
</table>
<script>
   $(document).ready(function ()
   {
      $('#@relationId').DataTable({
         @if (Model.Options.ScrollHeight > 0)
         {
            @:scrollY: @Model.Options.ScrollHeight,
         }
             paging: false,
             info:false,
             searching: false,
             ordering: false
          });

      @if (Model.Options.InitialReadOnly ||
           (Model.Options.UpdateMethod.IsNullOrWhiteSpace() && Model.Options.AddMethod.IsNullOrWhiteSpace() && Model.Options.DeleteMethod.IsNullOrWhiteSpace()))
      {
         @:$("#@relationId").disableRelationEdit();
      }
      else
      {
         @:$("#@relationId").enableRelationEdit();
      }
      @for (var i = 0; i < properties.Length && Model.Options.HiddenProperties.Count > 0; i++)
      {
         if (Model.Options.HiddenProperties.Contains(properties[i].Name))
         {
            @:$('#@relationId').hideColumn(@(i+1));
         }
      }
   });
</script>