﻿@model Qualanex.QoskCloud.Entity.ProductsML
@{
   Dictionary<int, int> PerPageCountNumber = new Dictionary<int, int>();
   PerPageCountNumber.Add(100, 100);
   PerPageCountNumber.Add(200, 200);
   PerPageCountNumber.Add(500, 500);
   //PerPageCountNumber.Add(1000, 1000);
}
<div class="product-box clearfix" style="margin-bottom: 0;">
   <div class="col-md-3">
      <div class="input-ctrl">
         <label>NDC / UPC </label>
         @Html.TextBox("WNNDCUPCWithDashes", "", new {@placeholder = "NDC / UPC", @maxlength = "20", @ONBLUR = "SearchNDCUPCType('#WNNDCUPCWithDashes', '#inputfieldNamesearch')", @id = "WNNDCUPCWithDashes"})
         <span id="inputfieldNamesearch"></span>
      </div>
   </div>
   <div class="col-md-3">
      <div class="input-ctrl">
         <label>Description<span></span></label>
         @Html.TextBox("WNDescription", "", new {@placeholder = "Description", @maxlength = "50",})
      </div>
   </div>
   <div class="col-md-3">
      <div class="input-ctrl">
         <label>Wholesaler</label>
         <div class="field">@Html.DropDownListFor(model => model.ProfileCode, (IEnumerable<SelectListItem>)ViewBag.WholesalerName, "Select", new {@id = "WNProfileCode"}) </div>
      </div>
   </div>

   <div class="col-md-3">
      <div class="input-ctrl">
         <label>Wholesaler #</label>
         <div class="field">@Html.TextBox("WNNumber", "", new {@placeholder = "Wholesaler Number", @maxlength = "50"}) </div>
      </div>
   </div>

   <div class="clearfix"></div>

   <div style="width: 100%; text-align: right;">
      <div class="row">
         <div class="col-md-4 col-sm-6">
         </div>
         <div class="col-md-8 col-sm-6">
            <input type="button" id="btnPrdAddWholesalerNumber" onclick="loadPartialView();" height="50" class="blue-btn UserAdminSave" width="100" value="Add">
            <input type="button" id="btnPrdWholesalerSearch" onclick="searchWholesalerNDC();" height="50" class="blue-btn" width="100" value="Search">
            <input type="button" id="btnPrdWholesalerreset" height="50" class="blue-btn" width="100" value="Reset">

         </div>
      </div>
   </div>
   <div class="clearfix"></div>
</div>
<div class="row show-pagesize-cmb" style="margin: 10px auto; display: none">
   <div class="col-md-12" style="margin-top: 5px;">

      <div class="pull-right">
         @Html.DropDownList("PagesizeCounter", new SelectList(PerPageCountNumber, "Value", "Key", ""), new {@class = "select_pager"})
      </div>
      <div class="pull-right" style="padding: 7px 7px 5px 0;">
         <span id="total-records" class="total-records"> </span> @Html.Label(" Records found ", new {@id = "lblidcounter", @class = "lblidcounter"})
      </div>
   </div>
</div>
<div class="clear"></div>
<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;" @*class="margin_top"*@>
   <div class="bottom_input">
      <div id="jqxgrid" class="jqx">
      </div>
   </div>
</div>
<div class="clear"></div>

<div id="LoadWholesalerPartialView">

</div>

