﻿@model Qualanex.QoskCloud.Entity.DynamicControlEntity  
@using (Html.BeginForm())
{
   <ul id="ulCustomeFields">
      @for (int i = 0; i < Model.Controls.Count; i++)
      {
         if (Model.Controls[i].Visible)
         {
            if (Model.Controls[i].Name != "NDC" && Model.Controls[i].Name != "UPC" && Model.Controls[i].Name != "NDCUPCWithDashes")
            {
               <li class="col-md-2 col-sm-6 col-xs-12">
                  @*@Html.HiddenFor(x => x.Controls[i].Type)
                @Html.HiddenFor(x => x.Controls[i].Name)*@

                  @Html.EditorFor(x => x.Controls[i])

               </li>
            }
         }
      }
   </ul>
}