﻿@if (ViewBag.SegmentComplete == null)
{
   ViewBag.SegmentComplete = "false";
}
@if (ViewBag.ToCollapse == null)
{
   ViewBag.ToCollapse = false;
}
@if (ViewBag.SegmentName == null)
{
   ViewBag.SegmentName = ViewBag.Segment.DisplayFormat;
}
@if (ViewBag.SegmentValidation == null)
{
   ViewBag.SegmentValidation = "";
}
@if (ViewBag.Level == null)
{
   ViewBag.Level = "level0";
}
@if (ViewBag.SegmentGroup == null)
{
   ViewBag.SegmentGroup = "";
}
@if (ViewBag.Hidden == null)
{
   ViewBag.Hidden = false;
}
@if (ViewBag.AdditionalSegment == null)
{
   ViewBag.AdditionalSegment = false;
}
@if (ViewBag.SegmentActions == null)
{
   ViewBag.SegmentActions = "_Empty";
}

<div class="QoskSegment" @(ViewBag.Hidden ? "hidden" : "")>
   <table>
      <tr>
         <td rowspan="2" class="QnexBorderL @ViewBag.Level"></td>
         <td class="QnexHeader @ViewBag.Level">
            <span class="containerTitle" style="height: 100%; position: relative; top: 25%">@ViewBag.SegmentName @RenderSection("SegmentTitle")</span>
            <span style="background: #3A80BB; height: 100%" class="pull-right">@Html.Partial((string)ViewBag.SegmentActions)</span>
         </td>
         <!-- This is a quick 'hack' for the show - there is another layout alternative that might make this moot, but it hasn't been approved yet -->
         @if (ViewBag.SegmentName != "Search Results")
         {
            <td rowspan="2" class="tdMarginR @ViewBag.Level">
               <img class="imgEx" src="@ViewBag.SegmentIcon" alt=""/>
               <img class="collapse-arrow" data-target="#@ViewBag.SegmentId" style="" src="~/Areas/Product/Images/QoskGraphics/Qosk_Arrow_Up.png" alt=""/>
            </td>
         }
         else
         {
            <td rowspan="2" class="QnexBorderR @ViewBag.Level">
            </td>
         }
      </tr>
      <tr id="@ViewBag.SegmentId" name="@ViewBag.SegmentName"
          @(ViewBag.SegmentGroup == "" ? "" : "data-segment-group=" + ViewBag.SegmentGroup)
          @(ViewBag.AdditionalSegment ? "data-additional-segment=true" : "")
          data-segment-complete="@ViewBag.SegmentComplete"
          data-segment-validation="@ViewBag.SegmentValidation"
          class="panel-collapse @(ViewBag.ToCollapse ? "toCollapse":"")">
         <td class="QnexContent @ViewBag.Level">
            <div class="panel-body">
               @RenderBody()
            </div>
         </td>
      </tr>
   </table>
   
</div>
