﻿@using Microsoft.Ajax.Utilities
@using Qualanex.Qosk.Library.Model.PolicyModel
@using Qualanex.QoskCloud.Utility
@using Qualanex.QoskCloud.Web.Areas.Sidebar.Models
@using Qualanex.QoskCloud.Web.Model
@model Qualanex.QoskCloud.Web.Areas.Sidebar.Models.ISidebarContainer
@{
   string type = ViewBag.Segment.ObjectID;
   ViewBag.SegmentId = type + Guid.NewGuid();
   ViewBag.Hidden = ViewBag.Segment.HasObjectId("VizHidden") || (!ViewBag.Segment.HasObjectId("ShowEmpty") && Model.ContainerInstance.ContainerId.IsNullOrWhiteSpace());
   Layout = "~/Views/Shared/_SidebarSegmentLayout.cshtml";

   var noContainer = Model.ContainerInstance.ContainerId.IsNullOrWhiteSpace();
}

@section SegmentTitle{ @Model.WasteProfileID }
@Html.Partial("_SidebarCommonFields", Model)
<table class="tableEx QoskForm QoskKeyboard" style="width: 100%;">
   <tr>
      <td>
         <table class="tableEx" style="">
            <tr>
               <td>
                  <table class="" style="width: 300px;">
                     <tr>
                        <td>ID</td>
                        <td>
                           <input class="containerId scannerRequired text-box single-line" name="ContainerInstance.ContainerId" style="height: 22px;" type="text" value="@Model.ContainerInstance.ContainerId" @(noContainer ? "" : "disabled")>
                        </td>
                     </tr>
                     <tr class="counter">
                        @if (Model.TypeGroup != Constants.Tote)
                        {
                           <td>Count: </td>
                           <td>
                              @Html.DisplayFor(model => model.Count)
                           </td>
                        }
                     </tr>
                     @if (Model.TypeGroup == Constants.Gaylord)
                     {
                        if (!String.IsNullOrEmpty(Model.RecallID))
                        {
                           <tr>
                              <td>Recall: </td>
                              <td>
                                 @Html.DisplayFor(model => model.RecallID)
                              </td>
                           </tr>
                        }
                        else
                        {
                           if (Model.ProfileCode != 0)
                           {
                              <tr>
                                 <td>Manufacturer: </td>
                                 <td>
                                    @Html.DisplayFor(model => model.Name)
                                 </td>
                              </tr>
                           }
                        }
                        <tr>
                           <td>Control Number: </td>
                           <td>
                              @Html.DisplayFor(model => model.CtrlNo)
                           </td>
                        </tr>
                        <tr>
                           <td>Approval Code: </td>
                           @if (Model.SeverityOrder > 0 && Model.SeverityOrder > 3)
                           {
                              <td>
                                 Nonhazardous
                              </td>
                           }
                           else
                           {
                              <td>
                                 @Html.DisplayFor(model => model.ApprovalCode)
                              </td>
                           }
                        </tr>
                     }
                     <tr>
                        <td colspan="2">
                           <table>
                              <tr>
                                 <td style="padding: 10px 0px 4px 8px; text-align: left;"><input class="buttonEx cmdKey containerClose" name="containerClose" style="" type="button" value="Close" disabled="@noContainer" /></td>
                                 <td style="padding: 10px 0px 4px 8px; text-align: left;"><input class="buttonEx cmdKey containerRequest" name="containerRequest" style="" type="button" value="Request" disabled="@(!noContainer)" /></td>
                                 <td style="padding: 10px 8px 4px 0px; text-align: right;">
                                    @if (!noContainer && Model.Attribute == "I")
                                    {
                                       <input class="buttonEx cmdKey containerPause" name="containerPause" style="" type="button" value="Pause" disabled="@noContainer" />
                                    }
                                    else
                                    {
                                       <input class="buttonEx cmdKey containerOpen" name="containerOpen" style="" type="button" value="Open" disabled="@(!noContainer)" />
                                    }

                                 </td>

                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>

               </td>
               <!-- filler -->
               <td>&nbsp;</td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td class="tdMessage">
         <table style="width: 100%;">
            <tr>
               <td>
                  <span class="tdCaption error sidebar"><br /></span>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>

