﻿@using Microsoft.Ajax.Utilities
@using Qualanex.Qosk.Library.Model.UPAModel
@using Qualanex.QoskCloud.Utility
@using Qualanex.QoskCloud.Web.Areas.Sidebar
@using Qualanex.QoskCloud.Web.Areas.Sidebar.Controllers
@using Qualanex.QoskCloud.Web.Areas.Sidebar.Models
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

@{
   var sidebar = Model.UpaApplication.childObj.Values.SingleOrDefault((Func<UPATab, bool>)(x => x.ObjectID == Constants.UpaSidebar));

   if (sidebar != null)
   {
      <table class="ql-sidebar">
         <tr><td class="Gutter-Top"></td></tr>
         <tr><td style="height: 8px; border-top-left-radius: 5px; border-top-right-radius: 5px; background: #2A669F;"></td></tr>
         <tr>
            <td>
               <table class="QoskBorder-LBR" style="width: 100%;">
                  <tr>
                     <td style="vertical-align: top;">
                        <div class="ql-body" id="tabs-@sidebar.ObjectID" style="position: relative; height: 100%; overflow-y: scroll;">

                           @{
                              //popualte the model for the sidebar containers on this station
                              ViewBag.Containers = new List<SidebarContainer>();
                              var machineName = SidebarCommon.GetMachineName(Request);
                              var startTime = DateTime.Now;
                              SidebarController.InflateSidebar(Model, Request.Cookies.Get("MachineName").Value);
                              var executionTime = DateTime.Now - startTime;
                              ViewBag.Tab = sidebar;
                           }
                           <input type="hidden" id="sidebarQueryTime" value="@executionTime.Ticks">
                           @Html.Partial("_Tab", Model)
                        </div>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
                              }
}
