﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@using Qualanex.QoskCloud.Utility
@using Qualanex.QoskCloud.Web.Areas.Sidebar.Models
@{
   string type = ViewBag.Segment.ObjectID;
   ViewBag.SegmentId = type;

   var containerGroup = new List<ISidebarContainer>(); //pointless, but it throws an error if not initialized
   switch (type)
   {
      case Constants.BlackSortBin: containerGroup = Model.BlackSortBin; break;
      case Constants.BlueSortBin: containerGroup = Model.BlueSortBin; break;
      case Constants.ClearSortBin: containerGroup = Model.ClearSortBin; break;
      case Constants.GreenSortBin: containerGroup = Model.GreenSortBin; break;
      case Constants.RedSortBin: containerGroup = Model.RedSortBin; break;
      case Constants.WhiteSortBin: containerGroup = Model.WhiteSortBin; break;
      case Constants.YellowSortBin: containerGroup = Model.YellowSortBin; break;
      case Constants.WasteGaylord: containerGroup = Model.WasteGaylord; break;
      case Constants.SmallGaylord: containerGroup = Model.SmallGaylord; break;
      case Constants.LargeGaylord: containerGroup = Model.LargeGaylord; break;
      case Constants.OrangeGaylord: containerGroup = Model.OrangeGaylord; break;
      case Constants.RecallGaylord: containerGroup = Model.RecallGaylord; break;
      case Constants.BlackGaylord: containerGroup = Model.BlackGaylord; break;
      case Constants.GrayInduction: containerGroup = Model.GrayInduction; break;
      case Constants.BlueInduction: containerGroup = Model.BlueInduction; break;
   }
}
<div id="@type">
   @foreach (var container in containerGroup)
   {
      @Html.Partial("_SidebarContainer", container)
   }
</div>

