﻿@*
  Common fields for sidebar controls. Each element defined with a "data-container-field" attribute will be added as
   a javascript property using the attribute value as the property name 
*@
@model Qualanex.QoskCloud.Web.Areas.Sidebar.Models.ISidebarContainer
<input data-container-field="count" name="Count" type="hidden" value="@Model.Count" />
<input class="containerId" data-container-field="containerId" name="ContainerInstance.ContainerId" type="hidden" value="@Model.ContainerInstance.ContainerId" />
<input data-container-field="instanceId" name="ContainerInstance.InstanceId" type="hidden" value="@Model.ContainerInstance.InstanceId" />
<input data-container-field="status" name="Status" type="hidden" value="@Model.Status" />
<input data-container-field="attribute" name="Attribute" type="hidden" value="@Model.Attribute" />
<input data-container-field="required" name="Required" type="hidden" value="@(Model.Attribute=="I" ? "true" : "false")" />
<input data-container-field="typeGroup" name="TypeGroup" type="hidden" value="@Model.TypeGroup" />
<input class="type" data-container-field="type" name="Type" type="hidden" value="@Model.Type" />
<input data-container-field="category" name="WasteProfileID" type="hidden" value="@Model.WasteProfileID" />
<input data-container-field="ctrlNo" name="CtrlNo" type="hidden" value="@Model.CtrlNo" />
<input data-container-field="profileCode" name="ProfileCode" type="hidden" value="@Model.ProfileCode" />
<input data-container-field="recallId" name="RecallID" type="hidden" value="@Model.RecallID" />
