﻿
@using Qualanex.QoskCloud.Utility
@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
<div id="@ViewBag.Tab.ObjectID">
   <input class="AppCodeHidden" value="@Model.UpaApplication.Code" hidden />
   @{
      //get a refrence to the tab object that matches the ViewBag value passed from index.cshtml
      var tab = Model.UpaApplication.childObj.Values.First(t => t.Code == ViewBag.Tab.Code);

      //check if this tab's segments should start collpased
      //the segment collapse functionality is implement in _SegmentLayout.cshtml
      bool collapseSegments = new List<string> { "Policy" /*add tab code here if segments should begin collapsed*/}.Contains(tab.ObjectID);
      ViewBag.ToCollapse = false; //the first segment should start expanded
      Model.AdditionalSegments.Clear(); //clear any additional segments that were added when rendering prior tabs

      //iterate and render child segments
      foreach (var seg in tab.childObj.Values)
      {
         ViewBag.Segment = seg;

         //sidebar is handled bit differently than other UPA tabs
         if (ViewBag.Tab.ObjectID == Constants.UpaSidebar)
         {
            //each type of container within the sidebar is rendered in a group of one or
            //more containers of the same type (e.g: RED_BIN, SMALL_GAYLRD, LARGE_GAYLRD)
            @Html.Partial("_SidebarContainerGroup", Model)
         }
         else
         {
            //the object ID of each segment must be the name of the partial View
            //that MVC uses to find the view
            //The view name should start with _Segment for clarity, but it is not required for functionality
            @Html.Partial(seg.ObjectID, Model)
         }

         //if segemnts need to be collapsed, after the first segment is left expanded,
         //the ToCollapse flag is set to true so the rest are collapsed
         if (collapseSegments)
         {
            ViewBag.ToCollapse = true;
         }
      }

      //Arbitrary additional segments may be added to the model within a tab's segment
      //these can be useful for executing javascripts that need to run when a tab is loaded
      //or including forms that are shared by one or more segments in the tab
      //When adding an additional segment to the model, the string key must match the name of the View
      //so that MVC can find and render it
      //The view names should start with _AdditionalSegment for clarity, though not required fore execution
      foreach (var segment in Model.AdditionalSegments)
      {
         @Html.Partial(segment, Model)
      }
   }
</div>