﻿<div id="dvwhiteborderforwholesaler" class="whiteborder">
    <div id="dvmanufactureprddetails" class="search-box" style="display: inline-block;">
        <div>
            <ul>
                <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong id="manufacturerpkagerlabel">Manufacturer :</strong> <div id="manufacturerpkager">Hospira 4</div></label>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong id="ndcupclabel">NDC With Dashes :</strong> <div id="ndcupcid">00409-1102-32</div></label>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong>Product Description :</strong> <div id="prddesname">Codeine Phosphate</div></label>
                </li>
                <li class="col-md-2 col-sm-6 col-xs-12" style="margin: 0; height: auto;">
                    <label><strong> Strength :</strong> <div id="prdstrength">30 MG/ML</div></label>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="whiteborder">
    <form id="frmAddWholeseler">
        <div class="product-box" style="margin-bottom:0">
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Wholesaler Name<span>*</span></label>
                    <div class="field">
                        <select id="ddlWholeselers" class="validate[required]"></select>
                        </div>
                    </div>
                </div>
            @*Phone Number validation given to Wholesaler Number textbox edit by Raju mysa*@
            <div class="col-md-4">
                <div class="input-ctrl">
                    <label>Wholesaler Number<span>*</span></label>
                    <div class="field">
                        <input id="txtWholeseler" class="validate[required,custom[phone]]" maxlength="30" type="text" value=""oninput="return PhoneNumberMask(event);" placeholder="Enter Phone Number"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
               
                <input id="addrowbutton" type="button" class="blue-btn UserAdminSave" value="Add" />
                <input type="reset" class="blue-btn" value="Reset">
                </div>
                
                <div class="clearfix"></div>

            </div>
    </form>

</div>
<div class="clearfix"></div>
<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
    <div style="float: left;" id="jqxgridwholesalercrud">
    </div>
</div>

<div class="clearfix"></div>
<script type="text/javascript">
    var _ProductID = 0;
    function checkWholeseler(field, rules, i, options) {
       
        var msg = undefined;
        var url = '../Product/CheckExistanceofWholesalerNumber';
        if ($("#txtWholeseler").val() != "") {

            var datarow = {
                WholesalerNumberID: 0,
                ProductID: _ProductID,
                ProfileCode: $("#ddlWholeselers").val(),
                WholesalerName: $("#ddlWholeselers option:selected").text(),
                Number: $("#txtWholeseler").val()
            }

            $.ajax({
                type: "POST",
                url: url,
                data: datarow,
                //contentType: 'application/json; charset=utf-8',
                //traditional: true,
                async: false,
                //dataType: 'json',
                success: function (result) {
                    if (result.data == 0) {
                        
                        //isUserValidate = true;
                    }
                    else {
                        
                        msg = "Wholeseler already exists";
                        $("#txtWholeseler").val('');
                       // isUserValidate = false;
                    }
                },
                complete: function () {
                },
                error: function (req, status, error) {
                    //alert(status);
                }
            });
        }

        return msg;
    }

    function deleteselectedwholesalerNumber() {
        $("#alertdeletemessageid").text(Product.DeleteConfirmation);
        $(".alert-popup-body-message-confirm").show();
        $("#btdeletenok").unbind("click");
        $("#btdeletenok").click(function () {
            $(".alert-popup-body-message-confirm").hide();
            var selectedrowindex = $("#jqxgridwholesalercrud").jqxGrid('getselectedrowindex');
            var rowscount = $("#jqxgridwholesalercrud").jqxGrid('getdatainformation').rowscount;
            if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                var id = $("#jqxgridwholesalercrud").jqxGrid('getrowid', selectedrowindex);
                var commit = $("#jqxgridwholesalercrud").jqxGrid('deleterow', id);
            }
        });

    }

    function BindWholeselerGrid(ProductID) {
        _ProductID = ProductID;
        // prepare sample data.
        var data = {};
        var result = GenerateWholesalerDropdown();
        Populatedropdown("#ddlWholeselers", result, "Name", "ProfileCode", "");       
        $("#frmAddWholeseler").validationEngine();

        // create new row.
        $("#addrowbutton").on('click', function () {
            if ($('#frmAddWholeseler').validationEngine('validate')) {                
                var datarow = {
                    WholesalerNumberID: 0,
                    ProductID: ProductID,
                    ProfileCode: $("#ddlWholeselers").val(),
                    WholesalerName: $("#ddlWholeselers option:selected").text(),
                    Number: $("#txtWholeseler").val()
                }
                var commit = $("#jqxgridwholesalercrud").jqxGrid('addrow', null, datarow);
            }
        });

        var source =
            {
                datatype: "json",
                datafields: [
                                { name: 'WholesalerNumberID', type: 'number' },
                                { name: 'ProductID', type: 'number' },
                                { name: 'ProfileCode', type: 'number' },
                                { name: 'WholesalerVersion', type: 'number' },
                                { name: 'WholesalerName', type: 'string' },
                                { name: 'Number', type: 'string' }, ],
                id: 'WholesalerNumberID',
                url: '../Product/GetWholesalerByProductID',
                data: { ProductID: ProductID },
                addrow: function (rowid, rowdata, position, commit) {
                    // synchronize with the server - send insert command
                    $.ajax({
                        cache: false,
                        dataType: 'json',
                        url: '../Product/InsertWholesalerNumber',
                        data: rowdata,
                        type: "POST",
                        success: function (data, status, xhr) {
                            // insert command is executed.
                            if (data.data == 0) {
                                rowdata.WholesalerNumberID = data.result.WholesalerNumberID
                                rowdata.WholesalerVersion = data.result.Version

                                commit(true);
                                $("#frmAddWholeseler")[0].reset();
                            }
                            else {
                                commit(false);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                            commit(false);
                        }
                    });
                },
                deleterow: function (rowid, commit) {
                    // synchronize with the server - send delete command
                    $.ajax({
                        dataType: 'json',
                        cache: false,
                        url: '../Product/DeleteWholesaler',
                        data: { wholesalerId: rowid },
                        type: "POST",
                        success: function (data, status, xhr) {
                            if (data.Result == 'Deleted' || data.Result == 'OK') {
                                // delete command is executed.
                                commit(true);
                            }
                            else {
                                $("#alertmessageid").text('Failed to delete wholeseler number.');
                                $(".alert-popup-body-message").show();
                                commit(false);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.statusText);
                            commit(false);
                        }
                    });
                },
                updaterow: function (rowid, rowdata, commit) {
                    // synchronize with the server - send update command
                    rowdata.WholesalerNumberID = rowid;


                    $.ajax({
                        cache: false,
                        dataType: 'json',
                        url: '../Product/UpdateWholesalerNumber',
                        data: rowdata,
                        type: "POST",
                        success: function (result, status, xhr) {

                            if (result.VersionChanged) {
                                $("#alertmessageid").html(Product.VersionChange);
                                $("#btnok").bind("click", function () {
                                    $("#btnok").unbind("click");
                                    closePopup();
                                });
                                rowdata.Number = result.Updatedresult.Number;
                                rowdata.WholesalerVersion = result.Updatedresult.Version;

                                commit(true);
                                $(".alert-popup-body-message").show();
                            }
                            else if (result.Result == 'Deleted') {
                                $("#alertmessageid").html(Product.Delete);
                                $(".alert-popup-body-message").show();
                                commit(false);
                            }
                            else {
                                //$('#WholesalerVersion').val(result.UpdateVersion);
                                //$("#alertmessageid").html(result.Result.toString());
                                rowdata.WholesalerVersion = result.UpdateVersion;
                                commit(true);
                            }

                            // update command is executed.

                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                            commit(false);
                        }
                    });
                }
            };
        var dataAdapter = new $.jqx.dataAdapter(source);

        var jsoncolumn = [
                              {
                                  text: 'Wholesaler Name', columntype: 'dropdownlist', datafield: 'WholesalerName', editable: false, initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
                                      //editor.jqxDropDownList({ source: result, displayMember: 'Name', valueMember: 'ProfileCode' });
                                      // Populatedropdown(editor, result, "Name", "ProfileCode", cellvalue);
                                  }
                              },
                              {
                                  text: 'Wholesaler Number', columntype: 'textbox', datafield: 'Number',
                                  validation: function (cell, value) {
                                      if (value == "")
                                          return { result: false, message: "* This field is required." };
                                      else {
                                          //var selectedrowindex = $("#jqxgridwholesalercrud").jqxGrid('getselectedrowindex');
                                          //var objAddWholesalerNumber = $('#jqxgridwholesalercrud').jqxGrid('getrowdata', selectedrowindex);
                                          //objAddWholesalerNumber.Number = value;

                                          //var resultstatus = SendAjaxGet('../Product/CheckExistanceofWholesalerNumber', objAddWholesalerNumber)

                                          //if (resultstatus.data == 0) {
                                          return true;
                                          //}
                                          //else {
                                          //    return { result: false, message: "* Please enter Unique value." };
                                          //}
                                      }
                                  }
                              }
                             
        ];

        var deleteWholeseler = {
            "text": "Delete",
            "width": "50",
            editable: false,
            datafield: 'WholesalerNumberID',
            pinned: true,
            //rtl: true,
            sortable: false,
            filterable: false,
            menu: false,
            "cellsrenderer": function (row, column, value) {

                var html = "<a id='adeletewholesaler' class='delete-btn' onclick='deleteselectedwholesalerNumber();' ></a>";
                return html;
            }
        };
        var IsEditable = false;
        if (UserRole == UserRoles.ADMN) {
            jsoncolumn.push(deleteWholeseler);
            IsEditable = true;
        }

        // initialize jqxGrid
        $("#jqxgridwholesalercrud").jqxGrid(
            {
                width: '100%',
                height: '100%',
                source: dataAdapter,
                editable: IsEditable,
                showtoolbar: false,
                ready: function () {
                  



                },
                rendertoolbar: function (toolbar) {

                    var me = this;
                    var container = $("<div style='margin: 5px;'></div>");
                    toolbar.append(container);
                  
                    container.append('');

                




                },
                columns: jsoncolumn
            });
      
    }


    function GenerateWholesalerDropdown() {
        var result = SendAjaxGet('../Product/GetWholesaler', { pType: 'Wholesaler' });
        return result;
    }


</script>
