﻿<div id="dvWholesalerNumbers" style="display:none;" class="product-list">
    <div class="top_heading">
        <h1>Wholesaler Number List</h1>

        @*<div id="dvwhiteborderforwholesaler" class="whiteborder"></div>
            <div class="clearfix"></div>
            <div id='jQxWholesalerNumbers' style="font-size: 13px; font-family: Verdana; float: left;">
                <div class="bottom_input">
                    <div id="jqxgridforwholesaler" class="jqx">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>*@
          
        @Html.Partial("_WholesalerNumberCRUD")


            <div class="backtosearch">
                <a href="javascript:BackFromWholesalerToProduct()">&laquo; Back to search results</a>
            </div>
        </div>
</div>


<script type="text/javascript">

    function BackFromWholesalerToProduct() {
        
        $('#dvWholesalerNumbers').hide();
        $('#productList').show();
    }

    function LoadWholesalerNumbers(wNumberrow) {

        var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', wNumberrow);
        BindHeaderValues(dataRecord);

        var prdinfo = $('#dvmanufactureprddetails').clone();
        $('#dvwhiteborderforwholesaler').empty().html(prdinfo.css("display", "inline-block"));

        $('#productList').hide();
        $('#dvWholesalerNumbers').show();

        BindWholeselerGrid(dataRecord.ProductID);
        //var source = {

        //    datatype: "json",
        //    type: 'GET',
        //    url: '../Product/GetWholesalerByProductID',
        //    datafields: [

        //           { name: 'WholesalerName', type: 'string' },
        //           { name: 'Number', type: 'string' },
        //    ],
        //    data: { ProductID: dataRecord.ProductID },
        //    root: 'Rows',
        //    contentType: "application/json; charset=utf-8",

        //    // update the grid and send a request to the server.
        //    filter: function () {
        //        $("#jqxgridforwholesaler").jqxGrid('updatebounddata', 'filter');
        //    },
        //    // update the grid and send a request to the server.
        //    sort: function () {
        //        $("#jqxgridforwholesaler").jqxGrid('updatebounddata', 'sort');
        //    },
        //    beforeprocessing: function (data) {
        //        source.totalrecords = data.TotalRows;
        //    },
        //};
        //var dataadapter = new $.jqx.dataAdapter(source, {
        //    loadError: function (xhr, status, error) {
        //    },

        //});
        //var columns = [
        //     //{ text: 'Manufacturer / Repackager Name', datafield: 'ManufacturerRepackagerName' },
        //     //      { text: 'Description', datafield: 'Description' },
        //           { text: 'Wholesaler Name', datafield: 'WholesalerName' },
        //           { text: 'Wholesaler Number', datafield: 'Number' },
        //]

       

        //$("#jQxWholesalerNumbers").jqxGrid({
        //    width: '100%',
        //    source: dataadapter,
        //    pageable: true,
        //    sortable: true,
        //    filterable: true,
        //    //pageable: true,
        //    columnsreorder: true,
        //    //virtualmode: true,
        //    showdefaultloadelement: false,
        //    enabletooltips: true,
        //    columnsresize: true,
        //    height: '100%',
        //    pagermode: 'simple',
        //    rendergridrows: function (obj) {
        //        return obj.data;
        //    },
        //    ready: function () {
        //        $('#jqxgridforwholesaler').jqxGrid({ pagesizeoptions: ['100'] });


        //    },
        //    columns: columns,


        //});


    }
</script>