﻿<div class="alert-popup-body-message" style="display:none">
    <div class="alert-popup">
        <h1>Message <span class="alert-close"></span></h1>
        <div class="alert-text">
            <p id="alertmessageid" class="text-center"></p>
            <div class="alert-btn">
                <input type="button" value="Ok" id="btnok">
            </div>
        </div>
    </div>
</div>
