﻿
@{
   ViewBag.Title = "DeviceTest";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm ";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}

<h2>DeviceTest</h2>

<script type="text/javascript">
   $(document).ready(function () {
      $.getJSON("https://localhost:8001/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   });

   function CallScaleTare() {
      $.getJSON("https://localhost:8001/Qualanex/http/ScaleTare", {}, function (data) { alert(data); });
   }

   function CallScaleCapture() {
      $.getJSON("https://localhost:8001/Qualanex/http/ScaleCapture", {}, function (data) { alert(data); });
   }

   function CallScreenCapture() {
      $.getJSON("https://localhost:8002/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   }

   function CallWebcam() {
      $.getJSON("https://localhost:8003/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   }

   function CallPillCounter() {
      $.getJSON("https://localhost:8004/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   }

   function CallBioReader() {
      $.getJSON("https://localhost:8005/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   }

   function CallLabelPrinter() {
      $.getJSON("https://localhost:8006/Qualanex/http/Initialize", {}, function (data) { alert(data); });
   }

   function CallAdd() {
      $.getJSON("https://localhost:8001/Qualanex/http/Add?n1=3.4&n2=5.2", {}, function (data) { alert(data); });
   }

   function CallPrint() {
      $.getJSON("https://localhost:8006/Qualanex/http/Print?GUID=D8A3A49C-5125-48F2-992B-51897AD1F138&NDCUPC=66582-0414-31&Descr=Zetia&Strength=10MG&Qty=10&SealedStatus=O&PkgSz=30&LotNumber=I048280&ExpDate=10/2018&ApprovedCode=~&WasteDescr=~", {}, function (data) { alert(data); });
   }

   function CallWindow()
   {
      alert(document.title);


   }
</script>

<script>

   function showMenu(obj, key)
   {
      if (obj.attr('class') !== 'QoskMenu')
      {
         $('#QoskMenu').css('display', key ? key : 'none');
      }

      event.stopPropagation();
   }

   function flipMenu(obj)
   {
      var menuBlock = obj.closest('.menuParent').find('.menuBlock').first();
      var menuDisplay = menuBlock.css('display');

      menuBlock.css('display', menuDisplay === 'none' ? 'block' : 'none');
   }

</script>
<br />
<br />
<input id="Button1" type="button" value="tare" onclick="CallScaleTare()" />
<input id="Button2" type="button" value="capture" onclick="CallScaleCapture()" />
<br />
<br />
<input id="Button3" type="button" value="ScreenCapture" onclick="CallScreenCapture()" />
<br />
<input id="Button4" type="button" value="WebCam" onclick="CallWebcam()" />
<br />
<input id="Button5" type="button" value="PillCounter" onclick="CallPillCounter()" />
<br />
<input id="Button6" type="button" value="BioReader" onclick="CallBioReader()" />
<br />
<input id="Button7" type="button" value="LabelPrinter" onclick="CallLabelPrinter()" />
<br />
<input id="Button8" type="button" value="add" onclick="CallAdd()" />
<br />
<input id="Button9" type="button" value="PrintLabel" onclick="CallPrint()" />
<br />
<input id="ButtonA" type="button" value="Window.self" onclick="CallWindow()" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />