﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="error text-center">
        <div class="col-md-12"><img src="~/images/error.png" alt="Error Image" /></div>
        <h1 class="col-md-12">Error</h1>

        <h3 class="col-md-12">An error occurred while processing your request.</h3>
    </div>
 
    <div class="backtosearch">
        @Html.ActionLink("« Back to search results", null, null, null, new { href = Request.UrlReferrer })
    </div>
</div>

