﻿@model Qualanex.QoskCloud.Entity.ProfilesName
           @if(TempData["Manufacture"]!=null)
           { 
           <div>@Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)TempData["Manufacture"], "Select", new { @class = "productdesupdate formAddValidation Imageuploadclass" }) </div>
             TempData.Keep("Manufacture");
           }
<script type="text/javascript">
    $(document).ready(function () {
        $("#Name").change(function () {
            var profileId = $("#Name").val();
             $.ajax({
                url: "@Url.Action("GetSelectedManufacture","Product")",
                data: { profileID: parseInt(profileId) },
                type: 'POST',
                Success: function (result)
                {  }, error: function () {  }
            });
        });
    });
       
</script>  