﻿@{
    ViewBag.Title = "FileNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="error text-center">
        <div class="col-md-12"><img src="~/images/error.png" alt="Error Image" /></div>
        <h1 class="col-md-12 text-danger">Not Found</h1>
        </div>
    <div style="text-align:left; width:120px; margin-top:15px;" class="blue-btn">
        @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
    </div>
    </div>

