﻿@model Qualanex.QoskCloud.Entity.ResponsePolicy

 <div class="main-container">

        

        <div class="product-list">
        @if (@ViewBag.Update != null)
        {
            <h1>UPDATE POLICY RULE</h1>

            <h2 id="policySuccessMessage" class="error-red error-style"></h2>
        }
        else
        {
            <h1>CREATE NEW POLICY</h1>
            <h2 id="policySuccessMessage" class="error-red error-style"></h2>
        }
            <div id="tab-container" class='tab-container'>
                <ul class='etabs tb1'>
                @if (ViewBag.Update == "Update")
                {
                    <li class='tab' style="display:none"><a href="#qu-tab2">Step 2</a></li>
                }
                else
                {
                    <li class='tab'><a href="#qu-tab1">Step 1</a></li>
                    <li class='tab' style="display:none"><a href="#qu-tab2">Step 2</a></li>
                }
                </ul>
                <div class='panel-container'>
                @if (ViewBag.Update != "Update")
                {
                    <div id="qu-tab1">

                        <div class="physician-box">

                            <div class="input-ctrl">
                                <label>Select Policy <span>*</span></label>
                                <div class="field">
                                    @Html.TextBoxFor(model=>model.SelectedPolicyType)
                                    @*@Html.DropDownListFor(model => model.SelectedPolicyType, new SelectList(PolicyDict, "Value", "Key", ""), "Select", new { @class = "required" })
                                </div>*@
                            </div>

                            <div class="input-ctrl" id="policytpeidforshoandhidecustom">
                                <label>Profile Type <span>*</span></label>
                                <div class="field">
                                    @Html.TextBoxFor(model=>model.SelectedMWRType)
                                    @*@Html.DropDownListFor(model => model.SelectedMWRType, new SelectList(CustomMWRProfileType, "Value", "Key", ""), "Please select", new { @class = "PolicyIndexValidation" })*@
                                </div>
                            </div>


                         

                            <div class="input-ctrl" id="ProfileListSec">
                                <label>Profile Name <span>*</span></label>
                                <div class="field">
                                    @Html.TextBoxFor(model=>model.PolicyNameforGrid)
                                </div>
                            </div>

                            <div class="input-ctrl" id="policyforpublished">
                                <label>Policy Type <span>*</span></label>
                                <div class="field">
                                    @Html.TextBoxFor(model=>model.PolicyNameforGrid)
                                    @*@Html.DropDownListFor(model => model.PolicyType, new SelectList(MWRPddlolicyTypepublished, "Value", "Key", ""), "Please select", new { @class = "PolicyIndexValidation", @id = "policytypeforpublishedpolicy" })*@
                                </div>
                            </div>

                            @Html.TextBoxFor(m => m.CurrentPageNoforPharmacy, new { name = "txtCurrentPageNoforpharmacy", id = "txtCurrentPageNoforpharmacy", @class = "hidden" })
                            <input type="hidden" id="hdnpolicyPageNo" />
                            <input type="hidden" id="hdnpharmacyTotalRecords" />
                         

                                <div class="lot-btn-table" id="prddivbutton" style="display:none">
                                    <input type="button" id="getproductdetails_button" value="Get NDC Number" class="blue-btn" />
                                </div>


                            <div class="custom-table cus-sel-table1" id="product-grd-manufacturebasedview" style="display:none">
                                <h1>
                                    NDC Number Details
                                </h1>

                                <div id="partialProductListGrd" class="table-scroll">
                                    @Html.TextBoxFor(m => m.NDCLOTCurrentPageNo, new { name = "txtNDCLOTCurrentPageNo", id = "txtNDCLOTCurrentPageNo", @class = "hidden" })
                                   
                                        <div id='NDCjqxWidget' style="font-size: 13px; font-family: Verdana; width:100%;" class="custom-table custom-table-wordwrap">
                                            <div id="NDCjqxgrid">
                                            </div>
                                        </div>
                                 
                                    <div class="grid-btn">
                                        <input type="button" class="grid-btn-prev" style="display:none" onclick="GenerateNDCGridForRestPages(false);" />
                                        <input type="button" class="grid-btn-next" style="display:none" onclick="GenerateNDCGridForRestPages(true);" />

                                    </div>

                                </div>

                            </div>

                            </div>

                            <div style="text-align:center">
                                <input type="button" id="btnPolicyStepOne" onclick="SteponeValidate();" class="blue-btn" value="Next" />
                            </div>


                        </div>
                   
                }
                                    </div>
                }
        </div>


    </div>
     </div>


 </div>
@Html.Partial("_Wait")