﻿<div class="alert-popup-body-message-confirm" style="display:none; position:fixed; z-index:1; top:20%; left:35%" id="confirmAlert">
   <div class="alert-popup">
      <h1>Confirmation Alert<span class="alert-close"></span></h1>
      <div class="alert-text">
         <p id="alertdeletemessageid" class="text-center"></p>
         <div class="alert-btn">
            <input type="button" value="Save" id="btsave">
            <input type="button" value="Discard" id="btdiscard">
            <input type="button" value="Continue" id="btcontinue">
            <input type="button" value="Yes" id="btyes">
            <input type="button" value="No" id="btno">
         </div>
      </div>
   </div>
</div>