﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel

<div id="WrhsCtrl2GridSummary">
   <div class="QoskSegment">
      <table>
         <tr>
            <td rowspan="2" class="QnexBorderL level0"></td>
            <td class="QnexHeader level0">
               <span style="height: 100%; position: relative; top: 25%">Summary</span>
            </td>
            <td class="QnexIcon obscure"></td>
            <td rowspan="2" class="QnexBorderR level0"></td>
         </tr>
         <tr>
            <td colspan="2" class="QnexContent level0">
               <table id="searchGrid_Summary" class="display" cellspacing="0" style="width:95%;">
                  <thead>
                     <tr class="collapse in">
                        <th>RA Number</th>
                        <th>Manufacturer</th>
                        <th>Totes Finished</th>
                        @*<th>In Process</th>*@
                        <th>Totes Received</th>
                        <th>Staged Date</th>
                        <th>Ready</th>
                        <th hidden></th>
                        <th hidden></th>
                        <th hidden></th>
                        <th hidden></th>
                        <th hidden></th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach (var item in Model.WrhsCtrl2.Ctrl2Summary)
                     {
                        <tr class="searchGrid_Summary-div-click"
                            MgmtEntity-id="@item.RAID"
                            MgmtEntity-data="entity=@Json.Encode(item)"
                            MgmtEntity-action=""
                            MgmtEntity-target="#formMax">
                           <td exchange="RA" exchange-value="@item.RA">
                              @item.RA
                           </td>
                           <td exchange-value="@item.Mfg" exchange="Mfg">
                              @item.Mfg
                           </td>
                           <td exchange="WrhsContrIdF" exchange-value="@item.WrhsContrIdF">@item.WrhsContrIdF</td>
                           @*<td exchange="WrhsContrIdI" exchange-value="@item.WrhsContrIdI">@item.WrhsContrIdI</td>*@
                           <td exchange="WrhsContrIdR" exchange-value="@item.WrhsContrIdR">@item.WrhsContrIdR</td>
                           <td exchange="Date" exchange-value="@item.Date">@item.Date</td>
                           <td exchange="Ready" exchange-value="@(item.WrhsContrIdR == item.WrhsContrIdF && (item.WrhsContrIdR!=0 && item.WrhsContrIdF != 0)?1:0)">
                              @if (item.WrhsContrIdR == item.WrhsContrIdF && (item.WrhsContrIdR != 0 && item.WrhsContrIdF != 0))
                              {
                                 @:[READY]
                              }
                           </td>
                           <td exchange="Address" hidden exchange-value="@item.Address"></td>
                           <td exchange="To" hidden exchange-value="@item.To"></td>
                           <td exchange="DebitMemo" hidden exchange-value="@item.DebitMemo"></td>
                           <td exchange="CityState" exchange-value="@item.CityState" hidden></td>
                           <td exchange="DEA" exchange-value="@item.DEA" hidden></td>
                           @*<td exchange="List" exchange-value="@Json.Encode(item.WrhsCtrl2List)" hidden></td>*@
                        </tr>
                     }
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </div>
</div>
<script>
   $(document).ready(function ()
   {
      $("#tab-container a[href='#" + $("#WrhsCtrl2GridSummary").closest("div.ql-body").attr("id") + "'] span").html($("#tab-container a[href='#" + $("#WrhsCtrl2GridSummary").closest("div.ql-body").attr("id") + "'] span").html().replace("{0}", "(" + $(".searchGrid_Summary-div-click").length + ")"));
   });
</script>