﻿@model Qualanex.QoskCloud.Web.ViewModels.UpaViewModel
@{
   var lnNo = "";
   var ndc = "";
   decimal? formQnt = 0;
   var unt = "";
   var dea = "";
   var indx = 0;
   var total = 0;
   var guid = "";
   var bin = "";
   var formComplete = Model.WrhsCtrl2.FormCompleted;
   // data.Match =1 --- you have exact match and 0 discrepancy
   // data.Match =2 --- multiple items for same ndc
   // data.Match =3 --- multiple form for more  than one item ( same ndc)
   // data.Match =4 --- We have approved item under that ndc
}
<style>
   table.dataTable tbody tr.odd {
      background-color: #4cff00;
   }
   /* by default all of grid's textboxes used this class*/
   .inputMatching {
      text-align: center;
      width: 60px;
   }
   /* when user changed the textbox , this class has orange color in textbox*/
   .inputMatchingChange {
      color: #000;
      font-weight: bold;
      text-align: center;
      background-color: #efa56e;
   }
</style>
<div id="WrhsCtrl2DetailsForm">
   <input type="hidden" id="txtStatus" value="@ViewBag.status" />
   @if (Model.WrhsCtrl2.Ctrl2Matching.Count == 0)
   {
      @Html.Partial("_SearchResults", Model)
   }
   else
   {
      <div class="QoskSegment">
         <table>
            <tr>
               <td rowspan="2" class="QnexBorderL level0"></td>
               <td class="QnexHeader level0">
                  <span style="height: 100%; position: relative; top: 25%">Matching</span>
               </td>
               <td class="QnexIcon obscure"></td>
               <td rowspan="2" class="QnexBorderR level0"></td>
            </tr>
            <tr>
               <td colspan="2" class="QnexContent level0">
                  <table id="searchGrid_Matching" class="display" cellspacing="0" style="width:95%;">
                     <thead>
                        <tr class="collapse in">
                           <th>DEA Form #</th>
                           <th>Line #</th>
                           <th>Form NDC</th>
                           <th>Form Qty.</th>
                           <th>Unit</th>
                           <th>Approval</th>
                           <th>Match</th>
                           <th>GUID</th>
                           <th>Item Qty.</th>
                           <th>Condition</th>
                           <th>Bin</th>
                           <th>Approval</th>
                           <th hidden></th>
                        </tr>
                     </thead>
                     <tbody>
                        @foreach (var data in Model.WrhsCtrl2.Ctrl2Matching)
                        //.OrderBy(c=>c.NDC).ThenBy(c=>c.DEA).ThenBy(c=>c.LineNo).ThenByDescending(c => c.Condition))
                        {
                           indx++;
                           var hideApproved = data.Approved;

                           bin = !string.IsNullOrEmpty(data.WhiteBin) ? data.WhiteBin : !string.IsNullOrEmpty(data.BlackBin) ? data.BlackBin : "";

                           if (string.IsNullOrWhiteSpace(dea)
                                                         && string.IsNullOrWhiteSpace(lnNo)
                                                         && string.IsNullOrWhiteSpace(ndc)
                                                         && formQnt == 0
                                                         && string.IsNullOrWhiteSpace(unt))
                           {
                              // set dea , line no , ndc information to know when we have another row and
                              // change the background color because of grouping
                              dea = data.DEA;
                              lnNo = data.LineNo.ToString();
                              ndc = data.NDC;
                              formQnt = data.FormQty;
                              unt = data.Unit;
                           }
                           else
                           {
                              if (dea == data.DEA
                                 && lnNo == data.LineNo.ToString()
                                 && ndc == data.NDC
                                 && formQnt == data.FormQty
                                 && unt == data.Unit)
                              {
                                 dea = data.DEA;

                                 if ((!string.IsNullOrWhiteSpace(data.DEA) && !string.IsNullOrWhiteSpace(data.NDC))
                                    || (string.IsNullOrWhiteSpace(data.DEA) && string.IsNullOrWhiteSpace(data.NDC)))
                                 {
                                    ndc = data.NDC;
                                    data.NDC = "";
                                 }

                                 data.DEA = "";
                                 lnNo = data.LineNo.ToString();
                                 data.LineNo = 0;

                                 formQnt = data.FormQty;
                                 data.FormQty = 0;
                                 unt = data.Unit;
                                 data.Unit = "";
                              }
                              else
                              {
                                 dea = data.DEA;
                                 lnNo = data.LineNo.ToString();
                                 ndc = data.NDC;
                                 formQnt = data.FormQty;
                                 unt = data.Unit;
                              }
                           }

                           <tr class="searchGrid_Matching-div-click matches @if(data.Match==1 || data.Match==3) {@:hidden
                               }"
                               MgmtEntity-id="@indx"
                               @*MgmtEntity-data="entity=@Json.Encode(data)"*@
                               MgmtEntity-action=""
                               MgmtEntity-target="#formMax">

                              @* when we are repeating dea number (the row) we changing dea background color to black, by default it is lightyellow *@
                              <td exchange="dea" exchange-value="@dea" style="background-color:@if (!string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else {@:#000
                                                             }">
                                 @data.DEA
                              </td>
                              @* when we are repeating lineno (the row) with the same ndc, we changing line number background
                                 color to black,  by default it is lightyellow *@
                              <td exchange="lineNo" exchange-value="@lnNo" style="background-color:@if ((!string.IsNullOrWhiteSpace(lnNo) && lnNo!="0") &&
                                                            !string.IsNullOrWhiteSpace(data.NDC) && !string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else {@:#000;color:#000
                                                             } ">
                                 @if (data.LineNo != 0)
                                 {
                                    @data.LineNo
                                 }
                              </td>
                              @* when we are repeating ndc (the row) with the same dea and line no or we have unmatched item, we changing ndc background
                                 color  to black,  by default it is lightyellow , if this is unmatched records,
                                 we are adding unmatch class and changing background to blue (#6499ce)*@
                              <td exchange="ndc" exchange-value="@ndc" class="@if (!string.IsNullOrWhiteSpace(data.NDC) && !string.IsNullOrWhiteSpace(data.DEA)) {@:reg
                                                             } else if (!string.IsNullOrWhiteSpace(data.NDC) && string.IsNullOrWhiteSpace(data.DEA)) {@:unmatch
                                                         } else {@:rpt
                                                             } " style="background-color:@if (!string.IsNullOrWhiteSpace(data.NDC) && !string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else if (!string.IsNullOrWhiteSpace(data.NDC) && string.IsNullOrWhiteSpace(data.DEA)) {@:#6499ce
                                                         } else {@:#000;color:#000
                                                             } ">
                                 @ndc
                              </td>
                              <td exchange="FormQnty" exchange-value="@data.FormQty" style="background-color:@if (!string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else {@:#000;color:#000
                                                             } ">
                                 @Convert.ToDouble(data.FormQty)
                              </td>
                              <td exchange="Unit" exchange-value="@unt" style="background-color:@if (!string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else {@:#000;color:#000
                                                             } ">
                                 @unt
                              </td>
                              <td exchange="ApproveAll" exchange-value="@indx" style="width:100px;background-color:@if (!string.IsNullOrWhiteSpace(data.DEA)) {@:lightyellow
                                                             } else {@:#000;color:#000
                                                             } ">
                                 @if (!string.IsNullOrWhiteSpace(data.NDC) && !string.IsNullOrWhiteSpace(data.DEA))
                                 {
                                    @* ViewBag.Status means this is ready for matching or no, if it's not 2
                                       or if ndc is empty or matched before it means you can't change it and we are showing as label *@
                                    <input type="submit" name="@indx" value="Approve" class="btnErrorMessage ApprovedAllItem" style="@if ((int)ViewBag.status != 2 || string.IsNullOrWhiteSpace(data.NDC) || data.Match==4)
                                 {@: display:none
                                  } " />
                                    <div id="PendingAll_@indx" class="hidden"> <img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" /> Pending</div>
                                    <div id="EditedAll_@indx" class="hidden"> <img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" /> Edited</div>
                                    <div id="ApprovedAll_@indx" class="@if(data.Match!=4) {@: hidden
                                      }"><img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" />Approved</div>
                                 }
                              </td>
                              <td exchange="MatchRate" exchange-value="@data.MatchRate"
                                  style="@if (data.FormQty != data.ItemQty && ViewBag.status == 2
                                              || ((int)ViewBag.status != 0 && !string.IsNullOrWhiteSpace(data.GUID.ToString()) && data.Match == 0)) {@:background-color:#cb7474
                                          }
                                         else if (data.Match == 1) {@:background-color:Green
                                         } else {@:background-color:#fff
                                         }">
                                 @*@if ((int)ViewBag.status != 0 && !string.IsNullOrWhiteSpace(data.GUID.ToString()))
                                 {
                                    @(data.MatchRate= (string.IsNullOrWhiteSpace(data.GUID.ToString())?0:data.ItemQty)-formQnt)*@
                                    @if (string.IsNullOrWhiteSpace(data.GUID.ToString()))
                                    {
                                       @(Convert.ToDouble(data.MatchRate = string.IsNullOrWhiteSpace(formQnt.ToString()) ? 0 : (formQnt * -1)))
                                    }
                                    else
                                    {
                                       @("+" + (Convert.ToDouble(data.MatchRate = (string.IsNullOrWhiteSpace(data.ItemQty.ToString()) ? 0 : data.ItemQty) - (string.IsNullOrWhiteSpace(formQnt.ToString()) ? 0 : formQnt))))
                                    }
                                 @*}*@

                                 @*total= Model.WrhsCtrl2.Ctrl2Matching.Where(c => c.NDC == ndc).GroupBy(c => c.NDC).Select(c => new { Total = (c.Sum(i => i.FormQty) - c.Sum(i => i.ItemQty)) }).Select(c=>c.Total).ToString();*@

                              </td>
                              <td exchange="GUID" exchange-value="@data.GUID" style="@if ((int)ViewBag.status == 0 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2 || (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0)) {@:background-color:#000;color:#000
                                  } else if (data.Match == 1) {@:background-color:Green
                                                         } else {@:background-color:#6499ce
                                                         } ">
                                 @data.GUID

                              </td>
                              <td exchange="ItemQty" exchange-value="@(Convert.ToDouble(data.ItemQty))" style="@if((int)ViewBag.status == 0 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2|| (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0)) {@:background-color:#000;color:#000
                                  } else if (data.Match == 1) {@:background-color:Green
                                                         } else {@:background-color:#6499ce
                                                         } ">
                                 <label id="lbl_@indx" style="@if (data.Condition != "Opened" || data.Match==4 || hideApproved) {@:display:inline-block
                                                                   } ">
                                    @if (data.ItemQty != 0)
                                    {
                                       @(Convert.ToDouble(data.ItemQty))
                                    }
                                 </label>
                                 <input id="txt_@indx" value="@(Convert.ToDouble(data.ItemQty))" title="@(Convert.ToDouble(data.ItemQty))" @if (data.Condition == "Opened") { @: required
                                        } style="@if (data.Condition != "Opened" || data.Match==4 || hideApproved) {@:display:none
                                                                   } " class="inputMatching ECS_NUMERIC" hidden @if (data.Condition != "Opened" || (guid.Trim() == data.GUID.ToString().Trim() && data.Match == 0)) { @: data-field-name="dd"
                                        } />
                              </td>
                              <td exchange="Condition" exchange-value="@data.Condition" style="@if((int)ViewBag.status == 0 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2 || (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0)) {@:background-color:#000 ;color:#000
                                  } else if (data.Match == 1) {@:background-color:Green
                                                         } else {@:background-color:#6499ce
                                                         } ">
                                 @data.Condition
                              </td>
                              <td exchange="Bin" exchange-value="@bin" style="@if ((int)ViewBag.status == 0 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2 || (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0)) {@:background-color:#000;color:#000
                                  } else if (data.Match == 1) {@:background-color:Green
                                                         } else {@:background-color:#6499ce
                                                         } ">
                                 @bin
                              </td>
                              <td exchange="Approve" @if (hideApproved)
                                                     { @:class="approved"
                                                     } style="@if((int)ViewBag.status == 0 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2 || (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0)) {@: background-color:#000 ;color:#000
                                  } else if (data.Match == 1) {@:background-color:Green
                                                         } else {@:background-color:#6499ce
                                                         } ">
                                 <input type="submit" name="@indx" value="Approve" class="btnErrorMessage ApprovedItem" style="@if ((int)ViewBag.status != 2 || string.IsNullOrWhiteSpace(data.GUID.ToString()) || data.Match==3 || data.Match==2 || (guid.Trim() == data.GUID.ToString().Trim() && data.Match==0) || data.Match==4 || hideApproved) {@: display:none
                                  } " />
                                 <div id="Pending_@indx" class="hidden"> <img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" /> Pending</div>
                                 <div id="Edited_@indx" class="hidden"> <img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" /> Edited</div>
                                 <div id="Approved_@indx" class="@if (data.Match != 4) {@: hidden
                                                                 }"><img src="~/images/SVG/BoxGreyCheckGreen.svg" style="width:25px" />Approved</div>
                              </td>
                              <td exchange="Matching" exchange-value="@data.Match" hidden>
                                 @if (guid.Trim() != data.GUID.ToString().Trim() && data.Match == 0)
                                 {
                                    guid = data.GUID.ToString();
                                 }
                              </td>
                           </tr>
                        }
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan="2" class="tdMessage">
                  <table>
                     <tr>
                        <td class="tdCaption" style="width: 100%;"></td>
                        <td style="height: 100%; text-align: right;"><input type="button" id="matchingContinue" class="btnErrorMessage buttonEx" style="width: 155px; height: 40px;" disabled="disabled" value="Finish C2 Matching" /></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </div>
      if (formComplete)
      {
      <script>
         //If we're processing an inner product, set the NDC into an attribute
         var formComplete = '@formComplete';
         $("#searchGrid_Matching").attr("formcomplete", formComplete);
      </script>
      }
   }
</div>