﻿<div class="formMax" style="display: block;">
   <table class="tableEx formEx">
      <tr>
         <td class="tdFiller tdPreview" style="text-align: center">
            <img id="imgCtrlNbr" class="formCtrlIcon" src="" alt="" />
         </td>
         <td>
            <table class="tableEx">
               <tr>
                  <td class="tdLabel" style="width:188px">Return Authorization Number</td>
                  <td>
                     <input id="RA" nextfocus="To" prevfocus="" class="inputEx  ECS_INTEGER" type="text" value="" maxlength="50" />
                  </td>
                  @*<td class="tdLabel">To</td>
                     <td>
                        <input id="To"  class="inputEx  ECS_ALPHANUMERIC" prevfocus="RA" nextfocus = "Address"  type="text" value="" maxlength="50" readonly />
                     </td>
                     <td class="tdLabel">Address</td>
                     <td>
                        <input id="Address"  class="inputEx " type="text" prevfocus="To" nextfocus="DebitMemo" value="" editable maxlength="64" readonly />
                     </td>*@
                  <td class="tdLabel" style="width:131px">Debit Memo Number</td>
                  <td >
                     <input id="DebitMemo" nextfocus="Date" prevfocus="Address" class="inputEx  ECS_ALPHANUMERIC" type="text" value="" maxlength="50" readonly />
                  </td>
               </tr>
               @*<tr>
                     <td class="tdLabel">Debit Memo</td>
                     <td class="tdLabel">Date</td>
                     <td>
                        <input id="Date" class="inputEx  ECS_ALPHANUMERIC" prevfocus="DebitMemo" nextfocus="CityState" type="text" value="" maxlength="50" readonly />
                     </td>
                     <td class="tdLabel">City & State</td>
                     <td>
                        <input id="CityState" class="inputEx " type="text" prevfocus="Date" nextfocus="DEA" value="" editable maxlength="64" readonly />
                     </td>
                  </tr>
                  <tr>
                     <td colspan="6">
                        <table>
                           <tr>
                              <td class="tdLabel" style="width:250px"> DEA Reg. Number (filled by supplier)</td>
                              <td colspan="5">
                                 <input id="DEA" type="text" class="inputEx" prevfocus="CityState" readonly />
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>*@
            </table>
         </td>
      </tr>
   </table>
</div>
