﻿@{
   ViewBag.Title = "Relation Controller Demo";
   ViewBag.PageClass = "QoskPage QoskApplet QoskForm QoskActionbar";
   Layout = "~/Views/Shared/_QoskLayout.cshtml";
}
@model Qualanex.QoskCloud.Web.Model.RelationControl
@Scripts.Render("~/bundles/qosk/detail")

<h2>Relation Control Demo</h2>
<h4>Row 2 demonstrates selection and delete errors<br />Recall Id cannot be left blank when adding or editing<br />If "lot b" is selected during add or update, the server will change several values</h4>
<input type="button" value="Edit" onclick="$('.relationControl').enableRelationEdit()" />
<input type="button" value="Read Only" onclick="$('.relationControl').disableRelationEdit()" />
<input type="button" value="Save All" onclick="$('.relationControl').saveAllRelationAddEdits()" />
@Html.Partial("_RelationControl", Model)
<script>
   function @(Model.Options.SelectMethod)(values) {
      var productId = getParameterByName("ProductId", values);
      if (productId === "2") {
         return { error: "You clicked product 2, don't do that. <br/> But since you did, the expiration date is " + getParameterByName("ExpirationDate", values) };
      } else {
         return true;
      }
   }
   function @(Model.Options.DeleteMethod)(values) {
      var productId = getParameterByName("ProductId", values);
      if (productId === "2") {
         return { error: "You can't delete product 2." };
      } else {
         return true;
      }
   }

   $(document).ready(function() {
      
      $(this).reOrderingRelationColumns(0,7,false);
      $(this).reOrderingRelationColumns(2,7,true);

   });
</script>